<h2 class="ala-dialog" style="" mat-dialog-title>
  {{ title }}
</h2>
<mat-dialog-content>
  <div style="display: flex; justify-content: center">
    <qrcode [qrdata]="qrURL" size="256" level="'M'"></qrcode>
  </div>
  <div style="width: 100%; text-align: center; margin: 15px 0px">
    <b>{{ shareName }}</b>
  </div>

  <div>
    <label style="margin-right: 10px">Link：</label>
    <input #qrUrl [value]="qrURL" style="width: calc(100% - 90px)" readonly />
    <button class="icon-btn" style="margin-left: 10px" (click)="copyInputMessage(qrUrl)">
      <i class="fa fa-clipboard" aria-hidden="true" style="font-size: 20px; color: #333"></i>
    </button>
  </div>
  <div *ngIf="debugUrl && debugUrl.length > 0">
    <label style="margin-right: 10px">Debug Link：</label>
    <input #debugURL [value]="debugUrl" style="width: calc(100% - 145px)" readonly />
    <button class="icon-btn" style="margin-left: 10px" (click)="copyInputMessage(debugURL)">
      <i class="fa fa-clipboard" aria-hidden="true" style="font-size: 20px; color: #333"></i>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-end">
  <button mat-button color="primary" *ngIf="confirmText" (click)="handleConfirm()">
    {{ confirmText }}
  </button>
  <button mat-button color="warn" *ngIf="cancelText" (click)="handleCancel()">
    {{ cancelText }}
  </button>
</mat-dialog-actions>
