<div class="flexCol childPageCard">
  <section
    class="flexRow"
    style="justify-content: flex-end"
    *ngIf="
      userSimpleInfo &&
      userSimpleInfo.accessRight <= groupInfo.groupLevel &&
      groupInfo.groupStatus !== 4 &&
      groupInfo.groupStatus !== 5 &&
      (groupInfo.groupStatus !== 6 ||
        (userSimpleInfo.accessRight < groupInfo.groupLevel && userSimpleInfo.accessRight < 30)) &&
      !groupInfo.expired &&
      +groupInfo.commerceStatus === 1
    "
  >
    <div class="flexRow" *ngIf="uiFlag.editMode !== 'edit'">
      <button
        class="analysisSwitchButton"
        [class.analysisSwitchButton--active]="uiFlag.pageType === 'normal'"
        (click)="changeContent('normal')"
      >
        {{ 'universal_group_easy' | translate }}
      </button>
      <button
        class="analysisSwitchButton"
        [class.analysisSwitchButton--active]="uiFlag.pageType === 'analysis'"
        (click)="changeContent('analysis')"
      >
        {{ 'universal_app_analyze' | translate }}
      </button>
    </div>
    <button
      [ngClass]="{
        childPageBtn: true,
        'childPageBtn--disabled': uiFlag.pageType === 'analysis',
        editModeBtn: uiFlag.editMode === 'edit',
        btnLoadingStatus: uiFlag.isLoading
      }"
      (click)="handleEdit()"
    >
      <span *ngIf="uiFlag.editMode === 'complete'">{{
        'universal_operating_edit' | translate
      }}</span>
      <span *ngIf="uiFlag.editMode === 'edit'">{{
        'universal_operating_finishEdit' | translate
      }}</span>
    </button>
  </section>
  <ng-container *ngIf="uiFlag.pageType === 'normal'">
    <section class="architectureSection">
      <span class="contentSubtitle">{{ 'universal_group_generalMember' | translate }}</span>
      <div
        class="flexRow"
        style="flex-wrap: wrap"
        *ngIf="normalMemberList.length > 0 && groupInfo.brandType; else noData"
      >
        <div
          class="groupListContent"
          *ngFor="let _normalMem of normalMemberList; let _index = index"
        >
          <ng-container *ngIf="_index <= 7 || uiFlag.seeMoreMember">
            <app-member-capsule
              [isNormalMemberInfo]="true"
              [title]="_normalMem.memberName"
              [memberInfo]="_normalMem"
              [name]="_normalMem.memberName"
              [icon]="_normalMem.memberIcon"
              [userId]="_normalMem.memberId"
              [brandType]="groupInfo.brandType"
              [isHadMenu]="
                uiFlag.editMode === 'edit' && userSimpleInfo.accessRight <= groupInfo.groupLevel
              "
              [groupId]="groupInfo.groupId"
              [groupLevel]="groupInfo.groupLevel"
              [coachType]="groupInfo.coachType"
              (assignAdmin)="handleAssignAdmin($event)"
              (removeAdmin)="handleWaittingMemberInfo($event)"
            >
            </app-member-capsule>
          </ng-container>
        </div>
      </div>
      <div class="see__more__member" *ngIf="normalMemberList.length > 7 && !uiFlag.seeMoreMember">
        <span (click)="seeMore('Member')">{{ 'universal_operating_more' | translate }}</span>
      </div>
    </section>
    <section class="architectureSection">
      <span class="contentSubtitle">{{ 'universal_group_pendingMember' | translate }}</span>
      <div
        class="flexRow"
        style="flex-wrap: wrap"
        *ngIf="waitMemberList.length > 0 && groupInfo.brandType; else noData"
      >
        <div class="groupListContent" *ngFor="let _waitMem of waitMemberList; let _idx = index">
          <ng-container *ngIf="_idx <= 7 || uiFlag.seeMoreWaitMember">
            <app-member-capsule
              [isWaittingMemberInfo]="true"
              [title]="_waitMem.memberName"
              [memberInfo]="item"
              [name]="_waitMem.memberName"
              [icon]="_waitMem.memberIcon"
              [userId]="_waitMem.memberId"
              [brandType]="groupInfo.brandType"
              [isHadMenu]="
                uiFlag.editMode === 'edit' && userSimpleInfo.accessRight <= groupInfo.groupLevel
              "
              [groupId]="groupInfo.groupId"
              [groupLevel]="groupInfo.groupLevel"
              (waittingMemberInfoChange)="handleWaittingMemberInfo($event)"
            >
            </app-member-capsule>
          </ng-container>
        </div>
      </div>
      <div class="see__more__member" *ngIf="waitMemberList.length > 7 && !uiFlag.seeMoreWaitMember">
        <span (click)="seeMore('WaitMember')">{{ 'universal_operating_more' | translate }}</span>
      </div>
    </section>
    <ng-template #noData>
      <div style="margin: 5px 5px 5px 10px">{{ 'universal_status_noData' | translate }}</div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="uiFlag.pageType === 'analysis'">
    <app-member-analysis-list
      [post]="{
        token: userSimpleInfo.token,
        groupId: groupInfo.groupId,
        groupLevel,
        type: 2
      }"
      [groupList]="groupArchitecture"
    ></app-member-analysis-list>
  </ng-container>
</div>
