::ng-deep .day.mat-grid-tile:active,
::ng-deep .day.mat-grid-tile:focus {
  border: 1px dotted;
}

::ng-deep .day.mat-grid-tile:hover {
  cursor: pointer;
}
::ng-deep .mat-grid-tile .mat-figure {
  flex-wrap: wrap;
}

::ng-deep .day.calendar_icon.mat-grid-tile {
  border: 1px solid #ccc;
}

::ng-deep .day.calendar_icon.mat-grid-tile.isSelected {
  border: 4px dashed #ccc;
}

