@import 'overflow-scroll.scss';
@import 'z-index.scss';
@import 'transform.scss';

$dialog-border-radius: 10px;

.open__btn {
  padding: 0;
  margin: 0;
}

.tip__icon {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

.tip__dialog {
  $shadow-color: rgba(0, 0, 0, 0.15);
  $shadow-size: 2px;
  $blur: 20px;
  align-items: center;
  position: fixed;
  width: 80vw;
  max-width: 800px;
  left: 50%;
  top: 50%;
  background-color: white;
  z-index: $float-tips;
  border-radius: $dialog-border-radius;
  box-shadow: $shadow-size $shadow-size $blur $shadow-color,
    (-$shadow-size) $shadow-size $blur $shadow-color,
    $shadow-size (-$shadow-size) $blur $shadow-color,
    (-$shadow-size) (-$shadow-size) $blur $shadow-color;
  @include el-transform(translate(-50%, -50%));
}

.dialog__title {
  text-align: center;
  background-color: rgba(255, 250, 155, 1);
  width: 100%;
  padding: 0.5rem 0;
  border-radius: $dialog-border-radius $dialog-border-radius 0 0;
}

.dialog__content {
  padding: 3rem;
  width: 100%;
  max-height: 60vh;
  word-break: break-word;
  @include overflow-y-scroll();
}

.dialog__close__btn {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
  padding: 5px 40px;

  &:hover {
    background-color: rgba(100, 100, 100, 0.1);
  }
}

.description__title {
  font-weight: bold;
  color: rgba(0, 126, 255, 1);
}
