<div>
  <div class="d-flex justify-content-between" style="margin-bottom: 15px">
    <span class="user-profile-title"
      *ngIf="isPortal"
    >
      {{userName}}{{'Portal.s-activity' | translate}}
    </span>
    <span style="color: #157fcc; font-weight:700"
      *ngIf="!isPortal"
    >
      {{'Dashboard.MyActivity.MyActivity' | translate}}
    </span>
    <div class="group-edit-bar">
      <button class="alatech-btn alatech-btn--default activty-btn"
        title="{{'Dashboard.MyActivity.Search' | translate}}"
        (click)="search()"
      >
        {{'Dashboard.MyActivity.Search' | translate}}
      </button>
    </div>
  </div>
  <mat-form-field style="max-width: 100px;margin-right: 35px;">
    <mat-select [(value)]="sportType" placeholder="{{ 'SH.All' | translate }}">
      <mat-option value="99">{{ "SH.All" | translate}}</mat-option>
      <mat-option value="1">{{ "Dashboard.SportReport.Run" | translate}}</mat-option>
      <mat-option value="2">{{ "Dashboard.SportReport.Cycle" | translate}}</mat-option>
      <mat-option value="3">{{ "Dashboard.SportReport.WeightTraining" | translate}}</mat-option>
      <mat-option value="4">{{ "Dashboard.SportReport.Swim" | translate}}</mat-option>
      <mat-option value="5">{{ "Dashboard.SportReport.Aerobic" | translate}}</mat-option>
      <mat-option value="6">{{ "Dashboard.SportReport.Rowing" | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-right: 35px;">
    <input matInput placeholder="{{ 'SH.Keyword' | translate}}"
      [(ngModel)]="searchWords"
      name="searchWords"
    >
  </mat-form-field>
  <mat-form-field style="min-width: 160px;margin-right: 35px;">
    <input matInput [matDatepicker]="picker"
      placeholder="{{'SH.ScopeDate' | translate}}"
      (dateChange)="handleDateChange($event, true)"
      [(ngModel)]="filterStartTime"
      [max]="filterEndTime"
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year"></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="min-width: 160px;margin-right: 50px;">
    <input matInput [matDatepicker]="picker2"
      placeholder="{{'SH.ScopeDate' | translate}}"
      (dateChange)="handleDateChange($event, false)"
      [(ngModel)]="filterEndTime"
      [min]="filterStartTime"
    >
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 startView="year" [startAt]="filterEndTime"></mat-datepicker>
  </mat-form-field>
  <!-- <button class="icon-btn"
    type="button"
    style="margin-right: 10px"
    (click)="search()"
  >
    <i class="material-icons">
      search
    </i>
  </button> -->
  <button class="alatech-btn alatech-btn--default alatech-btn--size-icon"
    (click)="reset()"
  >
    Reset
  </button>
  <mat-table [dataSource]="logSource"
    matSort #sortTable="matSort"
  (matSortChange)="changeSort($event)"
  >
    <ng-container matColumnDef="typeIcon">
      <mat-header-cell *matHeaderCellDef disableClear="true">
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <i *ngIf=" row.activityInfoLayer.type === '1'"
          class="icon-svg_web-icon_p1_083-run ala-activity-icon"
        ></i>
        <i *ngIf=" row.activityInfoLayer.type === '2'"
          class="icon-svg_web-icon_p1_084-cycle ala-activity-icon"
        ></i>
        <i *ngIf=" row.activityInfoLayer.type === '3'"
          class="icon-svg_web-icon_p1_086-weight_training ala-activity-icon"
        ></i>
        <i *ngIf=" row.activityInfoLayer.type === '4'"
          class="icon-svg_web-icon_p1_085-swim ala-activity-icon"
        ></i>
        <i *ngIf=" row.activityInfoLayer.type === '5'"
          class="icon-svg_web-icon_p1_087-aerobic ala-activity-icon"
        ></i>
        <i *ngIf=" row.activityInfoLayer.type === '6'"
          class="icon-svg_web-icon_p1_088-row ala-activity-icon"
        ></i>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        <!-- 運動類別 -->
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{  row.fileInfo && row.fileInfo?.dispName || ' -- ' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>
        <!-- 日期 -->
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div>
          <div>
            {{ row.activityInfoLayer && row.activityInfoLayer?.startTime | sportDate: 'date' || ' -- ' }}
          </div>
          <div style="color: #999;font-size: 12px">
            {{ row.activityInfoLayer && row.activityInfoLayer?.startTime | sportDate: 'time' || ' -- ' }}
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        <!-- 消耗時間 -->
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div>
          <div>{{ (row.activityInfoLayer && row.activityInfoLayer?.totalSecond | sportTime) || ' -- ' }}</div>
          <div><span style="color: #999;font-size:12px">{{'Dashboard.MyActivity.Time' | translate}}</span></div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bpm">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        <!-- 平均心率 -->
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.activityInfoLayer && row.activityInfoLayer?.avgHeartRateBpm || ' -- ' }}
        <span style="color: #919191">bpm</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="speed">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        <!-- 平均配速 -->
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div>
          <!-- <div> -->
            <span *ngIf=" row.activityInfoLayer.type !== '5' && row.activityInfoLayer.type !== '3'">
              {{ (row.activityInfoLayer && row.activityInfoLayer?.avgSpeed | sportPace: row.activityInfoLayer.type) || ' -- ' }}
              <span
                *ngIf=" row.activityInfoLayer.type === '1'"
              >
                hr/1km
              </span>
              <span
                *ngIf=" row.activityInfoLayer.type === '4'"
              >
                hr/100m
              </span>
              <span
                *ngIf=" row.activityInfoLayer.type === '6'"
              >
                hr/500m
              </span>
              <span
                *ngIf=" row.activityInfoLayer.type === '2'"
              >
                km/hr
              </span>
            </span>
            <span *ngIf=" row.activityInfoLayer.type === '5'">
              {{ row.activityInfoLayer && row.activityInfoLayer?.maxHeartRateBpm || ' -- ' }}bpm
            </span>
            <span *ngIf=" row.activityInfoLayer.type === '3'">
              {{ row.activityInfoLayer && row.activityInfoLayer?.totalReps || ' -- ' }}
            </span>
          <!-- </div> -->
          <div>
            <span style="color: #919191;font-size: 12px"
              *ngIf=" row.activityInfoLayer.type === '1'"
            >
              {{ 'SH.AvgPace' | translate}}
            </span>
            <span style="color: #919191;font-size: 12px"
              *ngIf=" row.activityInfoLayer.type === '4'"
            >
              {{ 'SH.AvgPace' | translate}}
            </span>
            <span style="color: #919191;font-size: 12px"
              *ngIf=" row.activityInfoLayer.type === '6'"
            >
              {{ 'SH.AvgPace' | translate}}
            </span>
            <span style="color: #919191;font-size: 12px"
              *ngIf=" row.activityInfoLayer.type === '2'"
            >
               {{ 'SH.AvgSpeed' | translate}}
            </span>
            <span style="color: #919191;font-size: 12px"
              *ngIf=" row.activityInfoLayer.type === '5'"
            >
              {{ 'SH.MaxHR' | translate}}
            </span>
            <span style="color: #919191;font-size: 12px"
              *ngIf=" row.activityInfoLayer.type === '3'"
            >
              {{ 'SH.TotalReps' | translate}}
            </span>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="calories">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        <!-- 卡路里 -->
      </mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        <!-- 總距離 -->
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf=" row.activityInfoLayer.type !== '5' && row.activityInfoLayer.type !== '3'">
          <div >
            {{ row.activityInfoLayer && row.activityInfoLayer?.totalDistanceMeters / 1000 || ' -- ' }}km
          </div>
          <div>
            <span style="color: #999;font-size:12px">{{'SH.TotalDisTance' | translate}}</span>
          </div>
        </div>
        <div *ngIf=" row.activityInfoLayer.type === '5'">
          <div >
            {{ row.activityInfoLayer && row.activityInfoLayer?.calories || ' -- ' }}cal
          </div>
          <div>
            <span style="color: #999;font-size:12px">{{'SH.Calorie' | translate}}</span>
          </div>
        </div>
        <div *ngIf=" row.activityInfoLayer.type === '3'">
          <div >
            {{ row.activityInfoLayer && row.activityInfoLayer?.totalWeightKg || ' -- ' }}kg
          </div>
          <div>
            <span style="color: #999;font-size:12px">{{'SH.TotalWeight' | translate}}</span>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="['typeIcon','type', 'date' ,'time','distance', 'speed']"
    >
    </mat-header-row>
    <mat-row
      *matRowDef="let logRow; columns: ['typeIcon', 'type', 'date' ,'time','distance', 'speed']"
      (click)="goDetail(logRow.fileInfo.fileId)"
    >
    </mat-row>
  </mat-table>
  <div *ngIf="isEmpty" style="text-align: center;padding: 30px">
    {{'SH.No-information' | translate}}
  </div>
  <div class="ala-loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-paginator #paginator
    [length]="totalCount"
    [pageIndex]="currentPage?.pageIndex"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15]"
  >
  </mat-paginator>
</div>
