.mat-row:hover {
  cursor: pointer;
  background-color: #eee;
}

/*之後要跟my activity 做共用*/

.activty-btn {
  width: 140px;
  height: 38px;
}
.mat-column-typeIcon {
  max-width: 80px;
}
.ala-activity-icon {
  font-size: 20px;
}
.user-profile-title {
  color: #26abe3;
  font-weight: 700;
  font-size: 19px;
}
@media (max-width: 479px) {
  .mat-column-typeIcon {
    max-width: 30px;
  }
  mat-cell:first-of-type {
    padding-left: 0px;
  }
  .mat-cell {
    font-size: 12px;
    padding: 5px;
  }
}
