.posture__info {
  width: 60%;
  margin-right: 10px;
}

.posture__trend {
  width: 40%;
}

/************************************** media **************************************/

@media (max-width: 991px) {
  .posture__info,
  .posture__trend {
    width: 100%;
  }
}
