<h3>{{'universal_vocabulary_accountInformation' | translate}}</h3>
<label class="ala-form__label settings-label">
  {{'universal_userProfile_basicInformation' | translate}}
</label>
<div class="ala-list__item">
  <label class="ala-form__label settings-item">
    {{'universal_userAccount_account' | translate}}
  </label>
  <div class="flexRow settings-control">
    <span style="color:#919191">
      {{userData?.account}}
    </span>
    <span *ngIf="enableAccount">
      (<a href="/enableAccount-web" style="color:#26abe3">
        {{ 'universal_deviceSetting_switch' | translate }} {{'universal_userAccount_account' | translate}}
      </a>)
    </span>
  </div>
</div>
<div class="ala-list__item">
  <label class="ala-form__label settings-item">{{'universal_userAccount_password' | translate}}</label>
  <div class="settings-control">
    <span style="color:#cb5e5e;text-decoration: underline; cursor: pointer;" (click)="navigateToEditPwd()">
      {{'universal_userProfile_changePassword' | translate}}
    </span>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label">
  {{'universal_deviceSetting_application' | translate}}
</label>
<div class="ala-list__item">
  <label class="ala-form__label settings-item">
    {{'universal_userProfile_thirdPartyUsage' | translate}}
  </label>
  <div class="settings-control">
    <span style="color:#26abe3">
      Strava
    </span>
    <mat-slide-toggle [(ngModel)]="stravaStatus"
      (change)="handleStravaStatus($event)"
    >
    </mat-slide-toggle>
  </div>
</div>
