<h3>帳號資訊</h3>
<label class="ala-form__label settings-label">基本資訊</label>
<div class="ala-list__item">
  <label class="ala-form__label settings-item">帳號</label>
  <div class="settings-control">
    <span style="color:#919191">
      roy_lee@alatech.com.tw
    </span>
  </div>
</div>
<div class="ala-list__item">
  <label class="ala-form__label settings-item">密碼</label>
  <div class="settings-control">
    <span style="color:#cb5e5e;text-decoration: underline">
      變更密碼
    </span>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label">應用程式</label>
<div class="ala-list__item">
  <label class="ala-form__label settings-item">第三方互動</label>
  <div class="settings-control">
    <span style="color:#26abe3">
      Strava
    </span>
    <mat-slide-toggle>
    </mat-slide-toggle>
  </div>
</div>
