.gotop--show {
  line-height: 0px;
  position: fixed;
  left: 85%;
  bottom: 75px;
  display: inline-block;
  cursor: pointer;
  color: #157fcc;
  font-size: 14px;
  font-weight: 700;
}

.gotop--show:hover {
  opacity: 0.6;
}

.gotop--hidden {
  display: none;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-header-cell.mat-column-equipment_sn {
  flex: 1 1 20%;
}

.mat-cell.mat-column-equipment_sn {
  flex: 1 1 20%;
}

.mat-header-cell.mat-column-time {
  flex: 1 1 20%;
}

.mat-cell.mat-column-time {
  flex: 1 1 20%;
}

.mat-header-cell.mat-column-message {
  flex: 1 1 60%;
}

.mat-cell.mat-column-message {
  flex: 1 1 60%;
}
