@import 'font.scss';
@import 'color.scss';
@import 'transition.scss';
@import 'transform.scss';
@import 'drop-triangle.scss';
@import 'rod-bar.scss';
@import 'z-index.scss';

$input-border-color: rgba(120, 120, 120, 1);
$group-btn-blue: rgba(0, 183, 238, 1);
$rod-track-width: 28px;

.info__section {
  margin: 0 10px 20px 10px;
}

.group__layer__section {
  margin: 5px 0px;
}

.info__row {
  margin-left: 15px;
  color: var(--scale-0-255);
}

.status__selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  cursor: pointer;
  border: 1px solid $input-border-color;
  width: 200px;

  &:after {
    content: '';
    display: inline-block;
    width: 12px;
    position: relative;
    left: 5px;
    border-style: solid;
    border-width: 8px 6px 0px 6px;
    border-color: $input-border-color transparent transparent transparent;
    @include transition(transform);
  }
}

.status__selector__active {
  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }
}

#status__selector__list {
  position: absolute;
  z-index: $drop-menu;
  top: 24px;
  left: -1px;
  width: 200px;
  background-color: var(--scale-255-0);
  border: 1px solid $input-border-color;

  & span {
    color: var(--scale-0-255);
    @include transition(background-color);

    &:hover {
      color: white;
      background-color: $group-btn-blue;
      @include transition(background-color);
    }
  }
}

.create__brand__input {
  width: 200px;
}

.btnLoadingStatus {
  pointer-events: none;
}

.drop__list {
  border-bottom: 1px solid black;
  cursor: pointer;
  margin-bottom: 5px;
}

.unfold__icon {
  display: inline-block;
  font-size: 20px;
  @include transition(transform);
}

.fold__icon {
  @include drop-active();
}

.target__inherit {
  position: relative;
  margin: 5px 0;
}

.setting__drop__list {
  $shadow: 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: $drop-menu;
  background-color: white;
  cursor: pointer;
  list-style: none;
  padding: 5px;
  margin: 0;
  box-shadow: 2px 2px $shadow, -2px 2px $shadow, 2px -2px $shadow, -2px -2px $shadow;
  min-width: 100px;
}

.condition__list {
  padding: 0;
}

.condition__list__item {
  align-items: center;
  margin: 5px 0;
}

.delete__condition__button {
  $size: 14px;
  cursor: pointer;
  background-color: rgb(250 107 107);
  border-radius: 50%;
  width: $size;
  max-width: $size;
  height: $size;
  min-height: $size;
  color: white;
  margin-right: 5px;
  padding: 0 5px;
}

.filed__name {
  margin: 0 0 60px 20px;
}

.list__item {
  padding: 0 5px;

  &:hover {
    color: white;
    background-color: $primary-blue;
  }
}

.target__card__section {
  flex-wrap: wrap;
}

.target__description {
  font-size: 12px;
  color: rgba(120, 120, 120, 1);
  line-height: 2;
}

.advanced__target__option {
  align-items: center;
}

/************************************** media ******************************/

@media (max-width: 767px) {
  .benefit__time__setting {
    flex-direction: column;
  }

  .benefit__time__value {
    margin-left: 20px;
  }
}

@media (max-width: 500px) {
  .group__layer__section {
    flex-direction: column;
  }

  .info__row {
    text-align: end;
  }
}
