<div class="flexCol cardContent">
  <section
    class="flexRow"
    style="justify-content: flex-end; margin: 10px"
    *ngIf="
      userSimpleInfo &&
      (userSimpleInfo.accessRight <= editBody.groupLevel || uiFlag.editMode === 'create') &&
      groupDetail.groupStatus !== 4 &&
      groupDetail.groupStatus !== 5 &&
      (groupDetail.groupStatus !== 6 ||
        (userSimpleInfo.accessRight < editBody.groupLevel && userSimpleInfo.accessRight < 50)) &&
      !groupDetail?.expired &&
      groupDetail?.commerceStatus === 1
    "
  >
    <button
      class="childPageBtn"
      (click)="closeEditMode('close')"
      *ngIf="uiFlag.editMode !== 'close'"
    >
      <span>{{ 'universal_operating_cancel' | translate }}</span>
    </button>
    <button
      class="childPageBtn"
      [class.editModeBtn]="uiFlag.editMode !== 'close'"
      [class.btnLoadingStatus]="uiFlag.isLoading"
      (click)="handleEdit()"
    >
      <span *ngIf="uiFlag.editMode === 'close'">{{ 'universal_operating_edit' | translate }}</span>
      <span *ngIf="uiFlag.editMode !== 'close'">{{
        'universal_operating_finishEdit' | translate
      }}</span>
    </button>
  </section>
  <section class="flexCol info__section">
    <h6 class="info-contentTitle">{{ 'universal_group_group' | translate }}</h6>
    <div class="flexCol info-contentText">
      <div
        class="flexRow group__layer__section"
        *ngIf="uiFlag.editMode !== 'create' || createBody.levelType > 3"
      >
        <span class="info-itemTitle" *ngIf="groupDetail">
          {{ 30 | groupLevelTranslate: groupDetail.brandType | translate }} :
        </span>
        <span
          style="cursor: pointer"
          class="info__row"
          (click)="navigateParentsGroup(groupDetail.groupRootInfo[2].brandGroupId)"
          *ngIf="
            groupDetail && groupDetail.groupRootInfo && groupDetail.groupRootInfo.length >= 3;
            else currentGroupName
          "
        >
          {{ groupDetail.groupRootInfo[2].brandName }}
        </span>
      </div>
      <div
        class="flexRow group__layer__section"
        *ngIf="groupDetail && groupDetail.groupRootInfo && groupDetail.groupRootInfo.length >= 3"
      >
        <span class="info-itemTitle">
          {{ 40 | groupLevelTranslate: groupDetail.brandType | translate }} :
        </span>
        <span
          style="cursor: pointer"
          class="info__row"
          (click)="navigateParentsGroup(groupDetail.groupRootInfo[3].branchGroupId)"
          *ngIf="
            groupDetail && groupDetail.groupRootInfo && groupDetail.groupRootInfo.length >= 4;
            else currentGroupName
          "
        >
          {{ groupDetail.groupRootInfo[3].branchName }}
        </span>
      </div>
      <div
        class="flexRow group__layer__section"
        *ngIf="groupDetail && groupDetail.groupRootInfo && groupDetail.groupRootInfo.length >= 4"
      >
        <span class="info-itemTitle">
          {{ 60 | groupLevelTranslate: groupDetail.brandType | translate }} :
        </span>
        <span class="info__row" *ngTemplateOutlet="currentGroupName"></span>
      </div>
      <div class="flexRow group__layer__section" *ngIf="uiFlag.editMode === 'create'">
        <span class="info-itemTitle">
          {{ uiFlag.createLevel | groupLevelTranslate: groupDetail.brandType | translate }} :
        </span>
        <input
          class="info__row"
          [style.border-color]="formCheck.name !== false ? 'rgba(120, 120, 120, 1)' : 'red'"
          placeholder="{{ i18n.enterName }}"
          maxlength="32"
          [value]="createBody.levelName"
          (focusout)="saveGroupName($event)"
          (change)="saveGroupName($event)"
        />
        <span style="color: red" *ngIf="formCheck.name === false">
          {{ 'universal_status_wrongFormat' | translate }}
        </span>
      </div>
    </div>
  </section>
  <section class="flexCol info__section">
    <h6 class="info-contentTitle">{{ 'universal_group_status' | translate }}</h6>
    <span class="info-contentText" *ngIf="uiFlag.editMode === 'close'">
      {{ groupDetail?.groupStatus | groupStatus | translate }}
      <span
        style="color: red"
        *ngIf="groupDetail && (groupDetail.expired || groupDetail.commerceStatus !== 1)"
      >
        ({{ 'universal_group_outOfService' | translate }})
      </span>
    </span>
    <div
      class="flexCol info-contentText status__selector"
      [class.status__selector__active]="uiFlag.openStatusSelector"
      style="position: relative"
      *ngIf="uiFlag.editMode !== 'close'"
      (click)="toggleStatusSelector($event)"
    >
      <span *ngIf="uiFlag.editMode === 'edit'">{{
        editBody.changeStatus | groupStatus | translate
      }}</span>
      <span *ngIf="uiFlag.editMode === 'create'">{{
        createBody.groupStatus | groupStatus | translate
      }}</span>
      <div id="status__selector__list" class="flexCol" *ngIf="uiFlag.openStatusSelector">
        <span (click)="saveGroupStatus($event, 1)">{{
          'universal_group_freeToJoin' | translate
        }}</span>
        <span (click)="saveGroupStatus($event, 2)">{{
          'universal_group_auditSystem' | translate
        }}</span>
        <span (click)="saveGroupStatus($event, 3)">{{
          'universal_operating_hide' | translate
        }}</span>
        <span
          (click)="saveGroupStatus($event, 6)"
          *ngIf="
            uiFlag.editMode === 'edit' &&
            editBody.groupLevel > 30 &&
            userSimpleInfo.accessRight < editBody.groupLevel &&
            userSimpleInfo.accessRight < 50
          "
          >{{ 'universal_status_disable' | translate }}</span
        >
      </div>
    </div>
  </section>
  <section class="flexCol info__section">
    <h6 class="info-contentTitle">{{ 'universal_group_introduction' | translate }}</h6>
    <span
      class="info-contentText"
      [innerHTML]="groupDetail.groupDesc | lineBreak"
      *ngIf="groupDetail && uiFlag.editMode === 'close'"
    ></span>
    <textarea
      style="min-height: 300px; padding: 0 2px; resize: none"
      [style.border-color]="formCheck.desc !== false ? 'initial' : 'red'"
      class="info-contentText"
      placeholder="{{ i18n.enterDesc }}"
      maxlength="500"
      [value]="uiFlag.editMode === 'create' ? createBody.levelDesc : editBody.groupDesc"
      (focusout)="saveGroupDesc($event)"
      (change)="saveGroupDesc($event)"
      *ngIf="uiFlag.editMode !== 'close'"
    >
    </textarea>
  </section>
  <section class="flexCol info__section" *ngIf="uiFlag.editMode === 'close' && userSimpleInfo">
    <h6 class="info-contentTitle">{{ 'universal_group_groupInfo' | translate }}</h6>
    <span class="info-contentText" *ngIf="editBody.groupLevel <= 30">
      <ng-container *ngIf="groupDetail.brandType === 1">
        {{ 'universal_group_numberOfBranches' | translate }}
      </ng-container>
      <ng-container *ngIf="groupDetail.brandType === 2">
        {{ 'universal_group_companyBranch' | translate }}
      </ng-container>
      ：{{ groupDetail?.branchNum }}
    </span>
    <span class="info-contentText" *ngIf="editBody.groupLevel <= 40">
      <ng-container *ngIf="groupDetail.brandType === 1">
        {{ 'universal_group_numberOfClass' | translate }}
      </ng-container>
      <ng-container *ngIf="groupDetail.brandType === 2">
        {{ 'universal_group_department' | translate }}
      </ng-container>
      ：{{ groupDetail?.coachNum }}
    </span>
    <span class="info-contentText">
      {{ 'universal_group_numberOfAdministrators' | translate }}：{{ groupDetail?.adminNum }}
    </span>
    <span class="info-contentText">
      {{ 'universal_group_generalMember' | translate }}：{{ groupDetail?.memberNum }}
    </span>
  </section>
  <section
    class="flexCol info__section"
    *ngIf="
      groupDetail &&
      groupDetail.brandType === 1 &&
      editBody.groupLevel === 60 &&
      uiFlag.editMode === 'edit'
    "
  >
    <h6 class="info-contentTitle">{{ 'universal_live_liveLink' | translate }}</h6>
    <input
      class="info-contentText"
      [value]="editBody.groupVideoUrl"
      (change)="saveVedioUrl($event)"
    />
  </section>
  <section
    class="flexCol info__section"
    *ngIf="groupDetail?.customField && uiFlag.editMode !== 'create'"
  >
    <h6 class="info-contentTitle">
      {{ 'universal_system_reportSetting' | translate }}
    </h6>
    <div class="flexRow info-contentText benefit__time__setting">
      <span> {{ 'universal_activityData_benefitime' | translate }}： </span>
      <div class="benefit__time__value" (click)="toggleBenefitTimeList($event)">
        <div class="flexRow">
          <span [class.drop__list]="uiFlag.editMode !== 'close'">
            <ng-container *ngIf="uiFlag.editMode === 'close'">
              {{ groupDetail.customField.activityTimeHRZ | referenceHrZone | translate }}
            </ng-container>
            <ng-container *ngIf="uiFlag.editMode !== 'close' && uiFlag.editMode !== 'create'">
              {{ editBody.customField.activityTimeHRZ | referenceHrZone | translate }}
            </ng-container>
            <i
              class="icon-svg_web-icon_p1_006-unfold unfold__icon"
              [class.fold__icon]="uiFlag.showBenefitTimeList"
              *ngIf="uiFlag.editMode !== 'close'"
            ></i>
          </span>
          <app-feature-noun-tips [tipsType]="'benefitTime'"></app-feature-noun-tips>
        </div>
        <ul class="setting__drop__list" *ngIf="uiFlag.showBenefitTimeList">
          <li class="list__item" (click)="changeBenefitTimeStartZone(BenefitTimeStartZone.zone1)">
            {{ BenefitTimeStartZone.zone1 | referenceHrZone | translate }}
          </li>
          <li class="list__item" (click)="changeBenefitTimeStartZone(BenefitTimeStartZone.zone2)">
            {{ BenefitTimeStartZone.zone2 | referenceHrZone | translate }}
          </li>
          <li class="list__item" (click)="changeBenefitTimeStartZone(BenefitTimeStartZone.zone3)">
            {{ BenefitTimeStartZone.zone3 | referenceHrZone | translate }}
          </li>
          <li class="list__item" (click)="changeBenefitTimeStartZone(BenefitTimeStartZone.zone4)">
            {{ BenefitTimeStartZone.zone4 | referenceHrZone | translate }}
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="flexCol info__section" *ngIf="groupDetail && uiFlag.editMode !== 'create'">
    <h6 class="flexRow info-contentTitle">
      {{ 'universal_lifeTracking_target' | translate }}
      <span class="target__description">
        ({{ 'universal_activityData_perCapita' | translate }})
      </span>
      <app-feature-noun-tips [tipsType]="'sportsTarget'"></app-feature-noun-tips>
    </h6>
    <div class="flexCol info-contentText">
      <div
        class="target__inherit"
        *ngIf="
          (uiFlag.editMode === 'edit' && editBody.groupLevel > GroupLevel.brand) ||
          (uiFlag.editMode === 'create' && uiFlag.createLevel > GroupLevel.brand)
        "
      >
        <span class="drop__list" (click)="toggleInheritList($event)">
          <ng-container
            *ngIf="
              +sportsTarget.reference !==
              (uiFlag.editMode === 'create' ? +uiFlag.createLevel : +editBody.groupLevel)
            "
          >
            {{
              targetInheritList[+sportsTarget.reference === +GroupLevel.branch ? 1 : 0].groupName
            }}
          </ng-container>
          <ng-container
            *ngIf="
              +sportsTarget.reference ===
              (uiFlag.editMode === 'create' ? +uiFlag.createLevel : +editBody.groupLevel)
            "
          >
            {{ 'universal_system_custom' | translate }}
          </ng-container>
          <i
            class="icon-svg_web-icon_p1_006-unfold unfold__icon"
            [class.fold__icon]="uiFlag.showInheritList"
          ></i>
        </span>
        <ul class="setting__drop__list" *ngIf="uiFlag.showInheritList">
          <li
            class="list__item"
            (click)="setTargetReference(_list.level)"
            *ngFor="let _list of targetInheritList"
          >
            {{ _list.groupName }}
          </li>
          <li class="list__item" (click)="setTargetReference(editBody.groupLevel)">
            {{ 'universal_system_custom' | translate }}
          </li>
        </ul>
      </div>
      <div class="flexRow target__card__section" *ngIf="sportsTarget">
        <app-sport-target-setting
          [cycle]="DateUnit.day"
          [condition]="cycleCondition.day"
          [isEditMode]="uiFlag.editMode !== 'close'"
          (changeCondition)="changeCondition($event, DateUnit.day)"
        ></app-sport-target-setting>
        <app-sport-target-setting
          [cycle]="DateUnit.week"
          [condition]="cycleCondition.week"
          [isEditMode]="uiFlag.editMode !== 'close'"
          (changeCondition)="changeCondition($event, DateUnit.week)"
        ></app-sport-target-setting>
        <app-sport-target-setting
          [cycle]="DateUnit.month"
          [condition]="cycleCondition.month"
          [isEditMode]="uiFlag.editMode !== 'close'"
          (changeCondition)="changeCondition($event, DateUnit.month)"
        ></app-sport-target-setting>
        <app-sport-target-setting
          [cycle]="DateUnit.season"
          [condition]="cycleCondition.season"
          [isEditMode]="uiFlag.editMode !== 'close'"
          (changeCondition)="changeCondition($event, DateUnit.season)"
        ></app-sport-target-setting>
        <app-sport-target-setting
          [cycle]="DateUnit.year"
          [condition]="cycleCondition.year"
          [isEditMode]="uiFlag.editMode !== 'close'"
          (changeCondition)="changeCondition($event, DateUnit.year)"
        ></app-sport-target-setting>
      </div>
    </div>
  </section>
  <section class="info__section" *ngIf="uiFlag.editMode === 'create'">
    <div class="ala-list__item" style="margin-top: 20px">
      <h6 class="info-contentTitle">{{ 'universal_group_assignAdmin' | translate }}：</h6>
      <div class="ala-form__col assign-admin">
        <button class="icon-btn" (click)="openSelectorWin(createBody.levelType, $event)">
          <i class="icon-svg_web-icon_p1_021-add_friend group-icon"></i>
        </button>
        <div class="warnText" *ngIf="chooseLabels.length === 0">
          {{ 'universal_group_addAdministrator' | translate }}
        </div>
        <div style="margin-top: 15px" *ngIf="chooseLabels && chooseLabels.length > 0">
          <ng-container *ngFor="let label of chooseLabels; let _idx = index">
            <div class="candidate-label">
              <div style="display: inline-block">{{ label.groupName }}/{{ label.userName }}</div>
              <button class="icon-btn" (click)="removeLabel(_idx)">
                <i class="fa fa-plus icon_fa" style="transform: rotate(45deg)"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
  <section
    class="info__section"
    *ngIf="uiFlag.editMode === 'create' && uiFlag.createLevel === GroupLevel.brand"
  >
    <div>
      <h6 class="info-contentTitle">方案內容</h6>
      <div class="ala-list__item" style="margin-top: 20px">
        <label class="ala-form__label"> 方案名稱： </label>
        {{ createBrandSetting.planName }}
      </div>
      <div class="ala-list__item" style="margin-top: 20px">
        <label class="ala-form__label"> 購買時長： </label>
        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Font Style"
          [style.border-color]="createBody.commercePlanExpired === '' ? 'red' : ''"
          (change)="saveExpireTime($event)"
        >
          <mat-button-toggle value="1">1個月</mat-button-toggle>
          <mat-button-toggle value="2">2個月</mat-button-toggle>
          <mat-button-toggle value="3">3個月</mat-button-toggle>
          <mat-button-toggle value="6">半年</mat-button-toggle>
          <mat-button-toggle value="12">1年</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="ala-list__item" style="margin-top: 20px">
        <label
          class="ala-form__label"
          [class.form__label--required]="createBody.commercePlan === 99"
          *ngIf="createBody.brandType === 1"
        >
          {{ 'universal_group_storeGroupAmount' | translate }}：
        </label>
        <label
          class="ala-form__label"
          [class.form__label--required]="createBody.commercePlan === 99"
          *ngIf="createBody.brandType === 2"
        >
          分公司群組數量：
        </label>
        <span *ngIf="createBody.commercePlan !== 99">
          {{ createBody.groupSetting.maxBranches }}
        </span>
        <input
          type="number"
          class="create__brand__input"
          [min]="1"
          [max]="100"
          [value]="createBody.groupSetting.maxBranches"
          (change)="savePlanSetting($event, 'branch')"
          *ngIf="createBody.commercePlan === 99"
        />
      </div>
      <div class="ala-list__item" style="margin-top: 20px">
        <label
          class="ala-form__label"
          [class.form__label--required]="createBody.commercePlan === 99"
          *ngIf="createBody.brandType === 1"
        >
          {{ 'universal_group_classGroupAmount' | translate }}：
        </label>
        <label
          class="ala-form__label"
          [class.form__label--required]="createBody.commercePlan === 99"
          *ngIf="createBody.brandType === 2"
        >
          部門群組數量：
        </label>
        <span *ngIf="createBody.commercePlan !== 99">
          {{ createBody.groupSetting.maxClasses }}
        </span>
        <input
          type="number"
          class="create__brand__input"
          [min]="2"
          [max]="500"
          [value]="createBody.groupSetting.maxClasses"
          (change)="savePlanSetting($event, 'class')"
          *ngIf="createBody.commercePlan === 99"
        />
      </div>
      <div class="ala-list__item" style="margin-top: 20px">
        <label
          class="ala-form__label"
          [class.form__label--required]="createBody.commercePlan === 99"
        >
          會員數：
        </label>
        <span *ngIf="createBody.commercePlan !== 99">
          {{ createBody.groupAllMemberSetting.maxAllGroupMembers }}
        </span>
        <input
          type="number"
          class="create__brand__input"
          [min]="20"
          [max]="100000"
          [value]="createBody.groupAllMemberSetting.maxAllGroupMembers"
          (change)="savePlanSetting($event, 'member')"
          *ngIf="createBody.commercePlan === 99"
        />
      </div>
      <hr />
      <label class="ala-form__label">總計費用：</label>
      <span style="color: #f1873a">
        <span *ngIf="createBody.commercePlan === 1">free</span>
        <span
          *ngIf="
            createBody.commercePlan !== 99 &&
            createBody.commercePlan !== 1 &&
            createBody.brandType === 1
          "
        >
          $
          {{
            (createBrandSetting.totalCost | number: '.') ||
              (createBrandSetting.planDatas[createBody.commercePlan - 1].cost | number: '.')
          }}
        </span>
        <span *ngIf="createBody.commercePlan === 99 || createBody.brandType === 2">自訂價格</span>
      </span>
    </div>
  </section>
  <div style="min-height: 80px" *ngIf="uiFlag.editMode !== 'close'"></div>
</div>
<ng-template #currentGroupName>
  <span
    class="groupBlueLabel info__row"
    *ngIf="groupDetail && (uiFlag.editMode === 'close' || uiFlag.editMode === 'create')"
  >
    {{ groupDetail.groupName }}
  </span>
  <input
    class="info__row"
    [value]="editBody.groupName"
    (change)="saveGroupName($event)"
    *ngIf="uiFlag.editMode === 'edit'"
  />
</ng-template>
