.trainLiveCategroy {
  margin: 0px 10px 10px 0px;
  height: 30px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.searchReport {
  display: flex;
  flex-direction: column;
  border-bottom: 2px #9e9e9e solid;
}

.BtnBgColor {
  background-color: #21c7f9;
  color: white;
}

.btnWord {
  max-width: 70px;
  line-height: 100%;
  border-radius: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.btnWord:first-child {
  border-radius: 5px 0px 0px 5px;
}

.btnWord:last-child {
  border-radius: 0px 5px 5px 0px;
}

.inputDateTime {
  height: 30px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
}

#dashBetweenDate {
  height: 2px;
  flex: 1 0 10px;
  background: gray;
  margin: 0px 10px 20px 10px;
  align-content: center;
}

.datetimeInput {
  margin-bottom: 10px;
}

.dateSelectArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 230px;
}

.sportTrend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 30px;
  color: #646464;
  font-weight: bold;
}



@media (max-width: 1300px) {
  .searchInput {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .selectArea {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .fitWindow {
    flex-direction: column;
  }

  .reportName {
    justify-content: flex-end;
  }
}

@media (max-width: 810px) {
  .datetimeInput {
    flex-direction: column;
  }
}

@media (max-width: 565px) {
  .otherInfoArea {
    flex-wrap: wrap;
  }

  .otherInfoSection {
    min-width: 150px;
  }
}

@media (max-width: 525px) {
  .brandName {
    font-size: 24px;
  }

  .reportName {
    font-size: 20px;
  }

  .summaryData {
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  .sportEfficiencyArea {
    flex-direction: column;
  }

  .HRZone {
    border-right: none;
    width: 100%;
  }

  .bodyQuality {
    width: 100%;
  }
}

