@import 'color.scss';
@import 'z-index.scss';
@import 'transform.scss';
@import 'screen-size.scss';

$dot-diameter: 8px;
$dialog-border-radius: 10px;

.button__icon {
  font-size: 18px;
}

.box__mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $content-navbar;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup__box {
  $shadow-color: rgba(0, 0, 0, 0.15);
  $shadow-size: 2px;
  $blur: 20px;
  align-items: center;
  position: fixed;
  width: fit-content;
  max-width: 800px;
  left: 50%;
  top: 50%;
  background-color: white;
  z-index: $float-tips;
  border-radius: $dialog-border-radius;
  box-shadow: $shadow-size $shadow-size $blur $shadow-color,
    (-$shadow-size) $shadow-size $blur $shadow-color,
    $shadow-size (-$shadow-size) $blur $shadow-color,
    (-$shadow-size) (-$shadow-size) $blur $shadow-color;
  @include el-transform(translate(-50%, -50%));
  @include medium-screen() {
    width: 90vw;
  }
}

.box__title {
  text-align: center;
  color: white;
  background-color: rgb(47, 67, 73, 1);
  width: 100%;
  padding: 0.5rem 0;
  border-radius: $dialog-border-radius $dialog-border-radius 0 0;
  margin: 0;
}

.box__content {
  font-size: initial;
  font-weight: initial;
  color: initial;
  padding: 1rem 2rem;
  max-height: 70vh;
  overflow-y: scroll;
}

.hr__calculation {
  text-align: center;
  font-weight: bold;
}

#hr__zone__info {
  list-style: none;
  margin: 0;
  padding: 0;
  @for $i from 1 through 6 {
    > :nth-last-child(#{$i}) {
      div {
        align-items: center;
        width: fit-content;

        &:before {
          content: '';
          width: $dot-diameter;
          height: $dot-diameter;
          min-width: $dot-diameter;
          border-radius: 50%;
          margin-right: 5px;
          background-color: nth($zone-color, $i);
        }
      }
    }
  }
}

.item__title {
  font-weight: bold;
}

.range__Value {
  font-weight: bold;
}

.info__content {
  color: rgba(150, 150, 150, 1);
}

.value__unit {
  margin-left: 5px;
  font-size: 0.8rem;
  color: rgba(150, 150, 150, 1);
}

.setting__description {
  font-size: 0.9rem;
}
