<ng-container *ngIf="!pcView && !agreeTerms">
  <div class="flexCol" style="position: relative;">
    <div class="flexRow appHeader">
      <i
        class="icon-svg_web-icon_p1_073-level_fold"
        style="font-size: 30px; cursor: pointer;"
        (click)="turnBack()"
      ></i>
      <span class="appview-header" style="position: relative; right: 15px; margin: 0 auto;">
        {{ 'universal_userAccount_clause' | translate }}
      </span>
    </div>
    <div class="flexCol" style="margin-top: 10px;">
      <div style="padding: 10px 20px; font-weight: bold;">
        <span id="mainContent"></span>
      </div>
    </div>
    <button
      class="appview-btn"
      (click)="handleAgreeTerms(true)"
    >
      <span>{{ 'universal_operating_agree' | translate }}</span>
    </button>
    <button
      style="border: none; background-color: white; font-weight: bold; margin: 20px auto; width: 90%;"
      (click)="handleAgreeTerms(false)"
    >
      <span>{{ 'universal_operating_disagree' | translate }}</span>
    </button>
    <ng-container *ngIf="showTerms !== null">
      <div class="terms__section">
        <div style="position: relative;">
          <app-app-terms style="width: 100%; height: 100%;" *ngIf="showTerms === 'terms'"></app-app-terms>
          <app-app-privacy-statement style="width: 100%; height: 100%;" *ngIf="showTerms === 'privacy'"></app-app-privacy-statement>
          <i class="icon-svg_web-icon_p1_012-close close__btn" (click)="handleShowTerms(null)"></i>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="!pcView && agreeTerms">
  <div class="flexCol">
    <div class="flexRow appHeader" style="justify-content: space-between;">
      <i
        class="icon-svg_web-icon_p1_073-level_fold"
        style="font-size: 30px; cursor: pointer;"
        (click)="turnBack()"
      ></i>
      <span class="appview-header" style="left: 15px;">
        {{ 'universal_userAccount_signUp' | translate }}
      </span>
      <span
        class="appview-header"
        style="position: relative; right:20px; cursor: pointer;"
        [style.pointer-events]="sending || dataIncomplete ? 'none' : ''"
        [style.color]="sending || dataIncomplete ? '#bde2f4' : '#23a0da'"
        (click)="submit()"
      >
        {{ 'universal_operating_join' | translate }}
      </span>
    </div>
    <div class="flexCol" style="margin-top: 10px;">
      <div class="flexCol appDiv">
        <span class="formTitle">{{ 'universal_userAccount_account' | translate }}</span>
        <div class="flexRow">
          <input
            style="width: 100%;"
            placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account } }} "
            (keydown)="determineAccountType($event)"
            (change)="saveAccount($event)"
          />
          <app-intl-phone-input
            (onChange)="onCodeChange($event)"
            style="width: 100%;"
            *ngIf="signupData.type === 2"
          ></app-intl-phone-input>
        </div>
        <span class="formCue" *ngIf="signupCue.account !== '' && signupCue.account !== 'accountRepeat'">
          {{ signupCue.account | translate }}
        </span>
        <span class="formCue" *ngIf="signupCue.account === 'accountRepeat'">
          {{ 'universal_userAccount_account' | translate }} {{ 'universal_deviceSetting_repeat' | translate }}
        </span>
      </div>
      <div class="flexCol appDiv">
        <span class="formTitle">{{ 'universal_userAccount_password' | translate }}</span>
        <div class="flexRow member__input">
          <input
            type="password"
            id="signupPW"
            style="width: 100%;"
            placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password} }}"
            [(ngModel)]="signupData.password"
            maxlength="20"
            (focusout)="checkPassword($event)"
            (keypress)="checkPassword($event)"
          />
          <i
            class="icon-svg_web-icon_p1_081-watch qrcode__login__icon"
            [style.color]="displayPW ? 'black' : '#aaaaaa'"
            (click)="toggleDisplayPW()"
          ></i>
        </div>
        <span class="formCue" *ngIf="signupCue.password === 'errorFormat'">
          {{ 'universal_userAccount_passwordFormat' | translate }}
        </span>
      </div>
      <div class="flexCol appDiv">
        <span class="formTitle">{{ 'universal_userAccount_nickname' | translate }}</span>
        <input
          placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.nickname} }}"
          maxlength="24"
          [(ngModel)]="signupData.nickname"
          (focusout)="checkNickname($event)"
          (keypress)="checkNickname($event)"
        />
        <span class="formCue" *ngIf="signupCue.nickname === 'errorFormat'">
          {{ 'universal_userAccount_nameCharactersToLong' | translate }}
        </span>
        <span class="formCue" *ngIf="signupCue.nickname === 'nicknameRepeat'">
          {{ 'universal_userAccount_nickname' | translate }} {{ 'universal_deviceSetting_repeat' | translate }}
        </span>
      </div>
      <div
        class="flexCol appDiv"
        [style.display]="imgCaptcha.show ? '' : 'none'"
      >
        <span class="formTitle">{{ 'universal_userAccount_imgCaptcha' | translate }}</span>
        <div class="flexRow">
          <input
            placeholder="{{ 'universal_userAccount_imgCaptcha' | translate }}"
            maxlength="8"
            (focusout)="checkImgCaptcha($event)"
            (keypress)="checkImgCaptcha($event)"
          />
          <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
        </div>
        <span class="formCue" *ngIf="imgCaptcha.show && signupCue.imgCaptcha === 'errorValue'">
          {{ 'universal_userAccount_errorCaptcha' | translate }}
        </span>
      </div>
    </div>
    <button
      class="appview-btn"
      [class.appview-btn-unclickable]="sending || dataIncomplete"
      (click)="submit()"
    >
      <span>{{ 'universal_operating_join' | translate }}</span>
      <i *ngIf="sending" class="fa fa-spinner fa-pulse"></i>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="pcView">
  <div class="access-bg">
    <div class="container signup" style="padding-top:63px">
      <div class="d-flex" style="flex-direction: column;align-items: center;;">
        <div class="access-description"  innerHtml="{{ 'universal_app_gptSlogan' | translate }}">
        </div>
        <div class="access-panel">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%">
          </header>
          <div class="access-panel-body">
            <div class="flexCol" style="margin-top: 10px;">
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_account' | translate }}</span>
                <div class="flexRow">
                  <input
                    style="width: 100%;"
                    class="form-control"
                    placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account} }}"
                    (keydown)="determineAccountType($event)"
                    (change)="saveAccount($event)"
                  />
                  <app-intl-phone-input
                    (onChange)="onCodeChange($event)"
                    [webUi]="true"
                    style="width: 190px;"
                    *ngIf="signupData.type === 2"
                  ></app-intl-phone-input>
                </div>
                <span class="form__message form__message--placeholder" *ngIf="signupCue.account !== '' && signupCue.account !== 'accountRepeat'">
                  {{ signupCue.account | translate }}
                </span>
                <span class="form__message form__message--placeholder" *ngIf="signupCue.account === 'accountRepeat'">
                  {{ 'universal_userAccount_account' | translate }} {{ 'universal_deviceSetting_repeat' | translate }}
                </span>
              </div>
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_password' | translate }}</span>
                <div class="flexRow member__input">
                  <input
                    type="password"
                    id="signupPW"
                    class="form-control"
                    placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password} }}"
                    [(ngModel)]="signupData.password"
                    maxlength="20"
                    (focusout)="checkPassword($event)"
                    (keypress)="checkPassword($event)"
                  />
                  <i
                    class="icon-svg_web-icon_p1_081-watch qrcode__login__icon"
                    [style.color]="displayPW ? 'black' : '#aaaaaa'"
                    (click)="toggleDisplayPW()"
                  ></i>
                </div>
                <span class="form__message form__message--placeholder" *ngIf="signupCue.password === 'errorFormat'">
                  {{ 'universal_userAccount_passwordFormat' | translate }}
                </span>
              </div>
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_nickname' | translate }}</span>
                <input
                  placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.nickname} }}"
                  class="form-control"
                  maxlength="24"
                  [(ngModel)]="signupData.nickname"
                  (focusout)="checkNickname($event)"
                  (keypress)="checkNickname($event)"
                />
                <span class="form__message form__message--placeholder" *ngIf="signupCue.nickname === 'errorFormat'">
                  {{ 'universal_userAccount_nameCharactersToLong' | translate }}
                </span>
                <span class="form__message form__message--placeholder" *ngIf="signupCue.nickname === 'nicknameRepeat'">
                  {{ 'universal_userAccount_nickname' | translate }} {{ 'universal_deviceSetting_repeat' | translate }}
                </span>
              </div>
              <div
                class="flexCol webDiv"
                [style.display]="imgCaptcha.show ? '' : 'none'"
              >
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_imgCaptcha' | translate }}</span>
                <div class="flexRow">
                  <input
                    placeholder="{{ 'universal_userAccount_imgCaptcha' | translate }}"
                    maxlength="8"
                    (focusout)="checkImgCaptcha($event)"
                    (keypress)="checkImgCaptcha($event)"
                  />
                  <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
                </div>
                <span class="form__message form__message--placeholder" *ngIf="imgCaptcha.show && signupCue.imgCaptcha === 'errorValue'">
                  {{ 'universal_userAccount_errorCaptcha' | translate }}
                </span>
              </div>
              <div style="display: flex;justify-content: space-between; align-items: center; margin-top: 20px;">
                <a class="access-text" style="cursor:pointer" [routerLink]="['/signIn-web']"><{{'universal_operating_back' | translate}}</a>
                <button
                  class="btn btn-primary access-btn"
                  [class.appview-btn-unclickable]="sending || dataIncomplete"
                  [style.background]="sending || dataIncomplete ? '#2b819b54' : ''"
                  (click)="submit()"
                >
                  <span *ngIf="!sending">{{ 'universal_userAccount_signUp' | translate }}</span>
                  <i *ngIf="sending" class="fa fa-spinner fa-pulse"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
