.terms__section {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 41px);
  border: none;
  word-break: break-word;
  margin: 41px auto 0 auto;
}

.close__btn {
  font-size: 24px;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 24px;
  height: 24px;
  position: absolute;
  top: -10px;
  right: -10px;
}