<div class="flexCol" style="align-items: center">
  <span
    [style.color]="highestFtpZoneColor"
    style="font-weight: bold; margin: 20px 0px"
    *ngIf="!noFtpZoneData && type !== 'personalAnalysis'"
  >
    {{ 'universal_activityData_maxProportion' | translate }} {{ highestFtpZone }}
    {{ highestFtpZoneValue | number: '0.1-1' }}%
  </span>
  <span style="font-weight: bold; color: grey" *ngIf="noFtpZoneData && type !== 'personalAnalysis'">
    {{ 'universal_status_noData' | translate }}
  </span>
  <div #container style="width: 100%">chart</div>
</div>
