<!-- 銷貨單-叫修資料 -->
<section class="content-box section">
  <div class="section_title">叫修資料</div>
  <div class="time_wrap" *ngIf="repairForm">
    <div class="time_name">
      <div class="establish_update_time">
        <div class="title">建立時間</div>
        <div class="date_time">{{ repairForm.create_time }}</div>
      </div>
      <div class="establish_update_time">
        <div class="title">人員:</div>
        <div class="name">{{ repairForm.create_name }}</div>
      </div>
    </div>
    <!-- <div class="time_name">
      <div class="establish_update_time">
        <div class="title">最後修改</div>
        <div class="date_time">{{ repairForm.modify_time }}</div>
      </div>
      <div class="establish_update_time">
        <div class="title">人員</div>
        <div class="name">{{ repairForm.modify_name }}</div>
      </div>
    </div> -->
  </div>
  <ng-container *ngIf="repairForm; else noOrderFixReq">
    <div class="section_detail">
      <div class="detail_info_wrap">
        <div class="detail_info_title">叫修單號</div>
        <div class="content_wrap">
          <div class="editable_content">{{ repairForm.repair_id }}</div>
        </div>
      </div>
      <div class="detail_info_wrap">
        <div class="detail_info_title">所屬銷貨單</div>
        <div
          [routerLink]="['/equipment-management/order', repairForm.order_no]"
          class="content_wrap link"
        >
          <div class="uneditable_content">{{ repairForm.order_no }}</div>
        </div>
      </div>
      <div class="detail_info_wrap">
        <div class="detail_info_title">叫修日期</div>
        <div class="content_wrap">
          <div class="editable_content">{{ repairForm.request_date }}</div>
        </div>
      </div>
      <div class="detail_info_wrap">
        <div class="detail_info_title">姓名</div>
        <div class="content_wrap">
          <div class="editable_content">{{ repairForm.user_name }}</div>
        </div>
      </div>
      <div class="detail_info_wrap">
        <div class="detail_info_title">電話</div>
        <div class="content_wrap">
          <div class="editable_content">{{ repairForm.phone }}</div>
        </div>
      </div>
      <div class="detail_info_wrap">
        <div class="detail_info_title">地址</div>
        <div class="content_wrap">
          <div class="editable_content">{{ repairForm.address }}</div>
        </div>
      </div>
      <div class="detail_info_wrap">
        <div class="detail_info_title">E-mail</div>
        <div class="content_wrap">
          <div *ngIf="repairForm.e_mail" class="editable_content">{{ repairForm.e_mail }}</div>
          <div *ngIf="!repairForm.e_mail" class="editable_content">無</div>
        </div>
      </div>
      <div class="detail_info_wrap">
        <div class="detail_info_title">處理狀態</div>
        <div class="content_wrap">
          <div class="editable_content check" [class.warning]="repairForm.status === 'undone'">
            {{ repairForm.status === 'done' ? '完成' : '未完成' }}
          </div>
        </div>
      </div>
    </div>
    <div class="section_detail">
      <div class="detail_info_wrap">
        <div class="detail_info_title">機台序號</div>
        <ng-container *ngIf="repairForm.serial_no && fixReqSerialArray">
          <ng-container *ngFor="let item of fixReqSerialArray">
            <div
              [routerLink]="['/equipment-management/equipment', item]"
              class="content_wrap link serial_no_list"
            >
              <div class="uneditable_content">
                <span class="serial_no">{{ item }}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!repairForm.serial_no">
          <div class="content_wrap">
            <div class="editable_content">
              <span class="serial_no">無</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="section_detail">
      <div class="detail_info_wrap">
        <div class="detail_info_title">附件</div>
        <div *ngIf="repairForm.attach_file" class="img_list">
          <ng-container *ngFor="let file of fileNames">
            <div class="img_wrap">
              <img
                (click)="openImage(imgPath + file)"
                [src]="imgPath + file"
                alt="附加檔案"
                id="image_preview"
              />
            </div>
          </ng-container>
        </div>
        <div *ngIf="!repairForm.attach_file" class="memo_wrap">
          <div class="memo_content">無</div>
        </div>
      </div>
    </div>
    <div class="section_detail">
      <div class="detail_info_wrap">
        <div class="detail_info_title">問題描述</div>
        <div class="memo_wrap">
          <div *ngIf="repairForm.description" class="memo_content">
            {{ repairForm.description }}
          </div>
          <div *ngIf="!repairForm.description" class="memo_content">無</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noOrderFixReq>
    <div class="section_detail">無資料</div>
  </ng-template>

  <div (click)="editForm('fixReq')" class="edit_button device_system_button">編輯</div>
</section>

<!-- 維修保養紀錄- -->
<section class="content-box section">
  <div class="section_header">
    <div class="section_title">維修保養紀錄</div>
    <div class="time_wrap" *ngIf="repairInfos">
      <div class="time_name">
        <div class="establish_update_time">
          <div class="title">建立時間</div>
          <div class="date_time">{{ repairInfos[repairInfos.length - 1]?.create_date }}</div>
        </div>
        <div class="establish_update_time">
          <div class="title">人員:</div>
          <div class="name">{{ repairInfos[repairInfos.length - 1]?.create_name }}</div>
        </div>
      </div>
      <!-- <div class="time_name" *ngIf="repairInfos.length > 1">
        <div class="establish_update_time">
          <div class="title">最後修改</div>
          <div class="date_time">{{ repairInfos[0]?.modify_date?repairInfos[0]?.modify_date :
            repairInfos[0]?.create_date }}</div>
        </div>
        <div class="establish_update_time">
          <div class="title">人員:</div>
          <div class="name">{{ repairInfos[0]?.modify_name?repairInfos[0]?.modify_name : repairInfos[0]?.create_name }}
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <ng-container *ngIf="repairInfos; else noDataSection">
    <div class="section_content">
      <ng-container *ngFor="let repair of repairInfos; let i = index">
        <div class="section_detail equip_list">
          <div class="detail_info_wrap">
            <div class="detail_info_title">維修單號</div>
            <div
              [routerLink]="['/equipment-management/repair', repair.id]"
              [queryParams]="{ repair_id: repair.repair_id, id: repair.id }"
              class="content_wrap link"
            >
              <div class="uneditable_content">{{ repair.id }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">序號</div>
            <div
              [routerLink]="['/equipment-management/equipment', repair.serial_no]"
              class="content_wrap link"
            >
              <div class="uneditable_content">{{ repair.serial_no }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">類型</div>
            <div class="content_wrap">
              <div class="editable_content">
                {{ repair.repair_type }}
              </div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">維修日期</div>
            <div class="content_wrap">
              <div class="editable_content">{{ repair.repair_date }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noDataSection>
    <div class="section_detail">無資料</div>
  </ng-template>
  <div (click)="editForm('repair')" class="add_button device_system_button">新增維修單</div>
</section>

<!-- 編輯_叫修單 -->
<ng-container *ngIf="editFixReq">
  <app-edit-maintenance-requirement
    [(editing)]="editFixReq"
    [(isNewForm)]="isNewForm"
    [(repair_id)]="repairForm.repair_id"
    (infoChange)="fetchFixReqList()"
  >
  </app-edit-maintenance-requirement>
</ng-container>

<!-- 新增-維修單 -->
<ng-container *ngIf="repairForm">
  <app-edit-repair
    [(editing)]="editRepair"
    [(isNewForm)]="isNewForm"
    [repair_id]="repairForm.repair_id"
    [fixReqSerialArray]="fixReqSerialArray"
    (infoChange)="fetchFixReqList()"
  >
  </app-edit-repair>
</ng-container>
