<h2 mat-dialog-title class="ala-dialog">
  {{ title }}
</h2>
<mat-dialog-content class="post-form">
  <div>
    <mat-radio-group [(ngModel)]="dateRange">
      <mat-radio-button
        style="margin-right: 15px;"
        name="dateRange"
        color="#26abe3"
        value="'all'"
        [checked]="dateRange === 'all'"
        (change)="selectDateRange('all')"
      >
        {{ 'SH.all' | translate }}
      </mat-radio-button>
      <mat-radio-button
        name="dateRange"
        color="#26abe3"
        value="'duration'"
        [checked]="dateRange === 'duration'"
        (change)="selectDateRange('duration')"
      >
        {{ 'Dashboard.GroupClass.selectDate' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="dateRange === 'duration'">
    <p>{{ 'SH.dateRange' | translate }}</p>
    <div class="dateSelectArea">

    </div>
  </div>
  <div class="flexCol">
    <mat-radio-group>
      <mat-radio-button
        color="#26abe3"
        [checked]="openObj === 'all'"
        (click)="selectModifyRange('all')"
      >{{ 'SH.all' | translate }}</mat-radio-button>
    </mat-radio-group>
    <mat-checkbox
      color="#26abe3"
      value="'administrator'"
      [checked]="openObj === 'administrator'"
      (change)="selectModifyRange('administrator')"
    >
      {{ 'other.myObject' | translate }}
      {{ 'other.gymBrand' | translate }}
      /
      {{ 'other.company' | translate }}
      {{ 'Dashboard.Group.GroupInfo.administrator' | translate }}
    </mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="flexRow" style="justify-content: space-between;">
  <button mat-button mat-dialog-close>{{ 'SH.cancel' | translate }}</button>
  <button mat-button color="warn" style="font-weight: bold;">
    {{ 'other.confirm' | translate }} {{ 'other.modify' | translate }}
  </button>
</mat-dialog-actions>
