@import 'transition.scss';
@import 'font.scss';
@import 'z-index.scss';
@import 'screen-size.scss';

.cards {
  min-height: 200px;
  // max-width: 1200px;
  // margin: auto;
}

.activity__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;

  &:before {
    content: '';
    display: block;
  }

  &:after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.list__card {
  position: relative;
  background-color: var(--scale-255-0);
  color: var(--scale-0-255);
  padding: 12px;
  cursor: pointer;
  overflow: hidden;
  width: calc(100% / 4);
  box-sizing: border-box;

  &:hover {
    top: -1.5px;
    left: 1.5px;
    .list__img__block {
      box-shadow: -1px 1px 8px 0px #5e5e5e;
    }
  }
}

.list__img__block {
  width: 100%;
  position: relative;
  height: 140px;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 0.5px #b9b9b9;
  overflow: hidden;
}

.list__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: nth($normal-index, 1);

  mask: linear-gradient(225deg, #000 5%, transparent);
  -webkit-mask: linear-gradient(225deg, #000 5%, transparent 100%);
}

.list__card__info {
  position: absolute;
  padding: 5px;
  z-index: nth($normal-index, 3);
  width: 100%;
  height: 100%;
  .card_info_wrapper {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}

.list__title {
  @include text-overflow(200px, ellipsis);
  font-weight: 900;
  font-size: 18px;
  color: var(--scale-0-255);
}

.card_info_wrapper {
  .info_head {
    .activityType {
      align-items: center;
      > i {
        font-size: 30px;
        color: var(--scale-0-255);
      }
      > span {
        font-size: 13px;
        color: var(--scale-0-255);
      }
    }
    .startTime {
      font-size: 13px;
      color: var(--scale-0-255);
    }
  }
  .info_bottom {
    align-items: center;
    justify-content: center;
    gap: 15px;
    span {
      font-size: 14px;
    }
    i {
      font-size: 20px;
    }
  }
}
/**************************************** media ***********************************/

@include l() {
  .list__card {
    width: calc(100% / 3);
  }
}

@include s() {
  .list__card {
    width: 50%;
    padding: 10px;
  }
}

@include xs() {
  .list__card {
    width: 100%;
    padding: 10px 0;
  }

  .list__img__block {
    width: 100%;
  }

  .list__img__block {
    height: 150px;
  }

  .list__img {
    width: 100%;
    height: initial;
  }
}
