<ng-container *ngIf="createType === 4 && !isShowCreateBrand">
  <div class="group-edit-bar"style="justify-content: flex-end;">
    <button class="alatech-btn alatech-btn--default"
      title="{{ 'Dashboard.Group.create' | translate }}{{ 'Dashboard.Group.brand' | translate }}"
      (click)="handleShowCreateBrand()"
      style="width: 222px;height: 46px"
      [disabled]="!commercePlan"
    >
      {{ 'Dashboard.Group.create' | translate }}{{ 'Dashboard.Group.brand' | translate }}
    </button>
  </div>
    <app-commerce-plan-table (onChange)="changePlan($event)"></app-commerce-plan-table>
</ng-container>
<ng-container *ngIf="createType !== 4 || isShowCreateBrand">
  <div class="row">
    <div class="col-md-4 group-image--area">
      <app-upload-file
        [isImageFileMode]="true"
        [imageURL]="groupImg"
        [maxFileSize]="maxFileSize"
        [disabled]="isUploading"
        [btnText]="'Dashboard.Group.GroupInfo.selectImg' | translate"
        [isLoading]="isUploading"
        [accept]="'Dashboard.Group.GroupInfo.photoRestriction' | translate"
        [reloadFileText]="'Dashboard.Group.GroupInfo.selectImg' | translate"
        [chooseFileText]="'Dashboard.Group.GroupInfo.selectImg' | translate"
        (onChange)="handleAttachmentChange($event)"
      ></app-upload-file>
    </div>
    <div class="col-md-8">
      <form [formGroup]="form" (ngSubmit)="manage(f)" #f="ngForm" novalidate>
        <div class="group-edit-bar">
          <span style="color: #26abe3; font-weight:700"
            *ngIf="createType === 1"
          >
            {{'Dashboard.Group.GroupInfo.addBranch' | translate}}
          </span>
          <span style="color: #26abe3; font-weight:700"
            *ngIf="createType === 2"
          >
            <span *ngIf="coachType === 1">{{'Dashboard.Group.GroupInfo.courseInformationProfessionalClass' | translate}}</span>
            <span *ngIf="coachType === 2">{{'Dashboard.Group.GroupInfo.courseInformationFitnessClass' | translate}}</span>
          </span>
          <span style="color: #26abe3; font-weight:700"
            *ngIf="createType === 3"
          >
          {{ 'Dashboard.Group.create' | translate }}{{ 'Dashboard.Group.group' | translate }}
          </span>
          <span style="color: #26abe3; font-weight:700"
            *ngIf="createType === 4"
          >
            {{ 'Dashboard.Group.create' | translate }}{{ 'Dashboard.Group.brand' | translate }}
          </span>
          <div class="rwd-btn_action">
            <button class="alatech-btn alatech-btn--default"
              title="{{ 'SH.cancel' | translate }}"
              (click)="handleCancel($event)"
            >
              {{ 'SH.cancel' | translate }}
            </button>
            <button class="alatech-btn alatech-btn--default"
              title="{{ 'Dashboard.Group.GroupInfo.completeManagement' | translate }}"
              type="submit"
              [disabled]="isEditing"
            >
              {{ 'Dashboard.Group.GroupInfo.completeManagement' | translate }}
            </button>
          </div>
        </div>
        <div class="group-edit-area">
          <div class="ala-list__item" *ngIf="createType === 3">
            <label class="ala-form__label form__label--required">{{ 'Dashboard.Group.GroupInfo.name' | translate}}：</label>
            <app-form-text
              [content]="groupName?.value"
              [maxLength]="32"
              [invalidRemindText]="inValidText"
              [control]="form"
              [controlName]="formTextName"
              [disabled]="isEditing"
              [remindText]="remindText"
              [isInvalid]="(!groupName.valid && groupName.touched) || (f.submitted && groupName.hasError('required')) || (f.submitted && groupName.hasError('maxLength'))"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3 && createType !== 4">
            <label class="ala-form__label">
              {{ 'Dashboard.Group.GroupInfo.brand' | translate}}{{ 'Dashboard.Group.GroupInfo.name' | translate}}：
            </label>
            <app-form-text
              [disabled]="true"
              [content]="subBrandInfo && subBrandInfo[0]?.groupName || ''"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType === 4">
            <label class="ala-form__label form__label--required">
              {{ 'Dashboard.Group.GroupInfo.brand' | translate}}{{ 'Dashboard.Group.GroupInfo.name' | translate}}：
            </label>
            <app-form-text
              [content]="groupName?.value"
              [maxLength]="32"
              [remindText]="remindText"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="formTextName"
              [isInvalid]="(!groupName.valid && groupName.touched) || (f.submitted && groupName.hasError('required')) || (f.submitted && groupName.hasError('maxLength'))"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3 && createType !== 4">
            <label class="ala-form__label form__label--required">
              <span *ngIf="createType === 1">
                {{ 'Dashboard.Group.GroupInfo.branch' | translate}}{{ 'Dashboard.Group.GroupInfo.name' | translate}}：
              </span>
              <span *ngIf="createType === 2">{{ 'Dashboard.Group.chooseBranch' | translate}}：</span>
            </label>
            <app-form-text
              *ngIf="createType === 1"
              [content]="branchName?.value"
              [maxLength]="32"
              [remindText]="'Dashboard.Group.GroupInfo.noMoreCharacters' | translate: {'number': '32' }"
              [invalidRemindText]="'Dashboard.Group.GroupInfo.fullField' | translate"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="formTextName"
              [isInvalid]="(!branchName.valid && branchName.touched) || (f.submitted && branchName.hasError('required')) || (f.submitted && branchName.hasError('maxLength'))"
            >
            </app-form-text>
            <app-form-text
              *ngIf="createType === 2 && groupLevel === '40'"
              [content]="subBranchInfo && subBranchInfo[0]?.groupName || ''"
              [disabled]="true"
            >
            </app-form-text>
            <select *ngIf="createType === 2 && groupLevel === '30'" formControlName="branchId" class="form-field"
              [class.form-field--invalid]="(!branchId.valid && branchId.touched) || (f.submitted && branchId.hasError('required'))"
            >
              <ng-container  *ngFor="let subBranchItem of subBranchInfo">
                <option [value]="subBranchItem?.groupId">{{subBranchItem?.groupName}}</option>
              </ng-container>
            </select>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3 && createType !== 4">
            <label class="ala-form__label"
              [class.form__label--required]="createType === 2"
            >
              {{'Dashboard.Group.classTitle' | translate}}：
            </label>
            <input
              style="width: 275px"
              disabled="true"
              *ngIf="createType === 1"
              class="form-field"
            />
            <app-form-text
              *ngIf="createType === 2"
              [content]="coachLessonName?.value"
              [maxLength]="32"
              [remindText]="'Dashboard.Group.GroupInfo.noMoreCharacters' | translate: {'number': '32' }"
              [invalidRemindText]="'Dashboard.Group.GroupInfo.fullField' | translate"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="formTextName"
              [isInvalid]="(!coachLessonName.valid && coachLessonName.touched) || (f.submitted && coachLessonName.hasError('required')) || (f.submitted && coachLessonName.hasError('maxLength'))"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item">
            <label class="ala-form__label">{{ 'Dashboard.Group.GroupInfo.status' | translate}}：</label>
            <select class="form-field"
              formControlName="groupStatus"
              [attr.disabled]="isEditing ? '' : null"
            >
            <option value="1" class="form-field-option">{{ 'Dashboard.Group.freeToJoin' | translate}}</option>
            <option value="2" class="form-field-option">{{ 'Dashboard.Group.auditSystem' | translate}}</option>
            <option value="3" class="form-field-option">{{ 'Dashboard.Group.hide' | translate}}</option>
            </select>
          </div>
          <div class="ala-list__item">
            <label class="ala-form__label form__label--required">{{ 'Dashboard.Group.GroupInfo.introduction' | translate}}：</label>
            <div class="ala-form__col">
              <app-form-textarea
                [maxLength]="textareaMaxLength"
                [content]="groupDesc?.value"
                [control]="form"
                [disabled]="isEditing"
                [controlName]="formTextareaName"
                (onChange)="handleChangeTextarea($event)"
                [remindText]="'Dashboard.Group.GroupInfo.noMoreCharacters' | translate: {'number': '500' }"
                [isHadCount]="true"
                [isInvalid]="(groupDesc.invalid && groupDesc?.touched) || (f.submitted && groupDesc.hasError('required')) || (f.submitted && groupDesc.hasError('maxLength'))"
              >
              </app-form-textarea>
            </div>
          </div>
        </div>
        <ng-container *ngIf="createType === 2">
          <span style="color: #26abe3; font-weight:700">
            {{'Dashboard.privacySettings.privacyRequirementsContent' | translate}}
          </span>
          <span style="font-size: 14px;margin-left: 10px">
            {{'Dashboard.privacySettings.createClassPrivacyNotice' | translate}}
          </span>
          <ul class="group-privacy-desc">
            <li>{{'Dashboard.privacySettings.myGroup' | translate}}{{'Dashboard.privacySettings.canSee' | translate}}{{'Dashboard.privacySettings.avatar' | translate}}{{'Dashboard.privacySettings.nickname' | translate}}</li>
            <ng-container *ngIf="coachType === 2">
              <li>{{'Dashboard.privacySettings.myGym' | translate}}{{'Dashboard.privacySettings.canSee' | translate}}{{'Dashboard.privacySettings.activityRecord' | translate}}</li>
              <li>{{'Dashboard.privacySettings.myGym' | translate}}{{'Dashboard.privacySettings.canSee' | translate}}{{'Dashboard.privacySettings.sportReport' | translate}}</li>
            </ng-container>
          </ul>
        </ng-container>
        <span style="color: #26abe3; font-weight:700">
          {{ 'Dashboard.Group.GroupInfo.administrator' | translate}}
        </span>
        <div class="ala-list__item" *ngIf="createType !== 3"
          style="margin-top: 20px"
        >
          <label class="ala-form__label"
            [class.form__label--required]="createType !== 3"
            style="min-width: 140px"
          >
            <span *ngIf="coachType === 1">{{'Dashboard.Group.addTeacher' | translate}}：</span>
            <span *ngIf="coachType === 2">{{'Dashboard.Group.addCoach' | translate}}：</span>
            <span *ngIf="coachType !== 1 && coachType !== 2">{{'Dashboard.Group.GroupInfo.assignAdmin' | translate}}：</span>
          </label>
          <div class="ala-form__col assign-admin">
            <button class="icon-btn" (click)="openSelectorWin(createType, $event)">
              <i class="icon-svg_web-icon_p1_021-add_friend group-icon"></i>
            </button>
            <div class="assign-admin__warning"
              *ngIf="(!groupManager.valid && groupManager.touched) || (f.submitted && groupManager.hasError('required'))"
            >
              {{'Dashboard.Group.addAdministrator' | translate}}
            </div>
            <div style="margin-top: 15px" *ngIf="chooseLabels && chooseLabels.length > 0">
              <ng-container *ngFor="let label of chooseLabels;let _idx = index">
                <div class="candidate-label">
                  <div style="display: inline-block">{{label.groupName}}/{{label.userName}}</div>
                  <button class="icon-btn" (click)="removeLabel(_idx)">
                    <i class="fa fa-plus icon_fa" style="transform: rotate(45deg);"></i>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div *ngIf="createType === 4" style="margin-top: 20px">
          <span style="color: #26abe3; font-weight:700">
            方案內容
          </span>
          <div class="ala-list__item" *ngIf="createType !== 3"
            style="margin-top: 20px"
          >
            <label class="ala-form__label">
              方案名稱：
            </label>
            {{planName}}
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3"
            style="margin-top: 20px"
          >
            <label class="ala-form__label"
              [class.form__label--required]="createType !== 3"
            >
              購買時長：
            </label>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
              [class.mat-button-toggle-group--invalid]="(!commercePlanExpired.valid && commercePlanExpired.touched) || (f.submitted && commercePlanExpired.hasError('required'))"
              (change)="handleExpireTime($event)"
            >
              <mat-button-toggle value="1">1個月</mat-button-toggle>
              <mat-button-toggle value="2">2個月</mat-button-toggle>
              <mat-button-toggle value="3">3個月</mat-button-toggle>
              <mat-button-toggle value="6">半年</mat-button-toggle>
              <mat-button-toggle value="12">1年</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3"
            style="margin-top: 20px"
          >
            <label class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
            >
              分店數量：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{planDatas[commercePlan - 1].maxBranches}}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxBranches?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxBranches'"
              [isInvalid]="(!maxBranches.valid && maxBranches.touched) || (f.submitted && maxBranches.hasError('required'))"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3"
            style="margin-top: 20px"
          >
            <label class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
            >
              課程數量：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{planDatas[commercePlan - 1].maxClasses}}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxClasses?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxClasses'"
              [isInvalid]="(!maxClasses.valid && maxClasses.touched) || (f.submitted && maxClasses.hasError('required'))"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3"
            style="margin-top: 20px"
          >
            <label class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
            >
              可入會成員：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{planDatas[commercePlan - 1].maxGroupMembers}}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxGroupMembers?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxGroupMembers'"
              [isInvalid]="(!maxGroupMembers.valid && maxGroupMembers.touched) || (f.submitted && maxGroupMembers.hasError('required'))"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3"
            style="margin-top: 20px"
          >
            <label class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
            >
              可建立管理員：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{planDatas[commercePlan - 1].maxGroupManagers}}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxGroupManagers?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxGroupManagers'"
              [isInvalid]="(!maxGroupManagers.valid && maxGroupManagers.touched) || (f.submitted && maxGroupManagers.hasError('required'))"
            >
            </app-form-text>
          </div>
          <hr>
          <label class="ala-form__label">總計費用：</label>
          <span style="color: #F1873A">
            <span *ngIf="commercePlan === 1">free</span>
            <span *ngIf="commercePlan !== 99 && commercePlan !== 1">$ {{(totalCost | number:'.') || (planDatas[commercePlan - 1].cost  | number:'.')}}</span>
            <span *ngIf="commercePlan === 99">自訂價格</span>
          </span>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<!-- <div class="group-manage__action">
  <ng-container *ngIf="createType !== 4 || isShowCreateBrand">
    <button class="alatech-btn group-manage__btn"
      title="取消"
      (click)="handleCancel($event)"
    >
      取消
    </button>
    <button class="alatech-btn group-manage__btn"
      title="完成"
      (click)="manage(f)"
      [disabled]="isEditing"
    >
      完成
    </button>
  </ng-container>
  <ng-container *ngIf="createType === 4 && !isShowCreateBrand">
    <button class="alatech-btn group-manage__btn"
      title="{{ 'Dashboard.Group.create' | translate }}{{ 'Dashboard.Group.brand' | translate }}"
      (click)="handleShowCreateBrand()"
      [disabled]="!commercePlan"
    >
      {{ 'Dashboard.Group.create' | translate }}{{ 'Dashboard.Group.brand' | translate }}
    </button>
  </ng-container>
</div> -->
