<ng-container *ngIf="createType === 4 && !isShowCreateForm">
  <div class="group-edit-bar" style="justify-content: flex-end">
    <button
      class="alatech-btn alatech-btn--default"
      title="{{ 'universal_activityData_create' | translate }} {{
        'universal_group_brand' | translate
      }}"
      (click)="handleShowCreateBrand()"
      style="width: 222px; height: 46px"
      [disabled]="!commercePlan"
    >
      {{ 'universal_activityData_create' | translate }} {{ 'universal_group_brand' | translate }}
    </button>
  </div>
  <app-commerce-plan-table
    (onChange)="changePlan($event)"
    [createType]="4"
  ></app-commerce-plan-table>
</ng-container>
<ng-container *ngIf="createType === 5 && !isShowCreateForm">
  <div class="group-edit-bar" style="justify-content: flex-end">
    <button
      class="alatech-btn alatech-btn--default"
      title="{{ 'universal_activityData_create' | translate }} {{
        'universal_group_brand' | translate
      }}"
      (click)="handleShowCreateCom()"
      style="width: 222px; height: 46px"
      [disabled]="!commercePlan"
    >
      {{ 'universal_activityData_create' | translate }}
      {{ 'universal_group_enterprise' | translate }}
    </button>
  </div>
  <app-commerce-plan-table
    (onChange)="changePlan($event)"
    [createType]="5"
  ></app-commerce-plan-table>
</ng-container>
<ng-container *ngIf="(createType !== 4 && createType !== 5) || isShowCreateForm">
  <div class="row">
    <div class="col-md-4 group-image--area">
      <app-upload-file
        [isImageFileMode]="true"
        [imageURL]="groupImg"
        [maxFileSize]="maxFileSize"
        [disabled]="isUploading"
        [btnText]="'universal_operating_selectImg' | translate"
        [isLoading]="isUploading"
        [accept]="'universal_status_photoRestriction' | translate"
        [reloadFileText]="'universal_operating_selectImg' | translate"
        [chooseFileText]="'universal_operating_selectImg' | translate"
        (onChange)="handleAttachmentChange($event)"
      ></app-upload-file>
    </div>
    <div class="col-md-8">
      <form [formGroup]="form" (ngSubmit)="manage(f)" #f="ngForm" novalidate>
        <div class="group-edit-bar">
          <span style="color: #26abe3; font-weight: 700" *ngIf="createType === 1 && brandType == 1">
            {{ 'universal_group_addBranch' | translate }}
          </span>
          <span style="color: #26abe3; font-weight: 700" *ngIf="createType === 1 && brandType == 2">
            {{ 'universal_group_addBranchOffice' | translate }}
          </span>
          <span style="color: #26abe3; font-weight: 700" *ngIf="createType === 2">
            <span *ngIf="brandType == 1">{{
              'universal_group_courseInformationFitnessClass' | translate
            }}</span>
            <span *ngIf="brandType == 2">{{ 'universal_group_department' | translate }}</span>
          </span>
          <span style="color: #26abe3; font-weight: 700" *ngIf="createType === 3">
            {{ 'universal_activityData_create' | translate }}
            {{ 'universal_group_group' | translate }}
          </span>
          <span style="color: #26abe3; font-weight: 700" *ngIf="createType === 4">
            {{ 'universal_activityData_create' | translate }}
            {{ 'universal_group_brand' | translate }}
          </span>
          <span style="color: #26abe3; font-weight: 700" *ngIf="createType === 5">
            {{ 'universal_activityData_create' | translate }}
          </span>
          <div class="rwd-btn_action">
            <button
              class="alatech-btn alatech-btn--default"
              title="{{ 'universal_operating_cancel' | translate }}"
              (click)="handleCancel($event)"
            >
              {{ 'universal_operating_cancel' | translate }}
            </button>
            <button
              class="alatech-btn alatech-btn--default"
              title="{{ 'universal_group_completeManagement' | translate }}"
              type="submit"
              [disabled]="isEditing"
            >
              {{ 'universal_group_completeManagement' | translate }}
            </button>
          </div>
        </div>
        <div class="group-edit-area">
          <div class="ala-list__item" *ngIf="createType === 3">
            <label class="ala-form__label form__label--required"
              >{{ 'universal_activityData_name' | translate }}：</label
            >
            <app-form-text
              [content]="groupName?.value"
              [maxLength]="32"
              [invalidRemindText]="inValidText"
              [control]="form"
              [controlName]="formTextName"
              [disabled]="isEditing"
              [remindText]="remindText"
              [isInvalid]="
                (!groupName.valid && groupName.touched) ||
                (f.submitted && groupName.hasError('required')) ||
                (f.submitted && groupName.hasError('maxLength'))
              "
            >
            </app-form-text>
          </div>
          <div
            class="ala-list__item"
            *ngIf="createType !== 3 && createType !== 4 && createType !== 5"
          >
            <label class="ala-form__label" *ngIf="brandType == 1">
              {{ 'universal_group_brand' | translate }}
              {{ 'universal_activityData_name' | translate }}：
            </label>
            <label class="ala-form__label" *ngIf="brandType == 2">
              {{ 'universal_group_enterprise' | translate }}
              {{ 'universal_activityData_name' | translate }}：
            </label>
            <app-form-text
              [disabled]="true"
              [content]="(subBrandInfo && subBrandInfo[0]?.groupName) || ''"
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType === 4 || createType === 5">
            <label class="ala-form__label form__label--required" *ngIf="createType === 4">
              {{ 'universal_group_brand' | translate }}
              {{ 'universal_activityData_name' | translate }}：
            </label>
            <label class="ala-form__label form__label--required" *ngIf="createType === 5">
              {{ 'universal_group_enterprise' | translate }}
              {{ 'universal_activityData_name' | translate }}：
            </label>
            <app-form-text
              [content]="groupName?.value"
              [maxLength]="32"
              [remindText]="remindText"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="formTextName"
              [isInvalid]="
                (!groupName.valid && groupName.touched) ||
                (f.submitted && groupName.hasError('required')) ||
                (f.submitted && groupName.hasError('maxLength'))
              "
            >
            </app-form-text>
          </div>
          <div
            class="ala-list__item"
            *ngIf="createType !== 3 && createType !== 4 && createType !== 5"
          >
            <label class="ala-form__label form__label--required">
              <span *ngIf="createType === 1 && brandType == 1">
                {{ 'universal_group_branch' | translate }}
                {{ 'universal_activityData_name' | translate }}：
              </span>
              <span *ngIf="createType === 1 && brandType == 2">
                {{ 'universal_group_companyBranch' | translate }}
                {{ 'universal_activityData_name' | translate }}：
              </span>
              <span *ngIf="createType === 2 && brandType == 1"
                >{{ 'universal_group_chooseBranch' | translate }}：</span
              >
              <span *ngIf="createType === 2 && brandType == 2"
                >{{ 'universal_group_selectBranchOffice' | translate }}：</span
              >
            </label>
            <app-form-text
              *ngIf="createType === 1"
              [content]="branchName?.value"
              [maxLength]="32"
              [remindText]="'universal_status_noMoreCharacters' | translate: { number: '32' }"
              [invalidRemindText]="'universal_userAccount_fullField' | translate"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="formTextName"
              [isInvalid]="
                (!branchName.valid && branchName.touched) ||
                (f.submitted && branchName.hasError('required')) ||
                (f.submitted && branchName.hasError('maxLength'))
              "
            >
            </app-form-text>
            <app-form-text
              *ngIf="createType === 2 && groupLevel === 40"
              [content]="(subBranchInfo && subBranchInfo[0]?.groupName) || ''"
              [disabled]="true"
            >
            </app-form-text>
            <select
              *ngIf="createType === 2 && groupLevel === 30"
              formControlName="branchId"
              class="form-field"
              [class.form-field--invalid]="
                (!branchId.valid && branchId.touched) ||
                (f.submitted && branchId.hasError('required'))
              "
            >
              <ng-container *ngFor="let subBranchItem of subBranchInfo">
                <option [value]="subBranchItem?.groupId">{{ subBranchItem?.groupName }}</option>
              </ng-container>
            </select>
          </div>
          <div
            class="ala-list__item"
            *ngIf="createType !== 3 && createType !== 4 && createType !== 5"
          >
            <label
              class="ala-form__label"
              [class.form__label--required]="createType === 2 && brandType == 1"
              *ngIf="brandType == 1"
            >
              {{ 'universal_group_classTitle' | translate }}：
            </label>
            <label
              class="ala-form__label"
              [class.form__label--required]="createType === 2 && brandType == 2"
              *ngIf="createType === 1 && brandType == 2"
            >
              {{ 'universal_group_department' | translate }}
              {{ 'universal_activityData_name' | translate }}：
            </label>
            <input
              style="width: 275px"
              disabled="true"
              *ngIf="createType === 1"
              class="form-field"
            />
            <app-form-text
              *ngIf="createType === 2"
              [content]="coachLessonName?.value"
              [maxLength]="32"
              [remindText]="'universal_status_noMoreCharacters' | translate: { number: '32' }"
              [invalidRemindText]="'universal_userAccount_fullField' | translate"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="formTextName"
              [isInvalid]="
                (!coachLessonName.valid && coachLessonName.touched) ||
                (f.submitted && coachLessonName.hasError('required')) ||
                (f.submitted && coachLessonName.hasError('maxLength'))
              "
            >
            </app-form-text>
          </div>
          <div class="ala-list__item">
            <label class="ala-form__label">{{ 'universal_group_status' | translate }}：</label>
            <select
              class="form-field"
              formControlName="groupStatus"
              [attr.disabled]="isEditing ? '' : null"
            >
              <option value="1" class="form-field-option">
                {{ 'universal_group_freeToJoin' | translate }}
              </option>
              <option value="2" class="form-field-option">
                {{ 'universal_group_auditSystem' | translate }}
              </option>
              <option value="3" class="form-field-option">
                {{ 'universal_operating_hide' | translate }}
              </option>
            </select>
          </div>
          <div class="ala-list__item">
            <label class="ala-form__label form__label--required"
              >{{ 'universal_group_introduction' | translate }}：</label
            >
            <div class="ala-form__col">
              <app-form-textarea
                [maxLength]="textareaMaxLength"
                [content]="groupDesc?.value"
                [control]="form"
                [disabled]="isEditing"
                [controlName]="formTextareaName"
                (onChange)="handleChangeTextarea($event)"
                [remindText]="'universal_status_noMoreCharacters' | translate: { number: '500' }"
                [isHadCount]="true"
                [isInvalid]="
                  (groupDesc.invalid && groupDesc?.touched) ||
                  (f.submitted && groupDesc.hasError('required')) ||
                  (f.submitted && groupDesc.hasError('maxLength'))
                "
              >
              </app-form-textarea>
            </div>
          </div>
        </div>
        <ng-container *ngIf="createType === 2">
          <span style="color: #26abe3; font-weight: 700">
            {{ 'universal_privacy_privacyRequirementsContent' | translate }}
          </span>
          <span style="font-size: 14px; margin-left: 10px" *ngIf="brandType == 1">
            {{ 'universal_privacy_createClassPrivacyNotice' | translate }}
          </span>
          <ul class="group-privacy-desc">
            <li>
              {{
                'universal_group_canSee' | translate: { object: i18n.myGroup, info: i18n.nickname }
              }}
            </li>
            <ng-container *ngIf="brandType == 1">
              <li>
                {{
                  'universal_group_canSee'
                    | translate: { object: i18n.myGym, info: i18n.activityRecord }
                }}
              </li>
              <li>
                {{
                  'universal_group_canSee'
                    | translate: { object: i18n.myGym, info: i18n.sportReport }
                }}
              </li>
            </ng-container>
            <ng-container *ngIf="brandType == 2">
              <li>
                {{
                  'universal_group_canSee'
                    | translate: { object: i18n.myGroup, info: i18n.activityRecord }
                }}
              </li>
              <li>
                {{
                  'universal_group_canSee'
                    | translate: { object: i18n.myGroup, info: i18n.sportReport }
                }}
              </li>
            </ng-container>
          </ul>
        </ng-container>
        <span style="color: #26abe3; font-weight: 700">
          {{ 'universal_group_administrator' | translate }}
        </span>
        <div class="ala-list__item" *ngIf="createType !== 3" style="margin-top: 20px">
          <label
            class="ala-form__label"
            [class.form__label--required]="createType !== 3"
            style="min-width: 140px"
          >
            <span *ngIf="brandType == 1">
              {{ 'universal_group_addObject' | translate: { position: i18n.coach } }}：
            </span>
            <span *ngIf="brandType == 2">
              {{
                'universal_group_addObject' | translate: { position: i18n.departmentAdministrator }
              }}：
            </span>
          </label>
          <div class="ala-form__col assign-admin">
            <button class="icon-btn" (click)="openSelectorWin(createType, $event)">
              <i class="icon-svg_web-icon_p1_021-add_friend group-icon"></i>
            </button>
            <div
              class="assign-admin__warning"
              *ngIf="
                (!groupManager.valid && groupManager.touched) ||
                (f.submitted && groupManager.hasError('required'))
              "
            >
              {{ 'universal_group_addAdministrator' | translate }}
            </div>
            <div style="margin-top: 15px" *ngIf="chooseLabels && chooseLabels.length > 0">
              <ng-container *ngFor="let label of chooseLabels; let _idx = index">
                <div class="candidate-label">
                  <div style="display: inline-block">
                    {{ label.groupName }}/{{ label.userName }}
                  </div>
                  <button class="icon-btn" (click)="removeLabel(_idx)">
                    <i class="fa fa-plus icon_fa" style="transform: rotate(45deg)"></i>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div *ngIf="createType === 4 || createType === 5" style="margin-top: 20px">
          <span style="color: #26abe3; font-weight: 700"> 方案內容 </span>
          <div class="ala-list__item" *ngIf="createType !== 3" style="margin-top: 20px">
            <label class="ala-form__label"> 方案名稱： </label>
            {{ planName }}
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3" style="margin-top: 20px">
            <label class="ala-form__label" [class.form__label--required]="createType !== 3">
              購買時長：
            </label>
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              [class.mat-button-toggle-group--invalid]="
                (!commercePlanExpired.valid && commercePlanExpired.touched) ||
                (f.submitted && commercePlanExpired.hasError('required'))
              "
              (change)="handleExpireTime($event)"
            >
              <mat-button-toggle value="1">1個月</mat-button-toggle>
              <mat-button-toggle value="2">2個月</mat-button-toggle>
              <mat-button-toggle value="3">3個月</mat-button-toggle>
              <mat-button-toggle value="6">半年</mat-button-toggle>
              <mat-button-toggle value="12">1年</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3" style="margin-top: 20px">
            <label
              class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
              *ngIf="createType === 4"
            >
              {{ 'universal_group_storeGroupAmount' | translate }}：
            </label>
            <label
              class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
              *ngIf="createType === 5"
            >
              分公司群組數量：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{ planDatas[commercePlan - 1].maxBranches }}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxBranches?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxBranches'"
              [isInvalid]="
                (!maxBranches.valid && maxBranches.touched) ||
                (f.submitted && maxBranches.hasError('required'))
              "
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3" style="margin-top: 20px">
            <label
              class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
              *ngIf="createType === 4"
            >
              {{ 'universal_group_classGroupAmount' | translate }}：
            </label>
            <label
              class="ala-form__label"
              [class.form__label--required]="commercePlan === 99"
              *ngIf="createType === 5"
            >
              部門群組數量：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{ planDatas[commercePlan - 1].maxClasses }}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxClasses?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxClasses'"
              [isInvalid]="
                (!maxClasses.valid && maxClasses.touched) ||
                (f.submitted && maxClasses.hasError('required'))
              "
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3" style="margin-top: 20px">
            <label class="ala-form__label" [class.form__label--required]="commercePlan === 99">
              可入會成員：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{ planDatas[commercePlan - 1].maxGroupMembers }}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxGroupMembers?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxGroupMembers'"
              [isInvalid]="
                (!maxGroupMembers.valid && maxGroupMembers.touched) ||
                (f.submitted && maxGroupMembers.hasError('required'))
              "
            >
            </app-form-text>
          </div>
          <div class="ala-list__item" *ngIf="createType !== 3" style="margin-top: 20px">
            <label class="ala-form__label" [class.form__label--required]="commercePlan === 99">
              可建立管理員：
            </label>
            <span *ngIf="commercePlan !== 99">
              {{ planDatas[commercePlan - 1].maxGroupManagers }}
            </span>
            <app-form-text
              *ngIf="commercePlan === 99"
              [type]="'number'"
              [content]="maxGroupManagers?.value"
              [invalidRemindText]="inValidText"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="'maxGroupManagers'"
              [isInvalid]="
                (!maxGroupManagers.valid && maxGroupManagers.touched) ||
                (f.submitted && maxGroupManagers.hasError('required'))
              "
            >
            </app-form-text>
          </div>
          <hr />
          <label class="ala-form__label">總計費用：</label>
          <span style="color: #f1873a">
            <span *ngIf="commercePlan === 1">free</span>
            <span *ngIf="commercePlan !== 99 && commercePlan !== 1"
              >$
              {{
                (totalCost | number: '.') || (planDatas[commercePlan - 1].cost | number: '.')
              }}</span
            >
            <span *ngIf="commercePlan === 99">自訂價格</span>
          </span>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<!-- <div class="group-manage__action">
  <ng-container *ngIf="createType !== 4 || isShowCreateBrand">
    <button class="alatech-btn group-manage__btn"
      title="取消"
      (click)="handleCancel($event)"
    >
      取消
    </button>
    <button class="alatech-btn group-manage__btn"
      title="完成"
      (click)="manage(f)"
      [disabled]="isEditing"
    >
      完成
    </button>
  </ng-container>
  <ng-container *ngIf="createType === 4 && !isShowCreateBrand">
    <button class="alatech-btn group-manage__btn"
      title="{{ 'universal_activityData_create' | translate }} {{ 'universal_group_brand' | translate }}"
      (click)="handleShowCreateBrand()"
      [disabled]="!commercePlan"
    >
      {{ 'universal_activityData_create' | translate }} {{ 'universal_group_brand' | translate }}
    </button>
  </ng-container>
</div> -->
