<div class="row">
  <div class="col-md-4 group-image--area">
    <app-upload-file
      [isImageFileMode]="true"
      [imageURL]="groupImg"
      [maxFileSize]="maxFileSize"
      [disabled]="isUploading"
      [btnText]="this.finalImageLink ? reloadFileText : chooseFileText"
      [isLoading]="isUploading"
      [accept]="acceptFileExtensions.join()"
      [reloadFileText]="reloadFileText"
      [chooseFileText]="chooseFileText"
      (onChange)="handleAttachmentChange($event)"
    ></app-upload-file>
  </div>
  <div class="col-md-8">
    <form [formGroup]="form" (ngSubmit)="manage(f)" #f="ngForm" novalidate>
      <div class="group-edit-bar">
        <span style="color: #26abe3; font-weight:700"
          *ngIf="createType === 1"
        >
          新增分店
        </span>
        <span style="color: #26abe3; font-weight:700"
          *ngIf="createType === 2"
        >
          新增教練課
        </span>
        <span style="color: #26abe3; font-weight:700"
          *ngIf="createType === 3"
        >
          建立新群組
        </span>
        <span style="color: #26abe3; font-weight:700"
          *ngIf="createType === 4"
        >
          建立品牌
        </span>
        <div>
          <button class="alatech-btn alatech-btn--default"
            title="取消"
            (click)="handleCancel($event)"
          >
            取消
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="完成"
            type="submit"
            [disabled]="isEditing"
          >
            完成
          </button>
        </div>
      </div>
      <div class="group-edit-area">
        <div class="ala-list__item" *ngIf="createType === 3">
          <label class="ala-form__label form__label--required">名稱：</label>
          <app-form-text
            [content]="groupName?.value"
            [maxLength]="32"
            [invalidRemindText]="inValidText"
            [control]="form"
            [controlName]="formTextName"
            [disabled]="isEditing"
            [remindText]="remindText"
            [isInvalid]="(!groupName.valid && groupName.touched) || (f.submitted && groupName.hasError('required')) || (f.submitted && groupName.hasError('maxLength'))"
          >
          </app-form-text>
        </div>
        <div class="ala-list__item" *ngIf="createType !== 3 && createType !== 4">
          <label class="ala-form__label">品牌名稱：</label>
          <app-form-text
            [disabled]="true"
            [content]="brandName"
          >
          </app-form-text>
        </div>
        <div class="ala-list__item" *ngIf="createType === 4">
          <label class="ala-form__label form__label--required">品牌名稱：</label>
          <app-form-text
            [content]="groupName?.value"
            [maxLength]="32"
            [remindText]="remindText"
            [invalidRemindText]="inValidText"
            [control]="form"
            [disabled]="isEditing"
            [controlName]="formTextName"
            [isInvalid]="(!groupName.valid && groupName.touched) || (f.submitted && groupName.hasError('required')) || (f.submitted && groupName.hasError('maxLength'))"
          >
          </app-form-text>
        </div>
        <div class="ala-list__item" *ngIf="createType !== 3 && createType !== 4">
          <label class="ala-form__label form__label--required">分店名稱：</label>
          <app-form-text
            *ngIf="createType === 1"
            [content]="branchName?.value"
            [maxLength]="32"
            [remindText]="remindText"
            [invalidRemindText]="inValidText"
            [control]="form"
            [disabled]="isEditing"
            [controlName]="formTextName"
            [isInvalid]="(!branchName.valid && branchName.touched) || (f.submitted && branchName.hasError('required')) || (f.submitted && branchName.hasError('maxLength'))"
          >
          </app-form-text>
          <select *ngIf="createType === 2" formControlName="branchId" class="form-field"
            [class.form-field--invalid]="(!branchId.valid && branchId.touched) || (f.submitted && branchId.hasError('required'))"
          >
            <ng-container  *ngFor="let subBranchItem of subBranchInfo">
              <option [value]="subBranchItem?.groupId">{{subBranchItem?.groupName}}</option>
            </ng-container>
          </select>
        </div>
        <div class="ala-list__item" *ngIf="createType !== 3 && createType !== 4">
          <label class="ala-form__label"
            [class.form__label--required]="createType === 2"
          >
            教練課名稱：
          </label>
          <input
            style="width: 275px"
            disabled="true"
            *ngIf="createType === 1"
            class="form-field"
          />
          <app-form-text
            *ngIf="createType === 2"
            [content]="coachLessonName?.value"
            [maxLength]="32"
            [remindText]="remindText"
            [invalidRemindText]="inValidText"
            [control]="form"
            [disabled]="isEditing"
            [controlName]="formTextName"
            [isInvalid]="(!coachLessonName.valid && coachLessonName.touched) || (f.submitted && coachLessonName.hasError('required')) || (f.submitted && coachLessonName.hasError('maxLength'))"
          >
          </app-form-text>
        </div>

        <div class="ala-list__item" *ngIf="createType !== 3">
          <label class="ala-form__label"
            [class.form__label--required]="createType !== 3"
          >
            指派管理者：
          </label>
          <div class="ala-form__col assign-admin">
            <button class="icon-btn" (click)="openSelectorWin(createType, $event)">
              <i class="fa fa-user-plus icon_fa"></i>
            </button>
            <div class="assign-admin__warning"
              *ngIf="(!groupManager.valid && groupManager.touched) || (f.submitted && groupManager.hasError('required'))"
            >
              請指派至少一位管理者
            </div>
            <div style="margin-top: 15px" *ngIf="chooseLabels && chooseLabels.length > 0">
              <ng-container *ngFor="let label of chooseLabels;let _idx = index">
                <div class="candidate-label">
                  <div style="display: inline-block">{{label.groupName}}/{{label.userName}}</div>
                  <button class="icon-btn" (click)="removeLabel(_idx)">
                    <i class="fa fa-plus icon_fa" style="transform: rotate(45deg);"></i>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="ala-list__item">
          <label class="ala-form__label">狀態：</label>
          <select class="form-field"
            formControlName="groupStatus"
            [attr.disabled]="isEditing ? '' : null"
          >
            <option class="form-field-option" value="2">審核制</option>
            <option class="form-field-option" value="1">自由加入</option>
            <option class="form-field-option" value="3">隱藏群組</option>
          </select>
        </div>
        <div class="ala-list__item">
          <label class="ala-form__label form__label--required">介紹：</label>
          <div class="ala-form__col">
            <app-form-textarea
              [maxLength]="textareaMaxLength"
              [content]="groupDesc?.value"
              [control]="form"
              [disabled]="isEditing"
              [controlName]="formTextareaName"
              (onChange)="handleChangeTextarea($event)"
              [isInvalid]="(groupDesc.invalid && groupDesc?.touched) || (f.submitted && groupDesc.hasError('required')) || (f.submitted && groupDesc.hasError('maxLength'))"
            >
            </app-form-textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="group-manage__action">
  <button class="alatech-btn group-manage__btn"
    title="取消"
    (click)="handleCancel($event)"
  >
    取消
  </button>
  <button class="alatech-btn group-manage__btn"
    title="完成"
    (click)="manage(f)"
    [disabled]="isEditing"
  >
    完成
  </button>
</div>
