<div class="mask" [class.mask--show]="isMaskShow" (click)="touchMask()"></div>
<ng-container *ngIf="!isPreviewMode">
  <app-navbar></app-navbar>
</ng-container>
<ng-container *ngIf="isPreviewMode">
  <div class="alatech-ribbon alatech-ribbon--bg-blue"></div>
    <router-outlet></router-outlet>
</ng-container>

<div *ngIf="!isPreviewMode" class="container dashboard-rwd" [hidden]="isLoading">
  <router-outlet></router-outlet>
</div>
<div [hidden]="!isLoading">
  <app-loading></app-loading>
</div>
