@import 'transition.scss';
@import 'overflow-scroll';


.version {
  color: #fff;
  padding: 5px 15px 5px 20px;
  position: relative;
  bottom: 0;
  font-size: 12px;
  opacity: 0.3;
}

#aside__menu {
  justify-content: space-between;
  height: 90vh;
  overflow-x: hidden;
  @include overflow-y-scroll(false);
}

.main-body {
  width: calc(100% - 273px);
  position: relative;
  flex-grow: 1;
  height: 100vh;
  padding: 60px 0 0 0;
  background-color: var(--scale-255-0);
  @include overflow-y-scroll();
}

.main-body.preview {
  margin-top: 0px;
  padding: 5px 0 0 0;
  @include overflow-y-scroll();
}

.expand__mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 998;
  overflow: hidden;
}

.container {
  padding: 20px 10px 60px 10px;
  min-height: calc(100vh - 60px);
}

.containerPrint {
  padding: 0px;
}

.header-nav-menu-section {

  border-bottom: 1px solid #e5e5e5
}
.header-nav-menu-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav-menu-section ul>li {
  padding: 15px 20px;
}
.header-nav-menu-section ul>li:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}
.dropdown-item {
  padding: 15px 20px;
}
.dropdown-menu {
  padding: 0;
}
.mat-drawer-container {
  background-color: #fff;
}

.alatech-ribbon {
  width: 100%;
  height: 90px;
  opacity: .9;
  background-color: #66abdd;
}

.alatech-ribbon--bg-blue {
  opacity: 1;
  background-color: #80d6ff;
}

.edit-event__form {
  position: relative;
}

.ala-lineframe__title {
  position: absolute;
  top: -12px;
  left: 25px;
  padding: 0px 10px;
  background-color: #fff;
  font-weight: 700;
}

.main-nav-toggle {
  position: relative;
  height: 34px;
  width: 34px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 400ms ease-in;
  display: flex;
}

.minimize-main-nav.main-nav-toggle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main-nav-toggle-icon {
  color: #fff;
  display: block;
  font-size: 44px;
  width: 44px;
}

.main-nav-toggle-icon.icon-svg_web-icon_p1_073-level_fold  {
  margin: 50% 0 0 50%;
  -webkit-transform: translate(-58%,-58%);
  -ms-transform: translate(-58%,-58%);
  transform: translate(-58%,-58%);
  text-align: center;
}

.navabar-color a {
  color: #fff;
}

.header__color {
  background-color: rgba(121, 125, 125, 1);
}

.ala-dashboard-header {
  color: #fff;
  height: 60px;
  padding: 0 10px 0 15px;
  position: fixed;
  top: 0;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  z-index: 6!important;
}
.mat-drawer {
  background-color: #1f2626;
  color: #fff;
  width: 270px;
}

.mat-expansion-panel-header-title {
  color: #fff;
}
.mat-expansion-panel {
  background-color: #1f2626;
  color: #fff;
}
.mat-expansion-panel-header.ala-expansion-panel-header {
  padding: 5px 15px 5px 20px;
  font-size: 16px;
}
.mat-drawer-container {
  min-height: 100vh;
  flex-shrink: 0;
  flex-basis: auto;
  position: initial;
  z-index: 3;
}

::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0px;
}


::ng-deep .ala-expansion-panel-header>.mat-expansion-indicator:after {
  color: #fff;
}

.ala-sidenav-icon {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 4px;
  @include transition(transform);
}
.mat-nav-list > li {
  list-style: none;
}
.ala-sidenav-item {
  list-style: none;
  /* padding: 5px 15px 5px 20px; */
  cursor: pointer;
}

.ala-sidenav-item:focus {
  outline: none;
}
.ala-sidenav-menu-item {
  list-style: none;
  padding: 5px 5px 5px 45px;
  /* padding: 5px 5px 5px 52px; */
}
.ala-sidenav-menu-item:focus {
  outline: none;
}

.ala-sidenav-menu-item:hover {
  background: #1e1e1e;
  cursor: pointer;
}

.mat-expansion-panel.mat-expansion-panel-spacing {
  background-color: #363c3c;
}
.ala-sidenav-item.ala-sidenav-menu-item__active,
.ala-sidenav-item.ala-sidenav-menu-item__active:focus,
.ala-sidenav-menu-item.ala-sidenav-menu-item__active,
.ala-sidenav-menu-item__active {
  outline: none;
  color: #9bf9ff
}

.ala-dashboard-logo {
  font-size:32px;
  line-height: 32px;
  margin: 16px 0px;
  /* margin: 16px 20px; */
  /* position: fixed; */
}

.navbar.ala-dashboard-nav{
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.mat-nav-list {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  position: relative;
  width: 100%;
  /* top: 60px; */
}
.minimize-main-nav .main-nav-list {
  overflow: hidden;
}
::ng-deep.mat-drawer-container {
  overflow: visible!important;

}
::ng-deep.mat-drawer-content {
  overflow: visible!important;
}
::ng-deep mat-drawer.mat-drawer.mat-drawer-side {
  z-index: 3;
}
.minimize-main-nav .ala-dashboard-nav .ala-dashboard-header {
  width: 100%;
}
.header-user-photo {
  width: 36px;
  height: 36px;
  min-height: 0;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-nav-item {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
.footer-details {
  color: #aaa;
  text-align: center;
  font-size: 12px;
  margin: 50px 0px 20px;
}

.mobile-menu-toggle {
  display: flex;
  padding: 7px 15px;
  margin-left: -15px;
  background-color: #404646;
}

.dropdown.show .dropdown-menu.dropdown-user-menu.show {
  top: -3px !important;
  left: 5px !important;
}

.toggle__btn {
  position: relative;
  @include transition(left);
}

.toggle__btn__move {
  @include transition(left);
}

.pin__icon {
  color: white;
  font-size: 20px;
}

.narrow__sidebar {
  width: 40px;
}

.small__side {
  display: none;
}

.navbar__list__title {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;

  & span {
    white-space: normal;
  }

}

.nav__color {
  color: white;
  padding: 2px 15px;
}

.drop__down {
  cursor: pointer;
  padding: 3px 0;
  display: flex;
  flex-wrap: nowrap;
}

.drop__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expand__navbar {
  display: flex;
  background-color: rgba(31, 38, 38, 1);
  z-index: 999;
  width: 270px;
  height: 100vh;
  @include transition(width);
}

.narrow__navbar {
  display: flex;
  width: 50px;
  @include transition(width);
}

.hide__navbar {
  width: 0px;
  @include transition(width);
}

.cover__mode {
  position: absolute;
  height: 100vh;
}

.navbar__list__content {
  max-height: 0;
  overflow: hidden;
  @include transition(max-height);
}

.expand__content {
  max-height: 200px;
  @include transition(max-height);
}

.expand--rotate {
  transform: rotate(180deg);
  @include transition(transform);
}

.dashboard__container {
  padding: 1vh 7vw;
}

/*********************************** media ********************************************/

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: initial;
  }
}

@media(max-width: 767px) {
  .footer-details.footer-rwd--1 {
    margin-bottom: 84px;
  }
  .footer-details.footer-rwd--2 {
    margin-bottom: 153px;
  }
  .footer-details.footer-rwd--3 {
    margin-bottom: 222px;
  }
  .footer-details.footer-rwd--4 {
    margin-bottom: 291px;
  }

  .main-nav-toggle {
    box-shadow: none;
  }

  .navbar.ala-dashboard-logo {
    display: none;
  }

  .main-nav-toggle {
    height: 44px;
    width: 44px;
  }

  .dashboard__container {
    padding: 0 2vw;
  }

}

@media(max-width: 370px) {
  .container {
    padding: 10px 5px 60px 5px;
  }

}

@media print {
  .main-body.preview {
    overflow: visible;
    height: fit-content;
  }

}

