.dashboard-rwd {
  padding-top: 80px;
}

.alatech-ribbon {
  width: 100%;
  height: 10px;
  opacity: .9;
  background-color: #66abdd;
}

.alatech-ribbon--bg-blue {
  opacity: 1;
  background-color: #157fcc;
}

