<section class="section">
  <div class="title_wrapper">
    <div class="title">搜尋結果</div>
    <div #fixReqStatus *ngIf="uiFlag.searchType == 'repair_form'" class="label_input">
      <label (click)="toggleDropdown('repairStatus')" class="edit_item_label pointer"
        >處理狀態</label
      >
      <div class="input_select input">
        <div
          class="foldable"
          [class.unfold]="repairOpt.showRepairStatusDropdown"
          (click)="toggleDropdown('repairStatus')"
        >
          {{ repairOpt.repairStatus }}
        </div>
        <div *ngIf="repairOpt.showRepairStatusDropdown" class="toggle_dropdown">
          <ul>
            <li
              *ngFor="let repairStatus of repairStatusList"
              (click)="selectStatus(repairStatus)"
              class="dropdown_list"
            >
              {{ repairStatus }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="uiFlag.orderList || repairOpt.filterFixReqList; else noData">
    <ng-container *ngIf="uiFlag.searchType == 'order'">
      <ng-container *ngFor="let order of uiFlag.orderList; let i = index">
        <div [routerLink]="['/equipment-management/order', order.order_no]" class="order_list">
          <div class="user">
            <i class="icon-svg_web-icon_p1_079-user user_icon"></i>
            <span class="user_name">{{ order.user_name }}</span>
          </div>
          <div class="detail_wrap">
            <div class="detail">
              <i class="icon-svg_web-icon_p1_082-information detail_icon"></i>
              <span class="detail_content">{{ order.order_no }}</span>
            </div>
            <div class="detail">
              <i class="icon-svg_web-icon_p1_039-phone detail_icon"></i>
              <span class="detail_content">{{ order.phone }}</span>
            </div>
            <div class="detail">
              <i class="icon-svg_web-icon_p1_034-home detail_icon"></i>
              <span class="detail_content">{{ order.address }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="uiFlag.searchType == 'repair_form'">
      <ng-container *ngFor="let fixReq of repairOpt.filterFixReqList">
        <div
          [routerLink]="['/equipment-management/maintenance-requirement', fixReq.repair_id]"
          class="order_list"
        >
          <div class="user">
            <i class="icon-svg_web-icon_p1_079-user user_icon"></i>
            <span class="user_name">{{ fixReq.user_name }}</span>
          </div>
          <div class="detail_wrap">
            <div class="detail">
              <i class="icon-svg_web-icon_p1_082-information detail_icon"></i>
              <span class="detail_content">{{ fixReq.repair_id }}</span>
            </div>
            <div class="detail">
              <i class="icon-svg_web-icon_p1_039-phone detail_icon"></i>
              <span class="detail_content">{{ fixReq.phone }}</span>
            </div>
            <div class="detail">
              <i class="icon-svg_web-icon_p1_034-home detail_icon"></i>
              <span class="detail_content">{{ fixReq.address }}</span>
            </div>
            <div class="detail">
              <span class="check detail_icon" [class.warning]="fixReq.status === 'undone'"></span>
              <span class="detail_content">{{ fixReq.status === 'done' ? '完成' : '未完成' }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <div class="nodata">無查詢結果</div>
  </ng-template>
</section>
