<div
  #filterSection
  class="filterSection"
  [class.reportPreviewMode]="uiFlag.isPreviewMode"
  [style.pointer-events]="uiFlag.isLoading ? 'none' : 'initial'"
>
  <!-- 點選篩選 -->
  <div class="flexRow filterBtn">
    <!-- 排序按鈕 -->
    <button class="order" (click)="openConditionSelector('order')">
      <i class="icon-svg_web-icon_p1_022-descending filterIcon"></i>
      <i
        class="icon-svg_web-icon_p1_006-unfold condition__unfold__icon"
        [class.condition__fold__icon]="uiFlag.showOrderSelector"
      ></i>
      <!-- 排序下拉選單 -->
      <div class="sortenBtns" *ngIf="uiFlag.showOrderSelector">
        <!--日期/時長/距離/平均心率 -->
        <ng-container *ngFor="let Btn of OrderBtns">
          <div
            class="order-Btn"
            [class.active]="uiFlag.orderType == Btn.orderType"
            (click)="chooseOrderType(Btn.orderType)"
          >
            {{ Btn.text | translate }}
          </div>
        </ng-container>
      </div>
    </button>
    <!-- 運動種類篩選 -->
    <section
      class="typeFilter"
      *ngIf="reportConditionOpt && ['sport', 'file'].includes(reportConditionOpt.pageType)"
    >
      <!-- 有ICON版 -->
      <div class="sport__type__selector">
        <button
          class="sport__type__button"
          *ngFor="let sport of sports"
          [class.type__button--active]="
            reportConditionOpt.sportType === 99 || reportConditionOpt.sportType === sport.type
          "
          (click)="handleClickSportType(sport.type)"
        >
          <ng-container *ngIf="sport.type === 99; else icon">
            <mat-icon class="sport__type__icon">done_all</mat-icon>
          </ng-container>

          <ng-container *ngIf="sport.type !== 99" #icon>
            <i class="icon-svg_web-icon_p{{ sport.icon }} sport__type__icon"> </i>
          </ng-container>

          <span class="sport__type__text">
            {{ sport.type | sportType | translate }}
          </span>
        </button>
      </div>
    </section>
    <!-- 篩選更多按鈕 -->
    <!-- <button class="filten" (click)="openConditionSelector('filten')">
      <i class="icon-svg_web-icon_p1_078-filter filterIcon"></i>
      <i
        class="icon-svg_web-icon_p1_006-unfold condition__unfold__icon"
        [class.condition__fold__icon]="uiFlag.showConditionSelector"
      ></i>
    </button> -->
  </div>
  <!-- 篩選下拉內容 -->
  <section class="ConditionSelector" *ngIf="uiFlag.showConditionSelector">
    <!-- 篩選日期 -->
    <div class="choose_date">
      <i class="time__icon icon-svg_web-icon_p2_019-time"></i>
      <!-- 預設時間 -->
      <div #selectOption class="select_option">
        <div (click)="dateSelect()" class="date_select">
          <span>{{ uiFlag.dateOption | translate }}</span>
        </div>
        <div class="date_option" [class.active]="uiFlag.isDateSelect">
          <ul>
            <li
              class="options"
              [class.active]="uiFlag.dateOption === dateOptions[option]"
              *ngFor="let option of getObjectKeys(dateOptions)"
              (click)="dateOption(option)"
            >
              {{ dateOptions[option] | translate }}
            </li>
          </ul>
        </div>
      </div>

      <!-- 自訂日期 -->
      <!-- startTime -->
      <div class="filter_start_time">
        <button mat-raised-button (click)="openStartDatePicker.open()">
          <input
            readonly
            matInput
            [matDatepicker]="openStartDatePicker"
            (dateChange)="changeStartTime($event.value)"
            [value]="FilterStartTime"
            [max]="FilterEndTime || maxTimestamp | timeFormat: 'YYYY-MM-DD'"
          />
        </button>
        <mat-datepicker [touchUi]="isMobile" #openStartDatePicker disabled="false"></mat-datepicker>
      </div>
      ~
      <!-- endTime -->
      <div class="filter_end_time">
        <button mat-raised-button (click)="openEndDatePicker.open()">
          <input
            readonly
            matInput
            [matDatepicker]="openEndDatePicker"
            (dateChange)="changeEndTime($event.value)"
            [value]="FilterEndTime"
            [min]="FilterStartTime"
            [max]="maxTimestamp | timeFormat: 'YYYY-MM-DD'"
          />
        </button>
        <mat-datepicker [touchUi]="isMobile" #openEndDatePicker disabled="false"></mat-datepicker>
      </div>
    </div>

    <!-- 群組篩選 -->
    <section
      class="flexCol condition__section"
      *ngIf="
        reportConditionOpt &&
        reportConditionOpt.group &&
        reportConditionOpt.brandType !== null &&
        (reportConditionOpt.group.brands !== null || reportConditionOpt.group.branches !== null)
      "
    >
      <h6 class="condition__title">{{ 'universal_group_group' | translate }}</h6>
      <div class="flexCol condition__content">
        <div class="flexCol" *ngIf="reportConditionOpt.group.brands !== null">
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 1">{{
            'universal_group_brand' | translate
          }}</span>
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 2">{{
            'universal_group_enterprise' | translate
          }}</span>
          <div class="flexRow">
            <button
              class="condition__btn"
              [class.condition__btn--active]="
                reportConditionOpt.group.brands.groupId.includes(
                  reportConditionOpt.group.selectGroup
                )
              "
              (click)="handleClickBrand()"
            >
              {{ reportConditionOpt.group.brands.groupName }}
            </button>
          </div>
        </div>
        <div class="flexCol" *ngIf="reportConditionOpt.group.branches !== null">
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 1">{{
            'universal_group_branch' | translate
          }}</span>
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 2">{{
            'universal_group_companyBranch' | translate
          }}</span>
          <div class="flexRowWrap">
            <button
              class="condition__btn"
              *ngFor="let _branches of reportConditionOpt.group.branches; let _branchIdx = index"
              [class.condition__btn--active]="
                _branches.groupId.includes(reportConditionOpt.group.selectGroup)
              "
              (click)="handleClickBranch(_branchIdx)"
            >
              {{ _branches.groupName }}
            </button>
          </div>
        </div>
        <div class="flexCol" *ngIf="reportConditionOpt.group.coaches.length > 0">
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 1">{{
            'universal_group_coachingClass' | translate
          }}</span>
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 2">{{
            'universal_group_department' | translate
          }}</span>
          <div class="flexRowWrap">
            <button
              class="condition__btn"
              *ngFor="let _coaches of reportConditionOpt.group.coaches; let _coachIdx = index"
              [class.condition__btn--active]="
                _coaches.groupId.includes(reportConditionOpt.group.selectGroup)
              "
              (click)="handleClickCoach(_coachIdx)"
            >
              {{ _coaches.groupName }}
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- 雲跑地圖篩選 -->
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'cloudRun'"
    >
      <h6 class="condition__title">{{ 'universal_activityData_map' | translate }}</h6>
      <div class="flexRow condition__content">
        <div class="flexRow radio__section map__child__block">
          <span class="flexRow radioSelector" (click)="changeMapListType('all')">
            <span class="radioBtn" [class.radioBtn--active]="uiFlag.mapListType === 'all'"></span>
            <span>{{ 'universal_adjective_all' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeMapListType('routine')">
            <span
              class="radioBtn"
              [class.radioBtn--active]="uiFlag.mapListType === 'routine'"
            ></span>
            <span>{{ 'universal_race_match' | translate }}</span>
          </span>
        </div>
        <div
          #dropMenu
          class="map__choice map__child__block"
          [style.pointer-events]="mapList && mapList.length !== 0 ? 'initial' : 'none'"
          (click)="showMapSelector($event)"
        >
          <span class="map__choosed__text" [class.map__choose--active]="uiFlag.showMapSelector">
            <ng-container *ngIf="uiFlag.mapListType === 'all'">
              <ng-container *ngIf="mapList && mapList.length !== 0; else loadingText">
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-tw'">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[0].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-cn'">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[1].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'es-es'">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[3].mapName }}
                </ng-container>
                <ng-container *ngIf="!['zh-tw', 'zh-cn', 'es-es'].includes(uiFlag.currentLanguage)">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[2].mapName }}
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="uiFlag.mapListType === 'routine'">
              <ng-container
                *ngIf="routineRaceList && routineRaceList.length !== 0; else loadingText"
              >
                {{ reportConditionOpt.cloudRun.month }}
              </ng-container>
            </ng-container>
            <ng-template #loadingText>Loading...</ng-template>
          </span>
          <div id="map__drop__list" class="flexCol" *ngIf="uiFlag.showMapSelector">
            <ng-container *ngIf="uiFlag.mapListType === 'all'">
              <span
                class="choice__item"
                style="text-align: left"
                *ngFor="let _mapInfo of mapList; let mapIndex = index"
                (click)="chooseMap(mapIndex + 1)"
              >
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-tw'">
                  {{ _mapInfo.info[0].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-cn'">
                  {{ _mapInfo.info[1].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'es-es'">
                  {{ _mapInfo.info[3].mapName }}
                </ng-container>
                <ng-container *ngIf="!['zh-tw', 'zh-cn', 'es-es'].includes(uiFlag.currentLanguage)">
                  {{ _mapInfo.info[2].mapName }}
                </ng-container>
              </span>
            </ng-container>
            <ng-container *ngIf="uiFlag.mapListType === 'routine'">
              <span
                class="choice__item"
                *ngFor="let _racelist of routineRaceList; let _idx = index"
                (click)="chooseRoutine(_idx)"
              >
                {{ _racelist.month }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="flexRow condition__content checkBoxBlock">
        <button
          id="finish__race"
          [class.checkBox--active]="reportConditionOpt.cloudRun.checkCompletion"
          (click)="changeCheckStatus()"
        >
          <span *ngIf="reportConditionOpt.cloudRun.checkCompletion">✔</span>
        </button>
        <label for="finish__race">
          {{ 'universal_operating_finished' | translate }} {{ 'universal_race_match' | translate }}
        </label>
      </div>
    </section>

    <!-- 性別篩選 -->
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'cloudRun' && uiFlag.isGroupPage"
    >
      <h6 class="condition__title">{{ 'universal_userProfile_gender' | translate }}</h6>
      <div class="flexRow condition__content">
        <div class="flexRow radio__section map__child__block">
          <span class="flexRow radioSelector" (click)="changeGender(null)">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.gender === null"
            ></span>
            <span>{{ 'universal_adjective_all' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeGender(Sex.male)">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.gender === Sex.male"
            ></span>
            <span>{{ 'universal_userProfile_male' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeGender(Sex.female)">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.gender === Sex.female"
            ></span>
            <span>{{ 'universal_userProfile_female' | translate }}</span>
          </span>
        </div>
      </div>
    </section>

    <!-- 年齡 -->
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'cloudRun' && uiFlag.isGroupPage"
    >
      <h6 class="condition__title">{{ 'universal_userProfile_age' | translate }}</h6>
      <div class="flexRow condition__content">
        <input
          class="age__input"
          type="text"
          placeholder="0"
          maxlength="3"
          (change)="handleAgeRange($event, 'min')"
        />
        ～
        <input
          class="age__input"
          type="text"
          placeholder="100"
          maxlength="3"
          (change)="handleAgeRange($event, 'max')"
        />
      </div>
      <span class="condition__content" style="font-size: 12px; color: red">
        *{{ 'universal_system_ageBasedOnReport' | translate }}
      </span>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.deviceType"
    >
      <h6 class="condition__title">{{ 'universal_deviceSetting_modeType' | translate }}</h6>
      <div class="flexRow condition__content" style="flex-wrap: wrap">
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('1')"
          (click)="selectDevice('1')"
        >
          {{ 'universal_vocabulary_wearableDevice' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('2')"
          (click)="selectDevice('2')"
        >
          {{ 'universal_vocabulary_treadmill' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('3')"
          (click)="selectDevice('3')"
        >
          {{ 'universal_vocabulary_spinBike' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('4')"
          (click)="selectDevice('4')"
        >
          {{ 'universal_vocabulary_rowingMachine' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('5')"
          (click)="selectDevice('5')"
        >
          {{ 'universal_vocabulary_sensor' | translate }}
        </button>
      </div>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.deviceUseStatus"
    >
      <h6 class="condition__title">{{ 'universal_group_status' | translate }}</h6>
      <div class="flexRow condition__content">
        <div class="flexRow radio__section map__child__block" style="flex-wrap: wrap">
          <span class="flexRow radioSelector" (click)="changeFitpairUse('all')">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.deviceUseStatus === 'all'"
            ></span>
            <span>{{ 'universal_adjective_all' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeFitpairUse('fitpairing')">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.deviceUseStatus === 'fitpairing'"
            ></span>
            <span id="fitpairing__mark">{{ 'universal_uiFitpair_fitpairing' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeFitpairUse('idle')">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.deviceUseStatus === 'idle'"
            ></span>
            <span>{{ 'universal_uiFitpair_noFitpaired' | translate }}</span>
          </span>
        </div>
      </div>
    </section>

    <!-- 關鍵字搜尋 -->
    <section
      class="condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'file'"
    >
      <i class="search_icon icon-svg_web-icon_p1_014-search"></i>
      <div class="condition__content">
        <input
          id="keyword"
          type="text"
          [placeholder]="'universal_activityData_keyword' | translate"
          (focusout)="handleKeywordInput($event)"
          (enter)="handleKeywordInput($event)"
          (change)="handleKeywordInput($event)"
        />
      </div>
    </section>

    <!-- 確定送出 -->
    <div
      style="display: flex; justify-content: flex-end"
      *ngIf="reportConditionOpt && !reportConditionOpt.hideConfirmBtn"
    >
      <button class="confirm__btn" (click)="submit()">
        {{ 'universal_operating_confirm' | translate }}
      </button>
    </div>
  </section>
</div>
