@import 'transition.scss';
@import 'flex-center.scss';
@import 'font.scss';
@import 'transform.scss';
@import 'z-index.scss';
@import 'min-size.scss';
@import 'color.scss';
@import 'screen-size.scss';
@import 'overflow-scroll.scss';

$active-color: rgba(38, 171, 227, 1);
$hover-bg-gray: rgba(240, 240, 240, 1);
$drop-list-width: 200px;

@mixin default-btn($bg-color) {
  @include center();
  @include transition(background-color);
  cursor: pointer;
  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
  background-color: $bg-color;
  @content;
}

@mixin condition-input($width) {
  width: $width;
  color: var(--scale-0-255);
  border-color: var(--scale-120-200);
  border-radius: 20px;
  border-color: rgba(17, 166, 235, 1);
  outline: none;
  padding-left: 10px;
}

// filterSection
.filterSection {
  width: 100%;
  margin: 0;
}

// 篩選按鈕
.filterBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .filten,
  .order {
    min-width: 50px;
    width: 75px;
    height: fit-content;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0 5px;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(180deg, rgb(223, 58, 58) 0%, rgb(197, 73, 184) 100%) border-box;
    cursor: pointer;
  }
  .typeFilter {
    width: 100%;
    margin: 10px 50px;
    @include l() {
      margin: 10px 20px;
    }
    @include s() {
      margin: 10px 10px;
    }
    @include xs() {
      overflow-y: auto;
      scroll-behavior: smooth;
      /* Firefox */
      scrollbar-width: thin;
      scrollbar-color: #f4a2b785 #ffffff;

      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #f4a2b785;
        border-radius: 5px;
        border: 2px solid #ffffff;
      }
    }
  }
}

.filterIcon {
  font-size: 25px;
}

.ConditionSelector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  @include m() {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }
}

// sortenBtns
.order {
  position: relative;
  .sortenBtns {
    // width
    width: 120px;
    height: fit-content;
    padding: 10px;
    // position
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 22;
    margin-top: 10px;
    @include xs() {
      margin-top: 5px;
    }
    // border
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(180deg, rgb(223, 58, 58) 0%, rgb(197, 73, 184) 100%) border-box;
    // display
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.order-Btn {
  width: 100%;
  text-align: left;
  &:hover {
    background: linear-gradient(270deg, #df3a3a 0%, #c549b8 100%);
    background: -webkit-linear-gradient(270deg, #df3a3a 0%, #c549b8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
  }
  &.active {
    background: linear-gradient(270deg, #df3a3a 0%, #c549b8 100%);
    background: -webkit-linear-gradient(270deg, #df3a3a 0%, #c549b8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
  }
}

// sportTyle with Icon
.sport__type__selector {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  @include xs() {
    flex-wrap: initial;
  }
}

.sport__type__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc(100% / 9);
  padding: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
  @include l() {
    flex: 0 0 20%;
  }
  @include s() {
    flex: 0 0 calc(100% / 3);
  }
}

.sport__type__icon {
  $size: 44px;
  font-size: $size;
  @include min-size($size, $size);
}

.type__button--active {
  color: black;
}

// sportTyle with Icon

.condition__unfold__icon {
  color: var(--scale-100-230);
  @include transition(transform);
  margin-left: 5px;
}

.condition__fold__icon {
  @include transition(transform);
  @include el-rotate(180deg);
}

#date__selector__bar {
  @include center();
  height: 50px;
  cursor: pointer;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.date__type__bar {
  @include transition(transform);
  height: 100%;
}

.selector__tab__title {
  @include center();
  color: var(--scale-75-230);
  font-size: 14px;
  padding: 0 24px;
  min-width: 160px;
  text-align: center;
  white-space: nowrap;
  height: 100%;

  &:hover {
    background-color: var(--scale-245-50);
  }
}

#shiftDate {
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  color: var(--scale-0-255);
}

.switch__btn {
  color: var(--scale-0-255);
  @include center();
  font-size: 24px;

  &:hover {
    background-color: var(--scale-245-50);
  }
}

.btn__disabled {
  color: var(--scale-200-130);
  pointer-events: none;
}

.report__time__btn {
  color: var(--scale-0-255);

  &[disabled] {
    color: var(--scale-200-130);
  }
}

.date__drop {
  align-items: center;
  min-width: 120px;
  width: fit-content;
  border: 1px solid rgba(210, 210, 210, 1);
  cursor: pointer;
  position: absolute;
  top: 50px;
  z-index: $drop-menu;
  background-color: var(--scale-255-60);
  color: var(--scale-0-255);
}

.calendar_period__option {
  padding: 5px 0;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: $active-color;
    color: white;
  }
}

.date__type--active {
  color: $active-color;
}

.date__selector--active {
  @include transition(transform);
  width: 160px;
  border-bottom: 3px solid $active-color;
  position: absolute;
  top: 45px;
}

.condition__section {
  display: flex;
  gap: 10px;
}

.search_icon {
  font-size: 24px;
}

.condition__title {
  @include subtitle-or-focus(16px);
}

.condition__subtitle {
  @include subtitle-color-custom(14px, var(--scale-75-230));
}

.condition__content {
  color: var(--scale-0-255);
}

.condition__btn {
  @include default-btn(rgba(190, 190, 190, 1));
  color: white;
  font-size: 14px;
  border-radius: 3px;

  &:hover {
    background-color: rgba(150, 150, 150, 1);
  }
}

.condition__btn--active {
  @include transition(background-color);
  color: black;
  background-color: rgba(255, 254, 169, 1);

  &:hover {
    background-color: rgba(255, 253, 120, 1);
  }
}

.confirm__btn {
  @include default-btn(rgba(38, 171, 227, 1));
  @include multiple-transition((top $move-effect, left $move-effect));
  position: relative;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(50, 190, 250, 1);
  }

  &:active {
    top: 2px;
    left: 2px;
    @include multiple-transition((top $move-effect, left $move-effect));
  }
}

.map__choice {
  display: flex;
  justify-content: center;
  min-width: $drop-list-width;
  width: fit-content;
  height: 30px;
  border: 1px solid;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
}

.map__choosed__text {
  padding: 2px 14px 2px 6px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: var(--scale-0-255) transparent transparent transparent;
    @include transition(transform);
  }
}

.map__choose--active {
  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }
}

.choice__item {
  padding: 2px;
  width: 100%;
  text-align: center;
  @include multiple-transition((color $move-effect, background-color $move-effect));

  &:hover {
    color: white;
    background-color: $active-color;
    @include multiple-transition((color $move-effect, background-color $move-effect));
  }
}

#map__drop__list {
  @include overflow-y-scroll();
  position: absolute;
  z-index: $drop-menu;
  background-color: var(--scale-255-60);
  border: 1px solid;
  padding: 5px 10px;
  min-width: $drop-list-width;
  max-height: 350px;
  top: 28px;
}

.map__child__block {
  margin: 5px 0;
}

.age__input {
  @include condition-input(50px);
}

#keyword {
  @include condition-input(200px);
}

#fitpairing__mark {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: #08d818;
    margin-right: 2px;
  }
}

//時間篩選
.choose_date {
  display: flex;
  align-items: center;
  gap: 5px;
  .time__icon {
    font-size: 24px;
    margin-right: 5px;
  }
}

.select_option {
  position: relative;

  .date_option {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);

    min-width: 100%;
    max-width: 100%;
    z-index: 4;
  }
}

.date_select {
  min-width: 100px;
  text-align: center;
  height: fit-content;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(180deg, rgb(223, 58, 58) 0%, rgb(197, 73, 184) 100%) border-box;
  outline: none;
  cursor: pointer;
  @media screen and (max-width: 576px) {
    min-width: 80px;
    max-width: 100px;
    > span {
      overflow-wrap: break-word;
    }
  }
}

.date_option {
  display: none;
  &.active {
    display: block;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 0 0 10px 10px;
    border-top: none;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(180deg, rgb(223, 58, 58) 0%, rgb(197, 73, 184) 100%) border-box;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      text-align: center;
      cursor: pointer;
      overflow-wrap: break-word; //外語長度過長
      &:not(:last-child) {
        margin-block-end: 5px;
      }
      &:hover {
        background-color: rgb(252, 230, 236);
        border-radius: 5px;
      }
      &.active {
        background-color: rgb(252, 230, 236);
        border-radius: 5px;
      }
    }
  }
}

.filter_start_time,
.filter_end_time {
  button {
    padding: 0;
  }
  input {
    max-width: 95px;
    text-align: center;
    height: fit-content;
    border-radius: 10px;
    padding: 0 5px;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(180deg, rgb(223, 58, 58) 0%, rgb(197, 73, 184) 100%) border-box;
    outline: none;
    cursor: pointer;
    @include m() {
      max-width: 100px;
    }
  }
}
