@import 'button.scss';
@import 'color.scss';
@import 'transform.scss';
@import 'transition.scss';
@import 'radio-btn.scss';
@import 'check-box.scss';
@import 'overflow-scroll';

$del-btn-size: 15px;
$btn-height: 30px;

.condition__type {
  font-weight: bold;
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  margin-bottom: 10px;
  color: var(--scale-0-255);
}

.conditon__content__area {
  margin: 0 0 10px 10px;
}

.condition__content {
  margin: 5px 0;

  > span,
  > label {
    margin: 5px 0;
    font-weight: bold;
    color: var(--scale-100-205);
  }

  > div {
    margin-left: 10px;
  }
}

.flexRow.condition__content {
  align-items: center;
}

.empty__warn {
  color: red !important;
}

.radioSelector {
  label {
    margin: 0;
  }
}

.radio__btn--active {
  @include radio-active(14px, $deep-blue);
}

.check__box--active {
  @include checkBox-active($deep-blue, white);
}

.checkBoxBlock {
  label {
    color: var(--scale-0-255);
  }
}

#advanced__condition {
  color: var(--scale-0-255);
  @include transition(transform);
}

.condition--unfolder {
  @include el-rotate(180deg);
  @include transition(transform);
}

#user,
#group {
  height: 28px;
}

.auto__completed__input {
  position: relative;
}

#auto__completed {
  position: absolute;
  max-height: 200px;
  border: 1px solid rgba(200, 200, 200, 1);
  z-index: 1;
  background-color: var(--scale-255-0);
  padding: 2px;
  width: 100%;
  @include overflow-y-scroll();

  > span {
    padding: 2px;
    color: var(--scale-0-255);
    cursor: pointer;

    &:hover {
      background-color: $deep-blue;
      color: white;
    }
  }
}

#condition__list {
  background-color: rgba(225, 225, 225, 1);
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
}

.del__condition__btn {
  border-radius: 50%;
  width: $del-btn-size;
  height: $del-btn-size;
  background-color: black;
  color: white;
  margin-right: 3px;
}

#defalut__btn {
  margin: 10px;
  @include button(16px, 1px solid var(--scale-150-180), rgba(0, 0, 0, 0)) {
    color: rgba(230, 150, 150, 1);
    height: $btn-height;
    border-radius: $btn-height;
  }

  &:hover {
    color: red;
  }
}

#confirm__btn {
  margin: 10px;
  opacity: 0.9;
  @include button(16px, 0, $deep-blue) {
    color: white;
    height: $btn-height;
    border-radius: $btn-height;
    width: 78px;
  }

  &:hover {
    opacity: 1;
  }
}

.condition__description {
  font-size: 12px;
  color: rgba(100, 100, 100, 1);
  margin-left: 5px !important;
}

.final__condition__list {
  align-items: center;
  border: 1px solid black;
  padding: 0 2px;
  background-color: rgba(188, 209, 255);
}
