<h3>
    {{'Dashboard.Settings.set' | translate}}
  <div class="device-hint"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
  >
    <mat-icon style="color: #157fcc">help</mat-icon>
    <div class="device-hint-box" *ngIf="isDisplayBox"
      (change)="handleCheckBox($event)"
    >
      {{deviceTip}}
    </div>
  </div>
</h3>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
  {{'Dashboard.Settings.set' | translate}}
</label>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.privacySettings.newAvtivityData' | translate}}
  </label>
  <div class="settings-control">
    <mat-checkbox
      color="primary"
      value="4"
      [checked]="activityTrackingStatus[0]"
      (change)="handleCheckBox($event, 1, 1)"
    ><span style="font-size: 14px">
      {{'Dashboard.privacySettings.objectOnly' | translate}}{{'Dashboard.privacySettings.myGym' | translate}}
    </span>
    </mat-checkbox>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.privacySettings.newAvtivityReport' | translate}}
  </label>
  <div class="settings-control">
    <mat-checkbox
      color="primary"
      value="4"
      [checked]="activityTrackingReportStatus[0]"
      (change)="handleCheckBox($event, 1, 2)"
    ><span style="font-size: 14px">
      {{'Dashboard.privacySettings.objectOnly' | translate}}{{'Dashboard.privacySettings.myGym' | translate}}
    </span>
    </mat-checkbox>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.privacySettings.newLifeTrackingReport' | translate}}
  </label>
  <div class="settings-control">
    <mat-checkbox
      color="primary"
      value="4"
      [checked]="lifeTrackingReportStatus[0]"
      (change)="handleCheckBox($event, 1, 3)"
    ><span style="font-size: 14px">
      {{'Dashboard.privacySettings.objectOnly' | translate}}{{'Dashboard.privacySettings.myGym' | translate}}
    </span>
    </mat-checkbox>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
{{'Dashboard.Settings.editAllDataPrivacy' | translate}}{{'SH.noOpen' | translate}}
</label>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.Settings.editAllAvtivityDataPrivacy' | translate}}
  </label>
  <div class="settings-control">
    <select class="form-field">
      <option> -- </option>
    </select>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.Settings.editAllAvtivityReportPrivacy' | translate}}
  </label>
  <div class="settings-control">
    <select class="form-field">
      <option> -- </option>
    </select>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.Settings.editAllLifeTrackingReport' | translate}}
  </label>
  <div class="settings-control">
    <select class="form-field">
      <option> -- </option>
    </select>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
{{'Dashboard.Settings.privacyArea' | translate}}{{'SH.noOpen' | translate}}
</label>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.Settings.privacyAreaDescription' | translate}}
  </label>
</div>

<div>
  <mat-tab-group  class="ala-tab-group">
    <mat-tab label="{{'Dashboard.Settings.yourPrivacyArea' | translate}}">
      <div style="width: 100%;text-align: center;margin: 44px 0px 22px">
        {{'Dashboard.Settings.areaDescription' | translate}}
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="area-add">add</mat-icon>
        {{'Dashboard.Settings.addArea' | translate}}
      </ng-template>
          <div  #gmap style="height: 400px;"></div>
    </mat-tab>
  </mat-tab-group>
</div>
