<h3>
  隱私權設定
  <div class="device-hint"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
  >
    <mat-icon style="color: #157fcc">help</mat-icon>
    <div class="device-hint-box" *ngIf="isDisplayBox">
    新增的活動詳細資料、運動報告或生活追蹤報告將設置為您在此選擇的隱私權等級。
    對外分享的體適能和健康資料可能包含您的心率和活動位置。您可以隨時可變更隱私權或回收。
    <br><br>
    隱私權選項
    <br>
    ○僅限自己：將只有您能看見。
    <br>
    ○僅限體適能教練：您同意的體適能教練才能看見。
    <br>
    ○僅限朋友：您的朋友能看見。
    <br>
    ○僅限朋友與群組：您的朋友與同群組夥伴都能看見。
    <br>
    ○每個人：一般大眾都將能看見
    </div>
  </div>
</h3>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
  目前隱私設定
</label>
<div class="control-list">
  <label class="ala-form__label settings-item">"新"運動活動資料：設定新活動詳細資料與路線的可見度。</label>
  <div class="settings-control">
    <select class="form-field">
      <option>僅限體適能教練</option>
      <option>僅限自己</option>
    </select>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">"新"運動期間報告：設定新活動期間報告的可見度。</label>
  <div class="settings-control">
    <select class="form-field">
      <option>僅限體適能教練</option>
      <option>僅限自己</option>
    </select>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">"新"生活追蹤期間報告：設定新生活追蹤期間報告的可見度。</label>
  <div class="settings-control">
    <select class="form-field">
      <option>僅限體適能教練</option>
      <option>僅限自己</option>
    </select>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
  修改所有資料隱私
</label>
<div class="control-list">
  <label class="ala-form__label settings-item">修改所有活動資料</label>
  <div class="settings-control">
    <select class="form-field">
      <option> -- </option>
    </select>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">修改所有運動期間報告</label>
  <div class="settings-control">
    <select class="form-field">
      <option> -- </option>
    </select>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item">修改所有生活追蹤期間報告</label>
  <div class="settings-control">
    <select class="form-field">
      <option> -- </option>
    </select>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
  隱私權區域
</label>
<div class="control-list">
  <label class="ala-form__label settings-item">
    在某個區域設定遮蔽隱私範圍，在公開分享活動時，可隱藏該區域範圍路線。
  </label>
</div>

<div>
  <mat-tab-group  class="ala-tab-group">
    <mat-tab label="您的隱私區域">
      <div style="width: 100%;text-align: center;margin: 44px 0px 22px">
        新增隱私區域讓您的位置保持隱藏。
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="area-add">add</mat-icon>
        新增區域
      </ng-template>
          <div  #gmap style="height: 400px;"></div>
    </mat-tab>
  </mat-tab-group>
</div>
