<h3>
    {{'Dashboard.Settings.set' | translate}}
  <div class="device-hint"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
  >
    <mat-icon style="color: #157fcc">help</mat-icon>
    <div class="device-hint-box" *ngIf="isDisplayBox">
      {{deviceTip}}
    </div>
  </div>
</h3>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
  {{'Dashboard.Settings.set' | translate}}
</label>
<div class="control-list">
  <label class="ala-form__label settings-item" [style.width]="showBatchChangeBox ? '100%': 'fit-content'">
    {{'Dashboard.privacySettings.newAvtivityData' | translate}}
    <app-hover-hint [type]="'sportsFile'" [leftPosition]="true" (showBox)="showBox($event)"></app-hover-hint>
  </label>
  <div class="settings-control flexCol">
    <div class="flexCol" style="margin-right: 20px;">
      <mat-radio-group>
        <mat-radio-button
          value="99"
          id="selectFileAll"
          color="primary"
          (click)="selectModifyRange('file', '99')"
        >
          {{'Dashboard.privacySettings.allMember' | translate}}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="activityTracking.showPerObj">
        <mat-checkbox
          id="selectFileObj"
          color="primary"
          [checked]="activityTracking.openObj.indexOf('4') >= 0"
          (click)="selectModifyRange('file', '4')"
        >
          {{ 'other.myObject' | translate }}
          {{ 'other.gymBrand' | translate }}
          /
          {{ 'other.company' | translate }}
          {{ 'Dashboard.Group.GroupInfo.administrator' | translate }}
        </mat-checkbox>
      </div>
    </div>
    <button class="alatech-btn alatech-btn--default confirmBtn"
      (click)="handlePrivacySetting('file')"
      *ngIf="activityTracking.showConfirmBtn"
    >
      {{'other.confirm' | translate}}
    </button>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item" [style.width]="showBatchChangeBox ? '100%': 'fit-content'">
    {{'Dashboard.privacySettings.newAvtivityReport' | translate}}
    <app-hover-hint [type]="'sportsReport'" [leftPosition]="true" (showBox)="showBox($event)"></app-hover-hint>
  </label>
  <div class="settings-control flexCol">
    <div class="flexCol" style="margin-right: 20px;">
      <mat-radio-group>
        <mat-radio-button
          value="99"
          id="selectSportReportAll"
          color="primary"
          (click)="selectModifyRange('sportReport', '99')"
        >
          {{'Dashboard.privacySettings.allMember' | translate}}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="activityTrackingReport.showPerObj">
        <mat-checkbox
          id="selectSportReportObj"
          color="primary"
          [checked]="activityTrackingReport.openObj.indexOf('4') >= 0"
          (click)="selectModifyRange('sportReport', '4')"
        >
          {{ 'other.myObject' | translate }}
          {{ 'other.gymBrand' | translate }}
          /
          {{ 'other.company' | translate }}
          {{ 'Dashboard.Group.GroupInfo.administrator' | translate }}
        </mat-checkbox>
      </div>
    </div>
    <button class="alatech-btn alatech-btn--default confirmBtn"
      (click)="handlePrivacySetting('sportFile')"
      *ngIf="activityTrackingReport.showConfirmBtn"
    >
      {{'other.confirm' | translate}}
    </button>
  </div>
</div>
<div class="control-list">
  <label class="ala-form__label settings-item" [style.width]="showBatchChangeBox ? '100%': 'fit-content'">
    {{'Dashboard.privacySettings.newLifeTrackingReport' | translate}}
    <app-hover-hint [type]="'lifeTrackingReport'" [leftPosition]="true" (showBox)="showBox($event)"></app-hover-hint>
  </label>
  <div class="settings-control flexCol">
    <div class="flexCol" style="margin-right: 20px;">
      <mat-radio-group>
        <mat-radio-button
          value="99"
          id="selectLifeTranckingAll"
          color="primary"
          (click)="selectModifyRange('lifeTracking', '99')"
        >
          {{'Dashboard.privacySettings.allMember' | translate}}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="lifeTrackingReport.showPerObj">
        <mat-checkbox
          id="selectLifeTranckingObj"
          color="primary"
          [checked]="lifeTrackingReport.openObj.indexOf('4') >= 0"
          (click)="selectModifyRange('lifeTracking', '4')"
        >
          {{ 'other.myObject' | translate }}
          {{ 'other.gymBrand' | translate }}
          /
          {{ 'other.company' | translate }}
          {{ 'Dashboard.Group.GroupInfo.administrator' | translate }}
        </mat-checkbox>
      </div>
    </div>
    <button class="alatech-btn alatech-btn--default confirmBtn"
      (click)="handlePrivacySetting('lifeTracking')"
      *ngIf="lifeTrackingReport.showConfirmBtn"
    >
      {{'other.confirm' | translate}}
    </button>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
  {{'other.batchEditPrivacy' | translate: {'object': editObject } }}
</label>
<div class="flexCol">
  <div
    class="batchModification"
    [style.width]="showBatchChangeBox ? '100%': 'fit-content'"
    (click)="showBatchModification('1')"
  >
    {{'other.eventArchive' | translate }}
    <app-hover-hint [type]="'sportsFile'" (showBox)="showBox($event)"></app-hover-hint>
  </div>
  <div
    class="batchModification"
    [style.width]="showBatchChangeBox ? '100%': 'fit-content'"
    (click)="showBatchModification('2')"
  >
    {{'other.sportsStatistics' | translate }}
    <app-hover-hint [type]="'sportsReport'" (showBox)="showBox($event)"></app-hover-hint>
  </div>
  <div
    class="batchModification"
    [style.width]="showBatchChangeBox ? '100%': 'fit-content'"
    (click)="showBatchModification('3')"
  >
    {{'other.lifeStatistics' | translate }}
    <app-hover-hint [type]="'lifeTrackingReport'" (showBox)="showBox($event)"></app-hover-hint>
  </div>
</div>
<hr>
<label class="ala-form__label settings-label"
  style="text-align: left"
>
{{'Dashboard.Settings.privacyArea' | translate}}{{'SH.noOpen' | translate}}
</label>
<div class="control-list">
  <label class="ala-form__label settings-item">
    {{'Dashboard.Settings.privacyAreaDescription' | translate}}
  </label>
</div>

<div>
  <mat-tab-group  class="ala-tab-group">
    <mat-tab label="{{'Dashboard.Settings.yourPrivacyArea' | translate}}">
      <div style="width: 100%;text-align: center;margin: 44px 0px 22px">
        {{'Dashboard.Settings.areaDescription' | translate}}
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="area-add">add</mat-icon>
        {{'Dashboard.Settings.addArea' | translate}}
      </ng-template>
          <div  #gmap style="height: 400px;"></div>
    </mat-tab>
  </mat-tab-group>
</div>
