.device-hint {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: calc(100% - 340px);
  .device-hint-box {
    position: absolute;
    border: 1px solid #ccc;
    top: 20px;
    left: 30px;
    max-width: 420px;
    width: 100%;
    height: auto;
    background-color: #feffe9;
    color: black;
    padding: 10px;
    font-size: 16px;
    line-height: 22px;
  }
}

.control-list {
  margin-bottom: 15px;
}
.ala-form__label.settings-item {
  margin-bottom: 10px;
}
.mat-tab-labels {
  justify-content: space-between;
  .mat-tab-label-active {
    padding: 5px;
    background-color: transparent;
    color: #222;
    opacity: 1;
    font-weight: 700;
    .mat-icon.area-add {
      color: #222;
    }
  }
}
.mat-icon.area-add {
  color: #888;
}
.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #26abe3;
}
