<div class="">
  <div class="d-flex justify-content-between" style="margin-bottom: 15px">
    <span style="color: #157fcc; font-weight:700">
      活動賽事自訂
    </span>
    <button class="alatech-btn alatech-btn--default" title="新增活動賽事"
      (click)="toCreatePage()"
    >
      新增活動賽事
    </button>
  </div>
  <table class="table alatech-table">
    <thead>
      <tr class="tr-only-hide">
        <th class="alatech-table__cell--head">主要競賽</th>
        <th class="alatech-table__cell--head">管理功能</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="events && events.length > 0">
          <tr *ngFor="let event of events;let idx = index">
            <td class="alatech-table__cell" data-th="">{{ event.event_name }}</td>
            <td class="alatech-table__cell" data-th="">
              <button class="icon-btn" (click)="toEdit(event.event_id)">
                <i class="fa fa-pencil-square-o icon_fa"></i>
              </button>
              <button class="icon-btn" (click)="remove(event.event_id, idx)">
                <i class="fa fa-trash-o icon_fa"></i>
              </button>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="events && events.length === 0">
          <td colspan="2" style="text-align: center">尚無活動賽事</td>
        </tr>
      </ng-container>
      <tr *ngIf="isLoading">
        <td class="alatech-table__cell" colspan="2" style="text-align: center">
          <div style="display:flex;justify-content: center;align-items: center;height:100%">
            <mat-spinner></mat-spinner>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
