<div class="d-flex justify-content-between" style="margin-bottom: 15px">
  <span style="color: #157fcc; font-weight:700">
    {{ "Dashboard.Group.SearchGroup.SearchGroup" | translate}}
  </span>
  <div class="group-edit-bar">
    <button class="alatech-btn alatech-btn--default" title="{{ 'Dashboard.Group.SearchGroup.Back' | translate}}"
      [routerLink]="['/dashboard/my-group-list']">
      {{ "Dashboard.Group.SearchGroup.Back" | translate}}
    </button>
  </div>
</div>
<mat-form-field>
  <mat-select [(value)]="groupLevel">
    <mat-option value="90">{{ "Dashboard.Group.SearchGroup.NormalGroup" | translate}}</mat-option>
    <mat-option value="30">{{ "Dashboard.Group.GroupInfo.Brand" | translate}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="{{ 'Dashboard.Group.SearchGroup.group-id-or-name' | translate}}"
    [matAutocomplete]="auto"
    [(ngModel)]="searchWords"
    name="searchWords"
  >
</mat-form-field>
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
<mat-option *ngFor="let option of infoOptions" [value]="option" (click)="selectTarget(option)">
  {{ option }}
</mat-option>
</mat-autocomplete>
<button mat-raised-button mat-icon-button
  class="mat-icon__rwd"
  style="background-color: #26abe3;color: #fff"
  (click)="getLists()"
  [disabled]="searchWords && searchWords.length === 0"
>
  <mat-icon>search</mat-icon>
</button>

<mat-table [dataSource]="logSource" matSort #sortTable="matSort">
  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef>{{ "Dashboard.Group.SearchGroup.Name" | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.groupName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" start="asc">
      {{ "Dashboard.Group.SearchGroup.Status" | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.groupStatus | groupStatus | translate }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['info', 'time']"></mat-header-row>
  <mat-row *matRowDef="let logRow; columns: ['info', 'time']" (click)="goDetail(logRow.groupId)">
  </mat-row>

</mat-table>
<div *ngIf="isEmpty" style="text-align: center;padding: 30px">
  {{ "SH.No-information" | translate}}
</div>
<div class="ala-loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-paginator #paginator [length]="totalCount" [pageIndex]="currentPage?.pageIndex" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]">
</mat-paginator>
<div class="group-manage__action">
  <button class="alatech-btn group-manage__btn" title="{{ 'Dashboard.Group.SearchGroup.Back' | translate}}"
    [routerLink]="['/dashboard/my-group-list']">
    {{ "Dashboard.Group.SearchGroup.Back" | translate}}
  </button>
</div>
