<div class="ala-formtext" [formGroup]="control" *ngIf="controlName">
  <input
    [type]="type"
    [maxLength]="maxLength"
    [value]="content"
    [formControlName]="controlName"
    [className]="isInvalid ? invalidClassName : class_name"
    [attr.disabled]="disabled ? '' : null"
    [placeholder]="placeholder"
    (keyup)="handleChange($event)"
    (keydown)="handleKeyDown($event)"
    [min]="min"
    [max]="max"
  />
  <app-form-remind
    *ngIf="remindText || (invalidRemindText && isInvalid)"
    [isInvalid]="isInvalid"
    [remindText]="remindText"
    [invalidRemindText]="invalidRemindText"
  >
  </app-form-remind>
</div>

<div class="ala-formtext" *ngIf="!controlName">
  <input
    [type]="type"
    [maxLength]="maxLength"
    [value]="content"
    [className]="isInvalid ? invalidClassName : class_name"
    [attr.disabled]="disabled ? '' : null"
    [placeholder]="placeholder"
    [min]="min"
    [max]="max"
  />
  <app-form-remind
    *ngIf="remindText || (invalidRemindText && isInvalid)"
    [isInvalid]="isInvalid"
    [remindText]="remindText"
    [invalidRemindText]="invalidRemindText"
  >
  </app-form-remind>
</div>
