<section style="margin-bottom: 30px;" class="flexCol">
  <button (click)="getDashBoardNeedInfo()">
    登入後資訊
  </button>
  <span>次數：{{ compareData.dashboard.normal.count }}</span>
  <span>單次花費時間：{{ compareData.dashboard.normal.costTime }}s</span>
  <span>平均花費時間：{{ compareData.dashboard.normal.avgTime }}s</span>
</section>
<section style="margin-bottom: 30px;" class="flexCol">
  <button (click)="getDashBoardNeedInfo_g()">
    登入後資訊（GraphQL）
  </button>
  <span>次數：{{ compareData.dashboard.graphql.count }}</span>
  <span>單次花費時間：{{ compareData.dashboard.graphql.costTime }}s</span>
  <span>平均花費時間：{{ compareData.dashboard.graphql.avgTime }}s</span>
</section>
<section style="margin-bottom: 30px;" class="flexCol">
  <button (click)="getGroupNeedInfo()">
    群組資訊
  </button>
  <span>次數：{{ compareData.group.normal.count }}</span>
  <span>單次花費時間：{{ compareData.group.normal.costTime }}s</span>
  <span>平均花費時間：{{ compareData.group.normal.avgTime }}s</span>
</section>
<section style="margin-bottom: 30px;" class="flexCol">
  <button (click)="getGroupNeedInfo_g()">
    群組資訊（GraphQL）
  </button>
  <span>次數：{{ compareData.group.graphql.count }}</span>
  <span>單次花費時間：{{ compareData.group.graphql.costTime }}s</span>
  <span>平均花費時間：{{ compareData.group.graphql.avgTime }}s</span>
</section>