#chartTitle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  color: var(--scale-75-230);
  margin-bottom: 0;

  &:after {
    content: '';
    border: 1px solid rgba(200, 200, 200, 1);
    margin-left: 10px;
    flex-grow: 1;
  }
}

.infoBlock {
  width: 40%;
}

#chartBlock {
  width: 100%;
}

#mainSeciton {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.infoSection {
  width: 50%;
  justify-content: center;
}

.dataNumber {
  color: var(--scale-0-255);
  font-weight: bold;
  font-size: 22px;
}

.dataDescription {
  color: var(--scale-150-180);
  font-size: 12px;
  color: rgba(120, 120, 120, 1);
}

.gforceX,
.gforceY,
.gforceZ {
  display: flex;
  align-items: center;

  &:after {
    content: '';
    display: block;
    margin-left: 10px;
    width: 16px;
    height: 4px;
  }
}

.gforcX {
  &:after {
    background-color: #6e9bff;
  }
}

.gforceY {
  &:after {
    background-color: #75f25f;
  }
}

.gforceZ {
  &:after {
    background-color: #ea5757;
  }
}

/*
 * 修正highchart列印時無法自適應頁面寬度而溢出的問題
 */
.printChartFix {
  margin-right: 150px;
}

.noChartData {
  font-weight: bold;
  color: grey;
}

.chartFigure {
  margin: 0;
}

/*********************************************** media ************************************/

@media (max-width: 767px) {
  #mainSeciton {
    flex-direction: column;
    margin: 0;
  }

  .infoBlock,
  #chartBlock {
    width: 100%;
  }

  #chartBlock {
    margin-top: 10px;
  }
}

/**
 * 處理列印時，highchart無法自適應等跑版問題
 */
@media print {
  #mainSeciton {
    flex-direction: row;
    margin-left: 0;
  }

  .infoBlock {
    width: 40%;
  }

  .infoSection {
    padding: 0 5px;
    word-break: break-word;
  }

  .dataNumber {
    font-size: 18px;
  }

  #chartBlock {
    width: initial;
    flex-shrink: 0;
  }
}
