#chartTitle {
  font-weight: bold;
  white-space: nowrap;
  color: var(--section-subtitle);
  margin-bottom: 0;

  &:after {
    content: '';
  }

}

.infoBlock {
  width: 40%;
}

#chartBlock {
  width: 100%;
}

#rowLine {
  height: 0;
  width: 100%;
  border: 1px solid var(--icon-border);
  margin-left: 10px;
}

#mainSeciton {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.infoSection {
  width: 50%;
  justify-content: center;
}

.dataNumber {
  color: var(--content);
  font-weight: bold;
  font-size: 22px;
}

.dataDescription {
  color: var(--description);
  font-size: 12px;
  color: rgba(120, 120, 120, 1);
}

.gforceX, .gforceY, .gforceZ {
  display: flex;
  align-items: center;
  
  &:after {
    content: '';
    display: block;
    margin-left: 10px;
    width: 16px;
    height: 4px;
  }

}

.gforcX {
  
  &:after {
    background-color: #6e9bff;
  }

}

.gforceY {
  
  &:after {
    background-color: #75f25f;
  }

}

.gforceZ {
  
  &:after {
    background-color: #ea5757;
  }

}


/*********************************************** media ************************************/

@media(max-width: 767px) {
  #mainSeciton {
    flex-direction: column;
  }

  .infoBlock, #chartBlock {
    width: 100%;
  }

  #chartBlock {
    margin-top: 10px;
  }

}

@media print {
  #mainSeciton {
    flex-direction: row;
  }

  .infoBlock {
    width: 40%;
  }
  
  #chartBlock {
    width: 100%;
    margin-top: 0;
  }

}