<div class="flexCol">
  <div class="flexRow appHeader" style="justify-content: space-between;">
    <i
      class="icon-svg_web-icon_p1_073-level_fold"
      style="font-size: 30px; cursor: pointer;"
      (click)="turnBack()"
    ></i>
    <span class="appview-header appview-header-position">
      {{ 'other.modify' | translate }} {{ 'Portal.account' | translate }}
    </span>
  </div>
  <div class="appDiv" style="min-height: initial;">
    <span class="app-alert" style="font-size: 20px; font-weight: bold;">{{ 'custom.changePassword' | translate }}</span>
    <span style="font-size: 14px; font-weight: bold;" *ngIf="editBody.editType === 1">
      {{ editBody.newEmail }}
    </span>
    <span style="font-size: 14px; font-weight: bold;" *ngIf="editBody.editType === 2">
      +{{ editBody.newCountryCode }} {{ editBody.newMobileNumber }}
    </span>
  </div>
  <div class="flexCol" style="margin-top: 10px;">
    <div class="flexCol appDiv" style="min-height: 120px;">
      <span class="formTitle">{{ 'Portal.password' | translate }}</span>
      <span style="border-bottom: 1px solid #d4d4d4; white-space: nowrap;">
        <input
          type="password"
          id="oldPassword"
          placeholder="{{ placeholder.oldPassword }}"
          [(ngModel)]="editBody.oldPassword"
          style="border-bottom: none; width: 95%;"
          (focusout)="checkPassword($event, 'oldPassword')"
        />
        <i
          class="icon-svg_web-icon_p1_081-watch"
          style="font-size: 24px; cursor: pointer;"
          [style.color]="displayPW.oldPassword ? 'black' : '#aaaaaa'"
          (click)="toggleDisplayPW('oldPassword')"
        ></i>
      </span>
      <span class="formCue" *ngIf="cue.password !== ''">{{ cue.oldPassword }}</span>
    </div>
    <div class="flexCol appDiv"  style="min-height: 120px;">
      <span class="formTitle">{{ 'other.newPassword' | translate }}</span>
      <span style="border-bottom: 1px solid #d4d4d4; white-space: nowrap;">
        <input
          type="password"
          id="newPassword"
          placeholder="{{ placeholder.newPassword }}"
          [(ngModel)]="editBody.newPassword"
          style="border-bottom: none; width: 95%;"
          (focusout)="checkPassword($event, 'newPassword')"
        />
        <i
          class="icon-svg_web-icon_p1_081-watch"
          style="font-size: 24px; cursor: pointer;"
          [style.color]="displayPW.newPassword ? 'black' : '#aaaaaa'"
          (click)="toggleDisplayPW('newPassword')"
        ></i>
      </span>
      <span class="formCue" *ngIf="cue.password !== ''">{{ cue.newPassword }}</span>
    </div>
    <div
      class="flexCol appDiv"
      [style.display]="imgCaptcha.show ? '' : 'none'"
    >
      <span class="formTitle">{{ 'Portal.imgCaptcha' | translate }}</span>
      <div class="flexRow">
        <input
          placeholder="{{ placeholder.imgCaptcha }}"
          (focusout)="checkImgCaptcha($event)"
        />
        <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
      </div>
      <span class="formCue" *ngIf="imgCaptcha.show && signupCue.imgCaptcha !== ''">
        {{ imgCaptcha.cue }}
      </span>
    </div>
  </div>
  <button
    class="appview-btn"
    [class.appview-btn-unclickable]="sending || dataIncomplete"
    (click)="submit()"
  >
    <span>{{ 'SH.send' | translate }}</span>
  </button>
</div>
