<ng-container *ngIf="!pcView">
  <app-loading-bar [progress]="progress"></app-loading-bar>
  <nav>
    <button class="flexRow appview-backButton" (click)="turnBack()">
      <i class="icon-svg_web-icon_p1_016-back"></i>
      <span>{{ 'universal_operating_back' | translate }}</span>
    </button>
  </nav>
  <main class="appview-whiteText">
    <div class="flexCol appview-contentArea">
      <h4
        [ngClass]="{
          'appview-tftPageTitle': !mobileSize,
          'appview-mobilePageTitle': mobileSize
        }"
      >
        {{ 'universal_operating_modify' | translate }}
        {{ 'universal_userAccount_password' | translate }}
      </h4>
      <div class="flexCol">
        <section class="flexCol appview-contentDetail">
          <h6 class="appview-sectionSubTitle">
            {{ 'universal_userAccount_account' | translate }}
          </h6>
          <p style="margin: 0" class="appview-breakAccount">
            <ng-container *ngIf="editBody.newAccountType === SignTypeEnum.email">
              {{ editBody.newEmail }}
            </ng-container>
            <ng-container *ngIf="editBody.newAccountType === SignTypeEnum.phone">
              +{{ editBody.newCountryCode }} {{ editBody.newMobileNumber }}
            </ng-container>
          </p>
        </section>
        <div class="flexCol appview-contentDetail">
          <label class="appview-inputLabel" for="appview__oldPassword">
            {{ 'universal_userAccount_password' | translate }}
          </label>
          <div class="flexRow appview-inputBorder">
            <input
              id="appview__oldPassword"
              class="appview-dataInput"
              [type]="displayPW.oldPassword ? 'text' : 'password'"
              [placeholder]="'universal_userAccount_enterOldPassword' | translate"
              maxlength="20"
              (focusout)="checkPassword($event, 'oldPassword')"
              (keypress)="checkPassword($event, 'oldPassword')"
            />
            <button class="appview-showPassword" (click)="toggleDisplayPW('oldPassword')">
              <i
                class="icon-svg_web-icon_p1_081-watch"
                [style.color]="
                  displayPW.oldPassword ? 'rgba(200, 200, 200, 1)' : 'rgba(100, 100, 100, 1)'
                "
              ></i>
            </button>
          </div>
          <p class="appview-alertHint">
            <ng-container *ngIf="cue.oldPassword !== ''">
              {{ cue.oldPassword | translate }}
            </ng-container>
          </p>
          <label class="appview-inputLabel" for="appview__newPassword">
            {{ 'universal_userAccount_newPassword' | translate }}
          </label>
          <div class="flexRow appview-inputBorder">
            <input
              id="appview__newPassword"
              class="appview-dataInput"
              [type]="displayPW.newPassword ? 'text' : 'password'"
              [placeholder]="
                'universal_userAccount_enterInfo'
                  | translate
                    : {
                        info: ('universal_userAccount_newPassword' | translate)
                      }
              "
              maxlength="20"
              (focusout)="checkPassword($event, 'newPassword')"
              (keypress)="checkPassword($event, 'newPassword')"
            />
            <button class="appview-showPassword" (click)="toggleDisplayPW('newPassword')">
              <i
                class="icon-svg_web-icon_p1_081-watch"
                [style.color]="
                  displayPW.newPassword ? 'rgba(200, 200, 200, 1)' : 'rgba(100, 100, 100, 1)'
                "
              ></i>
            </button>
          </div>
          <p class="appview-alertHint" [class.appview-hint]="cue.newPassword === ''">
            <ng-container *ngIf="cue.newPassword === ''">
              {{ 'universal_userAccount_passwordFormat' | translate }}
            </ng-container>
            <ng-container *ngIf="cue.newPassword !== ''">
              {{ cue.newPassword | translate }}
            </ng-container>
          </p>
          <div class="flexCol" *ngIf="imgCaptcha.show">
            <label class="appview-inputLabel" for="img__captcha">
              {{ 'universal_userAccount_imgCaptcha' | translate }}
            </label>
            <div class="flexRow">
              <input
                id="img__captcha"
                class="appview-dataInput appview-inputBorder"
                [placeholder]="'universal_userAccount_imgCaptcha' | translate"
                maxlength="8"
                (focusout)="checkImgCaptcha($event)"
                (keypress)="checkImgCaptcha($event)"
              />
              <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha" />
            </div>
            <p class="appview-alertHint">
              <ng-container *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
                {{ imgCaptcha.cue | translate }}
              </ng-container>
            </p>
          </div>
        </div>
        <div class="appview-buttonArea">
          <button
            class="appview-submitButton appview-right"
            [class.appview-unclickable]="progress !== 100 || dataIncomplete"
            (click)="submit()"
          >
            {{ 'universal_operating_confirm' | translate }}
          </button>
        </div>
      </div>
    </div>
  </main>
</ng-container>

<ng-container *ngIf="pcView">
  <div class="access-bg">
    <div class="container signup" style="padding: 63px 0 70px 0">
      <div class="d-flex" style="flex-direction: column; align-items: center">
        <div class="access-panel" style="margin-top: 30px">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%" />
          </header>
          <div class="access-panel-body">
            <div class="flexCol" style="min-height: initial">
              <span class="app-alert" style="font-size: 20px; font-weight: bold">
                {{ 'universal_userAccount_changingPassword' | translate }}
              </span>
              <span style="font-size: 14px; font-weight: bold" *ngIf="editBody.editType === 1">
                {{ editBody.newEmail }}
              </span>
              <span style="font-size: 14px; font-weight: bold" *ngIf="editBody.editType === 2">
                +{{ editBody.newCountryCode }} {{ editBody.newMobileNumber }}
              </span>
            </div>
            <div class="flexCol" style="margin-top: 10px">
              <div class="flexCol" style="min-height: 120px">
                <span class="access-text" style="margin-bottom: 10px">
                  {{ 'universal_userAccount_password' | translate }}
                </span>
                <input
                  [type]="displayPW.oldPassword ? 'text' : 'password'"
                  id="oldPassword"
                  placeholder="{{ 'universal_userAccount_enterOldPassword' | translate }}"
                  class="form-control"
                  maxlength="20"
                  [(ngModel)]="editBody.oldPassword"
                  (focusout)="checkPassword($event, 'oldPassword')"
                  (keypress)="checkPassword($event, 'oldPassword')"
                />
                <i
                  class="icon-svg_web-icon_p1_081-watch inputIcon"
                  style="top: -30px; left: 90%"
                  [style.color]="displayPW.oldPassword ? 'black' : '#aaaaaa'"
                  (click)="toggleDisplayPW('oldPassword')"
                ></i>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.oldPassword !== ''"
                  >{{ cue.oldPassword | translate }}</span
                >
              </div>
              <div class="flexCol" style="min-height: 120px">
                <span class="access-text" style="margin-bottom: 10px">{{
                  'universal_userAccount_newPassword' | translate
                }}</span>
                <input
                  [type]="displayPW.newPassword ? 'text' : 'password'"
                  id="newPassword"
                  placeholder="{{ 'universal_userAccount_keyInNewPassword' | translate }}"
                  class="form-control"
                  maxlength="20"
                  [(ngModel)]="editBody.newPassword"
                  (focusout)="checkPassword($event, 'newPassword')"
                  (keypress)="checkPassword($event, 'newPassword')"
                />
                <i
                  class="icon-svg_web-icon_p1_081-watch inputIcon"
                  style="top: -30px; left: 90%"
                  [style.color]="displayPW.newPassword ? 'black' : '#aaaaaa'"
                  (click)="toggleDisplayPW('newPassword')"
                ></i>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.newPassword !== ''"
                  >{{ cue.newPassword | translate }}</span
                >
              </div>
              <div class="flexCol" [style.display]="imgCaptcha.show ? '' : 'none'">
                <span class="access-text" style="margin-bottom: 10px">{{
                  'universal_userAccount_imgCaptcha' | translate
                }}</span>
                <div class="flexRow">
                  <input
                    placeholder="{{ imgCaptcha.placeholder }}"
                    class="form-control"
                    maxlength="8"
                    (focusout)="checkImgCaptcha($event)"
                    (keypress)="checkImgCaptcha($event)"
                  />
                  <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha" />
                </div>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''"
                >
                  {{ imgCaptcha.cue | translate }}
                </span>
              </div>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 20px;
                "
              >
                <a class="access-text" style="cursor: pointer" [routerLink]="[userSettingUrl]"
                  ><{{ 'universal_operating_back' | translate }}</a
                >
                <button
                  class="btn btn-primary access-btn"
                  [class.appview-unclickable]="progress !== 100 || dataIncomplete"
                  [style.background]="progress !== 100 || dataIncomplete ? '#2b819b54' : ''"
                  (click)="submit()"
                >
                  <span *ngIf="progress === 100">{{ 'universal_operating_send' | translate }}</span>
                  <i *ngIf="progress !== 100" class="fa fa-spinner fa-pulse"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
