<div class="access-bg">
  <div class="container signup" style="padding-top:63px">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description">
        在Ala Center上，獲得健體分析
        <br> 生活追蹤、即時分享與競賽樂趣
      </div>
      <div class="access-panel forget">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body">
          <form [formGroup]="form" (ngSubmit)="forget(f)" #f="ngForm"  novalidate>
            <ng-container *ngIf="!isEmailMethod">
              <div class="form-group">
                <div style="display: flex;justify-content: space-between;">
                  <label  class="access-text">帳號:
                  </label>
                  <a href="#" (click)="switchMethod($event)">使用電子信箱重設密碼></a>
                </div>
                <div style="display: flex">
                  <div style="width: 100%">
                    <app-intl-phone-input
                      (onChange)="onPhoneChange($event)"
                      [placeholder]="placeholder"
                      [control]="form"
                      [isPhoneInvalid]="(!form.controls['phone'].valid && form.controls['phone'].touched) || (f.submitted && form.get('phone').hasError('required'))"
                      [isCodeInvalid]="isCodeInvalid"
                    ></app-intl-phone-input>
                    <div class="form__message form__message--placeholder"
                      style="margin-left: 118px"
                      *ngIf="(!form.controls['phone'].valid && form.controls['phone'].touched) || (f.submitted && form.get('phone').hasError('required'))"
                    >
                      請輸入您的手機號碼
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isEmailMethod">
              <div class="form-group">
                <div style="display: flex;justify-content: space-between;">
                  <label for="exampleInputEmail1" class="access-text">帳號:
                  </label>
                  <a href="#" (click)="switchMethod($event)">使用手機號碼重設密碼></a>
                </div>
                <input formControlName="email"
                  class="form-control" id="exampleInputEmail1" type="email"
                  placeholder="輸入您的電子信箱"
                  [class.form-control--invalid]="(!form.controls['email'].valid && form.controls['email']?.touched) || (f.submitted &&
                  form.get('email').hasError('required'))"
                >
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['email'].hasError('required') && form.controls['email']?.touched) || (f.submitted && form.get('email').hasError('required'))"
                >
                  請輸入您的電子信箱
                </div>
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['email'].hasError('pattern') && form.controls['email']?.touched) || (f.submitted && form.get('email').hasError('required'))"
                >
                  請輸入正確的電子信箱格式
                </div>
              </div>
            </ng-container>
            <div class="form-group">
              <ng-container *ngIf="!isEmailMethod">
                <input formControlName="confirmPhone" type="tel"
                  class="form-control" placeholder="再次確認您的手機號碼"
                  autocomplete="off"
                  [class.form-control--invalid]="(!form.controls['confirmPhone'].valid && form.controls['confirmPhone'].touched) || (f.submitted &&
                  form.get('confirmPhone').hasError('required'))"
                >
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['confirmPhone'].hasError('required') && form.controls['confirmPhone'].touched) || (f.submitted && form.get('confirmPhone').hasError('required'))"
                >
                  請輸入您的手機號碼
                </div>
              <div class="form__message form__message--placeholder"
                *ngIf="(form.controls['confirmPhone'].errors?.equalValue && form.controls['confirmPhone'].touched) || (f.submitted && form.get('confirmPhone').errors?.equalValue)"
              >
                輸入的手機號碼不符合
              </div>
              </ng-container>
              <ng-container *ngIf="isEmailMethod">
                <input formControlName="confirmEmail" type="email"
                  class="form-control"
                  placeholder="再次確認您的電子信箱"
                  autocomplete="off"
                  [class.form-control--invalid]="(!form.controls['confirmEmail'].valid && form.controls['confirmEmail'].touched) || (f.submitted &&
                  form.get('confirmEmail').hasError('required'))"
                >
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['confirmEmail'].hasError('required') && form.controls['confirmEmail'].touched) || (f.submitted && form.get('confirmEmail').hasError('required'))"
                >
                  請輸入您的電子信箱
                </div>
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['confirmEmail'].hasError('pattern') && form.controls['confirmEmail'].touched) || (f.submitted && form.get('confirmEmail').hasError('required'))"
                >
                  請輸入正確的電子信箱格式
                </div>
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['confirmEmail'].errors?.equalValue && form.controls['confirmEmail'].touched) || (f.submitted && form.get('confirmEmail').errors?.equalValue)"
                >
                  電子信箱沒有相符
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="!isEmailMethod">
              <div class="form-group">
                <label for="exampleInputPassword1" class="access-text">簡訊驗證碼:</label>
                <div style="display: flex;justify-content: space-between;align-items: center">
                  <input formControlName="smsCode" type="text"
                    class="form-control"
                    style="width: 150px"
                    [class.form-control--invalid]="(form.controls['smsCode'].hasError('required') && form.controls['smsCode'].touched) || (f.submitted
                    && form.get('smsCode').hasError('required')) || isSMSCodeErr"
                  >
                  <div class="form__message form__message--placeholder"
                    *ngIf="isSMSCodeErr"
                  >
                    輸入錯的驗證碼
                  </div>
                  <a href="#"  (click)="sendSMSCode($event)" [class.ban-send]="isSMSCodSending">寄發簡訊驗證碼</a>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isEmailMethod">
              <div class="form-group">
                <label for="exampleInputPassword1" class="access-text">圖形驗證碼:</label>
                <div style="display: flex;justify-content: space-between;align-items: center">
                  <input formControlName="chartCode"
                    type="text" class="form-control"
                    style="width: 150px"
                    [class.form-control--invalid]="(form.controls['chartCode'].hasError('required') && form.controls['chartCode'].touched) ||
                    (f.submitted && form.get('chartCode').hasError('required') || isChartCodeErr)"
                  >
                  <div class="form__message form__message--placeholder"
                    *ngIf="isChartCodeErr"
                  >
                    輸入錯的驗證碼
                  </div>
                  <img *ngIf="randomCode"
                    [src]="randomCode?.randomCodeImg | safeHtml"
                    (click)="handleRandomCode()"
                    style="cursor:pointer"
                  >
                </div>
              </div>
            </ng-container>
            <div style="display: flex;justify-content: space-between;align-items: center;">
              <a *ngIf="isEmailMethod" class="access-text" href="#" style="cursor:pointer" (click)="switchMethod($event)">
                <返回
              </a>
              <a *ngIf="!isEmailMethod" class="access-text" style="cursor:pointer" [routerLink]="['/signin']">
                <返回
              </a>
              <app-confirm-button
                [className]="className"
                [content]="content"
                [disabled]="isForgetSending"
              >
              </app-confirm-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
