<ng-container>
  <div class="flexRow ctrlButton" style="margin: 10px 0px;">
    <span>
      <button
      type="button"
      class="alatech-btn alatech-btn--default activty-btn"
      [class.active]="calendarType === 'week'"
      (click)="switchCalendar('week')"
      >{{'other.week' | translate}}</button>
      <button
        type="button"
        class="alatech-btn alatech-btn--default activty-btn"
        [class.active]="calendarType === 'month'"
        (click)="switchCalendar('month')"
      >{{'other.month' | translate}}</button>
      <button
        type="button"
        class="alatech-btn alatech-btn--default activty-btn"
        (click)="switchCalendar('today')"
      >{{'other.today' | translate}}</button>
    </span>
    <div class="flexRow calendarRange" style="white-space: nowrap;">
      <button type="button" class="btn btn-default btn-sm move-day" (click)="switchCalendar('prev')">
        <i class="icon-svg_web-icon_p1_073-level_fold"></i>
      </button>
      <button type="button" class="btn btn-default btn-sm move-day" (click)="switchCalendar('next')">
        <i class="icon-svg_web-icon_p1_074-level_unfold"></i>
      </button>
      <span style="position: relative; top: 3px;" class="flexRow">
        {{calendarRange}}
        <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      </span>
    </div>
  </div>
  <div id="calendar" style="height: 800px;"></div>
</ng-container>
