<app-loading-bar [progress]="uiFlag.progress"></app-loading-bar>
<section class="flexCol main__section">
  <h4>{{ '聯絡我們' }}</h4>
  <div id="form__content" class="flexCol">
    <div class="flexRow content__input">
      <div class="flexCol user__info">
        <div class="flexCol">
          <div class="flexRow user__info__row">
            <mat-icon>person</mat-icon>
            <input
              type="text"
              [placeholder]="'您的稱呼*'"
              class="user__info__input"
              maxlength="24"
              (change)="handleNameInput($event)"
              (focusout)="handleNameInput($event)"
            >
          </div>
          <p class="hint__text" [class.form__alert]="formAlert.name">
            <ng-container *ngIf="formAlert.name === 'empty'">
              {{ 'universal_userAccount_fullField' | translate }}
            </ng-container>
          </p>
        </div>
        <div class="flexCol">
          <div class="flexRow user__info__row">
            <mat-icon>email</mat-icon>
            <input
              type="text"
              [placeholder]="'Email*'"
              class="user__info__input"
              maxlength="50"
              (change)="handleEmailInput($event)"
              (focusout)="handleEmailInput($event)"
            >
          </div>
          <p class="hint__text" [class.form__alert]="formAlert.email">
            <ng-container *ngIf="formAlert.email === 'empty'">
              {{ 'universal_userAccount_fullField' | translate }}
            </ng-container>
            <ng-container *ngIf="formAlert.email === 'format'">
              {{ 'universal_userAccount_emailFormat' | translate }}
            </ng-container>
          </p>
        </div>
        <div class="flexCol">
          <div class="flexRow user__info__row">
            <mat-icon>smartphone</mat-icon>
            <input
              type="text"
              [placeholder]="'聯絡電話*'"
              class="user__info__input"
              maxlength="20"
              (change)="handlePhoneInput($event)"
              (focusout)="handlePhoneInput($event)"
            >
          </div>
          <p class="hint__text" [class.form__alert]="formAlert.phone">
            <ng-container *ngIf="formAlert.phone === 'empty'">
              {{ 'universal_userAccount_fullField' | translate }}
            </ng-container>
            <ng-container *ngIf="formAlert.phone === 'format'">
              {{ 'universal_status_wrongFormat' | translate }}
            </ng-container>
          </p>
        </div>
      </div>
      <div>
        <textarea 
          id="contact__content__input"
          [class.form__alert]="formAlert.content === 'empty'"
          [placeholder]="'內容*'"
          maxlength="500"
          (change)="handleContentInput($event)"
          (focusout)="handleContentInput($event)"
        ></textarea>
      </div>
    </div>
    <div class="flexCol">
      <h5 [class.form__alert]="formAlert.contentType">
        {{ '主題類型' }}
      </h5>
      <div class="flexRow content__type__selector">
        <button
          [style.background-color]="
            contentInfo.contentType === ContentType.operation ? 'rgba(253, 246, 124, 1)' : ''
          "
          (click)="selectContentType(ContentType.operation)"
        >
          {{ '操作問題' }}
        </button>
        <button
          [style.background-color]="
            contentInfo.contentType === ContentType.paymentsProblem ? 'rgba(253, 246, 124, 1)' : ''
          "
          (click)="selectContentType(ContentType.paymentsProblem)"
        >
          {{ '付款問題' }}
        </button>
        <button
          [style.background-color]="
            contentInfo.contentType === ContentType.suggestion ? 'rgba(253, 246, 124, 1)' : ''
          "
          (click)="selectContentType(ContentType.suggestion)"
        >
          {{ '意見' }}
        </button>
        <button
          [style.background-color]="
            contentInfo.contentType === ContentType.other ? 'rgba(253, 246, 124, 1)' : ''
          "
          (click)="selectContentType(ContentType.other)"
        >
          {{ '其他' }}
        </button>
      </div>
    </div>
    <div class="flexRow form__operate__button">
      <button
        class="official-subButton"
        (click)="back()"
      >
        {{ 'universal_operating_back' | translate }}
      </button>
      <button
        class="official-submitButton"
        (click)="sendContent()"
      >
        {{ 'universal_operating_send' | translate }}
      </button>
    </div>
  </div>
</section>