<div class="groupImgCroppingMask" *ngIf="imgCropping"></div>
<div class="row">
  <!-- <span class="group-handle-name group-handle-name__rwd">
    {{'universal_operating_edit' | translate}}
    {{'universal_group_groupInfo' | translate}}
  </span> -->
  <div class="col-md-4 group-image--area">
    <app-upload-file
      [isImageFileMode]="true"
      [imageURL]="groupImg"
      [btnText]="'universal_operating_selectImg' | translate"
      [accept]="'universal_status_photoRestriction' | translate"
      (onChange)="handleAttachmentChange($event)"
    ></app-upload-file>
  </div>
  <div class="col-md-8">
    <form [formGroup]="form" (ngSubmit)="manage(f)" #f="ngForm" novalidate>
      <div class="group-edit-bar">
        <div style="color: #26abe3; font-weight:700">
          {{'universal_operating_edit' | translate}}
          {{'universal_group_groupInfo' | translate}}
        </div>
        <div class="rwd-btn_action">
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_group_applicationsForJoin' | translate}}"
            *ngIf="joinStatus === 0"
            (click)="handleActionGroup(1)"
          >
            {{'universal_group_applicationsForJoin' | translate}}
          </button>
          <button class="alatech-btn alatech-btn--default group-btn--waiting"
            title="{{'universal_group_cancelJoin' | translate}}"
            *ngIf="joinStatus === 1"
            (click)="handleActionGroup(2)"
          >
            {{'universal_group_cancelJoin' | translate}}
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_group_applicationForDissolution' | translate}}"
            *ngIf="joinStatus === 2 && groupLevel && groupLevel === 30 && maxAccessRight <= groupLevel"
            (click)="$event.preventDefault()"
            disabled
          >
            {{'universal_group_applicationForDissolution' | translate}}
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_operating_disband' | translate}} {{'universal_group_branch' | translate}}"
            *ngIf="(groupLevel && groupLevel === 40) && maxAccessRight <= groupLevel"
            (click)="dimissGroup($event, 2)"
          >
            {{'universal_operating_disband' | translate}}
            <span *ngIf="brandType == 1">{{'universal_group_branch' | translate}}</span>
            <span *ngIf="brandType == 2">{{'universal_group_companyBranch' | translate}}</span>
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_operating_disband' | translate}} {{'universal_group_coachingClass' | translate}}"
            *ngIf="(groupLevel && groupLevel === 60) && maxAccessRight <= groupLevel"
            (click)="dimissGroup($event, 3)"
          >
            {{'universal_operating_disband' | translate}}
            <span *ngIf="brandType == 1">{{'universal_group_coachingClass' | translate}}</span>
            <span *ngIf="brandType == 2">{{'universal_group_department' | translate}}</span>
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_operating_disband' | translate}} {{'universal_group_group' | translate}}"
            *ngIf="(groupLevel && groupLevel === 80) && maxAccessRight <= groupLevel"
            (click)="dimissGroup($event, 4)"
          >
            {{'universal_operating_disband' | translate}} {{'universal_group_group' | translate}}
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_group_addBranch' | translate}}"
            *ngIf="groupLevel && groupLevel === 30 && maxAccessRight <= groupLevel"
            (click)="goCreatePage(1, $event)"
          >
            <span *ngIf="brandType == 1">{{'universal_group_addBranch' | translate}}</span>
            <span *ngIf="brandType == 2">{{'universal_group_addBranchOffice' | translate}}</span>
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_group_addCoachingClass' | translate}}"
            *ngIf="groupLevel && (groupLevel === 30 || groupLevel === 40)
              && maxAccessRight <= groupLevel && (subBranchInfo && subBranchInfo.length > 0)"
            (click)="goCreatePage(2, $event)"
          >

            <span *ngIf="brandType == 1">{{'universal_group_addCoachingClass' | translate}}</span>
            <span *ngIf="brandType == 2">{{'universal_group_addDepartment' | translate}}</span>
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'universal_group_completeManagement' | translate}}"
            *ngIf="maxAccessRight <= groupLevel"
            type="submit"
            [disabled]="isGroupDetailLoading"
          >
            {{'universal_group_completeManagement' | translate}}
          </button>
        </div>
      </div>
      <div class="group-edit-area">
        <!-- <div class="ala-list__item">
          <label class="ala-form__label">
            {{ 'universal_group_groupId' | translate}}：
          </label>{{ group_id }}
        </div> -->
        <div class="ala-list__item">
          <label class="ala-form__label form__label--required">
            {{ 'universal_activityData_name' | translate}}：
          </label>
          <app-form-text
            [content]="groupInfo?.groupName"
            [maxLength]="32"
            [remindText]="'universal_status_noMoreCharacters' | translate: {'number': '32' }"
            [disabled]="isGroupDetailLoading"
            [invalidRemindText]="'universal_userAccount_fullField' | translate"
            [control]="form"
            [controlName]="formTextName"
            [isInvalid]="(!groupName.valid && groupName.touched) || (f.submitted && groupName.hasError('required')) || (f.submitted && groupName.hasError('maxLength'))"
          >
          </app-form-text>
        </div>
        <div class="ala-list__item">
          <label class="ala-form__label">{{ 'universal_group_status' | translate}}：</label>
          <select class="form-field"
            formControlName="groupStatus"
            [attr.disabled]="isGroupDetailLoading ? '' : null"
          >
            <option value="1" class="form-field-option">{{ 'universal_group_freeToJoin' | translate}}</option>
            <option value="2" class="form-field-option">{{ 'universal_group_auditSystem' | translate}}</option>
            <option value="3" class="form-field-option">{{ 'universal_operating_hide' | translate}}</option>
          </select>
        </div>
        <div class="ala-list__item">
          <label class="ala-form__label form__label--required">
            {{ 'universal_group_introduction' | translate}}：
          </label>
          <div class="ala-form__col">
            <app-form-textarea
              [maxLength]="textareaMaxLength"
              [content]="groupInfo?.groupDesc"
              [control]="form"
              [controlName]="formTextareaName"
              [disabled]="isGroupDetailLoading"
              (onChange)="handleChangeTextarea($event, 1)"
              [isHadCount]="true"
              [isInvalid]="(!groupDesc.valid && groupDesc.touched) || (f.submitted && groupDesc.hasError('required')) || (f.submitted && groupDesc.hasError('maxLength'))"
            >
            </app-form-textarea>
          </div>
        </div>
        <div class="ala-list__item"
          *ngIf="groupLevel === 60"
        >
          <label class="ala-form__label">
            {{ 'universal_live_liveLink' | translate}}：
          </label>
          <div class="ala-form__col"
            style="position: relative;"
          >
            <ng-container *ngIf="!isVideoEdit">
              <app-form-text
                [maxLength]="9999999999"
                [content]="videoUrl"
                [disabled]="isGroupDetailLoading"
                [remindText]="'universal_live_liveEmbeddedStatement' | translate"
                [invalidRemindText]="inValidText"
                (onChange)="handleChangeTextarea($event, 2)"
                [control]="form"
                [controlName]="formUrlName"
              >
              </app-form-text>
            </ng-container>
            <!-- <a
              href="https://www.youtube.com/embed/plDqw6o0LXg"
              *ngIf="isVideoEdit"
              target="_blank"
            > -->
            <a
              [attr.href]="videoUrl | safeHtml"
              *ngIf="isVideoEdit"
              target="_blank"
            >
            {{ 'universal_live_liveLink' | translate}}
            </a>
            <mat-icon style="position: absolute;cursor:pointer"
              (click)="switchVideoLink()"
              *ngIf="isVideoEdit"
            >
              link
            </mat-icon>
            <mat-icon style="position: absolute;cursor:pointer;right: -30px;top: 4px;"
              (click)="switchVideoLink()"
              *ngIf="!isVideoEdit && videoUrl.length > 0"
            >
              visibility
            </mat-icon>
            <!-- <mat-icon style="color: #2DC66D;position: absolute;right: -30px;top: 4px;"
              *ngIf="isVideoEdit"
            >
              check_circle
            </mat-icon> -->
          </div>
        </div>
      </div>
      <div>
        <mat-tab-group class="ala-tab-group"
          (selectedTabChange)="changeGroupInfo($event)"
          [selectedIndex]="0"
        >
          <mat-tab label="{{ 'universal_group_subgroup' | translate }}"
            *ngIf="groupLevel !== 80"
          >
            <ng-container *ngIf="!isLoading">
              <label style="color: #26abe3; font-weight: 700; margin-bottom: 15px" *ngIf="brandType == 1">
                {{ 'universal_group_brand' | translate }}
              </label>
              <label style="color: #26abe3; font-weight: 700; margin-bottom: 15px" *ngIf="brandType == 2">
                {{ 'universal_group_enterprise' | translate}}
              </label>

              <div style="margin-bottom: 15px">
              <span *ngIf="subBrandInfo && subBrandInfo.length === 0">{{'universal_status_noData' | translate}}</span>
                <ng-container  *ngFor="let subBrandItem of subBrandInfo">
                  <app-member-capsule
                    [isSubGroupInfo]="true"
                    [isHadMenu]="maxAccessRight <= 20 || maxAccessRight === 30"
                    [title]="subBrandItem?.groupName"
                    [memberInfo]="subBrandItem"
                    [name]="subBrandItem && subBrandItem?.groupName"
                    [icon]="subBrandItem?.groupIcon"
                    [groupId]="subBrandItem?.groupId"
                    [groupLevel]="groupLevel"
                    [brandType]="this.brandType"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>

              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 1">
                {{ 'universal_group_branch' | translate}}
              </label>
              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 2">
                {{ 'universal_group_companyBranch' | translate}}
              </label>
              <div style="margin-bottom: 15px">
                <span *ngIf="subBranchInfo && subBranchInfo.length === 0">{{'universal_status_noData' | translate}}</span>
                <ng-container  *ngFor="let subBranchItem of subBranchInfo">
                  <app-member-capsule
                    [isSubGroupInfo]="true"
                    [isHadMenu]="maxAccessRight <= 20 || (maxAccessRight >= 30 && maxAccessRight <= 40)"
                    [title]="subBranchItem?.groupName"
                    [memberInfo]="subBranchItem"
                    [name]="subBranchItem && subBranchItem?.groupName"
                    [icon]="subBranchItem?.groupIcon"
                    [groupId]="subBranchItem?.groupId"
                    [groupLevel]="groupLevel"
                    [brandType]="this.brandType"
                    (onRemoveGroup)="handleRemoveGroup($event, 2)"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>

              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 1">
                {{ 'universal_group_coachingClass' | translate}}
              </label>
              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 2">
                {{ 'universal_group_department' | translate}}
              </label>
              <div style="margin-bottom: 15px">
                <span *ngIf="subCoachInfo && subCoachInfo.length === 0">{{'universal_status_noData' | translate}}</span>
                <ng-container  *ngFor="let subCoachItem of subCoachInfo">
                  <app-member-capsule
                    [isSubGroupInfo]="true"
                    [isHadMenu]="maxAccessRight <= 20 || (maxAccessRight >= 30 && maxAccessRight <= 60)"
                    [title]="subCoachItem?.groupName"
                    [memberInfo]="subCoachItem"
                    [name]="subCoachItem && subCoachItem?.groupName"
                    [icon]="subCoachItem?.groupIcon"
                    [groupId]="subCoachItem?.groupId"
                    [groupLevel]="groupLevel"
                    [brandType]="this.brandType"
                    (onRemoveGroup)="handleRemoveGroup($event, 3)"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'universal_group_administrator' | translate}}">
            <ng-container *ngIf="!isLoading">
              <ng-container *ngIf="groupLevel && groupLevel !== 80">
                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 1">
                  {{ 'universal_group_brandAdministrator' | translate}}
                </label>
                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 2">
                  {{ 'universal_group_companyAdmin' | translate}}
                </label>
                <div style="margin-bottom: 15px">
                  <span *ngIf="brandAdministrators && brandAdministrators.length === 0">{{'universal_status_noData' | translate}}</span>
                  <ng-container  *ngFor="let brandAdmItem of brandAdministrators">
                    <app-member-capsule
                      [isAdminInfo]="true"
                      [isHadMenu]="maxAccessRight <= 29"
                      [title]="brandAdmItem?.memberName"
                      [memberInfo]="brandAdmItem"
                      [name]="brandAdmItem && brandAdmItem?.memberName"
                      [icon]="brandAdmItem?.memberIcon"
                      [groupId]="brandAdmItem?.groupId"
                      [userId]="brandAdmItem?.memberId"
                      [brandType]="brandType"
                      (onRemoveAdmin)="handleRemoveAdmin($event, 1, brandAdmItem?.groupId)"
                    >
                    </app-member-capsule>
                  </ng-container>
                </div>

                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 1">
                  {{ 'universal_group_branchAdministrator' | translate}}
                </label>
                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 2">
                  {{ 'universal_group_branchAdmin' | translate}}
                </label>
                <div style="margin-bottom: 15px">
                  <span *ngIf="branchAdministrators && branchAdministrators.length === 0">{{'universal_status_noData' | translate}}</span>
                  <ng-container  *ngFor="let branchAdmItem of branchAdministrators">
                    <app-member-capsule
                      [isAdminInfo]="true"
                      [isHadMenu]="maxAccessRight <= 40"
                      [title]="branchAdmItem?.memberName"
                      [memberInfo]="branchAdmItem"
                      [name]="branchAdmItem && branchAdmItem?.memberName"
                      [icon]="branchAdmItem?.memberIcon"
                      [groupId]="branchAdmItem?.groupId"
                      [userId]="branchAdmItem?.memberId"
                      [brandType]="this.brandType"
                      (onRemoveAdmin)="handleRemoveAdmin($event, 2, branchAdmItem?.groupId)"
                    >
                    </app-member-capsule>
                  </ng-container>
                </div>
                <ng-container *ngIf="groupLevel !== 60">
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 1">
                    {{ 'universal_group_coachingClass' | translate}}
                    {{ 'universal_group_administrator' | translate}}
                  </label>
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 2">
                    {{ 'universal_group_departmentAdmin' | translate}}
                  </label>
                  <div style="margin-bottom: 15px" >
                    <span *ngIf="coachAdministrators && coachAdministrators.length === 0">{{'universal_status_noData' | translate}}</span>
                    <ng-container  *ngFor="let coachAdmItem of coachAdministrators">
                      <app-member-capsule
                        [isHadMenu]="maxAccessRight <= 50"
                        [isAdminInfo]="true"
                        [title]="coachAdmItem?.memberName"
                        [memberInfo]="coachAdmItem"
                        [name]="coachAdmItem && coachAdmItem?.memberName"
                        [icon]="coachAdmItem?.memberIcon"
                        [groupId]="coachAdmItem?.groupId"
                        [userId]="coachAdmItem?.memberId"
                        [brandType]="this.brandType"
                        (onRemoveAdmin)="handleRemoveAdmin($event, 3, coachAdmItem?.groupId)"
                      >
                      </app-member-capsule>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="groupLevel === 60">
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 1">
                    {{ 'universal_group_teacher' | translate}}
                  </label>
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 2">
                    {{ 'universal_group_administrator' | translate}}
                  </label>
                  <div style="margin-bottom: 15px">
                    <span *ngIf="normalCoaches && normalCoaches.length === 0">{{'universal_status_noData' | translate}}</span>
                    <ng-container *ngFor="let normalCoachAdmItem of normalCoaches">
                      <app-member-capsule
                        [isHadMenu]="maxAccessRight <= 60"
                        [isAdminInfo]="true"
                        [title]="normalCoachAdmItem?.memberName"
                        [memberInfo]="normalCoachAdmItem"
                        [name]="normalCoachAdmItem && normalCoachAdmItem?.memberName"
                        [icon]="normalCoachAdmItem?.memberIcon"
                        [groupId]="normalCoachAdmItem?.groupId"
                        [userId]="normalCoachAdmItem?.memberId"
                        [brandType]="this.brandType"
                        (onRemoveAdmin)="handleRemoveAdmin($event, 4, normalCoachAdmItem?.groupId)"
                      >
                      </app-member-capsule>
                    </ng-container>
                  </div>
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 1">
                    {{ 'universal_group_coach' | translate}}
                  </label>
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px" *ngIf="brandType == 2">
                    {{ 'universal_group_departmentAdmin' | translate}}
                  </label>
                  <div style="margin-bottom: 15px">
                    <span *ngIf="PFCoaches && PFCoaches.length === 0">{{'universal_status_noData' | translate}}</span>
                    <ng-container *ngFor="let pfCoachAdmItem of PFCoaches">
                      <app-member-capsule
                        [isHadMenu]="maxAccessRight <= 50"
                        [isAdminInfo]="true"
                        [title]="pfCoachAdmItem?.memberName"
                        [memberInfo]="pfCoachAdmItem"
                        [name]="pfCoachAdmItem && pfCoachAdmItem?.memberName"
                        [icon]="pfCoachAdmItem?.memberIcon"
                        [groupId]="pfCoachAdmItem?.groupId"
                        [userId]="pfCoachAdmItem?.memberId"
                        [brandType]="this.brandType"
                        (onRemoveAdmin)="handleRemoveAdmin($event, 4, pfCoachAdmItem?.groupId)"
                      >
                      </app-member-capsule>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="groupLevel && groupLevel === 80">
                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                  {{ 'universal_group_administrator' | translate}}
                </label>
                <div style="margin-bottom: 15px" >
                  <span *ngIf="groupInfos && groupInfos.length === 0">{{'universal_status_noData' | translate}}</span>
                  <ng-container  *ngFor="let item of groupInfos">
                    <app-member-capsule
                      [isAdminInfo]="true"
                      [title]="item?.memberName"
                      [memberInfo]="item"
                      [name]="item && item?.memberName"
                      [icon]="item?.memberIcon"
                      [brandType]="this.brandType"
                    >
                    </app-member-capsule>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'universal_group_generalMember' | translate}}">
            <ng-container *ngIf="!isLoading">
              <span *ngIf="normalMemberInfos && normalMemberInfos.length === 0">{{'universal_status_noData' | translate}}</span>
              <ng-container  *ngFor="let item of normalMemberInfos">
                <div style="margin-bottom: 15px;display:inline-block">
                  <app-member-capsule
                    [isNormalMemberInfo]="true"
                    [isHadMenu]="maxAccessRight <= groupLevel"
                    [title]="item?.memberName"
                    [memberInfo]="item"
                    [name]="item && item?.memberName"
                    [icon]="item?.memberIcon"
                    [groupId]="item?.groupId"
                    [userId]="item?.memberId"
                    [groupLevel]="groupLevel"
                    (onAssignAdmin)="handleAssignAdmin($event)"
                    (onRemoveAdmin)="handleRemoveAdmin($event, 5, item?.groupId)"
                    [coachType]="groupInfo?.coachType"
                    [brandType]="brandType"
                  >
                  </app-member-capsule>
                </div>
              </ng-container>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'universal_group_pendingMember' | translate}}">
            <ng-container *ngIf="!isLoading">
              <span *ngIf="groupInfos && groupInfos.length === 0">{{'universal_status_noData' | translate}}</span>
              <ng-container  *ngFor="let item of groupInfos">
                <div style="margin-bottom: 15px;display:inline-block">
                  <app-member-capsule
                    [isWaittingMemberInfo]="true"
                    [isHadMenu]="maxAccessRight <= groupLevel"
                    [title]="item?.memberName"
                    [memberInfo]="item"
                    [name]="item && item?.memberName"
                    [icon]="item?.memberIcon"
                    [groupId]="item?.groupId"
                    [userId]="item?.memberId"
                    [groupLevel]="groupLevel"
                    [brandType]="this.brandType"
                    (onWaittingMemberInfoChange)="handleWaittingMemberInfo($event)"
                  >
                  </app-member-capsule>
                </div>
              </ng-container>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </form>
  </div>
</div>
