<section class="flexCol">
  <ng-container *ngIf="['cloudrun', 'sportReport'].includes(page)">
    <div class="flexRow" style="align-items: center; justify-content: space-between;">
      <h6 id="chartTitle">
        <ng-container *ngIf="data.maxX || data.maxY || data.maxZ">
          {{ 'universal_adjective_maxBig' | translate }}
        </ng-container>
        {{ chartType | dataTypeTranslate: [1, unit] | translate }}
      </h6>
      <span id="rowLine"></span>
    </div>
  </ng-container>
    <main id="mainSeciton">
      <ng-container *ngIf="['cloudrun'].includes(page)">
      <div class="flexRow infoBlock" style="justify-content: space-between;">
        <div class="flexCol infoSection">
          <span class="dataNumber">
            <ng-container *ngIf="data.oneRangeBestHR || data.oneRangeBestHR === 0">
              {{ data.oneRangeBestHR }} {{ chartType | dataTypeUnit: [1, unit] }}
            </ng-container>
            <ng-container *ngIf="data.maxHr || data.maxHr === 0">
              {{ data.maxHr | number: '1.0-0' }} {{ chartType | dataTypeUnit: [1, unit] }}
            </ng-container>
            <ng-container *ngIf="data.maxPower || data.maxPower === 0">
              {{ data.maxPower | thousandConversion: 'w' }}
            </ng-container>
            <ng-container *ngIf="data.maxX || data.maxX === 0">
              {{ data.maxX | number: '1.0-3' }} g
            </ng-container>
            <ng-container *ngIf="data.maxY || data.maxY === 0">
              {{ data.maxY | number: '1.0-3' }} g
            </ng-container>
            <ng-container *ngIf="data.maxZ || data.maxZ === 0">
              {{ data.maxZ | number: '1.0-3' }} g
            </ng-container>
          </span>
          <span class="dataDescription">
            <ng-container *ngIf="!chartName.toLowerCase().includes('extreme')">
              {{ 'universal_adjective_maxHight' | translate }}
            </ng-container>
            <ng-container *ngIf="!chartName.toLowerCase().includes('extreme')">
              {{ chartType | dataTypeTranslate: [1, unit] | translate }}
            </ng-container>
            <ng-container *ngIf="data.maxX || data.maxX === 0">
              {{ 'universal_activityData_maxRight' | translate }}
            </ng-container>
            <ng-container *ngIf="data.maxY || data.maxY === 0">
              {{ 'universal_activityData_maxAcceleration' | translate }}
            </ng-container>
            <ng-container *ngIf="data.maxZ || data.maxZ === 0">
              {{ 'universal_activityData_maxJump' | translate }}
            </ng-container>
          </span>
        </div>
        <div class="flexCol infoSection">
          <span class="dataNumber">
            <ng-container *ngIf="data.avgHR || data.avgHR === 0">
              {{ data.avgHR }} {{ chartType | dataTypeUnit: [1, unit] }}
            </ng-container>
            <ng-container *ngIf="data.avgHr || data.avgHr === 0">
              {{ data.avgHr | number: '1.0-0' }} {{ chartType | dataTypeUnit: [1, unit] }}
            </ng-container>
            <ng-container *ngIf="data.avgPower || data.avgPower === 0">
              {{ data.avgPower | thousandConversion: 'w' }}
            </ng-container>
            <ng-container *ngIf="data.minX || data.minX === 0">
              {{ data.minX | number: '1.0-3' }} g
            </ng-container>
            <ng-container *ngIf="data.minY || data.minY === 0">
              {{ data.minY | number: '1.0-3' }} g
            </ng-container>
            <ng-container *ngIf="data.minZ || data.minZ === 0">
              {{ data.minZ | number: '1.0-3' }} g
            </ng-container>
          </span>
          <span class="dataDescription">
            <ng-container *ngIf="!chartName.toLowerCase().includes('extreme')">
              {{ 'universal_adjective_avg' | translate }}
            </ng-container>
            <ng-container *ngIf="!chartName.toLowerCase().includes('extreme')">
              {{ chartType | dataTypeTranslate: [1, unit] | translate }}
            </ng-container>
            <ng-container *ngIf="data.minX || data.minX === 0">
              {{ 'universal_activityData_maxLeft' | translate }}
            </ng-container>
            <ng-container *ngIf="data.minY || data.minY === 0">
              {{ 'universal_activityData_maxImpact' | translate }}
            </ng-container>
            <ng-container *ngIf="data.minZ || data.minZ === 0">
              {{ 'universal_activityData_maxFloorImpact' | translate }}
            </ng-container>
          </span>
        </div>
      </div>
    </ng-container>
    <div #container id="chartBlock">
      chart
    </div>
  </main>
</section>