@import 'overflow-scroll.scss';
@import 'color.scss';
@import 'z-index.scss';
@import 'transition.scss';
@import 'transform.scss';

@mixin table-column($width: 80px) {
  display: flex;
  min-width: $width;
  width: $width;
  justify-content: center;
  align-items: center;
}

@mixin table-content-row($color) {
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 100%;
    border-radius: 2px;
    background-color: $color;
  }
}

.table__title {
  color: rgba(73, 73, 73, 1);
  font-size: 1.125rem;
  font-weight: bold;
  border-bottom: 0.5px solid rgba(225, 225, 225, 1);
}

.lap__table {
  list-style: none;
  margin: 0;
  padding: 0;
}

.column__header__block {
  &:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    border-radius: 2px;
    background-color: rgba(61, 61, 61, 1);
  }
}

.table__column__header {
  padding: 2px 0;
  background: rgba(217, 217, 217, 1);
}

.table__row {
  margin: 2px 0;
  padding: 3px;
  background: rgba(241, 241, 241, 1);
}

.table__content {
  max-height: 350px;
  @include overflow-y-scroll();
}

.base__row {
  background-color: rgba(254, 202, 87, 0.5);
  @include table-content-row($file-base-color);
}

.compare__row {
  background-color: rgba(154, 135, 249, 0.5);
  @include table-content-row($file-compare-color);
}

.lap__column {
  @include table-column(60px);
}

.lap__display__name {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(128, 128, 128, 1);
  letter-spacing: 2px;
}

.lap__content {
  justify-content: space-between;
  width: 100%;
}

.lap__content__title {
  margin-right: 5px;
}

.one__column {
  @include table-column();
}

.one__title__column {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.column__title {
  line-height: 1;
  text-align: center;
}

.table__unit {
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
}

.unfold__icon {
  display: inline-block;
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  transform: translateY(3px);
  @include transition(transform);
}

.unfold__icon--active {
  @include transition(transform);
  @include el-rotate(180deg);
}

.diff__value {
  font-size: 0.75rem;
  min-height: 18px;
  font-weight: bold;
}

.positive__value {
  background-color: $positive-bg-color;
  color: $positive-color;
}

.negative__value {
  background-color: $negative-bg-color;
  color: $negative-color;
}

.column__type__menu {
  position: absolute;
  list-style: none;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: white;
  z-index: $drop-menu;
  top: 30px;
  box-shadow: 1px 1px 5px, -1px 1px 5px;
}

.column__type__item {
  padding: 2px;
  text-align: center;
  &:hover {
    color: white;
    background-color: $primary-blue;
  }
}
