<div
  *ngIf="productDetail && (targetProdInfo || prodOfflineInfo || prodOnlyRepairInfo)"
  class="section_wrapper"
>
  <!-- 銷貨單-基本資料 -->
  <ng-container *ngIf="targetProdInfo">
    <section class="content-box section">
      <div class="section_title">基本資料</div>
      <div class="time_wrap">
        <div class="time_name">
          <div class="establish_update_time">
            <div class="title">建立時間</div>
            <div class="date_time">{{ targetProdInfo.create_time }}</div>
          </div>
          <div class="establish_update_time">
            <div class="title">人員:</div>
            <div class="name">{{ targetProdInfo.create_name }}</div>
          </div>
        </div>
        <div *ngIf="targetProdInfo.modify_time && targetProdInfo.modify_name" class="time_name">
          <div class="establish_update_time">
            <div class="title">最後修改</div>
            <div class="date_time">{{ targetProdInfo.modify_time }}</div>
          </div>
          <div class="establish_update_time">
            <div class="title">人員</div>
            <div class="name">{{ targetProdInfo.modify_name }}</div>
          </div>
        </div>
      </div>
      <div class="section_detail">
        <div class="detail_info_wrap">
          <div class="detail_info_title">序號</div>
          <div class="content_wrap">
            <div class="editable_content">{{ targetProdInfo.serial_no }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">所屬銷貨單</div>
          <div
            [routerLink]="['/equipment-management/order', targetProdInfo.order_no]"
            class="content_wrap link"
          >
            <div class="uneditable_content">{{ targetProdInfo.order_no }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">類型</div>
          <div class="content_wrap">
            <div class="editable_content">{{ targetProdInfo.product_type }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">安裝日期</div>
          <div class="content_wrap">
            <div class="editable_content">{{ targetProdInfo.install_date }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">保固開始日</div>
          <div class="content_wrap">
            <div class="editable_content">{{ targetProdInfo.warranty_start }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">保固結束日</div>
          <div class="content_wrap">
            <div class="editable_content">{{ targetProdInfo.warranty_end }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">產品狀態</div>
          <div class="content_wrap">
            <div
              class="uneditable_content online"
              [class.offline]="targetProdInfo.status === 'offline'"
            >
              {{ targetProdInfo.status === 'online' ? '使用中' : '閒置' }}
            </div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">GPTfit 註冊暱稱</div>
          <div class="content_wrap">
            <div *ngIf="targetProdInfo.register_id" class="uneditable_content online">
              {{ targetProdInfo.registerName }}
            </div>
            <div *ngIf="!targetProdInfo.register_id" class="uneditable_content online offline">
              未註冊
            </div>
          </div>
        </div>

        <div class="detail_info_wrap">
          <div class="detail_info_title">附件</div>
          <div *ngIf="targetProdInfo.attach_file" class="img_list">
            <ng-container *ngFor="let fileName of fileNames">
              <div class="img_wrap">
                <img
                  (click)="openImage(imgPath + fileName)"
                  [src]="imgPath + fileName"
                  alt="附加檔案"
                  id="image_preview"
                />
              </div>
            </ng-container>
          </div>
          <div *ngIf="!targetProdInfo.attach_file" class="memo_wrap">
            <div class="memo_content">無</div>
          </div>
        </div>
      </div>
      <div class="section_detail">
        <div class="detail_info_wrap">
          <div class="detail_info_title">備註</div>
          <div class="memo_wrap">
            <div *ngIf="targetProdInfo.memo" class="memo_content">{{ targetProdInfo.memo }}</div>
            <div *ngIf="!targetProdInfo.memo" class="memo_content">無</div>
          </div>
        </div>
      </div>
      <div (click)="editForm('targetProdInfo')" class="edit_button device_system_button">編輯</div>
    </section>
  </ng-container>
  <ng-container *ngIf="prodOfflineInfo">
    <section class="content-box section">
      <div class="section_title">基本資料</div>
      <div class="time_wrap">
        <div class="time_name">
          <div class="establish_update_time">
            <div class="title">建立時間</div>
            <div class="date_time">{{ prodOfflineInfo.create_time }}</div>
          </div>
          <div class="establish_update_time">
            <div class="title">人員:</div>
            <div class="name">{{ prodOfflineInfo.create_name }}</div>
          </div>
        </div>
        <div *ngIf="prodOfflineInfo.modify_time && prodOfflineInfo.modify_name" class="time_name">
          <div class="establish_update_time">
            <div class="title">最後修改</div>
            <div class="date_time">{{ prodOfflineInfo.modify_time }}</div>
          </div>
          <div class="establish_update_time">
            <div class="title">人員</div>
            <div class="name">{{ prodOfflineInfo.modify_name }}</div>
          </div>
        </div>
      </div>
      <div class="section_detail">
        <div class="detail_info_wrap">
          <div class="detail_info_title">序號</div>
          <div class="content_wrap">
            <div class="editable_content">{{ prodOfflineInfo.serial_no }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">類型</div>
          <div class="content_wrap">
            <div class="editable_content">{{ prodOfflineInfo.product_type }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">產品狀態</div>
          <div class="content_wrap">
            <div
              class="uneditable_content online"
              [class.offline]="prodOfflineInfo.status === 'offline'"
            >
              {{ prodOfflineInfo.status === 'online' ? '使用中' : '閒置' }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="prodOnlyRepairInfo">
    <section class="content-box section">
      <div class="section_title">基本資料</div>
      <div class="section_detail">
        <div class="detail_info_wrap">
          <div class="detail_info_title">序號</div>
          <div class="content_wrap">
            <div class="editable_content">{{ prodOnlyRepairInfo.serial_no }}</div>
          </div>
        </div>
        <div class="detail_info_wrap">
          <div class="detail_info_title">類型</div>
          <div class="content_wrap">
            <div class="editable_content">{{ prodOnlyRepairInfo.product_type }}</div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <!-- 設備產品-出退貨紀錄 -->
  <section class="content-box section">
    <div class="section_title">出退貨紀錄</div>

    <div class="time_wrap" *ngIf="productOrderRecord">
      <div class="time_name">
        <div class="establish_update_time">
          <div class="title">建立時間</div>
          <div class="date_time">
            {{ productOrderRecord[productOrderRecord.length - 1]?.create_time }}
          </div>
        </div>
        <div class="establish_update_time">
          <div class="title">人員:</div>
          <div class="name">
            {{ productOrderRecord[productOrderRecord.length - 1]?.create_name }}
          </div>
        </div>
      </div>
      <div class="time_name" *ngIf="productOrderRecord.length > 1">
        <div class="establish_update_time">
          <div class="title">最後修改</div>
          <div class="date_time">
            {{
              productOrderRecord[0]?.modify_time
                ? productOrderRecord[0]?.modify_time
                : productOrderRecord[0]?.create_time
            }}
          </div>
        </div>
        <div class="establish_update_time">
          <div class="title">人員:</div>
          <div class="name">
            {{
              productOrderRecord[0]?.modify_name
                ? productOrderRecord[0]?.modify_name
                : productOrderRecord[0]?.create_name
            }}
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="productOrderRecord; else noDataSection">
      <ng-container *ngFor="let orderRecord of productOrderRecord; let i = index">
        <div class="section_detail equip_list">
          <div class="detail_info_wrap">
            <div class="detail_info_title">銷貨單號</div>
            <div
              [routerLink]="['/equipment-management/order', orderRecord.order_no]"
              class="content_wrap link"
            >
              <div class="uneditable_content">{{ orderRecord.order_no }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">姓名</div>
            <div class="content_wrap">
              <div class="editable_content">{{ orderRecord.user_name }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">電話</div>
            <div class="content_wrap">
              <div class="editable_content">{{ orderRecord.phone }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">地址</div>
            <div class="content_wrap">
              <div class="editable_content">{{ orderRecord.address }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">安裝狀態</div>
            <div class="content_wrap">
              <div
                class="editable_content"
                [class.unfold]="
                  showInstallTypeDropdown.selectedIndex === i && showInstallTypeDropdown.isOpen
                "
              >
                {{ orderRecord.install_type }}
              </div>
            </div>
          </div>
          <div
            *ngIf="orderRecord.return_exchange && orderRecord.return_exchange !== 'None'"
            class="detail_info_wrap"
          >
            <div class="detail_info_title">安裝日期</div>
            <div class="content_wrap">
              <div class="editable_content">{{ orderRecord.install_date }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">退換貨狀態</div>
            <div class="content_wrap">
              <div
                class="editable_content"
                [class.unfold]="
                  showReturnExchangeDropdown.selectedIndex === i &&
                  showReturnExchangeDropdown.isOpen
                "
              >
                {{
                  (orderRecord.return_exchange !== 'None' ? orderRecord.return_exchange : '無') ||
                    '無'
                }}
              </div>
            </div>
          </div>
          <div
            *ngIf="orderRecord.return_exchange && orderRecord.return_exchange !== 'None'"
            class="detail_info_wrap"
          >
            <div class="detail_info_title">退換貨日</div>
            <div class="content_wrap">
              <div class="editable_content">{{ orderRecord.return_date }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noDataSection>
      <div class="section_detail">無資料</div>
    </ng-template>
  </section>

  <!-- 維修保養紀錄- -->
  <section class="content-box section">
    <div class="section_title">維修保養紀錄</div>
    <div class="time_wrap" *ngIf="productRepairs">
      <div class="time_name">
        <div class="establish_update_time">
          <div class="title">建立時間</div>
          <div class="date_time">{{ productRepairs[productRepairs.length - 1]?.create_date }}</div>
        </div>
        <div class="establish_update_time">
          <div class="title">人員:</div>
          <div class="name">{{ productRepairs[productRepairs.length - 1]?.create_name }}</div>
        </div>
      </div>
      <div class="time_name" *ngIf="productRepairs.length > 1">
        <div class="time_name">
          <div class="establish_update_time">
            <div class="title">最後修改</div>
            <div class="date_time">
              {{ productRepairs[0]?.modify_date || productRepairs[0]?.create_date }}
            </div>
          </div>
          <div class="establish_update_time">
            <div class="title">人員:</div>
            <div class="name">
              {{ productRepairs[0]?.modify_name || productRepairs[0]?.create_name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="productRepairs; else noDataSection">
      <ng-container *ngFor="let repair of productRepairs; let i = index">
        <div class="section_detail equip_list">
          <div class="detail_info_wrap">
            <div class="detail_info_title">維修單號</div>
            <div
              [routerLink]="['/equipment-management/repair', repair.id]"
              [queryParams]="{ repair_id: repair.repair_id, id: repair.id }"
              class="content_wrap link"
            >
              <div class="uneditable_content">{{ repair.id }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">叫修單號</div>
            <div
              [routerLink]="['/equipment-management/maintenance-requirement', repair.repair_id]"
              class="content_wrap link"
            >
              <div class="uneditable_content">{{ repair.repair_id }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">姓名</div>
            <div class="content_wrap">
              <div class="editable_content">{{ repair.user_name }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">電話</div>
            <div class="content_wrap">
              <div class="editable_content">{{ repair.phone }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">地址</div>
            <div class="content_wrap">
              <div class="editable_content">{{ repair.address }}</div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">類型</div>
            <div class="content_wrap">
              <div class="editable_content">
                {{ repair.repair_type }}
              </div>
            </div>
          </div>
          <div class="detail_info_wrap">
            <div class="detail_info_title">維修日期</div>
            <div class="content_wrap">
              <div class="editable_content">{{ repair.repair_date }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noDataSection>
      <div class="section_detail">無資料</div>
    </ng-template>
  </section>

  <section *ngIf="targetProdInfo || prodOfflineInfo || prodOnlyRepairInfo" class="section">
    <div class="device_img_descrip">
      <div class="img">
        <img
          *ngIf="productDetail.models_name"
          [src]="modelImgPath + productDetail.models_img"
          [alt]="productDetail.models_name"
        />
        <img
          *ngIf="!productDetail.models_name"
          [src]="modelImgPath + '/img/unknown.png'"
          [alt]="productDetail.models_name"
        />
      </div>
      <div class="device_detail">
        <div class="detailcol">
          <div class="device_info">
            <div class="title">型號:</div>
            <div class="info">{{ productDetail.models_name }}</div>
          </div>
          <div class="device_info">
            <div class="title">類型:</div>
            <div class="info">
              {{
                targetProdInfo?.product_type ||
                  prodOfflineInfo?.product_type ||
                  prodOnlyRepairInfo?.product_type
              }}
            </div>
          </div>
          <div class="device_info">
            <div class="title">序號:</div>
            <div class="info">
              {{
                targetProdInfo?.serial_no ||
                  prodOfflineInfo?.serial_no ||
                  prodOnlyRepairInfo?.serial_no
              }}
            </div>
          </div>
          <div class="device_info">
            <div class="title">註冊日期:</div>
            <div class="info">{{ targetProdInfo?.register_time || '' }}</div>
          </div>
          <div class="device_info">
            <div class="title">出廠日期:</div>
            <div class="info">
              {{
                getManufactureTimestamp(
                  (targetProdInfo || prodOfflineInfo || prodOnlyRepairInfo)?.serial_no
                )
              }}
            </div>
          </div>
        </div>
        <div class="detailcol">
          <div class="device_info">
            <div class="title">總里程數(km):</div>
            <div class="info">
              {{
                equipRecord?.total_use_meter[equipRecord?.total_use_meter.length - 1] / 1000
                  | number: '1.0-1' || 0
              }}
            </div>
          </div>
          <div class="device_info">
            <div class="title">時數(hr):</div>
            <div class="info">
              {{
                equipRecord?.total_use_time_second[equipRecord.total_use_time_second.length - 1] /
                  3600 | number: '1.0-1' || 0
              }}
            </div>
          </div>
          <div class="device_info">
            <div class="title">開機次數:</div>
            <div class="info">
              {{
                equipRecord?.total_number_of_enable[
                  equipRecord?.total_number_of_enable.length - 1
                ] || 0
              }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section_title">裝置紀錄</div>
    <div class="choose_date">
      <i class="time__icon icon-svg_web-icon_p2_019-time"></i>
      <!-- 預設時間 -->
      <div #selectOption class="select_option">
        <div (click)="dateSelect()" class="date_select">
          <span>{{ uiFlag.dateOption }}</span>
        </div>
        <div class="date_option" [class.active]="uiFlag.isDateSelect">
          <ul>
            <li
              class="options"
              [class.active]="uiFlag.dateOption === dateOptions[option]"
              *ngFor="let option of getObjectKeys(dateOptions)"
              (click)="dateOption(option)"
            >
              {{ dateOptions[option] }}
            </li>
          </ul>
        </div>
      </div>

      <!-- 自訂日期 -->
      <!-- startTime -->
      <div class="filter_start_time">
        <button mat-raised-button (click)="openStartDatePicker.open()">
          <input
            readonly
            matInput
            [matDatepicker]="openStartDatePicker"
            (dateChange)="changeStartTime($event.value)"
            [(ngModel)]="logDate.start_date"
            [max]="logDate.end_date"
          />
        </button>
        <mat-datepicker [touchUi]="isMobile" #openStartDatePicker disabled="false"></mat-datepicker>
      </div>
      ~
      <!-- endTime -->
      <div class="filter_end_time">
        <button mat-raised-button (click)="openEndDatePicker.open()">
          <input
            readonly
            matInput
            [matDatepicker]="openEndDatePicker"
            (dateChange)="changeEndTime($event.value)"
            [(ngModel)]="logDate.end_date"
            [min]="logDate.start_date"
          />
        </button>
        <!-- <mat-datepicker touchUi #openEndDatePicker></mat-datepicker> -->
        <mat-datepicker [touchUi]="isMobile" #openEndDatePicker disabled="false"></mat-datepicker>
      </div>
    </div>
    <ng-container *ngIf="equipRecord; else noEquipRecord">
      <div class="device_chart">
        <canvas id="deviceChart"></canvas>
      </div>
    </ng-container>
    <ng-template #noEquipRecord>
      <div class="device_chart">此時間區間無裝置紀錄</div>
    </ng-template>

    <div class="section_title">裝置日誌</div>
    <div>
      <table id="log__table">
        <thead>
          <tr id="log__header">
            <th>上傳時間</th>
            <th>訊息</th>
          </tr>
        </thead>
        <tbody id="log__body">
          <ng-container *ngIf="equipmentLog; else noEquipmentLog">
            <ng-container *ngFor="let _log of equipmentLog">
              <tr>
                <td class="log__time">
                  {{ _log.uploadTime }}
                </td>
                <td class="log__msg">
                  {{ _log.code }}
                  <!-- {{
                  'errorCode_' + deviceInfo.modelTypeName + '_' + _log.code.split('_')[0]
                  | productErrorLog
                  }} -->
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-template #noEquipmentLog>
            <span> 此時間區間無資料 </span>
          </ng-template>
        </tbody>
      </table>
    </div>
  </section>

  <!-- 編輯-銷貨單連結之產品基本資料 -->
  <app-edit-equipment
    [(editing)]="editProd"
    [models_name]="productDetail.models_name"
    [(isNewForm)]="isNewForm"
    (infoChange)="fetchOrderList()"
  >
  </app-edit-equipment>
</div>
