@import 'font.scss';
@import 'flex-center.scss';
@import 'transition.scss';
@import "rotate.scss";

$sky-blue: rgba(17, 166, 235, 1);
$table-fontsize: 14px;
$segmentation-color: rgba(100, 100, 100, 1);
$btn-color: rgba(120, 120, 120, 1);
$radio-size: 20px;
$radio-active-size: 14px;


#portal__detail__page {
  max-width: 1120px;
  margin: 0 auto;
}

.card__section {
  margin: 10px 0;
}

.row__to__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#file__owner {
  align-items: center;
}

#main__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.function__btn {
  font-size: 30px;
  cursor: pointer;
  color: $btn-color;
  margin: 10px 2px;

  &:hover {
    color: $sky-blue;
  }

}

.edit__btn {
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
}

#print__datetime {
  display: none;
}

#print__btn {
  background-color: white;
  border: 1px solid $btn-color;
  color: $btn-color;
  cursor: pointer;
  border-radius: 5px;
  width: 140px;
  height: 40px;
}

#summary__info {
  position: relative;
  background-color: rgba(225, 225, 225, 1);
  min-height: 172px;
}

#scenery__img {
  width: 100%;
}

#img__loading__text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  padding-bottom: 30px;
  @include bold-font(16px);
  @include center();
}

#active__underLine {
  height: 2px;
  width: 60px;
  background-color: $sky-blue;
  position: absolute;
  bottom: 0;
  @include transitionALL();
}

.tag__title {
  display: block;
  padding: 0 10px;
  cursor: pointer;
  min-width: 60px;
  @include center();

  &:hover {
    background-color: rgba(240, 240, 240, 1);
    @include transition(background-color);
  }

}

.tag__icon {
  font-size: 30px;
}

.non__active {
  color: rgba(100, 100, 100, 1);
}

#sport__type__icon {
  font-size: 30px;
  color: rgba(100, 100, 100, 1);
  border: 2px solid rgba(200, 200, 200, 1);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#summary__info__section {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
}

.summery__block {
  align-items: center;
  justify-content: center;
}

.img__icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.small__font {
  font-size: 12px;
  color: rgba(150, 150, 150, 1);
}

.head__name {
  @include bold-font(30px);
  color: rgba(115, 115, 115, 1);
}

#head__name__input {
  border: none;
  border-bottom: 1px solid rgba(115, 115, 115, 1);
  outline: none;
}

.summary__type__title {
  color: white;
  font-size: 12px;
}

.summary__type__content {
  color: white;
  @include bold-font(16px);
}

.lap__info {
  max-height: 340px;
  overflow-y: scroll;
}

.table__list__title {
  @include bold-font($table-fontsize);
  margin-left: 10px;
  color: rgba(125, 125, 125, 1);
}

.table__list__block {
  background-color: rgba(240, 240, 240, 1);
  width: 100%;
  height: fit-content;
}

.table__list__subtitle {
  @extend .table__list__title;
  margin-left: 50px;
}

.table__list__content {
  font-size: $table-fontsize;
  margin-right: 10px;
}

.table__row {
  justify-content: space-between;
  margin: 2px 0;
}

.segmentation__text {
  text-align: center;
}

.segmentation__title {
  color: $segmentation-color;
}

.segmentation__unit {
  font-size: 12px;
}

.segmentation__row {
  color: $segmentation-color;

  :nth-child(odd) {

    td {
      background-color: rgba(235, 235, 235, 1);
    }

  }
  
}

.map__card {
  max-height: 500px;
  width: 100%;
}

.zone__section {
  display: flex;
  flex-direction: row;
}

.zone__chart {
  width: 55%;
  border-right: 1px solid rgba(200, 200, 200, 1);
  justify-content: space-between;
}

.info__chart {
  width: 45%;
  margin-left: 2px;
}

#map__opt__menu {
  position: absolute;
  z-index: 1;
  width: fit-content;
  min-width: 220px;
  background-color: white;
  border: 1px solid rgba(150, 150, 150, 1);
  padding: 10px;
  right: 0px;
  top: 28px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.bold__font {
  font-weight: bold;
}

.radio__section {
  margin: 5px 0 5px 10px;
}

.radio__selector {
  cursor: pointer;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
}

.radio__btn {
  @include center();
  border: 1px solid black;
  border-radius: 50%;
  width: $radio-size;
  height: $radio-size;
  margin-right: 5px;
}

.radio__btn--active {

  &:before {
    content: '';
    width: $radio-active-size;
    height: $radio-active-size;
    border-radius: 50%;
    background-color: rgba(17, 166, 235, 1);
  }

}

#footer__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(240, 240, 240, 1);
  flex-wrap: wrap;
  padding: 5px;
  margin-top: 20px;
}

.footer__Info {
  margin: 0 10px 10px 10px;
  width: 30%;
  min-width: 280px;
  max-width: 320px;
  min-height: 80px;
}

.footer__header {
  align-items: center;
  margin: 10px 0;
}

.footer__icon {
  width: 80px;
  border-radius: 50%;
}

.footer__name {
  @include bold-font(24px);
}

.footer__content {
  font-weight: bold;
  color: rgba(150, 150, 150, 1);
}

.footer__tag {
  white-space: pre-wrap;
  word-break: normal;

  &:not(last-child) {

    &:after {
      content: ', '
    }

  }

}

.hide__overflow {
  max-height: 120px;
  overflow: hidden;

  &:after {
    content: '...';
    width: 60px;
    position: relative;
    z-index: 1;
  }

}

.show__more__btn {
  text-align: right;
  font-size: 14px;
  color: $sky-blue;
  cursor: pointer;
}

/******************************************* media *****************************************/

@media(max-width: 1200px) {
  .lap__info {
    max-height: 286px;
  }

}

@media(max-width: 993px) {
  .lap__info {
    max-height: 208px;
  }

  .table__list__subtitle {
    margin-left: 25px;
  }

}

@media(max-width: 767px) {
  .row__to__column {
    flex-direction: column;
    justify-content: center;
  }

  #file__owner {
    justify-content: flex-end;
    margin-top: 10px;
  }

  #main__content {
    flex-direction: column;
  }

  .head__name {
    font-size: 24px;
  }

  #head__name__input {
    max-width: calc(100vw - 140px);
  }

  .tag__title {
    width: 25%;
  }

  .lap__info {
    max-height: none;
  }

  .table__list__subtitle, .segmentation__title {
    font-size: 13px;
  }

  .zone__section {
    flex-direction: column;
  }

  #footer__section {
    flex-direction: column;
  }

  .zone__chart, .info__chart {
    width: 98%;
  }

  .zone__chart {
    border-right: none;
  }

  .footer__Info {
    width: 95%;
    max-width: none;
  }

}

// 針對列印頁面進行設定避免跑版
@media print {
  #print__datetime {
    display: block;
  }

  #print__btn {
    display: none;
  }

  .row__to__column {
    flex-direction: row;
    justify-content: space-between;
  }

  #file__owner {
    justify-content: initial;
    margin-top: 0px;
  }

  #main__content {
    flex-direction: row;
  }

  .lap__info {
    max-height: 286px;
  }

  .zone__section {
    flex-direction: row;
  }

  #footer__section {
    flex-direction: row;
  }

  .footer__Info {
    width: 30%;
    max-width: 320px;
  }

}