<section class="flexCol">
  <ng-container *ngIf="page === 'cloudrun'">
    <div class="flexRow" style="align-items: center; justify-content: space-between;">
      <h6 id="chartTitle">{{ chartType | dataTypeTranslate: [1, unit] | translate }}</h6>
      <span id="rowLine"></span>
    </div>
  </ng-container>
    <main id="mainSeciton">
      <ng-container *ngIf="page === 'cloudrun'">
      <div class="flexRow infoBlock" style="justify-content: space-between;">
        <div class="flexCol infoSection">
          <span class="dataNumber">
            <ng-container *ngIf="chartType === 'pace'">
              {{ data.oneRangeBestPace }}
            </ng-container>
            <ng-container *ngIf="chartType !== 'pace'">
              {{ data.oneRangeBestPace }}
            </ng-container>
            <ng-container *ngIf="chartType !== 'pace'">
              {{ chartType | dataTypeUnit: [1, unit] }}
            </ng-container>
          </span>
          <span class="dataDescription">
            <ng-container *ngIf="chartType === 'pace'">
              {{ 'universal_adjective_maxBest' | translate }}
            </ng-container>
            <ng-container *ngIf="chartType !== 'pace'">
              {{ 'universal_adjective_maxHight' | translate }}
            </ng-container>
            {{ chartType | dataTypeTranslate: [1, unit] | translate }}
          </span>
        </div>
        <div class="flexCol infoSection">
          <span class="dataNumber">
            <ng-container *ngIf="chartType === 'pace'">
              {{ data.avgPace }}
            </ng-container>
            <ng-container *ngIf="chartType !== 'pace'">
              {{ data.avgPace }}
            </ng-container>
            <ng-container *ngIf="chartType !== 'pace'">
              {{ chartType | dataTypeUnit: [1, unit] }}
            </ng-container>
          </span>
          <span class="dataDescription">
            {{ 'universal_adjective_avg' | translate }}
            {{ chartType | dataTypeTranslate: [1, unit] | translate }}
          </span>
        </div>
      </div>
    </ng-container>
    <div #container id="chartBlock">
      chart
    </div>
  </main>
</section>