<ng-container *ngIf="!pcView">
  <div class="flexCol">
    <div class="flexRow appHeader" style="justify-content: space-between;">
      <i
        class="icon-svg_web-icon_p1_073-level_fold"
        style="font-size: 30px; cursor: pointer;"
        (click)="turnBack()"
      ></i>
      <span class="appview-header appview-header-position">
        {{ 'universal_userAccount_logIn' | translate }}
      </span>
    </div>
    <div style="display: flex; justify-content: center; align-items: flex-start;">
      <img src="./assets/logoTitle.png" alt="Alatech Logo" style="max-width: 300px; margin: 20px 0px; width: 75%;">
    </div>
    <div>
      <div class="flexCol appDiv">
        <div class="flexRow">
          <span class="formTitle">{{ 'universal_userAccount_account' | translate }}</span>
          (&nbsp;<a href="#" (click)="showPrivateMsg($event)">{{'universal_userAccount_signUp' | translate}}</a>&nbsp;)
        </div>
        <div class="flexRow member__input">
          <input
            #accountInput
            style="width: 100%;"
            placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account } }}"
            (keydown)="determineAccountType($event)"
            (change)="saveAccount($event)"
          />
          <i
            class="icon-svg_web-icon_p1_004-qr_code qrcode__login__icon"
            (click)="navigateToQrcodeSign()"
          ></i>
          <div class="flexRow" *ngIf="loginBody.signInType === 2">
            <app-intl-phone-input
              (onChange)="onCodeChange($event)"
              (focusoutPhoneInt)="getPhoneNum($event)"
              [currentCountryCode]="loginBody.countryCode"
              style="width: 100%;"
            ></app-intl-phone-input>
          </div>
        </div>
        <span class="formCue" *ngIf="cue.account !== ''">
          {{ cue.account | translate }}
        </span>
      </div>
      <div class="flexCol appDiv">
        <div class="flexRow">
          <span class="formTitle">{{ 'universal_userAccount_password' | translate }}</span>
          (&nbsp;<a href="#" [routerLink]="['/resetPassword-web']">{{'universal_userAccount_forgetPassword' | translate}}</a>&nbsp;)
        </div>
        <div class="flexRow member__input">
          <input
            #password
            type="password"
            id="signupPW"
            style="width: 100%;"
            placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password } }}"
            maxlength="20"
            [(ngModel)]="loginBody.password"
            (keypress)="handleNext($event, 'password')"
            (focusout)="checkPassword($event)"
            (change)="checkPassword($event)"
          />
          <i
            class="icon-svg_web-icon_p1_081-watch qrcode__login__icon"
            [style.color]="displayPW ? 'black' : '#aaaaaa'"
            (click)="toggleDisplayPW()"
          ></i>
        </div>
        <span class="formCue" *ngIf="cue.password !== ''">
          {{ 'universal_userAccount_passwordFormat' | translate }}
        </span>
      </div>
    </div>
    <span style="color: red; margin: 0 auto;" *ngIf="cue.signResult !== ''">{{ cue.signResult | translate }}</span>
    <button
      class="appview-btn"
      [class.appview-btn-unclickable]="loginStatus !== 'check'"
      (click)="login()"
    >
      <span *ngIf="loginStatus !== 'success'">{{ 'universal_userAccount_logIn' | translate }}</span>
      <i *ngIf="loginStatus === 'logging'" class="fa fa-spinner fa-pulse"></i>
      <span *ngIf="loginStatus === 'success'">{{ 'universal_userAccount_signSuceesfully' | translate }}</span>
    </button>
    <div class="flexCol" style="align-items: center;">
      <span class="loginPageLink">
        <a target="_blank" class="linkColor" [href]="'/resetPassword'">
          {{ 'universal_userAccount_forgetPassword' | translate }} ?
        </a>
      </span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="pcView">
  <div class="access-bg">
    <div class="container signup" style="padding-top:63px">
      <div class="d-flex" style="flex-direction: column;align-items: center;;">
        <div class="access-description"  innerHtml="{{ 'universal_app_gptSlogan' | translate }}">
        </div>
        <div class="access-panel">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%">
          </header>
          <div class="access-panel-body">
            <div>
              <div class="flexCol">
                <div class="flexRow">
                  <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_account' | translate }}</span>
                  (&nbsp;<a href="#" (click)="showPrivateMsg($event)">{{'universal_userAccount_signUp' | translate}}</a>&nbsp;)
                </div>
                <div class="flexRow">
                  <div class="flexRow member__input">
                    <input
                      #accountInput_web
                      placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account } }}"
                      style="width: 100%;"
                      class="form-control"
                      (keydown)="determineAccountType($event)"
                      (change)="saveAccount($event)"
                    />
                    <i
                      class="icon-svg_web-icon_p1_004-qr_code qrcode__login__icon"
                      (click)="navigateToQrcodeSign()"
                    ></i>
                  </div>
                  <div class="flexRow" *ngIf="loginBody.signInType === 2">
                    <app-intl-phone-input
                      (onChange)="onCodeChange($event)"
                      [currentCountryCode]="loginBody.countryCode"
                      [webUi]="true"
                      style="width: 100%;"
                    ></app-intl-phone-input>
                  </div>
                </div>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.account !== ''"
                >
                  {{ cue.account | translate }}
                </span>
              </div>
              <div class="flexCol webDiv">
                <div class="flexRow">
                  <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_password' | translate }}</span>
                  (&nbsp;<a href="#" [routerLink]="['/resetPassword-web']">{{'universal_userAccount_forgetPassword' | translate}}</a>&nbsp;)
                </div>
                <div class="flexRow member__input">
                  <input
                    #password_web
                    type="password"
                    id="signupPW"
                    class="form-control"
                    placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password } }}"
                    maxlength="20"
                    [(ngModel)]="loginBody.password"
                    (keypress)="handleNext($event, 'password')"
                    (focusout)="checkPassword($event)"
                    (change)="checkPassword($event)"
                  />
                  <i
                    class="icon-svg_web-icon_p1_081-watch qrcode__login__icon"
                    [style.color]="displayPW ? 'black' : '#aaaaaa'"
                    (click)="toggleDisplayPW()"
                  ></i>
                </div>
                <span class="form__message form__message--placeholder" *ngIf="cue.password !== ''">
                  {{ 'universal_userAccount_passwordFormat' | translate }}
                </span>
              </div>
              <span style="color: red; margin: 0 auto;" *ngIf="cue.signResult !== ''">
                {{ 'universal_userAccount_errorAccountPassword' | translate }}
              </span>
            </div>
            <div style="display: flex;justify-content: flex-end; align-items: center; margin-top: 20px;">
              <button
                class="btn btn-primary access-btn"
                [class.appview-btn-unclickable]="loginStatus !== 'check'"
                [style.background]="loginStatus !== 'check' ? '#2b819b54' : ''"
                (click)="login()"
              >
                <span *ngIf="loginStatus !== 'success'">{{ 'universal_userAccount_logIn' | translate }}</span>
                <i *ngIf="loginStatus !== 'check'" class="fa fa-spinner fa-pulse"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

