.posture__trend {
  width: 40%;
}

.data__annotation {
  font-size: 16px;
  font-weight: bold;
  color: #919191;
}

.table__col tr {
  height: 100px;
}

.posture__info {
  width: 60%;
}

.my__body__svg {
  width: 35%;
}

.my__body__info {
  margin: 0 auto;
}

.constitute__td {
  text-align: end;
}

.comment__text {
  margin-top: 5px;
  width: fit-content;
  padding: 0px 10px;
  color: white;
  border-radius: 20px;
  white-space: nowrap;
}

@media (max-width: 1000px){
  .posture__info, .posture__trend {
    width: 100%;
  }
  
}

@media (max-width: 569px){
  .posture__info {
    flex-direction: column;
    align-items: center;
  }

  .my__body__svg {
    width: 100%;
  }

}