<table width="100%" border="0" cellpadding="0">
  <tr style="color: #ea57a3">
    <td>&nbsp;</td>
    <td class="zone__range">{{ ftpZoneRange.z6 }}</td>
    <td>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title">{{ 'universal_activityData_ftpZ6' | translate }} 151%~</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <span class="zone__bar" style="background-color: #ea57a3"></span>
    </td>
    <td class="text__top" rowspan="3">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__content">{{ 'universal_activityData_ftpZ6Info' | translate }}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="color: #ff9292">
    <td>
      <table class="right__text" cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title">121%~150 {{ 'universal_activityData_ftpZ5' | translate }}</td>
        </tr>
      </table>
    </td>
    <td class="zone__range">{{ ftpZoneRange.z5 }}</td>
  </tr>
  <tr>
    <td class="text__top" rowspan="3">
      <table class="right__text" cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__content">{{ 'universal_activityData_ftpZ5Info' | translate }}</td>
        </tr>
      </table>
    </td>
    <td>
      <span class="zone__bar" style="background-color: #ff9292"></span>
    </td>
  </tr>
  <tr style="color: #ff9a22">
    <td class="zone__range">{{ ftpZoneRange.z4 }}</td>
    <td>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title">{{ 'universal_activityData_ftpZ4' | translate }} 106~120%</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <span class="zone__bar" style="background-color: #ff9a22"></span>
    </td>
    <td class="text__top" rowspan="3">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__content">{{ 'universal_activityData_ftpZ4Info' | translate }}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="color: #ffdc00">
    <td>
      <table class="right__text" cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title">91~105% {{ 'universal_activityData_ftpZ3' | translate }}</td>
        </tr>
      </table>
    </td>
    <td class="zone__range">{{ ftpZoneRange.z3 }}</td>
  </tr>
  <tr>
    <td class="text__top" rowspan="3">
      <table class="right__text" cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__content">{{ 'universal_activityData_ftpZ3Info' | translate }}</td>
        </tr>
      </table>
    </td>
    <td>
      <span class="zone__bar" style="background-color: #ffdc00"></span>
    </td>
  </tr>
  <tr style="color: #75f25f">
    <td class="zone__range">{{ ftpZoneRange.z2 }}</td>
    <td>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title">{{ 'universal_activityData_ftpZ2' | translate }} 76~90%</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <span class="zone__bar" style="background-color: #75f25f"></span>
    </td>
    <td class="text__top" rowspan="3">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__content">{{ 'universal_activityData_ftpZ2Info' | translate }}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="color: #6bebf9">
    <td>
      <table class="right__text" cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title">56~75% {{ 'universal_activityData_ftpZ1' | translate }}</td>
        </tr>
      </table>
    </td>
    <td class="zone__range">{{ ftpZoneRange.z1 }}</td>
  </tr>
  <tr>
    <td class="text__top" rowspan="3">
      <table class="right__text" cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__content">{{ 'universal_activityData_ftpZ1Info' | translate }}</td>
        </tr>
      </table>
    </td>
    <td>
      <span class="zone__bar" style="background-color: #6bebf9"></span>
    </td>
  </tr>
  <tr style="color: #6e9bff">
    <td class="zone__range">{{ ftpZoneRange.z0 }}</td>
    <td>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title">{{ 'universal_activityData_ftpZ0' | translate }} ~55%</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <span class="zone__bar" style="background-color: #6e9bff"></span>
    </td>
    <td class="text__top" rowspan="3">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__content">{{ 'universal_activityData_ftpZ0Info' | translate }}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="right__text" cellspacing="0" cellpadding="0">
        <tr>
          <td class="zone__title"></td>
        </tr>
      </table>
    </td>
    <td class="zone__range" style="min-height: 40px"></td>
  </tr>
</table>
