<div style="display:flex;justify-content: space-between">
  <h3>{{'Dashboard.Settings.personalPreferences' | translate}}</h3>
  <button class="alatech-btn alatech-btn--default settings-btn"
    title="{{'Dashboard.Settings.save' | translate}}"
    (click)="saveSettings(settingsForm)"
  >
    {{'Dashboard.Settings.save' | translate}}
  </button>
</div>
<form [formGroup]="settingsForm"
  #f="ngForm"
  novalidate
  (ngSubmit)="saveSettings(settingsForm)"
>
  <label class="ala-form__label settings-label">
    {{'SH.hr' | translate}}
  </label>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'Dashboard.Settings.hrCalculation' | translate}}
    </label>
    <div class="settings-control">
      <select class="form-field"
        formControlName="heartRateBase"
        (change)="handleHeartRateBase($event)"
      >
        <option value="0">{{'Dashboard.Settings.maximalHeartRate' | translate}}</option>
        <option value="1">{{'Dashboard.Settings.heartRateReserve' | translate}}</option>
      </select>
    </div>
  </div>
  <div style="margin-top: 15px;" *ngIf="heartRateBase === 1">
    <div class="ala-list__item">
      <label class="ala-form__label settings-item">{{'SH.maxHr' | translate}}</label>
      <div class="settings-control">
        <div style="display: inline-block">
          <app-form-text
            [type]="'number'"
            [content]="heartRateMax"
            [maxLength]="32"
            [disabled]="isSaveUserSettingLoading"
            [control]="settingsForm"
            [controlName]="'heartRateMax'"
            (focusout)="handleHrValueArrange('maxHr', $event)"
          >
          </app-form-text>
        </div>
        <span style="display: inline-block;margin-left: 10px">bpm</span>
      </div>
    </div>
    <div class="ala-list__item">
      <label class="ala-form__label settings-item">
        {{'Dashboard.Settings.restHr' | translate}}
      </label>
      <div class="settings-control">
        <div style="display: inline-block">
          <app-form-text
            [type]="'number'"
            [content]="heartRateResting"
            [maxLength]="32"
            [disabled]="isSaveUserSettingLoading"
            [control]="settingsForm"
            [controlName]="'heartRateResting'"
            (focusout)="handleHrValueArrange('restHr', $event)"
          >
          </app-form-text>
        </div>
        <span style="display: inline-block;margin-left: 10px">bpm</span>
      </div>
    </div>
  </div>
  <hr>
  <label class="ala-form__label settings-label">{{'Dashboard.Settings.sleep' | translate}}</label>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'Dashboard.Settings.sleepTime' | translate}}
    </label>
    <div class="settings-control">
      <div class="time_picker">
        <input type="time"
          class="form-field"
          formControlName="normalBedTime"
        >
      </div>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'Dashboard.Settings.wakeUpTime' | translate}}
    </label>
    <div class="settings-control">
      <div class="time_picker">
        <input type="time"
          class="form-field"
          formControlName="normalWakeTime"
        >
      </div>
    </div>
  </div>
  <hr>
  <label class="ala-form__label settings-label">
    {{'Dashboard.Settings.bicycle' | translate}}
  </label>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'Dashboard.Settings.wheelDiameter' | translate}}
    </label>
    <div class="settings-control">
      <div style="display: inline-block">
        <app-form-text
          [type]="'number'"
          [content]="wheelSize"
          [maxLength]="32"
          [disabled]="isSaveUserSettingLoading"
          [control]="settingsForm"
          [controlName]="'wheelSize'"
          [max]="9000"
          [min]="300"
          (focusout)="handleWheelValueArrange($event)"
        >
         </app-form-text>
      </div>
      <span style="display: inline-block;margin-left: 10px">mm</span>
    </div>
  </div>
</form>
