.mat-row {
  cursor: pointer;
}

/* about custom mat-tab */
.mat-tab-label {
  color: #828282;
  font-weight: 700;
  background-color: none;
  opacity: 1 !important;
}

.mat-tab-label.mat-tab-label-active {
  padding: 5px;
  background-color: transparent;
  color: #26abe3;
  font-weight: 700;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #26abe3;
}
