@import 'overflow-scroll';

$switch-bar-width: 10px;
$switch-bar-height: 36px;
$switch-rod-size: 18px;
$slider-bar-height: 12px;
$slider-bar-width: 100px;
$slider-over-color: rgba(240, 166, 168, 1);
$slider-yet-color: rgba(230, 230, 230, 1);
$rod-color: rgba(209, 66, 122, 1);


.muscle__map__figure {
  align-items: center;
  margin-bottom: 20px;
}

.muscle__map__distribution {
  display: flex;
  justify-content: center;
}

.slider__section {
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.slider__row, .date__type__switcher {
  margin: 10px 0;
}

.date__type__switcher {
  align-items: center;
}

.date__type__switch {
  position: relative;
  width: $switch-bar-width;
  height: $switch-bar-height;
  border-radius: $switch-bar-width;
  background-color: rgba(230, 230, 230, 1);
  cursor: pointer;
}

.date__type__switch--active {
  background-color: $slider-over-color;
}

.switch--disable {
  position: absolute;
  width: $switch-bar-width;
  height: $switch-bar-height;
  border-radius: $switch-bar-width;
  background-color: $slider-over-color;
  transform: scaleY(0);
}

.switch--active {
  transform: scaleY(1);
}

.switch__rod {
  position: absolute;
  height: $switch-rod-size;
  width: $switch-rod-size;
  border-radius: 50%;
  background-color: $rod-color;
  left: calc(-#{$switch-rod-size - $switch-bar-width} / 2);
}

.switch__rod--active {
  transform: translateY($switch-bar-height - $switch-rod-size);
}

.date__slider {
  position: relative;
  background-color: $slider-over-color;
  height: $slider-bar-height;
  border-radius: $slider-bar-height;
  min-width: $slider-bar-width;
}

.slider__row {
  align-items: center;
}

.date__description {
  font-size: 12px;
  color: rgba(135, 135, 135, 1);
  margin: 0 15px;
}

.slider__over__yet {
  position: absolute;
  z-index: 1;
  background-color: $slider-yet-color;
  height: $slider-bar-height;
  width: $slider-bar-width;
  border-radius: $slider-bar-height;
}

.date__slider__rod {
  $size: 20px;
  position: absolute;
  z-index: 2;
  height: $size;
  width: $size;
  border-radius: $size;
  background-color: rgba(209, 66, 122, 1);
  left: calc(-#{$size} / 2);
  top: calc(-#{$size - $slider-bar-height} / 2);
  user-select: none;
  cursor: grab;
}


/************************************************ media ********************************************/

@media(max-width: 940px) {

  .muscle__map__distribution {
    width: 60%;
    margin: 0 auto;
  }

}

@media(max-width: 840px) {
  .muscle__map__distribution {
    width: 70%;
  }

}

@media(max-width: 740px) {
  .muscle__map__distribution {
    width: 80%;
  }

}

@media(max-width: 640px) {
  .muscle__map__distribution {
    width: 90%;
  }

}

@media(max-width: 540px) {
  .muscle__map__distribution {
    width: 100%;
  }

}
