<ng-progress
  #progressBar
  [meteor]="_options.meteor"
  [color]="_options.color"
  [min]="_options.min"
  [speed]="_options.speed"
  [spinner]="_options.spinner"
  [max]="_options.max"
  [spinnerPosition]="_options.spinnerPosition"
  [direction]="_options.direction"
  [thick]="_options.thick"
  [trickleSpeed]="_options.trickleSpeed"
  [ease]="_options.ease"
>
</ng-progress>
<div class="row" *ngIf="!isLoading">
  <div class="col-md-4 product-info group-image--area">
    <img *ngIf="!deviceInfo" src={{noProductImg}}>
    <img *ngIf="deviceInfo" src={{deviceInfo?.modelImgUrl}} >
  </div>
  <div class="col-md-8">
    <div class="group-edit-bar">
      <span class="group-handle-name">
        {{'Dashboard.ProductInfo.ProductInfo' | translate}}
      </span>
      <div class="rwd-btn_action">
        <button class="alatech-btn alatech-btn--default activty-btn"
          title="{{'Dashboard.ProductInfo.Finished' | translate}}"
          style="width: 140px;height: 38px;"
          (click)="manage()"
        >
          {{'Dashboard.ProductInfo.Finished' | translate}}
        </button>
        <button class="alatech-btn alatech-btn--default activty-btn"
          title="{{'Dashboard.ProductInfo.Back' | translate}}"
          style="width: 140px;height: 38px;"
          [routerLink]="['/dashboard/device']"
        >
          {{'Dashboard.ProductInfo.Back' | translate}}
        </button>
      </div>
    </div>
    <div style="color: #919191">
      <div style="margin-bottom: 50px">
        {{"Portal.EquipmentSN" | translate}}：{{ deviceSN || 'SH.No-information' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        {{"Portal.ProductName" | translate}}：{{ deviceInfo?.modelName || 'SH.No-information' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        {{"Portal.ProductType" | translate}}：{{ (deviceInfo?.modelType | productType | translate) || 'SH.No-information' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        {{'Dashboard.ProductInfo.Date-of-manufacture' | translate}}：{{ deviceInfo?.date || 'SH.No-information' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        Fit pair {{'Dashboard.ProductInfo.Target' | translate}}：
        <select  [(ngModel)]="fitPairStatus" style="width: 186px">
          <option value="0">{{'Dashboard.ProductInfo.close' | translate}}</option>
          <option value="1">{{'Dashboard.ProductInfo.Only-me-avatar-and-file' | translate}}</option>
          <option value="2">{{'Dashboard.ProductInfo.Only-me-file' | translate}}</option>
          <option value="3">{{'Dashboard.ProductInfo.Open-for-anyone' | translate}}</option>
        </select>
        <div class="device-hint"
          (mouseenter)="mouseEnter()"
          (mouseleave)="mouseLeave()"
        >
          ※Fit pair
          <div class="device-hint-box" *ngIf="isDisplayBox">
            {{fitPairTip}}
          </div>
        </div>
      </div>
    </div>

      <div class="app-link" *ngIf="deviceInfo?.mainAppData">
        <div>
          <span class="group-handle-name">{{"Portal.MainApp" | translate}}：</span>
          <div style="margin: 25px 0">
            <img src={{deviceInfo?.mainAppData.appIconUrl}}  (click)="swithMainApp()">
          </div>
          <ng-container *ngIf="isMainAppOpen">
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appIosUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appIosUrl}}>
                <img src={{deviceInfo?.mainAppData.appIosImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appAndroidUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appAndroidUrl}}>
                <img src={{deviceInfo?.mainAppData.appAndroidImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appApkUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appApkUrl}}>
                <img src={{deviceInfo?.mainAppData.appApkImg}}>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="app-link" *ngIf="deviceInfo?.secondaryAppData">
        <div>
          <span class="group-handle-name">{{"Portal.othersApp" | translate}}：</span>
          <div style="margin: 25px 0">
            <img src={{deviceInfo?.secondaryAppData.appIconUrl}}  (click)="swithSecondApp()">
          </div>
          <ng-container *ngIf="isSecondAppOpen">
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appIosUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appIosUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appIosImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appAndroidUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appAndroidUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appAndroidImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appApkUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appApkUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appApkImg}}>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-containr *ngIf="productInfo && productInfo.length > 0">
        <span class="group-handle-name">{{"Portal.RelatedLinks" | translate}}：</span>
        <div class="app-link" *ngIf="productInfo && productInfo.length > 0">

          <div *ngFor="let info of productInfo">
            <a target="_blank" href={{info?.link}}>{{info?.dispName}}</a>
          </div>
        </div>
      </ng-containr>
      <ng-container *ngIf="productManual && productManual.length > 0">
        <span class="group-handle-name">{{"SH.UserManual" | translate}}：</span>
        <div class="app-link" *ngIf="productManual && productManual.length > 0">
          <div>
            <a target="_blank" href={{productManual}}>{{"SH.GetDocument" | translate}}</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="qrURL">
        <span class="group-handle-name">{{'Dashboard.ProductInfo.GenerateQRcode' | translate}}：</span>
        <div style="margin: 25px 0">
          <qrcode [qrdata]="qrURL" [size]="128" [level]="'M'"></qrcode>
        </div>
      </ng-container>
  </div>
</div>
