.app-link {
  margin: 10px 0 15px;

}
.app-link img {
  /* width: 55px; */
  height: 55px;
  cursor: pointer;
}

.device-hint {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: calc(100% - 340px);
}
.device-hint-box {
  position: absolute;
  border: 1px solid #ccc;
  top: 27px;
  left: -30px;
  height: auto;
  min-width: 400px;
  max-height: 400px;
  overflow: scroll;
  background-color: #feffe9;
  color: black;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}
.product-info.group-image--area {
  max-width: 225px;
}
@media(max-width: 1169px) {
  .device-hint-box {
    top: 30px;
    left: initial;
    right: 10px;
    min-width: 285px;
    max-width: initial;

  }
}
@media(max-width: 977px) {
  .device-hint {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }
  .device-hint-box {
    position: initial;
    top: 30px;
    left: initial;
    right: 10px;
    min-width: 285px;
    max-width: initial;
  }
}
@media(max-width: 767px) {
  .product-info.group-image--area {
    max-width: initial;
  }
}
