<ng-progress
  #progressBar
  [meteor]="_options.meteor"
  [color]="_options.color"
  [min]="_options.min"
  [speed]="_options.speed"
  [spinner]="_options.spinner"
  [max]="_options.max"
  [spinnerPosition]="_options.spinnerPosition"
  [direction]="_options.direction"
  [thick]="_options.thick"
  [trickleSpeed]="_options.trickleSpeed"
  [ease]="_options.ease"
>
</ng-progress>
<div class="row" *ngIf="!isLoading">
  <div class="col-md-4 product-info group-image--area">
    <img *ngIf="!deviceInfo" src={{noProductImg}}>
    <img *ngIf="deviceInfo" src={{deviceImgUrl}} >
  </div>
  <div class="col-md-8">
    <div class="group-edit-bar">
      <span class="group-handle-name">
        {{'universal_deviceSetting_productInfo' | translate}}
      </span>
      <div class="rwd-btn_action">
        <button class="alatech-btn alatech-btn--default activty-btn"
          title="{{'universal_operating_finishEdit' | translate}}"
          style="width: 140px;height: 38px;"
          (click)="manage()"
        >
          {{'universal_operating_finishEdit' | translate}}
        </button>
        <button class="alatech-btn alatech-btn--default activty-btn"
          title="{{'universal_operating_back' | translate}}"
          style="width: 140px;height: 38px;"
          (click)="goBack()"
        >
          {{'universal_operating_back' | translate}}
        </button>
      </div>
    </div>
    <div style="color: #919191">
      <div style="margin-bottom: 50px">
        {{"universal_deviceSetting_deviceSerialNumber" | translate}}：{{ deviceSN || 'universal_status_noData' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        {{"universal_deviceSetting_modeCode" | translate}}：{{ deviceInfo?.modelName || 'universal_status_noData' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        {{"universal_deviceSetting_modeType" | translate}}：{{ (deviceInfo?.modelTypeID | productType | translate) || 'universal_status_noData' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        {{'universal_deviceSetting_dateOfManufacture' | translate}}：{{ deviceInfo?.date || 'universal_status_noData' | translate }}
      </div>
      <div style="margin-bottom: 50px" *ngIf="userMaxAccessRight < 30">
        啟用日期：{{ deviceEnableDate || 'universal_status_noData' | translate }}
      </div>
      <div style="margin-bottom: 50px" *ngIf="userMaxAccessRight < 30">
        註冊日期：{{ deviceBondDate || 'universal_status_noData' | translate }}
      </div>
      <div style="margin-bottom: 50px">
        Fit pair {{'universal_vocabulary_object' | translate}}：
        <select  [(ngModel)]="fitPairStatus" style="width: 186px">
          <option value="0">{{'universal_uiFitpair_private' | translate}}</option>
          <option value="1">{{'universal_privacy_onlyMe' | translate}},{{'universal_uiFitpair_avatarAndSportFile' | translate}}</option>
          <option value="2">{{'universal_privacy_onlyMe' | translate}},{{'universal_uiFitpair_onlySportFile' | translate}}</option>
          <option value="3">{{'universal_uiFitpair_openToAnyone' | translate}}</option>
        </select>
        <div class="device-hint"
          (mouseenter)="mouseEnter()"
          (mouseleave)="mouseLeave()"
        >
          ※Fit pair
          <div class="device-hint-box" *ngIf="isDisplayBox" [innerHTML]="fitPairTip"></div>
        </div>
      </div>
    </div>

      <div class="app-link" *ngIf="deviceInfo?.mainAppData">
        <div>
          <span class="group-handle-name">{{"universal_deviceSetting_mainApp" | translate}}：</span>
          <div style="margin: 25px 0">
            <img src={{deviceInfo?.mainAppData.appIconUrl}}  (click)="swithMainApp()">
          </div>
          <ng-container *ngIf="isMainAppOpen">
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appIosUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appIosUrl}}>
                <img src={{deviceInfo?.mainAppData.appIosImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appAndroidUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appAndroidUrl}}>
                <img src={{deviceInfo?.mainAppData.appAndroidImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appApkUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appApkUrl}}>
                <img src={{deviceInfo?.mainAppData.appApkImg}}>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="app-link" *ngIf="deviceInfo?.secondaryAppData">
        <div>
          <span class="group-handle-name">{{"universal_deviceSetting_otherApp" | translate}}：</span>
          <div style="margin: 25px 0">
            <img src={{deviceInfo?.secondaryAppData.appIconUrl}}  (click)="swithSecondApp()">
          </div>
          <ng-container *ngIf="isSecondAppOpen">
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appIosUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appIosUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appIosImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appAndroidUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appAndroidUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appAndroidImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appApkUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appApkUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appApkImg}}>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-containr *ngIf="productInfo && productInfo.length > 0">
        <span class="group-handle-name">{{"universal_deviceSetting_relatedLinks" | translate}}：</span>
        <div class="app-link" *ngIf="productInfo && productInfo.length > 0">

          <div *ngFor="let info of productInfo">
            <a target="_blank" href={{info?.link}}>{{info?.dispName}}</a>
          </div>
        </div>
      </ng-containr>
      <ng-container *ngIf="productManual && productManual.length > 0">
        <span class="group-handle-name">{{"universal_vocabulary_manual" | translate}}：</span>
        <div class="app-link" *ngIf="productManual && productManual.length > 0">
          <div>
            <a target="_blank" href={{productManual}}>{{"universal_deviceSetting_deviceManual" | translate}}</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="qrURL">
        <span class="group-handle-name">{{'universal_uiFitpair_createFitpairQr' | translate}}：</span>
        <div style="border: 20px solid white; width: fit-content">
          <qrcode [qrdata]="qrURL" [size]="128" [level]="'M'"></qrcode>
        </div>
      </ng-container>
      <ng-container *ngIf="isAdminMode">
        <span class="group-handle-name">註冊持有人：</span>{{deviceBondUserName}}
        <div style="margin: 25px 0">
        <button class="alatech-btn alatech-btn--default activty-btn"
          title="{{'universal_uiFitpair_unbind' | translate}} {{'universal_deviceSetting_device' | translate}}"
          style="width: 140px;height: 38px;"
          (click)="openUnBondDeviceDialog()"
        >
          {{'universal_uiFitpair_unbind' | translate}} {{'universal_deviceSetting_device' | translate}}
        </button>
        </div>
      </ng-container>
  </div>
</div>
