@import 'flex-center.scss';
@import 'transition.scss';
@import 'transform.scss';
@import 'overflow-scroll';
@import 'z-index.scss';

$play-bar-color: var(--scale-255-200);
$play-btn-color: rgba(110, 110, 110, 1);
$loaded-color: rgba(255, 252, 174, 0.5);

#record__table {
  padding: 5px 10px 5px 15px;
  width: 40%;
  max-height: 350px;
  font-size: 15px;
}

#table__title {
  font-size: 16px;
  width: fit-content;
  margin: 0px;
  white-space: nowrap;
}

#switch__btn {
  position: relative;
  width: 70px;
  background-color: rgba(100, 100, 100, 1);
  border-radius: 5px;
  color: white;
  padding: 0px 2px;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: nowrap;
}

#map__section {
  position: relative;
  width: 60%;
  border: 1px solid white;
}

.map__style {
  display: block;
  height: 350px;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table__body {
  display: block;
  max-height: 315px;
  @include overflow-y-scroll();
}

.table__row {
  height: 35px;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: var(--scale-240-45);
    @include transition(background-color);
  }

  &:nth-child(even) {
    background-color: var(--scale-255-60);
    @include transition(background-color);
  }

  &:hover {
    background-color: $loaded-color !important;
    @include transition(background-color);
  }
}

.mark__col {
  width: 14px;
  font-size: 12px;
}

.rank__col {
  width: 25px;
  padding-right: 5px;
  text-align: end;
  color: var(--scale-0-255);
}

.name__col {
  color: var(--scale-100-230);
  width: 50%;

  &:hover {
    font-weight: bold;
  }
}

.pace__col {
  text-align: center;
  color: var(--scale-0-255);
}

.time__col {
  text-align: end;
  padding-right: 5px;
  color: var(--scale-0-255);
}

.loaded__player {
  background-color: $loaded-color !important;
}

.hide__map {
  height: 150px;
}

#map__opt__menu {
  position: absolute;
  z-index: $drop-menu;
  width: 220px;
  background-color: var(--scale-255-60);
  border: 1px solid rgba(150, 150, 150, 1);
  padding: 10px;
  right: 0px;
  top: 28px;
  box-shadow: 2px 2px gray;
}

.selector__section {
  margin: 5px 0;
  position: relative;
}

::ng-deep .custom__mark {
  position: absolute;

  img {
    border: 3px solid;
    border-radius: 50%;
  }
}

#map__list__section {
  margin-bottom: 10px;
}

#play__btn__section,
.play__btn {
  height: 30px;
  background-color: $play-bar-color;
}

#play__bar {
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: $play-bar-color;
  border: 1px solid rgba(200, 200, 200, 1);
}

#play__btn__section {
  align-items: center;
}

.play__btn {
  border: none;
  font-size: 24px;
  color: $play-btn-color;
  @include center();
}

#play__timing {
  color: $play-btn-color;
}

#speed__opt {
  position: absolute;
  bottom: 32px;
  padding: 5px;
  background-color: white;
  color: $play-btn-color;
}

.speed__opt__item {
  padding: 0 2px;
  width: 100%;
  text-align: end;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    color: white;
    background-color: rgba(17, 166, 235, 1);
    @include transition(background-color);
  }
}

.click--forbidden {
  pointer-events: none;
  cursor: not-allowed;
  color: rgba(200, 200, 200, 1);
}

/************************ media ************************************/

@media (max-width: 991px) {
  .name__col {
    width: 40%;
  }
}

@media (max-width: 767px) {
  #map__list__section {
    flex-direction: column;
  }

  #map__section,
  #record__table {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  #rank__col,
  #name__col,
  #pace__col,
  #time__col {
    font-size: 12px;
  }
}

@media print {
  .map__style {
    height: 420px;
  }
}
