<div class="d-flex justify-content-between" style="margin-bottom: 15px">
  <span style="color: #157fcc; font-weight:700;font-size: 24px; ">
    Train live
    <div style="color: rgb(40, 35, 45);font-weight:500">最新直播</div>
  </span>
</div>
<div *ngIf="classLists?.length === 0">
  尚無直播課程
</div>
<ng-container *ngIf="classLists?.length > 0">
  <mat-card class="example-card"
    *ngFor="let classData of classLists"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{classData?.className}}</mat-card-title>
      <mat-card-subtitle>{{classData?.coach}}老師</mat-card-subtitle>
      <div class="live-icon">Live</div>
      <div class="member-counts">{{classData?.memberTotalCounts}}人</div>
    </mat-card-header>
    <img mat-card-image [src]="classData?.classIcon">
    <mat-card-content>
      <p>
        {{classData?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <span *ngIf="classData?.classType === '1'">有氧課程</span>
      <span *ngIf="classData?.classType === '2'">飛輪課程</span>

      <span>直播地點 : {{classData?.location}}</span>
      <!-- <button mat-button>觀看直播</button> -->
    </mat-card-actions>
  </mat-card>
</ng-container>
