<div class="d-flex justify-content-between" style="margin-bottom: 15px">
  <span style="color: #157fcc; font-weight:700">
    我的群組列表
  </span>
  <div>
    <button class="alatech-btn alatech-btn--default"
      title="搜尋群組"
      [routerLink]="['/dashboard/group-search']"
    >
      搜尋群組
    </button>
    <button class="alatech-btn alatech-btn--default"
      title="建立新群組"
      [routerLink]="['/dashboard/my-group-list/create']"
    >
      建立新群組
    </button>
  </div>
</div>

<mat-table [dataSource]="logSource"
  matSort #sortTable="matSort"
>
  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef>名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.groupName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef disableClear="true">
      身分
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.groupProperty | accessName }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['info', 'time']"></mat-header-row>
  <mat-row *matRowDef="let logRow; columns: ['info', 'time']" (click)="goDetail(logRow.groupId)">
  </mat-row>
</mat-table>
<div *ngIf="isEmpty" style="text-align: center;padding: 30px">
  尚無相關資訊
</div>
<mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]">
</mat-paginator>
