<div class="d-flex justify-content-between" style="margin-bottom: 15px">
  <span style="color: #157fcc; font-weight:700">
    {{ "Dashboard.Group.MyGroup.myGroup" | translate}}
  </span>
  <div class="group-edit-bar">
    <button class="alatech-btn alatech-btn--default"
      title="{{ 'Dashboard.Group.SearchGroup.searchGroup' | translate}}"
      [routerLink]="['/dashboard/group-search']"
    >
      {{ "Dashboard.Group.SearchGroup.searchGroup" | translate}}
    </button>
    <!-- <button class="alatech-btn alatech-btn--default"
      title="建立新群組"
      [routerLink]="['/dashboard/my-group-list/create']"
    >
      建立新群組
    </button> -->
  </div>
</div>

<mat-table [dataSource]="logSource"
  matSort #sortTable="matSort"
>
  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef>{{ "Dashboard.Group.MyGroup.name" | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.groupName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef disableClear="true">
      {{ "Dashboard.Group.MyGroup.identity" | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.groupProperty | accessName | translate }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['info', 'time']"></mat-header-row>
  <mat-row *matRowDef="let logRow; columns: ['info', 'time']" (click)="goDetail(logRow.groupId)">
  </mat-row>
</mat-table>
<div *ngIf="isEmpty" style="text-align: center;padding: 30px">
  {{ "SH.noData" | translate}}
</div>
<div class="ala-loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-paginator #paginator [length]="totalCount" [pageIndex]="currentPage?.pageIndex" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]">
</mat-paginator>

