<ng-container *ngIf="!pcView">
  <app-loading-bar [progress]="progress"></app-loading-bar>
  <nav>
    <button class="flexRow appview-backButton" (click)="turnBack()">
      <i class="icon-svg_web-icon_p1_016-back"></i>
      <span>{{ 'universal_operating_back' | translate }}</span>
    </button>
  </nav>
  <main class="appview-whiteText">
    <div class="flexCol appview-contentArea">
      <h4
        [ngClass]="{
          'appview-tftPageTitle': !mobileSize,
          'appview-mobilePageTitle': mobileSize
        }"
      >
        {{ 'universal_operating_modify' | translate }}
        {{ 'universal_userAccount_account' | translate }}
      </h4>
      <div class="flexCol">
        <section class="flexCol appview-contentDetail">
          <h6 class="appview-sectionSubTitle">
            {{ 'universal_userAccount_account' | translate }}
          </h6>
          <p class="appview-breakAccount">
            {{ accountInfo.oldAccount }}
          </p>
          <label class="appview-inputLabel" for="appview__oldPassword">
            {{ 'universal_userAccount_password' | translate }}
          </label>
          <div class="flexRow appview-inputBorder">
            <input
              id="appview__oldPassword"
              class="appview-dataInput"
              [type]="displayPW ? 'text' : 'password'"
              [placeholder]="
                'universal_userAccount_enterInfo'
                  | translate
                    : {
                        info: ('universal_userAccount_password' | translate)
                      }
              "
              maxlength="20"
              (focusout)="checkPassword($event)"
              (keypress)="checkPassword($event)"
            />
            <button class="appview-showPassword" (click)="toggleDisplayPW()">
              <i
                class="icon-svg_web-icon_p1_081-watch"
                [style.color]="displayPW ? 'rgba(200, 200, 200, 1)' : 'rgba(100, 100, 100, 1)'"
              ></i>
            </button>
          </div>
          <p class="appview-alertHint" style="margin: 0">
            <ng-container *ngIf="cue.password !== ''">
              {{ cue.password | translate }}
            </ng-container>
          </p>
        </section>
        <div class="flexCol appview-contentDetail">
          <div class="flexCol">
            <label class="appview-inputLabel" for="appview__account">
              {{ 'universal_activityData_new' | translate }}
              {{ 'universal_userAccount_account' | translate }}
            </label>
            <div class="flexRow account__area appview-inputBorder">
              <div
                [class.appview-countryCodeSelector]="editBody.newAccountType === SignTypeEnum.phone"
                [class.official-selector--active]="displayCountryCodeList"
                (click)="showCountryCodeList($event)"
                *ngIf="editBody.newAccountType === SignTypeEnum.phone"
              >
                <span> +{{ editBody.newCountryCode }} </span>
                <ul class="appview-countryCodeList" *ngIf="displayCountryCodeList">
                  <li
                    class="flexRow"
                    (click)="selectCountryCode($event, _list.code)"
                    *ngFor="let _list of countryCodeList"
                  >
                    <span class="appview-countryNumber">
                      {{ _list.code }}
                    </span>
                    <span class="appview-countryName">
                      {{ _list.name }}
                    </span>
                  </li>
                </ul>
              </div>
              <input
                type="text"
                id="appview__account"
                class="appview-dataInput"
                [placeholder]="
                  'universal_userAccount_enterInfo'
                    | translate
                      : {
                          info: ('universal_userAccount_emailPerPhone' | translate)
                        }
                "
                (keydown)="determineAccountType($event)"
                (change)="saveAccount($event)"
              />
            </div>
            <p class="appview-alertHint">
              <ng-container *ngIf="cue.account !== '' && cue.account !== 'accountRepeat'">
                {{ cue.account | translate }}
              </ng-container>
              <ng-container *ngIf="cue.account !== '' && cue.account === 'accountRepeat'">
                {{ 'universal_userAccount_account' | translate }}
                {{ 'universal_deviceSetting_repeat' | translate }}
              </ng-container>
            </p>
          </div>
          <div class="flexCol" *ngIf="imgCaptcha.show">
            <label class="appview-inputLabel" for="img__captcha">
              {{ 'universal_userAccount_imgCaptcha' | translate }}
            </label>
            <div class="flexRow">
              <input
                id="img__captcha"
                class="appview-dataInput appview-inputBorder"
                [placeholder]="'universal_userAccount_imgCaptcha' | translate"
                maxlength="8"
                (focusout)="checkImgCaptcha($event)"
                (keypress)="checkImgCaptcha($event)"
              />
              <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha" />
            </div>
            <p class="appview-alertHint">
              <ng-container *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
                {{ imgCaptcha.cue | translate }}
              </ng-container>
            </p>
          </div>
        </div>
        <div class="appview-buttonArea">
          <button
            class="appview-submitButton appview-right"
            [class.appview-unclickable]="progress !== 100 || dataIncomplete"
            (click)="submit()"
          >
            {{ 'universal_operating_confirm' | translate }}
          </button>
        </div>
      </div>
    </div>
  </main>
</ng-container>

<ng-container *ngIf="pcView">
  <div class="access-bg">
    <div class="container signup" style="padding: 63px 0 70px 0">
      <div class="d-flex" style="flex-direction: column; align-items: center">
        <div class="access-panel" style="margin-top: 30px">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%" />
          </header>
          <div class="access-panel-body">
            <div class="flexCol webDiv" style="min-height: initial">
              <span class="app-alert" style="font-size: 20px; font-weight: bold">{{
                'universal_userAccount_changingAccount' | translate
              }}</span>
              <span style="font-size: 14px; font-weight: bold">{{ accountInfo.oldAccount }}</span>
            </div>
            <div class="flexCol" style="margin-top: 10px">
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px">{{
                  'universal_userAccount_password' | translate
                }}</span>
                <div class="flexRow member__input">
                  <input
                    [type]="displayPW ? 'text' : 'password'"
                    id="signupPW"
                    class="form-control"
                    placeholder="{{
                      'universal_userAccount_enterInfo' | translate: { info: i18n.password }
                    }}"
                    maxlength="20"
                    [(ngModel)]="editBody.oldPassword"
                    (focusout)="checkPassword($event)"
                    (keypress)="checkPassword($event)"
                  />
                  <i
                    class="icon-svg_web-icon_p1_081-watch qrcode__login__icon"
                    [style.color]="displayPW ? 'black' : '#aaaaaa'"
                    (click)="toggleDisplayPW()"
                  ></i>
                </div>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.password !== ''"
                  >{{ cue.password | translate }}</span
                >
              </div>
              <div class="flexCol app-alert" style="margin: 0 auto; align-items: center">
                <span>{{ 'universal_userAccount_accountChanged' | translate }}</span>
                <span
                  class="icon-svg_web-icon_p1_073-level_fold"
                  style="width: 20px; font-size: 50px; transform: rotate(270deg); margin-top: 10px"
                ></span>
              </div>
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px">{{
                  'universal_userAccount_account' | translate
                }}</span>
                <div class="flexRow">
                  <input
                    style="width: 100%"
                    class="form-control"
                    placeholder="{{
                      'universal_userAccount_enterInfo' | translate: { info: i18n.account }
                    }}"
                    (keydown)="determineAccountType($event)"
                    (change)="saveAccount($event)"
                  />
                  <app-intl-phone-input
                    (onChange)="onCodeChange($event)"
                    [webUi]="true"
                    style="width: 190px"
                    *ngIf="editBody.newAccountType === SignTypeEnum.phone"
                  ></app-intl-phone-input>
                </div>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.account !== '' && cue.account !== 'accountRepeat'"
                  >{{ cue.account | translate }}</span
                >
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.account !== '' && cue.account === 'accountRepeat'"
                >
                  {{ 'universal_userAccount_account' | translate }}
                  {{ 'universal_deviceSetting_repeat' | translate }}
                </span>
              </div>
              <div class="flexCol webDiv" [style.display]="imgCaptcha.show ? '' : 'none'">
                <span class="access-text" style="margin-bottom: 10px">{{
                  'universal_userAccount_imgCaptcha' | translate
                }}</span>
                <div class="flexRow">
                  <input
                    placeholder="{{ imgCaptcha.placeholder }}"
                    maxlength="8"
                    (focusout)="checkImgCaptcha($event)"
                    (keypress)="checkImgCaptcha($event)"
                  />
                  <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha" />
                </div>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''"
                >
                  {{ imgCaptcha.cue | translate }}
                </span>
              </div>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 20px;
                "
              >
                <a class="access-text" style="cursor: pointer" [routerLink]="[signInUrl]">
                  <{{ 'universal_operating_back' | translate }}
                </a>
                <button
                  class="btn btn-primary access-btn"
                  [class.appview-unclickable]="progress !== 100 || dataIncomplete"
                  [style.background]="progress !== 100 || dataIncomplete ? '#2b819b54' : ''"
                  (click)="submit()"
                >
                  <span *ngIf="progress === 100">{{ 'universal_operating_send' | translate }}</span>
                  <i *ngIf="progress !== 100" class="fa fa-spinner fa-pulse"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
