<ng-container *ngIf="!pcView">
  <div class="flexCol">
    <div class="flexRow appHeader" style="justify-content: space-between;">
      <i
        class="icon-svg_web-icon_p1_073-level_fold"
        style="font-size: 30px; cursor: pointer;"
        (click)="turnBack()"
      ></i>
      <span class="appview-header appview-header-position">
        {{ 'universal_operating_modify' | translate }} {{ 'universal_userAccount_account' | translate }}
      </span>
    </div>
    <div class="flexCol appDiv" style="min-height: initial;">
      <span class="app-alert" style="font-size: 20px; font-weight: bold;">{{ 'universal_userAccount_changingAccount' | translate }}</span>
      <span style="font-size: 14px; font-weight: bold;">{{ accountInfo.oldAccount }}</span>
    </div>
    <div class="flexCol" style="margin-top: 10px;">
      <div class="flexCol appDiv">
        <span class="formTitle">{{ 'universal_userAccount_password' | translate }}</span>
        <div class="flexRow member__input">
          <input
            type="password"
            id="signupPW"
            style="width: 100%;"
            placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password} }}"
            maxlength="20"
            [(ngModel)]="editBody.oldPassword"
            (focusout)="checkPassword($event)"
            (keypress)="checkPassword($event)"
          />
          <i
            class="icon-svg_web-icon_p1_081-watch qrcode__login__icon"
            [style.color]="displayPW ? 'black' : '#aaaaaa'"
            (click)="toggleDisplayPW()"
          ></i>
        </div>
        <span class="formCue" *ngIf="cue.password !== ''">{{ cue.password | translate }}</span>
      </div>
      <div class="flexCol app-alert" style="margin: 0 auto; align-items: center;">
        <span>{{ 'universal_userAccount_accountChanged' | translate }}</span>
        <span
          class="icon-svg_web-icon_p1_073-level_fold"
          style="width:20px; font-size: 50px; transform: rotate(270deg); margin-top: 10px;"
        ></span>
      </div>
      <div class="flexCol appDiv">
        <span class="formTitle">{{ 'universal_userAccount_account' | translate }}</span>
        <div class="flexRow">
          <input
            style="width: 100%;"
            placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account} }}"
            (keydown)="determineAccountType($event)"
            (change)="saveAccount($event)"
          />
          <app-intl-phone-input
            (onChange)="onCodeChange($event)"
            style="width: 100%;"
            *ngIf="editBody.newAccountType === 2"
          ></app-intl-phone-input>
        </div>
        <span class="formCue" *ngIf="cue.account !== '' && cue.account !== 'accountRepeat'">
          {{ cue.account | translate }}
        </span>
        <span class="formCue" *ngIf="cue.account !== '' && cue.account === 'accountRepeat'">
          {{ 'universal_userAccount_account' | translate }} {{ 'universal_deviceSetting_repeat' | translate }}
        </span>
      </div>
      <div
        class="flexCol appDiv"
        [style.display]="imgCaptcha.show ? '' : 'none'"
      >
        <span class="formTitle">{{ 'universal_userAccount_imgCaptcha' | translate }}</span>
        <div class="flexRow">
          <input
            placeholder="{{ imgCaptcha.placeholder }}"
            maxlength="8"
            (focusout)="checkImgCaptcha($event)"
            (keypress)="checkImgCaptcha($event)"
          />
          <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
        </div>
        <span class="formCue" *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
          {{ imgCaptcha.cue | translate }}
        </span>
      </div>
    </div>
    <button
      class="appview-btn"
      [class.appview-btn-unclickable]="sending || dataIncomplete"
      (click)="submit()"
    >
      <span>{{ 'universal_operating_send' | translate }}</span>
      <i *ngIf="sending" class="fa fa-spinner fa-pulse"></i>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="pcView">
  <div class="access-bg">
    <div class="container signup" style="padding: 63px 0 70px 0;">
      <div class="d-flex" style="flex-direction: column;align-items: center;;">
        <div class="access-panel" style="margin-top: 30px;">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%">
          </header>
          <div class="access-panel-body">
            <div class="flexCol webDiv" style="min-height: initial;">
              <span class="app-alert" style="font-size: 20px; font-weight: bold;">{{ 'universal_userAccount_changingAccount' | translate }}</span>
              <span style="font-size: 14px; font-weight: bold;">{{ accountInfo.oldAccount }}</span>
            </div>
            <div class="flexCol" style="margin-top: 10px;">
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_password' | translate }}</span>
                <div class="flexRow member__input">
                  <input
                    type="password"
                    id="signupPW"
                    class="form-control"
                    placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password} }}"
                    maxlength="20"
                    [(ngModel)]="editBody.oldPassword"
                    (focusout)="checkPassword($event)"
                    (keypress)="checkPassword($event)"
                  />
                  <i
                    class="icon-svg_web-icon_p1_081-watch qrcode__login__icon"
                    [style.color]="displayPW ? 'black' : '#aaaaaa'"
                    (click)="toggleDisplayPW()"
                  ></i>
                </div>
                <span class="form__message form__message--placeholder" *ngIf="cue.password !== ''">{{ cue.password | translate }}</span>
              </div>
              <div class="flexCol app-alert" style="margin: 0 auto; align-items: center;">
                <span>{{ 'universal_userAccount_accountChanged' | translate }}</span>
                <span
                  class="icon-svg_web-icon_p1_073-level_fold"
                  style="width:20px; font-size: 50px; transform: rotate(270deg); margin-top: 10px;"
                ></span>
              </div>
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_account' | translate }}</span>
                <div class="flexRow">
                  <input
                    style="width: 100%;"
                    class="form-control"
                    placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account} }}"
                    (keydown)="determineAccountType($event)"
                    (change)="saveAccount($event)"
                  />
                  <app-intl-phone-input
                    (onChange)="onCodeChange($event)"
                    [webUi]="true"
                    style="width: 190px;"
                    *ngIf="editBody.newAccountType === 2"
                  ></app-intl-phone-input>
                </div>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.account !== '' && cue.account !== 'accountRepeat'"
                >{{ cue.account | translate }}</span>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.account !== '' && cue.account === 'accountRepeat'"
                >
                  {{ 'universal_userAccount_account' | translate }} {{ 'universal_deviceSetting_repeat' | translate }}
                </span>
              </div>
              <div
                class="flexCol webDiv"
                [style.display]="imgCaptcha.show ? '' : 'none'"
              >
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_imgCaptcha' | translate }}</span>
                <div class="flexRow">
                  <input
                    placeholder="{{ imgCaptcha.placeholder }}"
                    maxlength="8"
                    (focusout)="checkImgCaptcha($event)"
                    (keypress)="checkImgCaptcha($event)"
                  />
                  <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
                </div>
                <span class="form__message form__message--placeholder" *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
                  {{ imgCaptcha.cue | translate }}
                </span>
              </div>
              <div style="display: flex;justify-content: space-between; align-items: center; margin-top: 20px;">
                <a class="access-text" style="cursor:pointer" [routerLink]="['/signIn-web']"><{{'universal_operating_back' | translate}}</a>
                <button
                  class="btn btn-primary access-btn"
                  [class.appview-btn-unclickable]="sending || dataIncomplete"
                  [style.background]="sending || dataIncomplete ? '#2b819b54' : ''"
                  (click)="submit()"
                >
                  <span *ngIf="!sending">{{ 'universal_operating_send' | translate }}</span>
                  <i *ngIf="sending" class="fa fa-spinner fa-pulse"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

