@import 'font.scss';

.card__section {
  margin: 10px 0;
}

.row__to__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity-info_icon_size {
  font-size: 30px;
}

.summaryArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.summaryData {
  font-size: 24px;
  font-weight: bold;
  color: #646464;
}

.summaryDescription {
  font-size: 15px;
  color: #6e6e6e;
}

.sepLine {
  border-left: 1px solid #e0e0e0;
  height: 40px;
  margin-top: 10px;
}

.small__font {
  font-size: 12px;
  color: rgba(150, 150, 150, 1);
}

.head__name {
  @include bold-font(30px);
  color: rgba(115, 115, 115, 1);
}

.img__icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#sport__type__icon {
  font-size: 30px;
  color: rgba(100, 100, 100, 1);
  border: 2px solid rgba(200, 200, 200, 1);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}


#map__img {
  max-width: 300px;
  margin: 0 10px 10px 0;
}

#map__introduction {
  font-size: 15px;
}

.map__info {
  margin-bottom: 5px;
  font-weight: bold;

  span {
    color: rgba(100, 100, 100, 1);
  }

}

/******************** media ***************************/
@media (max-width: 767px) {
  footer {
    flex-direction: column;
  }

  .row__to__column {
    flex-direction: column;
    justify-content: center;
  }

  #file__owner {
    justify-content: flex-end;
  }

  .head__name {
    font-size: 24px;
  }

}

@media print {
  .row__to__column {
    flex-direction: row;
    justify-content: space-between;
  }

}