<ng-container *ngIf="!pcView">
  <div class="flexCol">
    <div class="flexRow appHeader" style="justify-content: space-between;">
      <i
        class="icon-svg_web-icon_p1_073-level_fold"
        style="font-size: 30px; cursor: pointer;"
        (click)="turnBack()"
      ></i>
      <span class="appview-header appview-header-position">
        {{ 'universal_userAccount_resetPassword' | translate }}
      </span>
    </div>
    <ng-container *ngIf="formValue.resetPasswordFlow <= 2">
      <div class="flexCol appDiv">
        <span class="formTitle">{{ 'universal_userAccount_account' | translate }}</span>
        <div class="flexRow member__input">
          <input
            style="width: 100%;"
            placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account } }}"
            (keydown)="determineAccountType($event)"
            (change)="saveAccount($event)"
          />
          <app-intl-phone-input
            (onChange)="onCodeChange($event)"
            [currentCountryCode]="formValue.countryCode"
            style="width: 100%;"
            *ngIf="formValue.type === 2"
          ></app-intl-phone-input>
        </div>
        <span class="formCue" *ngIf="cue.account !== ''">{{ cue.account | translate }}</span>
      </div>
      <button
        class="appview-btn"
        [class.appview-btn-unclickable]="sendingPhoneCaptcha"
        *ngIf="formValue.type === 2 && formValue.resetPasswordFlow !== 3 && !phoneFormIncomplete"
        (click)="reciprocal()"
      >
        <span>
          {{ 'universal_operating_send' | translate }}
          <span *ngIf="timeCount !== 30">({{ timeCount }}s)</span>
        </span>
      </button>
      <div class="flexCol" style="margin-top: 10px;">
        <div class="flexCol appDiv" *ngIf="formValue.type === 2 && !phoneFormIncomplete">
          <span class="formTitle">{{ 'universal_userAccount_phoneCaptcha' | translate }}</span>
          <div>
            <input
              style="margin: 0px; width: 100%;"
              placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.verificationCode } }}"
              maxlength="8"
              (focusout)="checkPhoneCaptcha($event)"
              (keypress)="checkPhoneCaptcha($event)"
            />
            <span class="formCue" *ngIf="cue.verificationCode !== ''">{{ cue.verificationCode | translate }}</span>
          </div>
        </div>
        <div
          class="flexCol appDiv"
          [style.display]="imgCaptcha.show ? '' : 'none'"
        >
          <span class="formTitle">{{ 'universal_userAccount_imgCaptcha' | translate }}</span>
          <div class="flexRow">
            <input
              placeholder="{{ 'universal_userAccount_imgCaptcha' | translate }}"
              maxlength="8"
              (focusout)="checkImgCaptcha($event)"
              (keypress)="checkImgCaptcha($event)"
            />
            <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
          </div>
          <span class="formCue" *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
            {{ imgCaptcha.cue }}
          </span>
        </div>
      </div>
    </ng-container>
    <div *ngIf="formValue.resetPasswordFlow === 3">
      <div class="flexCol appDiv" style="min-height: initial;">
        <span class="app-alert" style="font-size: 20px; font-weight: bold;">{{ 'universal_userAccount_changingPassword' | translate }}</span>
        <span style="font-size: 14px; font-weight: bold;" *ngIf="formValue.type === 1">
          {{ formValue.email }}
        </span>
        <span style="font-size: 14px; font-weight: bold;" *ngIf="formValue.type === 2">
          +{{ formValue.countryCode }} {{ formValue.phone }}
        </span>
      </div>
      <div class="flexCol appDiv">
        <span class="formTitle">{{ 'universal_userAccount_password' | translate }}</span>
        <input
          type="password"
          id="signupPW"
          placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password } }}"
          maxlength="20"
          [(ngModel)]="formValue.password"
          (focusout)="checkPassword($event)"
          (keypress)="checkPassword($event)"
        />
        <i
          class="icon-svg_web-icon_p1_081-watch inputIcon"
          [style.color]="displayPW ? 'black' : '#aaaaaa'"
          (click)="toggleDisplayPW()"
        ></i>
        <span class="formCue" *ngIf="cue.password !== ''">{{ cue.password | translate }}</span>
      </div>
    </div>
    <button
      class="appview-btn"
      [class.appview-btn-unclickable]="sending || dataIncomplete"
      (click)="submit()"
    >
      <span *ngIf="formValue.type === 1">{{ 'universal_operating_send' | translate }}</span>
      <span *ngIf="formValue.type === 2">{{ 'universal_operating_reset' | translate }}</span>
      <i *ngIf="sending" class="fa fa-spinner fa-pulse"></i>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="pcView">
  <div class="access-bg" style="margin-top: 0px;">
    <div class="container signup" style="padding-top:63px">
      <div class="d-flex" style="flex-direction: column;align-items: center;">
        <div class="access-panel" style="margin-top: 60px;">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%">
          </header>
          <div class="access-panel-body">
            <div *ngIf="formValue.resetPasswordFlow <= 2">
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_account' | translate }}</span>
                <div class="flexRow member__input">
                  <input
                    placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.account } }}"
                    class="form-control"
                    (keydown)="determineAccountType($event)"
                    (change)="saveAccount($event)"
                  />
                  <app-intl-phone-input
                    (onChange)="onCodeChange($event)"
                    [currentCountryCode]="formValue.countryCode"
                    [webUi]="true"
                    style="width: 190px;"
                    *ngIf="formValue.type === 2"
                  ></app-intl-phone-input>
                </div>
                <span class="form__message form__message--placeholder" *ngIf="cue.account !== ''">{{ cue.account | translate }}</span>
              </div>
              <div class="flexCol" style="margin-top: 10px;">
                <div class="flexCol webDiv" *ngIf="formValue.type === 2 && !phoneFormIncomplete">
                  <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_phoneCaptcha' | translate }}</span>
                  <div>
                    <input
                      style="margin: 0px; width: 100%;"
                      class="form-control"
                      placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.verificationCode } }}"
                      maxlength="8"
                      (focusout)="checkPhoneCaptcha($event)"
                      (keypress)="checkPhoneCaptcha($event)"
                    />
                    <span class="form__message form__message--placeholder" *ngIf="cue.verificationCode !== ''">{{ cue.verificationCode | translate }}</span>
                  </div>
                </div>
                <div
                  class="flexCol webDiv"
                  [style.display]="imgCaptcha.show ? '' : 'none'"
                >
                  <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_imgCaptcha' | translate }}</span>
                  <div class="flexRow">
                    <input
                      placeholder="{{ 'universal_userAccount_imgCaptcha' | translate }}"
                      class="form-control"
                      maxlength="8"
                      (focusout)="checkImgCaptcha($event)"
                      (keypress)="checkImgCaptcha($event)"
                    />
                    <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
                  </div>
                  <span class="form__message form__message--placeholder" *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
                    {{ imgCaptcha.cue }}
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="formValue.resetPasswordFlow === 3">
              <div class="flexCol webDiv" style="min-height: initial;">
                <span class="app-alert" style="font-size: 20px; font-weight: bold;">{{ 'universal_userAccount_changingPassword' | translate }}</span>
                <span style="font-size: 14px; font-weight: bold;" *ngIf="formValue.type === 1">
                  {{ formValue.email }}
                </span>
                <span style="font-size: 14px; font-weight: bold;" *ngIf="formValue.type === 2">
                  +{{ formValue.countryCode }} {{ formValue.phone }}
                </span>
              </div>
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">{{ 'universal_userAccount_newPassword' | translate }}</span>
                <input
                  type="password"
                  id="signupPW"
                  placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': i18n.password } }}"
                  class="form-control"
                  maxlength="20"
                  [(ngModel)]="formValue.password"
                  (focusout)="checkPassword($event)"
                  (keypress)="checkPassword($event)"
                />
                <i
                  class="icon-svg_web-icon_p1_081-watch inputIcon"
                  style="top: -30px; left: 90%;"
                  [style.color]="displayPW ? 'black' : '#aaaaaa'"
                  (click)="toggleDisplayPW()"
                ></i>
                <span class="form__message form__message--placeholder" *ngIf="cue.password !== ''">{{ cue.password | translate }}</span>
              </div>
            </div>
            <button
              class="btn btn-primary access-btn"
              [class.appview-btn-unclickable]="sendingPhoneCaptcha"
              [style.background]="sending || sendingPhoneCaptcha ? '#2b819b54' : ''"
              *ngIf="formValue.type === 2 && formValue.resetPasswordFlow !== 3 && !phoneFormIncomplete"
              (click)="reciprocal()"
            >
              <span>{{ 'universal_operating_send' | translate }}({{ timeCount }}s)</span>
            </button>
            <div style="display: flex;justify-content: space-between; align-items: center; margin-top: 20px;">
              <a class="access-text" style="cursor:pointer" [routerLink]="['/signIn-web']"><{{'universal_operating_back' | translate}}</a>
              <button
                class="btn btn-primary access-btn"
                [class.appview-btn-unclickable]="sending || dataIncomplete"
                [style.background]="sending || dataIncomplete ? '#2b819b54' : ''"
                (click)="submit()"
              >
                <span *ngIf="formValue.type === 1">{{ 'universal_operating_send' | translate }}</span>
                <span *ngIf="formValue.type === 2">{{ 'universal_operating_reset' | translate }}</span>
                <i *ngIf="sending" class="fa fa-spinner fa-pulse"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
