<ng-container *ngIf="!pcView">
  <app-loading-bar [progress]="progress"></app-loading-bar>
  <nav>
    <button
      class="flexRow appview-backButton"
      (click)="turnBack()"
    >
      <i class="icon-svg_web-icon_p1_016-back"></i>
      <span>{{ 'universal_operating_back' | translate }}</span>
    </button>
  </nav>
  <main class="appview-whiteText">
    <div class="flexCol appview-contentArea">
      <h4
        [ngClass]="{
          'appview-tftPageTitle': !mobileSize,
          'appview-mobilePageTitle': mobileSize
        }"
      >
        {{ 'universal_userAccount_forgetPassword' | translate }}
      </h4>
      <div class="flexCol">
        <div class="flexCol appview-contentDetail">
          <div class="flexCol">
            <label class="appview-inputLabel" for="appview__account">
              {{ 'universal_userAccount_account' | translate }}
            </label>
            <ng-container
              *ngIf="formValue.resetPasswordFlow !== ResetFlow.reset"
            >
              <div class="flexRow account__area appview-inputBorder">
                <div
                  [class.appview-countryCodeSelector]="formValue.type === SignTypeEnum.phone"
                  [class.selector--active]="displayCountryCodeList"
                  (click)="showCountryCodeList($event)"
                  *ngIf="formValue.type === SignTypeEnum.phone"
                >
                  <span>
                    +{{ formValue.countryCode }}
                  </span>
                  <ul
                    class="appview-countryCodeList"
                    *ngIf="displayCountryCodeList"
                  >
                    <li
                      class="flexRow"
                      (click)="selectCountryCode($event, _list.code)"
                      *ngFor="let _list of countryCodeList;"
                    >
                      <span class="appview-countryNumber">
                        {{ _list.code }}
                      </span>
                      <span class="appview-countryName">
                        {{ _list.name }}
                      </span>
                    </li>
                  </ul>
                </div>
                <input
                  type="text"
                  id="appview__account"
                  class="appview-dataInput"
                  [placeholder]="
                    'universal_userAccount_enterInfo' | translate: {
                      info: ('universal_userAccount_emailPerPhone' | translate)
                    }
                  "
                  [attr.readonly]="focusInput === 'account' ? null : true"
                  (click)="handleInputFocus($event, 'account')"
                  (keydown)="determineAccountType($event)"
                  (change)="saveAccount($event)"
                >
              </div>
              <p class="appview-alertHint">
                <ng-container
                  *ngIf="cue.account !== ''"
                >
                  {{ cue.account | translate }}
                </ng-container>
              </p>
            </ng-container>
            <ng-contanier *ngIf="formValue.resetPasswordFlow === ResetFlow.reset">
              <p style="margin: 0;">
                <ng-container *ngIf="formValue.type === SignTypeEnum.email">
                  {{ formValue.email }}
                </ng-container>
                <ng-container *ngIf="formValue.type === SignTypeEnum.phone">
                  +{{ formValue.countryCode }} {{ formValue.phone }}
                </ng-container>
              </p>
            </ng-contanier>
          </div>
          <div *ngIf="
            formValue.type === SignTypeEnum.phone
            && formValue.resetPasswordFlow !== ResetFlow.reset
          ">
            <input
              type="text"
              class="appview-dataInput appview-inputBorder appview-smsInput"
              [placeholder]="'universal_userAccount_phoneCaptcha' | translate"
              maxlength="8"
              (focusout)="checkPhoneCaptcha($event)"
              (keypress)="checkPhoneCaptcha($event)"
            >
            <p class="appview-alertHint">
              <ng-container *ngIf="cue.verificationCode !== ''">
                {{ cue.verificationCode | translate }}
              </ng-container>
            </p>
            <ng-container *ngIf="formValue.resetPasswordFlow !== ResetFlow.reset && imgCaptcha.show">
              <div *ngTemplateOutlet="imgCaptchaArea"></div>
            </ng-container>
            <button
              class="appview-submitButton appview-left"
              [class.appview-unclickable]="progress !== 100 || timeCount !== 30"
              (click)="reciprocal()"
            >
              <span class="resend">{{ 'universal_operating_send' | translate }}</span>
              <span class="appview-timeCount">({{ timeCount }}s)</span>
            </button>
          </div>
        </div>
        <div
          class="appview-contentDetail"
          *ngIf="formValue.resetPasswordFlow === ResetFlow.reset && imgCaptcha.show"
        >
          <div *ngTemplateOutlet="imgCaptchaArea"></div>
        </div>
        <ng-container *ngIf="formValue.resetPasswordFlow !== ResetFlow.reset">
          <div *ngTemplateOutlet="buttonArea; context: {
            type: formValue.type === SignTypeEnum.phone ? 'confirm' : 'send'
          }"></div>
        </ng-container>
        <section
          class="appview-bottomSlideIn"
          *ngIf="formValue.resetPasswordFlow === ResetFlow.reset"
        >
          <div class="flexCol appview-contentDetail">
            <label class="appview-inputLabel" for="appview__password">
              {{ 'universal_userAccount_newPassword' | translate }}
            </label>
            <div class="flexRow password__area appview-inputBorder">
              <input
                id="appview__password"
                class="appview-dataInput"
                [type]="displayPW ? 'text' : 'password'"
                [placeholder]="
                  'universal_userAccount_enterInfo' | translate: {
                    info: ('universal_userAccount_newPassword' | translate)
                  }
                "
                maxlength="20"
                [attr.readonly]="focusInput === 'password' ? null : true"
                (click)="handleInputFocus($event, 'password')"
                (focusout)="checkPassword($event)"
                (keypress)="checkPassword($event)"
              >
              <button class="appview-showPassword" (click)="toggleDisplayPW()">
                <i
                  class="icon-svg_web-icon_p1_081-watch"
                  [style.color]="displayPW ? 'rgba(200, 200, 200, 1)' : 'rgba(100, 100, 100, 1)'"
                ></i>
              </button>
            </div>
            <p 
              class="appview-alertHint"
              [class.appview-hint]="cue.password === ''"
            >
              {{ 'universal_userAccount_passwordFormat' | translate }}
            </p>
          </div>
          <div *ngTemplateOutlet="buttonArea; context: {
            type: 'reset'
          }"></div>
        </section>
      </div>
    </div>
  </main>
</ng-container>
<ng-template #buttonArea let-type="type">
  <div class="appview-buttonArea" [ngSwitch]="type">
    <button
      class="appview-submitButton appview-right"
      [class.appview-unclickable]="progress !== 100 || dataIncomplete || flowComplete"
      (click)="submit()"
    >
      <ng-container *ngSwitchCase="'reset'">
        {{ 'universal_operating_reset' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="'send'">
        {{ 'universal_operating_send' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="'confirm'">
        {{ 'universal_operating_confirm' | translate }}
      </ng-container>
    </button>
  </div>
</ng-template>
<ng-template #imgCaptchaArea>
  <div class="flexCol">
    <label class="appview-inputLabel" for="img__captcha">
      {{ 'universal_userAccount_imgCaptcha' | translate }}
    </label>
    <div class="flexRow">
      <input
        id="img__captcha"
        class="appview-dataInput appview-inputBorder"
        [placeholder]="'universal_userAccount_imgCaptcha' | translate"
        maxlength="8"
        (focusout)="checkImgCaptcha($event)"
        (keypress)="checkImgCaptcha($event)"
      />
      <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
    </div>
    <p class="appview-alertHint">
      <ng-container *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
        {{ imgCaptcha.cue | translate }}
      </ng-container>
    </p>
  </div>
</ng-template>

<ng-container *ngIf="pcView">
  <div class="access-bg" style="margin-top: 0px;">
    <div class="container signup" style="padding: 63px 0 70px 0;">
      <div class="d-flex" style="flex-direction: column;align-items: center;">
        <div class="access-panel" style="margin-top: 60px;">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%">
          </header>
          <div class="access-panel-body">
            <div *ngIf="formValue.resetPasswordFlow <= ResetFlow.verify">
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">
                  {{ 'universal_userAccount_account' | translate }}
                </span>
                <div class="flexRow member__input">
                  <input
                    [placeholder]="'universal_userAccount_enterInfo' | translate: {
                      info: ('universal_userAccount_account' | translate)
                    }"
                    class="form-control"
                    (keydown)="determineAccountType($event)"
                    (change)="saveAccount($event)"
                  />
                  <app-intl-phone-input
                    (onChange)="onCodeChange($event)"
                    [currentCountryCode]="formValue.countryCode"
                    [webUi]="true"
                    style="width: 190px;"
                    *ngIf="formValue.type === 2"
                  ></app-intl-phone-input>
                </div>
                <span class="form__message form__message--placeholder" *ngIf="cue.account !== ''">
                  {{ cue.account | translate }}
                </span>
              </div>
              <div class="flexCol" style="margin-top: 10px;">
                <div class="flexCol webDiv" *ngIf="formValue.type === 2 && !phoneFormIncomplete">
                  <span class="access-text" style="margin-bottom: 10px;">
                    {{ 'universal_userAccount_phoneCaptcha' | translate }}
                  </span>
                  <div>
                    <input
                      style="margin: 0px; width: 100%;"
                      class="form-control"
                      [placeholder]="'universal_userAccount_enterInfo' | translate: {
                          info: ('universal_userAccount_phoneCaptcha' | translate)
                      }"
                      maxlength="8"
                      (focusout)="checkPhoneCaptcha($event)"
                      (keypress)="checkPhoneCaptcha($event)"
                    />
                    <span
                      class="form__message form__message--placeholder"
                      *ngIf="cue.verificationCode !== ''"
                    >{{ cue.verificationCode | translate }}</span>
                  </div>
                </div>
                <div
                  class="flexCol webDiv"
                  [style.display]="imgCaptcha.show ? '' : 'none'"
                >
                  <span class="access-text" style="margin-bottom: 10px;">
                    {{ 'universal_userAccount_imgCaptcha' | translate }}
                  </span>
                  <div class="flexRow">
                    <input
                      placeholder="{{ 'universal_userAccount_imgCaptcha' | translate }}"
                      class="form-control"
                      maxlength="8"
                      (focusout)="checkImgCaptcha($event)"
                      (keypress)="checkImgCaptcha($event)"
                    />
                    <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
                  </div>
                  <span
                    class="form__message form__message--placeholder"
                    *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''"
                  >
                    {{ imgCaptcha.cue }}
                  </span>
                  
                </div>
              </div>
            </div>
            <div *ngIf="formValue.resetPasswordFlow === ResetFlow.reset">
              <div class="flexCol webDiv" style="min-height: initial;">
                <span class="app-alert" style="font-size: 20px; font-weight: bold;">
                  {{ 'universal_userAccount_changingPassword' | translate }}
                </span>
                <span style="font-size: 14px; font-weight: bold;" *ngIf="formValue.type === 1">
                  {{ formValue.email }}
                </span>
                <span style="font-size: 14px; font-weight: bold;" *ngIf="formValue.type === 2">
                  +{{ formValue.countryCode }} {{ formValue.phone }}
                </span>
              </div>
              <div class="flexCol webDiv">
                <span class="access-text" style="margin-bottom: 10px;">
                  {{ 'universal_userAccount_newPassword' | translate }}
                </span>
                <input
                  id="signupPW"
                  [placeholder]="
                    'universal_userAccount_enterInfo' | translate: {
                      info: ('universal_userAccount_newPassword' | translate)
                    }
                  "
                  class="form-control"
                  [type]="displayPW ? 'text' : 'password'"
                  maxlength="20"
                  [(ngModel)]="formValue.password"
                  (focusout)="checkPassword($event)"
                  (keypress)="checkPassword($event)"
                />
                <i
                  class="icon-svg_web-icon_p1_081-watch inputIcon"
                  style="top: -30px; left: 90%;"
                  [style.color]="displayPW ? 'black' : '#aaaaaa'"
                  (click)="toggleDisplayPW()"
                ></i>
                <span
                  class="form__message form__message--placeholder"
                  *ngIf="cue.password !== ''"
                >
                  {{ cue.password | translate }}
                </span>
              </div>
            </div>
            <button
              class="btn btn-primary access-btn"
              [class.appview-unclickable]="timeCount !== 30"
              [style.background]="progress !== 100 || timeCount !== 30 ? '#2b819b54' : ''"
              (click)="reciprocal()"
              *ngIf="
                formValue.type === SignTypeEnum.phone
                && formValue.resetPasswordFlow !== ResetFlow.reset
                && !phoneFormIncomplete
              "
            >
              <span>{{ 'universal_operating_send' | translate }}({{ timeCount }}s)</span>
            </button>
            <div style="display: flex;justify-content: space-between; align-items: center; margin-top: 20px;">
              <a class="access-text" style="cursor:pointer" [routerLink]="['/signIn-web']">
                <{{'universal_operating_back' | translate}}
              </a>
              <button
                class="btn btn-primary access-btn"
                [class.appview-unclickable]="progress !== 100 || dataIncomplete"
                [style.background]="progress !== 100 || dataIncomplete ? '#2b819b54' : ''"
                (click)="submit()"
              >
                <span *ngIf="formValue.type === SignTypeEnum.email">
                  {{ 'universal_operating_send' | translate }}
                </span>
                <span *ngIf="formValue.type === SignTypeEnum.phone">
                  {{ 'universal_operating_reset' | translate }}
                </span>
                <i *ngIf="progress !== 100" class="fa fa-spinner fa-pulse"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
