<section class="cardSection">
  <div class="flexCol cardContent" style="padding-bottom: 50px;">
    <div class="flexRow" style="justify-content: space-between;">
      <h5 class="settingTitle">
        {{ 'universal_userProfile_basicInformation' | translate }}
      </h5>
      <div class="flexRow">
        <button
          class="childPageBtn"
          (click)="openEditMode()"
          *ngIf="uiFlag.editMode === 'close'"
        >
          {{ 'universal_operating_edit' | translate }}
        </button>
        <button
          class="childPageBtn"
          (click)="cancelEdit()"
          *ngIf="uiFlag.editMode === 'edit'"
        >
          {{ 'universal_operating_cancel' | translate }}
        </button>
        <button
          class="childPageBtn editModeBtn"
          [style.pointer-events]="uiFlag.nicknameAlert ? 'none' : 'initial'"
          (click)="editComplete()"
          *ngIf="uiFlag.editMode === 'edit'"
        >
          {{ 'universal_operating_confirm' | translate }}
        </button>
      </div>
    </div>
    <div class="flexCol settingContent">
      <div class="content__row">
        <label class="contentTitle" for="nickname__input">
          {{ 'universal_userAccount_nickname' | translate }}：
        </label>
        <span class="info__content" *ngIf="uiFlag.editMode === 'close'">
          {{ userInfo.nickname }}
        </span>
        <div class="flexCol" *ngIf="uiFlag.editMode === 'edit'">
          <input
            type="text"
            id="nickname__input"
            class="userSettingInput"
            maxlength="24"
            [placeholder]="'universal_userAccount_nickname' | translate"
            [value]="setting.nickname"
            (focusout)="handleNicknameInput($event)"
          >
          <span
            class="input__alert"
            [style.color]="uiFlag.nicknameAlert ? 'red' : 'var(--scale-100-205)'"
          >
            <ng-container *ngIf="uiFlag.nicknameAlert !== 'repeat'">
              *{{ 'universal_userAccount_nameCharactersToLong' | translate }}
            </ng-container>
            <ng-container *ngIf="uiFlag.nicknameAlert === 'repeat'">
              *{{ 'universal_userAccount_nickname' | translate }}
              {{ 'universal_deviceSetting_repeat' | translate }}
            </ng-container>
          </span>
        </div>
      </div>
      <div class="content__row">
        <label class="contentTitle" for="height__input">
          {{ 'universal_userProfile_bodyHeight' | translate }}：
        </label>
        <span class="info__content" *ngIf="uiFlag.editMode === 'close'">
          {{ (userInfo.bodyHeight) | bodyHeightSibs: [userInfo.unit, false] }}
        </span>
        <input
          type="text"
          id="height__input"
          class="userSettingInput"
          maxlength="5"
          [placeholder]="175 | bodyHeightSibs: [userInfo.unit, false]"
          [value]="setting.bodyHeight"
          (keydown)="checkFormat($event)"
          (focusout)="handleHeightInput($event)"
          *ngIf="uiFlag.editMode === 'edit'"
        >
        <span class="valueUnit">{{ 'bodyHeight' | dataTypeUnit: [null, userInfo.unit] }}</span>
      </div>
      <div class="content__row">
        <label class="contentTitle" for="weight__input">
          {{ 'universal_userProfile_limit_bodyWeight' | translate }}：
        </label>
        <span class="info__content" *ngIf="uiFlag.editMode === 'close'">
          {{ userInfo.bodyWeight | weightSibs: [userInfo.unit, 1] }}
        </span>
        <input
          type="text"
          id="weight__input"
          class="userSettingInput"
          maxlength="5"
          [placeholder]="70 | weightSibs: [userInfo.unit, 1]"
          [value]="setting.bodyWeight"
          (keydown)="checkFormat($event)"
          (focusout)="handleWeightInput($event)"
          *ngIf="uiFlag.editMode === 'edit'"
        >
        <span class="valueUnit">{{ 'bodyWeight' | dataTypeUnit: [null, userInfo.unit] }}</span>
      </div>
      <div class="flexRow content__row">
        <span class="contentTitle">{{ 'universal_userProfile_birthday' | translate }}：</span>
        <span class="info__content" *ngIf="uiFlag.editMode === 'close'">
          {{ userInfo.birthday }}
        </span>
        <div *ngIf="uiFlag.editMode === 'edit'">
          <app-date-range-picker
            (selectDateRange)="getSelectDate($event)"
            [pickerType]="'singlePicker'"
            [refStartDate]="userInfo.birthday | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'"
            [default]="userInfo.birthday | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'"
            [selectBirthday]="true"
          ></app-date-range-picker>
        </div>
      </div>
      <div class="flexRow content__row">
        <span class="contentTitle">{{ 'universal_userProfile_gender' | translate }}：</span>
        <span class="info__content" *ngIf="uiFlag.editMode === 'close'">
          {{ userInfo.gender | sex: 'i18n' | translate }}
        </span>
        <div class="flexRow" *ngIf="uiFlag.editMode === 'edit'">
          <div class="flexRow">
            <span class="flexRow radioSelector" (click)="changeGender(sex.male)">
              <span
                class="radioBtn"
                [class.radioBtn--active]="setting.gender === sex.male"
              ></span>
              <span>{{ 'universal_userProfile_male' | translate }}</span>
            </span>
            <span class="flexRow radioSelector" (click)="changeGender(sex.female)">
              <span
                class="radioBtn"
                [class.radio__btn--active]="setting.gender === sex.female"
              ></span>
              <span>{{ 'universal_userProfile_female' | translate }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>