<div class="d-flex" style="margin-bottom: 15px">
  <span style="color: #157fcc; font-weight:700">
    {{'Dashboard.System.AdminPermissionSetting' | translate }}
  </span>
</div>
<table class="table alatech-table">
  <thead>
    <tr class="tr-only-hide">
      <th class="alatech-table__cell--head">{{'Dashboard.System.SettingItem' | translate }}</th>
      <th class="alatech-table__cell--head">{{'Dashboard.System.Personincharge' | translate }}</th>
      <th class="alatech-table__cell--head">{{'Dashboard.System.Description' | translate }}</th>
      <th class="alatech-table__cell--head">{{'Dashboard.System.FuncofManagement' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!isLoading">
      <tr>
        <td class="alatech-table__cell">{{'Dashboard.System.SystemAdminPermissionSetting' | translate }}(10)</td>
        <td class="alatech-table__cell"
          *ngIf="systemDevelopers.length === 0"
        >
          {{'Dashboard.System.NoRelevantPerson' | translate }}
        </td>
        <td class="alatech-table__cell"
          *ngIf="systemDevelopers && systemDevelopers.length > 0"
        >
          <span class="innerAdmin-name" *ngFor="let _systemDeveloper of systemDevelopers">
            {{_systemDeveloper.userName}}
          </span>
        </td>
        <td class="alatech-table__cell">{{'Dashboard.System.SystemAdminDesc' | translate }}</td>
        <td class="alatech-table__cell">
          <button class="icon-btn" (click)="openSelectorWin(10)">
            <i class="fa fa-user-plus icon_fa"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="alatech-table__cell">{{'Dashboard.System.SystemMaintainerPermissionSetting' | translate }}(20)</td>
        <td class="alatech-table__cell"
          *ngIf="systemMaintainers.length === 0"
        >
          {{'Dashboard.System.NoRelevantPerson' | translate }}
        </td>
        <td class="alatech-table__cell"
          *ngIf="systemMaintainers && systemMaintainers.length > 0"
        >
          <span class="innerAdmin-name" *ngFor="let _systemMaintainers of systemMaintainers">
            {{_systemMaintainers.userName}}
          </span>
        </td>
        <td class="alatech-table__cell">{{'Dashboard.System.SystemMaintainerDesc' | translate }}</td>
        <td class="alatech-table__cell">
          <button class="icon-btn" (click)="openSelectorWin(20)">
            <i class="fa fa-user-plus icon_fa"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="alatech-table__cell">{{'Dashboard.System.MarketingPermissionSetting' | translate }}(29)</td>
        <td class="alatech-table__cell"
          *ngIf="marketingDevelopers.length === 0"
        >
          {{'Dashboard.System.NoRelevantPerson' | translate }}
        </td>
        <td class="alatech-table__cell"
          *ngIf="marketingDevelopers && marketingDevelopers.length > 0"
        >
          <span class="innerAdmin-name" *ngFor="let _marketingDevelopers of marketingDevelopers">
            {{_marketingDevelopers.userName}}
          </span>
        </td>
        <td class="alatech-table__cell">{{'Dashboard.System.MarketingPermissionDesc' | translate }}</td>
        <td class="alatech-table__cell">
          <button class="icon-btn" (click)="openSelectorWin(29)">
            <i class="fa fa-user-plus icon_fa"></i>
          </button>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="isLoading">
      <td class="alatech-table__cell" colspan="4" style="text-align: center">
        <div style="display:flex;justify-content: center;align-items: center;height:100%">
          <mat-spinner></mat-spinner>
        </div>
      </td>
    </tr>
  </tbody>
</table>
