<div class="d-flex" style="margin-bottom: 15px">
  <span style="color: #157fcc; font-weight:700">
    內部人員權限設定
  </span>
</div>
<table class="table alatech-table">
  <thead>
    <tr class="tr-only-hide">
      <th class="alatech-table__cell--head">設定項目</th>
      <th class="alatech-table__cell--head">目前負責人員</th>
      <th class="alatech-table__cell--head">說明</th>
      <th class="alatech-table__cell--head">管理功能</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!isLoading">
      <tr>
        <td class="alatech-table__cell">系統開發員權限設定(10)</td>
        <td class="alatech-table__cell"
          *ngIf="systemDevelopers.length === 0"
        >
          尚無相關人員
        </td>
        <td class="alatech-table__cell"
          *ngIf="systemDevelopers && systemDevelopers.length > 0"
        >
          <span class="innerAdmin-name" *ngFor="let _systemDeveloper of systemDevelopers">
            {{_systemDeveloper.userName}}
          </span>
        </td>
        <td class="alatech-table__cell">設定各系統開發人員，便於申請人指定開發人員</td>
        <td class="alatech-table__cell">
          <button class="icon-btn" (click)="openSelectorWin(10)">
            <i class="fa fa-user-plus icon_fa"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="alatech-table__cell">系統維護員權限設定(20)</td>
        <td class="alatech-table__cell"
          *ngIf="systemMaintainers.length === 0"
        >
          尚無相關人員
        </td>
        <td class="alatech-table__cell"
          *ngIf="systemMaintainers && systemMaintainers.length > 0"
        >
          <span class="innerAdmin-name" *ngFor="let _systemMaintainers of systemMaintainers">
            {{_systemMaintainers.userName}}
          </span>
        </td>
        <td class="alatech-table__cell">設定各系統維護人員，便於申請人指定維護人員</td>
        <td class="alatech-table__cell">
          <button class="icon-btn" (click)="openSelectorWin(20)">
            <i class="fa fa-user-plus icon_fa"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="alatech-table__cell">行銷與企劃權限設定(29)</td>
        <td class="alatech-table__cell"
          *ngIf="marketingDevelopers.length === 0"
        >
          尚無相關人員
        </td>
        <td class="alatech-table__cell"
          *ngIf="marketingDevelopers && marketingDevelopers.length > 0"
        >
          <span class="innerAdmin-name" *ngFor="let _marketingDevelopers of marketingDevelopers">
            {{_marketingDevelopers.userName}}
          </span>
        </td>
        <td class="alatech-table__cell">設定各系統行銷與企劃人員，便於申請人指定行銷與企劃人員</td>
        <td class="alatech-table__cell">
          <button class="icon-btn" (click)="openSelectorWin(29)">
            <i class="fa fa-user-plus icon_fa"></i>
          </button>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="isLoading">
      <td class="alatech-table__cell" colspan="4" style="text-align: center">
        <div style="display:flex;justify-content: center;align-items: center;height:100%">
          <mat-spinner></mat-spinner>
        </div>
      </td>
    </tr>
  </tbody>
</table>
