.fold__icon {
  position: relative;
  margin: 10px 0 0 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--scale-100-230);
}

.muscle__name {
  color: var(--scale-0-255);
  text-align: center;
}

.fold__content {
  align-items: center;
  margin-left: 30px;
  width: 80px;
}

.muscle__trend__chart {
  width: calc(100% - 110px);
}

.muscle__content__trend__chart {
  width: calc(100% - 140px);
}


/***************************************** media ***************************************/

@media (max-width: 767px){
  .muscle__trend__chart,
  .muscle__content__trend__chart,
  .fold__content {
    width: 100%;
  }

  .muscle__chart__list {
    flex-direction: column;
  }

}