<form [formGroup]="complexForm" #f="ngForm" novalidate (ngSubmit)="enroll(complexForm)">
  <div>
    <ul class="tablist">
      <li class="tablist__tab" title="現場報名" [class.tablist__tab--selected]="tabIdx === 0" (click)="selectTab(0)"
        (click)="handleTab()"
      >
        On-site registration
      </li>
      <li class="tablist__tab" title="報名設定" [class.tablist__tab--selected]="tabIdx === 1" (click)="selectTab(1)"
        (click)="handleTab()"
      >
        報名設定
      </li>
    </ul>
  </div>
  <div style="padding: 30px;border: 1px solid #ccc;margin: -1px 0px 0px;">
    <div *ngIf="tabIdx === 0">
      <div class="form-group">
        <div class="form-group ">
          <div class="row">
            <div class="col-md-5 text-md-right">
              <label class="form__label--required">Name:</label>
            </div>
            <div class="col-md-5">
              <input type="text" class="form-control form-field" formControlName="userName"
                [class.form-field--invalid]="(!complexForm.controls['userName'].valid
                && complexForm.controls['userName'].touched) || (f.submitted && complexForm.get('userName').hasError('required'))"
              />
              <div class="form__message" *ngIf="(!complexForm.controls['userName'].valid && complexForm.controls['userName'].touched) || (f.submitted && complexForm.get('userName').hasError('required'))">
                  userName is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5 text-md-right">
            <label class="form__label--required">註冊cloud run方式:</label>
          </div>
          <div class="col-md-5">
            <mat-radio-group formControlName="signupMethod">
              <mat-radio-button [value]="1" color="primary"
                (change)="handleRadioBtn('1')"
              >
                Email
              </mat-radio-button>
              <mat-radio-button [value]="2" color="primary"
                (change)="handleRadioBtn('2')"
              >
                Phone
              </mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="complexForm.controls['signupMethod'].value === 1">
              <div style="position: relative;">
                <input type="email" autocomplete="off" class="form-control form-field"
                  (keyup)="onEmailChange($event, complexForm)"
                  formControlName="email"
                  [class.form-field--invalid]="(!complexForm.controls['email']?.valid && complexForm.controls['email']?.touched) || (f.submitted
                  && complexForm.get('email')?.hasError('required')) || emailErr.length > 0"
                />
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw spinner" [class.spinner-hidden]="!isEmailLoading"></i>
              </div>
              <div style="color: #999;font-size: 10px;">
                ※請填上您申請的Cloud Run雲跑email，以免成績無法登錄
              </div>
              <!-- <div style="color: #999;font-size: 10px;">
                ※Please fill in your Cloud Run account to avoid the results can not log in
              </div> -->
              <div class="form__message" *ngIf="(!complexForm.controls['email']?.valid && complexForm.controls['email']?.touched) && complexForm.get('email').hasError('required') || (f.submitted && complexForm.get('email').hasError('required'))">
                Email is required.
              </div>
              <div class="form__message" *ngIf="(!complexForm.controls['email']?.valid && complexForm.controls['email']?.touched) && complexForm.get('email').hasError('pattern')">
                信箱格式不正確
              </div>
              <div class="form__message" *ngIf="emailErr.length > 0">
                {{ emailErr }}
              </div>
            </ng-container>
            <ng-container *ngIf="complexForm.controls['signupMethod'].value === 2">
               <app-intl-phone-input
                (onChange)="onPhoneChange($event)"
                [control]="complexForm"
                [isLoading]="isPhoneLoading"
                [isInvalid]="(complexForm.controls['phone']?.invalid && complexForm.controls['phone']?.touched) || phoneErr.length > 0"
               ></app-intl-phone-input>
              <div style="color: #999;font-size: 10px;">
                ※請填上您申請的Cloud Run雲跑手機，以免成績無法登錄
              </div>
              <div class="form__message" *ngIf="(!complexForm.controls['phone']?.valid && complexForm.controls['phone']?.touched) || (f.submitted && complexForm.get('phone')?.hasError('required'))">
                Phone is required.
              </div>
              <div class="form__message" *ngIf="phoneErr.length > 0">
                {{ phoneErr }}
              </div>
            </ng-container>
            <div class="form__message" *ngIf="(f.submitted && !complexForm.controls['signupMethod']?.valid)">
             請選擇註冊cloud run 方式
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5 text-md-right">
            <label>年齡範圍:</label>
          </div>
          <div class="col-md-5">
            <select formControlName="ageRange" class="form-field">
              <option value="不透露">不透露</option>
              <option value="15歲以下">15歲以下</option>
              <option value="16~20歲">16~20歲</option>
              <option value="21~25歲">21~25歲</option>
              <option value="26~30歲">26~30歲</option>
              <option value="31~35歲">31~35歲</option>
              <option value="36~40歲">36~40歲</option>
              <option value="41~45歲">41~45歲</option>
              <option value="46~50歲">46~50歲</option>
              <option value="51~55歲">51~55歲</option>
              <option value="56~60歲">56~60歲</option>
              <option value="61歲以上">61歲以上</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5 text-md-right">
            <label>性別:</label>
          </div>
          <div class="col-md-5">
            <select formControlName="gender" class="form-field">
              <option value=2>不透露</option>
              <option value=0>男生</option>
              <option value=1>女生</option>
            </select>
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <div class="row">
          <div class="col-md-5 text-md-right">
            <label class="form__label--required">身分證字號:</label>
          </div>
          <div class="col-md-5">
            <input type="text" autocomplete="off" class="form-control form-field" name="idNumber" [(ngModel)]="formData.idNumber" #idNumber="ngModel"
              maxlength="10"
              required [class.form-field--invalid]="(idNumber.errors?.required && idNumber.touched) || (isIDFormatErr || isIDEnroll) || (f.submitted && idNumber.errors?.required) || idNumErr.length > 0"
              (keyup)="onIDNumChange($event, f)"
            />
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw spinner" [class.spinner-hidden]="!isIDNumLoading"></i>
            <div class="form__message" *ngIf="idNumber.errors?.required && idNumber.touched || (f.submitted && idNumber.errors?.required)">
              IDNumber is required.
            </div>
            <div class="form__message" *ngIf="isIDFormatErr">
              身分證字號格式錯誤
            </div>
            <div class="form__message" *ngIf="isIDEnroll">
              此身分證字號已報名
            </div>
            <div class="form__message" *ngIf="idNumErr.length > 0">
              {{ idNumErr }}
            </div>
          </div>
        </div>
      </div> -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-5 text-md-right">
            <label class="form__label--required">地址:</label>
          </div>
          <div class="col-md-5">
            <input type="text" autocomplete="off" class="form-control form-field"
              formControlName="address"
               [class.form-field--invalid]="(!complexForm.controls['address'].valid && complexForm.controls['address'].touched) || (f.submitted
              && complexForm.get('address').hasError('required'))"
            />
            <div class="form__message" *ngIf="(!complexForm.controls['address'].valid && complexForm.controls['address'].touched) || (f.submitted && complexForm.get('address').hasError('required'))">
              Address is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="tabIdx === 1">
      <div class="row">
        <div class="col-md-5 text-right">
          <label>上傳報名檔案<span style="color:#cb5e5e">(限工作人員操作)</span>:</label>
        </div>
        <div class="col-md-5">
          <app-upload-file
            [maxFileSize]="maxFileSize"
            [disabled]="isUploading"
            [btnText]="this.fileLink ? reloadFileText : chooseFileText"
            [isLoading]="isUploading"
            [accept]="acceptFileExtensions.join()"
            (onChange)="handleAttachmentChange($event)"
          ></app-upload-file>
          <a href (click)="downloadFile($event)">{{ fileName }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right">
          <label>範例格式檔
            <a href (click)="downloadExample($event)">外部報名資料範例檔案</a>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="alatech-footer">
    <div class="justify-content-end">
      <a *ngIf="tabIdx === 1" class="alatech-btn alatech-btn--default" title="預覽目前參賽名單" target="_blank" href="/dashboardalaala/enroll/{{ event_id }}/preview?ipm=s&&session_id={{ session_id }}">
        預覽
      </a>
      <button class="alatech-btn alatech-btn--default"
        [disabled]="isBtnDisabled"
      >
        Send
      </button>
      <button class="alatech-btn alatech-btn--default" [disabled]="isBtnDisabled" (click)="goBack()">
        Back
      </button>
    </div>
  </div>
</form>



