<div class="d-flex flex-row-reverse">
  <button class="alatech-btn alatech-btn--default"
   (click)="print()"
  >
   列印
  </button>
</div>
<div class="text-center">
  <h1><strong>第一屆台中高空夜跑賽完賽認證書</strong></h1>
  <h6><strong>Certificate of running Panathenean Stadium, Greece</strong></h6>
<div>
<div class="text-left" style="padding: 30px 15px">

  茲證明 <strong>李冠誼</strong> 君，於 2018 年 01 月 11 日
  跑步環 希臘 雅典運動場一周，全程總長 0.5km，挑戰成功!
  <div style="padding: 15px 0px">
    This is to certify that <strong>Roy Lee</strong> has run around Panathenean Stadium,
    the best stadium in Greece, for total distance of 0.5km on 2018 / 01 / 11
  </div>

  <div class="d-flex" style="float: right">不正常人類研究中心 院長<div class="signature" [style.background-image]="sgImageUrl"></div></div>
</div>
