<div class="access-bg">
  <div class="container signup" style="padding: 63px 0 70px 0;">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description"  innerHtml="{{ 'universal_app_gptSlogan' | translate }}">
      </div>
      <div class="access-panel">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body">
          <form [formGroup]="form" (ngSubmit)="signup(f)" #f="ngForm" novalidate>
            <ng-container *ngIf="!isEmailMethod">
              <div class="form-group">
                <div style="display: flex;justify-content: space-between;">
                  <label class="access-text">{{'universal_userAccount_signUp' | translate}}:
                  </label>
                  <a href="#" (click)="switchMethod($event)">
                    {{'universal_userAccount_emailSignUp' | translate}}></a>
                </div>
                <div style="display: flex">
                  <div style="width: 100%">
                    <app-intl-phone-input
                      (onChange)="onCodeChange($event)"
                      [placeholder]="placeholder"
                      [control]="form"
                      [isPhoneInvalid]="(!form.controls['phone'].valid && form.controls['phone'].touched) || (f.submitted && form.get('phone').hasError('required'))"
                      [isCodeInvalid]="isCodeInvalid"
                      [disabled]="isSMSCodSending || isSignupSending"
                    ></app-intl-phone-input>
                    <div class="form__message form__message--placeholder"
                      style="margin-left: 118px"
                      *ngIf="(!form.controls['phone'].valid && form.controls['phone'].touched) || (f.submitted && form.get('phone').hasError('required'))"
                    >
                      {{'universal_userAccount_enterInfo' | translate: {'info': i18n.phone} }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isEmailMethod">
              <div class="form-group">
                <div style="display: flex;justify-content: space-between;">
                  <label for="exampleInputEmail1"class="access-text">{{'universal_userAccount_signUp' | translate}}:
                  </label>
                  <a href="#" (click)="switchMethod($event)">{{'universal_userAccount_phoneSignUp' | translate}}></a>
                </div>
                <input formControlName="email" class="form-control"
                  type="email"
                  id="exampleInputEmail1"
                  placeholder="{{'universal_userAccount_enterInfo' | translate: {'info': i18n.email} }}"
                  [class.form-control--invalid]="(!form.controls['email'].valid && form.controls['email'].touched) || (f.submitted &&
                  form.get('email').hasError('required'))"
                  [attr.disabled]="isSignupSending ? '' : null"
                >
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['email'].hasError('required') && form.controls['email'].touched) || (f.submitted && form.get('email').hasError('required'))"
                >
                  {{'universal_userAccount_enterInfo' | translate: {'info': i18n.email} }}
                </div>
                <div class="form__message form__message--placeholder"
                  *ngIf="(form.controls['email'].hasError('pattern') && form.controls['email'].touched) || (f.submitted && form.get('email').hasError('required'))"
                >
                  {{'universal_userAccount_emailFormat' | translate}}
                </div>
              </div>
            </ng-container>
            <div class="form-group">
              <label class="access-text">{{'universal_userAccount_keyInPassword' | translate}}:</label>
              <input formControlName="password" type="password" class="form-control"
                placeholder="{{'universal_userAccount_passwordFormat' | translate}}"
                autocomplete="off"
                [class.form-control--invalid]="(!form.controls['password'].valid && form.controls['password'].touched) || (f.submitted &&
                form.get('password').hasError('required'))"
                [attr.disabled]="isSignupSending ? '' : null"
              >
              <div class="form__message form__message--placeholder" *ngIf="(form.controls['password'].hasError('required') && form.controls['password'].touched) || (f.submitted && form.get('password').hasError('required'))">
                {{'universal_userAccount_enterInfo' | translate: {'info': i18n.password} }}
              </div>
              <div class="form__message form__message--placeholder" *ngIf="(form.controls['password'].hasError('pattern') && form.controls['password'].touched) || (f.submitted && form.controls['password'].hasError('pattern'))">
                {{'universal_userAccount_passwordFormat' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label class="access-text">{{'universal_userAccount_nickname' | translate}}:</label>
              <input formControlName="name" type="text"
                class="form-control"
                placeholder="{{'universal_userAccount_nameCharactersToLong' | translate}}"
                (keyup)="onNameChange($event)"
                [class.form-control--invalid]="(form.controls['name'].hasError('required') && form.controls['name'].touched) || (f.submitted && form.get('name').hasError('required'))"
                [attr.disabled]="isSignupSending ? '' : null"
              >
              <div class="form__message form__message--placeholder" *ngIf="(form.controls['name'].hasError('required') && form.controls['name'].touched) || (f.submitted && form.get('name').hasError('required'))">
                {{'universal_userAccount_enterInfo' | translate: {'info': i18n.nickname} }}
              </div>
            </div>
            <ng-container *ngIf="!isEmailMethod">
              <div class="form-group">
                <label class="access-text">{{'universal_userAccount_phoneCaptcha' | translate}}:</label>
                <div style="display: flex;justify-content: space-between;align-items: center">
                  <input formControlName="smsCode"
                    class="form-control"
                    style="width: 150px"
                    [class.form-control--invalid]="(form.controls['smsCode'].hasError('required') && form.controls['smsCode'].touched) || (f.submitted
                    && form.get('smsCode').hasError('required')) || isSMSCodeErr"
                    [attr.disabled]="isSignupSending ? '' : null"
                  >
                  <div class="form__message form__message--placeholder"
                    *ngIf="isSMSCodeErr"
                  >
                    {{'universal_userAccount_errorCaptcha' | translate}}
                  </div>
                  <a href="#" (click)="sendSMSCode($event)"
                    [class.ban-send]="isSMSCodSending"
                    style="text-align: right"
                  >
                    {{'universal_userAccount_sendCaptcha' | translate}}
                  </a>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isEmailMethod">
              <div class="form-group">
                <label class="access-text">{{'universal_userAccount_imgCaptcha' | translate}}:</label>
                <div style="display: flex;justify-content: space-between;align-items: center">
                  <input formControlName="chartCode"
                    class="form-control"
                    style="width: 150px"
                    [class.form-control--invalid]="(form.controls['chartCode'].hasError('required') && form.controls['chartCode'].touched) ||
                    (f.submitted && form.get('chartCode').hasError('required') || isChartCodeErr)"
                    [attr.disabled]="isSignupSending ? '' : null"
                  >
                  <div class="form__message form__message--placeholder"
                    *ngIf="isChartCodeErr"
                  >
                    {{'universal_userAccount_errorCaptcha' | translate}}
                  </div>
                  <img *ngIf="randomCode"
                    [src]="randomCode?.randomCodeImg | safeHtml"
                    (click)="handleRandomCode()"
                    style="cursor:pointer"
                  >
                </div>
              </div>
            </ng-container>
            <div style="display: flex;justify-content: space-between;align-items: center;">
              <a *ngIf="isEmailMethod" class="access-text" href="#" style="cursor:pointer" (click)="switchMethod($event)"><{{'universal_operating_back' | translate}}</a>
              <a *ngIf="!isEmailMethod" class="access-text" style="cursor:pointer" [routerLink]="['/signIn-web']"><{{'universal_operating_back' | translate}}</a>
              <app-confirm-button
                [className]="className"
                [content]="'universal_userAccount_signUp' | translate"
                [disabled]="isSignupSending"
              >
              </app-confirm-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

