<nav class="navbar fixed-top navbar-expand-lg navabar-color bg-color navbar-toggle">
  <a class="navbar-brand nav-item" [routerLink]="['/']">
    <h2 style="font-weight: 700">
      center
      <span class="alpha-text" *ngIf="isAlphaVersion">alpha</span>
    </h2>
  </a>
  <div class="navbar-utility">
    <button class="navbar-toggler collaped  nav-item" *ngIf="!isShowResetPwd && !isShowDashboard && isShowLeaderboard" (click)="toggleSearch()"
      style="color: #fff">
      <i class="material-icons">search</i>
    </button>
    <button class="navbar-toggler nav-item mobile-hamburger" type="button" (click)="toggleMask()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="nav-item nav-rwd" [class.active]="navItemNum === 3"
      style="list-style: none;"
      *ngIf="!(login$| async)"
      (click)="chooseNavItem(3)"
    >
      <a class="nav-link" [routerLink]="['/signin']">{{"SH.logIn" | translate}}</a>
    </li>
    <li class="nav-item nav-rwd" style="list-style: none;" *ngIf="(login$| async)">
      <a class="nav-link" (click)="logout()">{{ "SH.logOut" | translate}}</a>
    </li>
    <li class="nav-item nav-rwd" style="list-style: none;margin-left: 10px" *ngIf="(login$| async)">
      <a class="nav-link" [routerLink]="['/dashboard']">{{ "SH.startUsing" | translate}}</a>
    </li>
    <div class="dropdown nav-rwd">
      <button class="btn btn-secondary dropdown-toggle ala-btn__lang" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" style="background-color: transparent;border-color: transparent">
        {{langName}}
      </button>
      <div class="dropdown-menu dropdown-menu-lang" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" (click)="switchLang('zh-tw')">繁體中文</button>
        <button class="dropdown-item" type="button" (click)="switchLang('zh-cn')">简体中文</button>
        <button class="dropdown-item" type="button" (click)="switchLang('en-us')">English</button>
        <button class="dropdown-item" type="button" (click)="switchLang('es-es')">Español</button>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse" [class.show]="isCollapseShow" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item nav-rwd__hamburger" style="list-style: none;" *ngIf="(login$| async)">
        <a class="nav-link" [routerLink]="['/dashboard']">{{ "SH.startUsing" | translate}}</a>
      </li>
      <li class="nav-item" [class.active]="navItemNum === 1"
        *ngIf="!isShowResetPwd"
        (click)="chooseNavItem(1)"
      >
        <a class="nav-link" [routerLink]="['/']">{{ "Portal.introduction" | translate}}</a>
      </li>

      <li class="nav-item" [class.active]="navItemNum === 2"
        *ngIf="!isShowResetPwd && false"
        (click)="chooseNavItem(2)"
      >
        <a class="nav-link" [routerLink]="['/leaderboard']">{{ "SH.leaderboard" | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="isShowResetPwd">
        <a class="nav-link" (click)="reloadPage()">Reset Password</a>
      </li>
      <li class="nav-item nav-rwd__hamburger" [class.active]="navItemNum === 3"
        style="list-style: none;"
        *ngIf="!(login$| async)"
        (click)="chooseNavItem(3)"
      >
        <a class="nav-link" [routerLink]="['/signin']">{{"SH.logIn" | translate}}</a>
      </li>
      <li class="nav-item nav-rwd__hamburger" style="list-style: none;" *ngIf="(login$| async)">
        <a class="nav-link" (click)="logout()">{{ "SH.logOut" | translate}}</a>
      </li>

      <div class="dropdown nav-rwd__hamburger">
        <button class="btn btn-secondary dropdown-toggle ala-btn__lang" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"
          style="background-color: transparent;border-color: transparent;padding: 0px"
        >
          {{langName}}
        </button>
        <div class="dropdown-menu dropdown-menu-lang" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" (click)="switchLang('zh-tw')">繁體中文</button>
          <button class="dropdown-item" type="button" (click)="switchLang('zh-cn')">简体中文</button>
          <button class="dropdown-item" type="button" (click)="switchLang('en-us')">English</button>
          <button class="dropdown-item" type="button" (click)="switchLang('es-es')">Español</button>
        </div>
      </div>
    </ul>
  </div>
</nav>
