<input
  #ifchecked
  type="checkbox"
  id="menu-switch"
  [(ngModel)]="menu.MainNav"
  (change)="toggleMenu(ifchecked.checked)"
/>
<header>
  <div class="header_box">
    <!-- logo -->
    <div class="logo webTitle">
      <a [routerLink]="['/']" (click)="chooseNavItem('home')">
        <img src="/assets/icons/logo2.svg" alt="GPTfit" />
        <span class="alpha-text" *ngIf="isAlphaVersion">alpha</span>
      </a>
    </div>
    <!-- 選單 -->
    <nav class="main_nav">
      <ul class="main">
        <!-- 個人 -->
        <li class="main_list">
          <a [routerLink]="['/signIn-web']" (click)="chooseNavItem('signIn')">
            <i class="icon-svg_web-icon_p4_023-dashboard"></i>
            {{ 'universal_userProfile_personal' | translate }}</a
          >
        </li>
      </ul>
    </nav>
    <div class="main_nav_member">
      <!-- 頭像 -->
      <div class="member_avatar" (click)="toggle('memberMenu')">
        <img
          class="avatar"
          [src]="userProfile.avatarUrl"
          (error)="this.userProfile.avatarUrl = '/assets/images/user2.png'"
          alt="avatar"
        />
        <i
          class="icon-svg_web-icon_p1_069-about alert__icon__enable"
          *ngIf="accountStatus === 1"
        ></i>
      </div>
      <ul [class.member_activ]="menu.memberMenu" class="member">
        <p class="member_list member-name">{{ userProfile.nickname }}</p>
        <!-- 啟用帳號 -->
        <li class="member_list enableAccount" *ngIf="accountStatus === 1">
          <a [routerLink]="['']" (click)="toEnableAccount()">
            <i class="icon-svg_web-icon_p1_069-about alert__icon__enable list_icon"></i>
            <span
              >{{ 'universal_deviceSetting_switch' | translate
              }}{{ 'universal_userAccount_account' | translate }}</span
            >
          </a>
        </li>
        <!-- 登入 -->
        <li *ngIf="(login$ | async) === false" class="member_list">
          <a (click)="chooseNavItem('signIn')">
            <mat-icon class="list_icon">person</mat-icon>
            <span>{{ 'universal_userAccount_logIn' | translate }}</span>
          </a>
        </li>
        <!-- 登出 -->
        <li class="member_list">
          <a *ngIf="login$ | async" (click)="chooseNavItem('logout')">
            <mat-icon class="list_icon">close</mat-icon>
            <span>{{ 'universal_userAccount_logOut' | translate }}</span>
          </a>
        </li>
        <!-- 語言 -->
        <li class="member_list">
          <a
            class="ala-btn__lang dropdown-toggle"
            (click)="toggle('showLanguage')"
            style="background-color: transparent; border-color: transparent"
          >
            <mat-icon class="list_icon">language</mat-icon>
            <span>{{ langName }}</span>
            <div class="showLanguage dropdown-menu" [class.show]="menu.showLanguage">
              <ng-container *ngTemplateOutlet="langList"></ng-container>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- hamber -->
    <label for="menu-switch" class="hb">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
</header>
<div class="navmask" [class.navmask_activ]="isShowMask"></div>

<ng-template #langList>
  <button class="dropdown-item" type="button" (click)="switchLang('zh-tw')">繁體中文</button>
  <button class="dropdown-item" type="button" (click)="switchLang('zh-cn')">简体中文</button>
  <button class="dropdown-item" type="button" (click)="switchLang('en-us')">English</button>
  <button class="dropdown-item" type="button" (click)="switchLang('es-es')">Español</button>
  <button class="dropdown-item" type="button" (click)="switchLang('de-de')">Deutsche</button>
  <button class="dropdown-item" type="button" (click)="switchLang('fr-fr')">français</button>
  <button class="dropdown-item" type="button" (click)="switchLang('it-it')">italiano</button>
  <button class="dropdown-item" type="button" (click)="switchLang('pt-pt')">Português</button>
</ng-template>
