<div class="imgCroppingMask" *ngIf="imgCropping"></div>
<div style="display:flex;justify-content: space-between">
  <h3>{{'universal_userProfile_userSetting' | translate}}</h3>
  <button class="alatech-btn alatech-btn--default settings-btn"
    title="{{'universal_operating_save' | translate}}"
    [style.background-color]="isSaveUserSettingLoading ? 'rgba(200, 200, 200, 1)' : 'initial'"
    [style.pointer-events]="isSaveUserSettingLoading ? 'none' : 'initial'"
    (click)="saveSettings(settingsForm)"
  >
    <span *ngIf="!isSaveUserSettingLoading">{{'universal_operating_save' | translate}}</span>
    <span *ngIf="isSaveUserSettingLoading">{{'universal_status_saving' | translate}}</span>
  </button>
</div>
<form [formGroup]="settingsForm"
  #f="ngForm"
  novalidate
>
  <label class="ala-form__label settings-label">
    {{'universal_userProfile_basicSetting' | translate}}
  </label>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
      {{'universal_vocabulary_avatar' | translate}}
    </label>
    <div class="settings-control" style="min-width: 250px;">
      <app-upload-file
        [isImageFileMode]="true"
        [imageURL]="nameIcon?.value"
        [btnText]="'universal_operating_selectImg' | translate"
        [accept]="acceptFileExtensions.join()"
        (onChange)="handleAttachmentChange($event)"
      ></app-upload-file>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
    {{'universal_activityData_name' | translate}}
    </label>
    <div class="settings-control" style="position: relative;">
      <app-form-text
        [content]="name?.value"
        [maxLength]="24"
        [invalidRemindText]="inValidText"
        [control]="settingsForm"
        [controlName]="'name'"
        [isInvalid]="(!name.valid && name.touched) || (f.submitted && name.hasError('required')) || isNameError"
        (focusout)="onNameChange($event, settingsForm)"
      >
      </app-form-text>
      <i class="fa fa-spinner fa-pulse fa-1x fa-fw spinner" [class.spinner-hidden]="!isNameLoading"></i>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
    {{'universal_userProfile_bodyHeight' | translate}}
    </label>
    <div class="settings-control">
      <div style="display: inline-block">
        <app-form-text
          [type]="'number'"
          [content]="height?.value"
          [maxLength]="24"
          [disabled]="isSaveUserSettingLoading"
          [invalidRemindText]="inValidText"
          [control]="settingsForm"
          [controlName]="'height'"
          [isInvalid]="(!height.valid && height.touched) || (f.submitted && height.hasError('required'))"
          (focusout)="handleValueArrange(1, $event)"
          [min]="100"
          [max]="255"
        >
        </app-form-text>
      </div>
      <span style="display: inline-block;margin-left: 10px">cm</span>
    </div>

  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
    {{'universal_userProfile_bodyWeight' | translate}}
    </label>
    <div class="settings-control">
      <div style="display: inline-block">
        <app-form-text
          [type]="'number'"
          [content]="weight?.value"
          [maxLength]="24"
          [disabled]="isSaveUserSettingLoading"
          [isInvalid]="(!weight.valid && weight.touched) || (f.submitted && weight.hasError('required'))"
          [invalidRemindText]="inValidText"
          [control]="settingsForm"
          [controlName]="'weight'"
          [min]="40"
          [max]="255"
          (focusout)="handleValueArrange(2, $event)"
        >
        </app-form-text>
      </div>
      <span style="display: inline-block;margin-left: 10px">kg</span>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'universal_userProfile_birthday' | translate}}
    </label>
    <div class="settings-control">
      <mat-form-field style="min-width: 275px;">
        <input matInput name="birthday" [matDatepicker]="picker" placeholder=""
          (dateChange)="logStartDateChange($event)"
          (keydown)="handleKeyDown($event)"
          formControlName="birthday"
          readonly
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="birthday" disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'universal_userProfile_gender' | translate}}
    </label>
    <div class="settings-control">
      <select class="form-field"
        formControlName="gender"
      >
        <option value="0">{{'universal_userProfile_male' | translate}}</option>
        <option value="1">{{'universal_userProfile_female' | translate}}</option>
      </select>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'universal_group_introduction' | translate}}
    </label>
    <div class="settings-control">
      <app-form-textarea
        [maxLength]="'500'"
        [content]="description"
        [control]="settingsForm"
        [controlName]="'description'"
        [disabled]="isSaveUserSettingLoading"
        (onChange)="handleChangeTextarea($event, 1)"
        [isHadCount]="true"
      >
      </app-form-textarea>
    </div>
  </div>
</form>
