.settings-label {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.settings-control {
  margin-left: 15px;
  .form-field {
    width: 275px;
  }
}
.ala-form__label.settings-item {
  color: #919191;
}
