<div style="display:flex;justify-content: space-between">
  <h3>{{'Dashboard.Settings.UserSetting' | translate}}</h3>
  <button class="alatech-btn alatech-btn--default settings-btn"
    title="{{'Dashboard.Settings.Save' | translate}}"
    (click)="saveSettings(settingsForm)"
  >
    {{'Dashboard.Settings.Save' | translate}}
  </button>
</div>
<form [formGroup]="settingsForm"
  #f="ngForm"
  novalidate
  (ngSubmit)="saveSettings(settingsForm)"
>
  <label class="ala-form__label settings-label">
    {{'Dashboard.Settings.BasicSetting' | translate}}
  </label>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
      {{'Dashboard.Settings.Avatar' | translate}}
    </label>
    <div class="settings-control" style="min-width: 250px;">
      <app-upload-file
        [isImageFileMode]="true"
        [imageURL]="nameIcon?.value"
        [maxFileSize]="maxFileSize"
        [disabled]="isUploading"
        [btnText]="'Dashboard.Group.GroupInfo.SelectFile' | translate"
        [isLoading]="isUploading"
        [accept]="acceptFileExtensions.join()"
        [reloadFileText]="'Dashboard.Group.GroupInfo.ReUpload' | translate"
        [chooseFileText]="'Dashboard.Group.GroupInfo.SelectFile' | translate"
        (onChange)="handleAttachmentChange($event)"
      ></app-upload-file>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
    {{'Dashboard.Settings.Name' | translate}}
    </label>
    <div class="settings-control" style="position: relative;">
      <app-form-text
        [content]="name?.value"
        [maxLength]="32"
        [invalidRemindText]="inValidText"
        [control]="settingsForm"
        [controlName]="'name'"
        [isInvalid]="(!name.valid && name.touched) || (f.submitted && name.hasError('required')) || isNameError"
        (onChange)="onNameChange($event, settingsForm)"
      >
      </app-form-text>
      <i class="fa fa-spinner fa-pulse fa-1x fa-fw spinner" [class.spinner-hidden]="!isNameLoading"></i>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
    {{'Dashboard.Settings.Height' | translate}}
    </label>
    <div class="settings-control">
      <div style="display: inline-block">
        <app-form-text
          [type]="'number'"
          [content]="height?.value"
          [maxLength]="32"
          [disabled]="isSaveUserSettingLoading"
          [invalidRemindText]="inValidText"
          [control]="settingsForm"
          [controlName]="'height'"
          [isInvalid]="(!height.valid && height.touched) || (f.submitted && height.hasError('required'))"
          (onChange)="handleValueArrange(1, $event)"
          [min]="50"
          [max]="255"
        >
        </app-form-text>
      </div>
      <span style="display: inline-block;margin-left: 10px">cm</span>
    </div>

  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item"
      [class.form__label--required]="true"
    >
    {{'Dashboard.Settings.Weight' | translate}}
    </label>
    <div class="settings-control">
      <div style="display: inline-block">
        <app-form-text
          [type]="'number'"
          [content]="weight?.value"
          [maxLength]="32"
          [disabled]="isSaveUserSettingLoading"
          [isInvalid]="(!weight.valid && weight.touched) || (f.submitted && weight.hasError('required'))"
          [invalidRemindText]="inValidText"
          [control]="settingsForm"
          [controlName]="'weight'"
          [min]="30"
          [max]="255"
          (onChange)="handleValueArrange(2, $event)"
        >
        </app-form-text>
      </div>
      <span style="display: inline-block;margin-left: 10px">kg</span>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'Dashboard.Settings.Birthday' | translate}}
    </label>
    <div class="settings-control">
      <mat-form-field style="min-width: 275px;">
        <input matInput [matDatepicker]="picker" placeholder=""
          (dateChange)="logStartDateChange($event)"
          formControlName="birthday"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="birthday"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'Dashboard.Settings.Sex' | translate}}
    </label>
    <div class="settings-control">
      <select class="form-field"
        formControlName="gender"
      >
        <option value="0">{{'Dashboard.Settings.Male' | translate}}</option>
        <option value="1">{{'Dashboard.Settings.Female' | translate}}</option>
      </select>
    </div>
  </div>
  <div class="ala-list__item">
    <label class="ala-form__label settings-item">
      {{'Dashboard.Settings.Introduction' | translate}}
    </label>
    <div class="settings-control">
      <app-form-textarea
        [maxLength]="'500'"
        [content]="description"
        [control]="settingsForm"
        [controlName]="'description'"
        [disabled]="isSaveUserSettingLoading"
        (onChange)="handleChangeTextarea($event, 1)"
        [isHadCount]="true"
      >
      </app-form-textarea>
    </div>
  </div>
</form>
