/* * {
  border: 1px solid black;
} */
.footer-details {
  display: none;
}
.lesson-section__hide {
  position: absolute;
  top: -500px;
  left: 0;
}
.blurred-mask {
  filter: blur(5px);
  width: 100%;
  height: 100vh;
  background: inherit;
  overflow: hidden;
  z-index: 2;
}
.lesson-info {
  display:flex;
  flex-direction:column;
  padding-right: 45px;
}
.lesson-title {
  font-size:24px;
  color: #454545;
  font-weight: bold;
  display: flex;
  flex-direction: column;
 .lesson-title-location {
   font-size: 16px;
   color: #a4a4a4;
   text-align: right;
 }
}

.end-text {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #108Bcd;
  font-weight: 700;
  font-size: 70px;
  transform: translate(-50%, -50%);
}
.top {
  display: flex;
}

.coach-bg {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.card-body--bg {
  position: absolute;
  z-index: -1;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.coach-container {
  width: 100%;
  display: flex;
  min-height: calc(100vh - 60px);
}
.data-container {
  width: calc(100% - 360px);
}
.bg-filter {
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(2) blur(15px);
  -moz-filter: brightness(2) blur(15px);
  -o-filter: brightness(2) blur(15px);
  -ms-filter: brightness(2) blur(15px);
  filter: brightness(2) blur(15px);
}

.content {
  padding: 0 15px;
}

.race-info {
  width: 40%;
  height: 200px;
  text-align: right;

}

.race-mode__shadow {
  font-size: 75px;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 2px 1px #333333;
}

.race-map__info {
  font-size: 36px;
  font-style: italic;
  color: #fff;
  text-shadow: 4px 3px 1px #333333;
}

.curmap-info {
  width: 60%;
  height: 200px;
  text-align: right;
  font-size: 34px;
  color: #303030;
}

.hr-card {
  width: calc((100% - 72px) / 5);
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 20px;
  position: relative;
}

.color-mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), transparent);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}


.hr-card-header {
  display: flex;
  color: #fff;
  background-color: #a2a2a2;
  font-size: 17px;
  justify-content: space-between;
  padding: 10px;
  letter-spacing: 1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  .hr-card-header__no {
    display: inline-block;
    font-family: ITC;
  }

  .hr-card-header__name {
    display: inline-block;
  }
}

.hr-card-body {
  position: relative;
  font-size: 25px;
  letter-spacing: 5px;
}

.hr-card-body__hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 7.5px;
}
.hr-card-body_other.hr-card-body__hr {
  align-items: center;
}
.hr-card-body__other {
  font-size: 17px;
  height: 50%;
  display: flex;
  padding: 7.5px 15px 12px;
  justify-content: space-between;
}

.hr-card-body__pace {
  display: inline-block;
}

.hr-card-body__distance {
  display: inline-block;
  text-align: right;
}

.hr {
  display: inline-block;
  font-size: 17px;
}

.hr-val {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.val {
  display: inline-block;
  font-family: ITC;
  font-size: 42px;
  line-height: 42px;
  color: #e10019;
  opacity: .8;
}

.user-photo {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.user-photo--landscape img {
  width: auto;
  height: 100%;
}

.user-photo--portrait img {
  width: 100%;
  height: auto;
}

.photo-fit__25 img {
  margin-left: -25%;
}

.photo-fit__50 img {
  margin-left: -50%;
}

.coach-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  img {
    width: 96px;
    height: 96px;
    cursor: pointer;
  }
  span {
    font-size: 19px;
    color: #108bcd;
    font-weight: bold;
    vertical-align: middle;
  }
  i {
    color: #aaa;
    font-size: 28px;
    cursor: pointer;
  }
  .card-sort--color {
    color: #0090ff;
  }
}

.coach-footer {
  width: 100%;
  height: 105px;
  background-color: #f1f1f1f1;
  border-top: 1px solid #4f4f4f;
  border-bottom: 1px solid #4f4f4f;
}
.coach-name {
  font-size: 24px;
  font-weight:bold;
  margin-bottom: 27px;
}


.card-params {
  font-family: ITC;
  font-size: 24.5px;
  opacity: .8;
}

.hr-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  animation: heartbeat 1s infinite;

  color: #e10019;
}

.mySvg {
  background-color: cadetblue;
}

.chart-area {
  position: absolute;
  top: -10000px;
}

.chart-container {
  display: inline-block;
  width: calc(100% - 100px);
  position: relative;
  height: 280px;
}

.chart {
  display: inline-block;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
}
.chart-section {
  width:100%;
  display:flex;
  padding:0px 20px;
  align-items: center;
}
.chart .highcharts-container {
  display: flex;
  width: 100% !important;
}

.hr-container {
  text-align: right;
  display: inline-block;
  min-width: 100px;
}

.hr-info {
  margin-bottom: 25px;
  .hr-item {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
  }
  .hr-val {
    width:70%;
    font-size:28px;
    font-family:ITC;
    text-align:right;
    color: #7f7f7f;
  }
}
.dropdown-menu.trend-chart-menu {
  min-width: 120px;
  font-weight: 500;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 10px 15px;
    }
    li.active {
      background-color: #0090ff;
      color: #fff;
    }
    li:hover {
      cursor: pointer;
      background-color: #0090ff;
      color: #fff;
    }
  }

}

.lesson-container {
  background-color: #f0f0f0;
  max-width: 360px;
  .board-title {
    color: #26abe3;
    font-weight: 700;
    padding: 18px;
    font-size: 19px;
  }
}

.lesson-img {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
}
.highcharts-credits {
  display: none;
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  width: 15%;
  height: 20px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #333;
}
@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(.75);
  }

  100% {
    transform: scale(.75);
  }
}

@media (max-width: 1919px) {
  .hr-card {
    width: calc((100% - 48px) / 3);
    margin-left: 12px;
  }
  .content {
    padding: 0;
  }
  .hr-card-body {
    font-size: 22px;
  }
}

@media (max-width: 1079px) {
  .lesson-container {
    display: block;
  }

  .hr-card {
    width: calc((100% - 46px) / 2);
    margin: 0px 11.5px 25px 11.5px;
  }
  .content {
    padding: 0 11.5px;
  }

  .hr-card-body {
    font-size: 22px;
  }
}

.carousel-item.active {
  height: 260px;
  line-height: 260px;
  background: black;
}

@media (min-width: 768px) {
  .ala-coach.col-md-6 {
    max-width: initial;
    min-width: 50%;
  }
}
@media(max-width: 767px) {
  .coach-container {
    display: block;
  }
  .lesson-container {
    max-width: initial;
  }
  .data-container {
    width: 100%;
  }
  .chart-section {
    padding: 30px 40px;
    display: block;
  }
  .end-text {
    font-size: 45px;
  }
  .coach-name {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .lesson-info {
    padding-right: 0px;
  }

  .lesson-title {
    font-size: 24px;
  }
  .chart-container {
    width: 100%;
  }

  .hr-info {
    display: inline-block;
    margin-bottom: 0px;
  }

  .hr-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .coach-header img {
    width: 56px;
    height: 56px;
  }

  .coach-header span {
    margin: 0;
    font-size: 30px;
  }

  .coach-header {
    padding: 0 15px;
    height: 100px;
  }
}

@media(max-width: 645px) {
  .end-text {
    font-size: 25px;
  }
  .hr-card {
    width: calc(100% - 23px);
  }
}
