<div>
  <button  class="alatech-btn alatech-btn--default" (click)="createTestRoom()">新增測試房間</button>
</div>

<mat-card class="example-card"  *ngFor="let item of raceList;" style="display: inline-block">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ item.raceHost }}</mat-card-title>
    <mat-card-subtitle>局號: {{ item.raceIndex }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{mapImages[item.raceMapID-1]}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      raceMans: {{ item.raceMans }}
      <br>
      raceMap: {{ item.raceMap }}
      <br>
      <ng-container *ngIf="item.raceStatus === 1">
      賽局狀態: 競賽中
      <br>
      </ng-container>
      <ng-container *ngIf="item.raceStatus === 2">
        賽局狀態: 等待中
        <br>
      </ng-container>
      <ng-container *ngIf="item.raceStatus === 3">
        賽局狀態: 倒數中
        <br>
      </ng-container>
      <ng-container *ngIf="item.raceStatus === 4">
        賽局狀態: 結束中
        <br>
      </ng-container>
      總距離: {{ item.raceTotalDistance }}
      <br>
      總爬升: {{ item.raceTotalIncline }}
      <br>
      <ng-container *ngIf="item.raceType === 0">
        競賽類型: 競速競賽
        <br>
      </ng-container>
      <ng-container *ngIf="item.raceType === 1">
        競賽類型: 時間競賽
        <br>
      </ng-container>
      <ng-container *ngIf="item.raceType === 2">
        競賽類型: 距離競賽
        <br>
      </ng-container>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngIf="item.raceStatus === 2">
      <button mat-button>參賽</button>
    </ng-container>
    <ng-container *ngIf="item.raceStatus !== 2">
      <button mat-button (click)="goViewRace(item.raceIndex)">觀賽</button>
    </ng-container>
  </mat-card-actions>
</mat-card>
