.coach-content {
  background-color: #333;
}
.example-card {
  max-width: 200px;
}
.example-card + .example-card {
  margin-left: 15px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ddd;
  transition: 0.2s ease-in;
}
a:hover {
  color: #fff;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 10px);
  flex-direction: column;
}

ul.main-menu__nav {
  display: inline-block;
  width: 300px;
  padding-left: 40px;
}
.main-menu__nav li ~ li {
  margin-top: -1px;
  cursor: pointer;
}
.main-menu__nav .active {
  background-color: #2bc0db;
}
.main-menu__nav .active a {
  color: #fff;
}

.main-menu__nav a {
  border: 2px solid #2bc0db;
  display: block;
  padding: 10px;
  text-align: center;
  color: #2bc0db;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.main-menu__nav a:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 20px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(30deg) translateY(-50%);
  transform-origin: top center;
  opacity: 0;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.main-menu__nav a:before {
  content: attr(data-title);
  color: #fff;
  display: block;
  position: absolute;
  left: 100%;
  transition: 0.3s ease-out;
  opacity: 0;
}

.main-menu__nav a:hover {
  background-color: #2bc0db;
  color: #fff;
  text-indent: -500px;
}

.main-menu__nav a:hover:after {
  animation-name: blik;
}

.main-menu__nav a:hover:before {
  opacity: 1;
  left: 50%;
  text-indent: 0;
  transform: translateX(-50%);
}
.content-triangle {
  width: 30px;
  height: 180px;
  display: inline-block;
  width: 30px;
  margin-right: -4px;
}

.content {
  min-height: 200px;
  text-align: center;
  padding: 0px 15px 15px;
  width: calc(100% - 300px);
}

.map-card {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.map-card:nth-child(2n) {
  margin-left: 10px;
}

@keyframes blik {
  0% {
    opacity: 0;
    left: 0;
  }
  50% {
    opacity: 0.7;
    left: 50%;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}

.bar {
  position: absolute;
  width: 50px;
  height: 5px;
  background: #2bc0db;
  transition: all 1s linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bar.delay {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.top {
  top: -5px;
  left: -5px;
}

.right {
  top: 18px;
  right: -28px;
  transform: rotate(90deg);
}

.bottom {
  bottom: -5px;
  left: -5px;
}

.left {
  top: 18px;
  left: -28px;
  transform: rotate(90deg);
}

@-webkit-keyframes h-move {
  0% {
    left: -5px;
  }
  100% {
    left: 200px;
  }
}

@keyframes h-move {
  0% {
    left: -5px;
  }
  100% {
    left: 200px;
  }
}

.top,
.bottom {
  -webkit-animation-name: h-move;
  animation-name: h-move;
}

@-webkit-keyframes v-move {
  0% {
    top: -5px;
  }
  100% {
    top: 228px;
  }
}

@keyframes v-move {
  0% {
    top: -5px;
  }
  100% {
    top: 228px;
  }
}

.right,
.left {
  -webkit-animation-name: v-move;
  animation-name: v-move;
}

.box-outer {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.main_box {
  width: 200px;
  height: 200px;
  position: relative;
  background: rgba(0, 0, 0, 0.7);

  border: 5px solid #333;
}

.main_box .tile figure img {
  width: 100%;
  height: auto;
}

.main_box:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -8px, 0);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3a392d;
}
.coach-btn {
  font-size: 16px;
  color: #fff;
  background-color: #f0ad4e;
  width: 100px;
  height: 50px;
  float: right;
  border-color: #eea236;
}

.card-left {
  width: 40%;
  margin: 10px;
  border-radius: 3px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.flex-container {
  display: flex;
  height: 140px;
  border: 1px solid #6b6e75;
  border-radius: 5px;
  border-top: .2em solid #b5cc18;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.flex-container.status_waitting {
  border-top: .2em solid #fbbd08;
}
.flex-container:nth-child(1),
.flex-container:nth-child(2) {
  margin-top: 0px;
}

.race_id {
  border-radius: 3px;
  padding-right: 5px;
  margin-right: 5px;
}

.card-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  ;
}

.title {
  display: flex;
  border-radius: 3px;
  padding: 10px 5px;
  color: #b5cc18;
  border-bottom: 1px solid #6b6e75;
}

.title.status_waitting {
  color:#fbbd08;
}

.info {
  display: flex;
  height: 70%;
  align-items: center;
}

.race_status {
  width: 33%;
  color: #b5cc18;
  font-weight: bold;
  font-size: 16px;
}
.race_status.status_waitting {
  color: #fbbd08;
}

.map_name {
  border-radius: 3px;
  padding: 3px 5px;
  color: #fff;
}

.race_mans {
  border-radius: 3px;
  padding: 3px 5px;
  color: #fff;
}
