<ng-container *ngIf="editing && orderProd">
  <form (ngSubmit)="clickSaveBtn()" #prodForm="ngForm">
    <div class="edit_section">
      <div class="edit_header">
        <div *ngIf="isNewForm" class="title">產品新增</div>
        <div *ngIf="!isNewForm" class="title">產品編輯</div>
        <div (click)="clickCloseBtn()" class="close_button icon_button"></div>
      </div>
      <div class="edit_detail">
        <div *ngIf="!isNewForm && !models_name" class="label_input">
          <label class="edit_item_label">類型</label>
          <div class="input_select input">
            <div
              class="foldable"
              [class.unfold]="showProductTypeDropdown"
              (click)="toggleDropdown('product_type')"
            >
              {{ orderProd.product_type ? orderProd.product_type : '請選擇' }}
            </div>
            <div *ngIf="showProductTypeDropdown" class="toggle_dropdown">
              <ul>
                <li
                  *ngFor="let productType of productTypeList"
                  (click)="selectType('product_type', productType)"
                  class="dropdown_list"
                >
                  {{ productType }}
                </li>
                <li *ngIf="!orderProd.product_type" class="dropdown_list default-option">請選擇</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="label_input">
          <label class="edit_item_label required">產品序號</label>
          <input
            class="input"
            maxlength="14"
            [class.input_uneditable]="!isNewForm || rigisterProd"
            [(ngModel)]="orderProd.serial_no"
            placeholder="serial no"
            name="serial_no"
            [disabled]="!isNewForm || rigisterProd"
            required
          />
          <div
            class="error_message"
            *ngIf="prodForm.submitted && prodForm.form.controls.serial_no.hasError('required')"
          >
            必填
          </div>
        </div>
        <div *ngIf="rigisterProd" class="label_input">
          <label class="edit_item_label">所屬銷貨單</label>
          <input
            class="input"
            maxlength="11"
            [class.input_uneditable]="(isNewForm || !isNewForm) && !rigisterProd"
            [(ngModel)]="orderProd.order_no"
            name="order_no"
            [disabled]="(isNewForm || !isNewForm) && !rigisterProd"
          />
        </div>
        <div class="label_input date_icon" mat-raised-button (click)="openInstallDatePicker.open()">
          <label class="edit_item_label required">安裝日期</label>
          <input
            class="input pointer"
            readonly
            matInput
            [matDatepicker]="openInstallDatePicker"
            (dateChange)="changeDate('install_date', $event.value)"
            [(ngModel)]="orderProd.install_date"
            [max]="orderProd.warranty_start || orderProd.warranty_end"
            placeholder="YYYY-MM-DD"
            name="install_date"
            required
          />
          <mat-datepicker
            [touchUi]="isMobile"
            #openInstallDatePicker
            disabled="false"
          ></mat-datepicker>
          <div
            class="error_message"
            *ngIf="prodForm.submitted && prodForm.form.controls.install_date.hasError('required')"
          >
            必填
          </div>
        </div>
        <div
          class="label_input date_icon"
          mat-raised-button
          (click)="openWarrantyStartDatePicker.open()"
        >
          <label class="edit_item_label required">保固開始日</label>
          <input
            class="input pointer"
            readonly
            matInput
            [matDatepicker]="openWarrantyStartDatePicker"
            (dateChange)="changeDate('warranty_start', $event.value)"
            [(ngModel)]="orderProd.warranty_start"
            [min]="orderProd.install_date"
            [max]="orderProd.warranty_end"
            placeholder="YYYY-MM-DD"
            name="warranty_start"
            required
          />
          <mat-datepicker
            [touchUi]="isMobile"
            #openWarrantyStartDatePicker
            disabled="false"
          ></mat-datepicker>
          <div
            class="error_message"
            *ngIf="prodForm.submitted && prodForm.form.controls.warranty_start.hasError('required')"
          >
            必填
          </div>
        </div>
        <div
          class="label_input date_icon"
          mat-raised-button
          (click)="openWarrantyEndDatePicker.open()"
        >
          <label class="edit_item_label required">保固結束日</label>
          <input
            class="input pointer"
            readonly
            matInput
            [matDatepicker]="openWarrantyEndDatePicker"
            (dateChange)="changeDate('warranty_end', $event.value)"
            [(ngModel)]="orderProd.warranty_end"
            [min]="orderProd.warranty_start || orderProd.install_date"
            placeholder="YYYY-MM-DD"
            name="warranty_end"
            required
          />
          <mat-datepicker
            [touchUi]="isMobile"
            #openWarrantyEndDatePicker
            disabled="false"
          ></mat-datepicker>
          <div
            class="error_message"
            *ngIf="prodForm.submitted && prodForm.form.controls.warranty_end.hasError('required')"
          >
            必填
          </div>
        </div>
        <div class="label_input">
          <label class="edit_item_label">安裝狀態</label>
          <div class="input_select input">
            <div
              class="foldable"
              [class.unfold]="showInstallTypeDropdown"
              (click)="toggleDropdown('install_type')"
            >
              {{ orderProd.install_type }}
            </div>
            <div *ngIf="showInstallTypeDropdown" class="toggle_dropdown">
              <ul>
                <li
                  dropdown
                  *ngFor="let installType of installTypeList"
                  (click)="selectType('install_type', installType)"
                  class="dropdown_list"
                >
                  {{ installType }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="!isNewForm" class="label_input">
          <label class="edit_item_label">退換貨狀態</label>
          <div class="input_select input">
            <div
              [class.foldable]="!isNewForm"
              [class.unfold]="!isNewForm && showSalesChannelDropdown"
              [class.input_uneditable]="isNewForm"
              (click)="toggleDropdown('return_exchange')"
            >
              {{
                (orderProd.return_exchange !== 'None' ? orderProd.return_exchange : '無') || '無'
              }}
            </div>
            <div *ngIf="!isNewForm && showReturnExchangeDropdown" class="toggle_dropdown">
              <ul>
                <li
                  dropdown
                  *ngFor="let returnExchange of returnExchangeList"
                  (click)="selectType('return_exchange', returnExchange)"
                  class="dropdown_list"
                >
                  {{ returnExchange !== 'None' ? returnExchange : '無' }}
                </li>
                <li (click)="selectType('return_exchange', 'None')" class="dropdown_list">無</li>
              </ul>
            </div>
          </div>
        </div>
        <div
          *ngIf="orderProd.return_exchange && orderProd.return_exchange !== 'None'"
          class="label_input date_icon"
          mat-raised-button
          (click)="openReturnExchangeDatePicker.open()"
        >
          <label class="edit_item_label required">退換貨日</label>
          <input
            class="input pointer"
            readonly
            matInput
            [matDatepicker]="openReturnExchangeDatePicker"
            (dateChange)="changeDate('return_date', $event.value)"
            [(ngModel)]="orderProd.return_date"
            [min]="orderProd.warranty_start || orderProd.install_date"
            placeholder="YYYY-MM-DD"
            name="return_date"
            required
          />
          <mat-datepicker
            [touchUi]="isMobile"
            #openReturnExchangeDatePicker
            disabled="false"
          ></mat-datepicker>
          <div
            class="error_message"
            *ngIf="
              orderProd.return_exchange &&
              orderProd.return_exchange !== 'None' &&
              prodForm.submitted &&
              prodForm.form.controls.return_date.hasError('required')
            "
          >
            必填
          </div>
        </div>

        <div class="memo_label_input">
          <label class="edit_item_label">備註</label>
          <textarea
            (input)="countTextLength($event.target.value)"
            maxlength="300"
            class="input"
            [(ngModel)]="orderProd.memo"
            name="memo"
          ></textarea>
          <span class="textLength">{{ textLength }}/300</span>
        </div>
        <div class="img_label_input">
          <label class="edit_item_label">附加檔案</label>

          <input
            #fileInput
            (change)="previewImg(fileInput)"
            type="file"
            id="img_input"
            name="img_input"
            accept=".jpg,.jpeg,.png,.gif"
          />

          <div class="img_list">
            <ng-container *ngFor="let fileName of fileNames; let index = i">
              <div class="img_wrap">
                <img
                  (click)="openImage(imgPath + fileName)"
                  [src]="imgPath + fileName"
                  alt="附加檔案"
                  id="image_preview"
                />
                <div (click)="deleteImg(fileName)" class="close_button delete_img_button"></div>
              </div>
            </ng-container>
            <label *ngIf="!filesMax" class="img_wrap" for="img_input">
              <div class="add_icon add_img_circle"></div>
            </label>
            <label *ngIf="filesMax">
              <div>圖片數量達上限</div>
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="save_button">
        <mat-icon class="save_button_icon">save</mat-icon>儲存
      </button>
    </div>
  </form>
</ng-container>
