<ng-container *ngIf="editing && orderProd">
  <div class="edit_section">
    <div *ngIf="isNewForm" class="title">產品新增</div>
    <div *ngIf="!isNewForm" class="title">產品編輯</div>
    <div class="edit_detail">
      <div class="label_input">
        <label class="edit_item_label">類型</label>
        <div class="input_select input">
          <div
            class="foldable"
            [class.unfold]="showProductTypeDropdown"
            (click)="toggleDropdown('product_type')"
          >
            {{ orderProd.product_type ? orderProd.product_type : '請選擇' }}
          </div>
          <div *ngIf="showProductTypeDropdown" class="toggle_dropdown">
            <ul>
              <li
                *ngFor="let productType of productTypeList"
                (click)="selectType('product_type', productType)"
                class="dropdown_list"
              >
                {{ productType }}
              </li>
              <li *ngIf="!orderProd.product_type" class="dropdown_list default-option">請選擇</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="label_input">
        <label class="edit_item_label">產品序號</label>
        <input
          class="input"
          [class.input_uneditable]="!isNewForm"
          [(ngModel)]="orderProd.serial_no"
          placeholder="serial_no"
          [disabled]="!isNewForm"
        />
      </div>
      <div class="label_input">
        <label class="edit_item_label">所屬訂貨單</label>
        <input
          class="input"
          [class.input_uneditable]="(isNewForm || !isNewForm) && !rigisterProd"
          [(ngModel)]="orderProd.order_no"
          placeholder="order_no"
          [disabled]="(isNewForm || !isNewForm) && !rigisterProd"
        />
      </div>
      <div class="label_input date_icon" mat-raised-button (click)="openInstallDatePicker.open()">
        <label class="edit_item_label">安裝日期</label>
        <input
          class="input"
          readonly
          matInput
          [matDatepicker]="openInstallDatePicker"
          (dateChange)="changeDate('install_date', $event.value)"
          [(ngModel)]="orderProd.install_date"
          [max]="orderProd.warranty_start || orderProd.warranty_end"
          placeholder="install_date"
        />
        <mat-datepicker
          [touchUi]="isMobile"
          #openInstallDatePicker
          disabled="false"
        ></mat-datepicker>
      </div>
      <div
        class="label_input date_icon"
        mat-raised-button
        (click)="openWarrantyStartDatePicker.open()"
      >
        <label class="edit_item_label">保固開始日</label>
        <input
          class="input"
          readonly
          matInput
          [matDatepicker]="openWarrantyStartDatePicker"
          (dateChange)="changeDate('warranty_start', $event.value)"
          [(ngModel)]="orderProd.warranty_start"
          [min]="orderProd.install_date"
          [max]="orderProd.warranty_end"
          placeholder="warranty_start"
        />
        <mat-datepicker
          [touchUi]="isMobile"
          #openWarrantyStartDatePicker
          disabled="false"
        ></mat-datepicker>
      </div>
      <div
        class="label_input date_icon"
        mat-raised-button
        (click)="openWarrantyEndDatePicker.open()"
      >
        <label class="edit_item_label">保固結束日</label>
        <input
          class="input"
          readonly
          matInput
          [matDatepicker]="openWarrantyEndDatePicker"
          (dateChange)="changeDate('warranty_end', $event.value)"
          [(ngModel)]="orderProd.warranty_end"
          [min]="orderProd.warranty_start || orderProd.install_date"
          placeholder="warranty_end"
        />
        <mat-datepicker
          [touchUi]="isMobile"
          #openWarrantyEndDatePicker
          disabled="false"
        ></mat-datepicker>
      </div>
      <div class="label_input">
        <label class="edit_item_label">退換貨狀態</label>
        <div class="input_select input">
          <div
            [class.foldable]="!isNewForm"
            [class.unfold]="!isNewForm && showSalesChannelDropdown"
            [class.input_uneditable]="isNewForm"
            (click)="toggleDropdown('return_exchange')"
          >
            {{ (orderProd.return_exchange !== 'None' ? orderProd.return_exchange : '無') || '無' }}
          </div>
          <div *ngIf="!isNewForm && showReturnExchangeDropdown" class="toggle_dropdown">
            <ul>
              <li
                dropdown
                *ngFor="let returnExchange of returnExchangeList"
                (click)="selectType('return_exchange', returnExchange)"
                class="dropdown_list"
              >
                {{ returnExchange !== 'None' ? returnExchange : '無' }}
              </li>
              <li (click)="selectType('return_exchange', 'None')" class="dropdown_list">無</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="label_input">
        <label class="edit_item_label">安裝狀態</label>
        <div class="input_select input">
          <div
            class="foldable"
            [class.unfold]="showInstallTypeDropdown"
            (click)="toggleDropdown('install_type')"
          >
            {{ orderProd.install_type }}
          </div>
          <div *ngIf="showInstallTypeDropdown" class="toggle_dropdown">
            <ul>
              <li
                dropdown
                *ngFor="let installType of installTypeList"
                (click)="selectType('install_type', installType)"
                class="dropdown_list"
              >
                {{ installType }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="memo_label_input">
        <label class="edit_item_label">備註</label>
        <textarea class="input" [(ngModel)]="orderProd.memo" placeholder="memo"></textarea>
      </div>
      <div class="img_label_input">
        <label class="edit_item_label">附加檔案</label>

        <input
          #fileInput
          (change)="previewImg(fileInput)"
          type="file"
          id="img_input"
          name="img_input"
          accept=".jpg,.jpeg,.png,.gif"
        />

        <div class="img_list">
          <ng-container *ngFor="let fileName of fileNames; let index = i">
            <div class="img_wrap">
              <img
                (click)="openImage(imgPath + fileName)"
                [src]="imgPath + fileName"
                alt="附加檔案"
                id="image_preview"
              />
              <div (click)="deleteImg(fileName)" class="close_button delete_img_button"></div>
            </div>
          </ng-container>
          <label *ngIf="!filesMax" class="img_wrap" for="img_input">
            <div class="add_icon add_img_circle"></div>
          </label>
          <label *ngIf="filesMax">
            <div>圖片數量達上限</div>
          </label>
        </div>
      </div>
    </div>
    <div (click)="clickCloseBtn()" class="close_button icon_button"></div>
    <div (click)="clickSaveBtn()" class="save_button">
      <mat-icon class="save_button_icon">save</mat-icon>儲存
    </div>
  </div>
</ng-container>
