.info__headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.send__mail__button {
  font-size: 36px;
}

/*********************************** media ******************************/

@media (max-width: 420px) {
  .info__headerRow {
    display: flex;
    flex-direction: column;
  }

}