@import 'transition.scss';
@import 'font.scss';
@import 'color.scss';

$warn-color: rgba(255, 75, 75, 1);
$group-btn-blue: rgba(0, 183, 238, 1);
$title-unit-color: rgba(150, 150, 150, 1);


.childPageBtn {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: white;
  font-size: 14px;
  margin: 0 5px;
  @include transition(background-color);

  &:hover {
    background-color: rgba(245, 245, 245, 1);
    @include transition(background-color);
  }

}

.editModeBtn {
  background-color: rgba(255, 75, 75, 1) !important;
  color: white !important;
  @include transition(background-color);
}

.childPageContent {
  margin: 10px 0 10px 30px;
}

.settingTitle {
  @include bold-font(17px);
  color: $primary-blue;
}

.settingSubTitle {
  font-weight: bold;
  color: var(--scale-0-255);
}

.settingContent {
  padding-left: 20px;

  label {
    margin: 0;
  }

}

.contentTitle {
  color: $title-unit-color;
  font-weight: bold;
}

.contentDetail {
  margin-left: 20px;
}

.valueUnit {
  color: $title-unit-color;
  margin-left: 5px;
}

.settingDescription {
  @include description-font();
  margin-left: 12px;
}

.userSettingInput {
  border: none;
  border-bottom: 1px solid var(--scale-150-180);
  color: var(--scale-0-255);
  outline: none;

  &:focus {
    border-bottom: 1px solid $primary-blue;
  }

}