<app-loading-bar [progress]="progress"></app-loading-bar>
<div class="flexCol">
  <h4 style="margin-bottom: 20px;">系統日誌</h4>
  <header class="flexCol" style="position: relative;">
    <h5>篩選條件</h5>
    <div class="flexRow" style="flex-wrap: wrap; min-height: 140px;">
      <section class="flexCol" [class.alert__empty]="uiFlag.notChoiceUser" style="min-width: 230px;">
        <h6>
          選擇使用者
          <span style="color: red;">*</span>
        </h6>
        <div class="flexRow" style="align-items: center;">
          <button class="user__selector__btn" (click)="openSelectorWin(1, $event)">
            暱稱
          </button>
          <span class="user__info">：{{ targetUser.name || '---' }}</span>
        </div>
        <div class="flexRow" style="align-items: center;">
          <button class="user__selector__btn" (click)="openSelectorWin(2, $event)">
            帳號
          </button>
          <span class="user__info">：{{ targetUser.account || '---' }}</span>
        </div>
        <div class="flexRow" style="align-items: center;">
          <span>User id：</span>
          <input
            type="text"
            placeholder="User id"
            style="width: 70px; border: none; border-bottom: 1px solid gray; outline: none;"
            [value]="targetUser.id"
            (change)="changeUserId($event)"
          >
        </div>
      </section>
      <section class="flexCol">
        <h6>日誌類別</h6>
        <div class="flexRow">
          <span class="drop__menu" [class.drop__menu--active]="uiFlag.showServeritySelector" (click)="showServeritySelector($event)">
            <span
              [class.info__color]="searchCondition.serverity === 'INFO'"
              [class.warn__color]="searchCondition.serverity === 'WARN'"
              [class.error__color]="searchCondition.serverity === 'ERROR'"
              [class.debug__color]="searchCondition.serverity === 'DEBUG'"
            >
              {{ searchCondition.serverity || '全部' }}
            </span>
            <div class="flexCol" *ngIf="uiFlag.showServeritySelector">
              <span (click)="saveServerity($event, null)">全部</span>
              <span class="info__color" (click)="saveServerity($event, 'INFO')">INFO</span>
              <span class="warn__color" (click)="saveServerity($event, 'WARN')">WARN</span>
              <span class="error__color" (click)="saveServerity($event, 'ERROR')">ERROR</span>
              <span class="debug__color" (click)="saveServerity($event, 'DEBUG')">DEBUG</span>
            </div>
          </span>
        </div>
      </section>
      <section class="flexCol">
        <h6>應用類別</h6>
        <div class="flexRow">
          <span class="drop__menu" [class.drop__menu--active]="uiFlag.showAppSelector" (click)="showAppSelector($event)">
            {{ (searchCondition.appId | appId) || '全部' }}
            <div class="flexCol" *ngIf="uiFlag.showAppSelector">
              <span (click)="saveAppId($event, null)">全部</span>
              <span (click)="saveAppId($event, 0)">GPTFit</span>
              <span (click)="saveAppId($event, 1)">Connect</span>
              <span (click)="saveAppId($event, 2)">CloudRun</span>
              <span (click)="saveAppId($event, 3)">TrainLive</span>
              <span (click)="saveAppId($event, 4)">Fitness</span>
            </div>
          </span>
        </div>
      </section>
      <section class="flexCol">
        <h6>Api Code</h6>
        <div class="flexRow">
          <input type="text" placeholder="Ex. 1010" style="width: 100px;" [(ngModel)]="searchCondition.apiCode">
        </div>
      </section>
      <section class="flexCol">
        <h6>日期範圍</h6>
        <app-date-range-picker
          style="margin: 5px 0 5px 10px;"
          [pickerType]="'rangePick'"
          [startTimeStamp]="selectedDate.startTimeStamp"
          [endTimeStamp]="selectedDate.endTimeStamp"
          (selectDateRange)="saveDate($event)"
        ></app-date-range-picker>
      </section>
    </div>
    <div
      class="flexRow"
      style="position: relative; bottom: 0; right: 0; justify-content: flex-end; width: 100%;"
    >
      <button id="clear__btn" (click)="initCondition()">
        重置
      </button>
      <button id="submit__btn" (click)="submit()">
        送出
      </button>
    </div>
  </header>
  <main class="flexCol">
    <h5>日誌內容</h5>
    <div class="flexCol">
      <mat-paginator
        #paginatorA
        [length]="totalCounts"
        [pageIndex]="currentPage?.pageIndex"
        [pageSize]="currentPage?.pageSize || 30"
        [pageSizeOptions]="[10, 30, 50, 100]"
      ></mat-paginator>
      <div class="flexCol">
        <table>
          <thead>
            <tr style="border-bottom: 2px solid rgba(175, 175, 175, 1);">
              <th class="date__column">Date Time</th>
              <th class="serverity__column">Serverity</th>
              <th class="app__column">App</th>
              <th class="code__column">Api Code</th>
              <th class="name__column">Api Name</th>
              <th class="message__column">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr style="border-bottom: 1px solid rgba(200, 200, 200, 1);" *ngFor="let _content of sysLog;">
              <td class="date__column" style="font-size: 15px;">{{ _content.dateTime }}</td>
              <td
                class="serverity__column"
                [class.info__color]="_content.serverity === 'INFO'"
                [class.warn__color]="_content.serverity === 'WARN'"
                [class.error__color]="_content.serverity === 'ERROR'"
                [class.debug__color]="_content.serverity === 'DEBUG'"
              >
                {{ _content.serverity }}
              </td>
              <td class="app__column">{{ _content.appId | appId }}</td>
              <td class="code__column">{{ _content.apiCode }}</td>
              <td class="name__column" style="font-size: 14px;">{{ _content.apiName }}</td>
              <td class="message__column" style="font-size: 14px;">{{ _content.message }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-paginator
        #paginatorB
        style="margin-top: 10px;"
        [length]="totalCounts"
        [pageIndex]="currentPage?.pageIndex"
        [pageSize]="currentPage?.pageSize || 30"
        [pageSizeOptions]="[10, 30, 50, 100]"
      ></mat-paginator>
    </div>
  </main>
</div>