<div class="access-bg">
  <div class="container" style="padding-top:63px">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description">
        在Ala Conter上，獲得健體分析
        <br> 生活追蹤、即時分享與競賽樂趣
      </div>
      <div class="access-panel">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body">
          <form [formGroup]="form" (ngSubmit)="login()" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1" class="access-text">帳號(
                <a href="#" (click)="showPrivateMsg($event)">沒有帳號?</a>):</label>
              <input formControlName="accountName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="電子信箱或手機號碼">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="access-text">密碼(<a href="#">忘了密碼?</a>):</label>
              <input formControlName="password" type="password" class="form-control"
                id="exampleInputPassword1" placeholder="密碼需區分大小寫並包含數字"
                autocomplete="off"
              >
            </div>
            <button type="submit" class="btn btn-primary access-btn">登入</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
