<div class="access-bg">
  <div class="container" style="padding-top:63px">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description" innerHtml="{{ 'Portal.CenterDesc' | translate }}">
      </div>
      <div class="access-panel">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body">
          <form [formGroup]="form" (ngSubmit)="login(f)"#f="ngForm" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1" class="access-text">{{ 'Dashboard.Settings.Account' | translate }}(
                <a href="#" (click)="showPrivateMsg($event)">{{'Portal.NoAccount' | translate}}?</a>):
              </label>
              <input formControlName="accountName"
                id="exampleInputEmail1"
                class="form-control"
                placeholder="{{'Portal.EmailorPhoneNumber' | translate}}"
                [attr.disabled]="isLogining ? '' : null"
                [class.form-control--invalid]="(!form.controls['accountName'].valid && form.controls['accountName'].touched) || (f.submitted && form.get('accountName').hasError('required'))"
              >
              <div class="form__message form__message--placeholder" *ngIf="(!form.controls['accountName'].valid && form.controls['accountName'].touched) || (f.submitted && form.get('accountName').hasError('required'))">
                {{'Portal.PlzEnterYourAccount' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="access-text">
                {{ 'Dashboard.Settings.Password' | translate }}(<a href="#" [routerLink]="['/forget-pwd']">
                  {{'Portal.ForgetPassword' | translate}}?</a>):
              </label>
              <input formControlName="password" type="password"
                class="form-control"
                placeholder="{{'Portal.PWAConainNum' | translate}}"
                autocomplete="off"
                [attr.disabled]="isLogining ? '' : null"
                [class.form-control--invalid]="(!form.controls['password'].valid && form.controls['password'].touched) || (f.submitted && form.get('password').hasError('required'))"
              >
              <div class="form__message form__message--placeholder" *ngIf="(form.controls['password'].hasError('required') && form.controls['password'].touched) || (f.submitted && form.get('password').hasError('required'))">
                {{'Portal.PlzEnterYourPwd' | translate}}
              </div>
              <div class="form__message form__message--placeholder" *ngIf="(form.controls['password'].hasError('pattern') && form.controls['password'].touched) || (f.submitted && form.controls['password'].hasError('pattern'))">
                {{'Portal.PWAConainNum' | translate}}
              </div>
            </div>
            <div class="auth-submit">
              <app-confirm-button
                [className]="className"
                [content]="'SH.Signin' | translate"
                [disabled]="isLogining"
              >
              </app-confirm-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
