<div class="access-bg">
  <div class="container" style="padding: 63px 0 70px 0;">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description" innerHtml="{{ 'universal_app_gptSlogan' | translate }}">
      </div>
      <div class="access-panel">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body">
          <form [formGroup]="form" (ngSubmit)="login(f)"#f="ngForm" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1" class="access-text">{{ 'universal_userAccount_account' | translate }}(
                <a href="#" (click)="showPrivateMsg($event)">{{'universal_userAccount_signUp' | translate}}</a>):
              </label>
              <input formControlName="accountName"
                id="exampleInputEmail1"
                class="form-control"
                placeholder="{{'universal_userAccount_emailPerPhone' | translate}}"
                [attr.disabled]="isLogining ? '' : null"
                [class.form-control--invalid]="(!form.controls['accountName'].valid && form.controls['accountName'].touched) || (f.submitted && form.get('accountName').hasError('required'))"
              >
              <div class="form__message form__message--placeholder" *ngIf="(!form.controls['accountName'].valid && form.controls['accountName'].touched) || (f.submitted && form.get('accountName').hasError('required'))">
                {{'universal_userAccount_enterInfo' | translate: {'info': i18n.account} }}
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="access-text">
                {{ 'universal_userAccount_password' | translate }}(<a href="#" [routerLink]="['/forget-pwd']">
                  {{'universal_userAccount_forgetPassword' | translate}}</a>):
              </label>
              <input formControlName="password" type="password"
                class="form-control"
                placeholder="{{'universal_userAccount_passwordFormat' | translate}}"
                autocomplete="off"
                [attr.disabled]="isLogining ? '' : null"
                [class.form-control--invalid]="(!form.controls['password'].valid && form.controls['password'].touched) || (f.submitted && form.get('password').hasError('required'))"
              >
              <div class="form__message form__message--placeholder" *ngIf="(form.controls['password'].hasError('required') && form.controls['password'].touched) || (f.submitted && form.get('password').hasError('required'))">
                {{'universal_userAccount_enterInfo' | translate: {'info': i18n.password} }}
              </div>
              <div class="form__message form__message--placeholder" *ngIf="(form.controls['password'].hasError('pattern') && form.controls['password'].touched) || (f.submitted && form.controls['password'].hasError('pattern'))">
                {{'universal_userAccount_passwordFormat' | translate}}
              </div>
            </div>
            <div class="auth-submit">
              <app-confirm-button
                [className]="className"
                [content]="'universal_userAccount_logIn' | translate"
                [disabled]="isLogining"
              >
              </app-confirm-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
