li {
  list-style-type: none;
}

.report-type-list {
  font-weight: bold;
  margin-top: 20px;

  :hover {
    cursor: pointer;
  }
}

.listSection {
  left: 30px;
}

/* 之後做共用 */
.mat-tab-label.mat-tab-label-active {
  padding: 5px;
  background-color: transparent;
  color: #26abe3;
  font-weight: 700;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #26abe3;
}

/* 隱藏highchart字標 */
.highcharts-credits {
  display: none;
}

/* report 共用樣式*/
.report-time-btn.mat-icon-button {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.mat-tab-body {
  padding: 0;
}

.activity-title {
  border-bottom: 2px #e5e5e5 solid;
}

.unClickable {
  pointer-events: none;
}

.whiteMask {
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.reprotHeadArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.brandName {
  font-size: 30px;
  font-weight: bold;
}

.reportName {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: gray;
  font-weight: bold;
}

.areaDescription {
  font-size: 16px;
  color:#919191;
  margin-left: 10px;
  font-weight: bold;
}

.activity-Link {
  color: #54b9e7;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.fileAmount {
  color: red;
}

.activity-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

.activity-info_icon_size{
  font-size: 30px;
}

.summaryArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.summaryData {
  font-size: 24px;
  font-weight: bold;
  color: #646464;
}

.summaryDescription {
  font-size: 15px;
  color: #6e6e6e;
}

.sportEfficiency {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #646464;
  font-weight: bold;
}

.HRZone {
  padding-right: 2px;
  border-right: 2px #e5e5e5 solid;
  width: 50%;
}

.bodyQuality {
  margin-left: 2px;
  width: 50%;
}

.chartTitle {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.hidden {
  display: none;
}

.reportPreviewMode {
  flex: none;
  width: 100%;
  max-width: 100%;
}

.card__section {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: rgba(240, 240, 240, 1);
}

/* --------------- */

.muscleMatFormParent .mat-form-field-infix {
  display: flex !important;
  flex-direction: row !important;
  border: 0px;
  padding-top: 2px !important;
}

.muscleMatFormParent .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.muscleMatFormParent .mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-underline {
  top: 20px !important;
}

@media (max-width: 940px){
  .media-940-Col {
    display: flex;
    flex-direction: column;
  }

  .media-940-Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .media-940-maxwidth {
    max-width: 100%;
  }

  .report-type-list {
    margin-right: 20px;
    white-space: nowrap;
  }
}

@media (max-width: 575px){
  .listSection {
    left: 0px;
  }

}

@media (max-width: 550px){
  .areaDescription {
    font-size: 10px;
  }

}
