<table class="commerce-plan-table">
  <thead>
    <th class="plan">方案</th>
    <th>體驗方案</th>
    <th
      [class.active-left]="true"
      [class.active-right]="true"
      [class.active-top]="true"
      [class.active]="true"
    >工作室方案</th>
    <th>中小企業方案</th>
    <th>客製方案</th>
  </thead>
  <tbody>
    <tr class="fee">
      <td class="plan">
        費用
      </td>
      <td>
        Free
        <div class="unit">1month</div>
      </td>
      <td [class.active-left]="true" [class.active-right]="true">
        $ 30,000
        <div class="unit">1year</div>
      </td>
      <td>
        $250,000
        <div class="unit">1year</div>
      </td>
      <td style="vertical-align: top">$***,***</td>
    </tr>
    <tr>
      <td class="plan">分店數量</td>
      <td>1</td>
      <td [class.active-left]="true" [class.active-right]="true">3</td>
      <td>10</td>
      <td>**</td>
    </tr>
    <tr>
      <td class="plan">課程數量</td>
      <td>2</td>
      <td [class.active-left]="true" [class.active-right]="true">10</td>
      <td>80</td>
      <td>**</td>
    </tr>
    <tr  class="custom">
      <td class="plan">可入會成員</td>
      <td>20</td>
      <td [class.active-left]="true" [class.active-right]="true">1,000</td>
      <td>10,000</td>
      <td>**</td>
    </tr>
    <tr>
      <td class="plan">可建立管理員</td>
      <td>4</td>
      <td [class.active-left]="true" [class.active-right]="true">25</td>
      <td>200</td>
      <td>**</td>
    </tr>
    <tr class="custom">
      <td class="plan">自訂品牌營業體</td>
      <td class="check">V</td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">Train Live轉播與記錄派發</td>
      <td class="check">V</td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">建立培訓師與鍛鍊者關係</td>
      <td class="check">V</td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">進階設備維護與主動式提醒</td>
      <td class="check"></td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">編列專業訓練計畫</td>
      <td class="check"></td>
      <td class="check" [class.active-left]="true" [class.active-right]="true"></td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">派發群組學員訓練菜單</td>
      <td class="check"></td>
      <td class="check" [class.active-left]="true" [class.active-right]="true"></td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr class="custom">
      <td class="plan">Ala connect</td>
      <td class="check">V</td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">Cloud Run</td>
      <td class="check">V</td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">Train Live</td>
      <td class="check">V</td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan">Ala Fitness</td>
      <td class="check">V</td>
      <td class="check" [class.active-left]="true" [class.active-right]="true">V</td>
      <td class="check">V</td>
      <td class="check">V</td>
    </tr>
    <tr>
      <td class="plan unconfirmed">Ala Trainer(培訓者運動紀錄)</td>
      <td class="check"></td>
      <td class="check" [class.active-left]="true" [class.active-right]="true"></td>
      <td class="check"></td>
      <td class="check"></td>
    </tr>
    <tr>
      <td class="plan unconfirmed">自訂品牌Center App</td>
      <td class="check"></td>
      <td class="check"
        [class.active-left]="true"
        [class.active-right]="true"
        [class.active-bottom]="true"
      ></td>
      <td class="check"></td>
      <td class="check"></td>
    </tr>
  </tbody>
</table>
