<table class="commerce-plan-table">
  <thead>
    <th class="plan">{{'Dashboard.System.BrandPlan.Plan' | translate}}</th>
    <th
      (click)="choosePlan(1)"
      [class.active-left]="planIdx === 1"
      [class.active-right]="planIdx === 1"
      [class.active-top]="planIdx === 1"
      [class.active]="planIdx === 1"
    >{{'Dashboard.System.BrandPlan.FreeTrial' | translate}}</th>
    <th
      (click)="choosePlan(2)"
      [class.active-left]="planIdx === 2"
      [class.active-right]="planIdx === 2"
      [class.active-top]="planIdx === 2"
      [class.active]="planIdx === 2"
    >{{'Dashboard.System.BrandPlan.Studio' | translate}}</th>
    <th
      (click)="choosePlan(3)"
      [class.active-left]="planIdx === 3"
      [class.active-right]="planIdx === 3"
      [class.active-top]="planIdx === 3"
      [class.active]="planIdx === 3"
    >{{'Dashboard.System.BrandPlan.SME' | translate}}</th>
    <th
      (click)="choosePlan(99)"
      [class.active-left]="planIdx === 99"
      [class.active-right]="planIdx === 99"
      [class.active-top]="planIdx === 99"
      [class.active]="planIdx === 99"
    >{{'Dashboard.System.BrandPlan.Custom' | translate}}</th>
  </thead>
  <tbody>
    <tr class="fee">
      <td class="plan">
        {{'Dashboard.System.BrandPlan.Fee' | translate}}
      </td>
      <td
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >
        free
        <div class="unit">1month</div>
      </td>
      <td
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >
        $ {{planDatas[1].cost | number: '.'}}
        <div class="unit">1month</div>
      </td>
      <td
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >
        $ {{planDatas[2].cost | number: '.'}}
        <div class="unit">1month</div>
      </td>
      <td
        (click)="choosePlan(99)"
        style="vertical-align: top"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >
        $ ***,***
      </td>
    </tr>
    <tr>
      <td class="plan">{{'Dashboard.System.BrandPlan.NumberofBranch' | translate}}</td>
      <td
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >{{planDatas[0].maxBranches}}</td>
      <td
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >
        {{planDatas[1].maxBranches}}
      </td>
      <td
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >{{planDatas[2].maxBranches}}</td>
      <td
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >**</td>
    </tr>
    <tr>
      <td class="plan">{{'Dashboard.System.BrandPlan.NumberofClass' | translate}}</td>
      <td
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >{{planDatas[0].maxClasses}}</td>
      <td
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >{{planDatas[1].maxClasses}}</td>
      <td
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >{{planDatas[2].maxClasses}}</td>
      <td
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >**</td>
    </tr>
    <tr  class="custom">
      <td class="plan">{{'Dashboard.System.BrandPlan.NumberofMember' | translate}}</td>
      <td
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >{{planDatas[0].maxGroupMembers}}</td>
      <td
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >{{planDatas[1].maxGroupMembers}}</td>
      <td
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >{{planDatas[2].maxGroupMembers}}</td>
      <td
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >**</td>
    </tr>
    <tr>
      <td class="plan">{{'Dashboard.System.BrandPlan.NumberofAdministrator' | translate}}</td>
      <td
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >{{planDatas[0].maxGroupManagers}}</td>
      <td
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >{{planDatas[1].maxGroupManagers}}</td>
      <td
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >{{planDatas[2].maxGroupManagers}}</td>
      <td
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >**</td>
    </tr>
    <tr class="custom">
      <td class="plan">{{'Dashboard.System.BrandPlan.CustomBrand' | translate}}</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan">{{'Dashboard.System.BrandPlan.Train-live-broadcast-and-record' | translate}}</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan">{{'Dashboard.System.BrandPlan.Establish-a-relationship-between-trainers-and-members' | translate}}</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan unconfirmed">{{'Dashboard.System.BrandPlan.Advanced-equipment-maintenance-and-proactive-reminder' | translate}}</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      ></td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan unconfirmed">{{'Dashboard.System.BrandPlan.ProfessionalTrainingProgram' | translate}}</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      ></td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      ></td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan unconfirmed">{{'Dashboard.System.BrandPlan.GroupMemberTrainingMenu' | translate}}</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      ></td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      ></td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr class="custom">
      <td class="plan">Ala connect</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan">Cloud Run</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan">Train Live</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan">Ala Fitness</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan">Ala Trainer({{'Dashboard.System.BrandPlan.trainerSportRecord' | translate}})</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
      >V</td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
      >V</td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
      >V</td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
      >V</td>
    </tr>
    <tr>
      <td class="plan">{{'Dashboard.System.BrandPlan.CustomBrand2' | translate}}Center App</td>
      <td class="check"
        (click)="choosePlan(1)"
        [class.active-left]="planIdx === 1"
        [class.active-right]="planIdx === 1"
        [class.active]="planIdx === 1"
        [class.active-bottom]="planIdx === 1"
      ></td>
      <td class="check"
        (click)="choosePlan(2)"
        [class.active-left]="planIdx === 2"
        [class.active-right]="planIdx === 2"
        [class.active]="planIdx === 2"
        [class.active-bottom]="planIdx === 2"
      ></td>
      <td class="check"
        (click)="choosePlan(3)"
        [class.active-left]="planIdx === 3"
        [class.active-right]="planIdx === 3"
        [class.active]="planIdx === 3"
        [class.active-bottom]="planIdx === 3"
      ></td>
      <td class="check"
        (click)="choosePlan(99)"
        [class.active-left]="planIdx === 99"
        [class.active-right]="planIdx === 99"
        [class.active]="planIdx === 99"
        [class.active-bottom]="planIdx === 99"
      >V</td>
    </tr>
  </tbody>
</table>
