$title-color: rgba(229, 51, 51, 1);


.main__artical {
  height: 100%;
  overflow: scroll;
}

H4, H5, H6 {
  color: $title-color;
}

H6 {
  border-bottom: 1px solid rgba(200, 200 , 200, 1);
}

section {
  margin: 20px 0px;
}