@import 'transition.scss';
@import 'transform.scss';
@import 'color.scss';

$pagination-color: var(--scale-120-190);
$drop-menu-width: 40px;

.pagination__section {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  color: $pagination-color;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.one__page__size {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid $pagination-color;
  width: $drop-menu-width;
  margin: 0 10px 0 5px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    right: 3px;
    top: 7px;
    border: solid;
    border-width: 6px 4px 0px 4px;
    border-color: $pagination-color transparent transparent transparent;
    @include transition(transform);
  }
}

.one__page__size--active {
  &:after {
    @include el-rotate(180deg);
    @include transition(transform);
  }
}

.switch__btn {
  color: black;
  font-weight: bold;
}

.switch__btn--disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.5);
}

.pagination__drop__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  background-color: var(--scale-255-60);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);

  span {
    width: $drop-menu-width;

    &:hover {
      background-color: $primary-blue;
      color: white;
    }
  }
}
