<ng-container *ngIf="!pcView">
  <app-loading-bar [progress]="progress"></app-loading-bar>
  <main class="appview-whiteText mobile__enable__page">
    <div class="flexCol appview-contentArea">
      <h4
        [ngClass]="{
          'appview-tftPageTitle': !mobileSize,
          'appview-mobilePageTitle': mobileSize
        }"
      >
        {{ 'universal_deviceSetting_switch' | translate }}
      </h4>
      <div class="flexCol">
        <div class="flexCol appview-contentDetail">
          <div class="flexCol">
            <h6 class="appview-sectionSubTitle">
              {{ 'universal_deviceSetting_switch' | translate }} {{ 'universal_userAccount_account' | translate }}
            </h6>
            <p class="appview-breakAccount" style="margin: 0;">
              {{ accountInfo.account }}
            </p>
          </div>
        </div>
        <div
          class="flexCol appview-contentDetail"
          *ngIf="imgCaptcha.show"
        >
          <label class="appview-inputLabel" for="img__captcha">
            {{ 'universal_userAccount_imgCaptcha' | translate }}
          </label>
          <div class="flexRow">
            <input
              id="img__captcha"
              class="appview-dataInput appview-inputBorder"
              [placeholder]="'universal_userAccount_imgCaptcha' | translate"
              maxlength="8"
              (focusout)="checkImgCaptcha($event)"
              (keypress)="checkImgCaptcha($event)"
            />
            <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
          </div>
          <p class="appview-alertHint">
            <ng-container *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''">
              {{ imgCaptcha.cue | translate }}
            </ng-container>
          </p>
        </div>
        <ng-container *ngIf="accountInfo.type === AccountTypeEnum.email && !sendEmail">
          <div *ngTemplateOutlet="buttonArea"></div>
        </ng-container>
        <section
          class="appview-bottomSlideIn"
          *ngIf="accountInfo.type !== AccountTypeEnum.email || sendEmail"
        >
          <div class="flexCol appview-contentDetail">
            <ng-container *ngIf="accountInfo.type === AccountTypeEnum.email">
              <p
                [innerHTML]="
                  'universal_userAccount_newVerificationMailSucceeded' | translate: {email: accountInfo.account}
                "
              ></p>
            </ng-container>
            <div *ngIf="accountInfo.type === AccountTypeEnum.phone">
              <p>{{ 'universal_userAccount_sendSmsSuccess' | translate }}</p>
              <input
                type="text"
                class="appview-dataInput appview-inputBorder appview-smsInput"
                [placeholder]="'universal_userAccount_phoneCaptcha' | translate"
                maxlength="8"
                (focusout)="checkPhoneCaptcha($event)"
                (keypress)="checkPhoneCaptcha($event)"
              >
              <button
                class="appview-submitButton appview-left"
                [class.appview-unclickable]="progress !== 100 || timeCount !== 30"
                (click)="reciprocal()"
              >
                <span class="resend">{{ 'universal_vocabulary_resend' | translate }}</span>
                <span class="appview-timeCount">({{ timeCount }}s)</span>
              </button>
            </div>
          </div>
          <div *ngTemplateOutlet="buttonArea; context: {
            backButton: accountInfo.type === AccountTypeEnum.email
          }"></div>
        </section>
      </div>
    </div>
  </main>
</ng-container>

<ng-template #buttonArea let-backButton="backButton">
  <div class="appview-buttonArea">
    <ng-container *ngIf="!backButton && !enableSuccess">
      <button
        class="appview-cancelButton appview-left"
        (click)="turnFirstLoginOrBack()"
      >
        {{ 'universal_operating_skip' | translate }}
      </button>
      <button
        class="appview-submitButton appview-right"
        [class.appview-unclickable]="progress !== 100 || dataIncomplete || enableSuccess"
        (click)="submit()"
      >
        {{ 'universal_deviceSetting_switch' | translate }}
      </button>
    </ng-container>
    <button
      class="appview-submitButton appview-right"
      (click)="turnBack()"
      *ngIf="backButton"
    >
      <i class="icon-svg_web-icon_p1_016-back"></i>
      {{ 'universal_operating_back' | translate }}
    </button>
  </div>
</ng-template>

<ng-container *ngIf="pcView">
  <div class="access-bg" style="margin-top: 0;">
    <div class="container signup" style="padding: 63px 0 70px 0;">
      <div class="d-flex" style="flex-direction: column;align-items: center;;">
        <div class="access-panel" style="margin-top: 30px;">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%">
          </header>
          <div class="access-panel-body">
            <div class="flexCol" style="margin-top: 10px;">
              <div class="flexCol webDiv">
                <span class="access-text">{{ 'universal_userAccount_activateAccount' | translate }}</span>
                <input
                  class="form-control"
                  style="background: white;"
                  [value]="accountInfo.account"
                  disabled
                />
              </div>
              <div class="flexCol webDiv" *ngIf="accountInfo.type === 2">
                <span class="access-text">{{ 'universal_userAccount_phoneCaptcha' | translate }}</span>
                <div>
                  <input
                    style="margin: 0px; width: 100%; background: white;"
                    class="form-control"
                    placeholder="{{ 'universal_userAccount_enterInfo' | translate: {'info': phoneCaptcha.placeholder } }}"
                    maxlength="8"
                    (focusout)="checkPhoneCaptcha($event)"
                    (keypress)="checkPhoneCaptcha($event)"
                  />
                  <p class="appview-alertHint">
                    <ng-container *ngIf="phoneCaptcha.cue !== ''">
                      {{ phoneCaptcha.cue | translate }}
                    </ng-container>
                  </p>
                </div>
              </div>
              <div
                class="flexCol webDiv"
                [style.display]="imgCaptcha.show ? '' : 'none'"
              >
                <span class="access-text">{{ 'universal_userAccount_imgCaptcha' | translate }}</span>
                <div class="flexRow">
                  <input
                    placeholder="{{ 'universal_userAccount_imgCaptcha' | translate }}"
                    maxlength="8"
                    (focusout)="checkImgCaptcha($event)"
                    (keypress)="checkImgCaptcha($event)"
                  />
                  <img src="{{ imgCaptcha.imgCode }}" class="appView-imgCaptcha">
                </div>
                <span 
                  class="form__message form__message--placeholder"
                  *ngIf="imgCaptcha.show && imgCaptcha.cue !== ''"
                >
                  {{ imgCaptcha.cue | translate }}
                </span>
              </div>
              <button
                class="btn btn-primary access-btn"
                [class.appview-unclickable]="progress !== 100 || timeCount !== 30"
                [style.background]="progress !== 100 ? '#2b819b54' : ''"
                *ngIf="accountInfo.type === 2"
                (click)="reciprocal()"
              >
                <span>{{ 'universal_operating_send' | translate }}({{ timeCount }}s)</span>
              </button>
            </div>
            <div class="flexRow" style="justify-content: space-between; align-items: center; margin-top: 20px;">
              <button
                class="btn skip__btn"
                (click)="turnFirstLoginOrBack()"
              >
                <span>{{ 'universal_operating_skip' | translate }} &gt;&gt;</span>
              </button>
              <button
                class="btn btn-primary access-btn"
                [class.appview-unclickable]="(accountInfo.type === 2 && phoneCaptcha.value === '') || progress !== 100"
                [style.background]="(accountInfo.type === 2 && phoneCaptcha.value === '') || progress !== 100 ? '#2b819b54' : ''"
                (click)="submit()"
              >
                <span *ngIf="progress === 100">{{ 'universal_deviceSetting_switch' | translate }}</span>
                <i *ngIf="progress !== 100" class="fa fa-spinner fa-pulse"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
