.skip__btn {
  width: 125px;
  color: rgba(180, 0, 0, 1);

  &:hover {
    color: rgba(220, 0, 0, 1);
  }

}

.mobile__enable__page {
  margin-top: 70px;
}

.resend {
  font-size: 14px;
}