<div class="flexCol" [style.cursor]="uiFlag.isLoading ? 'wait' : ''">
  <section class="flexRow" style="align-items: center;">
    <span style="display: flex; align-items: center; justify-content: center; cursor: pointer; white-space: nowrap;" (click)="handleReturn()">
      <i
        class="icon-svg_web-icon_p1_073-level_fold"
        style="font-size: 42px; color: rgba(188, 188, 188, 1);"
      ></i>
      返回列表
    </span>
    <h3 style="font-weight: bold; margin: 0 auto;">{{ activity?.name }}</h3>
    <div class="flexRow" style="width: 110px; justify-content: space-between;">
      <i id="update__btn__prompt" #updateRankingBtn class="icon-svg_web-icon_p1_031-sync delete__switch__btn"></i>
      <i id="export__btn__prompt" class="icon-svg_web-icon_p1_018-input delete__switch__btn" (click)="downloadCSV()"></i>
      <i
        id="delete__btn__prompt"
        class="icon-svg_web-icon_p1_009-delete delete__switch__btn"
        [class.delete__mode]="uiFlag.deleteMode"
        (click)="switchDeleteMode()"
      ></i>
    </div>
  </section>
  <section class="flexRow" style="align-items: center; margin: 30px auto;">
    <input type="text" #hashIdInput class="input--style" placeholder="輸入驗證碼查詢" (change)="checkEmpty()" />
    <span class="input__btn" (click)="searchUser()">序號查詢</span>
  </section>
  <section style="margin: 10px auto;">
    <div class="flexRow" style="border-bottom: 1px solid rgba(200, 200, 200, 1);">
      <span id="userId__column__title">Uid</span>
      <span id="nickname__column__title">暱稱</span>
      <span id="account__column__title">帳號</span>
      <span id="gender__column__title">性別</span>
      <span id="age__column__title">年齡</span>
      <span id="apply__column__title">報名時間</span>
      <span id="status__column__title">狀態</span>
      <span class="group__column__title">個人組</span>
      <span class="group__column__title" *ngIf="activity?.team?.length > 0">團體組</span>
    </div>
    <div class="flexCol" *ngIf="activity">
      <div *ngFor="let _group of activity.group; let gIdx = index;">
        <div *ngFor="let _member of _group.member; let mIdx = index;">
          <div
            class="flexRow"
            style="position: relative; padding: 10px 0px; border-bottom: 1px solid rgba(200, 200, 200, 1); min-height: 60px;"
            *ngIf="uiFlag.focus.gId === null || (uiFlag.focus.gId === gIdx && uiFlag.focus.mId === mIdx)"
          >
            <i class="icon-svg_web-icon_p1_012-close delete__icon" *ngIf="uiFlag.deleteMode" (click)="deleteUser(gIdx, mIdx)"></i>
            <span class="userId__column__content">{{ _member.userId }}</span>
            <span class="nickname__column__content">{{ _member.nickname }}</span>
            <span class="account__column__content">{{ _member.account }}</span>
            <span class="gender__column__content" *ngIf="_member.gender === 0">男</span>
            <span class="gender__column__content" *ngIf="_member.gender === 1">女</span>
            <span class="age__column__content">{{ _member.age }}</span>
            <span class="apply__column__content">{{ _member.applyTimeStamp | timeFormat: 'YYYY-MM-DD HH:mm' }}</span>
            <div
              class="status__column__content"
              style="position: relative;"
              [style.background-color]="_member.status === 'checking' ? 'rgba(255, 251, 146, 1)' : 'rgba(141, 240, 203, 1)'"
              (click)="showEditPayInfo($event, gIdx, mIdx)"
            >
              <span *ngIf="_member.status === 'checking'">尚未繳費</span>
              <span *ngIf="_member.status === 'checked'">繳費完成</span>
              <mat-icon style="font-size: 8px; width: 4px;">create</mat-icon>
            </div>
            <div class="group__column__content" style="position: relative;" (click)="showGroupSelector(gIdx, mIdx, 'group')">
              {{ _group.groupName }}
              <div
                class="flexCol group__list"
                *ngIf="uiFlag.groupSelectorObj.group === gIdx && uiFlag.groupSelectorObj.member === mIdx && uiFlag.groupSelectorObj.type === 'group'"
              >
                <span
                  class="group__list__item"
                  *ngFor="let _list of activity.group; let groupIdx = index;"
                  (click)="changeGroup($event, gIdx, mIdx, groupIdx)"
                >
                  {{ _list.groupName }}
                </span>
              </div>
            </div>
            <div
              class="group__column__content"
              style="position: relative;"
              (click)="showGroupSelector(gIdx, mIdx, 'team')"
              *ngIf="activity?.team?.length > 0"
            >
              <span *ngIf="_member.team === ''">無隊伍</span>
              <span *ngIf="_member.team !== ''">{{ _member.team }}</span>
              <div
                class="flexCol group__list"
                *ngIf="uiFlag.groupSelectorObj.group === gIdx && uiFlag.groupSelectorObj.member === mIdx && uiFlag.groupSelectorObj.type === 'team'"
              >
                <span
                  class="group__list__item"
                  (click)="changeTeam($event, gIdx, mIdx, -1)"
                >
                  無隊伍
                </span>
                <span
                  class="group__list__item"
                  *ngFor="let _team of activity.team; let _teamIdx = index;"
                  (click)="changeTeam($event, gIdx, mIdx, _teamIdx)"
                >
                  {{ _team.teamName }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    style="
      position: fixed;
      border: 1px solid rgba(150, 150, 150, 1);
      padding: 20px;
      width: 360px;
      background-color: white;
      z-index: 2;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    "
    [style.top]="uiFlag.payInfo.y"
    [style.left]="uiFlag.payInfo.x"
    (click)="stopPropagation($event)"
    *ngIf="uiFlag.payInfo.showEditPayInfo"
  >
    <div class="flexCol">
      <h4 class="pay__info" style="border-bottom: 1px solid; padding-bottom: 7px;">
        {{ activity.group[uiFlag.payInfo.gId].member[uiFlag.payInfo.mId].nickname }}
      </h4>
      <div class="flexCol pay__info">
        <h4>狀態</h4>
        <div class="flexRow">
          <div class="flexRow check__box__item" (click)="checkStatus('checked')">
            <div
              class="check__box"
              [class.check__box__checked]="activity.group[uiFlag.payInfo.gId].member[uiFlag.payInfo.mId].status === 'checked'"
            ></div>
            <span class="check__box__title" style="background-color: rgba(141, 240, 203, 1);">
              繳費完成
            </span>
          </div>
          <div class="flexRow check__box__item" (click)="checkStatus('checking')">
            <div
              class="check__box"
              [class.check__box__checked]="activity.group[uiFlag.payInfo.gId].member[uiFlag.payInfo.mId].status === 'checking'"
            ></div>
            <span class="check__box__title" style="background-color: rgba(255, 251, 146, 1);">
              尚未繳費
            </span>
          </div>
        </div>
      </div>
      <div class="flexCol pay__info">
        <h4>單號</h4>
        <input
          type="text"
          [value]="activity.group[uiFlag.payInfo.gId].member[uiFlag.payInfo.mId].orderNum ? activity.group[uiFlag.payInfo.gId].member[uiFlag.payInfo.mId].orderNum : ''"
          (change)="saveOrderNum($event)"
        >
      </div>
      <div class="flexCol pay__info">
        <h4>備註</h4>
        <textarea
          style="resize: none; height: 30px;"
          [value]="activity.group[uiFlag.payInfo.gId].member[uiFlag.payInfo.mId].remarks ? activity.group[uiFlag.payInfo.gId].member[uiFlag.payInfo.mId].remarks : ''"
          (change)="saveRemarks($event)"
          (focus)="stopPropagation($event)"
        ></textarea>
      </div>
    </div>
  </section>
  <section class="flexRow" style="align-items: center; margin: 10px auto;" *ngIf="activity">
    <input type="text" #accountInput class="input--style" placeholder="請輸入User Id" />
    <span class="input__btn" (click)="addUser()">手動報名</span>
  </section>
  <section class="flexRow" style="align-items: center; margin: 10px auto;" *ngIf="activity">
    <input
      type="text"
      #groupInput
      class="input--style"
      [style.width]="activity.team.length > 0 ? '190px' : ''"
      placeholder="請輸入群組hash id"
    />
    <div
      class="group__column__content"
      style="position: relative;"
      (click)="showInputTeamSelector()"
      *ngIf="activity?.team?.length > 0"
    >
      <span *ngIf="uiFlag.inputTeamSelector.currentSelect === ''">無隊伍</span>
      <span *ngIf="uiFlag.inputTeamSelector.currentSelect !== ''">{{ uiFlag.inputTeamSelector.currentSelect }}</span>
      <div
        style="max-height: 150px; overflow: scroll;"
        class="flexCol group__list"
        *ngIf="uiFlag.inputTeamSelector.show"
      >
        <span
          class="group__list__item"
          (click)="changeInputTeam($event, -1)"
        >
          無隊伍
        </span>
        <span
          class="group__list__item"
          *ngFor="let _team of activity.team; let _teamIdx = index;"
          (click)="changeInputTeam($event, _teamIdx)"
        >
          {{ _team.teamName }}
        </span>
      </div>
    </div>
    <span class="input__btn" (click)="addGroup()">群組報名</span>
  </section>
  <section style="margin: 20px auto;" *ngIf="activity && activity.delMember.length > 0">
    <h3>刪除列表</h3>
    <div class="flexRow" style="border-bottom: 1px solid rgba(200, 200, 200, 1);">
      <span id="userId__column__title">Uid</span>
      <span id="nickname__column__title">暱稱</span>
      <span id="account__column__title">帳號</span>
      <span id="gender__column__title">性別</span>
      <span id="age__column__title">年齡</span>
      <span id="apply__column__title">報名時間</span>
      <span id="status__column__title">刪除者</span>
      <span class="group__column__title">刪除時間</span>
    </div>
    <div class="flexCol">
      <div *ngFor="let _delMember of activity?.delMember; let _delIdx = index;">
        <div
          class="flexRow"
          style="position: relative; padding: 10px 0px; border-bottom: 1px solid rgba(200, 200, 200, 1); min-height: 60px;"
        >
          <span class="userId__column__content">{{ _delMember.userId }}</span>
          <span class="nickname__column__content">{{ _delMember.nickname }}</span>
          <span class="account__column__content">{{ _delMember.account }}</span>
          <span class="gender__column__content" *ngIf="_delMember.gender === 0">男</span>
          <span class="gender__column__content" *ngIf="_delMember.gender === 1">女</span>
          <span class="age__column__content">{{ _delMember.age }}</span>
          <span class="apply__column__content">{{ _delMember.applyTimeStamp | timeFormat: 'YYYY-MM-DD HH:mm' }}</span>
          <span class="deletor__column__content">{{ _delMember.editInfo.editorId }}</span>
          <span class="del__column__content">{{ _delMember.editInfo.editTimestamp | timeFormat: 'YYYY-MM-DD HH:mm' }}</span>
        </div>
      </div>
    </div>
  </section>
  <footer style="height: 120px;"></footer>
</div>
