<div class="container" style="padding-top: 30px;">
  <div class="row">
    <span class="group-handle-name group-handle-name__rwd">
      群組資訊
    </span>
    <div class="col-md-6 group-image--area">
      <img *ngIf="groupImg" [src]="(groupImg | safeHtml)" [class.image-is--default]="groupImg === '/assets/images/group-default.svg'">
    </div>
    <div class="col-md-6">
      <div class="group-edit-bar">
        <span class="group-handle-name">
          群組資訊
        </span>
        <button class="alatech-btn alatech-btn--default"
          style="width:140px;height:38px"
          *ngIf="!visitorDetail?.isGroupAdmin"
          title="申請加入"
          (click)="goDashboardGroupInfo()"
        >
          申請加入
        </button>
      </div>
      <div style="margin-bottom: 30px;">
        <div>
          <label>{{ groupInfo?.groupName }}</label>
        </div>
        <div>
          <label>群組ID：</label>{{ dispGroupId }}
        </div>
        <div>
          <label>階層：</label>{{ groupLevel | groupLevelTranslate }}
        </div>
        <div>
          <label>狀態：</label>{{ groupInfo?.groupStatus | groupStatus }}
        </div>
        <div>
          <label>介紹：</label>
          <div [innerHTML]="groupInfo?.groupDesc | lineBreak"></div>
        </div>
      </div>
    <div>
  </div>
</div>
<div class="group-manage__action" #footerTarget>
  <button class="alatech-btn group-manage__btn"
    *ngIf="!visitorDetail?.isGroupAdmin"
    title="申請加入"
    [routerLink]="['/dashboard/group-info/', groupId]"
  >
    申請加入
  </button>
</div>
