<ng-container *ngIf="!hideCalendar && !isPreviewMode">
  <div [style.visibility]="isLoading ? 'hidden': 'visible'">
    <div class="searchReport">
      <p style="font-size: 18px; color: #26abe3;">{{'universal_activityData_create' | translate}} {{'universal_activityData_sportReport' | translate}}</p>
      <p>{{'universal_group_followExerciseTypeCreate' | translate}}</p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isPreviewMode">
  <app-tui-calender (classTime)="switchToReport($event)" [hidden]="hideCalendar" [isDebug]="isDebug"></app-tui-calender>
</ng-container>
<ng-container
  *ngIf="hasResData === false && initialChartComplated"
  style="width: 100%; display: flex; flex-direction: row; justify-content: center;"
>
  <span (click)="returnCalendar()" style="cursor: pointer; color: #0089ff">
    &lt;&lt; {{'universal_operating_back' | translate}}
  </span>
  <p style="margin-top: 10px; color: gray; font-size: 18px;">{{'universal_status_noData' | translate}}</p>
</ng-container>
<ng-container *ngIf="!reportCompleted || !initialChartComplated" style="display:flex;justify-content: center;align-items: center;width:100%">
  <mat-spinner style="z-index: 3; margin-top: 30px; position: absolute; left: 50%;"></mat-spinner>
  <div class="whiteMask">
  </div>
</ng-container>
<ng-container *ngIf="hasResData && reportCompleted && hideCalendar">
  <div class="functionButton" [style.justify-content]="isPreviewMode ? '' : 'space-between'">
    <span (click)="returnCalendar()" style="cursor: pointer; color: #0089ff" *ngIf="!isPreviewMode">
      &lt;&lt; {{'universal_operating_back' | translate}}
    </span>
    <div>
      <button class="alatech-btn alatech-btn--default activity-btn"
        title="{{'universal_operating_print' | translate}}"
        (click)="print()"
        *ngIf="isPreviewMode"
      >
        {{'universal_operating_print' | translate}}
      </button>
      <button class="alatech-btn--default"
        (click)="goBack()"
        *ngIf="!isPreviewMode"
        style="border: none;"
        style="display: none;"
      >
        <i class="icon-svg_web-icon_p1_013-share activity-info_icon_size"></i>
      </button>
      <a target="_blank"
        [href]="previewUrl"
        class="alatech-btn--default"
        *ngIf="!isPreviewMode"
      >
        <i class="icon-svg_web-icon_p2_087-print activity-info_icon_size"></i>
      </a>
    </div>
  </div>
  <div class="reprotHeadArea" [class.fitWindow]="!isPreviewMode">
    <div style="display: flex; flex-direction: row;">
      <div style="margin-right: 10px;">
        <img src="{{brandImg}}">
      </div>
      <div style="display: flex; flex-direction: column;">
        <span class="brandName">{{brandName}}</span>
        <span style="font-size: 14px;">{{branchName}}</span>
      </div>
    </div>
    <div style="display: flex; flex-direction: column;">
      <span style="font-size: 8px; color:#919191; text-align: end;">
        {{'universal_activityData_creatTime' | translate}} {{reportCreatedTime}}
      </span>
      <div class="reportName">
        <p>{{fileInfo?.dispName}}</p>
        <p style="margin-left: 10px;">{{'universal_group_groupAnalysis' | translate}}</p>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column;">
    <span class="ala-dashboard-title activity-title">{{'universal_activityData_summary' | translate}}</span>
    <div>
      <div id="reportInfo" class="areaDescription"></div>
      <div style="display: flex; flex-direction: row; margin: 10px 0px; align-items: center;">
        <div class="activity-icon">
          <i *ngIf="reportCategory === '1'"
            class="icon-svg_web-icon_p1_083-run"
          ></i>
          <i *ngIf="reportCategory === '2'"
            class="icon-svg_web-icon_p1_084-cycle"
          ></i>
          <i *ngIf="reportCategory === '5'"
            class="icon-svg_web-icon_p1_087-aerobic"
          ></i>
          <i *ngIf="reportCategory === '6'"
            class="icon-svg_web-icon_p1_088-row"
          ></i>
        </div>
        <span style="margin-left: 15px; color: #919191; font-size: 26px;">{{fileInfo?.dispName}}</span>
      </div>
      <div class="summaryArea">
        <div class="summaryDataArea">
          <span class="summaryData">{{avgActivityTime}}</span>
          <p class="summaryDescription">{{'universal_adjective_avg' | translate}} {{'universal_activityData_time' | translate}}</p>
        </div>
        <div class="summaryDataArea" *ngIf="reportCategory !== '5'">
          <span class="summaryData" *ngIf="avgDistance >= 1000">{{avgDistance / 1000 | number:'1.0-1'}} km</span>
          <span class="summaryData" *ngIf="avgDistance < 1000">{{avgDistance}} m</span>
          <p class="summaryDescription">{{'universal_activityData_totalDistance' | translate}}</p>
        </div>
        <div class="summaryDataArea" *ngIf="reportCategory !== '5'">
          <span class="summaryData">{{avgSpeed | number:'1.0-1'}} km/h</span>
          <p class="summaryDescription">{{'universal_activityData_avgSpeed' | translate}}</p>
        </div>
        <div class="summaryDataArea">
          <span class="summaryData">{{avgHR | number:'1.0-1'}} bpm</span>
          <p class="summaryDescription">{{'universal_activityData_avgHr' | translate}}</p>
        </div>
        <div class="summaryDataArea">
          <span class="summaryData">{{avgCalories | number:'1.0-1'}} cal</span>
          <p class="summaryDescription">{{'universal_activityData_totalCalorie' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column;">
    <span class="ala-dashboard-title activity-title">{{'universal_activityData_exerciseAchievement' | translate}}</span>
    <div>
      <p class="areaDescription">
        {{'universal_group_allMembersReport' | translate}}
      </p>
      <div #container class="sportEfficiencyArea">
          <div class="HRZone" *ngIf="!(initialChartComplated && !showclassHRZoneChartTarget)">
            <div class="sportEfficiency">
              <p class="chartTitle">{{'universal_activityData_hrZoneFallPoint' | translate}}</p>
              <p class="chartTitle">{{'universal_activityData_enduranceZone' | translate}} {{HRZoneThree}}%</p>
            </div>
            <div #classHRZoneChartTarget class="chart">
              chart target
            </div>
          </div>
          <div class="bodyQuality" *ngIf="!(initialChartComplated && !showclassCaloriesChartTarget)">
            <div class="sportEfficiency">
              <p class="chartTitle">{{'universal_adjective_all' | translate}} {{'universal_group_member' | translate}} {{'universal_activityData_totalCalorie' | translate}}</p>
            </div>
            <div #classCaloriesChartTarget class="chart">
              chart target
            </div>
          </div>
        </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
      <p class="ala-dashboard-title activity-title">{{'universal_group_personalAnalysis' | translate}}</p>
      <div>
        <mat-table [dataSource]="tableData" matSort #sortTable="matSort" (matSortChange)="sortData()">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" class="tableArrangement">
              <span class="tableTitleWord">{{'universal_activityData_name' | translate}}</span>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row; let i = index;"
              class="tableArrangement"
            >
              {{row?.name}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="distance">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear="true"
              class="tableArrangement"
              [hidden]="reportCategory === '5'"
            >
              <div class="tableTitle">
                <span class="tableTitleWord">{{'universal_activityData_distance' | translate}}</span>
                <span class="chartTitleUnit">km</span>
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row; let i = index;"
              class="tableArrangement"
              [hidden]="reportCategory === '5'"
            >
              {{row?.distance / 1000 | number:'1.0-1'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="avgSpeed">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear="true"
              class="tableArrangement"
              [hidden]="reportCategory === '5'"
            >
              <div class="tableTitle">
                <span class="tableTitleWord">{{'universal_activityData_limit_avgSpeed' | translate}}</span>
                <span class="chartTitleUnit">km/h</span>
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row; let i = index;"
              class="tableArrangement"
              [hidden]="reportCategory === '5'"
            >
              {{row?.avgSpeed}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="avgHr">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" class="tableArrangement">
              <div class="tableTitle">
                <span class="tableTitleWord">{{'universal_activityData_avgHr' | translate}}</span>
                <span class="chartTitleUnit">bpm</span>
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row; let i = index;"
              class="tableArrangement"
            >
              {{row?.avgHr}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="maxHr">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear="true"
              class="tableArrangement"
              [class.hideColumn]="reportCategory !== '5'"
            >
              <div class="tableTitle">
                <span class="tableTitleWord">{{'universal_userProfile_maxHr' | translate}}</span>
                <span class="chartTitleUnit">bpm</span>
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row; let i = index;"
              class="tableArrangement"
              [class.hideColumn]="reportCategory !== '5'"
            >
              {{row?.maxHr}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="calories">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear="true"
              class="tableArrangement"
              [class.hideColumn]="reportCategory !== '5'"
            >
              <div class="tableTitle">
                <span class="tableTitleWord">{{'universal_userProfile_calories' | translate}}</span>
                <span class="chartTitleUnit">cal</span>
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row; let i = index;"
              class="tableArrangement"
              [class.hideColumn]="reportCategory !== '5'"
            >
              {{row?.calories}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="avgWatt">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear="true"
              class="tableArrangement hideColumn"
              [hidden]="reportCategory !== '2'"
            >
              <div class="tableTitle">
                <span class="tableTitleWord">{{'universal_activityData_avgPower' | translate}}</span>
                <span class="chartTitleUnit">watt</span>
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row; let i = index;"
              class="tableArrangement hideColumn"
              [hidden]="reportCategory !== '2'"
            >
              {{row?.avgWatt}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="HRZoneChart">
            <mat-header-cell *matHeaderCellDef disableClear="true" class="tableArrangement">
              <div class="tableTitle">
                <span class="tableTitleWord">{{'universal_activityData_exerciseAchievement' | translate}}</span>
                <span class="chartTitleUnit">{{'universal_activityData_hrZone' | translate}}</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;">
              <div class="memberHRZoneChart">
                Chart error
              </div>
            </mat-cell>
          </ng-container>
          <ng-container>
            <mat-header-row
              *matHeaderRowDef="['name', 'distance', 'avgSpeed', 'avgHr', 'maxHr', 'calories', 'avgWatt','HRZoneChart']"
            >
            </mat-header-row>
            <mat-row
              *matRowDef="let logRow; let j = index; columns: ['name', 'distance', 'avgSpeed', 'avgHr', 'maxHr', 'calories', 'avgWatt','HRZoneChart']"
              (click)="handleClickMember($event)"
              id="{{j}}"
            >
            </mat-row>
          </ng-container>
        </mat-table>
      </div>
      <div class="seeMoreLink" (click)="handleTableData('showAll')" [hidden]="showMore">{{'universal_operating_more' | translate}}</div>
  </div>
</ng-container>
<ng-container *ngIf="hasResData && hideCalendar">
  <div class="other-info--area otherInfoArea">
    <div class="otherInfoSection">
      <p class="ala-dashboard-title activity-title">{{'universal_deviceSetting_device' | translate}}</p>
      <img src="{{this.deviceImgUrl}}" style="height: auto; width: auto; width: 100px; height: 100px; margin: 0 auto;">
      <span class="introductionName">
        {{ deviceInfo?.modelName || 'universal_status_noData' | translate }}
      </span>
      <p>{{"universal_deviceSetting_modeType" | translate}}：{{ (deviceInfo?.modelTypeID | productType | translate) || 'universal_status_noData' | translate }}</p>
    </div>
    <div class="otherInfoSection">
      <p class="ala-dashboard-title activity-title">{{'universal_group_courseIntroduction' | translate}}</p>
      <div style="display: flex; flex-direction: column;">
        <div class="groupPagePhoto">
          <img src="{{groupImg}}">
        </div>
        <div class="lesson-title" style="padding-left: 10px; display: flex; flex-direction: column; margin-bottom: 10px;">
          <span class="introductionName">
            {{groupData?.groupName}}
          </span>
          <span style="text-align: right; font-size: 10px;">
            {{brandName}} /  {{branchName}}
          </span>
        </div>
      </div>
      <span>{{lessonPartInfo}}</span>
      <div
        *ngIf="!showAllLessonInfo"
        style="color: #5fbae3;cursor:pointer;text-align: right"
        (click)="handleExtendCoachInfo('lessonInfo')"
      >
        ...{{ "universal_operating_more" | translate}}
      </div>
    </div>
    <div class="otherInfoSection">
      <p class="ala-dashboard-title activity-title">{{'universal_group_coachIntroduction' | translate}}</p>
      <div style="display: flex; flex-direction: column;">
        <div class="groupPagePhoto">
          <img src="{{coachInfo?.avatarUrl}}" (error)="this.coachInfo.avatarUrl='/assets/images/user2.png'">
        </div>
        <span class="introductionName">
          {{coachInfo?.nickname}}
        </span>
      </div>
      <p>{{coachPartInfo}}</p>
      <div
        *ngIf="!showAllCoachInfo"
        style="color: #5fbae3;cursor:pointer;text-align: right"
        (click)="handleExtendCoachInfo('coachInfo')"
      >
        ...{{ "universal_operating_more" | translate}}
      </div>
    </div>
  </div>
</ng-container>
