$arrowColor: #157fcc;
$arrowSize: 8px;
$arrowTopPosition: -10px;
$arrowBottomPosition: 32px;
$arrowHourPosition: -77px;
$arrowAmPmPosition: -35px;


.searchInput {
  border-bottom: 2px #9e9e9e solid;
}

.trainLiveCategroy {
  margin: 0px 10px 10px 0px;
  height: 30px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.inputDateTime {
  position: relative;
  height: 30px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
}

.arrow {
  position: relative;
}

.arrow-TimeUp{
  width: 0;
  height: 0;
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;
  border-bottom: $arrowSize solid $arrowColor;

  position: absolute;
  top: $arrowTopPosition;
  left: $arrowHourPosition;
}

.arrow-TimeDown{
  width: 0;
  height: 0;
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;
  border-top: $arrowSize solid $arrowColor;

  position: absolute;
  top: $arrowBottomPosition;
  left: $arrowHourPosition;
}

#dash {
  height: 2px;
  flex: 1 0 10px;
  background: gray;
  margin: 15px 10px 0px 10px;
  align-content: center;
}

mat-header-cell:first-child, mat-cell:first-child, mat-footer-cell:first-child {
  padding-left: 0px !important;
}

mat-header-cell:last-child, mat-cell:last-child, mat-footer-cell:last-child {
  padding-right: 0px !important;
}

.tableTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tableTitleWord {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.tableArrangement {
  display: flex;
  justify-content: center;
}

.chartTitleUnit {
  color:#919191;
}

.memberHRZoneChart {
  width: 100%;
}

.activeItem {
  background-color: #ededed;
}

.seeMoreLink {
  color: #157fcc;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



@media (max-width: 1200px) {
  .searchInput {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .selectArea {
    flex-direction: column;
  }

  #dash {
    margin: 15px 5px 0px 5px;
  }

  .datetimeInput {
    max-width: 245px;
  }
}

@media (max-width: 1150px) {
  .fitWindow {
    flex-direction: column;
  }

  .reportName {
    justify-content: flex-end;
  }
}

@media (max-width: 565px) {
  .otherInfoArea {
    flex-wrap: wrap;
  }

  .otherInfoSection {
    min-width: 150px;
  }
}

@media (max-width: 525px) {
  .brandName {
    font-size: 24px;
  }

  .reportName {
    font-size: 20px;
  }

  .summaryData {
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  .sportEfficiencyArea {
    flex-direction: column;
  }

  .HRZone {
    border-right: none;
    width: 100%;
  }

  .bodyQuality {
    width: 100%;
  }

  .hideColumn {
    display: none;
  }
}

