<div style="display:inline-block" (click)="goToUserProfileInGroupInfo()">
  <div class="member-selector" [title]="title" (click)="toggleMenu()">
    <div *ngIf="icon"
      [ngStyle]="{'background-image': 'url(' + icon + ')'}"
      class="capsule-img"
    ></div>
    <img *ngIf="!icon && !isSubGroupInfo"
      src="/assets/images/user2.png"
      class="capsule-img"
    >
    <img *ngIf="!icon && isSubGroupInfo"
      src="/assets/images/group-default.svg"
      style="opacity: .1"
      class="capsule-img"
    >
    <span>{{ name }}</span>
    <ng-container
      *ngIf="isSubGroupInfo && isHadMenu"
    >
      <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown-menu"
        [class.show]="active"
      >
        <li class="normal-manage" (click)="goToManage()">
          <a>
            {{ 'universal_group_management' | translate}}
          </a>
        </li>
        <li class="warn-manage" (click)="openDeleteGroupWin()">
          <a>
            {{'universal_operating_disband' | translate}} {{'universal_group_group' | translate}}
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-container
  *ngIf="isAdminInfo && isHadMenu"
    >
      <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown-menu"
        [class.show]="active"
      >
        <li class="warn-manage" (click)="handleRemoveAdmin()">
          <a>
            {{ 'universal_group_removeAdmin' | translate}}
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-container
    *ngIf="isNormalMemberInfo && isHadMenu"
    >
      <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown-menu"
        [class.show]="active"
      >
        <li class="normal-manage" (click)="handleAssignAdmin(3)"
          *ngIf="coachType !== '2' && coachType !== '1'"
        >
          <a>
            {{ 'universal_group_assignAdmin' | translate}}
          </a>
        </li>
        <li class="normal-manage" (click)="handleAssignAdmin(1)"
          *ngIf="coachType === '2'"
        >
          <a *ngIf="brandType == 1">
            {{'universal_group_addObject' | translate: {'position': i18n.coach} }}
          </a>
          <a *ngIf="brandType == 2">
            {{'universal_group_addObject' | translate: {'position': i18n.departmentAdministrator} }}
          </a>
        </li>
        <li class="normal-manage" (click)="handleAssignAdmin(2)"
          *ngIf="coachType === '1'"
        >
          <a *ngIf="brandType == 1">
            {{'universal_group_addObject' | translate: {'position': i18n.teacher} }}
          </a>
          <a *ngIf="brandType == 2">
            {{'universal_group_addObject' | translate: {'position': i18n.leagueAdministrator} }}
          </a>
        </li>
        <li class="normal-manage" (click)="goToUserProfileInEditGroupInfo()">
          <a>
            {{ 'universal_group_viewProfile' | translate}}
          </a>
        </li>
        <li class="warn-manage" (click)="handleDeleteMember()">
          <a>
            {{ 'universal_group_removeMember' | translate}}
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-container
    *ngIf="isWaittingMemberInfo && isHadMenu"
    >
      <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown-menu"
        [class.show]="active"
      >
        <li class="normal-manage" (click)="handleJoinStatus(2)">
          <a>
            {{ 'universal_operating_agree' | translate}}
          </a>
        </li>
        <li class="normal-manage" (click)="handleJoinStatus(3)">
          <a>
            {{ 'universal_operating_refuse' | translate}}
          </a>
        </li>
      </ul>
    </ng-container>
  </div>
</div>

