<div class="member-selector" [title]="title" (click)="toggleMenu()">
  <figure>
    <img *ngIf="icon" [src]="(icon | safeHtml)"
      [style.width]="width"
      [style.height]="height"
    >
    <img *ngIf="!icon" src="/assets/images/user.png">
  </figure>
  <span>{{ name }}</span>
  <ng-container
 *ngIf="isSubGroupInfo && isHadMenu"
  >
    <i class="fa fa-caret-down" style="vertical-align: sub"></i>
    <ul class="dropdown-menu"
      [class.show]="active"
    >
      <li class="normal-manage" (click)="goToManage()">
        <a>
          管理
        </a>
      </li>
      <li class="warn-manage" (click)="openDeleteGroupWin()">
        <a>
          移除群組
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-container
 *ngIf="isAdminInfo && isHadMenu"
  >
    <i class="fa fa-caret-down" style="vertical-align: sub"></i>
    <ul class="dropdown-menu"
      [class.show]="active"
    >
      <li class="warn-manage" (click)="handleRemoveAdmin()">
        <a>
          移除管理員
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-container
  *ngIf="isNormalMemberInfo && isHadMenu"
  >
    <i class="fa fa-caret-down" style="vertical-align: sub"></i>
    <ul class="dropdown-menu"
      [class.show]="active"
    >
      <li class="normal-manage" (click)="handleAssignAdmin()">
        <a>
          指定管理員
        </a>
      </li>
      <li class="warn-manage" (click)="handleDeleteMember()">
        <a>
          刪除該成員
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-container
  *ngIf="isWaittingMemberInfo && isHadMenu"
  >
    <i class="fa fa-caret-down" style="vertical-align: sub"></i>
    <ul class="dropdown-menu"
      [class.show]="active"
    >
      <li class="normal-manage" (click)="handleJoinStatus(2)">
        <a>
          接受
        </a>
      </li>
      <li class="normal-manage" (click)="handleJoinStatus(3)">
        <a>
          拒絕
        </a>
      </li>
    </ul>
  </ng-container>
</div>
