<section class="flexCol pageBreakAvoid">
  <ng-container *ngIf="['cloudrun', 'sportReport'].includes(page) || chartType === 'fitTime'">
    <div class="flexRow" style="align-items: center; justify-content: space-between">
      <h6 id="chartTitle">
        <ng-container *ngIf="chartType === 'planeGForce'">
          {{ 'universal_adjective_accumulation' | translate }}
        </ng-container>
        <ng-container *ngIf="chartType === 'planeMaxGForce'">
          {{ 'universal_adjective_maxBig' | translate }}
        </ng-container>
        <ng-container
          *ngIf="
            (chartType === 'totalTime' && sportType === sportCode.weightTrain) ||
            chartType === 'fitTime'
          "
        >
          {{ 'universal_adjective_singleTotal' | translate }}
        </ng-container>
        {{ chartType | dataTypeTranslate: [sportType, unit] | translate }}
      </h6>
    </div>
  </ng-container>
  <main id="mainSeciton">
    <ng-container *ngIf="['cloudrun'].includes(page) || chartType === 'fitTime'">
      <div class="flexRow infoBlock" style="justify-content: space-between">
        <div class="flexCol infoSection">
          <span class="dataNumber">
            <ng-container *ngIf="page === 'cloudrun'">
              {{ data.bestCostTime | sportTime: [false, false] }}
            </ng-container>
            <ng-container *ngIf="data.maxStrokeNum || data.maxStrokeNum === 0">
              {{ data.maxStrokeNum }}
            </ng-container>
            <ng-container *ngIf="data.maxTotalTime || data.maxTotalTime === 0">
              {{ data.maxTotalTime | sportTime: [false, false] }}
            </ng-container>
            <ng-container *ngIf="data.maxCalories || data.maxCalories === 0">
              {{ data.maxCalories | thousandConversion: 'cal' }}
            </ng-container>
            <ng-container *ngIf="data.maxDistance || data.maxDistance === 0">
              {{ data.maxDistance | distanceSibs: [unit, true] }}
            </ng-container>
            <ng-container *ngIf="data.maxPlaneGForce || data.maxPlaneGForce === 0">
              {{ data.maxPlaneGForce | number: '1.0-0' }} g
            </ng-container>
            <ng-container *ngIf="data.maxPlaneMaxGForce || data.maxPlaneMaxGForce === 0">
              {{ data.maxPlaneMaxGForce | number: '1.0-3' }} g
            </ng-container>
            <ng-container *ngIf="data.maxMin || data.maxMin === 0">
              {{ data.maxMin }} {{ 'universal_unit_min' | translate }}
            </ng-container>
          </span>
          <span class="dataDescription">
            <ng-container *ngIf="page === 'cloudrun'">
              {{ 'universal_adjective_maxBest' | translate }}
            </ng-container>
            <ng-container
              *ngIf="
                data.maxStrokeNum !== undefined ||
                data.maxTotalTime !== undefined ||
                data.maxCalories !== undefined ||
                data.maxDistance !== undefined ||
                data.maxPlaneGForce !== undefined ||
                data.maxPlaneMaxGForce !== undefined ||
                data.maxMin !== undefined
              "
            >
              {{ 'universal_adjective_maxHight' | translate }}
            </ng-container>
            {{ chartType | dataTypeTranslate: [1, unit] | translate }}
          </span>
        </div>
        <div class="flexCol infoSection">
          <span class="dataNumber">
            <ng-container *ngIf="page === 'cloudrun'">
              {{ data.avgCostTime | sportTime: [false, false] }}
            </ng-container>
            <ng-container *ngIf="data.avgStrokeNum || data.avgStrokeNum === 0">
              {{ data.avgStrokeNum | number: '1.0-1' }}
            </ng-container>
            <ng-container *ngIf="data.avgTotalTime || data.avgTotalTime === 0">
              {{ data.avgTotalTime | sportTime: [false, false] }}
            </ng-container>
            <ng-container *ngIf="data.avgCalories || data.avgCalories === 0">
              {{ data.avgCalories | thousandConversion: 'cal' }}
            </ng-container>
            <ng-container *ngIf="data.avgDistance || data.avgDistance === 0">
              {{ data.avgDistance | distanceSibs: [unit, true] }}
            </ng-container>
            <ng-container *ngIf="data.avgPlaneGForce || data.avgPlaneGForce === 0">
              {{ data.avgPlaneGForce | number: '1.0-0' }} g
            </ng-container>
            <ng-container *ngIf="data.avgPlaneMaxGForce || data.avgPlaneMaxGForce === 0">
              {{ data.avgPlaneMaxGForce | number: '1.0-3' }} g
            </ng-container>
            <ng-container *ngIf="data.avgMin || data.avgMin === 0">
              {{ data.avgMin }} {{ 'universal_unit_min' | translate }}
            </ng-container>
          </span>
          <span class="dataDescription">
            {{ 'universal_adjective_avg' | translate }}
            {{ chartType | dataTypeTranslate: [1, unit] | translate }}
          </span>
        </div>
      </div>
    </ng-container>
    <div #container id="chartBlock" [class.printChartFix]="isPreviewMode">chart</div>
  </main>
</section>
