<div class="flexRow data__table">
  <ul
    class="table__header__column"
    [class.table__first__header]="tableData.option.secondColumnHeader"
  >
    <ng-container *ngFor="let _rowData of tableData.data; let _rowIndex = index">
      <ng-container *ngIf="_rowData[0] !== null">
        <li
          class="column__header__cell"
          [class.grid__row__header]="_rowIndex === 0"
          [style.background-color]="
            tableData.option.valueRowStyle && tableData.option.valueRowStyle[_rowIndex]?.bgColor
              ? tableData.option.valueRowStyle[_rowIndex].bgColor
              : 'none'
          "
        >
          <span
            *ngTemplateOutlet="
              gridCell;
              context: {
                value: _rowData[0],
                valueType:
                  _rowIndex === 0
                    ? tableData.option.headerRowType[0]
                    : tableData.option.valueRowType[0],
                hideBorderLeft: true
              }
            "
          ></span>
        </li>
      </ng-container>
    </ng-container>
  </ul>
  <ul class="flexCol content__row">
    <li
      class="grid__row"
      [class.grid__row__header]="_rowIndex === 0"
      [style.min-width]="(tableData.data[0].length - 1) * 140 + 'px'"
      [style.background-color]="
        tableData.option.valueRowStyle && tableData.option.valueRowStyle[_rowIndex]?.bgColor
          ? tableData.option.valueRowStyle[_rowIndex].bgColor
          : 'none'
      "
      *ngFor="let _rowData of tableData.data; let _rowIndex = index"
    >
      <ng-container *ngFor="let _data of _rowData; let _cellIndex = index">
        <ng-container *ngIf="_cellIndex !== 0 && _rowData[_cellIndex] !== null">
          <span
            *ngTemplateOutlet="
              gridCell;
              context: {
                value: _rowData[_cellIndex],
                valueType:
                  _rowIndex === 0
                    ? tableData.option.headerRowType[_cellIndex]
                    : tableData.option.valueRowType[_cellIndex]
              }
            "
          ></span>
        </ng-container>
      </ng-container>
    </li>
  </ul>
</div>

<ng-template
  #gridCell
  let-value="value"
  let-valueType="valueType"
  let-hideBorderLeft="hideBorderLeft"
>
  <ng-container [ngSwitch]="valueType">
    <ng-container *ngSwitchCase="OperationDataType.icon">
      <span class="grid__cell" [class.grid__column__header]="hideBorderLeft">
        <i class="grid__icon" [class]="value"></i>
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="OperationDataType.iconList">
      <span class="grid__cell" [class.grid__column__header]="hideBorderLeft">
        <ng-container *ngFor="let _icon of value">
          <i class="grid__icon" [class]="_icon"></i>
        </ng-container>
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="OperationDataType.translateKey">
      <span
        class="grid__cell"
        [class.grid__column__header]="hideBorderLeft"
        [title]="value | translate"
      >
        {{ value | translate }}
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="OperationDataType.link">
      <a
        class="grid__cell table__header__link"
        [class.grid__column__header]="hideBorderLeft"
        [title]="value?.name ?? 'Error' | translate"
        [href]="value?.url ?? '/404'"
        target="_blank"
      >
        {{ value?.name ?? 'Error' | translate }}
      </a>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <span class="grid__cell" [class.grid__column__header]="hideBorderLeft">
        {{ value ?? ' ' }}
      </span>
    </ng-container>
  </ng-container>
</ng-template>
