tr.here {
  background-color: #cb5e5e;
  color: #fff;
}

.dropdown {
  display: inline-block;
}

.loading {
  background-color: #ffffff;
  background-image: url('http://loadinggif.com/images/image-selection/3.gif');
  background-size: 25px 25px;
  background-position: right center;
  background-repeat: no-repeat;
}

.leaderboard-bg {
  height: calc(100% - 56px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaderboard-layer {
  background: rgb(100, 185, 196);
  background: linear-gradient(
    135deg,
    rgba(100, 185, 196, 0.2) 0%,
    rgba(6, 24, 91, 0.8) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  min-height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row-runs {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 10px 32px;
  border-radius: 3px;
}

td {
  font-size: 1.4em;
}

table > tbody > tr:hover {
  background-color: #fff;
}

table > tbody > tr.here:hover {
  background-color: #cb5e5e;
}
td > a {
  color: #ff1744;
}

td > a:hover {
  text-decoration: none;
  color: #ff5252;
}

hr {
  border-color: #ddd;
}

.summary {
  font-size: 1.4em;
}

.heading {
  font-family: 'Fjalla One', sans-serif;
}

.rank {
  color: #cb5e5e;
  cursor: pointer;
}

.here .rank {
  color: #fff;
}

.page__info {
  color: #777;
  text-align: right;
}
