tr.here {
  background-color: #cb5e5e;
  color: #fff;
}

.dropdown {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-menu.show {
  word-break: break-all;
}

.dropdown-menu.show>li {
  padding: 3px 5px;
}

.dropdown-menu.show>li:hover {
  background-color: #008bcd;
  color: #fff;
  cursor: pointer;
}


.leaderboard-bg {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaderboard-layer {
  margin-top: -63px;
  background: rgb(100, 185, 196);
  background: linear-gradient( 135deg, rgba(100, 185, 196, 0.2) 0%, rgba(6, 24, 91, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row-runs {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 10px 10px 5px #2f2e2e;
}

td {
  font-size: 1.4em;
  vertical-align: middle;
}

table>tbody>tr:hover {
  background-color: #fff;
}

table>tbody>tr.here:hover {
  background-color: #cb5e5e;
}

td > a.ranking-link {
  color: #157fcc;
}
td > a.ranking-link:hover {
  text-decoration: none;
  color: #157fcc;
}
.ranking-link {
  cursor: pointer;
}
hr {
  border-color: #ddd;
}

.summary {
  font-size: 14px;
  margin: 15px 0px;
}

.heading {
  font-family: 'Fjalla One', sans-serif;
}

.here .ranking-link,
.here .ranking-table__cell {
  color: #fff;
}

.page__info {
  color: #777;
  text-align: right;
}

.spinner-hidden {
  display: none;
}

/*這是額外做顏色，沒有什麼意義*/

tr.tr-only-hide {
  font-weight: bold;
}

.leaderboard-rwd {
  padding-top: 50px;
}

.table-responsive {
  overflow-x: hidden;
}

.searchRank-mapInfo {
  display: none;
}

.clearable__clear {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  padding: 0 8px;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}

.clearable__clear.show {
  display: inline;
}

.fa-caret-down.async-caret {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 4px;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}

.clearable {
  position: relative;
  display: inline-block;
}

.spinner {
  position: absolute;
  right: 30px;
  top: 0;
  padding: 6px 4px;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}

.spinner-hidden {
  display: none;
}

.ranking-table__cell--head {
  font-weight: 700;
  font-size: 14px;
  background-image: linear-gradient(to bottom, #eee, #d8d8d8);
  text-align: center;
}

.ranking-table__cell {
  padding: 10px;
  border-top: 1px solid #ccc;
  color: #4a4a4a;
  text-align: center;
  font-size: 18px;
}
.form-label {
  margin-right: 10px;
}
.searchbar-menu--text {
  font-weight: 500;
  color: #999;
  margin-right: 10px;
  cursor: pointer;
}
.searchbar-menu--text.active {
  margin-bottom: 4px;
  border-bottom: 2px solid #263147;
  color: #263147;
}

.rank__datepicker {
  vertical-align: middle;
  display: inline-block;
}

.tablist {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  border-bottom: 5px solid #26ABE4;
}

.tablist__tab {
  display: inline-block;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 4px 4px 0 0;
  width: 170px;
  text-align: center;
  color: #999;
  font-size: 12px;
  opacity: 0.9;
  line-height: 22px;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tablist__tab:nth-child(1) {
  max-width: 90px;
}

.tablist__tab + .tablist__tab {
  border-left: 1px solid #dbd8ca;

}
.tablist__tab--selected {
  background-color: #26ABE4;
  color: #fff;
  opacity: 1;
  font-size: 16px;
  line-height: 24px;
}

.tablist__tab:hover {
  cursor: pointer;
}
.ranking-link .medal {
  width: 30px;
  height: 30px;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.ranking-link:hover .medal {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media (min-width: 992px) {
  .container {
    min-width: 890px;
  }
}

@media (min-width: 1170px) {
  .container {
    min-width: 1050px;
  }
}

@media (max-width: 991px) {
  .leaderboard-layer {
    margin-top: 0px;
  }

  .tablist {
    border-bottom: 1px solid #dbd8ca;
  }

  .tablist__tab--selected {
    font-size: 14px;
    line-height: 22px;
  }
  .ranking-table__cell--head {
    font-size: 12px;
  }

  .tablist__tab {
    width: calc(100% / 3);
    border-radius: 0px;
    border-top: 1px solid #dbd8ca;
  }
  .tablist__tab:nth-child(1) {
    width: calc(100% / 3);
    max-width: 100%;
  }

  .tablist__tab--total4 {
    width: 100%;
  }
  .tablist__tab--total5 {
    width: calc(100% / 2);
  }
  .tablist__tab--total6 {
    width: calc(100% / 3);
  }
  .searchRank-bar {
    display: none;
  }
  .searchRank-mapInfo {
    width: 100%;
    text-align: center;
    display: block;
  }
  .row-runs {
    padding: 0px;
  }
  .bg-btn {
    display: none;
  }
  .leaderboard-rwd.container {
    padding-top: 0px;
    max-width: 100%;
  }
  .table-rwd {
    max-width: 100%;
    height: 100vh;
  }
  /*針對tr去做隱藏*/
  tr.tr-only-hide {
    display: none !important;
  }
  /*讓tr變成區塊主要讓他有個區塊*/
  .table-rwd tr {
    /* display: block; */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .table-rwd td {
    /* text-align: left; */
    font-size: 15px;
    /*
    overflow: hidden;
    width: 100%;
    display: block;
    border: none;
    padding: 15px; */
  }
  .table-rwd tbody td:before {
    /*最重要的就是這串*/
    /* content: attr(data-th) " : "; */
    /*最重要的就是這串*/
    /* display: inline-block; */
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    /* margin-right: 10px; */
    /* color: #D20B2A; */
  }
  .table-rwd tbody td.no-data:before {
    /* content: ''; */
  }


  /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
  .table-rwd.table-bordered td,
  .table-rwd.table-bordered th,
  .table-rwd.table-bordered {
    border: 0;
  }
}
