@import 'transition.scss';
@import 'keyframes.scss';
$btn--blue--opcity: rgba(59, 134, 255, 0.8);
$btn--blue: rgba(59, 134, 255, 1);
$sea--blue: rgba(0, 104, 183, 1);
$btn-shadow-color: rgba(200, 200, 200, 1);
$btn-not-save: rgba(255, 120, 120, 1);
$gray: rgba(200, 200, 200, 1);
$dark-gray: rgba(150, 150, 150, 1);
$darker-gray: rgba(100, 100, 100, 1);
$card-title-width: 130px;
$group-id-width: 150px;
$product-name-width: 300px;
$product-link-width: 300px;
$discount-name-width: 250px;
$discount-price-width: 100px;
$discount-link-width: 250px;


@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin table--content($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
}

@mixin box--btn {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

@mixin btn--active {
  position: relative;
  cursor: pointer;
  @include transition(top);
  @include transition(left);

  &:active {
    top: 2px;
    left: 2px;
    @include transition(top);
    @include transition(left);
  }

}

.edit__icon {
  font-size: 24px;
  margin: 9px 5px;
  cursor: pointer;
  opacity: 0.5;
  @include transition(opacity);

  &:hover {
    opacity: 1;
    @include transition(opacity);
  }

}

.event__switch__btn {
  display: flex;
  flex-direction: row;
}

.switch__btn {
  width: 44px;
  height: 22px;
  margin: 0px 5px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 1);
  @include transition(background-color);
}

.switch__btn__on {
  background-color: $btn--blue;
  @include transition(background-color);
}

.switch__rod {
  display: block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 14px;
  color: white;
  font-size: 14px;
  position: relative;
  left: 0px;
  @include transition(left);
}

.switch__rod__right {
  left: 22px;
  @include transition(left);
}

.operating__icon {
  position: relative;
  bottom: 5px;
  font-size: 28px;
  color: $gray;
  margin-left: 10px;
  cursor: pointer;
  @include transition(color);
  @include transition(bottom);
  @include transition(left);

  &:hover {
    color: $dark-gray;
    @include transition(color);
  }

  &:active {
    left: 1px;
    bottom: 4px;
    @include transition(bottom);
    @include transition(left);
  }

}

.btn__saving {
  animation: color-gradient 1s infinite;

  @include keyframes(color-gradient) {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }

  }

}

.btn__saved {
  color: rgba(0, 220, 0, 1);
  @include transition(color);
}

.btn__not__saved {
  color: $btn-not-save;
  @include transition(color);
}

.setting__btn__block {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  height: 60px;
  width: 120px;
}

.map__setting--margin {
  margin: 10px 0px;
}

.map__setting__title {
  font-weight: bold;
  font-size: 20px;
  color: $darker-gray;
  margin-right: 20px;
}

#map__choice {
  display: flex;
  justify-content: center;
  min-width: 200px;
  width: fit-content;
  height: 30px;
  border: 1px solid;
  padding: 0 5px;

  span {

    &::after {
      content: '';
      position: relative;
      top: 13px;
      left: 5px;
      border-style: solid;
      border-width: 5px 5px 0px 5px;
      border-color: black transparent transparent transparent;
    }

  }

}

.choice__item {
  padding: 2px;
  @include transition(color);
  @include transition(background-color);

  &:hover {
    color: white;
    background-color: $btn--blue;
    @include transition(color);
    @include transition(background-color);
  }

}

.radio__item {
  margin-right: 20px;
  align-items: center;
}

.radio {
  position: relative;
  border: 2px solid $sea--blue;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  cursor: pointer;
}

.radio__checked {
  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $sea--blue;
  }

}

.setting__btn {
  @include center();
  background-color: $btn--blue--opcity;
  width: 120px;
  height: 35px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $btn-shadow-color;
  @include transition(background-color);
  @include btn--active();

  &:hover {
    background-color: $btn--blue;
    @include transition(background-color);
  }

  &:active {
    box-shadow: 0px 0px 0px $btn-shadow-color;
    @include transition(box-shadow);
  }

}

.color__setting {
  align-items: center;
}

.setting__content {
  overflow-x: hidden;
  white-space: nowrap;
}

.table__section {
  width: 80vw;
  max-width: 1050px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table__header {
  font-size: 20px;
  font-weight: bold;
  margin-left: 60px;
}

.table__content {
  margin-left: 40px;
}

#card__title {
  width: $card-title-width;
}

#card__bgcolor {
  width: 110px;
}

#card__content {
  width: 40px;
}

.card__title__list {
  @include table--content($card-title-width);
}

.card__bgcolor__list {
  @include table--content(65px);
  font-family: monospace;
  font-size: 14px;
}

.card__content__list {
  @include table--content(60vw);
  max-width: 770px;
}

.group__id {
  width: $group-id-width;
}

.group__name {
  width: 40px;
}

.group__id__list {
  @include table--content($group-id-width);
  padding-left: 15px;
}

.group__name__list {
  @include table--content(calc(50vw + 90px));
  max-width: 835px;
}

#product__name {
  width: $product-name-width;
}

#product__link {
  width: $product-link-width;
}

#product__img {
  width: 40px;
}

.product__name__list {
  @include table--content($product-name-width);
  border-right: 20px solid rgba(255, 255, 255, 0);
}

.product__link__list {
  @include table--content($product-link-width);
  border-right: 20px solid rgba(255, 255, 255, 0);
}

.product__img__list {
  @include table--content(calc(50vw - 370px));
}

#discount__name {
  width: $discount-name-width;
}

#discount__price {
  width: $discount-price-width;
}

#discount__link {
  width: $discount-link-width;
}

#discount__img {
  width: 40px;
}

.discount__name__list {
  @include table--content($discount-name-width);
  border-right: 20px solid rgba(255, 255, 255, 0);
}

.discount__price__list {
  @include table--content($discount-price-width);
  border-right: 20px solid rgba(255, 255, 255, 0);
}

.discount__link__list {
  @include table--content($discount-link-width);
  border-right: 20px solid rgba(255, 255, 255, 0);
}

.discount__img__list {
  @include table--content(calc(50vw - 370px));
}

.add__item {
  @include center();
  position: relative;
  margin: 5px auto;
  width: 140px;
  height: 50px;
  cursor: pointer;
  border: 1px solid $gray;
  border-radius: 30px;
  @include transition(background-color);
  @include btn--active();

  i {
    font-size: 18px;
    padding: 3px 0px;
  }

  &:hover {
    background-color: rgba(240, 240, 240, 1);
    @include transition(background-color);
  }

}

.delete__icon {
  font-size: 15px;
  background-color: rgba(255, 100, 100, 1);
  border-radius: 15px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  color: white;
  margin: auto 10px auto 0;
}

.row__line {
  padding: 10px 0;
  border-bottom: 1px solid $gray;
  @include transition(background-color);

  &:hover {
    background-color: rgba(245, 245, 245, 1);
    @include transition(background-color);
  }

}

.input__box {
  position: fixed;
  width: 300px;
  height: 110px;
  z-index: 5;
  box-shadow: 5px 5px 5px $gray;
  background-color: white;
  border: 1px solid $gray;
}

.cancel__btn {
  @include box--btn();
  border: 1px solid $gray;
  @include transition(background-color);

  &:hover {
    background-color: rgba(240, 240, 240, 1);
    @include transition(background-color);
  }

}

.confirm__btn {
  @include box--btn();
  background-color: $btn--blue--opcity;
  color: white;
  @include transition(background-color);

  &:hover {
    background-color: $btn--blue;
    @include transition(background-color);
  }

}

.event__color__text {
  font-family: monospace;
  font-size: 16px;
}

.color__selector {
  border: 0px;
  width: 25px;
  height: 25px;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.event__color {
  padding: 3px 4px;
}

.table__edit__input {
  border: 0px;
  border-bottom: 2px solid rgba(59, 134, 255, 1);
  outline: none;
}

#content__editor {
  position: absolute;
  padding: 20px;
  z-index: 10;
  background-color: white;
  border: 1px solid $dark-gray;
  width: 90vw;
  max-width: 700px;
  height: 40vw;
  max-height: 450px;
  top: 25%;
  left: 25%;
}

#card__content__textarea {
  width: 90%;
  height: calc(40vw - 102px);
  min-height: 200px;
  max-height: 350px;
  resize: none;
  border-color: rgba(200, 200, 200, 1);
}

.align__icon {
  @include btn--active();
  display: flex;
  align-items: center;
  color: $dark-gray;
  border: 1px solid $dark-gray;
  border-radius: 10px;
  padding: 1px;
  @include transition(color);

  &:hover {
    color: $darker-gray;
    border-color: $darker-gray;
    @include transition(color);
    @include transition(border-color);
  }

}

.align__btn--active {
  background-color: $dark-gray;
  color: white;
  pointer-events: none;
}

::ng-deep .card__font {
  .mat-form-field-wrapper {

    .mat-form-field-flex {

      .mat-form-field-infix {
        padding: 0px !important;
        border: 0px !important;
      }

    }

  }

}

.img__icon {
  color: $dark-gray;
}


/****************************** media ******************************/


@media (max-width: 1100px) {
  #content__editor {
    left: 10%;
  }

}

@media (max-width: 870px) {
  #content__editor {
    left: 20%;
    width: 60vw;
    min-height: 300px;
  }

}

@media (max-width: 600px) {
  #content__editor {
    left: 10%;
    width: 80vw;
    min-height: 300px;
  }

}

@media (max-width: 450px) {
  .event__switch__btn {
    flex-direction: column;
  }

}
