/* * {
  border: 1px solid #333;
} */
.memberselector__middle {
  width: 100px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.memberselector__content {
  width: calc((100% - 100px) / 2);
  height: 380px;
  border: 1px solid #ccc;
}
.alatech-btn.memberselector__btn + .alatech-btn.memberselector__btn {
  margin: 20px 0 0 0;
}
.memberselector__btn.memberselector__btn--is-focused {
  border-color: #157fcc;
  background-color: #157fcc;
  color: #fff;
}
.memberselector__bar-box {
  border-bottom: 1px solid #ccc;
}
.memberselector-sl {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.memberselector-sl--with-bar {
  min-height: calc(100% - 40px);
}

.memberselector-sl__item {
  padding: 9pt 40px;
  background-color: #fff;
  word-break: break-all;
  color: #333;
}
