@import 'transition.scss';

.selector__prompt {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &::after {
    content: '';
    border-style: solid;
    border-width: 10px 5px 0px 5px;
    border-color: white transparent transparent transparent;
    position: relative;
    left: 5px;
    margin: auto 0;
    @include transition(transform);
  }
}

.selector__drop {
  &::after {
    content: '';
    transform: rotate(180deg);
    @include transition(transform);
  }
}

.title__selector {
  color: black;
  @include transition(background-color);

  &:hover {
    color: white;
    background-color: rgba(0, 104, 183, 1);
    @include transition(background-color);
  }
}

#title__drop__list {
  position: absolute;
  z-index: 2;
  top: 30px;
  padding: 5px;
  background-color: white;
  width: fit-content;
  min-width: 120px;
  border: 1px solid rgba(150, 150, 150, 1);
}

.memberselector__middle {
  width: 100px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.memberselector__content {
  width: calc((100% - 100px) / 2);
  height: 380px;
  border: 1px solid #ccc;
}
.alatech-btn.memberselector__btn + .alatech-btn.memberselector__btn {
  margin: 20px 0 0 0;
}
.memberselector__btn.memberselector__btn--is-focused {
  border-color: #157fcc;
  background-color: #157fcc;
  color: #fff;
}
.memberselector__bar-box {
  border-bottom: 1px solid #ccc;
  padding: 5px 7px;
}
.memberselector-sl {
  width: 100%;
  min-width: 220px;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.memberselector-sl--with-bar.memberselector-sl--with-bar--manage {
  height: 100%;
}
.memberselector-sl__item {
  padding: 9pt 20px;
  background-color: #fff;
  word-break: break-all;
  color: #333;
}
.memberselector-sl__item:hover,
.memberselector-sl__item.memberselector-sl__item--is-selected {
  background-color: #dfeaf2;
}
.memberselector-sl__item.memberselector-sl__item--is-selected {
  cursor: pointer;
}
.memberselector-sl__item.memberselector-sl__item--empty {
  background-color: #fff;
  cursor: default;
}
.ala-selector-content {
  min-width: 300px;
  min-height: 360px;
  padding: 0 15px;
}
.memberselector-area {
  display: flex;
}
.cdk-overlay-pane {
  min-width: 273px;
  max-width: 100vw;
}
@media (max-width: 767px) {
  .ala-selector-content {
    min-width: 100%;
  }
  .memberselector-area {
    display: inline-block;
  }
  .memberselector-area input,
  .memberselector-area select,
  .memberselector-area button,
  .memberselector-area label {
    width: 100%;
    margin-bottom: 0;
  }

  .memberselector__content {
    width: 100%;
  }
  .memberselector__middle {
    width: 100%;
    height: auto;
    display: block;
  }
  .memberselector__icon--rotate {
    transform: rotate(90deg);
  }
  .alatech-btn.memberselector__btn {
    width: 100%;
    margin-top: 5px;
  }
  .alatech-btn.memberselector__btn + .alatech-btn.memberselector__btn {
    margin: 5px 0 5px 0;
  }
}
