<h2 class="ala-dialog" mat-dialog-title>
  {{ title }}
</h2>
<mat-dialog-content class="ala-selector-content">
  <!-- <div>{{'Dashboard.Group.Region' | translate }}： 台灣</div> -->
  <div class="memberselector-area">
    <div class="memberselector__content">
      <div class="memberselector__bar-box">
        <ng-container *ngIf="!isInnerAdmin">
          <label style="margin-right: 5px">{{'Dashboard.Group.Search' | translate }}</label>
          <select (click)="handleGroupOptions()"
            [(ngModel)]="chooseGroupId"
          >
            <option value="" disabled selected>{{'Dashboard.Group.SelectGroup' | translate }}</option>
            <option [value]="option.groupId"
              *ngFor="let option of groupLists"
            >
              {{option.groupName}}
            </option>
          </select>
        </ng-container>
        <input placeholder="{{'Dashboard.Group.NameKeyword' | translate }}"
          [(ngModel)]="keyword"
        />
        <button class="icon-btn" (click)="search()"
          style="margin-left: 5px"
        >
          <i class="fa fa-search icon_fa"></i>
        </button>
      </div>
      <ul class="memberselector-sl memberselector-sl--with-bar"
        (click)="handleBtnColor(1, $event)"
      >
        <ng-container *ngIf="fakeDatas.length > 0">
          <li class="memberselector-sl__item"
            *ngFor="let item of fakeDatas;let _idx = index"
            (click)="handleItem(_idx)"
            [class.memberselector-sl__item--is-selected]="chooseIndex === _idx"
          >
            {{item.groupName}}/{{item.userName}}
          </li>
        </ng-container>
        <li class="memberselector-sl__item memberselector-sl__item--empty"
          *ngIf="fakeDatas.length === 0"
        >
          {{'Dashboard.Group.NoEligiblePeopleFound' | translate }}
        </li>
      </ul>
    </div>
    <div class="memberselector__middle">
      <button class="alatech-btn alatech-btn--default memberselector__btn"
        title="{{'Dashboard.Group.Add' | translate }}"
        [class.memberselector__btn--is-focused]="areaType === 1"
        (click)="assignUser()"
      >
        {{'Dashboard.Group.Add' | translate }}<i class="fa fa-chevron-right memberselector__icon--rotate" style="margin-left: 5px"></i>
      </button>
      <button class="alatech-btn alatech-btn--default memberselector__btn"
        title="{{'Dashboard.Group.Remove' | translate }}"
        [class.memberselector__btn--is-focused]="areaType === 2"
        (click)="removeUser()"
      >
        <i class="fa fa-chevron-left memberselector__icon--rotate" style="margin-right: 5px"></i>{{'Dashboard.Group.Remove' | translate }}
      </button>
    </div>
    <div class="memberselector__content"
      (click)="handleBtnColor(2, $event)"
    >
      <ul class="memberselector-sl memberselector-sl--with-bar memberselector-sl--with-bar--manage">
        <ng-container *ngIf="adminLists.length > 0">
          <li class="memberselector-sl__item"
            *ngFor="let item of adminLists;let _idx = index"
            (click)="handleExistItem(_idx)"
            [class.memberselector-sl__item--is-selected]="chooseExistIndex === _idx"
          >
            {{item.groupName}}/{{item.userName}}
          </li>
        </ng-container>
        <li class="memberselector-sl__item memberselector-sl__item--empty"
          *ngIf="adminLists.length === 0"
        >
          {{'Dashboard.Group.NoEligiblePeopleFound' | translate }}
        </li>
      </ul>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-end">
  <button mat-button color="primary" (click)="confirm()">{{"SH.Confirm" | translate }}</button>
  <button mat-button mat-dialog-close color="warn">{{"SH.Cancel" | translate }}</button>
</mat-dialog-actions>
