<div style="position: relative" class="flexCol" [style.top]="uiFlag.portalMode ? '-63px' : ''">
  <nav
    #navSection
    class="flexCol"
    style="position: relative"
    [style.display]="uiFlag.isPreviewMode ? 'none' : ''"
  >
    <section class="info-scenerySection">
      <img
        class="info-imgAbs"
        [src]="
          uiFlag.editMode !== 'close' && editImage.scenery.base64 !== null
            ? editImage.scenery.base64
            : currentGroupInfo.groupDetail.groupThemeImgUrl
        "
        (error)="sceneryError()"
        *ngIf="!uiFlag.hideScenery && uiFlag.editMode !== 'create'"
      />
      <img
        class="info-imgAbs"
        [src]="editImage.scenery.base64 !== null ? editImage.scenery.base64 : ''"
        *ngIf="!uiFlag.hideScenery && uiFlag.editMode === 'create'"
      />
      <div class="flexCenter info-imgEditIcon">
        <i
          class="icon-svg_web-icon_p1_008-edit info-sceneryEditIcon"
          (click)="openImgSelector('scenery')"
          *ngIf="uiFlag.editMode !== 'close'"
        ></i>
      </div>
    </section>
    <section class="info-header info-portalMode">
      <div class="flexCenter info-avatarIcon">
        <div class="info-avatarImg">
          <img
            [src]="
              uiFlag.editMode !== 'close' && editImage.icon.base64 !== null
                ? editImage.icon.base64
                : currentGroupInfo.groupDetail.groupIcon
            "
            (error)="this.currentGroupInfo.groupDetail.groupIcon = '/assets/images/group.jpg'"
            *ngIf="uiFlag.editMode !== 'create'"
          />
          <i
            class="icon-svg_web-icon_p1_059-lock group__lock"
            *ngIf="currentGroupInfo.groupDetail.groupStatus === 6"
          ></i>
          <img
            [src]="
              editImage.icon.base64 !== null ? editImage.icon.base64 : '/assets/images/group.jpg'
            "
            *ngIf="uiFlag.editMode === 'create'"
          />
        </div>
        <div class="info-imgAbs info-imgEditIcon">
          <i
            class="icon-svg_web-icon_p1_008-edit info-avatarEditIcon"
            (click)="openImgSelector('icon')"
            *ngIf="uiFlag.editMode !== 'close'"
          ></i>
        </div>
      </div>
      <div class="info-headerRow">
        <div class="flexRow info-headerTitle">
          <div class="flexRow info-titleText" *ngIf="uiFlag.editMode !== 'create'">
            <div>
              <span
                class="info-parentsName hover__bottom__border"
                (click)="
                  handleNavigation(currentGroupInfo.groupDetail.groupRootInfo[2].brandGroupId)
                "
                *ngIf="
                  currentGroupInfo.groupDetail.groupRootInfo &&
                  currentGroupInfo.groupDetail.groupRootInfo[2]
                "
              >
                {{ currentGroupInfo.groupDetail.groupRootInfo[2].brandName }}\
              </span>
              <span
                class="info-parentsName hover__bottom__border"
                (click)="
                  handleNavigation(currentGroupInfo.groupDetail.groupRootInfo[3].branchGroupId)
                "
                *ngIf="
                  currentGroupInfo.groupDetail.groupRootInfo &&
                  currentGroupInfo.groupDetail.groupRootInfo[3]
                "
              >
                {{ currentGroupInfo.groupDetail.groupRootInfo[3].branchName }}\
              </span>
            </div>
            <span class="info-currentName">
              {{ currentGroupInfo.groupDetail.groupName }}
            </span>
          </div>
          <span
            style="font-weight: bold; font-size: 24px; color: rgba(0, 183, 238, 1)"
            *ngIf="uiFlag.editMode === 'create'"
          >
            {{ 'universal_activityData_create' | translate }}
            {{ uiFlag.createLevel | groupLevelTranslate: currentGroupInfo.brandType | translate }}
          </span>
        </div>
        <div class="flexRow info-headerBtnBar">
          <ng-container *ngIf="uiFlag.editMode !== 'create'">
            <button
              class="info-pageBtn info-primaryBtn"
              [class.can__not__join]="
                uiFlag.isJoinLoading ||
                +currentGroupInfo.commerceInfo.groupAllMemberStatus?.currentAllGroupMembers >=
                  +currentGroupInfo.commerceInfo.groupAllMemberStatus?.maxAllGroupMembers
              "
              (click)="joinGroup()"
              *ngIf="
                (user.joinStatus === 3 || user.joinStatus === 5) &&
                (currentGroupInfo.groupDetail.groupStatus === 1 ||
                  currentGroupInfo.groupDetail.groupStatus === 2) &&
                !currentGroupInfo.commerceInfo.expired
              "
            >
              <ng-container
                *ngIf="
                  +currentGroupInfo.commerceInfo.groupAllMemberStatus?.currentAllGroupMembers <
                  +currentGroupInfo.commerceInfo.groupAllMemberStatus?.maxAllGroupMembers
                "
              >
                <ng-container
                  *ngIf="!uiFlag.isJoinLoading && currentGroupInfo.groupDetail.groupStatus === 1"
                >
                  +{{ 'universal_operating_join' | translate }}
                </ng-container>
                <ng-container
                  *ngIf="!uiFlag.isJoinLoading && currentGroupInfo.groupDetail.groupStatus === 2"
                >
                  +{{ 'universal_group_applicationsForJoin' | translate }}
                </ng-container>
              </ng-container>
              <ng-container
                *ngIf="
                  +currentGroupInfo.commerceInfo.groupAllMemberStatus?.currentAllGroupMembers >=
                  +currentGroupInfo.commerceInfo.groupAllMemberStatus?.maxAllGroupMembers
                "
              >
                {{ 'universal_vocabulary_full' | translate }}
              </ng-container>
              <app-loading-icon
                style="font-size: 8px; pointer-events: none"
                *ngIf="uiFlag.isJoinLoading"
              ></app-loading-icon>
            </button>
            <button
              class="info-pageBtn"
              [class.info-warningBtn]="user.joinStatus === 1"
              [class.info-unattraclyBtn]="user.joinStatus === 2"
              [class.can__not__join]="uiFlag.isJoinLoading"
              (click)="handleJoinGroup(2)"
              *ngIf="
                (user.joinStatus === 1 || user.joinStatus === 2) &&
                !user.isGroupAdmin &&
                currentGroupInfo.groupDetail.groupStatus !== 6 &&
                uiFlag.editMode !== 'create'
              "
            >
              <ng-container *ngIf="!uiFlag.isJoinLoading && user.joinStatus === 1">
                {{ 'universal_group_cancelJoin' | translate }}
              </ng-container>
              <ng-container *ngIf="!uiFlag.isJoinLoading && user.joinStatus === 2">
                {{ 'universal_group_exitGroup' | translate }}
              </ng-container>
              <app-loading-icon
                style="font-size: 8px; pointer-events: none"
                *ngIf="uiFlag.isJoinLoading"
              ></app-loading-icon>
            </button>
            <button
              [title]="'universal_message_sendGroupMessage' | translate"
              (click)="navigateNewMailPage()"
              *ngIf="user.accessRight <= AccessRight.marketing || user.isGroupAdmin"
            >
              <i
                class="icon-svg_web-icon_p1_028-email info-pageBtn info-primaryBtn info-primaryBtnIcon"
              ></i>
            </button>
            <button (click)="getGroupNeedInfo()">
              <i
                class="icon-svg_web-icon_p3_002-right_turn info-pageBtn info-primaryBtn info-primaryBtnIcon"
              ></i>
            </button>
            <button>
              <i
                class="icon-svg_web-icon_p1_013-share info-pageBtn info-primaryBtn info-primaryBtnIcon"
                *ngIf="!uiFlag.portalMode"
                (click)="openShareGroupInfoDialog()"
              ></i>
            </button>
          </ng-container>
        </div>
      </div>
    </section>
    <section class="flexCol info-headerDescriptionBlock info-portalMode">
      <span
        #groupHeaderDescription
        [innerHTML]="currentGroupInfo.groupDetail.groupDesc"
        class="info-headerDescription"
        [class.info-descOverflow]="uiFlag.groupDescOverflow"
        (click)="handleNavigation(currentGroupInfo.groupId)"
        *ngIf="!uiFlag.isLoading && uiFlag.editMode !== 'create'"
      ></span>
      <app-loading-icon *ngIf="uiFlag.isLoading"></app-loading-icon>
    </section>
  </nav>
  <section
    class="flexCol info-pageListBar info-pageListBar-fixed"
    [style.display]="uiFlag.isPreviewMode ? 'none' : ''"
  >
    <div class="info-barLine info-portalMode"></div>
    <div
      class="info-activeBar"
      [style.width]="uiFlag.barWidth + 'px'"
      [style.left]="uiFlag.barPosition + 'px'"
    ></div>
    <div
      class="flexRow info-portalMode"
      style="justify-content: space-between; align-items: center"
    >
      <div #pageListBar class="flexRow">
        <ng-container *ngFor="let _page of childPageList; let _idx = index">
          <ng-container
            *ngIf="
              uiFlag.editMode !== 'create' ||
              (uiFlag.editMode === 'create' && _page === GroupChildPage.groupIntroduction)
            "
          >
            <span
              class="info-childPageTitle main__page__list"
              [class.info-active--color]="uiFlag.currentTagIndex === _idx"
              (click)="handleShowContent($event, _page, _idx)"
              *ngIf="uiFlag.divideIndex === null || _idx < uiFlag.divideIndex"
            >
              <ng-container
                *ngTemplateOutlet="
                  pageNav;
                  context: {
                    pageName: _page
                  }
                "
              ></ng-container>
              <i
                class="icon-svg_web-icon_p1_069-about warn__icon"
                *ngIf="
                  _page === GroupChildPage.commercePlan &&
                  (currentGroupInfo.commerceInfo.expired ||
                    +currentGroupInfo.commerceInfo.commerceStatus !== 1)
                "
              ></i>
            </span>
          </ng-container>
        </ng-container>
      </div>
      <div
        #seeMore
        class="info-childPageTitle info-moreBtn"
        (click)="handleShowMorePageOpt($event)"
        *ngIf="uiFlag.divideIndex !== null && uiFlag.editMode !== 'create'"
      >
        <span
          [class.info-active--color]="
            uiFlag.currentTagIndex >= uiFlag.divideIndex && !uiFlag.showMorePageOpt
          "
        >
          <span style="position: relative">
            {{ 'universal_operating_more' | translate }}
            <i
              style="top: -10px; right: -10px"
              class="icon-svg_web-icon_p1_069-about warn__icon"
              *ngIf="
                currentGroupInfo.groupLevel === 30 &&
                (currentGroupInfo.commerceInfo.expired ||
                  +currentGroupInfo.commerceInfo.commerceStatus !== 1)
              "
            ></i>
          </span>
          <span
            class="info-seeMoreTriangle"
            [class.info-active--color]="
              uiFlag.currentTagIndex >= uiFlag.divideIndex && !uiFlag.showMorePageOpt
            "
            [class.info-openFold]="uiFlag.showMorePageOpt"
          ></span>
        </span>
        <div class="flexCol info-foldList" *ngIf="uiFlag.showMorePageOpt">
          <ng-container *ngFor="let _foldItem of childPageList; let _fIdx = index">
            <div class="info-foldListItem" *ngIf="_fIdx >= uiFlag.divideIndex">
              <span
                [class.info-active--color]="uiFlag.currentTagIndex === _fIdx"
                (click)="handleShowContent($event, _foldItem, _fIdx)"
              >
                <ng-container
                  *ngTemplateOutlet="
                    pageNav;
                    context: {
                      pageName: _foldItem
                    }
                  "
                ></ng-container>
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>

  <article id="main__section" class="info-portalMode flexCol">
    <section
      class="cardSection"
      [style.display]="uiFlag.isPreviewMode ? 'none' : ''"
      *ngIf="
        [
          GroupChildPage.myclassReport,
          GroupChildPage.lifeTracking,
          GroupChildPage.cloudrunReport,
          GroupChildPage.deviceList
        ].includes(uiFlag.currentPage)
      "
    >
      <app-report-filter></app-report-filter>
    </section>
    <ng-container *ngIf="currentGroupInfo.groupDetail?.groupId">
      <router-outlet></router-outlet>
    </ng-container>
  </article>

  <section
    class="flexCenter info-editMask"
    *ngIf="
      uiFlag.editMode !== 'close' && (uiFlag.openSceneryImgSelector || uiFlag.openIconImgSelector)
    "
  >
    <div class="imgSelector">
      <app-image-cropper
        [imgInputEvent]="
          uiFlag.openIconImgSelector ? editImage.icon.origin : editImage.scenery.origin
        "
        [albumType]="uiFlag.openIconImgSelector ? 11 : 12"
        (closeSelector)="closeSelector($event)"
      ></app-image-cropper>
    </div>
  </section>
</div>

<ng-template #pageNav let-pageName="pageName">
  <ng-container [ngSwitch]="pageName">
    <ng-container *ngSwitchCase="GroupChildPage.groupIntroduction">
      {{ 'universal_deviceSetting_adout' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.myclassReport">
      {{ 'universal_userProfile_personal' | translate }}
      {{ 'universal_group_classReport' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.classAnalysis">
      {{ 'universal_group_group' | translate }}
      {{ 'universal_group_classReport' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.sportsReport">
      {{ 'universal_activityData_sportReport' | translate }}
    </ng-container>
    <!-- 531 -->
    <ng-container *ngSwitchCase="GroupChildPage.exerciseHabits">
      {{ '531' }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.lifeTracking">
      {{ 'universal_lifeTracking_lifeTracking' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.cloudrunReport"> Cloud run </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.memberList">
      {{ 'universal_group_member' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.groupArchitecture">
      {{ 'universal_group_layer' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.commercePlan">
      {{ 'universal_group_program' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.adminList">
      {{ 'universal_group_administrator' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.deviceList">
      {{ 'universal_deviceSetting_deviceManagement' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="GroupChildPage.operationReport">
      {{ 'universal_group_analysisReport' | translate }}
    </ng-container>
  </ng-container>
</ng-template>

<app-share-box
  [title]="share.title"
  [link]="share.link"
  (closeBox)="closeSharedBox()"
  *ngIf="uiFlag.displayShareBox"
></app-share-box>
