@import "font.scss";
@import "transition.scss";
@import "rotate.scss";
@import "flex-center.scss";

$page-title-colr: rgba(120, 120, 120, 1);
$group-btn-gray: rgba(160, 160, 160, 1);
$warn-color: rgba(255, 75, 75, 1);
$group-btn-blue: rgba(0, 183, 238, 1);
$parents__group__color: rgba(150, 150, 150, 1);
$edit__icon__size: 30px;


#scenery__section {
  position: relative;
  width: 100%;
  height: 373px;
  background-image: linear-gradient(0deg, #ffffff 0%, #bcbcbc 100%);
}

.group__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#main__section {
  min-height: 600px;
}

.card__section {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: rgba(240, 240, 240, 1);
}

.group__icon {
  position: absolute;
  width: 150px;
  z-index: 2;
  top: 250px;
  left: 50px;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;

  &::after {
    padding-bottom: 100%;
    display: block;
    content: "";
  }

  img, > i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto 0;
    color: red;
    font-size: 120px;
    @include center();
  }

}

.main__image {
  position: relative;
}

#eidt__mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 110vw;
  height: 110vh;
  top: -5vh;
  left: -5vw;
  z-index: 11;
}

.img__edit__icon {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  @include center();
}

.clickable {
  cursor: pointer;
}

.unClickable {
  pointer-events: none;
}

.img__selector {
  position: fixed;
  background-color: white;
  border-radius: 3px;
  margin: 0 10px;
  padding: 0 10px 10px 10px;
  min-width: 250px;
  min-height: 250px;
  max-width: 700px;
}

.absolute__center {
  position: absolute;
  width: 100%;
  height: 100%;
}

.group__all__branch {
  align-items: flex-end;
  color: $parents__group__color;
  font-size: 20px;
  white-space: nowrap;
  margin-left: calc(120px + 5vw);
}

.group__name {
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: flex-end;
}

.group__parents__name {
  font-size: 14px;
  line-height: normal;
}

.group__header__description {
  display: inline-block;
  color: rgba(120, 120, 120, 1);
  font-size: 14px;
  margin: 10px 0 10px 30px;
  max-width: 900px;
  pointer-events: none;
  padding-right: 40px;
}

.group__desc__overflow {
  position: relative;
  pointer-events: initial;
  cursor: pointer;
  max-height: 45px;
  overflow: hidden;

  &:after {
    content: '... more >';
    position: absolute;
    right: 0;
    top: 21px;
    z-index: 1;
    background-color: white;
    padding: 0 20px;
  }

}

.hover__bottom__border {
  
  &:hover {
    border-bottom: 1px solid $parents__group__color;
  }

}

.page__list__bar {
  width: 100%;
  margin: 10px 0px;
}

.icon--rotate {
  @include el-rotate(180deg);
}

.group__page__btn {
  border: 0px solid;
  border-radius: 3px;
  color: white;
  margin: 5px;
  padding: 2px 10px;
  white-space: nowrap;
  @include transition(opacity);

  &:hover {
    opacity: 0.8;
    @include transition(opacity);
  }

}

.primary__btn {
  background-color: $group-btn-blue;
  @include transition(opacity);

  &:hover {
    opacity: 0.8;
    @include transition(opacity);
  }

}

.warning__btn {
  background-color: $warn-color;
}

.unattracly__btn {
  background-color:$group-btn-gray;
}

.can__not__join {
  background-color: $group-btn-gray;
  pointer-events: none;
}

.child__page__title {
  position: relative;
  padding: 10px 15px;
  color:$page-title-colr;
  cursor: pointer;
  white-space: nowrap;
  @include bold-font(16px);

  &:hover {
    background-color: rgba(245, 245, 245, 1);
  }

}

.see__more__triangle {

  &:after {
    content: '';
    display: inline-block;
    position: relative;
    left: 5px;
    border-style: solid;
    border-width: 14px 7px 0px 7px;
    border-color: $page-title-colr transparent transparent transparent;
    @include transition(transform);
  }

}

#fold__list {
  align-items: center;
  position: absolute;
  top: 44px;
  background-color: white;
  z-index: 1;
  padding: 0 10px;
  border: 1px solid gray;
}

.fold__list__item {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  
  &:not(:last-child) {
    border-bottom: 1px solid gray;;
  }

  & span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    @include transition(background-color);

    &:hover {
      background-color: $group-btn-blue;
      color: white;
      @include transition(background-color);
    }

  }

}

#active__bar {
  position: relative;
  border-top: 3px solid $group-btn-blue;
  @include transition(left);
}

.active--color {
  color: $group-btn-blue;

  &:after {
    border-color: $group-btn-blue transparent transparent transparent;
  }
  
}

.warn__icon {
  font-size: 24px;
  color: $warn-color;
  position: absolute;
  top: 1px;
  right: 2px;
}

.open__fold {

  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }
  
}

.portal__mode {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
}

.group__lock {
  font-size: 50px;
  color: red;
  left: 3px;
  display: flex;
  align-items: center;
  border: 3px solid red;
  border-radius: 50%;
  width: 55px;
}


/*********************************** media *****************************/


@media (max-width: 1199px) {

  #scenery__section {
    height: 313px;
  }

  .group__icon {
    top: 190px;
  }

}

@media (max-width: 991px) {

  #scenery__section {
    height: 233px;
  }

  .group__icon {
    top: 110px;
  }

}

@media (max-width: 767px) {
  .group__header {
    flex-direction: column;
    align-items: center;
  }

  .group__all__branch {
    margin: 20px 0 10px 0;
  }

  .main__image, .main__image img, .info__sidebar {
    width: 100%;
  }

  .main__image {
    max-height: calc(100vw / 3.5 + 70px);
  }

  #scenery__section {
    height: 173px;
  }

  .group__icon {
    left: initial;
    top: 65px;
    width: 130px;
    height: 130px;
  }

  .scenery__edit__icon {
    top: 20px;
    right: 20px;
  }

}

@media (max-width: 575px) {

  #scenery__section {
    height: 173px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    & img {
      height: 173px;
      min-width: 520px;
    }

  }

  .group__name {
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 340px) {
  .child__page__card {
    padding: 10px 2px;
  }

}
