$group-btn-gray: rgba(160, 160, 160, 1);
$warn-color: rgba(255, 75, 75, 1);
$parents-group-color: rgba(150, 150, 150, 1);

#main__section {
  min-height: 600px;
}

.clickable {
  cursor: pointer;
}

.unClickable {
  pointer-events: none;
}

.hover__bottom__border {
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $parents-group-color;
  }

}

.can__not__join {
  background-color: $group-btn-gray;
  pointer-events: none;
}

.warn__icon {
  font-size: 24px;
  color: $warn-color;
  position: absolute;
  top: 1px;
  right: 2px;
}

.group__lock {
  font-size: 50px;
  color: red;
  left: 3px;
  display: flex;
  align-items: center;
  border: 3px solid red;
  border-radius: 50%;
  width: 55px;
}
