/**
  * 此scss檔案為群組子頁面共用樣式
  */


@import "font.scss";
@import "transition.scss";

$warn-color: rgba(255, 75, 75, 1);
$group-btn-blue: rgba(0, 183, 238, 1);


.child__page__btn {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: white;
  font-size: 14px;
  margin: 0 5px;
  @include transition(background-color);

  &:hover {
    background-color: rgba(245, 245, 245, 1);
    @include transition(background-color);
  }

}

.child__page__card {
  background-color: var(--scale-255-0);
  border: 1px solid rgba(200, 200, 200, 1);
  padding: 10px;
  margin-bottom: 10px;
}

.group__blue__label {
  color: $group-btn-blue;
  font-weight: bold;
}

.edit__mode__btn {
  background-color: rgba(255, 75, 75, 1) !important;
  color: white !important;
  @include transition(background-color);
}

.btn__loading__status {
  background-color: rgba(200, 200, 200, 1) !important;
  color: black !important;
  cursor: progress;
  pointer-events: none;
  @include transition(background-color)
}

.group-icon {
  font-size: 25px;
  margin-left: 10px;
}

.warn__text {
  font-size: 14px;
  color: $warn-color;
}

.candidate-label {
  display: inline-block;
  margin: 0 10px 10px 0;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  padding: 3px 5px;
}

.architecture__section {
  margin: 10px 0;
}

.group__list__content {
  margin: 5px;
}

.content__subtitle {
  @include subtitle-or-focus(18px);
  margin-bottom: 15px;
}
  


/******************************** 我的報告和課程分析共用樣式(命名待重構) ***************************************/

.activity-title {
  border-bottom: 2px #e5e5e5 solid;
}

.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectArea {
  display: flex;
  flex-direction: row;
}

.sportCategory {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.datetimeInput {
  display: flex;
  flex-direction: row;
}

.unClickable {
  pointer-events: none;
}

.whiteMask {
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.reprotHeadArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.brandName {
  font-size: 30px;
  font-weight: bold;
}

.reportName {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: gray;
  font-weight: bold;
}

::ng-deep .activity-Link {
  color: #54b9e7;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

::ng-deep .fileAmount {
  color: red;
}

.activity-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

.sepLine {
  border-left: 1px solid #e0e0e0;
  height: 40px;
  margin-top: 10px;
}

.sportEfficiencyArea {
  display: flex;
  flex-direction: row;
}

.other-info--area {
  position: absolute;
  width: 100%;
  background-color: #EDEDED;
  padding: 10px 5px;
  left: 0;
  font-size: 16px;
  color: #909090;
}

.otherInfoArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sportEfficiency {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #646464;
  font-weight: bold;
}

.HRZone {
  padding-right: 2px;
  border-right: 2px #e5e5e5 solid;
  width: 50%;
}

.bodyQuality {
  margin-left: 2px;
  width: 50%;
}

.groupPagePhoto {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.groupPagePhoto img {
  width: 100%;
  height: auto;
}

.otherInfoSection {
  display: flex;
  flex-direction: column;
  margin:5px;
  padding: 0 10px;
  min-width: 29%;
  max-width: 350px;
}

.introductionName {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.class__analysis__footer {
  flex-wrap: wrap;
}

.matTable {
  background-color: var(--scale-255-20);
}

.tableTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tableTitleWord {
  color: var(--scale-115-215);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.tableArrangement {

  .visualizeData {
    height: 40px;
    background-color: rgba(0, 167, 251, 0.18);
    position: absolute;
  }

  .setIn {
    display: flex;
    margin: 0 auto;
    z-index: 3;
  }

}

.tableData {
  display: flex;
}

.analysisTable {
  margin-left: 20px;
}

.fixPlace {
  position: relative;
  right: 10px;
}

.regulatePosition {
  width: 20px;
}

.chartTitleUnit {
  color:#919191;
}

.tableContent {
  font-weight: bold;
  color: var(--scale-115-215);
  position: relative;
}

.tableRow {
  cursor: pointer;
  border-top: 1px solid var(--tab-border);
  @include transition(background-color);

  &:hover {
    background-color: var(--scale-240-45);
    @include transition(background-color);
  }

}

.upArrow, .downArrow, .lockIcon {
  font-size: 20px;
  font-weight: bold;
}

.upArrow {
  color: #ff4cd7;
}

.downArrow {
  color: #00baff;
}

.seeMoreLink {
  color: #157fcc;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.tableAnalysisIcon {
  font-size: 20px;
}

.tableMenu {
  position: fixed;
  z-index: 5;
  background-color: var(--scale-255-60);
  box-shadow: grey;
  width: fit-content;
  border: 1px solid #dedede;
  box-shadow: 3px 3px grey;
  width: 250px;
}

.tableMenuTitle {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: var(--003c67-0096ff);
}

.analysisMenu {
  position: absolute;
  right: 0px;
  top: 40px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.tableListSection {
  padding: 5px;
  border: 1px solid #bcbcbc;
  height: 150px;
  overflow-y: scroll;
  background-color: var(--scale-255-90);

  div {
    white-space: pre-wrap;
    font-size: 10px;

    span {
      display: inline-block;
      background-color: #dedede;
      border-radius: 5px;
      font-weight: bold;
      margin: 3px;
      cursor: pointer;
    }

  }

}

.tableMenuList {
  margin: 2px;
  padding: 5px 20px 5px 10px;
  color: var(--scale-100-255);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: #26abe3;
  }
}

.reportCheckBox {
  color: var(--scale-0-255);
}

.reportCheckBox--disable {
  pointer-events: none;
  color: var(--scale-200-130);
}

.parentsName {
  text-align: start;
  font-size: 10px;
  color: var(--scale-200-130);
}

::ng-deep.tableCheckbox .mat-checkbox-checked.mat-primary .mat-checkbox-background,
.tableCheckbox .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #26abe3 !important;
}

mat-header-cell:first-child, mat-cell:first-child, mat-footer-cell:first-child {
  padding-left: 0px !important;
}

mat-header-cell:last-child, mat-cell:last-child, mat-footer-cell:last-child {
  padding-right: 0px !important;
}


/**************************************** media *********************************/

@media (max-width: 470px) {
  .sportEfficiencyArea {
    flex-direction: column;
  }

  .HRZone {
    border-right: none;
    width: 100%;
  }

  .bodyQuality {
    width: 100%;
  }

  .hideColumn {
    display: none;
  }
}


@media (max-width: 410px) {
  .class__analysis__footer {
    flex-direction: column;
    align-items: center;
  }
}

/***********************************************************************/