@import "font.scss";
@import "transition.scss";
@import "rotate.scss";

$page-title-colr: rgba(120, 120, 120, 1);
$group-btn-blue: rgba(0, 183, 238, 1);

.group__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.group__icon {
  position: absolute;
  width: calc(100vw / 6);
  max-width: 150px;
  z-index: 2;
  top: calc(30px + 4vw);
  left: calc(20px);
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;

  &::after {
    padding-bottom: 100%;
    display: block;
    content: "";
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto 0;
  }

}

.main__image {
  position: relative;
}

.group__all__branch {
  align-items: flex-end;
  color: rgba(150, 150, 150, 1);
  font-size: 20px;
  white-space: nowrap;
  margin-left: calc(120px + 5vw);
}

.group__name {
  font-size: 14px;
}

.icon--rotate {
  @include el-rotate(180deg);
}

.group__page__btn {
  border: 0px solid;
  border-radius: 3px;
  color: white;
  margin: 5px;
  padding: 2px 10px;
  white-space: nowrap;
}

.primary__btn {
  background-color: $group-btn-blue;
}

.warning__btn {
  background-color: rgba(255, 75, 75, 1);
}

.unattracly__btn {
  background-color: rgba(160, 160, 160, 1);
}

.child__page__title {
  padding: 10px 15px;
  color:$page-title-colr;
  cursor: pointer;
  white-space: nowrap;
  @include bold-font(16px);

  &:hover {
    background-color: rgba(245, 245, 245, 1);
  }

}

.see__more__triangle {

  &:after {
    content: '';
    display: inline-block;
    position: relative;
    left: 5px;
    border-style: solid;
    border-width: 14px 7px 0px 7px;
    border-color: $page-title-colr transparent transparent transparent;
    @include transition(transform);
  }

}

#fold__list {
  align-items: center;
  position: absolute;
  top: 44px;
  background-color: white;
  z-index: 1;
  padding: 0 10px;
  border: 1px solid gray;
}

.fold__list__item {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  
  &:not(:last-child) {
    border-bottom: 1px solid gray;;
  }

  & span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    @include transition(background-color);

    &:hover {
      background-color: $group-btn-blue;
      color: white;
      @include transition(background-color);
    }

  }

}

#active__bar {
  position: relative;
  border-top: 3px solid $group-btn-blue;
  @include transition(left);
}

.active--color {
  color: $group-btn-blue;

  &:after {
    border-color: $group-btn-blue transparent transparent transparent;
  }
  
}

.open__fold {

  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }
  
}

.child__page__btn {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: white;
  font-size: 14px;
}


/*********************************** media *****************************/

@media (max-width: 768px) {
  .group__header {
    flex-direction: column;
    align-items: flex-end;
  }

  .main__image, .main__image img, .info__sidebar {
    width: 100%;
  }

  .main__image {
    max-height: calc(100vw / 3.5 + 70px);
  }

}

@media (max-width: 450px) {
  .group__icon {
    top: 30px;
  }

}
