<div style="position: relative;" class="flexCol" [style.top]="uiFlag.portalMode ? '-63px' : '0'">
  <nav
    #navSection
    class="flexCol"
    style="position: relative;"
    [style.display]="uiFlag.isPreviewMode ? 'none' : ''"
  >
    <section
      id="scenery__section"
      style="background-size: cover;"
      [style.background-image]="uiFlag.portalMode && currentGroupInfo.groupDetail.groupThemeImgUrl ? 'url(' + currentGroupInfo.groupDetail.groupThemeImgUrl + ')' : ''"
    >
      <img
        style="position: absolute; width: 100%; height: 100%;"
        [src]="uiFlag.editMode !== 'close' && editImage.scenery.base64 !== null ? editImage.scenery.base64 : currentGroupInfo.groupDetail.groupThemeImgUrl"
        (error)="sceneryError()"
        *ngIf="(!uiFlag.portalMode || currentGroupInfo.groupDetail.groupThemeImgUrl === undefined) && !uiFlag.hideScenery && uiFlag.editMode !== 'create'"
      />
      <img
        style="position: absolute; width: 100%; height: 100%;"
        [src]="editImage.scenery.base64 !== null ? editImage.scenery.base64 : ''"
        *ngIf="!uiFlag.hideScenery && uiFlag.editMode === 'create'"
      />
      <div class="flexCenter absolute__center">
        <i
          class="icon-svg_web-icon_p1_008-edit img__edit__icon scenery__edit__icon"
          (click)="openImgSelector('scenery')"
          *ngIf="uiFlag.editMode !== 'close'"
        ></i>
      </div>
    </section>
    <section class="group__header" [class.portal__mode]="uiFlag.portalMode">
      <div class="group__icon" [style.left]="uiFlag.portalMode ? 'initial' : '50px'">
        <img
          [src]="uiFlag.editMode !== 'close' && editImage.icon.base64 !== null ? editImage.icon.base64 : currentGroupInfo.groupDetail.groupIcon"
          (error)="this.currentGroupInfo.groupDetail.groupIcon = '/assets/images/group.jpg'"
          *ngIf="uiFlag.editMode !== 'create'"
        />
        <i class="icon-svg_web-icon_p1_059-lock group__lock" *ngIf="currentGroupInfo.groupDetail.groupStatus === 6"></i>
        <img
          [src]="editImage.icon.base64 !== null ? editImage.icon.base64 : '/assets/images/group.jpg'"
          *ngIf="uiFlag.editMode === 'create'"
        />
        <div class="flexCenter absolute__center">
          <i
            class="icon-svg_web-icon_p1_008-edit img__edit__icon"
            (click)="openImgSelector('icon')"
            *ngIf="uiFlag.editMode !== 'close'"
          ></i>
        </div>
      </div>
      <div class="flexRow group__all__branch" style="flex-wrap: wrap; justify-content: flex-end;">
        <div class="flexRow group__name" *ngIf="uiFlag.editMode !== 'create'">
          <div>
            <span
              style="cursor: pointer;"
              class="group__parents__name hover__bottom__border"
              (click)="handleNavigation(currentGroupInfo.groupDetail.groupRootInfo[2].brandGroupId)"
              *ngIf="currentGroupInfo.groupDetail.groupRootInfo && currentGroupInfo.groupDetail.groupRootInfo[2]"
            >
              {{ currentGroupInfo.groupDetail.groupRootInfo[2].brandName }}\
            </span>
            <span
              style="cursor: pointer;"
              class="group__parents__name hover__bottom__border"
              (click)="handleNavigation(currentGroupInfo.groupDetail.groupRootInfo[3].branchGroupId)"
              *ngIf="currentGroupInfo.groupDetail.groupRootInfo && currentGroupInfo.groupDetail.groupRootInfo[3]"
            >
              {{ currentGroupInfo.groupDetail.groupRootInfo[3].branchName }}\
            </span>
          </div>
          <span style="font-size: 24px; font-weight: bold; color: black; line-height: normal;">
            {{ currentGroupInfo.groupDetail.groupName }}
          </span>
        </div>
        <span style="font-weight: bold; font-size: 24px; color: rgba(0, 183, 238, 1);" *ngIf="uiFlag.editMode === 'create'">
          {{
            'universal_activityData_create' | translate
          }} {{
            uiFlag.createLevel | groupLevelTranslate: currentGroupInfo.brandType | translate
          }}
        </span>
      </div>
      <div class="flexRow" style="align-items: center;">
        <ng-container *ngIf="uiFlag.editMode !== 'create'">
          <button
            class="group__page__btn primary__btn"
            [class.can__not__join]="uiFlag.isJoinLoading"
            *ngIf="
              (user.joinStatus === 3 || user.joinStatus === 5)
              && (currentGroupInfo.groupDetail.groupStatus === 1 || currentGroupInfo.groupDetail.groupStatus === 2)
              && !currentGroupInfo.commerceInfo.expired
              && +currentGroupInfo.commerceInfo.groupMemberStatus.currentGroupMembers < +currentGroupInfo.commerceInfo.groupMemberStatus.maxGroupMembers
            "
          >
            <span
              *ngIf="!uiFlag.isJoinLoading && currentGroupInfo.groupDetail.groupStatus === 1; else loading;"
              (click)="joinGroup(1)"
            >
              +{{ 'universal_operating_join' | translate }}
            </span>
            <span
              *ngIf="!uiFlag.isJoinLoading && currentGroupInfo.groupDetail.groupStatus === 2; else loading;"
              (click)="joinGroup(1)"
            >
              +{{ 'universal_group_applicationsForJoin' | translate }}
            </span>
          </button>
          <button
            class="group__page__btn"
            [class.warning__btn]="user.joinStatus === 1"
            [class.unattracly__btn]="user.joinStatus === 2"
            [class.can__not__join]="uiFlag.isJoinLoading"
            *ngIf="
              ((user.joinStatus === 1 || user.joinStatus === 2) && !user.isGroupAdmin)
              && currentGroupInfo.groupDetail.groupStatus !== 6
              && uiFlag.editMode !== 'create'
            "
          >
            <span *ngIf="!uiFlag.isJoinLoading && user.joinStatus === 1; else loading;" (click)="handleJoinGroup(2)">
              {{ 'universal_group_cancelJoin' | translate }}
            </span>
            <span *ngIf="!uiFlag.isJoinLoading && user.joinStatus === 2; else loading;" (click)="handleJoinGroup(2)">
              {{ 'universal_group_exitGroup' | translate }}
            </span>
          </button>
          <ng-template #loading>
            <app-loading-icon style="font-size: 8px; pointer-events: none;" *ngIf="uiFlag.isJoinLoading"></app-loading-icon>
          </ng-template>
          <i
            class="icon-svg_web-icon_p1_013-share group__page__btn primary__btn"
            style="color: white; font-size: 24px; padding: 2px; cursor: pointer;"
            *ngIf="!uiFlag.portalMode"
            (click)="openShareGroupInfoDialog()"
          ></i>
        </ng-container>
      </div>
    </section>
    <section [class.portal__mode]="uiFlag.portalMode">
      <span
        #groupHeaderDescription
        [innerHTML]="currentGroupInfo.groupDetail.groupDesc"
        class="group__header__description"
        [class.group__desc__overflow]="uiFlag.groupDescOverflow"
        (click)="handleNavigation(currentGroupInfo.groupId)"
        *ngIf="!uiFlag.isLoading && uiFlag.editMode !== 'create'"
      ></span>
      <app-loading-icon *ngIf="uiFlag.isLoading"
      ></app-loading-icon>
    </section>
    <section #pageListBar class="flexCol page__list__bar" [class.portal__mode]="uiFlag.portalMode">
      <div style="border-top: 2px solid rgba(200, 200, 200, 1); width: 100%;"></div>
      <div
        id="active__bar"
        [style.width]="uiFlag.barWidth + 'px'"
        [style.left]="uiFlag.barPosition + 'px'"
      ></div>
      <div class="flexRow" style="justify-content: space-between; align-items: center;">
        <div class="flexRow">
          <ng-container *ngFor="let _page of childPageList; let _idx = index;">
            <ng-container *ngIf="uiFlag.editMode !== 'create' || (uiFlag.editMode === 'create' && _page === 'group-introduction')">
              <span 
                class="child__page__title main__page__list"
                [class.active--color]="uiFlag.currentTagIndex === _idx"
                (click)="handleShowContent($event, _page, _idx)"
                *ngIf="uiFlag.divideIndex === null || _idx < uiFlag.divideIndex"
              >
                <ng-container *ngIf="_page === 'group-introduction'">
                  {{ 'universal_deviceSetting_adout' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'myclass-report'">
                  {{ 'universal_userProfile_personal' | translate }} {{ 'universal_group_classReport' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'class-analysis'">
                  {{ 'universal_group_group' | translate }} {{ 'universal_group_classReport' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'sports-report'">
                  {{ 'universal_activityData_sportReport' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'life-tracking'">
                  {{ 'universal_lifeTracking_lifeTracking' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'cloudrun-report'">
                  Cloud run
                </ng-container>
                <ng-container *ngIf="_page === 'member-list'">
                  {{ 'universal_group_member' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'group-architecture'">
                  {{ 'universal_group_layer' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'commerce-plan'">
                  {{ 'universal_group_program' | translate }}
                </ng-container>
                <ng-container *ngIf="_page === 'admin-list'">
                  {{ 'universal_group_administrator' | translate }}
                </ng-container>
                <i
                  class="icon-svg_web-icon_p1_069-about warn__icon"
                  *ngIf="_page === 'commerce-plan' && (currentGroupInfo.groupDetail.expired || +currentGroupInfo.commerceInfo.commerceStatus !== 1)"
                ></i>
              </span>
            </ng-container>
          </ng-container>
        </div>
        <div
          #seeMore
          style="position: relative; display: flex; justify-content: flex-end;"
          class="child__page__title"
          (click)="handleShowMorePageOpt($event)"
          *ngIf="uiFlag.divideIndex !== null && uiFlag.editMode !== 'create'"
        >
          <span [class.active--color]="uiFlag.currentTagIndex >= uiFlag.divideIndex && !uiFlag.showMorePageOpt">
            <span style="position: relative;">
              {{ 'universal_operating_more' | translate }}
              <i
                style="top: -10px; right: -10px;"
                class="icon-svg_web-icon_p1_069-about warn__icon"
                *ngIf="
                  currentGroupInfo.groupLevel === 30
                  && (currentGroupInfo.groupDetail.expired || +currentGroupInfo.commerceInfo.commerceStatus !== 1)
                "
              ></i>
            </span>
            <span
              class="see__more__triangle"
              [class.active--color]="uiFlag.currentTagIndex >= uiFlag.divideIndex && !uiFlag.showMorePageOpt"
              [class.open__fold]="uiFlag.showMorePageOpt"
            ></span>
          </span>
          <div
            id="fold__list"
            class="flexCol"
            *ngIf="uiFlag.showMorePageOpt"
          >
            <ng-container *ngFor="let _foldItem of childPageList; let _fIdx = index;">
              <div
                class="fold__list__item"
                *ngIf="_fIdx >= uiFlag.divideIndex"
              >
                <span
                  [class.active--color]="uiFlag.currentTagIndex === (_fIdx)"
                  (click)="handleShowContent($event, _foldItem, _fIdx)"
                >
                  <ng-container *ngIf="_foldItem === 'group-introduction'">
                    {{ 'universal_deviceSetting_adout' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'myclass-report'">
                    {{ 'universal_userProfile_personal' | translate }} {{ 'universal_group_classReport' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'class-analysis'">
                    {{ 'universal_group_group' | translate }} {{ 'universal_group_classReport' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'sports-report'">
                    {{ 'universal_activityData_sportReport' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'life-tracking'">
                    {{ 'universal_lifeTracking_lifeTracking' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'cloudrun-report'">
                    Cloud run
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'member-list'">
                    {{ 'universal_group_member' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'group-architecture'">
                    {{ 'universal_group_layer' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'commerce-plan'">
                    {{ 'universal_group_program' | translate }}
                  </ng-container>
                  <ng-container *ngIf="_foldItem === 'admin-list'">
                    {{ 'universal_group_administrator' | translate }}
                  </ng-container>
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </nav>
  <section
    class="card__section"
    [style.display]="uiFlag.isPreviewMode ? 'none' : ''"
    *ngIf="
      uiFlag.currentPage === 'myclass-report'
      || uiFlag.currentPage === 'sports-report'
      || uiFlag.currentPage === 'life-tracking'
      || uiFlag.currentPage === 'cloudrun-report'
    "
  >
    <app-report-filter></app-report-filter>
  </section>
  <main id="main__section" class="card__section" [class.portal__mode]="uiFlag.portalMode">
    <router-outlet></router-outlet>
  </main>
  <section
    id="eidt__mask"
    class="flexCenter"
    *ngIf="uiFlag.editMode !== 'close' && (uiFlag.openSceneryImgSelector || uiFlag.openIconImgSelector)"
  >
    <div class="img__selector">
      <app-image-cropper
        [imgInputEvent]="uiFlag.openIconImgSelector ? editImage.icon.origin : editImage.scenery.origin"
        [albumType]="uiFlag.openIconImgSelector ? 11 : 12"
        (closeSelector)="closeSelector($event)"
      ></app-image-cropper>
    </div>
  </section>
</div>