@import 'transform.scss';
@import 'font.scss';

$report-border-color: rgba(200, 200, 200, 1);
$report-background-color: rgba(250, 250, 250, 1);

.report__article {
  width: calc(100% - 8rem);
}

.tab__bar {
  @include el-transform(translateY(2px));
}

.report__type__tab {
  $border-radius: 15px;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-radius: $border-radius $border-radius 0 0;
  border: 1px solid $report-border-color;
  min-width: 90px;
  min-height: 40px;
  color: rgba(100, 100, 100, 1);
  width: calc(100% / 3);
}

.report__type__tab--active {
  @include bold-font(1.5rem);
  color: black;
  background-color: $report-background-color;
  border-bottom: none;

  > .tab__icon {
    font-size: 1.7rem;
  }
}

.tab__icon {
  font-size: 1.4rem;
}

.report__content {
  background-color: $report-background-color;
  padding: 1rem 1rem 10rem 1rem;
  border: 1px solid $report-border-color;
}

.creation__time {
  text-align: right;
  font-size: 0.9rem;
  color: rgba(150, 150, 150, 1);
  margin: 0;
}

/******************************** media ********************************/

@media (max-width: 767px) {
  .report__article {
    width: 100%;
  }

  .pie__chart__area {
    flex-direction: column;
  }

  .one__pie__chart {
    width: 100%;
  }
}
