<ng-container *ngIf="!pcView">
  <!--
  <app-loading-bar [progress]="uiFlag.progress"></app-loading-bar>
  -->
  <nav>
    <button
      class="flexRow appview-backButton"
      (click)="turnBack()"
    >
      <i class="icon-svg_web-icon_p1_016-back"></i>
      <span>{{ 'universal_operating_back' | translate }}</span>
    </button>
  </nav>
  <main class="appview-whiteText">
    <div class="flexCol appview-contentArea">
      <h4
        [ngClass]="{
          'appview-tftPageTitle': !mobileSize,
          'appview-mobilePageTitle': mobileSize
        }"
      >
        QR Code {{ 'universal_userAccount_logIn' | translate }}
      </h4>
      <div class="flexCol" style="margin: 0 auto;">
        <ng-container *ngIf="displayPage === 'login'">
          <p class="check__text">
            {{ 'universal_userAccount_unknownDevice' | translate }}
          </p>
          <div class="flexCol appview-contentDetail">
            <div class="avatar-wrapper">
              <img
                [src]="(userInfo.icon | safeHtml)"
                (error)="this.userInfo.icon='/assets/images/user2.png';"
                *ngIf="userInfo"
              >
            </div>
            <p class="user__name">
              {{ userInfo.name }}
            </p>
          </div>
          <div class="appview-buttonArea">
            <button
              class="appview-submitButton appview-center"
              [class.appview-unclickable]="qrLoginStatus === 'logging' || qrLoginStatus === 'success'"
              (click)="qrcodeLogin()"
            >
              <span *ngIf="qrLoginStatus !== 'success'">
                {{ 'universal_userAccount_logIn' | translate }}
              </span>
              <span *ngIf="qrLoginStatus === 'success'">
                {{ 'universal_userAccount_signSuceesfully' | translate }}
              </span>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="displayPage === 'showQrcode'">
          <img *ngTemplateOutlet="alatechLogo">
          <qrcode [qrdata]="qrURL" size="128" level="'M'" *ngIf="cue === ''"></qrcode>
          <p
            *ngIf="cue !== ''"
            style="margin: 50px; color: #ff9090; font-size: 20px; font-weight: bold;"
          >
            {{ cue | translate }}
          </p>
          <p class="formTitle scan__text">
            {{ 'universal_userAccount_scanLogin' | translate }}
          </p>
        </ng-container>
      </div>
    </div>
  </main>
  <ng-template #alatechLogo>
    <img 
      src="./assets/ala_logo.svg"
      alt="Alatech Logo"
      class="alatech__logo"
    >
  </ng-template>
</ng-container>

<ng-container *ngIf="pcView">
  <div class="access-bg">
    <div class="container signup" style="padding: 63px 0 70px 0;">
      <div class="d-flex" style="flex-direction: column;align-items: center;;">
        <div class="access-panel" style="margin-top: 30px;">
          <header class="access-header">
            <img src="assets/attacus_logo.png" style="width: 36%">
          </header>
          <div class="access-panel-body">
            <ng-container *ngIf="displayPage === 'showQrcode'">
              <div class="flexCol" style="align-items: center;">
                <qrcode [qrdata]="qrURL" size="128" level="'M'" *ngIf="cue === ''"></qrcode>
                <span *ngIf="cue !== ''" style="margin: 50px; color: #ff9090; font-size: 20px; font-weight: bold;">
                  {{ cue | translate }}
                </span>
                <span class="formTitle" style="margin: 20px;">
                  {{ 'universal_userAccount_scanLogin' | translate }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
