<div class="group-info row">
  <!-- <span class="group-handle-name group-handle-name__rwd">
    {{ 'Dashboard.Group.GroupInfo.groupInfo' | translate}}
  </span> -->
  <div class="col-md-4 group-image--area">
    <img *ngIf="groupImg"
      [src]="(groupImg | safeHtml)"
      [class.image-is--default]="groupImg === '/assets/images/group-default.svg'"
    >
    <ul class="nav">
      <li [class.active]="chooseIdx === 1"
        (click)="handleGroupItem(1)"
      >{{ 'Dashboard.Group.GroupInfo.groupInfo' | translate}}</li>
      <li [class.active]="chooseIdx === 2"
        *ngIf="groupLevel === '30' && visitorDetail?.isCanManage"
        (click)="handleGroupItem(2)"
      >{{ 'Dashboard.BrandManagement.brandManagement' | translate}}</li>
      <li [class.active]="chooseIdx === 3"
        (click)="handleGroupItem(3)"
      >{{ 'Dashboard.privacySettings.set' | translate}}</li>
    </ul>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="chooseIdx === 1">
      <div class="group-edit-bar">
        <span class="group-handle-name">
          {{ 'Dashboard.Group.GroupInfo.groupInfo' | translate}}
        </span>
        <div class="rwd-btn_action">
          <button class="icon-btn" style="margin-right: 15px;color:#919191"
            (click)="openShareGroupInfoDialog()"
            title="{{ 'SH.share' | translate }}"
          >
            <i class="icon-svg_web-icon_p1_013-share"
              style="font-size: 30px"
            ></i>
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{ 'Dashboard.Group.GroupInfo.applicationsForJoin' | translate}}"
            *ngIf="(joinStatus === 5 || joinStatus === 3 ) && (!visitorDetail?.isGroupAdmin || groupLevel === '80')"
            (click)="handleActionGroup(1)"
          >
            {{ 'Dashboard.Group.GroupInfo.applicationsForJoin' | translate}}
          </button>
          <button class="alatech-btn alatech-btn--default group-btn--waiting"
            title="{{'Dashboard.Group.GroupInfo.cancelJoin' | translate}}"
            *ngIf="joinStatus === 1"
            (click)="handleActionGroup(2)"
          >
            {{'Dashboard.Group.GroupInfo.cancelJoin' | translate}}
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'Dashboard.Group.GroupInfo.exitGroup' | translate}}"
            *ngIf="joinStatus === 2 &&
            (!visitorDetail?.isGroupAdmin
            ||
            (groupLevel === '80' && normalGroupAdministrators && normalGroupAdministrators?.length > 1)
            ||
            (groupLevel === '40' && branchAdministrators && branchAdministrators?.length > 1)
            )"
            (click)="handleActionGroup(2)"
          >
            {{'Dashboard.Group.GroupInfo.exitGroup' | translate}}
          </button>
          <button class="alatech-btn alatech-btn--default"
            title="{{'Dashboard.Group.GroupInfo.management' | translate}}"
            *ngIf="visitorDetail?.isCanManage"
            (click)="goEditPage()"
          >
            {{'Dashboard.Group.GroupInfo.management' | translate}}
          </button>
        </div>
      </div>
      <div style="margin-bottom: 30px;">
        <div>
          <label>
            <span *ngIf="groupLevel === '40' || groupLevel === '60'">
              {{groupInfo?.groupRootInfo[2]?.brandName}} -
            </span>
            <span *ngIf="groupLevel === '60'">
              {{groupInfo?.groupRootInfo[3]?.branchName}} -
            </span>
            {{ groupInfo?.groupName }}
          </label>
        </div>
        <!-- <div>
          <label>{{ 'Dashboard.Group.GroupInfo.groupId' | translate}}：</label>{{ group_id }}
        </div> -->
        <div>
          <label>{{ 'Dashboard.Group.GroupInfo.layer' | translate}}：</label>{{ this.groupLevel | groupLevelTranslate | translate }}
          <span *ngIf="groupInfo?.coachType.length > 0 && groupInfo?.coachType === '2'"> - {{'Dashboard.Group.coach' | translate}}</span>
          <span *ngIf="groupInfo?.coachType.length > 0 && groupInfo?.coachType === '1'"> - {{'Dashboard.Group.teacher' | translate}}</span>
        </div>
        <div>
          <label>{{ 'Dashboard.Group.GroupInfo.status' | translate}}：</label>{{ groupInfo?.groupStatus | groupStatus | translate }}
        </div>
        <div>
          <label>{{ 'Dashboard.Group.GroupInfo.introduction' | translate}}：</label>
          <div [innerHTML]="groupInfo?.groupDesc | lineBreak"></div>
        </div>
      </div>
      <div>
        <mat-tab-group (selectedTabChange)="changeGroupInfo($event)" class="ala-tab-group">
          <mat-tab label="{{ 'Dashboard.Group.GroupInfo.subgroup' | translate}}"
            *ngIf="groupLevel !== '80'"
          >
            <ng-container  *ngIf="!isLoading">
              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                {{ 'Dashboard.Group.GroupInfo.brand' | translate}}
              </label>
              <div style="margin-bottom: 15px">
                <span *ngIf="subBrandInfo && subBrandInfo.length === 0">{{'SH.noData' | translate}}</span>
                <ng-container  *ngFor="let subBrandItem of subBrandInfo">
                  <app-member-capsule
                    [role]="role"
                    [isSubGroupInfo]="true"
                    [title]="subBrandItem?.groupName"
                    [memberInfo]="subBrandItem"
                    [name]="subBrandItem && subBrandItem?.groupName"
                    [icon]="subBrandItem?.groupIcon"
                    [groupId]="subBrandItem?.groupId"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>
              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                {{ 'Dashboard.Group.GroupInfo.branch' | translate}}
              </label>
              <div style="margin-bottom: 15px">
                <span *ngIf="subBranchInfo && subBranchInfo.length === 0">{{'SH.noData' | translate}}</span>
                <ng-container  *ngFor="let subBranchItem of subBranchInfo">
                  <app-member-capsule
                    [role]="role"
                    [isSubGroupInfo]="true"
                    [title]="subBranchItem?.groupName"
                    [memberInfo]="subBranchItem"
                    [name]="subBranchItem && subBranchItem?.groupName"
                    [icon]="subBranchItem?.groupIcon"
                    [groupId]="subBranchItem?.groupId"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>

              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                {{ 'Dashboard.Group.GroupInfo.coachingClass' | translate}}
              </label>
              <div style="margin-bottom: 15px" >
                <span *ngIf="subCoachInfo && subCoachInfo.length === 0">{{'SH.noData' | translate}}</span>
                <ng-container  *ngFor="let subCoachItem of subCoachInfo">
                  <app-member-capsule
                    [role]="role"
                    [isSubGroupInfo]="true"
                    [title]="subCoachItem?.groupName"
                    [memberInfo]="subCoachItem"
                    [name]="subCoachItem && subCoachItem?.groupName"
                    [icon]="subCoachItem?.groupIcon"
                    [groupId]="subCoachItem?.groupId"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'Dashboard.Group.GroupInfo.administrator' | translate}}">
            <ng-container *ngIf="!isLoading">
              <ng-container *ngIf="groupLevel && groupLevel !== '80'">
                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                  {{ 'Dashboard.Group.brandAdministrator' | translate}}
                </label>
                <div style="margin-bottom: 15px">
                <span *ngIf="brandAdministrators && brandAdministrators.length === 0">{{'SH.noData' | translate}}</span>
                  <ng-container  *ngFor="let brandAdmItem of brandAdministrators">
                    <app-member-capsule
                      [role]="role"
                      [isAdminInfo]="true"
                      [title]="brandAdmItem?.memberName"
                      [memberInfo]="brandAdmItem"
                      [name]="brandAdmItem && brandAdmItem?.memberName"
                      [icon]="brandAdmItem?.memberIcon"
                      [userId]="brandAdmItem?.memberId"
                    >
                    </app-member-capsule>
                  </ng-container>
                </div>

                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                  {{ 'Dashboard.Group.branchAdministrator' | translate}}
                </label>
                <div style="margin-bottom: 15px">
                  <span *ngIf="branchAdministrators && branchAdministrators.length === 0">{{'SH.noData' | translate}}</span>
                  <ng-container  *ngFor="let branchAdmItem of branchAdministrators">
                    <app-member-capsule
                      [role]="role"
                      [isAdminInfo]="true"
                      [title]="branchAdmItem?.memberName"
                      [memberInfo]="branchAdmItem"
                      [name]="branchAdmItem && branchAdmItem?.memberName"
                      [icon]="branchAdmItem?.memberIcon"
                      [userId]="branchAdmItem?.memberId"
                    >
                    </app-member-capsule>
                  </ng-container>
                </div>
                <ng-container *ngIf="groupLevel !== '60'">
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                    {{ 'Dashboard.Group.GroupInfo.coachingClass' | translate}}
                    {{ 'Dashboard.Group.GroupInfo.administrator' | translate}}
                  </label>
                  <div style="margin-bottom: 15px" >
                    <span *ngIf="coachAdministrators && coachAdministrators.length === 0">{{'SH.noData' | translate}}</span>
                    <ng-container  *ngFor="let coachAdmItem of coachAdministrators">
                      <app-member-capsule
                        [role]="role"
                        [isAdminInfo]="true"
                        [title]="coachAdmItem?.memberName"
                        [memberInfo]="coachAdmItem"
                        [name]="coachAdmItem && coachAdmItem?.memberName"
                        [icon]="coachAdmItem?.memberIcon"
                        [userId]="coachAdmItem?.memberId"
                      >
                      </app-member-capsule>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="groupLevel === '60'">
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                    {{ 'Dashboard.Group.teacher' | translate}}
                  </label>
                  <div style="margin-bottom: 15px" >
                    <span *ngIf="normalCoaches && normalCoaches.length === 0">{{'SH.noData' | translate}}</span>
                    <ng-container  *ngFor="let normalCoachAdmItem of normalCoaches">
                      <app-member-capsule
                        [role]="role"
                        [isAdminInfo]="true"
                        [title]="normalCoachAdmItem?.memberName"
                        [memberInfo]="normalCoachAdmItem"
                        [name]="normalCoachAdmItem && normalCoachAdmItem?.memberName"
                        [icon]="normalCoachAdmItem?.memberIcon"
                        [userId]="normalCoachAdmItem?.memberId"
                      >
                      </app-member-capsule>
                    </ng-container>
                  </div>
                  <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                    {{ 'Dashboard.Group.coach' | translate}}
                  </label>
                  <div style="margin-bottom: 15px" >
                    <span *ngIf="PFCoaches && PFCoaches.length === 0">{{'SH.noData' | translate}}</span>
                    <ng-container  *ngFor="let pfCoachAdmItem of PFCoaches">
                      <app-member-capsule
                        [role]="role"
                        [isAdminInfo]="true"
                        [title]="pfCoachAdmItem?.memberName"
                        [memberInfo]="pfCoachAdmItem"
                        [name]="pfCoachAdmItem && pfCoachAdmItem?.memberName"
                        [icon]="pfCoachAdmItem?.memberIcon"
                        [userId]="pfCoachAdmItem?.memberId"
                      >
                      </app-member-capsule>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="groupLevel && groupLevel === '80'">
                <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">
                  {{ 'Dashboard.Group.GroupInfo.administrator' | translate}}
                </label>
                <div style="margin-bottom: 15px" >
                  <span *ngIf="groupInfos && groupInfos.length === 0">{{'SH.noData' | translate}}</span>
                  <ng-container  *ngFor="let item of groupInfos">
                    <app-member-capsule
                      [role]="role"
                      [isAdminInfo]="true"
                      [title]="item?.memberName"
                      [memberInfo]="item"
                      [name]="item && item?.memberName"
                      [icon]="item?.memberIcon"
                      [userId]="item?.memberId"
                    >
                    </app-member-capsule>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'Dashboard.Group.generalMember' | translate}}">
            <ng-container *ngIf="!isLoading">
              <span *ngIf="normalMemberInfos && normalMemberInfos.length === 0">{{'SH.noData' | translate}}</span>
              <ng-container  *ngFor="let item of normalMemberInfos">
                <div style="margin-bottom: 15px;display:inline-block">
                  <app-member-capsule
                    [role]="role"
                    [isNormalMemberInfo]="true"
                    [title]="item?.memberName"
                    [memberInfo]="item"
                    [name]="item && item?.memberName"
                    [icon]="item?.memberIcon"
                    [userId]="item?.memberId"
                  >
                  </app-member-capsule>
                </div>
              </ng-container>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'Dashboard.Group.GroupInfo.pendingMember' | translate}}">
            <ng-container *ngIf="!isLoading">
              <span *ngIf="groupInfos && groupInfos.length === 0">{{'SH.noData' | translate}}</span>
              <ng-container  *ngFor="let item of groupInfos">
                <div style="margin-bottom: 15px;display:inline-block">
                  <app-member-capsule
                    [role]="role"
                    [isWaittingMemberInfo]="true"
                    [title]="item?.memberName"
                    [memberInfo]="item"
                    [name]="item && item?.memberName"
                    [icon]="item?.memberIcon"
                    [userId]="item?.memberId"
                  >
                  </app-member-capsule>
                </div>
              </ng-container>
            </ng-container>
            <div style="display:flex;justify-content: center;align-items: center;height:100%"
              *ngIf="isLoading"
            >
              <mat-spinner></mat-spinner>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </ng-container>
    <ng-container *ngIf="chooseIdx === 2 && !isCommerceInfoLoading">
      <label  class="group-label">
        {{ 'Dashboard.Group.GroupInfo.brand' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item">{{ 'Dashboard.Group.GroupInfo.status' | translate}}：
          <span *ngIf="commerceInfo?.commerceStatus === '1'">{{ 'Dashboard.BrandManagement.InOperation' | translate}}</span>
          <span *ngIf="commerceInfo?.commerceStatus === '2'">{{ 'Dashboard.BrandManagement.outOfService' | translate}}</span>
          <span *ngIf="commerceInfo?.commerceStatus === '3'">{{ 'Dashboard.BrandManagement.outOfBusiness' | translate}}</span>
          <span *ngIf="commerceInfo?.commerceStatus === '4'">{{ 'Dashboard.BrandManagement.toBeDestroyed' | translate}}</span>
        </div>
      </div>
      <label  class="group-label">
        {{ 'Dashboard.BrandManagement.totalMember' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item"
[class.full]="(+commerceInfo?.groupManagerStatus.currentBrandManagers) +
(+commerceInfo?.groupManagerStatus.currentBranchManagers)
+ (+commerceInfo?.groupManagerStatus.currentFitnessCoaches) + (+commerceInfo?.groupManagerStatus.currentCoaches) +
(+commerceInfo?.groupManagerStatus.currentGeneralGroupManagers) === (+commerceInfo?.groupManagerStatus.maxGroupManagers)"
        >
          {{ 'Dashboard.BrandManagement.numberOfAdministrators' | translate}}：
          {{
            +commerceInfo?.groupManagerStatus.currentBrandManagers + +commerceInfo?.groupManagerStatus.currentBranchManagers
            + +commerceInfo?.groupManagerStatus.currentFitnessCoaches + +commerceInfo?.groupManagerStatus.currentCoaches + +commerceInfo?.groupManagerStatus.currentGeneralGroupManagers
          }}/{{commerceInfo?.groupManagerStatus.maxGroupManagers}}
<span *ngIf="(+commerceInfo?.groupManagerStatus.currentBrandManagers) +
(+commerceInfo?.groupManagerStatus.currentBranchManagers)
+ (+commerceInfo?.groupManagerStatus.currentFitnessCoaches) + (+commerceInfo?.groupManagerStatus.currentCoaches) +
(+commerceInfo?.groupManagerStatus.currentGeneralGroupManagers) === (+commerceInfo?.groupManagerStatus.maxGroupManagers)">
  ({{ 'Dashboard.Group.GroupInfo.groupFull' | translate}})
</span>
        </div>
        <div class="group-list-item"
[class.full]="+commerceInfo?.groupMemberStatus.currentGroupMembers ===
+commerceInfo?.groupMemberStatus.maxGroupMembers"
        >{{ 'Dashboard.BrandManagement.totalNumberPeople' | translate}}：
          {{+commerceInfo?.groupMemberStatus.currentGroupMembers}}/{{+commerceInfo?.groupMemberStatus.maxGroupMembers}}
        <span *ngIf="+commerceInfo?.groupMemberStatus.currentGroupMembers ===
        +commerceInfo?.groupMemberStatus.maxGroupMembers">
          ({{ 'Dashboard.Group.GroupInfo.groupFull' | translate}})
        </span>
        </div>
      </div>
      <label  class="group-label">
        {{ 'Dashboard.BrandManagement.currentPlan' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item">{{ 'Dashboard.BrandManagement.currentPlan' | translate}}：
          <span *ngIf="commerceInfo?.commercePlan === '1'">{{ 'Dashboard.BrandManagement.experiencePlan' | translate}}</span>
          <span *ngIf="commerceInfo?.commercePlan === '2'">{{ 'Dashboard.BrandManagement.studioPlan' | translate}}</span>
          <span *ngIf="commerceInfo?.commercePlan === '3'">{{ 'Dashboard.BrandManagement.smePlan' | translate}}</span>
          <span *ngIf="commerceInfo?.commercePlan === '99'">{{ 'Dashboard.BrandManagement.customPlan' | translate}}</span>
        </div>
        <div class="group-list-item">{{ 'Dashboard.BrandManagement.authorizationDueDate' | translate}}：
          {{(commerceInfo?.commercePlanExpired) | date: 'y/MM/dd'}}</div>
      </div>
      <label  class="group-label">
        {{ 'Dashboard.BrandManagement.numberOfGroups' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item"
          [class.full]="commerceInfo?.groupStatus.currentBranches === commerceInfo?.groupStatus.maxBranches"
        >{{ 'Dashboard.BrandManagement.numberOfBranches' | translate}}
          ：{{commerceInfo?.groupStatus.currentBranches}}/{{commerceInfo?.groupStatus.maxBranches}}
          <span *ngIf="commerceInfo?.groupStatus.currentBranches === commerceInfo?.groupStatus.maxBranches">
            ({{ 'Dashboard.Group.GroupInfo.groupFull' | translate}})
          </span>
        </div>
        <div class="group-list-item"
          [class.full]="commerceInfo?.groupStatus.currentClasses === commerceInfo?.groupStatus.maxClasses"
        >{{ 'Dashboard.BrandManagement.numberOfClass' | translate}}：
          {{commerceInfo?.groupStatus.currentClasses}}/{{commerceInfo?.groupStatus.maxClasses}}
          <span *ngIf="(+commerceInfo?.groupStatus.currentClasses) === (+commerceInfo?.groupStatus.maxClasses)">
            ({{ 'Dashboard.Group.GroupInfo.groupFull' | translate}})
          </span>
        </div>
      </div>
      <label  class="group-label">
        {{ 'Dashboard.BrandManagement.numberOfAdministrator' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item">{{ 'Dashboard.Group.brandAdministrator' | translate}}：
          {{commerceInfo?.groupManagerStatus.currentBrandManagers}}</div>
        <div class="group-list-item">{{ 'Dashboard.Group.branchAdministrator' | translate}}：
          {{commerceInfo?.groupManagerStatus.currentBranchManagers}}</div>
        <div class="group-list-item">{{ 'Dashboard.Group.coach' | translate}}：
          {{commerceInfo?.groupManagerStatus.currentFitnessCoaches}}</div>
        <div class="group-list-item">{{ 'Dashboard.Group.teacher' | translate}}：
          {{commerceInfo?.groupManagerStatus.currentCoaches}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="chooseIdx === 3">
      <label  class="group-label">
        {{ 'Dashboard.privacySettings.groupMemberVisibility' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item">
          <span *ngIf="groupInfo?.shareAvatarToMember && groupInfo?.shareAvatarToMember.switch === '1'">
            {{ 'Dashboard.privacySettings.allMember' | translate}}{{ 'Dashboard.privacySettings.canSee' | translate}}{{ 'Dashboard.privacySettings.avatar' | translate}}{{ 'Dashboard.privacySettings.nickname' | translate}}
          </span>
          <span *ngIf="groupInfo?.shareAvatarToMember && groupInfo?.shareAvatarToMember.switch === '2'">
            {{ 'Dashboard.privacySettings.notOpenVisibility' | translate}}
          </span>
          <span *ngIf="groupInfo?.shareAvatarToMember && (groupInfo?.shareAvatarToMember.switch === '3' || groupInfo?.shareAvatarToMember.switch === '4')">
            {{shareAvatarTarget}}
          </span>
        </div>
      </div>
      <label  class="group-label">
        {{ 'Dashboard.privacySettings.shareSportsFile' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item">
          <span *ngIf="groupInfo?.shareActivityToMember && groupInfo?.shareActivityToMember.switch === '1'">
            {{ 'Dashboard.privacySettings.allMember' | translate}}{{ 'Dashboard.privacySettings.canSee' | translate}}{{ 'Dashboard.privacySettings.file' | translate}}
          </span>
          <span *ngIf="groupInfo?.shareActivityToMember && groupInfo?.shareActivityToMember.switch === '2'">
            {{ 'Dashboard.privacySettings.notOpenVisibility' | translate}}
          </span>
          <span *ngIf="groupInfo?.shareActivityToMember && (groupInfo?.shareActivityToMember.switch === '3' || groupInfo?.shareActivityToMember.switch === '4')">
            {{shareActivityTarget}}
          </span>
        </div>
      </div>
      <label  class="group-label">
        {{ 'Dashboard.privacySettings.shareSportsReport' | translate}}
      </label>
      <div class="group-list">
        <div class="group-list-item">
          <span *ngIf="groupInfo?.shareReportToMember && groupInfo?.shareReportToMember.switch === '1'">
            {{ 'Dashboard.privacySettings.allMember' | translate}}{{ 'Dashboard.privacySettings.canSee' | translate}}{{ 'Dashboard.privacySettings.sportReport' | translate}}
          </span>
          <span *ngIf="groupInfo?.shareReportToMember && groupInfo?.shareReportToMember.switch === '2'">
            {{ 'Dashboard.privacySettings.notOpenSportsReport' | translate}}
          </span>
          <span *ngIf="groupInfo?.shareReportToMember && (groupInfo?.shareReportToMember.switch === '3' || groupInfo?.shareReportToMember.switch === '4')">
            {{shareReportTarget}}
          </span>
        </div>
      </div>
    </ng-container>
    <div style="display:flex;justify-content: center;align-items: center;height:100%"
      *ngIf="isCommerceInfoLoading"
    >
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
