<div class="row">
  <span class="group-handle-name group-handle-name__rwd">
    群組資訊
  </span>
  <div class="col-md-4 group-image--area">
    <img *ngIf="groupImg"
      [src]="(groupImg | safeHtml)"
      [class.image-is--default]="groupImg === '/assets/images/group-default.svg'"
    >
  </div>
  <div class="col-md-8">
    <div class="group-edit-bar">
      <span class="group-handle-name">
        群組資訊
      </span>
      <div>
        <button class="alatech-btn alatech-btn--default"
          title="申請加入"
          *ngIf="(joinStatus === 5 || joinStatus === 3 ) && (!visitorDetail?.isGroupAdmin || groupLevel === '80')"
          (click)="handleActionGroup(1)"
        >
          申請加入
        </button>
        <button class="alatech-btn alatech-btn--default group-btn--waiting"
          title="取消申請"
          *ngIf="joinStatus === 1"
          (click)="handleActionGroup(2)"
        >
          取消申請
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="退出群組"
          *ngIf="joinStatus === 2 &&
          (!visitorDetail?.isGroupAdmin
          ||
          (groupLevel === '80' && normalGroupAdministrators && normalGroupAdministrators?.length > 1)
          ||
          (groupLevel === '40' && branchAdministrators && branchAdministrators?.length > 1)
          )"
          (click)="handleActionGroup(2)"
        >
          退出群組
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="管理"
          *ngIf="visitorDetail?.isCanManage"
          (click)="goEditPage()"
        >
          管理
        </button>
      </div>
    </div>
    <div style="margin-bottom: 30px;">
      <div>
        <label>{{ groupInfo?.groupName }}</label>
      </div>
      <div>
        <label>群組ID：</label>{{ group_id }}
      </div>
      <div>
        <label>階層：</label>{{ this.groupLevel | groupLevelTranslate }}
      </div>
      <div>
        <label>狀態：</label>{{ groupInfo?.groupStatus | groupStatus }}
      </div>
      <div>
        <label>介紹：</label>{{ groupInfo?.groupDesc }}
      </div>
    </div>
    <div>
      <mat-tab-group (selectedTabChange)="changeGroupInfo($event)" class="ala-tab-group">
        <mat-tab label="子群組資訊" *ngIf="groupLevel !== '80'">
          <ng-container  *ngIf="!isLoading">
            <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">品牌</label>
            <div style="margin-bottom: 15px">
              <span *ngIf="subBrandInfo && subBrandInfo.length === 0">尚無品牌資訊</span>
              <ng-container  *ngFor="let subBrandItem of subBrandInfo">
                <app-member-capsule
                  [role]="role"
                  [isSubGroupInfo]="true"
                  [title]="subBrandItem?.groupName"
                  [memberInfo]="subBrandItem"
                  [name]="subBrandItem && subBrandItem?.groupName"
                  [icon]="subBrandItem?.groupIcon"
                  [groupId]="subBrandItem?.groupId"
                >
                </app-member-capsule>
              </ng-container>
            </div>
            <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">分店</label>
            <div style="margin-bottom: 15px">
              <span *ngIf="subBranchInfo && subBranchInfo.length === 0">尚無分店資訊</span>
              <ng-container  *ngFor="let subBranchItem of subBranchInfo">
                <app-member-capsule
                  [role]="role"
                  [isSubGroupInfo]="true"
                  [title]="subBranchItem?.groupName"
                  [memberInfo]="subBranchItem"
                  [name]="subBranchItem && subBranchItem?.groupName"
                  [icon]="subBranchItem?.groupIcon"
                  [groupId]="subBranchItem?.groupId"
                >
                </app-member-capsule>
              </ng-container>
            </div>

            <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">教練課</label>
            <div style="margin-bottom: 15px" >
              <span *ngIf="subCoachInfo && subCoachInfo.length === 0">尚無教練課資訊</span>
              <ng-container  *ngFor="let subCoachItem of subCoachInfo">
                <app-member-capsule
                  [role]="role"
                  [isSubGroupInfo]="true"
                  [title]="subCoachItem?.groupName"
                  [memberInfo]="subCoachItem"
                  [name]="subCoachItem && subCoachItem?.groupName"
                  [icon]="subCoachItem?.groupIcon"
                  [groupId]="subCoachItem?.groupId"
                >
                </app-member-capsule>
              </ng-container>
            </div>
          </ng-container>
          <div style="display:flex;justify-content: center;align-items: center;height:100%"
            *ngIf="isLoading"
          >
            <mat-spinner></mat-spinner>
          </div>
        </mat-tab>
        <mat-tab label="管理員資訊">
          <ng-container *ngIf="!isLoading">
            <ng-container *ngIf="groupLevel && groupLevel !== '80'">
              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">品牌管理員</label>
              <div style="margin-bottom: 15px">
              <span *ngIf="brandAdministrators && brandAdministrators.length === 0">尚無品牌管理員資訊</span>
                <ng-container  *ngFor="let brandAdmItem of brandAdministrators">
                  <app-member-capsule
                    [role]="role"
                    [isAdminInfo]="true"
                    [title]="brandAdmItem?.memberName"
                    [memberInfo]="brandAdmItem"
                    [name]="brandAdmItem && brandAdmItem?.memberName"
                    [icon]="brandAdmItem?.memberIcon"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>

              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">分店管理員</label>
              <div style="margin-bottom: 15px">
                <span *ngIf="branchAdministrators && branchAdministrators.length === 0">尚無分店管理員資訊</span>
                <ng-container  *ngFor="let branchAdmItem of branchAdministrators">
                  <app-member-capsule
                    [role]="role"
                    [isAdminInfo]="true"
                    [title]="branchAdmItem?.memberName"
                    [memberInfo]="branchAdmItem"
                    [name]="branchAdmItem && branchAdmItem?.memberName"
                    [icon]="branchAdmItem?.memberIcon"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>

              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">教練課管理員</label>
              <div style="margin-bottom: 15px" >
                <span *ngIf="coachAdministrators && coachAdministrators.length === 0">尚無教練課管理員資訊</span>
                <ng-container  *ngFor="let coachAdmItem of coachAdministrators">
                  <app-member-capsule
                    [role]="role"
                    [isAdminInfo]="true"
                    [title]="coachAdmItem?.memberName"
                    [memberInfo]="coachAdmItem"
                    [name]="coachAdmItem && coachAdmItem?.memberName"
                    [icon]="coachAdmItem?.memberIcon"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="groupLevel && groupLevel === '80'">
              <label style="color: #26abe3; font-weight: 700;margin-bottom: 15px">管理員</label>
              <div style="margin-bottom: 15px" >
                <span *ngIf="groupInfos && groupInfos.length === 0">尚無管理員資訊</span>
                <ng-container  *ngFor="let item of groupInfos">
                  <app-member-capsule
                    [role]="role"
                    [isAdminInfo]="true"
                    [title]="item?.memberName"
                    [memberInfo]="item"
                    [name]="item && item?.memberName"
                    [icon]="item?.memberIcon"
                  >
                  </app-member-capsule>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
          <div style="display:flex;justify-content: center;align-items: center;height:100%"
            *ngIf="isLoading"
          >
            <mat-spinner></mat-spinner>
          </div>
        </mat-tab>
        <mat-tab label="一般成員資訊">
          <ng-container *ngIf="!isLoading">
            <span *ngIf="normalMemberInfos && normalMemberInfos.length === 0">尚無一般成員資訊</span>
            <ng-container  *ngFor="let item of normalMemberInfos">
              <div style="margin-bottom: 15px;display:inline-block">
                <app-member-capsule
                  [role]="role"
                  [isNormalMemberInfo]="true"
                  [title]="item?.memberName"
                  [memberInfo]="item"
                  [name]="item && item?.memberName"
                  [icon]="item?.memberIcon"
                >
                </app-member-capsule>
              </div>
            </ng-container>
          </ng-container>
          <div style="display:flex;justify-content: center;align-items: center;height:100%"
            *ngIf="isLoading"
          >
            <mat-spinner></mat-spinner>
          </div>
        </mat-tab>
        <mat-tab label="待加入成員">
          <ng-container *ngIf="!isLoading">
            <span *ngIf="groupInfos && groupInfos.length === 0">尚無待加入成員資訊</span>
            <ng-container  *ngFor="let item of groupInfos">
              <div style="margin-bottom: 15px;display:inline-block">
                <app-member-capsule
                  [role]="role"
                  [isWaittingMemberInfo]="true"
                  [title]="item?.memberName"
                  [memberInfo]="item"
                  [name]="item && item?.memberName"
                  [icon]="item?.memberIcon"
                >
                </app-member-capsule>
              </div>
            </ng-container>
          </ng-container>
          <div style="display:flex;justify-content: center;align-items: center;height:100%"
            *ngIf="isLoading"
          >
            <mat-spinner></mat-spinner>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="group-manage__action" #footerTarget>
  <button class="alatech-btn group-manage__btn"
    title="申請加入"
    *ngIf="(joinStatus === 5 || joinStatus === 3 ) && (!visitorDetail?.isGroupAdmin || groupLevel === '80')"
    (click)="handleActionGroup(1)"
  >
    申請加入
  </button>
  <button class="alatech-btn group-manage__btn group-btn--waiting"
    title="取消申請"
    *ngIf="joinStatus === 1"
    (click)="handleActionGroup(2)"
  >
    取消申請
  </button>
  <button class="alatech-btn group-manage__btn"
    title="退出群組"
    *ngIf="joinStatus === 2 &&
    (!visitorDetail?.isGroupAdmin
    ||
    (groupLevel === '80' && normalGroupAdministrators && normalGroupAdministrators?.length > 1)
    ||
    (groupLevel === '40' && branchAdministrators && branchAdministrators?.length > 1)
    )"
    (click)="handleActionGroup(2)"
  >
    退出群組
  </button>
  <button class="alatech-btn group-manage__btn"
    title="管理"
    *ngIf="visitorDetail?.isCanManage"
    (click)="goEditPage()"
  >
    管理
  </button>
</div>
