.groupImgSet {
  max-height: 256px;
  max-width: 256px;
}

.group-btn--waiting {
  background-color: #26abe3;
  color: #fff;
}
.group-list-item.full {
  color: #cb5e5e;
}
.image-is--default {
  opacity: .1;
}
.group-image--area {
  .nav {
    flex-direction: column;
    margin-top: 50px;
  }
  .nav>li {
    font-size: 19px;
    padding: 10px 0px;
    cursor: pointer;
    color: #919191;
    font-weight: 700;
  }
  .nav>li.active {
    color: #26abe3;
  }
}

.mat-form-field-infix {
  border-top-width: 0px !important;
}

.previewPrint {
  width: 100%;
}

// ---我的報告和課程分析共用樣式---

.activity-title {
  border-bottom: 2px #e5e5e5 solid;
}

.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectArea {
  display: flex;
  flex-direction: row;
}

.sportCategory {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.datetimeInput {
  display: flex;
  flex-direction: row;
}

.functionButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0px;
}

.unClickable {
  pointer-events: none;
}

.whiteMask {
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.reprotHeadArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.brandName {
  font-size: 30px;
  font-weight: bold;
}

.reportName {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: gray;
  font-weight: bold;
}

.areaDescription {
  font-size: 16px;
  color:#919191;
  margin-left: 10px;
}

.activity-Link {
  color: #54b9e7;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.fileAmount {
  color: red;
}

.activity-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

.activity-info_icon_size{
  font-size: 30px;
}

.summaryArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.summaryDataArea {
  margin: 0px 5px;
}

.summaryData {
  font-size: 24px;
  font-weight: bold;
  color: #646464;
}

.summaryDescription {
  font-size: 15px;
  color: #6e6e6e;
}

.sportEfficiencyArea {
  display: flex;
  flex-direction: row;
}

.other-info--area {
  position: absolute;
  width: 100%;
  background-color: #EDEDED;
  padding: 10px 5px;
  left: 0;
  font-size: 16px;
  color: #909090;
}

.otherInfoArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sportEfficiency {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #646464;
  font-weight: bold;
}

.HRZone {
  padding-right: 2px;
  border-right: 2px #e5e5e5 solid;
  width: 50%;
}

.bodyQuality {
  margin-left: 2px;
  width: 50%;
}

.chartTitle {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.groupPagePhoto {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.groupPagePhoto img {
  width: 100%;
  height: auto;
}

.otherInfoSection {
  display: flex;
  flex-direction: column;
  margin-left:5px;
  min-width: 29%;
}

.introductionName {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

// ------------------------------

.groupEditSelect {

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;

    .mat-form-field-flex {

      .mat-form-field-infix {
        display: flex !important;
        flex-direction: row !important;
        border: 0px;
        padding-top: 2px !important;
      }

    }

  }

  .mat-form-field-underline {
    top: 20px !important;
  }

}

.editManageInput {
  width: 50px;

  input {
    text-align: center;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;

    .mat-form-field-flex {

      .mat-form-field-infix {
        display: flex !important;
        flex-direction: row !important;
        border: 0px;
        padding-top: 2px !important;
      }

    }

    .mat-form-field-underline {
      top: 20px !important;
    }

  }

}

@media(max-width: 767px) {
  .group-info.row {
    display: block;
    .group-image--area {
      flex-direction: column;
      ul.nav {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .groupImgSet {
      margin: 0 auto;
    }
  }
}
