<section class="flexCol" style="position: relative">
  <div class="flexRow cardTitle">
    <span class="cardSubtitle">
      <ng-container *ngIf="uiFlag.showMap">
        {{ 'universal_activityData_map' | translate }}
      </ng-container>
      <ng-container *ngIf="!uiFlag.showMap">
        {{ 'universal_activityData_dataComparison' | translate }}
      </ng-container>
    </span>
    <i class="icon-svg_web-icon_p1_001-setting settingIcon" (click)="handleShowOptMenu($event)"></i>
    <div id="map__opt__menu" *ngIf="uiFlag.showMapOpt" (click)="$event.stopPropagation()">
      <div class="flexRow selector__section" *ngIf="mapOpt.showMapSourceSelector && uiFlag.showMap">
        <span class="flexRow radioSelector" (click)="changeMapSource('google')">
          <span class="radioBtn" [class.radioBtn--active]="mapOpt.mapSource === 'google'"></span>
          Google
        </span>
        <span class="flexRow radioSelector" (click)="changeMapSource('OSM')">
          <span class="radioBtn" [class.radioBtn--active]="mapOpt.mapSource === 'OSM'"></span>
          OSM
        </span>
      </div>
      <div class="flexRow selector__section" *ngIf="sysAccessRight <= 20 && uiFlag.showMap">
        <span class="flexRow radioSelector" (click)="changeMapKind('normal')">
          <span class="radioBtn" [class.radioBtn--active]="mapOpt.mapKind === 'normal'"></span>
          路線圖
        </span>
        <span class="flexRow radioSelector" (click)="changeMapKind('heat')">
          <span class="radioBtn" [class.radioBtn--active]="mapOpt.mapKind === 'heat'"></span>
          熱力圖
        </span>
      </div>
      <div class="flexCol">
        <div class="flexCol selector__section">
          <span [style.color]="mapOpt.compareA.color"
            >{{ 'universal_vocabulary_data' | translate }} 1</span
          >
          <div
            class="drop__menu"
            [class.drop__menu--active]="uiFlag.showDataSelector === 'compareA'"
            (click)="handleShowDropList($event, 'compareA')"
          >
            {{
              mapOpt.compareA.type
                | dataTypeTranslate: { sportsType: sportType, unitType: unit }
                | translate
            }}
          </div>
          <ng-container *ngIf="uiFlag.showDataSelector === 'compareA'">
            <ng-container *ngIf="!uiFlag.showDataSelector; else dropList"></ng-container>
          </ng-container>
        </div>
        <div class="flexCol selector__section">
          <span [style.color]="mapOpt.compareB.color"
            >{{ 'universal_vocabulary_data' | translate }} 2</span
          >
          <div
            class="drop__menu"
            [class.drop__menu--active]="uiFlag.showDataSelector === 'compareB'"
            (click)="handleShowDropList($event, 'compareB')"
          >
            {{
              mapOpt.compareB.type
                | dataTypeTranslate: { sportsType: sportType, unitType: unit }
                | translate
            }}
          </div>
          <ng-container *ngIf="uiFlag.showDataSelector === 'compareB'">
            <ng-container *ngIf="!uiFlag.showDataSelector; else dropList"></ng-container>
          </ng-container>
        </div>
        <ng-template #dropList>
          <div class="flexCol drop__menu__list">
            <span
              (click)="changeCompareData('hr')"
              *ngIf="![mapOpt.compareA.type, mapOpt.compareB.type].includes('hr')"
            >
              {{ 'universal_activityData_hr' | translate }}
            </span>
            <span
              (click)="changeCompareData('speed')"
              *ngIf="
                [2, 7].includes(sportType) &&
                ![mapOpt.compareA.type, mapOpt.compareB.type].includes('speed')
              "
            >
              {{ 'universal_activityData_speedPerHour' | translate }}
            </span>
            <span
              (click)="changeCompareData('pace')"
              *ngIf="
                ![2, 7].includes(sportType) &&
                ![mapOpt.compareA.type, mapOpt.compareB.type].includes('pace')
              "
            >
              {{ 'universal_activityData_pace' | translate }}
            </span>
            <span
              (click)="changeCompareData('cadence')"
              *ngIf="
                sportType === 1 && ![mapOpt.compareA.type, mapOpt.compareB.type].includes('cadence')
              "
            >
              {{ 'universal_activityData_stepCadence' | translate }}
            </span>
            <span
              (click)="changeCompareData('cadence')"
              *ngIf="
                sportType === 2 && ![mapOpt.compareA.type, mapOpt.compareB.type].includes('cadence')
              "
            >
              {{ 'universal_activityData_CyclingCadence' | translate }}
            </span>
            <span
              (click)="changeCompareData('cadence')"
              *ngIf="
                sportType === 4 && ![mapOpt.compareA.type, mapOpt.compareB.type].includes('cadence')
              "
            >
              {{ 'universal_activityData_swimCadence' | translate }}
            </span>
            <span
              (click)="changeCompareData('cadence')"
              *ngIf="
                sportType === 6 && ![mapOpt.compareA.type, mapOpt.compareB.type].includes('cadence')
              "
            >
              {{ 'universal_activityData_rowCadence' | translate }}
            </span>
            <span
              (click)="changeCompareData('power')"
              *ngIf="
                [2, 6].includes(sportType) &&
                ![mapOpt.compareA.type, mapOpt.compareB.type].includes('power')
              "
            >
              {{ 'universal_activityData_power' | translate }}
            </span>
            <span
              (click)="changeCompareData('temperature')"
              *ngIf="![mapOpt.compareA.type, mapOpt.compareB.type].includes('temperature')"
            >
              {{ 'universal_activityData_temperature' | translate }}
            </span>
            <span
              (click)="changeCompareData('gforceX')"
              *ngIf="
                sportType === 7 && ![mapOpt.compareA.type, mapOpt.compareB.type].includes('gforceX')
              "
            >
              {{ 'universal_unit_gforceX' | translate }}
            </span>
            <span
              (click)="changeCompareData('gforceY')"
              *ngIf="
                sportType === 7 && ![mapOpt.compareA.type, mapOpt.compareB.type].includes('gforceY')
              "
            >
              {{ 'universal_unit_gforceY' | translate }}
            </span>
            <span
              (click)="changeCompareData('gforceZ')"
              *ngIf="
                sportType === 7 && ![mapOpt.compareA.type, mapOpt.compareB.type].includes('gforceZ')
              "
            >
              {{ 'universal_unit_gforceZ' | translate }}
            </span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <app-google-map
    class="map__style"
    [usePage]="'sportsFile'"
    [mapType]="mapOpt.mapKind"
    [path]="userPoint[0].latLngPath"
    [currentMarkPosition]="focusPosition"
    *ngIf="uiFlag.showMap && mapOpt.mapSource === 'google'"
  ></app-google-map>
  <app-leaflet-map
    class="map__style"
    [usePage]="'sportsFile'"
    [mapType]="mapOpt.mapKind"
    [path]="userPoint[0].latLngPath"
    [currentMarkPosition]="focusPosition"
    *ngIf="uiFlag.showMap && mapOpt.mapSource === 'OSM'"
  ></app-leaflet-map>
  <app-trinomial-chart
    [class.chart__insert__map]="uiFlag.showMap"
    [compareA]="mapOpt.compareA"
    [compareB]="mapOpt.compareB"
    [terrain]="mapOpt.terrain"
    [second]="mapOpt.second"
    [sportType]="sportType"
    [unit]="unit"
    [showMap]="uiFlag.showMap"
    (onHover)="movePoint($event)"
  ></app-trinomial-chart>
</section>
