@import 'flex-center.scss';
@import 'transition.scss';
@import 'transform.scss';

.map__style {
  height: 500px;
}

.hide__map {
  height: 150px;
}

#map__opt__menu {
  position: absolute;
  z-index: 1;
  width: 220px;
  background-color: white;
  border: 1px solid rgba(150, 150, 150, 1);
  padding: 10px;
  right: 0px;
  top: 28px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.drop__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 30px;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;

  &:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid black;
    @include transition(transform);
  }
}

.drop__menu--active {
  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }
}

.selector__section {
  margin: 5px 0;
  position: relative;
}

.drop__menu__list {
  cursor: pointer;
  position: absolute;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  z-index: 2;
  background-color: white;
  top: 58px;

  span {
    padding: 2px;

    &:hover {
      background-color: rgba(17, 166, 235, 1);
      color: white;
      @include transition(background-color);
    }
  }
}

/************************ media ************************************/

@media print {
  .map__style {
    height: 420px;
  }
}
