<section class="flexCol">
  <ng-container *ngIf="!isBriefList">
    <div class="flexRow functional__section">
      <div class="flexRow mail__search__block">
        <i class="icon-svg_web-icon_p1_014-search child-functional__icon"></i>
        <input
          #keywordInput
          class="mail__search"
          type="text"
          autocomplete="off"
        >
      </div>
      <button (click)="refreshMailList()">
        <i class="icon-svg_web-icon_p3_002-right_turn child-functional__icon"></i>
      </button>
      <button (click)="handleDeleteMode()">
        <i class="icon-svg_web-icon_p4_010-select_mode child-functional__icon"></i>
      </button>
      <button (click)="deleteMail()" *ngIf="uiFlag.openSelectMode">
        <i class="icon-svg_web-icon_p1_009-delete child-functional__icon"></i>
      </button>
    </div>
    <div class="flexRow inbox__title__section">
      <div class="flexRow">
        <div class="checkbox__column">
          <button
            class="checkbox__button"
            (click)="handleMailAllSelected()"
            *ngIf="uiFlag.openSelectMode"
          >
            <i
              class="icon-svg_web-icon_p1_044-uncheck checkbox__icon"
              *ngIf="!uiFlag.selectAll"
            ></i>
            <i
              class="icon-svg_web-icon_p1_043-check checkbox__icon"
              *ngIf="uiFlag.selectAll"
            ></i>
          </button>
        </div>
        <h5 class="inbox__title">
          {{ 'universal_deviceSetting_message' | translate }}
        </h5>
      </div>
      <span>{{ 'universal_adjective_total' | translate }}: {{ backupList.length }}</span>
    </div>
  </ng-container>
  <p class="no__data__hint" *ngIf="backupList.length === 0">
    {{ 'universal_status_noData' | translate }}
  </p>
  <ul class="mail__list" *ngIf="backupList.length > 0">
    <li *ngFor="let _list of mailList; let _index = index;">
      <p class="mail__date" *ngIf="_list[0] !== todayDate">
        {{ _list[0] === yesterdayDate ? ('universal_time_yesterday' | translate) : _list[0] }}
      </p>
      <ul class="mail__list__child" *ngFor="let _mail of _list[1]; let _subIndex = index;">
        <li *ngTemplateOutlet="oneRowMailInfo; context: {
          info: _mail,
          index: _index,
          subIndex: _subIndex
        }"></li>
      </ul>
    </li>
  </ul>
  
</section>

<ng-template
  #oneRowMailInfo
  let-info="info"
  let-index="index"
  let-subIndex="subIndex"
>
  <li class="flexRow">
    <div class="checkbox__column" *ngIf="!isBriefList">
      <button
        class="checkbox__button"
        (click)="handleMailSelected(index, subIndex)"
        *ngIf="uiFlag.openSelectMode"
      >
        <i
          class="icon-svg_web-icon_p1_044-uncheck checkbox__icon"
          *ngIf="!info.selected"
        ></i>
        <i
          class="icon-svg_web-icon_p1_043-check checkbox__icon"
          *ngIf="info.selected"
        ></i>
      </button>
    </div>
    <div
      [title]="info.title"
      class="flexRow mail__list__item"
      [class.list__item__unread]="info.readStatus === ReadStatus.unread"
      (click)="seeDetail(info.id)"
    >
      <img
        class="sender__icon"
        [src]="info.type === MessageType.admin ? '/assets/images/user2.png' : info.senderAvatarUrl"
        (error)="info.senderAvatarUrl = '/assets/images/user2.png'"
      >
      <div class="flexCol mail__info">
        <h6 class="mail__title">{{ info.title }}</h6>
        <div class="flexRow mail__sub__info">
          <p class="sender__name" *ngIf="info.type === MessageType.normal">
            {{ info.senderName }}
          </p>
          <span
            class="system__mail__label"
            *ngIf="info.type === MessageType.system || info.type === MessageType.admin"
          >
            {{ 'universal_message_systemMessage' | translate }}
          </span>
          <span class="send__time">
            {{ info.sendTimestamp * 1000 | timeFormat: 'HH:mm' }}
          </span>
        </div>
      </div>
    </div>
  </li>
</ng-template>