<section class="flexCol settingSection">
  <div
    class="flexRow settingTitleBlock"
    [style.border-bottom]="!uiFlag.expand ? 'none' : ''"
    (click)="handleFolder()"
  >
    <div class="flexRow">
      <i class="icon-svg_web-icon_p1_001-setting settingIcon"></i>
      <div class="flexCol">
        <h5 class="settingTitle">
          {{ 'universal_userProfile_personalPreferences' | translate }}
        </h5>
        <span class="settingTitleDescription">
          {{ 'universal_system_hrCalculationDesc' | translate }}
        </span>
      </div>
    </div>
    <button>
      <i
        class="icon-svg_web-icon_p1_006-unfold folderIcon"
        [class.folderIcon-fold]="uiFlag.expand"
      ></i>
    </button>
  </div>
  <div class="flexCol settingContent" *ngIf="uiFlag.expand">
    <div class="flexRow rowContent">
      <span class="contentTitle">
        {{ 'universal_activityData_hr' | translate }}
      </span>
      <div class="contentInput">
        <span class="mainText">
          <ng-container *ngIf="userInfo.heartRateBase === HrBase.max">
            {{ 'universal_userProfile_maximalHeartRate' | translate }}
          </ng-container>
          <ng-container *ngIf="userInfo.heartRateBase === HrBase.reserve">
            {{ 'universal_userProfile_heartRateReserve' | translate }}
          </ng-container>
        </span>
      </div>
      <span class="contentDescription">
        {{ 'universal_system_hrCalculationEdit' | translate }}
      </span>
      <button class="editBtn" (click)="showEditDialog('hr')">
        <i class="icon-svg_web-icon_p3_079-new-window openDialogIcon"></i>
      </button>
    </div>
    <div class="flexRow rowContent">
      <span class="contentTitle">
        {{ 'universal_userProfile_ftp' | translate }}
      </span>
      <div class="contentInput">
        <span class="mainText">
          {{ userInfo.cycleFtp }}w
        </span>
      </div>
      <span class="contentDescription">
        {{ 'universal_system_ftpEdit' | translate }}
      </span>
      <button class="editBtn" (click)="showEditDialog('ftp')">
        <i class="icon-svg_web-icon_p3_079-new-window openDialogIcon"></i>
      </button>
    </div>
    <div class="flexRow rowContent">
      <span class="contentTitle">
        {{ 'universal_vocabulary_activity' | translate }}
      </span>
      <div class="contentInput"></div>
      <span class="contentDescription">
        {{ 'universal_system_activityEdit' | translate }}
      </span>
      <button class="editBtn" (click)="showEditDialog('activity')">
        <i class="icon-svg_web-icon_p3_079-new-window openDialogIcon"></i>
      </button>
    </div>
    <div class="flexRow rowContent">
      <span class="contentTitle">
        {{ 'universal_lifeTracking_sleep' | translate }}
      </span>
      <div class="contentInput"></div>
      <span class="contentDescription">
        {{ 'universal_system_bedtimeEdit' | translate }}
      </span>
      <button class="editBtn" (click)="showEditDialog('sleep')">
        <i class="icon-svg_web-icon_p3_079-new-window openDialogIcon"></i>
      </button>
    </div>
    <div class="flexRow rowContent">
      <span class="contentTitle">
        {{ 'universal_userProfile_lifeTrackingTarget' | translate }}
      </span>
      <div class="contentInput"></div>
      <span class="contentDescription">
        {{ 'universal_system_lifetrackingDesc' | translate }}
      </span>
      <button class="editBtn" (click)="showEditDialog('target')">
        <i class="icon-svg_web-icon_p3_079-new-window openDialogIcon"></i>
      </button>
    </div>
  </div>
</section>
<section
  class="flexCenter info-editMask"
  (click)="cancelEdit()"
  *ngIf="uiFlag.showEditDialog"
>
  <div class="dialog-box" (click)="handleClickDialog($event)">
    <div class="dialog-title">
      <h5>
        <ng-container *ngIf="uiFlag.showEditDialog === 'hr'">
          {{ 'universal_activityData_hr' | translate }}
        </ng-container>
        <ng-container *ngIf="uiFlag.showEditDialog === 'ftp'">
          {{ 'universal_userProfile_ftp' | translate }}
        </ng-container>
        <ng-container *ngIf="uiFlag.showEditDialog === 'activity'">
          {{ 'universal_vocabulary_activity' | translate }}
        </ng-container>
        <ng-container *ngIf="uiFlag.showEditDialog === 'sleep'">
          {{ 'universal_lifeTracking_sleep' | translate }}
        </ng-container>
        <ng-container *ngIf="uiFlag.showEditDialog === 'target'">
          {{ 'universal_userProfile_lifeTrackingTarget' | translate }}
        </ng-container>
      </h5>
    </div>
    <div class="dialog-content">
      <ng-container *ngIf="uiFlag.showEditDialog === 'hr'">
        <div class="flexCol">
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_userProfile_hrCalculation' | translate }}：
            </span>
            <div class="flexRow radio__section">
              <span class="flexRow radioSelector" (click)="changeHrBase(HrBase.max)">
                <span
                  class="radioBtn"
                  [class.radioBtn--active]="setting.heartRateBase === HrBase.max"
                ></span>
                <span>{{ 'universal_userProfile_maximalHeartRate' | translate }}</span>
              </span>
              <span class="flexRow radioSelector" (click)="changeHrBase(HrBase.reserve)">
                <span
                  class="radioBtn"
                  [class.radioBtn--active]="setting.heartRateBase === HrBase.reserve"
                ></span>
                <span>{{ 'universal_userProfile_heartRateReserve' | translate }}</span>
              </span>
            </div>
          </div>
          <ng-container *ngIf="setting.heartRateBase === HrBase.reserve">
            <div class="childPageContent">
              <label for="max_hr">
                {{ 'universal_userProfile_maxHr' | translate }}：
              </label>
              <input
                id="max_hr"
                type="text"
                class="num__input userSettingInput"
                maxlength="3"
                [placeholder]="190"
                [value]="setting.heartRateMax"
                (keydown)="checkFormat($event)"
                (focusout)="handleMaxHrInput($event)"
              >
              <span class="valueUnit">bpm</span>
            </div>
            <div class="childPageContent">
              <label for="rest__hr">
                {{ 'universal_userProfile_restHr' | translate }}：
              </label>
              <input
                id="rest__hr"
                type="text"
                class="num__input userSettingInput"
                maxlength="3"
                [placeholder]="60"
                [value]="setting.heartRateResting"
                (keydown)="checkFormat($event)"
                (focusout)="handleRestHrInput($event)"
              >
              <span class="valueUnit">bpm</span>
            </div>
          </ng-container>
        </div>
        <ul id="hr__zone__info">
          <li class="flexCol">
            <div class="flexRow">
              <span class="itemTitle">Z5：</span>
              <span class="rangeValue">{{ +userHrZone.z4 + 1 }}</span>
              <span class="info__content">～</span>
              <span class="rangeValue">{{ userHrZone.z5 }}</span>
              <span class="valueUnit">bpm</span>
            </div>
            <span class="settingDescription">
              {{ 'universal_activityData_anaerobicZone' | translate }}:
              {{ 'universal_sportsTerm_zone5' | translate }}
            </span>
          </li>
          <li>
            <div class="flexRow">
              <span class="itemTitle">Z4：</span>
              <span class="rangeValue">{{ +userHrZone.z3 + 1 }}</span>
              <span class="info__content">～</span>
              <span class="rangeValue">{{ userHrZone.z4 }}</span>
              <span class="valueUnit">bpm</span>
            </div>
            <span class="settingDescription">
              {{ 'universal_activityData_marathonZone' | translate }}:
              {{ 'universal_sportsTerm_zone4' | translate }}
            </span>
          </li>
          <li>
            <div class="flexRow">
              <span class="itemTitle">Z3：</span>
              <span class="rangeValue">{{ +userHrZone.z2 + 1 }}</span>
              <span class="info__content">～</span>
              <span class="rangeValue">{{ userHrZone.z3 }}</span>
              <span class="valueUnit">bpm</span>
            </div>
            <span class="settingDescription">
              {{ 'universal_activityData_enduranceZone' | translate }}:
              {{ 'universal_sportsTerm_zone3' | translate }}
            </span>
          </li>
          <li>
            <div class="flexRow">
              <span class="itemTitle">Z2：</span>
              <span class="rangeValue">{{ +userHrZone.z1 + 1 }}</span>
              <span class="info__content">～</span>
              <span class="rangeValue">{{ userHrZone.z2 }}</span>
              <span class="valueUnit">bpm</span>
            </div>
            <span class="settingDescription">
              {{ 'universal_activityData_aerobicZone' | translate }}:
              {{ 'universal_sportsTerm_zone2' | translate }}
            </span>
          </li>
          <li>
            <div class="flexRow">
              <span class="itemTitle">Z1：</span>
              <span class="rangeValue">{{ +userHrZone.z0 + 1 }}</span>
              <span class="info__content">～</span>
              <span class="rangeValue">{{ userHrZone.z1 }}</span>
              <span class="valueUnit">bpm</span>
            </div>
            <span class="settingDescription">
              {{ 'universal_activityData_warmUpZone' | translate }}:
              {{ 'universal_sportsTerm_zone1' | translate }}
            </span>
          </li>
          <li>
            <div class="flexRow">
              <span class="itemTitle">Z0：</span>
              <span class="rangeValue">40</span>
              <span class="info__content">～</span>
              <span class="rangeValue">{{ userHrZone.z0 }}</span>
              <span class="valueUnit">bpm</span>
            </div>
            <span class="settingDescription">
              {{ 'universal_activityData_generalZone' | translate }}:
              {{ 'universal_sportsTerm_zone0' | translate }}
            </span>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="uiFlag.showEditDialog === 'ftp'">
        <div class="flexCol">
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_userProfile_ftp' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="3"
              [placeholder]="100"
              [value]="setting.cycleFtp"
              (keydown)="checkFormat($event)"
              (focusout)="handleCycleFtpInput($event)"
            >
            <span class="valueUnit">
              w
            </span>
          </div>
          <ul id="ftp__zone__info">
            <li class="flexCol">
              <div class="flexRow">
                <span class="itemTitle">Z6：</span>
                <span class="rangeValue">{{ +userFtpZone.z5 + 1 }}</span>
                <span class="info__content">～</span>
              </div>
              <span class="settingDescription">
                {{ 'universal_activityData_ftpZ6' | translate }}:
                {{ 'universal_activityData_ftpZ6Info' | translate }}
              </span>
            </li>
            <li class="flexCol">
              <div class="flexRow">
                <span class="itemTitle">Z5：</span>
                <span class="rangeValue">{{ +userFtpZone.z4 + 1 }}</span>
                <span class="info__content">～</span>
                <span class="rangeValue">{{ userFtpZone.z5 }}</span>
                <span class="valueUnit">w</span>
              </div>
              <span class="settingDescription">
                {{ 'universal_activityData_ftpZ5' | translate }}:
                {{ 'universal_activityData_ftpZ5Info' | translate }}
              </span>
            </li>
            <li>
              <div class="flexRow" (click)="showFtpZoneDesc('z4')">
                <span class="itemTitle">Z4：</span>
                <span class="rangeValue">{{ +userFtpZone.z3 + 1 }}</span>
                <span class="info__content">～</span>
                <span class="rangeValue">{{ userFtpZone.z4 }}</span>
                <span class="valueUnit">w</span>
              </div>
              <span class="settingDescription">
                {{ 'universal_activityData_ftpZ4' | translate }}:
                {{ 'universal_activityData_ftpZ4Info' | translate }}
              </span>
            </li>
            <li>
              <div class="flexRow">
                <span class="itemTitle">Z3：</span>
                <span class="rangeValue">{{ +userFtpZone.z2 + 1 }}</span>
                <span class="info__content">～</span>
                <span class="rangeValue">{{ userFtpZone.z3 }}</span>
                <span class="valueUnit">w</span>
              </div>
              <span class="settingDescription">
                {{ 'universal_activityData_ftpZ3' | translate }}:
                {{ 'universal_activityData_ftpZ3Info' | translate }}
              </span>
            </li>
            <li>
              <div class="flexRow">
                <span class="itemTitle">Z2：</span>
                <span class="rangeValue">{{ +userFtpZone.z1 + 1 }}</span>
                <span class="info__content">～</span>
                <span class="rangeValue">{{ userFtpZone.z2 }}</span>
                <span class="valueUnit">w</span>
              </div>
              <span class="settingDescription">
                {{ 'universal_activityData_ftpZ2' | translate }}:
                {{ 'universal_activityData_ftpZ2Info' | translate }}
              </span>
            </li>
            <li>
              <div class="flexRow">
                <span class="itemTitle">Z1：</span>
                <span class="rangeValue">{{ +userFtpZone.z0 + 1 }}</span>
                <span class="info__content">～</span>
                <span class="rangeValue">{{ userFtpZone.z1 }}</span>
                <span class="valueUnit">w</span>
              </div>
              <span class="settingDescription">
                {{ 'universal_activityData_ftpZ1' | translate }}:
                {{ 'universal_activityData_ftpZ1Info' | translate }}
              </span>
            </li>
            <li>
              <div class="flexRow">
                <span class="itemTitle">Z0：</span>
                <span 
                  style="min-width: 44px; text-align: right;"
                  class="info__content"
                >～</span>
                <span class="rangeValue">{{ userFtpZone.z0 }}</span>
                <span class="valueUnit">w</span>
              </div>
              <span class="settingDescription">
                {{ 'universal_activityData_ftpZ0' | translate }}:
                {{ 'universal_activityData_ftpZ0Info' | translate }}
              </span>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="uiFlag.showEditDialog === 'activity'">
        <div class="flexCol">
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_deviceSetting_unit' | translate }}：
            </span>
            <div class="flexRow radio__section">
              <span class="flexRow radioSelector" (click)="changeUnit(Unit.metric)">
                <span
                  class="radioBtn"
                  [class.radioBtn--active]="setting.unit === Unit.metric"
                ></span>
                <span>{{ 'universal_userProfile_metric' | translate }}</span>
              </span>
              <span class="flexRow radioSelector" (click)="changeUnit(Unit.imperial)">
                <span
                  class="radioBtn"
                  [class.radioBtn--active]="setting.unit === Unit.imperial"
                ></span>
                <span>{{ 'universal_userProfile_imperial' | translate }}</span>
              </span>
            </div>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_activityData_swing' | translate }}：
            </span>
              <div class="flexRow radio__section">
                <span class="flexRow radioSelector" (click)="changeDominantHand(DominantHand.left)">
                  <span
                    class="radioBtn"
                    [class.radioBtn--active]="setting.handedness == DominantHand.left"
                  ></span>
                  <span>{{ 'universal_vocabulary_leftHand' | translate }}</span>
                </span>
                <span class="flexRow radioSelector" (click)="changeDominantHand(DominantHand.right)">
                  <span
                    class="radioBtn"
                    [class.radioBtn--active]="setting.handedness == DominantHand.right"
                  ></span>
                  <span>{{ 'universal_vocabulary_rightHand' | translate }}</span>
                </span>
              </div>
          </div>
          <div class="childPageContent">
            <span class="itemTitle">
              {{ 'universal_userProfile_stepLength' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="90 | lengthSibs: {
                userUnit: setting.unit,
                valueUnit: 'cm',
                transformUnit: 'inch',
                digit: 1
              }"
              [value]="setting.strideLengthCentimeter"
              (keydown)="checkFormat($event, true)"
              (focusout)="handleStepLenInput($event)"
            >
            <span class="valueUnit">
              {{ 'stepLength' | dataTypeUnit: [null, setting.unit] }}
            </span>
          </div>
          <div class="childPageContent">
            <span class="itemTitle">
              {{ 'universal_userProfile_tireCircumference' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="2000 | lengthSibs: {
                userUnit: setting.unit,
                valueUnit: 'mm',
                transformUnit: 'inch',
                digit: 1
              }"
              [value]="setting.wheelSize"
              (keydown)="checkFormat($event, true)"
              (focusout)="handleWheelSizeInput($event)"
            >
            <span class="valueUnit">
              {{ 'wheelSize' | dataTypeUnit: [null, setting.unit] }}
            </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="uiFlag.showEditDialog === 'sleep'">
        <div class="flexCol">
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_sleepTime' | translate }}：
            </span>
            <div class="time__selector__section">
              <ng-container *ngIf="!uiFlag.isMobile">
                <span
                  class="userSettingInput time__set"
                  (click)="openTimeSelector($event, 'normalBedTime')"
                >
                  {{ setting.normalBedTime | slice: 0 :5 }}
                </span>
                <ng-container *ngIf="uiFlag.showTimeSelector === 'normalBedTime'">
                  <div *ngTemplateOutlet="timeSelect"></div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="uiFlag.isMobile">
                <input
                  [value]="setting.normalBedTime | slice: 0 :5"
                  type="time"
                  class="info__content"
                  (change)="changeTime($event, 'normalBedTime')"
                >
              </ng-container>
            </div>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_wakeUpTime' | translate }}：
            </span>
            <div class="time__selector__section">
              <ng-container *ngIf="!uiFlag.isMobile">
                <span
                  class="userSettingInput time__set"
                  (click)="openTimeSelector($event, 'normalWakeTime')"
                >
                  {{ setting.normalWakeTime | slice: 0 :5 }}
                </span>
                <ng-container *ngIf="uiFlag.showTimeSelector === 'normalWakeTime'">
                  <div *ngTemplateOutlet="timeSelect"></div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="uiFlag.isMobile">
                <input
                  [value]="setting.normalWakeTime | slice: 0 :5"
                  type="time"
                  class="info__content"
                  (change)="changeTime($event, 'normalWakeTime')"
                >
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="uiFlag.showEditDialog === 'target'">
        <div class="flexCol">
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_userProfile_AutoStepTarget' | translate }}：
            </span>
            <div
              class="flexRow radio__section"
            >
              <span class="flexRow radioSelector" (click)="changeAutoTargetStep(AutoStepTarget.close)">
                <span
                  class="radioBtn"
                  [class.radioBtn--active]="setting.autoTargetStep === AutoStepTarget.close"
                ></span>
                <span class="itemTitle">{{ 'universal_operating_close' | translate }}</span>
              </span>
              <span class="flexRow radioSelector" (click)="changeAutoTargetStep(AutoStepTarget.open)">
                <span
                  class="radioBtn"
                  [class.radioBtn--active]="setting.autoTargetStep === AutoStepTarget.open"
                ></span>
                <span class="itemTitle">{{ 'universal_operating_open' | translate }}</span>
              </span>
            </div>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_targetStep' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="5000"
              [value]="setting.target.step"
              (keydown)="checkFormat($event)"
              (focusout)="handleTargetStepInput($event)"
            >
            <span class="valueUnit">
              {{ 'universal_lifeTracking_step' | translate }}
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_targetDistance' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="1000 | lengthSibs: {
                userUnit: userInfo.unit,
                valueUnit: 'm',
                transformUnit: 'ft',
                digit: 2
              }"
              [value]="setting.target.distance"
              (keydown)="checkFormat($event, true)"
              (focusout)="handleTargetDistanceInput($event)"
            >
            <span class="valueUnit">
              {{ 'targetDistance' | dataTypeUnit: [null, setting.unit] }}
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_targetClimbGain' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="1000"
              [value]="setting.target.elevGain"
              (keydown)="checkFormat($event)"
              (focusout)="handleTargetElevGainInput($event)"
            >
            <span class="valueUnit">
              {{ 'universal_group_layer' | translate }}
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_targetCalories' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="1000"
              [value]="setting.target.calorie"
              (keydown)="checkFormat($event)"
              (focusout)="handleTargetCalorieInput($event)"
            >
            <span class="valueUnit">
              cal
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_targetFitTime' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="20"
              [value]="setting.target.fitTime"
              (keydown)="checkFormat($event)"
              (focusout)="handleTargetFitTimeInput($event)"
            >
            <span class="valueUnit">
              {{ 'universal_unit_minute' | translate }}
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_targetSleepTime' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="4"
              [placeholder]="8"
              [value]="setting.target.sleep"
              (keydown)="checkFormat($event, true)"
              (focusout)="handleTargetSleepInput($event)"
            >
            <span class="valueUnit">
              {{ 'universal_time_hour' | translate }}
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_target' | translate }}
              {{ 'universal_userProfile_limit_bodyWeight' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="5"
              [placeholder]="70"
              [value]="setting.target.bodyWeight"
              (keydown)="checkFormat($event, true)"
              (focusout)="handleTargetWeightInput($event)"
            >
            <span class="valueUnit">
              {{ 'bodyWeight' | dataTypeUnit: [null, setting.unit] }}
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_target' | translate }}
              {{ 'universal_userProfile_muscleRate' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="4"
              [placeholder]="50"
              [value]="setting.target.muscleRate"
              (keydown)="checkFormat($event, true)"
              (focusout)="handleTargetMuscleRateInput($event)"
            >
            <span class="valueUnit">
              %
            </span>
          </div>
          <div class="flexRowWrap childPageContent">
            <span class="itemTitle">
              {{ 'universal_lifeTracking_target' | translate }}
              {{ 'universal_lifeTracking_fatRate' | translate }}：
            </span>
            <input
              type="text"
              class="num__input userSettingInput"
              maxlength="4"
              [placeholder]="20"
              [value]="setting.target.fatRate"
              (keydown)="checkFormat($event, true)"
              (focusout)="handleTargetFatRateInput($event)"
            >
            <span class="valueUnit">
              %
            </span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flexRow dialog-action">
      <button class="dialog-cancelBtn" (click)="cancelEdit()">
        {{ 'universal_operating_cancel' | translate }}
      </button>
      <button class="dialog-confirmBtn" (click)="editComplete()">
        {{ 'universal_operating_confirm' | translate }}
      </button>
    </div>
  </div>
</section>
<ng-template #timeSelect>
  <div id="time__Selector" class="flexRow">
    <div
      id="hour__selector"
      class="flexCol scroll__time"
      style="top: -25px;"
    >
      <ng-container *ngFor="let _hour of timeSelector.hourList">
        <span
          [class.current__selector]="timeSelector.hour === _hour"
          (click)="selectTime($event, 'hour', _hour)"
        >{{ _hour }}</span>
      </ng-container>
    </div>
    <div
      id="min__selector"
      class="flexCol scroll__time"
      style="top: -25px;"
    >
      <ng-container *ngFor="let _min of timeSelector.minList">
        <span
          [class.current__selector]="timeSelector.min === _min"
          (click)="selectTime($event, 'min', _min)"
        >{{ _min }}</span>
      </ng-container>
    </div>
  </div>
</ng-template>