@import 'transition.scss';
@import 'flex-center.scss';
@import 'font.scss';
@import "rotate.scss";

$active-color: rgba(38, 171, 227, 1);
$hover-bg-gray: rgba(240, 240, 240, 1);
$radio-size: 20px;
$radio-active-size: 14px;
$drop-list-width: 200px;

@mixin default-btn($bg-color) {
  @include center();
  @include transition(background-color);
  cursor: pointer;
  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
  background-color: $bg-color;
  @content;
}

.condition__unfold__icon {
  color: var(--icon);
  @include transition(transform);
  margin-left: 10px;
}

.condition__fold__icon {
  @include transition(transform);
  @include el-rotate(180deg);
}

#date__selector__bar {
  @include center();
  height: 50px;
  cursor: pointer;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.date__type__bar {
  @include transition(transform);
  height: 100%;
}

.selector__tab__title {
  @include center();
  color: var(--section-subtitle);
  font-size: 14px;
  padding: 0 24px;
  min-width: 160px;
  text-align: center;
  white-space: nowrap;
  height: 100%;

  &:hover {
    background-color: var(--tab-hover);
  }

}

#shiftDate {
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 5px 0px;
  display:flex;
  align-items: center;
  color: var(--content);
}

.switch__btn {
  color: var(--content);
  @include center();
  font-size: 24px;

  &:hover {
    background-color: var(--tab-hover);
  }

}

.btn__disabled {
  color: var(--disable-color);
  pointer-events: none;
}

.report__time__btn {
  color: var(--content);

  &[disabled] {
    color: var(--disable-color);
  }

}

.date__drop {
  align-items: center;
  min-width: 120px;
  width: fit-content;
  border: 1px solid rgba(210, 210, 210, 1);
  cursor: pointer;
  position: absolute;
  top: 50px;
  z-index: 1;
  background-color: var(--menu-background);
  color: var(--content);
}

.calendar_period__option {
  padding: 5px 0;
  width: 100%;
  text-align: center;
  
  &:hover {
    background-color: $active-color;
    color: white;
  }

}

.date__type--active {
  color: $active-color;
}

.date__selector--active {
  @include transition(transform);
  width: 160px;
  border-bottom: 3px solid $active-color;
  position: absolute;
  top: 45px;
}

.condition__title {
  @include subtitle-or-focus(16px);
}

.condition__subtitle {
  @include subtitle-color-custom(14px, var(--section-subtitle));
}

.condition__content {
  margin-left: 35px;
  flex-wrap: wrap;
}

.condition__btn {
  @include default-btn(rgba(190, 190, 190, 1));
  color: white;
  font-size: 14px;
  border-radius: 3px;

  &:hover {
    background-color: rgba(150, 150, 150, 1);
  }

}

.condition__btn--active {
  @include transition(background-color);
  color: black;
  background-color: rgba(255, 254, 169, 1);

  &:hover {
    background-color: rgba(255, 253, 120, 1);
  }

}

.confirm__btn {
  @include default-btn(rgba(38, 171, 227, 1));
  @include transition(top);
  @include transition(left);
  position: relative;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(50, 190, 250, 1);
  }

  &:active {
    top: 2px;
    left: 2px;
    @include transition(top);
    @include transition(left);
  }

}

.map__choice {
  display: flex;
  justify-content: center;
  min-width: $drop-list-width;
  width: fit-content;
  height: 30px;
  border: 1px solid;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
}

.map__choosed__text {
  padding: 2px 14px 2px 6px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: black transparent transparent transparent;
    @include transition(transform);
  }

}

.map__choose--active {

  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }

}

.choice__item {
  padding: 2px;
  width: 100%;
  text-align: center;
  @include transition(color);
  @include transition(background-color);

  &:hover {
    color: white;
    background-color: $active-color;
    @include transition(color);
    @include transition(background-color);
  }

}

#map__drop__list {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid;
  padding: 5px 10px;
  min-width: $drop-list-width;
  max-height: 350px;
  overflow: scroll;
  top: 28px;
}

.radio__selector {
  cursor: pointer;
  align-items: center;
  margin-right: 15px;
}

.radio__btn {
  @include center();
  border: 1px solid black;
  border-radius: 50%;
  width: $radio-size;
  height: $radio-size;
  margin-right: 5px;
}

.radio__btn--active {

  &:before {
    content: '';
    width: $radio-active-size;
    height: $radio-active-size;
    border-radius: 50%;
    background-color: rgba(17, 166, 235, 1);
  }

}

.map__child__block {
  margin: 5px 0;
}