<div
  #filterSection
  style="width: 100%;"
  class="cardContent"
  [class.reportPreviewMode]="uiFlag.isPreviewMode"
  [style.pointer-events]="uiFlag.isLoading ? 'none' : 'initial'"
>
  <div
    class="flexRow"
    style="width: fit-content; align-items: center; cursor: pointer; margin-bottom: 10px;"
    (click)="openConditionSelector()"
  >
    <h6 class="condition__title" style="margin-bottom: 0; font-size: 18px;">{{ 'universal_operating_filter' | translate }}</h6>
    <i
      class="icon-svg_web-icon_p1_006-unfold condition__unfold__icon"
      [class.condition__fold__icon]="uiFlag.showConditionSelector"
    ></i>
  </div>
  <main *ngIf="uiFlag.showConditionSelector">
    <ng-container *ngIf="reportConditionOpt && reportConditionOpt.date">
      <section id="date__selector__bar">
        <div #dateSelectorBar class="flexRow" style="height: 48px; position: relative;">
          <i
            class="icon-svg_web-icon_p1_073-level_fold switch__btn"
            (click)="shiftDateTypeBar('pre')"
            [style.border-right]="uiFlag.disableBtn !== 'pre' ? '2px solid var(--tab-border)' : ''"
            [class.btn__disabled]="uiFlag.disableBtn === 'pre'"
            *ngIf="uiFlag.showDateTypeShiftIcon"
          ></i>
          <div
            class="flexCol date__type__content"
            style="display: flex; overflow: hidden; justify-content: center; position: relative;"
            [style.max-width]="uiFlag.dateTypeBarWidth"
          >
            <div class="flexRow date__type__bar" [style.transform]="uiFlag.dateTypeBarOffset">
              <span
                class="selector__tab__title"
                [class.date__type--active]="date.type === 'sevenDay'"
                (click)="selectDateRange($event, 0)"
              >7{{'universal_time_day' | translate}}</span>
              <span
                class="selector__tab__title"
                [class.date__type--active]="date.type === 'thirtyDay'"
                (click)="selectDateRange($event, 1)"
              >30{{'universal_time_day' | translate}}</span>
              <span
                class="selector__tab__title"
                [class.date__type--active]="date.type === 'sixMonth'"
                (click)="selectDateRange($event, 2)"
              >6{{'universal_time_month' | translate}}</span>
              <div #calendarPeriod style="display: flex; justify-content: center; position: relative;">
                <span
                  class="selector__tab__title"
                  [class.date__type--active]="
                    date.type === 'today' || date.type === 'thisWeek' || date.type === 'thisMonth' || date.type === 'thisYear'
                  "
                  (click)="selectDateRange($event, 3)"
                >{{'universal_activityData_calendarSelect' | translate}}</span>
              </div>
              <div class="flexCenter">
                <span
                  class="selector__tab__title"
                  [class.date__type--active]="date.type === 'custom'"
                  (click)="selectDateRange($event, 4)"
                >{{'universal_activityData_dateRange' | translate}}</span>
                <app-date-range-picker
                  style="position: absolute; bottom: 0px; z-index: -1; opacity: 0; pointer-events: none;"
                  [pickerType]="'rangePick'"
                  [startTimeStamp]="date?.startTimestamp"
                  [endTimeStamp]="date.endTimestamp"
                  [openLeft]="true"
                  [openPicker]="date.openSelector === 'custom'"
                  [limitMax]="true"
                  [maxWidth]="'0px'"
                  (selectDateRange)="getSelectDate($event)"
                ></app-date-range-picker>
              </div>
            </div>
            <div class="date__selector--active" [style.transform]="uiFlag.activeDateTypeOffset"></div>
          </div>
          <i
            class="icon-svg_web-icon_p1_074-level_unfold switch__btn"
            (click)="shiftDateTypeBar('next')"
            [style.border-left]="uiFlag.disableBtn !== 'next' ? '2px solid var(--tab-border)' : 'none'"
            [class.btn__disabled]="uiFlag.disableBtn === 'next'"
            *ngIf="uiFlag.showDateTypeShiftIcon"
          ></i>
          <div
            class="flexCol date__drop"
            [style.transform]="uiFlag.calendarPeriodOffset"
            *ngIf="date.openSelector === 'calendarPeriod'"
          >
            <span class="calendar_period__option" (click)="selectCalendarPeroid('today')">{{'universal_time_today' | translate}}</span>
            <span class="calendar_period__option" (click)="selectCalendarPeroid('thisWeek')">{{'universal_time_thisWeek' | translate}}</span>
            <span class="calendar_period__option" (click)="selectCalendarPeroid('thisMonth')">{{'universal_time_thisMonth' | translate}}</span>
            <span class="calendar_period__option" (click)="selectCalendarPeroid('thisYear')">{{'universal_time_thisYear' | translate}}</span>
          </div>
        </div>
      </section>
      <section id="shiftDate">
        <button
          (click)="shiftPreTime()"
          class="report__time__btn"
        >
          <mat-icon style="cursor: pointer">
            keyboard_arrow_left
          </mat-icon>
        </button>
        <button
          (click)="shiftNextTime()"
          [disabled]="date.endTimestamp >= date.maxTimestamp"
          class="report__time__btn"
        >
          <mat-icon style="cursor: pointer">
            keyboard_arrow_right
          </mat-icon>
        </button>
        {{date.startTimestamp | timeFormat: 'YYYY-MM-DD'}} - {{date.endTimestamp | timeFormat: 'YYYY-MM-DD'}}
      </section>
    </ng-container>
    <section
      class="flexCol condition__section"
      *ngIf="
        reportConditionOpt
        && reportConditionOpt.group
        && reportConditionOpt.brandType !== null
        && (reportConditionOpt.group.brands !== null || reportConditionOpt.group.branches !== null)
      "
    >
      <h6 class="condition__title">{{ 'universal_group_group' | translate }}</h6>
      <div class="flexCol condition__content">
        <div class="flexCol" *ngIf="reportConditionOpt.group.brands !== null">
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 1">{{ 'universal_group_brand' | translate }}</span>
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 2">{{ 'universal_group_enterprise' | translate }}</span>
          <div class="flexRow">
            <button
              class="condition__btn"
              [class.condition__btn--active]="reportConditionOpt.group.brands.groupId.includes(reportConditionOpt.group.selectGroup)"
              (click)="handleClickBrand()"
            >{{ reportConditionOpt.group.brands.groupName }}</button>
          </div>
        </div>
        <div class="flexCol" *ngIf="reportConditionOpt.group.branches !== null">
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 1">{{ 'universal_group_branch' | translate }}</span>
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 2">{{ 'universal_group_companyBranch' | translate }}</span>
          <div class="flexRow" style="flex-wrap: wrap;">
            <button
              class="condition__btn"
              *ngFor="let _branches of reportConditionOpt.group.branches; let _branchIdx = index;"
              [class.condition__btn--active]="_branches.groupId.includes(reportConditionOpt.group.selectGroup)"
              (click)="handleClickBranch(_branchIdx)"
            >{{ _branches.groupName }}</button>
          </div>
        </div>
        <div class="flexCol" *ngIf="reportConditionOpt.group.coaches.length > 0">
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 1">{{ 'universal_group_coachingClass' | translate }}</span>
          <span class="condition__subtitle" *ngIf="reportConditionOpt.brandType === 2">{{ 'universal_group_department' | translate }}</span>
          <div class="flexRow" style="flex-wrap: wrap;">
            <button
              class="condition__btn"
              *ngFor="let _coaches of reportConditionOpt.group.coaches; let _coachIdx = index;"
              [class.condition__btn--active]="_coaches.groupId.includes(reportConditionOpt.group.selectGroup)"
              (click)="handleClickCoach(_coachIdx)"
            >{{ _coaches.groupName }}</button>
          </div>
        </div>
      </div>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'sport'"
    >
      <h6 class="condition__title">{{ 'universal_activityData_activityType' | translate }}</h6>
      <div class="flexRow condition__content">
        <span
          class="condition__btn"
          *ngFor="let _type of sportCondition;"
          [class.condition__btn--active]="reportConditionOpt.sportType === 99 || reportConditionOpt.sportType === _type"
          (click)="handleClickSportType(_type)"
        >
          {{ _type | sportType | translate }}
        </span>
      </div>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'cloudRun'"
    >
      <h6 class="condition__title">{{ 'universal_activityData_map' | translate }}</h6>
      <div class="flexRow condition__content">
        <div class="flexRow radio__section map__child__block">
          <span class="flexRow radioSelector" (click)="changeMapListType('all')">
            <span class="radioBtn" [class.radioBtn--active]="uiFlag.mapListType === 'all'"></span>
            <span>{{ 'universal_adjective_all' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeMapListType('routine')">
            <span class="radioBtn" [class.radioBtn--active]="uiFlag.mapListType === 'routine'"></span>
            <span>{{ 'universal_race_match' | translate }}</span>
          </span>
        </div>
        <div
          #dropMenu
          class="map__choice map__child__block"
          [style.pointer-events]="mapList && mapList.length !== 0 ? 'initial' : 'none'"
          (click)="showMapSelector($event)"
        >
          <span class="map__choosed__text" [class.map__choose--active]="uiFlag.showMapSelector">
            <ng-container *ngIf="uiFlag.mapListType === 'all'">
              <ng-container *ngIf="mapList && mapList.length !== 0; else loadingText;">
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-tw'">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[0].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-cn'">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[1].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'es-es'">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[3].mapName }}
                </ng-container>
                <ng-container *ngIf="!['zh-tw', 'zh-cn', 'es-es'].includes(uiFlag.currentLanguage)">
                  {{ mapList[reportConditionOpt.cloudRun.mapId - 1].info[2].mapName }}
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="uiFlag.mapListType === 'routine'">
              <ng-container *ngIf="routineRaceList && routineRaceList.length !== 0; else loadingText;">
                {{ reportConditionOpt.cloudRun.month }}
              </ng-container>
            </ng-container>
            <ng-template #loadingText>Loading...</ng-template>
          </span>
          <div
            id="map__drop__list"
            class="flexCol"
            *ngIf="uiFlag.showMapSelector"
          >
            <ng-container *ngIf="uiFlag.mapListType === 'all'">
              <span
                class="choice__item"
                style="text-align: left;"
                *ngFor="let _mapInfo of mapList; let mapIndex = index;"
                (click)="chooseMap(mapIndex + 1)"
              >
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-tw'">
                  {{ _mapInfo.info[0].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'zh-cn'">
                  {{ _mapInfo.info[1].mapName }}
                </ng-container>
                <ng-container *ngIf="uiFlag.currentLanguage === 'es-es'">
                  {{ _mapInfo.info[3].mapName }}
                </ng-container>
                <ng-container *ngIf="!['zh-tw', 'zh-cn', 'es-es'].includes(uiFlag.currentLanguage)">
                  {{ _mapInfo.info[2].mapName }}
                </ng-container>
              </span>
            </ng-container>
            <ng-container *ngIf="uiFlag.mapListType === 'routine'">
              <span class="choice__item" *ngFor="let _racelist of routineRaceList; let _idx = index;" (click)="chooseRoutine(_idx)">
                {{ _racelist.month }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div
        class="flexRow condition__content"
        style="align-items: center; width: fit-content; cursor: pointer; margin-bottom: 10px;"
        (click)="changeCheckStatus()"
      >
        <div style="border: 1px solid var(--scale-0-255); width: 20px; height: 20px;">
          <ng-container *ngIf="reportConditionOpt.cloudRun.checkCompletion">
            <span class="flexCenter" style="height: 19px;">✔</span>
          </ng-container>
        </div>
        <span style="margin-left: 5px;">
          {{ 'universal_operating_finished' | translate }} {{ 'universal_race_match' | translate }}
        </span>
      </div>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'cloudRun' && uiFlag.isGroupPage"
    >
      <h6 class="condition__title">{{ 'universal_userProfile_gender' | translate }}</h6>
      <div class="flexRow condition__content">
        <div class="flexRow radio__section map__child__block">
          <span class="flexRow radioSelector" (click)="changeGender(null)">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.gender === null"
            ></span>
            <span>{{ 'universal_adjective_all' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeGender(sex.male)">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.gender === sex.male"
            ></span>
            <span>{{ 'universal_userProfile_male' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeGender(sex.female)">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.gender === sex.female"
            ></span>
            <span>{{ 'universal_userProfile_female' | translate }}</span>
          </span>
        </div>
      </div>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.pageType === 'cloudRun' && uiFlag.isGroupPage"
    >
      <h6 class="condition__title">{{ 'universal_userProfile_age' | translate }}</h6>
      <div class="flexRow condition__content">
        <input
          class="age__input"
          type="text"
          placeholder="0"
          maxlength="3"
          (change)="handleAgeRange($event, 'min')"
        >
        ～
        <input
          class="age__input"
          type="text"
          placeholder="100"
          maxlength="3"
          (change)="handleAgeRange($event, 'max')"
        >
      </div>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.deviceType"
    >
      <h6 class="condition__title">{{ 'universal_deviceSetting_modeType' | translate }}</h6>
      <div class="flexRow condition__content" style="flex-wrap: wrap;">
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('1')"
          (click)="selectDevice('1')"
        >{{ 'universal_vocabulary_wearableDevice' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('2')"
          (click)="selectDevice('2')"
        >{{ 'universal_vocabulary_treadmill' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('3')"
          (click)="selectDevice('3')"
        >{{ 'universal_vocabulary_spinBike' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('4')"
          (click)="selectDevice('4')"
        >{{ 'universal_vocabulary_rowingMachine' | translate }}
        </button>
        <button
          class="condition__btn"
          [class.condition__btn--active]="reportConditionOpt.deviceType.includes('5')"
          (click)="selectDevice('5')"
        >{{ 'universal_vocabulary_sensor' | translate }}
        </button>
      </div>
    </section>
    <section
      class="flexCol condition__section"
      *ngIf="reportConditionOpt && reportConditionOpt.deviceUseStatus"
    >
      <h6 class="condition__title">{{ 'universal_group_status' | translate }}</h6>
      <div class="flexRow condition__content">
        <div class="flexRow radio__section map__child__block" style="flex-wrap: wrap;">
          <span class="flexRow radioSelector" (click)="changeFitpairUse('all')">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.deviceUseStatus === 'all'"
            ></span>
            <span>{{ 'universal_adjective_all' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeFitpairUse('fitpairing')">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.deviceUseStatus === 'fitpairing'"
            ></span>
            <span id="fitpairing__mark">{{ 'universal_uiFitpair_fitpairing' | translate }}</span>
          </span>
          <span class="flexRow radioSelector" (click)="changeFitpairUse('idle')">
            <span
              class="radioBtn"
              [class.radioBtn--active]="reportConditionOpt.deviceUseStatus === 'idle'"
            ></span>
            <span>{{ 'universal_uiFitpair_noFitpaired' | translate }}</span>
          </span>
        </div>
      </div>
    </section>
    <div style="display: flex; justify-content: flex-end;" *ngIf="reportConditionOpt && !reportConditionOpt.hideConfirmBtn">
      <span class="confirm__btn" (click)="submit()">{{ 'universal_operating_confirm' | translate }}</span>
    </div>
  </main>
</div>