@import 'transition.scss';
@import 'flex-center.scss';
@import 'font.scss';
@import "transform.scss";
@import 'overflow-scroll';

$active-color: rgba(38, 171, 227, 1);
$hover-bg-gray: rgba(240, 240, 240, 1);
$drop-list-width: 200px;

@mixin default-btn($bg-color) {
  @include center();
  @include transition(background-color);
  cursor: pointer;
  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
  background-color: $bg-color;
  @content;
}

@mixin condition-input($width) {
  width: $width;
  color: var(--scale-0-255);
  border-color: var(--scale-120-200);
  border-radius: 20px;
  border-color: rgba(17, 166, 235, 1);
  outline: none;
  padding-left: 10px;
}

.condition__unfold__icon {
  color: var(--scale-100-230);
  @include transition(transform);
  margin-left: 10px;
}

.condition__fold__icon {
  @include transition(transform);
  @include el-rotate(180deg);
}

#date__selector__bar {
  @include center();
  height: 50px;
  cursor: pointer;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.date__type__bar {
  @include transition(transform);
  height: 100%;
}

.selector__tab__title {
  @include center();
  color: var(--scale-75-230);
  font-size: 14px;
  padding: 0 24px;
  min-width: 160px;
  text-align: center;
  white-space: nowrap;
  height: 100%;

  &:hover {
    background-color: var(--scale-245-50);
  }

}

#shiftDate {
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 5px 0px;
  display:flex;
  align-items: center;
  color: var(--scale-0-255);
}

.switch__btn {
  color: var(--scale-0-255);
  @include center();
  font-size: 24px;

  &:hover {
    background-color: var(--scale-245-50);
  }

}

.btn__disabled {
  color: var(--scale-200-130);
  pointer-events: none;
}

.report__time__btn {
  color: var(--scale-0-255);

  &[disabled] {
    color: var(--scale-200-130);
  }

}

.date__drop {
  align-items: center;
  min-width: 120px;
  width: fit-content;
  border: 1px solid rgba(210, 210, 210, 1);
  cursor: pointer;
  position: absolute;
  top: 50px;
  z-index: 1;
  background-color: var(--scale-255-60);
  color: var(--scale-0-255);
}

.calendar_period__option {
  padding: 5px 0;
  width: 100%;
  text-align: center;
  
  &:hover {
    background-color: $active-color;
    color: white;
  }

}

.date__type--active {
  color: $active-color;
}

.date__selector--active {
  @include transition(transform);
  width: 160px;
  border-bottom: 3px solid $active-color;
  position: absolute;
  top: 45px;
}

.condition__section {
  margin: 3px 0;
}

.condition__title {
  @include subtitle-or-focus(16px);
}

.condition__subtitle {
  @include subtitle-color-custom(14px, var(--scale-75-230));
}

.condition__content {
  margin-left: 35px;
  flex-wrap: wrap;
  color: var(--scale-0-255);
}

.condition__btn {
  @include default-btn(rgba(190, 190, 190, 1));
  color: white;
  font-size: 14px;
  border-radius: 3px;

  &:hover {
    background-color: rgba(150, 150, 150, 1);
  }

}

.condition__btn--active {
  @include transition(background-color);
  color: black;
  background-color: rgba(255, 254, 169, 1);

  &:hover {
    background-color: rgba(255, 253, 120, 1);
  }

}

.confirm__btn {
  @include default-btn(rgba(38, 171, 227, 1));
  @include multiple-transition((top $move-effect, left $move-effect));
  position: relative;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(50, 190, 250, 1);
  }

  &:active {
    top: 2px;
    left: 2px;
    @include multiple-transition((top $move-effect, left $move-effect));
  }

}

.map__choice {
  display: flex;
  justify-content: center;
  min-width: $drop-list-width;
  width: fit-content;
  height: 30px;
  border: 1px solid;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
}

.map__choosed__text {
  padding: 2px 14px 2px 6px;
  position: relative;


  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: var(--scale-0-255) transparent transparent transparent;
    @include transition(transform);
  }

}

.map__choose--active {

  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }

}

.choice__item {
  padding: 2px;
  width: 100%;
  text-align: center;
  @include multiple-transition((color $move-effect, background-color $move-effect));

  &:hover {
    color: white;
    background-color: $active-color;
    @include multiple-transition((color $move-effect, background-color $move-effect));
  }

}

#map__drop__list {
  @include overflow-y-scroll();
  position: absolute;
  z-index: 10;
  background-color: var(--scale-255-60);
  border: 1px solid;
  padding: 5px 10px;
  min-width: $drop-list-width;
  max-height: 350px;
  top: 28px;
}

.map__child__block {
  margin: 5px 0;
}

.age__input {
  @include condition-input(50px);
}

#keyword {
  @include condition-input(200px);
}

#fitpairing__mark {
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: #08d818;
    margin-right: 2px;
  }

}