<ng-container *ngIf="editing">
  <form (ngSubmit)="clickSaveBtn()" #orderForm="ngForm">
    <div class="edit_section">
      <div class="edit_header">
        <div *ngIf="isNewForm" class="title">銷貨單新增</div>
        <div *ngIf="!isNewForm" class="title">銷貨單編輯</div>
        <div (click)="clickCloseBtn()" class="close_button icon_button"></div>
      </div>
      <div class="edit_detail">
        <div class="label_input">
          <label class="edit_item_label required">銷貨單號</label>
          <input
            #order_no
            class="input"
            placeholder="order no"
            maxlength="15"
            type="text"
            [class.input_uneditable]="!isNewForm"
            [(ngModel)]="orderInfo.order_no"
            name="order_no"
            [disabled]="!isNewForm"
            required
          />
          <div
            class="error_message"
            *ngIf="orderForm.submitted && orderForm.form.controls.order_no.hasError('required')"
          >
            必填
          </div>
        </div>

        <div class="label_input">
          <label class="edit_item_label required">姓名</label>
          <input
            class="input"
            maxlength="128"
            [(ngModel)]="orderInfo.user_name"
            placeholder="user name"
            name="user_name"
            required
          />
          <div
            class="error_message"
            *ngIf="orderForm.submitted && orderForm.form.controls.user_name.hasError('required')"
          >
            必填
          </div>
        </div>
        <div class="label_input">
          <label class="edit_item_label required">電話</label>
          <input
            class="input"
            maxlength="32"
            type="tel"
            (input)="onInput($event)"
            (compositonstart)="onInput($event)"
            [(ngModel)]="orderInfo.phone"
            name="phone"
            placeholder="phone"
            required
          />
          <div
            class="error_message"
            *ngIf="orderForm.submitted && orderForm.form.controls.phone.hasError('required')"
          >
            必填
          </div>
        </div>
        <div class="label_input">
          <label class="edit_item_label required">地址</label>
          <input
            class="input"
            maxlength="128"
            [(ngModel)]="orderInfo.address"
            name="address"
            placeholder="address"
            required
          />
          <div
            class="error_message"
            *ngIf="orderForm.submitted && orderForm.form.controls.address.hasError('required')"
          >
            必填
          </div>
        </div>
        <div class="label_input">
          <label class="edit_item_label">銷售渠道</label>
          <div class="input_select input">
            <div
              class="foldable"
              [class.default-option]="!orderInfo.sales_channel"
              [class.unfold]="showSalesChannelDropdown"
              (click)="toggleSalesChannelDropdown()"
            >
              {{ orderInfo.sales_channel || '請選擇' }}
            </div>
            <div *ngIf="showSalesChannelDropdown" class="toggle_dropdown">
              <ul class="dropdown_ul">
                <li
                  *ngFor="let salesChannel of salesChannelList"
                  (click)="selectChannel(salesChannel)"
                  class="dropdown_list"
                >
                  {{ salesChannel }}
                </li>
              </ul>
            </div>
            <i
              (click)="editForm('salesChannel')"
              class="icon-svg_web-icon_p2_026-more icon_button"
            ></i>
          </div>
        </div>
        <div class="memo_label_input">
          <label class="edit_item_label">備註</label>
          <textarea
            (input)="countTextLength($event.target.value)"
            maxlength="200"
            class="input"
            [(ngModel)]="orderInfo.memo"
            name="memo"
          ></textarea>
          <span class="textLength">{{ textLength }}/200</span>
        </div>
        <div class="img_label_input">
          <label class="edit_item_label">附加檔案</label>

          <input
            #fileInput
            (change)="previewImg(fileInput)"
            type="file"
            id="img_input"
            name="img_input"
            accept=".jpg,.jpeg,.png,.gif"
          />
          <div class="img_list">
            <ng-container *ngFor="let fileName of fileNames; let index = i">
              <div class="img_wrap">
                <img
                  (click)="openImage(imgPath + fileName)"
                  [src]="imgPath + fileName"
                  alt="附加檔案"
                  id="image_preview"
                />
                <div (click)="deleteImg(fileName)" class="close_button delete_img_button"></div>
              </div>
            </ng-container>
            <label *ngIf="!filesMax" class="img_wrap" for="img_input">
              <div class="add_icon add_img_circle"></div>
            </label>
            <label *ngIf="filesMax">
              <div>圖片數量達上限</div>
            </label>
          </div>
        </div>
      </div>

      <button type="submit" class="save_button">
        <mat-icon class="save_button_icon">save</mat-icon>儲存
      </button>
    </div>
  </form>
</ng-container>

<!-- 編輯-銷售渠道 -->
<ng-container *ngIf="editSalesChannel">
  <app-edit-sales-channel
    [(editing)]="editing"
    [(editSalesChannel)]="editSalesChannel"
    (infoChange)="getSalesChannelsApi()"
  >
  </app-edit-sales-channel>
</ng-container>
