<div class="pageTitle">Device_log Lists</div>
<mat-form-field>
  <input matInput placeholder="info搜尋" (keyup)="searchInfo($event)" [matAutocomplete]="auto" />
</mat-form-field>
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option *ngFor="let option of infoOptions" [value]="option" (click)="selectTarget(option)">
    {{ option }}
  </mat-option>
</mat-autocomplete>
<button
  mat-icon-button
  style="
    background-color: #26abe3;
    color: #fff;
    transform: scale(0.85);
    margin: 5px 0 0 5px;
    padding: 9px;
  "
  (click)="search($event)"
>
  <mat-icon>search</mat-icon>
</button>
<mat-paginator
  #paginatorA
  [length]="totalCount"
  [pageIndex]="currentPage?.pageIndex"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15]"
></mat-paginator>

<mat-table
  [dataSource]="logSource"
  matSort
  #sortTable="matSort"
  (matSortChange)="changeSort($event)"
>
  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef>Info</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.info }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" start="asc">
      最終紀錄時間
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.time }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="counts">
    <mat-header-cell *matHeaderCellDef>筆數</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['info', 'time', 'counts']"></mat-header-row>
  <mat-row
    *matRowDef="let logRow; columns: ['info', 'time', 'counts']"
    (click)="goDetail(logRow.user_id)"
  >
  </mat-row>
</mat-table>
<div class="ala-loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-paginator
  #paginatorB
  [length]="totalCount"
  [pageIndex]="currentPage?.pageIndex"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15]"
>
</mat-paginator>
