<div class="ala-upload" [class.avastarLayout]="isUserAvastarMode">
  <div *ngIf="isImageFileMode"
    class="ala-upload-image"
    [class.ala-upload-image--vertical]="isImgVertical$ | async"
  >
    <button
      class="profile-picture__Ok"
      *ngIf="imgCropping"
      (click)="closeImgCropping()"
      style="right: -35px; top: -20px"
    >
      <i class="icon-svg_web-icon_p2_097-ok profile-picture__Ok-icon" style="font-size: 30px; border: 2px solid;"></i>
    </button>
    <img
    *ngIf="!(isUploadNewImg$ | async) && imageURL?.length > 0"
    [src]="imageURL | safeHtml"
    [class.avastarMode]="isUserAvastarMode"
    >
    <p *ngIf="!(isUploadNewImg$ | async) && !(fileInformation?.link || imageURL)"
      style="position:absolute;top:50%;left:50%;width:100%;text-align:center;transform:translate(-50%, -50%)"
    >
      Choose a file or drag it here
    </p>
    <mat-spinner *ngIf="isImgUpLoading"></mat-spinner>
    <img
      [src]="croppedImage"
      class="imgCropped"
      *ngIf="imgSelected"
      [class.avastarMode]="isUserAvastarMode"/>
  </div>
  <div [class.ala-upload--descrption]="isImageFileMode">
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <label class="fileupload">
        <button class="alatech-btn alatech-btn--default"
          (click)="handleBtnEvent()"
          *ngIf="!imgCropping"
          style="line-height: 1;"
          [class.avastarBtn]="isUserAvastarMode"
        >
          {{ 'Dashboard.Group.GroupInfo.selectImg' | translate }}
        </button>
        <input type="file"
          class="fileupload__input"
          (change)="handleChange($event)"
          accept=".jpg,.jpeg,.gif,.png"
          #fileUpload
          id="inputFile"
        />
      </label>
      <button *ngIf="imgSelected && !imgCropping"
        class="alatech-btn alatech-btn--default"
        style="position: relative; z-index: 2; margin-left: 10px;"
        (click)="reEditImg()"
      >
        {{ 'Dashboard.Group.GroupInfo.edit' | translate }}
      </button>
    </div>
    <div
      *ngIf="isImageFileMode && !imgCropping && !isUserAvastarMode"
      style="margin-top:15px;font-size:12px;font-weight:400;color:#999;text-align:left"
    >
      <!-- *照片格式限{{ accept }} -->
      *{{ accept }}
    </div>
  </div>
</div>

<div class="imgCropped" *ngIf="imgSelected && imgCropping">
  <div style="margin-left: 10px">
    <button class="alatech-btn alatech-btn--default imgEditBtn" (click)="rotateLeft()">
      <i class="icon-svg_web-icon_p3_003-left_turn activity-info_icon_size"></i>
    </button>
    <button class="alatech-btn alatech-btn--default imgEditBtn" (click)="rotateRight()">
      <i class="icon-svg_web-icon_p3_002-right_turn activity-info_icon_size"></i>
    </button>
    <button class="alatech-btn alatech-btn--default imgEditBtn" (click)="flipHorizontal()">
      <i class="icon-svg_web-icon_p3_004-horizontal_mirroring activity-info_icon_size"></i>
    </button>
    <button class="alatech-btn alatech-btn--default imgEditBtn" (click)="flipVertical()">
      <i class="icon-svg_web-icon_p3_005-vertical_mirroring activity-info_icon_size"></i>
    </button>
  </div>
  <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="256"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
</div>


