<div class="container" style="padding-top: 30px">
  <div class="user-profile-wrapper">
    <div class="avatar-wrapper">
      <img *ngIf="userImg"
        [src]="(userImg | safeHtml)"
      >
      <div class="username-label">
        {{userName}}
      </div>
    </div>
    <div class="genesis-message">
      <i class="icon-svg_web-icon_p1_059-lock" style="font-size: 100px"></i>
      <p class="h5"
        style="margin-top: 30px;color: #333;"
      >{{userName}}僅公開分享部分資訊</p>
    </div>
  </div>
</div>
