.avatar-wrapper {
  position: relative;
  width: 180;
  height: 180;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
.username-label {
  margin: 15px 0 37px;
  padding: 3px 10px;
  color: #3e3e3e;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.genesis-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.user-profile-wrapper {
  .nav {
    flex-direction: column;
  }
  .nav > li {
    font-size: 19px;
    padding: 10px 0px;
    cursor: pointer;
    color: #919191;
    font-weight: 700;
  }
  .nav > li.active {
    color: #26abe3;
  }
}
.user-profile-title {
  color: #26abe3;
  font-weight: 700;
  font-size: 19px;
}
@media(max-width: 767px) {
  .genesis-message {
    margin-top: 50px;
  }
  .user-profile-wrapper {
    flex-direction: column;
    align-items: center;
    .nav {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
