// 通用顏色
$darkest-gray: rgba(50, 50, 50, 1);
$darker-gray: rgba(100, 100, 100, 1);
$gray: rgba(150, 150, 150, 1);
$lighter-gray: rgba(200, 200, 200, 1);
$ligntest-gray: rgba(245, 245, 245, 1);
$primary-blue: rgba(0, 183, 238, 1);
$deep-blue: rgba(0, 104, 183);
$warn-red: rgb(255, 75, 75, 1);
$official-theme-color: rgba(229, 68, 68, 1);
$official-theme-color-light: rgba(255, 158, 158, 1);
$official-theme-color-deep: rgba(250, 33, 33, 1);

// 心率或閾值區間顏色
$zone-color:
  rgba(112, 177, 243, 1),
  rgba(100, 224, 236, 1),
  rgba(171, 247, 132, 1),
  rgba(247, 242, 91, 1),
  rgba(243, 179, 83, 1),
  rgba(243, 105, 83, 1),
  rgba(239, 56, 150, 1);