@mixin overflow-y-scroll($showBar: true) {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @if $showBar {
    scrollbar-width: thin;
  }
}

@mixin overflow-x-scroll($showBar: true) {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  @if $showBar {
    scrollbar-width: thin;
  }
}
