// rotate 各瀏覽器支援

@mixin el-rotate($degree) {
    -moz-transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -o-transform: rotate($degree);
    -ms-transform: rotate($degree);
    transform: rotate($degree);
}

@mixin el-scaleX($degree) {
    -moz-transform: scaleX($degree);
    -webkit-transform: scaleX($degree);
    -o-transform: scaleX($degree);
    -ms-transform: scaleX($degree);
    transform: scaleX($degree);
}

@mixin el-transform($effect) {
    -moz-transform: $effect;
    -webkit-transform: $effect;
    -o-transform: $effect;
    -ms-transform: $effect;
    transform: $effect;
}