<app-loading-bar [progress]="uiFlag.progress"></app-loading-bar>
<nav>
  <button class="flexRow appview-backButton" (click)="turnBack()">
    <i class="icon-svg_web-icon_p1_016-back"></i>
    <span>{{ 'universal_operating_back' | translate }}</span>
  </button>
</nav>
<main class="appview-whiteText">
  <div class="flexCol appview-contentArea">
    <h4
      [ngClass]="{
        'appview-tftPageTitle': !mobileSize,
        'appview-mobilePageTitle': mobileSize
      }"
    >
      {{ 'universal_userAccount_performDataArchiving' | translate }}
    </h4>
    <div class="flexCol">
      <div class="flexCol appview-contentDetail">
        <p style="margin: 0">
          {{ 'universal_userAccount_dataArchivingInstructions' | translate }}
        </p>
      </div>
      <ng-container
        *ngIf="![CompressStatus.complete, CompressStatus.prohibited].includes(compressResp.status)"
      >
        <div *ngTemplateOutlet="mainButton"></div>
      </ng-container>
      <div
        class="flexCol appview-contentDetail"
        *ngIf="[CompressStatus.complete, CompressStatus.prohibited].includes(compressResp.status)"
      >
        <ng-contaiiner *ngIf="compressResp.status === CompressStatus.complete">
          <p>
            {{
              'universal_userAccount_downloadPeriod'
                | translate
                  : {
                      'yyyy-mm-dd': compressResp.archiveLinkDate,
                      'HH:MM': compressResp.archiveLinkTime
                    }
            }}
          </p>
          <textarea
            #dataLink
            id="compress__link"
            [value]="compressResp.archiveFakeLink"
            readonly
          ></textarea>
        </ng-contaiiner>
        <p
          style="color: rgba(255, 150, 150, 1); margin: 0"
          *ngIf="compressResp.status === CompressStatus.prohibited"
        >
          {{
            'universal_userAccount_duplicateArchive'
              | translate
                : {
                    'yyyy-mm-dd': compressResp.cooldownDate,
                    'HH:MM': compressResp.cooldownTime
                  }
          }}
        </p>
      </div>
      <ng-container
        *ngIf="
          (compressResp.status === CompressStatus.complete && !uiFlag.tftDevice) ||
          compressResp.status === CompressStatus.prohibited
        "
      >
        <div *ngTemplateOutlet="mainButton"></div>
      </ng-container>
    </div>
  </div>
</main>
<ng-template #mainButton>
  <div class="appview-buttonArea" [ngSwitch]="compressResp.status">
    <button
      class="appview-submitButton appview-center appview-unclickable"
      *ngSwitchCase="CompressStatus.processing"
    >
      {{ 'universal_status_processing' | translate }}
    </button>
    <button
      class="appview-submitButton appview-center"
      [class.appview-unclickable]="uiFlag.progress !== 100"
      (click)="handleClickBtn()"
      *ngSwitchCase="CompressStatus.complete"
    >
      {{ 'universal_operating_download' | translate }}
    </button>
    <button
      class="appview-submitButton appview-center"
      [class.appview-unclickable]="
        uiFlag.progress !== 100 || compressResp.status === CompressStatus.prohibited
      "
      (click)="handleClickBtn()"
      *ngSwitchDefault
    >
      {{ 'universal_userAccount_performDataArchiving' | translate }}
    </button>
  </div>
</ng-template>
