#compress__link {
  margin-bottom: 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  font-size: 10px;
  height: 150px;
  overflow: scroll;
  scrollbar-width: thin;
  outline: none;
  resize: none;
}