<app-loading-bar [progress]="uiFlag.progress"></app-loading-bar>
<div class="flexCol">
  <div class="flexRow control__section">
    <div 
      class="flexRow filter__area"
      *ngIf="uiFlag.currentPage === 'activity-list'"
    >
      <div class="flexCol filter__block">
        <label for="date__filter__button" class="list__filter__label">
          {{ 'universal_vocabulary_raceDate' | translate }}
        </label>
        <div style="position: relative;">
          <div class="flexRow">
            <button
              id="date__filter__button"
              class="filter__button"
              (click)="checkScreenHeight($event)"
            >
              {{ 
                selectDate.startTimestamp | timeFormat: 'YYYY-MM-DD'
              }}~{{
                selectDate.endTimestamp | timeFormat: 'YYYY-MM-DD'
              }}
              <i
                class="icon-svg_web-icon_p1_006-unfold drop__icon"
                [class.drop__icon__rotate]="uiFlag.openDatePicker"
              ></i>
            </button>
          </div>
          <app-date-range-picker
            (selectDateRange)="getSelectDate($event)"
            [pickerType]="'rangePick'"
            [serialId]="'1'"
            [startTimeStamp]="selectDate.startTimestamp"
            [endTimeStamp]="selectDate.endTimestamp"
            [openPicker]="uiFlag.openDatePicker"
            [editStyle]="'
              position: absolute;
              top: 0;
              max-width: 0px;
              opacity: 0;
            '"
          ></app-date-range-picker>
        </div>
      </div>
      <div class="flexCol filter__block">
        <label for="status__filter__button" class="list__filter__label">
          {{ 'universal_group_status' | translate }}
        </label>
        <div class="drop__area">
          <div class="flexRow">
            <button
              id="status__filter__button"
              class="filter__button"
              (click)="showListStatusMenu($event)"
            >
              {{ eventListCondition.filterListStatus | listStatus | translate }}
              <i
                class="icon-svg_web-icon_p1_006-unfold drop__icon"
                [class.drop__icon__rotate]="uiFlag.showListStatusMenu"
              ></i>
            </button>
          </div>
          <ul class="list__status__menu" *ngIf="uiFlag.showListStatusMenu">
            <li
              class="flexRow status__menu__content"
              (click)="chooseListStatus($event, ListStatus.all)"
            >
              <span class="drop__menu__check">
                <ng-container 
                  *ngIf="eventListCondition.filterListStatus === ListStatus.all"
                >
                  <mat-icon class="check__icon">done</mat-icon>
                </ng-container>
              </span>
              <span>{{ 'universal_adjective_all' | translate }}</span>
            </li>
            <li
              class="flexRow status__menu__content"
              (click)="chooseListStatus($event, ListStatus.applying)"
            >
              <span class="drop__menu__check">
                <ng-container 
                  *ngIf="eventListCondition.filterListStatus === ListStatus.applying"
                >
                  <mat-icon class="check__icon">done</mat-icon>
                </ng-container>
              </span>
              <span>{{ 'universal_vocabulary_signOpen' | translate }}</span>
            </li>
            <li
              class="flexRow status__menu__content"
              (click)="chooseListStatus($event, ListStatus.applyCutOff)"
            >
              <span class="drop__menu__check">
                <ng-container 
                  *ngIf="eventListCondition.filterListStatus === ListStatus.applyCutOff"
                >
                  <mat-icon class="check__icon">done</mat-icon>
                </ng-container>
              </span>
              <span>{{ 'universal_vocabulary_signEnd' | translate }}</span>
            </li>
            <li
              class="flexRow status__menu__content"
              (click)="chooseListStatus($event, ListStatus.racing)"
            >
              <span class="drop__menu__check">
                <ng-container 
                  *ngIf="eventListCondition.filterListStatus === ListStatus.racing"
                >
                  <mat-icon class="check__icon">done</mat-icon>
                </ng-container>
              </span>
              <span>{{ 'universal_vocabulary_raceInProgress' | translate }}</span>
            </li>
            <li
              class="flexRow status__menu__content"
              (click)="chooseListStatus($event, ListStatus.eventFinished)"
            >
              <span class="drop__menu__check">
                <ng-container 
                  *ngIf="eventListCondition.filterListStatus === ListStatus.eventFinished"
                >
                  <mat-icon class="check__icon">done</mat-icon>
                </ng-container>
              </span>
              <span>{{ 'universal_vocabulary_raceEnd' | translate }}</span>
            </li>
            <li
              class="flexRow status__menu__content"
              (click)="chooseListStatus($event, ListStatus.eventCancel)"
            >
              <span class="drop__menu__check">
                <ng-container 
                  *ngIf="eventListCondition.filterListStatus === ListStatus.eventCancel"
                >
                  <mat-icon class="check__icon">done</mat-icon>
                </ng-container>
              </span>
              <span>{{ 'universal_vocabulary_raceCancel' | translate }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="flexRow"
      *ngIf="
        userProfile?.systemAccessRight[0] === 28
        && !uiFlag.isMobile
        && uiFlag.currentPage === 'activity-list'
      "
    >
      <button 
        class="manage__btn"
        (click)="navigatePage($event, 'edit-carousel')"
      >
        編輯輪播
      </button>
      <button
        class="manage__btn"
        (click)="navigatePage($event, 'edit-activity', -1, true)"
      >
        新建賽事
      </button>
      <button class="manage__btn" (click)="switchEditMode()">
        <ng-container *ngIf="!uiFlag.editMode">
          管理賽事
        </ng-container>
        <ng-container *ngIf="uiFlag.editMode">
          取消管理
        </ng-container>
      </button>
    </div>
    <div
      class="flexRow"
      style="position: relative; justify-content: flex-end;"
      *ngIf="
        userProfile?.systemAccessRight[0] === 28
        && uiFlag.isMobile
        && uiFlag.currentPage === 'activity-list'
      "
    >
      <button class="manage__menu__btn manage__btn" (click)="showManageMenu($event)">
        管理
      </button>
      <ul class="manage__menu" *ngIf="uiFlag.showManageMenu">
        <li>
          <button (click)="navigatePage($event, 'edit-carousel')">
            編輯輪播
          </button>
        </li>
        <li>
          <button (click)="navigatePage($event, 'edit-activity', -1, true)">
            新建賽事
          </button>
        </li>
        <li>
          <button (click)="switchEditMode()">
            <ng-container *ngIf="!uiFlag.editMode">
              管理賽事
            </ng-container>
            <ng-container *ngIf="uiFlag.editMode">
              取消管理
            </ng-container>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <ul class="flexCol activity__list__section">
    <li class="activity__list" *ngIf="effectEventList.length === 0">
      <ng-container *ngIf="!uiFlag.isMobile">
        <div class="flexRow">
          <div class="theme__img theme__no__img">
            <i class="icon-svg_web-icon_p3_072-photo no__img"></i>
          </div>
          <div
            class="flexCol race__list"
            [class.divider__line]="uiFlag.currentPage === 'activity-list' || screenSize > 1150"
          >
            <div class="flexRow">
              <div
                class="flexCol race__info"
                [style.width]="
                  uiFlag.currentPage === 'my-activity' && screenSize < 1150 ? '100%' : ''
                "
              >
                <div class="flexRow race__info__header">
                  <h3 class="race__title">
                    {{ 'universal_vocabulary_noRacesAtAll' | translate }}
                  </h3>
                </div>
                <p class="race__description">
                  {{ 'universal_vocabulary_noRaces' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="uiFlag.isMobile">
        <div class="flexCol" style="width: 90vw; margin: 0 auto;">
          <h3 class="race__title">
            {{ 'universal_vocabulary_noRacesAtAll' | translate }}
          </h3>
          <div class="theme__img__mobile theme__no__img">
            <i class="icon-svg_web-icon_p3_072-photo no__img"></i>
          </div>
          <div
            class="flexRow race__info__mobile"
            [class.divider__line]="
              uiFlag.currentPage !== 'my-activity' && !uiFlag.editMode
            "
          >
            <p class="race__description__mobile">
              {{ 'universal_vocabulary_noRaces' | translate }}
            </p>
          </div>
        </div>
      </ng-container>
    </li>
    <ng-container *ngFor="let _eventList of effectEventList;">
      <li
        class="activity__list"
        *ngIf="serverTimestamp >= _eventList.applyDate.startDate || userProfile?.systemAccessRight[0] <= 28"
      >
        <a
          [href]="'/official-activity/activity-detail/' + _eventList.eventId"
          target="_blank"
        >
          <div class="flexCol" style="width: 100%;">
            <ng-container *ngIf="!uiFlag.isMobile">
              <div class="flexCol" style="width: 100%;">
                <div class="flexRow">
                  <div class="theme__img">
                    <div class="flexCenter">
                      <i
                        class="icon-svg_web-icon_p3_072-photo placeholder__image"
                      ></i>
                      <img
                        class="pc__img"
                        [src]="_eventList.themeImg"
                        [alt]="_eventList.eventName"
                      >
                    </div>
                    <div
                      class="flexCenter rece__end__mask"
                      *ngIf="
                        _eventList.eventStatus === EventStatus.cancel
                        || serverTimestamp > _eventList.raceDate.endDate
                      "
                    >
                      <ng-container *ngIf="
                        _eventList.eventStatus !== EventStatus.cancel
                        && serverTimestamp > _eventList.raceDate.endDate"
                      >
                        {{ 'universal_vocabulary_ended' | translate }}
                      </ng-container>
                      <ng-container *ngIf="_eventList.eventStatus === EventStatus.cancel">
                        {{ 'universal_vocabulary_raceCancel' | translate }}
                      </ng-container>
                    </div>
                  </div>
                  <div
                    class="flexCol race__list"
                    [class.divider__line]="uiFlag.currentPage === 'activity-list' || screenSize > 1150"
                  >
                    <div class="flexRow">
                      <div
                        class="flexCol race__info"
                        [style.width]="
                          uiFlag.currentPage === 'my-activity' && screenSize < 1150 ? '100%' : ''
                        "
                      >
                        <div class="flexRow race__info__header">
                          <div class="flexCol">
                            <span *ngTemplateOutlet="applyDate;
                              context: {
                                startDate: _eventList.applyDate.startDate,
                                endDate: _eventList.applyDate.endDate,
                                eventCancel: _eventList.eventStatus === EventStatus.cancel,
                                applyFull: _eventList.numberLimit && _eventList.currentApplyNumber >= _eventList.numberLimit
                              }"
                            ></span>
                            <h3 class="race__title">{{ _eventList.eventName }}</h3>
                          </div>
                          <div *ngTemplateOutlet="raceDateArea;
                            context: {
                              raceEnd: serverTimestamp > _eventList.raceDate.endDate,
                              startDate: _eventList.raceDate.startDate * 1000,
                              endDate: _eventList.raceDate.endDate * 1000
                            }"
                          ></div>
                        </div>
                        <p class="race__description">{{ _eventList.description }}</p>
                      </div>
                      <div
                        class="flexRow map__info"
                        *ngIf="
                          allMapInfo
                          && allMapInfo[_eventList.cloudrunMapId - 1]
                          && uiFlag.currentPage === 'activity-list'
                          && !uiFlag.editMode
                        "
                      >
                        <div class="flexCol map__description" style="align-items: center;">
                          <span>
                            {{ allMapInfo[_eventList.cloudrunMapId - 1].info[mapLanguage].mapName }}
                          </span>
                          <div class="flexRow">
                            <span class="flexRow map__detail">
                              {{ allMapInfo[_eventList.cloudrunMapId - 1].distance }}KM
                            </span>
                            <span class="flexRow map__detail">
                              {{ 'universal_activityData_climb' | translate }}
                              {{ allMapInfo[_eventList.cloudrunMapId - 1].incline }}
                            </span>
                          </div>
                        </div>
                        <div class="map__img">
                          <img
                            [src]="mapImgPath + allMapInfo[_eventList.cloudrunMapId - 1].mapImg"
                            [alt]="allMapInfo[_eventList.cloudrunMapId - 1].info[mapLanguage].mapName"
                          >
                        </div>
                      </div>
                      <ng-container *ngIf="uiFlag.editMode">
                        <div
                          *ngTemplateOutlet="editSection; context: {
                            eventId: _eventList.eventId,
                            canEdit: _eventList.eventStatus !== EventStatus.cancel,
                            eventName: _eventList.eventName,
                            mapId: _eventList.cloudrunMapId,
                            endDate: _eventList.raceDate.endDate
                          }"
                        ></div>
                      </ng-container>
                      <div
                        class="flexCol history__detail"
                        *ngIf="uiFlag.currentPage === 'my-activity' && screenSize > 1150"
                      >
                        <div *ngTemplateOutlet="applySchedule; context: {
                          eventId: _eventList.eventId,
                          haveProduct: _eventList.haveProduct === HaveProduct.yes,
                          feeTitle: _eventList.feeTitle,
                          feeId: _eventList.feeId,
                          fee: _eventList.fee,
                          applyStatus: _eventList.applyStatus,
                          paidStatus: _eventList.paidStatus,
                          productShipped: _eventList.productShipped,
                          endDate: _eventList.applyDate.endDate,
                          eventCancel: _eventList.eventStatus === EventStatus.cancel,
                          applyFull: _eventList.numberLimit && _eventList.currentApplyNumber >= _eventList.numberLimit
                        }"></div>
                        <div *ngTemplateOutlet="historyRecord; context: {
                          record: _eventList.record,
                          rank: _eventList.rank,
                          totalRacer: _eventList.totalRacerCounts,
                          groupName: _eventList.groupName
                        }"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flexRow history__detail"
                  *ngIf="uiFlag.currentPage === 'my-activity' && screenSize <= 1150 && screenSize > 767"
                >
                  <div *ngTemplateOutlet="applySchedule; context: {
                    eventId: _eventList.eventId,
                    haveProduct: _eventList.haveProduct === HaveProduct.yes,
                    feeTitle: _eventList.feeTitle,
                    feeId: _eventList.feeId,
                    fee: _eventList.fee,
                    applyStatus: _eventList.applyStatus,
                    paidStatus: _eventList.paidStatus,
                    productShipped: _eventList.productShipped,
                    endDate: _eventList.applyDate.endDate,
                    eventCancel: _eventList.eventStatus === EventStatus.cancel,
                    applyFull: _eventList.numberLimit && _eventList.currentApplyNumber >= _eventList.numberLimit
                  }"></div>
                  <div *ngTemplateOutlet="historyRecord; context: {
                    record: _eventList.record,
                    rank: _eventList.rank,
                    totalRacer: _eventList.totalRacerCounts,
                    groupName: _eventList.groupName
                  }"></div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="uiFlag.isMobile">
              <div class="flexCol" style="width: 90vw; margin: 0 auto;">
                <h3 class="race__title">{{ _eventList.eventName }}</h3>
                <span *ngTemplateOutlet="applyDate;
                  context: {
                    startDate: _eventList.applyDate.startDate,
                    endDate: _eventList.applyDate.endDate,
                    eventCancel: _eventList.eventStatus === EventStatus.cancel,
                    applyFull: _eventList.numberLimit && _eventList.currentApplyNumber >= _eventList.numberLimit
                  }"
                ></span>
                <div
                  class="flexRow"
                  style="align-items: center;"
                  *ngIf="uiFlag.currentPage === 'activity-list'"
                >
                  <div class="map__img__mobile">
                    <img
                      [src]="mapImgPath + allMapInfo[_eventList.cloudrunMapId - 1].mapImg"
                      [alt]="allMapInfo[_eventList.cloudrunMapId - 1].info[mapLanguage].mapName"
                    >
                  </div>
                  <div class="flexCol map__info__mobile">
                    <span>
                      {{ allMapInfo[_eventList.cloudrunMapId - 1].info[mapLanguage].mapName }}
                    </span>
                    <div class="flexRow">
                      <span class="flexRow map__detail__mobile">
                        {{ allMapInfo[_eventList.cloudrunMapId - 1].distance }}KM
                      </span>
                      <span class="flexRow map__detail__mobile">
                        {{ 'universal_activityData_climb' | translate }}
                        {{ allMapInfo[_eventList.cloudrunMapId - 1].incline }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="theme__img__mobile">
                  <i
                    class="icon-svg_web-icon_p3_072-photo placeholder__image"
                  ></i>
                  <img
                    class="mobile__image"
                    [src]="_eventList.themeImg"
                    [alt]="_eventList.eventName"
                  >
                  <div
                    class="flexCenter rece__end__mask"
                    *ngIf="
                      serverTimestamp > _eventList.raceDate.endDate
                      || _eventList.eventStatus === EventStatus.cancel
                    "
                  >
                    <ng-container *ngIf="
                      _eventList.eventStatus !== EventStatus.cancel
                      && serverTimestamp > _eventList.raceDate.endDate"
                    >
                      {{ 'universal_vocabulary_ended' | translate }}
                    </ng-container>
                    <ng-container *ngIf="_eventList.eventStatus === EventStatus.cancel">
                      {{ 'universal_vocabulary_raceCancel' | translate }}
                    </ng-container>
                  </div>
                </div>
                <div
                  class="flexRow race__info__mobile"
                  [class.divider__line]="
                    uiFlag.currentPage !== 'my-activity' && !uiFlag.editMode
                  "
                >
                  <div *ngTemplateOutlet="raceDateArea;
                    context: {
                      raceEnd: serverTimestamp > _eventList.raceDate.endDate,
                      startDate: _eventList.raceDate.startDate * 1000,
                      endDate: _eventList.raceDate.endDate * 1000
                    }"
                  ></div>
                  <p class="race__description__mobile">{{ _eventList.description }}</p>
                </div>
                <ng-container *ngIf="uiFlag.editMode">
                  <div
                    *ngTemplateOutlet="editSection; context: {
                      eventId: _eventList.eventId,
                      canEdit: _eventList.eventStatus !== EventStatus.cancel,
                      eventName: _eventList.eventName,
                      mapId: _eventList.cloudrunMapId,
                      endDate: _eventList.raceDate.endDate
                    }"
                  ></div>
                </ng-container>
                <div
                  class="flexCol history__detail"
                  *ngIf="uiFlag.currentPage === 'my-activity'"
                >
                  <div *ngTemplateOutlet="applySchedule; context: {
                    eventId: _eventList.eventId,
                    haveProduct: _eventList.haveProduct === HaveProduct.yes,
                    feeTitle: _eventList.feeTitle,
                    feeId: _eventList.feeId,
                    fee: _eventList.fee,
                    applyStatus: _eventList.applyStatus,
                    paidStatus: _eventList.paidStatus,
                    productShipped: _eventList.productShipped,
                    endDate: _eventList.applyDate.endDate,
                    eventCancel: _eventList.eventStatus === EventStatus.cancel,
                    applyFull: _eventList.numberLimit && _eventList.currentApplyNumber >= _eventList.numberLimit
                  }"></div>
                  <div *ngTemplateOutlet="historyRecord; context: {
                    record: _eventList.record,
                    rank: _eventList.rank,
                    totalRacer: _eventList.totalRacerCounts,
                    groupName: _eventList.groupName
                  }"></div>
                </div>
              </div>
            </ng-container>
            <div
              class="product__detail"
              *ngIf="uiFlag.currentPage === 'my-activity'"
            >
              <table>
                <thead>
                  <tr>
                    <th class="product__title">
                      {{ 'universal_vocabulary_item' | translate }}
                    </th>
                    <th class="product__fee">
                      {{ 'universal_group_cost' | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="product__title">
                      {{ _eventList.feeTitle }}
                    </td>
                    <td class="product__fee">
                      {{ _eventList.fee }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
  <div class="flexRow pagination__area" *ngIf="uiFlag.currentPage === 'activity-list'">
    <button
      class="pagination__button"
      [class.pagination__button--disabled]="eventListCondition.page.index === 0"
      (click)="switchAssignPagination(0)"
    >
      <mat-icon>first_page</mat-icon>
    </button>
    <button
      class="pagination__button"
      [class.pagination__button--disabled]="eventListCondition.page.index === 0"
      (click)="switchPrePagination()"
    >
      <i class="icon-svg_web-icon_p1_073-level_fold"></i>
    </button>
    <ul class="flexRow pagination__index__button">
      <li *ngFor="let _page of paginationList">
        <button
          class="pagination__button"
          [class.pagination__button--active]="eventListCondition.page.index === _page - 1"
          (click)="switchAssignPagination(_page - 1)"
        >
          {{ _page }}
        </button>
      </li>
    </ul>
    <button
      class="pagination__button"
      [class.pagination__button--disabled]="eventListCondition.page.index >= lastPage - 1"
      (click)="switchNextPagination()"
    >
      <i class="icon-svg_web-icon_p1_074-level_unfold"></i>
    </button>
    <button
      class="pagination__button"
      [class.pagination__button--disabled]="eventListCondition.page.index >= lastPage - 1"
      (click)="switchAssignPagination()"
    >
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>

<div
  class="official-dialog"
  (click)="closeCreateScheduleBox()"
  *ngIf="uiFlag.showCreateScheduleBox"
>
  <div
    class="flexCol"
    (click)="$event.stopPropagation();"
  >
    <div class="official-dialogTitle">
      <h5>
        建立排程賽局
      </h5>
    </div>
    <div class="flexCol official-dialogContent">
      <div class="flexCol">
        <section class="flexCol dialog__section">
          <h6>{{ 'universal_activityData_map' | translate }}</h6>
          <div class="flexRow">
            <img
              [src]="mapImgPath + allMapInfo[scheduleRace.mapIndex - 1].mapImg"
              [alt]="allMapInfo[scheduleRace.mapIndex - 1].info[mapLanguage].mapName"
              class="dialog__map__img"
            >
            <div class="flexCol dialog__map__info">
              <p>
                {{ allMapInfo[scheduleRace.mapIndex - 1].info[mapLanguage].mapName }}
              </p>
              <div class="flexRow dialog__map__detail">
                <span>
                  {{ allMapInfo[scheduleRace.mapIndex - 1].distance }}KM
                </span>
                <span>|</span>
                <span>
                  {{ 'universal_activityData_climb' | translate }}
                  {{ allMapInfo[scheduleRace.mapIndex - 1].incline }}
                </span>
              </div>
            </div>
          </div>
        </section>
        <section class="flexRow dialog__section">
          <i class="icon-svg_web-icon_p3_067-story dialog__icon"></i>
          <div class="flexCol">
            <h6>{{ 'universal_activityData_name' | translate }}</h6>
            <input 
              type="text"
              class="schedule__name"
              [placeholder]="'請輸入賽局名稱'"
              [(value)]="scheduleRace.raceName"
            >
          </div>
        </section>
        <section class="flexRow dialog__section">
          <i class="icon-svg_web-icon_p1_099-calendar dialog__icon"></i>
          <div class="flexCol">
            <h6>{{ 'universal_time_startTime' | translate }}</h6>
            <div class="flexRow">
              <app-date-range-picker
                (selectDateRange)="getScheduleDate($event)"
                [pickerType]="'singlePicker'"
                [refStartDate]="scheduleTime.date * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'"
                [default]="scheduleTime.date * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'"
                [serialId]="'2'"
                [limitMin]="scheduleTime.today * 1000"
                [editStyle]="'
                  border: none;
                  border-bottom: 1px solid rgba(100, 100, 100, 1);
                  color: rgba(150, 150, 150, 1);
                  font-weight: bold;
                '"
              ></app-date-range-picker>
              <input
                type="time"
                class="schedule__time__selector"
                [value]="scheduleTime.time | sportTime: [true, true]"
                (change)="getScheduleTime($event)"
              >
            </div>
          </div>
        </section>
      </div>
      <div class="button__area">
        <button
          style="margin: 0 auto;"
          class="official-submitButton"
          (click)="submitSchedule()"
        >
          {{ 'universal_activityData_create' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template
  #applyDate
  let-startDate="startDate"
  let-endDate="endDate"
  let-eventCancel="eventCancel"
  let-applyFull="applyFull"
>
  <span
    [class.apply__open__yet]="
      !eventCancel && !applyFull && serverTimestamp < startDate
    "
    [class.apply__opening]="
      !eventCancel && !applyFull && serverTimestamp > startDate && serverTimestamp < endDate
    "
    [class.apply__close]="
      eventCancel || applyFull || serverTimestamp > endDate
    "
  >
    <ng-container *ngIf="!eventCancel && !applyFull && serverTimestamp < startDate">
      {{ 'universal_race_notYetOpen' | translate }}
    </ng-container>
    <ng-container *ngIf="!eventCancel && !applyFull && serverTimestamp > startDate && serverTimestamp < endDate">
      {{ 'universal_vocabulary_signOpen' | translate }}
    </ng-container>
    <ng-container *ngIf="!eventCancel && !applyFull && serverTimestamp > endDate">
      {{ 'universal_vocabulary_signEnd' | translate }}
    </ng-container>
    <ng-container *ngIf="!eventCancel && applyFull">
      {{ 'universal_vocabulary_full' | translate }}
    </ng-container>
    <ng-container *ngIf="eventCancel">
      {{ 'universal_vocabulary_raceCancel' | translate }}
    </ng-container>
    <ng-container *ngIf="!eventCancel && !applyFull && uiFlag.currentPage !== 'my-activity'">
      {{ startDate * 1000 | timeFormat: 'MM/DD' }}~{{ endDate * 1000 | timeFormat: 'MM/DD' }}
    </ng-container>
  </span>
</ng-template>

<ng-template
  #raceDateArea
  let-startDate="startDate"
  let-endDate="endDate"
  let-raceEnd="raceEnd"
>
  <div class="flexCol race__date__area">
    <h6>{{ 'universal_vocabulary_raceDate' | translate }}</h6>
    <div class="flexRow">
      <div *ngTemplateOutlet="calender;
        context: {
          type: 'start',
          raceEnd,
          month: startDate | timeFormat: 'MM',
          day: startDate | timeFormat: 'DD'
        }"
      ></div>
      <div class="calender__link"></div>
      <div *ngTemplateOutlet="calender;
        context: {
          type: 'end',
          raceEnd,
          month: endDate | timeFormat: 'MM',
          day: endDate | timeFormat: 'DD'
        }"
      ></div>
    </div>
  </div>
</ng-template>

<ng-template
  #calender
  let-type="type"
  let-month="month"
  let-day="day"
  let-raceEnd="raceEnd"
>
  <div
    class="flexCol calender"
    [class.calender__start]="type === 'start'"
    [class.calender__end]="type === 'end'"
    [class.calender__race__end]="raceEnd"
  >
    <span class="calender__month">
      <ng-container *ngIf="month === '01'">
        {{ "universal_time_limit_january" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '02'">
        {{ "universal_time_limit_february" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '03'">
        {{ "universal_time_limit_march" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '04'">
        {{ "universal_time_limit_april" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '05'">
        {{ "universal_time_limit_may" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '06'">
        {{ "universal_time_limit_june" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '07'">
        {{ "universal_time_limit_july" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '08'">
        {{ "universal_time_limit_august" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '09'">
        {{ "universal_time_limit_september" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '10'">
        {{ "universal_time_limit_october" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '11'">
        {{ "universal_time_limit_november" | translate }}
      </ng-container>
      <ng-container *ngIf="month === '12'">
        {{ "universal_time_limit_december" | translate }}
      </ng-container>
    </span>
    <span class="calender__day">{{ day }}</span>
  </div>
</ng-template>

<ng-template
  #applySchedule
  let-eventId="eventId"
  let-haveProduct="haveProduct"
  let-feeTitle="feeTitle"
  let-feeId="feeId"
  let-fee="fee"
  let-applyStatus="applyStatus"
  let-paidStatus="paidStatus"
  let-productShipped="productShipped"
  let-endDate="endDate"
  let-eventCancel="eventCancel"
  let-applyFull="applyFull"
>
  <div class="flexRow" style="align-items: center;">
    <ng-container *ngIf="paidStatus === PaidStatusEnum.unPaid">
      <button
        class="apply__schedule apply__schedule__warn"
        (click)="navigatePaidPage($event, eventId, feeId, feeTitle, fee)"
        *ngIf="
          !eventCancel
          && !applyFull
          && applyStatus !== ApplyStatus.cancel
          && serverTimestamp < endDate
          && fee > 0
        "
      >
        {{ 'universal_vocabulary_tapToPay' | translate }}
      </button>
      <div 
        class="apply__schedule apply__schedule__warn"
        *ngIf="eventCancel || applyFull || serverTimestamp > endDate"
      >
        {{ 'universal_vocabulary_expired' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="
      applyStatus === ApplyStatus.applied
      && (paidStatus !== PaidStatusEnum.unPaid || fee === 0)
    "
    >
      <div class="apply__schedule apply__schedule__finish">
        {{ 'universal_vocabulary_signDone' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="applyStatus === ApplyStatus.cancel">
      <div class="apply__schedule apply__schedule__undone">
        {{ 'universal_vocabulary_signCanceled' | translate }}
      </div>
    </ng-container>
    <ng-container>
      <div
        class="apply__schedule apply__schedule__finish"
        [class.apply__schedule__undone]="
          !haveProduct || productShipped === ProductShipped.unShip
        "
        [class.apply__schedule__warn]="
          productShipped === ProductShipped.returnGoods
        "
      >
        <ng-container *ngIf="!haveProduct">
          {{ 'universal_vocabulary_noPackage' | translate }}
        </ng-container>
        <ng-container *ngIf="haveProduct && productShipped === ProductShipped.unShip">
          {{ 'universal_vocabulary_unshipped' | translate }}
        </ng-container>
        <ng-container *ngIf="haveProduct && productShipped === ProductShipped.shipped">
          {{ 'universal_vocabulary_delivered' | translate }}
        </ng-container>
        <ng-container *ngIf="haveProduct && productShipped === ProductShipped.returnGoods">
          {{ 'universal_vocabulary_returned' | translate }}
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template
  #editSection
  let-eventId="eventId"
  let-canEdit="canEdit"
  let-eventName="eventName"
  let-mapId="mapId"
  let-endDate="endDate"
>
  <div class="flexRow edit__btn">
    <button
      title="報名列表"
      (click)="navigatePage($event, 'contestant-list', eventId, true)"
    >
      <i class="icon-svg_web-icon_p3_082-ordered-list"></i>
    </button>
    <button
      [title]="canEdit ? '編輯賽事' : '賽事凍結'"
      (click)="navigatePage($event, 'edit-activity', eventId, canEdit)"
    >
      <i class="icon-svg_web-icon_p1_008-edit" *ngIf="canEdit"></i>
      <mat-icon class="block__icon" *ngIf="!canEdit">block</mat-icon>
    </button>
    <button
      [title]="canEdit ? '排程賽局' : '賽事凍結'"
      (click)="showCreateScheduleBox(
        $event,
        eventName,
        +mapId,
        canEdit && serverTimestamp < endDate
      )"
    >
      <img
        src="/assets/icons/more_time.svg"
        alt="排程賽局"
        class="schedule__icon"
        *ngIf="canEdit && serverTimestamp < endDate"
      >
      <mat-icon
        class="block__icon"
        *ngIf="!canEdit || serverTimestamp >= endDate"
      >block</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template
 #historyRecord
 let-record="record"
 let-rank="rank"
 let-totalRacer="totalRacer"
 let-groupName="groupName"
>
  <div class="flexRow">
    <div class="flexCol history__record">
      <h6>
        {{ 'universal_vocabulary_results' | translate }}
      </h6>
      <span>
        {{ record ? (record | sportTime: [false, false]) : '--:--' }}
      </span>
    </div>
    <div class="flexCol history__record">
      <h6>
        {{ groupName }}
      </h6>
      <span>
        {{ rank || '--' }}/{{ totalRacer || '--' }}
      </span>
    </div>
  </div>
</ng-template>