<app-loading-bar [progress]="uiFlag.progress"></app-loading-bar>
<nav>
  <button
    class="flexRow appview-backButton"
    (click)="turnBack()"
  >
    <i class="icon-svg_web-icon_p1_016-back"></i>
    <span>{{ 'universal_operating_back' | translate }}</span>
  </button>
</nav>
<main class="appview-whiteText" *ngIf="user">
  <div class="flexCol appview-contentArea">
    <h4
      [ngClass]="{
        'appview-tftAlertTitle': !mobileSize,
        'appview-mobilePageTitle': mobileSize
      }"
    >
      {{ 'universal_userAccount_accountDeletion' | translate }}
    </h4>
    <div class="flexCol">
      <div
        class="flexCol appview-contentDetail"
        *ngIf="!uiFlag.cancelDestroy"
      >
        <p>
          {{ 'universal_userAccount_accountDeletionInstructions1' | translate }}
        </p>
        <p style="margin: 0;">
          {{ 'universal_userAccount_accountDeletionInstructions2' | translate }}
        </p>
      </div>

      <ng-container
        *ngIf="destroyResp.status === DestroyStatus.notApplied && !uiFlag.cancelDestroy"
      >
        <div class="flexCol appview-contentDetail">
          <h6 class="appview-sectionSubTitle">
            {{ 'universal_userAccount_account' | translate }}
          </h6>
          <p class="appview-breakAccount" style="margin: 0;">
            <ng-container *ngIf="user.accountType === AccountTypeEnum.email">
              {{ user.email }}
            </ng-container>
            <ng-container *ngIf="user.accountType === AccountTypeEnum.phone">
              +{{ user.countryCode }} {{ user.mobileNumber }}
            </ng-container>
          </p>
        </div>
        <div
          class="flexRow appview-agreeCheckbox"
          *ngIf="uiFlag.isAnyGroupAdmin"
        >
          <div
            role="checkbox"
            tabindex="0"
            [attr.aria-checked]="checkBox.adminGiveUp"
            (click)="handleAdminGiveUp(true, false)"
          >
            {{ 'universal_userAccount_adminDeleteAccount' | translate }}
          </div>
        </div>
        <div class="flexRow appview-agreeCheckbox">
          <div
            role="checkbox"
            tabindex="1"
            [attr.aria-checked]="checkBox.compressed"
            (click)="handleCheckCompress()"
          >
            {{ 'universal_userAccount_confirmDownloadInformation' | translate }}
          </div>
        </div>
        <div class="appview-buttonArea">
          <button
            class="appview-submitButton appview-center"
            [class.appview-unclickable]="
              uiFlag.progress !== 100
              || !checkBox.compressed
              || (uiFlag.isAnyGroupAdmin && !checkBox.adminGiveUp)
            "
            (click)="applyDestroy()"
          >
            {{ 'universal_userAccount_accountDeletion' | translate }}
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="destroyResp.status === DestroyStatus.verifying">
        <section class="appview-bottomSlideIn">
          <div class="flexCol appview-contentDetail">
            <h6 class="appview-sectionSubTitle">
              {{ 'universal_userAccount_verifyAccount' | translate }}
            </h6>
            <ng-container *ngIf="user.accountType === AccountTypeEnum.email">
              <p>
                {{ 'universal_userAccount_sendCaptchaChackEmail' | translate }}
              </p>
            </ng-container>
            <div *ngIf="user.accountType === AccountTypeEnum.phone">
              <p>{{ 'universal_userAccount_sendSmsSuccess' | translate }}</p>
              <input
                type="text"
                class="appview-dataInput appview-inputBorder appview-smsInput"
                [placeholder]="'universal_userAccount_phoneCaptcha' | translate"
                maxlength="8"
                (focusout)="handleVerifyCode($event)"
                (keypress)="handleVerifyCode($event)"
              >
              <button
                class="appview-submitButton appview-left"
                [class.appview-unclickable]="uiFlag.progress !== 100 || timeCount !== 30"
                (click)="applyDestroy()"
              >
                <span class="resend">{{ 'universal_vocabulary_resend' | translate }}</span>
                <span class="appview-timeCount">({{ timeCount }}s)</span>
              </button>
            </div>
          </div>
          <div class="appview-buttonArea">
            <button
              class="appview-submitButton appview-right"
              [class.appview-unclickable]="uiFlag.progress !== 100"
              (click)="applyDestroy()"
              *ngIf="user.accountType === AccountTypeEnum.email"
            >
              {{ 'universal_userAccount_sendAgain' | translate }}
            </button>
            <button
              class="appview-submitButton appview-right"
              [class.appview-unclickable]="uiFlag.progress !== 100"
              (click)="submitVerifyCode()"
              *ngIf="user.accountType === AccountTypeEnum.phone"
            >
              {{ 'universal_userAccount_verifyAccount' | translate }}
            </button>
            <button
              class="appview-cancelButton appview-left"
              (click)="cancelDestroy()"
            >
              {{ 'universal_userAccount_cancelAccountDeletion' | translate }}
            </button>
          </div>
        </section>
      </ng-container>

      <ng-container *ngIf="destroyResp.status === DestroyStatus.destroying">
        <section class="appview-bottomSlideIn">
          <div class="flexCol appview-contentDetail">
            <p [innerHtml]="deleteApplySuccessText"></p>
          </div>
          <div class="appview-buttonArea">
            <button
              class="appview-cancelButton appview-center"
              (click)="cancelDestroy()"
            >
              {{ 'universal_userAccount_cancelAccountDeletion' | translate }}
            </button>
          </div>
        </section>
      </ng-container>

      <ng-container *ngIf="uiFlag.cancelDestroy">
        <div class="flexCol appview-contentDetail">
          <p style="margin: 0;">
            {{ 'universal_userAccount_undeleteSuccessfully' | translate }}
          </p>
        </div>
        <div class="appview-buttonArea">
          <button
            class="appview-submitButton appview-center"
            (click)="turnBack()"
          >
            {{ 'universal_operating_close' | translate }}
          </button>
        </div>
      </ng-container>

    </div>
  </div>
</main>
<footer style="min-height: 30px;"></footer>