$btn-radius: 5px;
$btn-active: rgba(155, 155, 155, 1);
$btn-hover: rgba(100, 100, 100, 1);
$sky-blue: rgba(61, 131, 243, 0.8);
$sky-blue-active: rgba(61, 131, 243, 1);
$light-sky-blue: rgba(171, 202, 249, 1);
$middle-gray: rgba(150, 150, 150, 1);
$tag-background-color: rgb(215, 215, 216, 1);
$cardA-color: rgba(255, 101, 101, 1);
$cardB-color: rgba(61, 179, 135, 1);
$cardC-color: rgba(67, 66, 93, 1);
$card-btn-color: rgba(0, 0, 0, 0.3);
$apply-output-width: 200px;
$apply-output-height: 35px;
$shadow-color-sink: rgba(0, 0, 0, 0.2);
$shadow-color-float: rgba(0, 0, 0, 0.1);
$transition-effect: 0.2s cubic-bezier(0.5, 0.5, 0.5, 0.5);
$main-tag-width: calc(40px + 16vw);
$sub-tag-width: 10vw;
$card-width: 320px;
$card-expand-width: 80vw;
$card-expand-Height: fit-content;
$lock-color: rgba(233, 122, 142, 1);
$add-color: rgba(89, 205, 134, 1);
$list-shadow-color: rgba(100, 100, 100, 0.3);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font--bold($size) {
  font-weight: bold;
  font-size: $size;
}

@mixin table--list($left, $width: fit-content) {
  position: relative;
  left: $left;
  width: $width;
  white-space: nowrap;
}

@mixin transition($target) {
  -webkit-transition: $target $transition-effect;
  -moz-transition: $target $transition-effect;
  -ms-transition: $target $transition-effect;
  -o-transition: $target $transition-effect;
  transition: $target $transition-effect;
}

@mixin rotate($deg) {
  display: block;
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin border--btn($thickness, $color, $radius: true) {
  border: $thickness solid $color;

  @if (radius) {
    border-radius: $btn-radius;
  }

}

@mixin step--icon($size) {
  @include font--bold($size);
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
}

@mixin activity--info($color) {
  padding: 10px;
  border-radius: 20px;
  background-color: $color;
}

@mixin vertical--center {
  display: flex;
  align-items: center;
}

@mixin table-column {
  padding: 5px 0px;
  border-bottom: 1px solid #dcdcdc;
}

@mixin apply-output($width) {
  width: $width;
  height: $apply-output-height;
  padding: 5px;
  text-align: center;
  border: 1px solid $middle-gray;
  background-color: white;
}

#page__tag--postion, #join--btn {
  position: absolute;
  z-index: 2;
}

#join--btn {
  @include border--btn(1px, rgba(255, 255, 255, 0), true);
  @include center();
  opacity: 0.9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 20vw;
  height: calc(20px + 2vw);
  bottom: 15vw;
  left: 40vw;
  @include transition(opacity);

  &:hover {
    opacity: 1;
    @include transition(opacity);
  }

}

#page__tag--postion {
  bottom: 0px;
  left: 0px;
  height: calc(30px + 2vw);
}

.page__tag {
  @include center;
  font-size: 1.2rem;
  background-color: $tag-background-color;
  width: $main-tag-width;
  margin: 0 1vw;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    background-color: rgba(245, 245, 245, 1);
    @include transition(background-color);
  }

}

.search__tag {
  @include center;
  width: $sub-tag-width;
  margin: 0 10vw 0 0;
}

.focus__tag {
  border-bottom: 4px solid $sky-blue;
  background-color: white;
}

.icon--font {
  @include font--bold(36px);
}

.cloudRun__card {
  position: relative;
  width: $card-width;
  height: 500px;
  margin: 2vw 0;
  box-shadow: 5px 5px 5px $shadow-color-sink, -1px -1px 0px $shadow-color-float;
  cursor: pointer;

  &:hover {
    right: 5px;
    bottom: 5px;
    box-shadow: 10px 10px 10px $shadow-color-float, -1px -1px 0px $shadow-color-float;
    @include transition(right);
    @include transition(bottom);
  }

}

.cloudRun__card__content {
  margin: 2vw 0;
}

.page_content {
  padding: 0 18vw;
}

.card__content {
  margin: 0 30px;
  max-height: 350px;
  overflow: hidden;
  word-break: break-word;
}

.card__section {
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__image {
  max-width: 90%;
  margin: 0 auto;

}

.card__expand {
  position: fixed;
  top: 100px;
  width: $card-expand-width;
  height: $card-expand-Height;
  z-index: 4;
  min-height: 300px;
}

#apply__info--width {
  width: 550px;
  margin: 0 auto;
}

#apply__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0px;
}

.output__div {
  justify-content: flex-end;
}

#group__column__content {
  @include apply-output($apply-output-width);
  cursor: pointer;

  &:after {
    content: '';
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 5px 5px 0px 5px;
    position: relative;
    top: 13px;
    left: 5px;
  }

}

#group__list {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid rgba(200, 200, 200, 1);
  width: $apply-output-width;
  padding: 5px 10px;
  left: -1px;
  top: 34px;
}

#group__list__item {
  padding: 5px 10px;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    color: white;
    font-weight: bold;
    background-color: $sky-blue;
    @include transition(background-color);
  }

}

#serial__number {
  @include apply-output($apply-output-width);
  outline: none;
}

#copy__btn {
  @include apply-output(60px);
  border-radius: 3px;
  box-shadow: 2px 2px 2px $shadow-color-sink;
  cursor: pointer;
  @include transition(left);
  @include transition(top);

  &:hover {
    background-color: rgba(240, 240, 240, 1);
  }

  &:active {
    left: 2px;
    top: 2px;
    @include transition(left);
    @include transition(top);
  }

}

.discount__choice {
  &:hover {
    border-bottom: 1px solid;
  }

}

.pay__btn {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 1px solid $middle-gray;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  opacity: 0.8;
  box-shadow: 2px 2px 2px $shadow-color-sink;
  text-align: center;
  padding: 12px 5px;
  cursor: pointer;
  @include transition(opacity);
  @include transition(top);
  @include transition(left);

  &:hover {
    @include transition(opacity);
  }

  &:active {
    left: 2px;
    top: 2px;
    @include transition(left);
    @include transition(top);
  }

}

.black__screen {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.table__section {
  padding: 20px 0;
}

.group__btn__section {
  margin: 10px 0 10px 50px;
  flex-wrap: wrap;
}

.group__btn {
  @include font--bold(18px);
  background-color: rgba(243, 243, 243, 1);
  padding: 5px 15px;
  margin: 5px 10px;
  width: fit-content;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  @include transition(color);
  @include transition(background-color);

  &:hover {
    background-color: $shadow-color-sink;
    @include transition(background-color);
  }

}

.table__title {
  @include font--bold(36px);
}

#product__title {
  @include font--bold(24px);
  margin-top: 100px;
}

.table__head {
  @include font--bold(18px);
  position: relative;
  background-color: rgba(245, 246, 250, 1);
  height: 50px;
  align-items: center;
}

.table__list {
  @include table-column;
}

#rank__list {
  @include table-column;
}

#ranking {
  @include table--list(5vw, 40px);
}

#nickname {
  @include table--list(calc(10px + 10vw), 250px);
}

#record {
  @include table--list(20vw, 80px);
}

#finish__date {
  @include table--list(28vw, 100px);
}

.ranking__list {
  @extend #ranking;
  white-space: pre-wrap;
  margin-left: 5px;
}

.nickname__list {
  @extend #nickname;
  white-space: pre-wrap;
}

.record__list {
  @extend #record;
  white-space: pre-wrap;
}

.finish__date__list {
  @extend #finish__date;
  white-space: pre-wrap;
}

.product__list {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  width: 200px;
  height: 280px;
  text-align: center;
}

.product__name {
  font-weight: bold;
  margin: auto 0;
  @include transition(color);
  @include transition(border-bottom);

  &:hover {
    color: $sky-blue-active;
    border-bottom: 1px solid $sky-blue-active;
    @include transition(color);
    @include transition(border-bottom);
  }

}

.page__section {
  align-items: center;
  margin: 10px auto;
}

.switch__btn {
  color: $shadow-color-sink;
  pointer-events: none;
  height: 80px;
  padding: 20px 0px;
  @include border--btn(1px, $shadow-color-sink, true);
}

.switch__btn--active {
  color: $btn-active;
  pointer-events: initial;
  cursor: pointer;
  @include border--btn(1px, $shadow-color-sink, true);
  @include transition(color);
  @include transition(border);
  @include transition(background-color);

  &:hover {
    color: $btn-hover;
    background-color: rgba(215, 228, 251, 1);
    @include transition(color);
    @include transition(border);
    @include transition(background-color);
  }

}

.switch__icon {
  font-size: 36px;
}

.switch__left {
  @include rotate(90deg);
  margin-right: 40px;
}

.switch__right {
  @include rotate(-90deg);
  margin-left: 40px;
}

.search__btn {
  background-color: $sky-blue;
  position: relative;
  margin-left: 30px;
  width: 140px;
  opacity: 0.8;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 2px $shadow-color-sink;
  cursor: pointer;
  @include transition(left);
  @include transition(top);
  @include transition(color);

  &:hover {
    opacity: 1;
    @include transition(color);
  }

  &:active {
    left: 2px;
    top: 2px;
    box-shadow: none;
    @include transition(left);
    @include transition(top);
  }

}

#auto__complete {
  position: absolute;
  z-index: 5;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  width: 184px;
  max-height: 250px;
  overflow: scroll;
  top: 98px;
}

#auto__complete__list {
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  padding: 10px;
  word-break: break-all;
  cursor: pointer;

  &:hover {
    background-color: $shadow-color-float;
  }

}

#user__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#user__name {
  @include font--bold(36px);
  margin: auto 0;
  margin-left: 30px;
}

#user__record__table {
  padding: 20px;
  @include border--btn(1px, rgba(240, 240, 240, 1), 5px);
}

#activity__info__header {
  @include table--list(50px, 260px);
}

#activity__group__header, .activity__group__content {
  @include table--list(6vw, 120px);
  @include vertical--center;
}

#activity__record__header, .activity__record__content {
  @include table--list(10vw, 80px);
  @include vertical--center;
}

#activity__rank__header, .activity__rank__content {
  @include table--list(20vw, 100px);
  @include vertical--center;
}

.lock__activity {
  @include font--bold(38px);
  width: 40px;
  height: 40px;
  margin-right: 5px;
  color: $lock-color;
  border: 1px solid $lock-color;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

.add__activity {
  @extend .lock__activity;
  color: $add-color;
  border: 1px solid $add-color;
  font-weight: normal;
}

.record__table__content {
  font-weight: bold;
  margin: auto 0;
}

.activity__table__info {
  @include activity--info(rgba(229, 249, 250, 1));
}

.activity__table__finish {
  @include activity--info(rgba(226, 226, 226, 1));
}

.activity__step__icon {
  @include step--icon(20px);
  color: white;
}

.activity__yet__step {
  @include step--icon(16px);
  background-color: white;
  border: 3px solid;
  text-align: center;
  line-height: 1;
}

.step__status {
  @include font--bold(8px);
}

.icon__between__line {
  position: relative;
  top: 12px;
  border: 2px solid;
  width: 55px;
  height: 0px;
}

#see__more {
  @include font--bold(16px);
  color: $sky-blue;
  margin: 10px auto;
  cursor: pointer;

  &:hover {
    color: $sky-blue-active;
  }

}

.small__screen__header {
  font-size: 8px;
  color: rgba(100, 100, 100, 1);
}

.float__list {
  width: 300px;
  height: 450px;
  overflow-y: scroll;
  position: absolute;
  z-index: 8;
  top: calc(33px + 1vw);
  right: 0.5vw;
  background-color: white;
}

.activity__list {
  margin: 10px;
  box-shadow: 5px 5px 2px $list-shadow-color, -5px 5px 2px $list-shadow-color;
}

.activity__item {
  padding: 10px;
  width: 270px;
  word-break: break-all;
  @include transition(background-color);

  &:hover{
    cursor: pointer;
    background-color: $light-sky-blue;
    @include transition(background-color);
  }

}

.event__name {
  font-size: 16px;
}


/********************** @media ***************************/
@media (max-width: 1560px) {
  .page_content {
    padding: 0 15vw;
  }

}

@media (max-width: 1400px) {
  .page_content {
    padding: 0 10vw;
  }

  .float__list {
    top: calc(25px + 1vw);
    right: 0px;
  }

}

@media (max-width: 950px) {
  #nickname, .nickname__list {
    width: 200px;
  }

  #activity__group__header,
  .activity__group__content,
  #activity__record__header,
  .activity__record__content
  {
    left: 2vw;
  }

  #activity__rank__header, .activity__rank__content {
    left: 7vw;
  }

}

@media (max-width: 750px) {
  #activity__group__header,
  .activity__group__content,
  #activity__record__header,
  .activity__record__content,
  #activity__rank__header,
  .activity__rank__content
  {
    width: 50px;
  }

  #activity__record__header, .activity__record__content{
    left: 6vw;
  }

  #activity__rank__header, .activity__rank__content
  {
    left: 9vw;
  }

}

@media (max-width: 650px) {
  .table__list {
    flex-direction: column;
    margin: 0 auto;
  }

}

@media (max-width: 600px) {
  #apply__info {
    flex-direction: column;
    align-items: flex-start;
  }

  .output__div {
    padding-bottom: 10px;
  }

}

@media (max-width: 500px) {
  .main__tag {
    margin: 0px;
  }

  .search__tag {
    margin: 0 calc((100vw - #{$sub-tag-width} * 2 - #{$main-tag-width} * 2) / 2) 0 0 ;
  }

  .sub__tag {
    width: $sub-tag-width;
    margin: 0 0 0 calc((100vw - #{$sub-tag-width} * 2 - #{$main-tag-width} * 2) / 2 - 3px);
  }

  .icon--font {
    font-size: 30px;
    font-weight: unset;
  }

  .page_content {
    padding: 0 4vw;
  }

}

@media (max-width: 450px) {
  .card__expand {
    width: 90vw;
    top: 60px;
  }

  #nickname, .nickname__list {
    width: 150px;
  }

  #record, .record__list {
    left: 30vw;
  }

  .group__btn__section {
    margin-left: 0px;
  }

  .group__btn {
    margin: 5px 5px;
  }

}

@media (max-width: 420px) {
  #nickname, .nickname__list {
    width: 120px;
  }

  #record, .record__list {
    left: calc(20px + 15vw);
  }

}

@media (max-width: 375px) {
  #record, .record__list {
    left: 65px;
  }

}
