.wrong-cs {
  text-decoration: underline;
}
.demo-qr__action {
  margin: 0 0 15px 120px;
  justify-content: center;
}
.demo-qr__action button {
  width: 180px;
  height: 38px;
}

.product-photo--landscape img {
  width: auto;
  height: auto;
}

.product-photo--portrait img {
  width: auto;
  height: 100%;
}

.mainAppSection {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mainAppGroup {
  display: flex;
  flex-direction: column;
}

.mainApp {
  margin-bottom: 10px;
  max-width: 100%;
}

.mainAppOpen {
  width: 330px;
}
@media(max-width: 575px) {
  .demo-qr__action {
    margin: 0 15px 15px;
  }
  .demo-qr__action button {
    width: 100%;
    height: 50px;
  }
  .demo-qr__action .alatech-btn + .alatech-btn {
    margin-left: 0px;
    margin-top: 10px;
  }
  .mainAppSection {
    flex-direction: column;
  }
}
@media(min-width: 576px) {
  .mainApp {
    flex-basis: auto;
  }
}

@media(max-width: 900px) {
  .product-photo--landscape img {
    width: 80%;
    min-width: 200px;
    min-height: 200px;
  }
}

@media(max-width: 575px) {
  .product-photo--landscape img {
    width: auto;
  }
}

@media(max-width: 380px) {
  .product-photo--landscape img {
    width: 50%;
  }
}
