
<div class="container" style="font-size:20px; margin-top: 30px;">
  <ng-progress
    [positionUsing]="'marginLeft'"
    [direction]="'ltr+'"
    [color]="'#cb5e5e'"
    [trickleSpeed]="500"
    [thick]="true"
    [ease]="'easeInSine'"
  >
  </ng-progress>
  <ng-container *ngIf="!isLoading">
    <div class="row" style="margin-bottom: 15px">
      <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.productPhoto" | translate}}：</div>
      <div class="col-sm-6 text-sm-left text-center" [ngClass]="imgClass" style="width: 100%">
        <img *ngIf="!deviceInfo" src={{noProductImg}}>
        <img *ngIf="deviceInfo" src={{deviceInfo?.modelImgUrl}} >
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
      <div class="col-sm-6 text-sm-right text-center" [style.font-weight]="isWrong ? '200' : '700' ">
        <span  style="font-weight: bold">{{"Portal.deviceSerialNumber" | translate}}</span>：
      </div>
      <div *ngIf="!deviceInfo" class="col-sm-6 text-sm-left text-center">{{"SH.noFindData" | translate}}</div>
      <div *ngIf="deviceInfo" class="col-sm-6 text-sm-left text-center">{{ displayQr.device_sn  }}</div>
    </div>
    <ng-container *ngIf="deviceInfo">
      <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.modeCode" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">{{ deviceInfo?.modelName || 'SH.noData' | translate }}</div>
      </div>
      <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.modeType" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">{{ (deviceInfo?.modelType | productType | translate) || 'SH.noData' | translate }}</div>
      </div>
      <div class="row" style="margin-bottom: 15px" *ngIf="deviceInfo?.mainAppData">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">
          {{"Portal.mainApp" | translate}}：
        </div>
        <div class="col-sm-6 text-sm-left text-center">
          <div style="margin-bottom:10px">
            <img src={{deviceInfo?.mainAppData.appIconUrl}} style="width:20%;cursor: pointer;" (click)="swithMainApp()">
          </div>
          <ng-container *ngIf="isMainAppOpen">
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appIosUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appIosUrl}}>
                <img src={{deviceInfo?.mainAppData.appIosImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appAndroidUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appAndroidUrl}}>
                <img src={{deviceInfo?.mainAppData.appAndroidImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.mainAppData.appApkUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.mainAppData.appApkUrl}}>
                <img src={{deviceInfo?.mainAppData.appApkImg}}>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px" *ngIf="deviceInfo?.secondaryAppData">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">
          {{"Portal.otherApp" | translate}}：
        </div>
        <div class="col-sm-6 text-sm-left text-center">
          <div style="margin-bottom:10px">
            <img src={{deviceInfo?.secondaryAppData.appIconUrl}} style="width:20%;cursor: pointer;" (click)="swithSecondApp()">
          </div>
          <ng-container *ngIf="isSecondAppOpen">
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appIosUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appIosUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appIosImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appAndroidUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appAndroidUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appAndroidImg}}>
              </a>
            </div>
            <div style="margin-bottom:10px" *ngIf="deviceInfo?.secondaryAppData.appApkUrl.length > 0">
              <a target="_blank" href={{deviceInfo?.secondaryAppData.appApkUrl}}>
                <img src={{deviceInfo?.secondaryAppData.appApkImg}}>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px" *ngIf="productInfo && productInfo.length > 0">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.relatedLinks" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">
          <div *ngFor="let info of productInfo">
            <a target="_blank" href={{info?.link}}>{{info?.dispName}}</a>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px" *ngIf="productManual && productManual?.length > 0">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"SH.manual" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">
          <div>
            <a target="_blank" href={{productManual}}>{{"SH.deviceManual" | translate}}</a>
          </div>
        </div>
      </div>
      <div class="row demo-qr__action">
        <button class="alatech-btn alatech-btn--default"
          title="{{'Portal.productRegistration' | translate}}"
          *ngIf="isShowBindingBtn"
          (click)="goBinding()"
          style="color: #26abe3;font-weight: bold"
        >
          {{'Portal.productRegistration' | translate}}
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="Fit Pair"
          *ngIf="isShowFitPairBtn && isFitPaired"
          (click)="fitPair('2')"
        >
          {{'Portal.unbind' | translate }}Fit Pair
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="Fit Pair"
          *ngIf="isShowFitPairBtn && !isFitPaired"
          (click)="fitPair('1')"
        >
          Fit Pair({{'Portal.avatarAndSportFile' | translate}})
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="Fit Pair"
          *ngIf="isShowFitPairBtn && !isFitPaired"
          (click)="fitPair('3')"
        >
          Fit Pair({{'Portal.onlySportFile' | translate}})
        </button>
      </div>
    </ng-container>
  </ng-container>

</div>
