
<div class="container" style="font-size:20px; margin-top: 30px;">
  <ng-progress
    [positionUsing]="'marginLeft'"
    [direction]="'ltr+'"
    [color]="'#cb5e5e'"
    [trickleSpeed]="500"
    [thick]="true"
    [ease]="'easeInSine'"
  >
  </ng-progress>
  <ng-container *ngIf="!isLoading">
    <div class="row" style="margin-bottom: 15px">
      <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.productPhoto" | translate}}：</div>
      <div class="col-sm-6 text-sm-left text-center" [ngClass]="imgClass" style="width: 100%">
        <img class="productImg" *ngIf="!deviceInfo?.modelID" src="{{imageStoragePlace}}/img/unknown.png">
        <img class="productImg" *ngIf="deviceInfo?.modelID" src="{{imageStoragePlace + deviceInfo?.modelImg}}">
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
      <div class="col-sm-6 text-sm-right text-center" [style.font-weight]="isWrong ? '200' : '700' ">
        <span  style="font-weight: bold">{{"Portal.deviceSerialNumber" | translate}}</span>：
      </div>
      <div *ngIf="!deviceInfo?.modelID" class="col-sm-6 text-sm-left text-center">{{"SH.noFindData" | translate}}</div>
      <div *ngIf="deviceInfo?.modelID" class="col-sm-6 text-sm-left text-center">{{ displayQr.device_sn  }}</div>
    </div>
    <ng-container *ngIf="deviceInfo?.modelID">
      <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.modeCode" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">{{ deviceInfo?.modelName || 'SH.noData' | translate }}</div>
      </div>
      <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.modeType" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">{{ (deviceInfo?.modelTypeID | productType | translate) || 'SH.noData' | translate }}</div>
      </div>
      <div class="row mainAppSection" *ngIf="deviceInfo?.mainApp">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">
          {{"Portal.mainApp" | translate}}：
        </div>
        <div class="mainAppGroup">
          <div class="col-sm-6 text-sm-left text-center mainApp" *ngFor="let app of mainAppList; let i = index;">
            <div style="margin-bottom:10px">
              <img
                id="{{i}}"
                src='{{imageStoragePlace + app.appIconUrl}}'
                style="width:20%;cursor: pointer;"
                (click)="swithMainApp($event)"
              >
            </div>
            <ng-container *ngIf="isMainAppOpen.indexOf(i) !== -1">
              <div style="margin-bottom:10px" *ngIf="app.appIosUrl.length > 0">
                <a target="_blank" href='{{app.appIosUrl}}'>
                  <img src='https://app.alatech.com.tw/app/public_html/products/img/getApp_01_apple.png'>
                </a>
              </div>
              <div style="margin-bottom:10px" *ngIf="app.appAndroidUrl.length > 0">
                <a target="_blank" href='{{app.appAndroidUrl}}'>
                  <img src='https://app.alatech.com.tw/app/public_html/products/img/getApp_02_googleplay.png'>
                </a>
              </div>
              <div style="margin-bottom:10px" *ngIf="app.appApkUrl.length > 0">
                <a target="_blank" href='{{app.appApkUrl}}'>
                  <img src='https://app.alatech.com.tw/app/public_html/products/img/getApp_03_apk.png'>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row mainAppSection" style="margin-bottom: 15px" *ngIf="deviceInfo?.secondaryApp">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">
          {{"Portal.otherApp" | translate}}：
        </div>
        <div class="mainAppGroup">
          <div class="col-sm-6 text-sm-left text-center mainApp" *ngFor="let appVice of secondaryAppList; let j = index;">
            <div style="margin-bottom:10px">
              <img
                id="{{j}}"
                src='{{imageStoragePlace + appVice.appIconUrl}}'
                style="width:20%;cursor: pointer;"
                (click)="swithSecondApp($event)"
              >
            </div>
            <ng-container *ngIf="isSecondAppOpen.indexOf(j) !== -1">
              <div style="margin-bottom:10px" *ngIf="appVice.appIosUrl.length > 0">
                <a target="_blank" href={{appVice.appIosUrl}}>
                  <img src='https://app.alatech.com.tw/app/public_html/products/img/getApp_01_apple.png'>
                </a>
              </div>
              <div style="margin-bottom:10px" *ngIf="appVice.appAndroidUrl.length > 0">
                <a target="_blank" href={{appVice.appAndroidUrl}}>
                  <img src='https://app.alatech.com.tw/app/public_html/products/img/getApp_02_googleplay.png'>
                </a>
              </div>
              <div style="margin-bottom:10px" *ngIf="appVice.appApkUrl.length > 0">
                <a target="_blank" href={{appVice.appApkUrl}}>
                  <img src='https://app.alatech.com.tw/app/public_html/products/img/getApp_03_apk.png'>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px" *ngIf="productInfo && productInfo.length > 0">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"Portal.relatedLinks" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">
          <div *ngFor="let info of productInfo">
            <a target="_blank" href={{info?.link}}>{{info?.dispName}}</a>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px" *ngIf="productManual && productManual?.length > 0">
        <div class="col-sm-6 text-sm-right text-center" style="font-weight: bold">{{"SH.manual" | translate}}：</div>
        <div class="col-sm-6 text-sm-left text-center">
          <div>
            <a target="_blank" href={{productManual}}>{{"SH.deviceManual" | translate}}</a>
          </div>
        </div>
      </div>
      <div class="row demo-qr__action">
        <button class="alatech-btn alatech-btn--default"
          title="{{'Portal.productRegistration' | translate}}"
          *ngIf="isShowBindingBtn"
          (click)="goBinding()"
          style="color: #26abe3;font-weight: bold"
        >
          {{'Portal.productRegistration' | translate}}
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="Fit Pair"
          *ngIf="isShowFitPairBtn && isFitPaired"
          (click)="fitPair('2')"
        >
          {{'Portal.unbind' | translate }}Fit Pair
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="Fit Pair"
          *ngIf="isShowFitPairBtn && !isFitPaired"
          (click)="fitPair('1')"
        >
          Fit Pair({{'Portal.avatarAndSportFile' | translate}})
        </button>
        <button class="alatech-btn alatech-btn--default"
          title="Fit Pair"
          *ngIf="isShowFitPairBtn && !isFitPaired"
          (click)="fitPair('3')"
        >
          Fit Pair({{'Portal.onlySportFile' | translate}})
        </button>
      </div>
    </ng-container>
  </ng-container>

</div>
