<div class="access-bg">
  <div class="container" style="padding-top:63px">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description"  innerHtml="{{ 'Portal.CenterDesc' | translate }}">
      </div>
      <div class="access-panel">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body first-login">
          <div class="user-photo">
            <app-upload-file
              [isUserAvastarMode]="true"
              [isImageFileMode]="true"
              [imageURL]="groupImg"
              [maxFileSize]="maxFileSize"
              [accept]="acceptFileExtensions.join()"
              [reloadFileText]="'Dashboard.Group.GroupInfo.ReUpload' | translate"
              [chooseFileText]="'Dashboard.Group.GroupInfo.SelectFile' | translate"
              (onChange)="handleAttachmentChange($event)"
            ></app-upload-file>
          </div>
          <form [formGroup]="form" (ngSubmit)="submit(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1" class="access-text">{{'Dashboard.Settings.Name' | translate}}
              </label>
              <input formControlName="userName" id="exampleInputEmail1" class="form-control" placeholder="我是凶狠的運動員"
                [attr.disabled]="isLogining ? '' : null"
                (keyup)="handleDuplicateStatus($event)"
                [class.form-control--invalid]="(!form.controls['userName'].valid && form.controls['userName'].touched) || (f.submitted
                && form.get('userName').hasError('required')) || isDuplicateName"
              >
              <div class="form__message form__message--placeholder" >
                <span [style.visibility]="(!form.controls['userName'].valid && form.controls['userName'].touched) || (f.submitted && form.get('userName').hasError('required')) ? 'initial' : 'hidden'"
                  *ngIf="!isDuplicateName && (!tempDuplicateName || this.tempDuplicateName.length === 0)"
                >
                  {{'Portal.PlzEnterYourName' | translate}}
                </span>
                <span *ngIf="isDuplicateName">
                  {{'SH.NameAlreadyExists' | translate}}
                </span>
              </div>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'Dashboard.Settings.Height' | translate}}
              </label>
              <input formControlName="height" type="number" class="form-control" placeholder="175"
                autocomplete="off" [attr.disabled]="isLogining ? '' : null" [class.form-control--invalid]="(!form.controls['height'].valid && form.controls['height'].touched) || (f.submitted && form.get('height').hasError('required'))">
              <div class="form__message form__message--placeholder">
                <span [style.visibility]="(form.controls['height'].hasError('required') && form.controls['height'].touched) || (f.submitted && form.get('height').hasError('required')) ? 'initial' : 'hidden'">
                  {{'Portal.PlzEnterYourHeight' | translate}}
                </span>
              </div>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'Dashboard.Settings.Weight' | translate}}
              </label>
              <input formControlName="weight" type="number" class="form-control" placeholder="75"
                autocomplete="off" [attr.disabled]="isLogining ? '' : null" [class.form-control--invalid]="(!form.controls['weight'].valid && form.controls['weight'].touched) || (f.submitted && form.get('weight').hasError('required'))">
              <div class="form__message form__message--placeholder" [style.visibility]="(form.controls['weight'].hasError('required') && form.controls['weight'].touched) || (f.submitted && form.get('weight').hasError('required')) ? 'initial' : 'hidden'">
                {{'Portal.PlzEnterYourWeight' | translate}}
              </div>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'Dashboard.Settings.Sex' | translate}}
              </label>
              <select formControlName="gender" class="form-field"
                style="width: 100%;height:38px;background-color: #fff"
              >
                <option value="0">{{'Dashboard.Settings.Male' | translate}}</option>
                <option value="1">{{'Dashboard.Settings.Female' | translate}}</option>
                <!-- <option value="2">無</option> -->
              </select>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'Dashboard.Settings.Birthday' | translate}}
              </label>
              <mat-form-field style="max-width: 140px;">
                <input matInput [matDatepicker]="picker" placeholder="1988/06/01"
                  (dateChange)="logStartDateChange($event)"
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- <a href (click)="downloadFile($event, 1)">下載原圖256</a>
            <a href (click)="downloadFile($event, 2)">下載原圖128</a>
            <a href (click)="downloadFile($event, 3)">下載原圖64</a> -->
            <div class="auth-submit">
              <app-confirm-button [className]="className" [content]="'SH.Send' | translate" [disabled]="isLogining">
              </app-confirm-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
