<div class="access-bg">
  <div class="container" style="padding-top:63px">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description"  innerHtml="{{ 'universal_app_gptSlogan' | translate }}">
      </div>
      <div class="access-panel">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body first-login">
          <div class="user-photo">
            <app-upload-file
              [isUserAvastarMode]="true"
              [isImageFileMode]="true"
              [imageURL]="userImg"
              [accept]="acceptFileExtensions.join()"
              (onChange)="handleAttachmentChange($event)"
            ></app-upload-file>
          </div>
          <form [formGroup]="form" (ngSubmit)="submit(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1" class="access-text">{{'universal_activityData_name' | translate}}
              </label>
              <input formControlName="userName" id="exampleInputEmail1" class="form-control"
                placeholder="{{'universal_userAccount_enterInfo' | translate: {'info': i18n.nickname} }}"
                [maxlength]="24"
                [attr.disabled]="isLogining ? '' : null"
                (keyup)="handleDuplicateStatus($event)"
                [class.form-control--invalid]="(!form.controls['userName'].valid && form.controls['userName'].touched) || (f.submitted
                && form.get('userName').hasError('required')) || isDuplicateName"
              >
              <div class="form__message form__message--placeholder" >
                <span [style.visibility]="(!form.controls['userName'].valid && form.controls['userName'].touched) || (f.submitted && form.get('userName').hasError('required')) ? 'initial' : 'hidden'"
                  *ngIf="!isDuplicateName && (!tempDuplicateName || this.tempDuplicateName.length === 0)"
                >
                  {{'universal_userAccount_enterInfo' | translate: {'info': i18n.nickname} }}
                </span>
                <span *ngIf="isDuplicateName">
                  {{'universal_userAccount_registerNameExisting' | translate}}
                </span>
              </div>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'universal_userProfile_bodyHeight' | translate}}
              </label>
              <input formControlName="height"
                type="number"
                class="form-control"
                placeholder="175"
                autocomplete="off"
                [attr.disabled]="isLogining ? '' : null"
                [class.form-control--invalid]="(!form.controls['height'].valid && form.controls['height'].touched) || (f.submitted && form.get('height').hasError('required'))"
                (focusout)="handleHWValue(1, $event)"
                >
              <div class="form__message form__message--placeholder">
                <span [style.visibility]="(form.controls['height'].hasError('required') && form.controls['height'].touched) || (f.submitted && form.get('height').hasError('required')) ? 'initial' : 'hidden'">
                  {{'universal_userAccount_enterInfo' | translate: {'info': i18n.bodyHeight} }}
                </span>
              </div>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'universal_userProfile_bodyWeight' | translate}}
              </label>
              <input formControlName="weight"
                type="number"
                class="form-control"
                placeholder="75"
                autocomplete="off"
                [attr.disabled]="isLogining ? '' : null"
                [class.form-control--invalid]="(!form.controls['weight'].valid && form.controls['weight'].touched) || (f.submitted && form.get('weight').hasError('required'))"
                (focusout)="handleHWValue(2, $event)"
                >
              <div class="form__message form__message--placeholder"
                [style.visibility]="(form.controls['weight'].hasError('required') && form.controls['weight'].touched) || (f.submitted && form.get('weight').hasError('required')) ? 'initial' : 'hidden'">
                {{'universal_userAccount_enterInfo' | translate: {'info': i18n.bodyWeight} }}
              </div>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'universal_userProfile_gender' | translate}}
              </label>
              <select formControlName="gender" class="form-field"
                style="width: 100%;height:38px;background-color: #fff"
              >
                <option value="0">{{'universal_userProfile_male' | translate}}</option>
                <option value="1">{{'universal_userProfile_female' | translate}}</option>
                <!-- <option value="2">無</option> -->
              </select>
            </div>
            <div class="form-group form-group--half">
              <label  class="access-text">
                {{'universal_userProfile_birthday' | translate}}
              </label>
              <mat-form-field style="max-width: 140px;">
                <input matInput
                  [matDatepicker]="picker"
                  formControlName="birth"
                  (dateChange)="logStartDateChange($event)"
                  readonly
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="auth-submit">
              <app-confirm-button [className]="className" [content]="'universal_operating_send' | translate" [disabled]="isLogining">
              </app-confirm-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
