.selected-flag {
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 3px;
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  width: 105px;
  height: 38px;
  color: #757575;
}
.selected-flag:hover {
  cursor: pointer;
}

.selected-flag--invalid {
  border: 1px solid #c75353;
  box-shadow: rgba(163, 50, 50, .34) 0 0 4px 0;
}



.ala-intl-tel.dropdown-menu {
  width: 350px;
  max-height: 200px;
  overflow-x: hidden;
}
.dropdown-menu.show {
  word-break: break-all;
  padding: 0px;
}

.dropdown-menu.show>li {
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.dropdown-menu.show>li:hover {
  /* background-color: #008bcd;
  color: #fff; */
  cursor: pointer;
}
/* .dropdown-menu.show>li.selected {
  background-color: #008bcd;
  color: #fff;
} */
.dial-code {
  color: #999;
}
.clearable__clear {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  padding: 0 8px;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}

.clearable__clear.show {
  display: inline;
}

.fa-caret-down.async-caret {
  position: absolute;
  right: 5px;
  top: 25%;
  /* padding: 6px 4px; */
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}

.clearable {
  position: relative;
  display: flex;
}

.spinner {
  position: absolute;
  right: 30px;
  top: 0;
  padding: 6px 4px;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}

.spinner-hidden {
  display: none;
}


