<div class="dropdown">
  <div class="flexCol clearable">
    <div
      [class.selected-flag-v2]="!webUi"
      [class.selected-flag]="webUi"
      [style.width]="webUi ? '120px' : ''"
      (click)="openActive($event)"
    >
      {{ this.countryCode || 'universal_userAccount_countryRegion' | translate }}
      <i class="material-icons async-caret">arrow_drop_down</i>
    </div>
  </div>
  <ul
    class="dropdown-menu ala-intl-tel"
    style="top: 35px; height: 25vh; left: -40px"
    *ngIf="countryOptions && countryOptions.length > 0"
    [class.show]="active && countryOptions.length > 0"
  >
    <li *ngFor="let o of countryOptions; let i = index" (click)="chooseCountry(i)">
      {{ o.name }}<span class="dial-code">{{ o.code }}</span>
    </li>
  </ul>
</div>
