<ng-container *ngIf="uiFlag.isMobile">
  <router-outlet></router-outlet>
</ng-container>
<div class="flexRow" *ngIf="!uiFlag.isMobile">
  <div class="create__mail__button">
    <button (click)="createMail()">
      <i class="icon-svg_web-icon_p1_029-add create__mail__icon"></i>
    </button>
  </div>
  <app-inbox class="inbox__section"></app-inbox>
  <app-create-mail
    class="create__mail__section"
    *ngIf="currentPage && currentPage === appPath.stationMail.newMail"
  ></app-create-mail>
  <app-mail-detail
    class="mail__detail__section"
    *ngIf="!currentPage || currentPage === appPath.stationMail.mailDetail"
  ></app-mail-detail>
</div>