<div class="access-bg">
  <div class="container" style="padding-top:63px">
    <div class="d-flex" style="flex-direction: column;align-items: center;;">

      <div class="access-description"  innerHtml="{{ 'universal_app_gptSlogan' | translate }}">
      </div>
      <div class="access-panel reset-pwd">
        <header class="access-header">
          <img src="assets/attacus_logo.png" style="width: 36%">
        </header>
        <div class="access-panel-body">
          <form novalidate #f="ngForm" (ngSubmit)="reset(f, $event)" *ngIf="!isSuccess && resultMessage.length === 0">
            <div class="form-group">
              <label for="exampleInputEmail1" class="access-text">{{'universal_userAccount_account' | translate}}</label>
              <input class="form-control" value={{email}} readonly="readonly">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="access-text">
                {{'universal_userAccount_password' | translate}}
              </label>
              <input type="password" class="form-control"
                name="newPassword"
                [(ngModel)]="resetpwd.newPassword"
                #newPassword="ngModel"
                autocomplete="password"
                placeholder="{{'universal_userAccount_passwordFormat' | translate}}"
                minlength="8"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$"
                [class.form-control--invalid]="(newPassword.errors?.required && newPassword.touched) || !isConfirm || (f.submitted && newPassword.errors?.required) || (newPassword.hasError('pattern') && newPassword.touched)"
                required
                [attr.disabled]="isSending ? '' : null"
              />
              <div class="form__message form__message--placeholder" *ngIf="(newPassword.errors?.required && newPassword.touched) || (f.submitted && newPassword.errors?.required)">
                Password is required.
              </div>
              <div class="form__message form__message--placeholder" *ngIf="newPassword.hasError('pattern') && newPassword.touched">
                {{'universal_userAccount_passwordFormat' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="access-text">
                {{'universal_userAccount_keyInAgainPassword' | translate}}
              </label>
              <input type="password" class="form-control"
                name="confirmPassword"
                autocomplete="off"
                [(ngModel)]="resetpwd.confirmPassword"
                #confirmPassword="ngModel"
                placeholder="{{'universal_userAccount_keyInAgainPassword' | translate}}"
                minlength="8"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$"
                required
                [class.form-control--invalid]="(confirmPassword.errors?.required && confirmPassword.touched) || !isConfirm|| (f.submitted && newPassword.errors?.required)"
                [attr.disabled]="isSending ? '' : null"
              />
              <div class="form__message form__message--placeholder" *ngIf="confirmPassword.errors?.required && confirmPassword.touched || (f.submitted && confirmPassword.errors?.required)">
                Password is required.
              </div>
              <div class="form__message form__message--placeholder" *ngIf="confirmPassword.hasError('pattern') && confirmPassword.touched">
                {{'universal_userAccount_passwordFormat' | translate}}
              </div>
              <div class="form__message form__message--placeholder" *ngIf="!isConfirm">
                {{'universal_userAccount_notSamePassword' | translate}}
              </div>
            </div>
            <div class="auth-submit">
              <app-confirm-button
                [className]="className"
                [content]="content"
                [disabled]="isSending"
              >
              </app-confirm-button>
            </div>
          </form>
          <div *ngIf="isSuccess">{{'universal_userAccount_passwordResetComplete' | translate}}
          </div>
          <div *ngIf="!isSuccess && resultMessage.length > 0" class="form__message">
            {{resultMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

