<div class="container">
  <h2 class="page-title" *ngIf="!isSuccess">
    修改密碼
  </h2>
  <form novalidate #f="ngForm" (ngSubmit)="reset(f)" class="form modify-password__form" *ngIf="!isSuccess">
    <div class="border">
      <!-- <div class="form-group ">
        <div class="row">
          <div class="col-md-5 resetpwd-input">
            <label class="form__label--required">請輸入舊密碼</label>
          </div>
          <div class="col-md-5">
            <input type="password" class="form-control form-field"
              name="oldPassword"
              [(ngModel)]="resetpwd.oldPassword"
              #oldPassword="ngModel"
              minlength="2"
              required
            />
            <div class="form__message" *ngIf="oldPassword.errors?.required && oldPassword.touched">
              Password is required.
            </div>
            <div class="form__message" *ngIf="oldPassword.errors?.minlength && oldPassword.touched">
              密碼至少8碼，包含大小寫、小寫字母及數字
            </div>
          </div>
        </div>
      </div> -->

      <div class="form-group">
        <div class="form-group ">
          <div class="row">
            <div class="col-md-5 resetpwd-input">
              <label class="form__label--required">請輸入新密碼</label>
            </div>
            <div class="col-md-5">
              <input type="password" class="form-control form-field"
                name="newPassword"
                [(ngModel)]="resetpwd.newPassword"
                #newPassword="ngModel"
                minlength="8"
                required
              />
              <div class="form__message" *ngIf="newPassword.errors?.required && newPassword.touched">
                Password is required.
              </div>
              <div class="form__message" *ngIf="newPassword.errors?.minlength && newPassword.touched">
                密碼至少8碼，包含大小寫、小寫字母及數字
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-5 resetpwd-input">
            <label class="form__label--required">請確認新密碼</label>
          </div>
          <div class="col-md-5">
            <input type="password" class="form-control form-field"
              name="confirmPassword"
              [(ngModel)]="resetpwd.confirmPassword"
              #confirmPassword="ngModel"
              minlength="8"
              required
            />
            <div class="form__message" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">
              Password is required.
            </div>
            <div class="form__message" *ngIf="confirmPassword.errors?.minlength && confirmPassword.touched">
              密碼至少8碼，包含大小寫、小寫字母及數字
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modify-password__action">
      <div class="form-group">
        <button class="button button__modify-password" [disabled]="!f.valid">確定</button>
      </div>
    </div>

  </form>
  <div *ngIf="isSuccess">密碼已修改成功，
    請用新密碼重新登入系統
  </div>
</div>
