<div style="display:flex;justify-content: flex-end;">
  <button class="alatech-btn alatech-btn--default activty-btn"
    title="返回列表"
  >
    返回列表
  </button>
</div>
<div class="ala-dashboard-title activty-title">
  概要資訊
</div>
<div class="activity-block">
  <p style="color: #919191;margin: 15px 10px">
    [類別名稱] 由<span style="color:#54b9e7">*玩家暱稱與ID連結 *</span>  紀錄，於2018年 七月  19日  @ 18:59 +08:00 建立
  </p>
  <div class="d-flex" style="align-items:center">
    <div class="activty-icon">
      <span class="activty-icon-text">
        icon
      </span>
    </div>
    <span style="color: #919191;margin-left: 15px;font-size: 26px;">
      路跑
    </span>
  </div>
  <div class="d-flex" style="justify-content: space-between;margin-top: 30px">
    <div>
      <div class="activty-info-data-value">1:05:12</div>
      <div class="activty-info-data-name">時間</div>
    </div>
    <div>
      <div class="activty-info-data-value">6.59</div>
      <div class="activty-info-data-name">距離</div>
    </div>
    <div>
      <div class="activty-info-data-value">6'55"</div>
      <div class="activty-info-data-name">平均1km配速</div>
    </div>
    <div>
      <div class="activty-info-data-value">133</div>
      <div class="activty-info-data-name">平均心率</div>
    </div>
    <div>
      <div class="activty-info-data-value">256</div>
      <div class="activty-info-data-name">卡路里</div>
    </div>
  </div>
</div>
<div class="ala-dashboard-title activty-title">
  圖表
</div>
<div class="pull-right">
  <button class="alatech-btn alatech-btn--default" (click)="toogleEChart()">
    <span [hidden]="isdisplayEcharts">顯示Echart Demo</span>
    <span [hidden]="!isdisplayEcharts">隱藏Echart Demo</span>
  </button>
  <button class="alatech-btn alatech-btn--default" (click)="toogleHChart()" disabled>
    <span [hidden]="isdisplayHcharts">顯示Highchart Demo</span>
    <span [hidden]="!isdisplayHcharts">隱藏Highchart Demo</span>
  </button>
</div>
<ng-container *ngIf="isdisplayEcharts">
  <div class="activity-block">
    <div style="height: 30px;margin: 30px 0px">
      <div class="pull-right">
        <button class="alatech-btn alatech-btn--default"
          (click)="switch('chartLoading')"
        >
          <span [hidden]="chartLoading">顯示loading</span>
          <span [hidden]="!chartLoading">隱藏loading</span>
        </button>
      </div>
    </div>
    <div echarts
      [options]="chartOption"
      [loading]="chartLoading"
      (chartInit)="onChartInit($event)"
    ></div>
  </div>
  <div class="activity-block">
    <div style="height: 30px;margin: 30px 0px">
      <div class="pull-right">
        <button class="alatech-btn alatech-btn--default" (click)="switch('basicLoading')">
          <span [hidden]="basicLoading">顯示loading</span>
          <span [hidden]="!basicLoading">隱藏loading</span>
        </button>
      </div>
    </div>
    <div echarts
      [options]="basicAreaOption"
      [loading]="basicLoading"
      (chartInit)="onChartInit($event)"
    ></div>
  </div>
  <div class="activity-block">
    <div style="height: 30px;margin: 30px 0px">
      <div class="pull-right">
        <button class="alatech-btn alatech-btn--default" (click)="switch('rainLoading')">
          <span [hidden]="rainLoading">顯示loading</span>
          <span [hidden]="!rainLoading">隱藏loading</span>
        </button>
      </div>
    </div>
    <div echarts
      [options]="rainOption"
      [loading]="rainLoading"
      (chartInit)="onChartInit($event)"
      style="height:828px"
    ></div>
  </div>
</ng-container>
<ng-container *ngIf="isdisplayHcharts">
  <div #container>
    <div class="activity-block">
      <div>
        <button (click)="addSeries(1)">Add Series</button>
        <button (click)="removeSeries(1)" [attr.disabled]="chart1?.series.length === 1 ? '' : null">
          Remove Series
        </button>
        <button (click)="addPoint()">
          Add Point
        </button>
        <button (click)="removePoint()">
          Remove Point
        </button>
      </div>
      <div #speedChartTarget class="chart">
        chart target
      </div>

    </div>
    <div class="activity-block">
      <div>
        <button (click)="addSeries(2)">Add Series</button>
        <button (click)="removeSeries(2)" [attr.disabled]="chart2?.series.length === 1 ? '' : null">
          Remove Series
        </button>
      </div>
      <div #elevationChartTarget class="chart">
        chart target
      </div>
    </div>
    <div class="activity-block">
      <div>
        <button (click)="addSeries(3)">Add Series</button>
        <button (click)="removeSeries(3)" [attr.disabled]="chart3?.series.length === 1 ? '' : null">
          Remove Series
        </button>
      </div>
      <div #hrChartTarget class="chart">
        chart target
      </div>
    </div>
  </div>
</ng-container>


