.activty-title {
  border-bottom: 2px #e5e5e5 solid;
}

.activty-btn {
  width: 140px;
  height: 38px;
}

.activty-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d2d2d2;
  display: inline-block;
  position: relative;
  color: #919191;
}
.activty-icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.activty-info-data-value {
  font-size: 30px;
  color: #646464;
}
.activty-info-data-name {
  font-size: 15px;
  color: #6e6e6e;
}
.activity-block {
  margin-bottom: 45px;
}
.demo-chart {
  height: 400px;
}
