<div class="leaderboard-bg" [style.background-image]="bgImageUrl">
  <div class="leaderboard-layer">
    <button (click)="this._location.back()" class="button bg-btn">
      <i class="fa fa-undo" aria-hidden="true"></i>
    </button>
    <div class="container pt-5 map-container">
      <div class="row row-map">
        <div class="col-md-8">
          <h2 class="heading">活動路線圖</h2>
          <hr/>
          <div id="map" style="z-index: 1"></div>
        </div>
        <div class="col-md-4 info-container">
          <div>
            <h2 class="heading">個人成績</h2>
            <hr/>
            <div class="">
              <ul class="run-info">
                <li class="run-info__item">
                  <span class="">Route Name:</span>
                  <div class="run-info__item--collocate">{{ data && data.map_name || '尚無資訊' }}</div>
                </li>
                <li class="run-info__item">
                  <span class="">Total Distance:</span>
                  <div class="run-info__item--collocate">{{ data && data.race_total_distance || '尚無資訊' }} km</div>
                </li>
                <li class="run-info__item">
                  <span class="">Race Category:</span>
                  <div class="run-info__item--collocate">{{ data && data.race_category || '尚無資訊' }}</div>
                </li>
                <li class="run-info__item">
                  <span class="">Average Pace:</span>
                  <div class="run-info__item--collocate">{{ data && data.average_pace || '尚無資訊' }}</div>
                </li>
                <li class="run-info__item">
                  <span class="">Max Pace:</span>
                  <div class="run-info__item--collocate">{{ data && data.max_pace || '尚無資訊' }}</div>
                </li>
                <li class="run-info__item">
                  <span class="">Average speed:</span>
                  <div class="run-info__item--collocate">{{ data && data.average_speed || '尚無資訊' }}</div>
                </li>
                <li class="run-info__item">
                  <span class="">Max speed:</span>
                  <div class="run-info__item--collocate">{{ data && data.max_speed || '尚無資訊' }}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
