<portal-navbar></portal-navbar>
<div class="row row-map">
  <div class="col-md-8">
    <h2 class="heading">Map</h2>
    <hr/>
    <div id="map"></div>
  </div>
  <div class="col-md-4 info-container">
    <div id="run-info">
      <h2 class="heading">Run Data</h2>
      <hr/>
      <div class="data-heading">Route Name:</div>
      <p class="data-entry">{{ map_name || '艾菲爾鐵塔' }}</p>
      <hr/>

      <div class="data-heading">Date:</div>
      <p class="data-entry">{{ date | date:"longDate" }}
        <p>
          <hr/>

          <div class="data-heading">Total Distance:</div>
          <p class="data-entry">{{ race_total_distance || 1.45 }} km</p>
          <hr/>

          <div class="data-heading">Race Category:</div>
          <p class="data-entry">{{ race_category || '繞圈' }}</p>
          <hr/>

          <div class="data-heading">Average Pace:</div>
          <p class="data-entry">{{ average_pace || '15' }}</p>
          <hr/>

          <div class="data-heading">Max Pace:</div>
          <p class="data-entry">{{ max_pace || '17' }}</p>
          <hr/>

          <div class="data-heading">Average Speed:</div>
          <p class="data-entry">{{ average_speed || '15' }}</p>
          <hr/>

          <div class="data-heading">Max Speed:</div>
          <p class="data-entry">{{ max_speed || '17' }}</p>
          <hr/>
    </div>
  </div>
</div>
