tr.here {
  background-color: #cb5e5e;
}

.dropdown {
  display: inline-block;
}

.leaderboard-bg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaderboard-layer {
  background: rgb(100, 185, 196);
  background: linear-gradient(
    135deg,
    rgba(100, 185, 196, 0.2) 0%,
    rgba(6, 24, 91, 0.8) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#map {
  height: 400px;
}

.row-map {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 10px 32px;
  min-height: 640px;
}

.heading {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.2em;
}

.data-heading {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.6em;
  color: #333;
}

.data-entry {
  padding: 8px 0px 2px 16px;
  font-size: 1.5em;
}

.run-info {
  list-style: none;
  padding: 0 15px;
}

.run-info__item {
  border-bottom: 1px solid #eee;
  line-height: 1.6em;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .run-info__item--collocate {
    display: inline-block;
  }
  .map-container {
    max-width: 100%;
    padding-top: 0px !important;
  }
  .row-map {
    min-height: 100vh;
  }

}
