<app-loading-bar [progress]="uiFlag.progress"></app-loading-bar>
<div id="whole__page" class="flexRow">
  <aside id="aside__bar" *ngIf="uiFlag.showAside">
    <table>
      <tbody>
        <tr>
          <td class="app__icon">
            <img src="/assets/icons/connect-line.png" />
          </td>
          <td class="app__icon">
            <img src="/assets/icons/cloudrun-line.png" />
          </td>
        </tr>
        <tr>
          <td class="app__icon">
            <img src="/assets/icons/trainlive-line.png" />
          </td>
          <td class="app__icon">
            <img src="/assets/icons/fitness-line.png" />
          </td>
        </tr>
      </tbody>
    </table>
    <p class="aside__slogan">
      {{ 'universal_vocabulary_accountForAllALA' | translate }}
    </p>
  </aside>
  <div id="main__content" class="flexRow">
    <ng-container *ngIf="!uiFlag.applyComplish">
      <div class="flexCol" id="progress__hint" *ngIf="uiFlag.showAside">
        <div class="apply__stage">
          {{ 'universal_operating_start' | translate }}
        </div>
        <div
          class="apply__progress progress__bar__thick"
          [style.top]="progressLine.start.top | patchUnit: 'px'"
          [style.height]="progressLine.start.height | patchUnit: 'px'"
        ></div>
        <div
          id="first__step"
          class="flexCol apply__stage"
          [style.top]="stageTop.start | patchUnit: 'px'"
        >
          <span class="step__index"> 1 </span>
          <span>{{ 'universal_vocabulary_fillIn' | translate }}</span>
        </div>
        <div
          class="apply__progress progress__bar__thick"
          [style.top]="progressLine.finished.top | patchUnit: 'px'"
          [style.height]="progressLine.finished.height | patchUnit: 'px'"
        ></div>
        <div
          id="second__step"
          class="flexCol apply__stage"
          [style.top]="stageTop.edit | patchUnit: 'px'"
        >
          <span class="step__index"> 2 </span>
          <span>{{ 'universal_operating_edit' | translate }}</span>
        </div>
        <div
          class="apply__progress progress__bar__thin"
          [style.top]="progressLine.edit.top | patchUnit: 'px'"
          [style.height]="progressLine.edit.height | patchUnit: 'px'"
        ></div>
        <div
          id="third__step"
          class="flexCol apply__stage"
          [style.top]="stageTop.final | patchUnit: 'px'"
        >
          <span class="step__index"> 3 </span>
          <span>{{ 'universal_vocabulary_notDone' | translate }}</span>
        </div>
      </div>
      <section class="flexCol" id="apply__form">
        <h5 class="form__title">
          {{ 'universal_vocabulary_signUp' | translate }}
        </h5>
        <p id="sign__hint">
          {{ 'universal_vocabulary_accountExistLogin' | translate }}
          <br />{{ 'universal_vocabulary_loginFill' | translate }}
        </p>
        <form id="form__content">
          <div class="login__form">
            <div class="flexRow">
              <div class="flexRow icon__input">
                <mat-icon>smartphone</mat-icon>
                <div
                  [class.disable__account]="token && loginBody.signInType === SignTypeEnum.phone"
                  [class.country__code__selector]="
                    !token || loginBody.signInType !== SignTypeEnum.phone
                  "
                  [class.official-selector--active]="uiFlag.showCountryCodeList"
                  (click)="showCountryCodeList($event)"
                >
                  <span> +{{ applyInfo.userProfile.countryCode }} </span>
                  <ul class="country__code___list" *ngIf="uiFlag.showCountryCodeList">
                    <li
                      class="flexRow"
                      (click)="selectCountryCode($event, _list.code)"
                      *ngFor="let _list of countryCodeList"
                    >
                      <span class="country__number">
                        {{ _list.code }}
                      </span>
                      <span class="country__name">
                        {{ _list.name }}
                      </span>
                    </li>
                  </ul>
                </div>
                <input
                  type="text"
                  id="phone"
                  class="input__placeholder"
                  [class.disable__account]="token && loginBody.signInType === SignTypeEnum.phone"
                  [placeholder]="'universal_userAccount_phone' | translate"
                  [value]="applyInfo.userProfile.mobileNumber"
                  [disabled]="token && loginBody.signInType === SignTypeEnum.phone ? true : null"
                  (focus)="positionMark($event)"
                  (focusout)="checkPhoneFormat($event)"
                />
              </div>
              <ng-container *ngIf="uiFlag.accountChecking === AccountTypeEnum.phone">
                <span *ngTemplateOutlet="checkingHint"></span>
              </ng-container>
              <ng-container
                *ngIf="
                  (!uiFlag.accountChecking && alert.mobileNumber) ||
                  (uiFlag.clickSubmitButton && !applyInfo.userProfile.mobileNumber)
                "
              >
                <span
                  *ngTemplateOutlet="
                    inputAlert;
                    context: {
                      alert: alert.mobileNumber ? alert.mobileNumber : 'empty'
                    }
                  "
                ></span>
              </ng-container>
            </div>
            <ng-container *ngIf="uiFlag.showLoginButton === AccountTypeEnum.phone">
              <div
                *ngTemplateOutlet="
                  loginArea;
                  context: {
                    accountType: SignTypeEnum.phone
                  }
                "
              ></div>
            </ng-container>
            <div class="flexRow">
              <div class="flexRow icon__input">
                <mat-icon>email</mat-icon>
                <input
                  type="text"
                  id="email"
                  class="input__placeholder"
                  [class.disable__account]="token && loginBody.signInType === SignTypeEnum.email"
                  [placeholder]="'universal_userAccount_email' | translate"
                  [value]="applyInfo.userProfile.email"
                  [disabled]="token && loginBody.signInType === SignTypeEnum.email ? true : null"
                  (focus)="positionMark($event)"
                  (focusout)="checkEmailFormat($event)"
                />
              </div>
              <ng-container *ngIf="uiFlag.accountChecking === AccountTypeEnum.email">
                <span *ngTemplateOutlet="checkingHint"></span>
              </ng-container>
              <ng-container
                *ngIf="
                  (!uiFlag.accountChecking && alert.email) ||
                  (uiFlag.clickSubmitButton && !applyInfo.userProfile.email)
                "
              >
                <span
                  *ngTemplateOutlet="
                    inputAlert;
                    context: {
                      alert: alert.email ? alert.email : 'empty'
                    }
                  "
                ></span>
              </ng-container>
            </div>
            <ng-container *ngIf="uiFlag.showLoginButton === AccountTypeEnum.email">
              <div
                *ngTemplateOutlet="
                  loginArea;
                  context: {
                    accountType: SignTypeEnum.email
                  }
                "
              ></div>
            </ng-container>
          </div>
          <div class="flexRow form__input">
            <label for="nickname" class="input__label">
              {{ 'universal_userAccount_nickname' | translate }}
            </label>
            <input
              type="text"
              id="nickname"
              class="info__input input__placeholder"
              maxLength="24"
              [value]="applyInfo.userProfile.nickname"
              [placeholder]="'universal_userAccount_nickname' | translate"
              [disabled]="token ? true : null"
              (focus)="showNickNameHint($event)"
              (focusout)="checkNicknameFormat($event)"
            />
            <ng-container *ngIf="uiFlag.showNicknameHint && !alert.nickname">
              <span class="input__hint">
                {{ 'universal_userAccount_nameCharactersToLong' | translate }}
              </span>
            </ng-container>
            <ng-container
              *ngIf="
                alert.nickname || (uiFlag.clickSubmitButton && !applyInfo.userProfile.nickname)
              "
            >
              <span
                *ngTemplateOutlet="
                  inputAlert;
                  context: {
                    alert: alert.nickname ? alert.nickname : 'empty'
                  }
                "
              ></span>
            </ng-container>
          </div>
          <div class="flexRow form__input">
            <label for="truth__name" class="input__label">
              {{ 'universal_vocabulary_name' | translate }}
            </label>
            <input
              type="text"
              id="truth__name"
              class="info__input input__placeholder"
              maxLength="24"
              [placeholder]="'universal_vocabulary_typeRealName' | translate"
              [value]="applyInfo.userProfile.truthName"
              (focus)="positionMark($event)"
              (focusout)="checkTruthNameFormat($event)"
            />
            <ng-container
              *ngIf="
                alert.truthName || (uiFlag.clickSubmitButton && !applyInfo.userProfile.truthName)
              "
            >
              <span
                *ngTemplateOutlet="
                  inputAlert;
                  context: {
                    alert: alert.truthName ? alert.truthName : 'empty'
                  }
                "
              ></span>
            </ng-container>
          </div>
          <div class="flexRow form__input">
            <legend class="input__label">
              {{ 'universal_vocabulary_nationality' | translate }}
            </legend>
            <div class="radio__item">
              <input
                type="radio"
                id="nationality__taiwan"
                name="Nationality"
                class="radio__input"
                checked="true"
                [value]="Nationality.taiwaness"
                [(ngModel)]="applyInfo.userProfile.taiwaness"
                (focus)="positionMark($event)"
              />
              <label for="nationality__taiwan">
                {{ 'universal_vocabulary_domestic' | translate }}
              </label>
            </div>
            <div class="radio__item">
              <input
                type="radio"
                id="nationality__foreign"
                name="Nationality"
                class="radio__input"
                [value]="Nationality.foreign"
                [(ngModel)]="applyInfo.userProfile.taiwaness"
                (focus)="positionMark($event)"
              />
              <label for="nationality__foreign">
                {{ 'universal_vocabulary_oversea' | translate }}
              </label>
            </div>
          </div>
          <div class="flexRow form__input">
            <label for="id__number" class="input__label">
              {{ 'universal_vocabulary_idNumber' | translate }}
            </label>
            <input
              type="text"
              id="id__number"
              class="info__input input__placeholder"
              [placeholder]="'universal_vocabulary_ids' | translate"
              [value]="applyInfo.userProfile.idCardNumber"
              (focus)="positionMark($event)"
              (focusout)="checkIdCardNumberFormat($event)"
            />
            <ng-container
              *ngIf="
                alert.idCardNumber ||
                (uiFlag.clickSubmitButton && !applyInfo.userProfile.idCardNumber)
              "
            >
              <span
                *ngTemplateOutlet="
                  inputAlert;
                  context: {
                    alert: alert.idCardNumber ? alert.idCardNumber : 'empty'
                  }
                "
              ></span>
            </ng-container>
          </div>
          <div class="flexRow form__input">
            <legend class="input__label">
              {{ 'universal_userProfile_gender' | translate }}
            </legend>
            <div class="radio__item">
              <input
                type="radio"
                id="gender__male"
                name="gender"
                class="radio__input"
                [attr.checked]="applyInfo.userProfile.gender === 0 ? true : null"
                [value]="Sex.male"
                (focus)="positionMark($event)"
                (click)="changeGender($event)"
              />
              <label for="gender__male">
                {{ 'universal_userProfile_male' | translate }}
              </label>
            </div>
            <div class="radio__item">
              <input
                type="radio"
                id="gender__female"
                name="gender"
                class="radio__input"
                [attr.checked]="applyInfo.userProfile.gender === 1 ? true : null"
                [value]="Sex.female"
                (focus)="positionMark($event)"
                (click)="changeGender($event)"
              />
              <label for="gender__female">
                {{ 'universal_userProfile_female' | translate }}
              </label>
            </div>
          </div>
          <div class="flexRow form__input">
            <label class="input__label">
              {{ 'universal_userProfile_birthday' | translate }}
            </label>
            <app-date-range-picker
              (selectDateRange)="getSelectDate($event)"
              [pickerType]="'singlePicker'"
              [refStartDate]="defaultBirthday | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'"
              [default]="defaultBirthday | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'"
              [selectBirthday]="true"
              [limitMin]="limitMinBirth | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'"
              [limitMaxCurrent]="true"
              [editStyle]="
                '
                border: none;
                border-bottom: 1px solid black;
                font-weight: bold;
                outline: none;
                width: 100%;
              '
              "
            ></app-date-range-picker>
          </div>
          <div class="flexRow form__input">
            <label for="address" class="input__label">
              {{ 'universal_vocabulary_address' | translate }}
            </label>
            <input
              type="text"
              id="address"
              class="info__input input__placeholder"
              maxLength="50"
              [placeholder]="
                'universal_userAccount_enterInfo'
                  | translate
                    : {
                        info: ('universal_vocabulary_address' | translate)
                      }
              "
              [value]="applyInfo.userProfile.address"
              (focus)="positionMark($event)"
              (focusout)="checkIdAddressFormat($event)"
            />
            <ng-container
              *ngIf="alert.address || (uiFlag.clickSubmitButton && !applyInfo.userProfile.address)"
            >
              <span
                *ngTemplateOutlet="
                  inputAlert;
                  context: {
                    alert: alert.address ? alert.address : 'empty'
                  }
                "
              ></span>
            </ng-container>
          </div>
          <div class="flexRow form__input">
            <label for="remark" class="input__label">
              {{ 'universal_vocabulary_memo' | translate }}
            </label>
            <input
              type="text"
              id="remark"
              name="remark"
              class="info__input input__placeholder"
              [placeholder]="'(' + ('universal_vocabulary_optional' | translate) + ')'"
              maxLength="50"
              [(ngModel)]="applyInfo.userProfile.remark"
              (focus)="positionMark($event)"
            />
          </div>
          <fieldset class="flexCol emergency__contact">
            <div class="flexRow form__input" [class.drop__hint--hide]="uiFlag.showEmergencyContact">
              <label for="emergency__contact__name" class="input__label">
                {{ 'universal_vocabulary_emerContact' | translate }}
              </label>
              <div class="flexRow drop__hint">
                <input
                  type="text"
                  id="emergency__contact__name"
                  name="emergency__contact__name"
                  class="info__input input__placeholder"
                  maxLength="24"
                  [placeholder]="'(' + ('universal_vocabulary_optional' | translate) + ')'"
                  [(ngModel)]="applyInfo.userProfile.emergencyContact.name"
                  (focus)="showEmergencyContact($event)"
                />
              </div>
            </div>
            <div
              class="flexCol emergency__contact__fold"
              [class.emergency__contact__unfold]="uiFlag.showEmergencyContact"
            >
              <div class="flexRow form__input">
                <label for="emergency__contact__phone" class="input__label">
                  {{ 'universal_vocabulary_phone' | translate }}
                </label>
                <input
                  type="text"
                  id="emergency__contact__phone"
                  name="emergency__contact__phone"
                  class="info__input input__placeholder"
                  [placeholder]="'(' + ('universal_vocabulary_optional' | translate) + ')'"
                  [value]="applyInfo.userProfile.emergencyContact.mobileNumber"
                  (focus)="positionMark($event)"
                  (focusout)="checkEmergencyPhoneFormat($event)"
                />
                <ng-container *ngIf="alert.emergencyContact.mobileNumber">
                  <span
                    *ngTemplateOutlet="
                      inputAlert;
                      context: {
                        alert: alert.emergencyContact.mobileNumber
                      }
                    "
                  ></span>
                </ng-container>
              </div>
              <div class="flexRow form__input">
                <label for="emergency__contact__relationship" class="input__label">
                  {{ 'universal_vocabulary_relation' | translate }}
                </label>
                <input
                  type="text"
                  id="emergency__contact__relationship"
                  name="emergency__contact__relationship"
                  class="info__input input__placeholder"
                  maxlength="8"
                  [placeholder]="'（' + ('universal_vocabulary_optional' | translate) + '）'"
                  [(ngModel)]="applyInfo.userProfile.emergencyContact.relationship"
                  (focus)="positionMark($event)"
                />
              </div>
            </div>
          </fieldset>
          <div class="flexRow form__input" *ngIf="eventDetail?.group.length > 0">
            <label class="input__label">
              {{ 'universal_vocabulary_raceGroup' | translate }}
            </label>
            <div
              id="group__selector"
              class="flexRow group__selector"
              [class.group__selector--active]="uiFlag.showGroupList"
              (click)="showGroupList($event)"
            >
              <span>
                {{ eventDetail.group[applyInfo.targetGroupId - 1].name }}
              </span>
              <ul class="group__menu" *ngIf="uiFlag.showGroupList">
                <li
                  class="flexCol"
                  (click)="selectGroup($event, _group.id)"
                  *ngFor="let _group of groupList"
                >
                  <span>{{ _group.name }}</span>
                  <span class="group__limit">
                    <ng-container *ngIf="_group.gender !== 2">
                      {{ _group.gender | sex: 'i18n' | translate }}
                    </ng-container>
                    <ng-container *ngIf="_group.gender === 2">
                      {{ 'universal_vocabulary_noGenderLimit' | translate }}
                    </ng-container>
                    |
                    <ng-container *ngIf="_group.age">
                      {{ _group.age.min }}~{{ _group.age.max }}
                      {{ 'universal_deviceSetting_yearsOld' | translate }}
                    </ng-container>
                    <ng-container *ngIf="!_group.age">
                      {{ 'universal_vocabulary_noAgeLimit' | translate }}
                    </ng-container>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div
            id="apply__fee__selector"
            class="flexRow form__input"
            (click)="positionMark($event)"
            *ngIf="eventDetail?.applyFee.length > 0"
          >
            <label class="input__label">
              {{ 'universal_vocabulary_racePackage' | translate }}
            </label>
            <ul class="fee__plan__menu">
              <li
                [class.apply__fee--active]="applyInfo.targetFeeId == _plan.feeId"
                *ngFor="let _plan of eventDetail.applyFee"
                (click)="selectApplyFee(_plan.feeId, _plan.title, _plan.fee)"
              >
                <div class="flexCol">
                  <h6 class="apply__fee__title">
                    {{ _plan.title }}
                  </h6>
                  <span class="apply__fee__price"> ${{ _plan.fee }} </span>
                  <img
                    class="apply__fee__img"
                    [src]="_plan.img"
                    [alt]="_plan.title"
                    (load)="checkStagePosition()"
                    *ngIf="_plan.img"
                  />
                </div>
              </li>
            </ul>
          </div>
          <div class="flexCenter">
            <button
              class="submit__button"
              [class.submit__button--disabled]="uiFlag.notQualified"
              (click)="checkForm()"
            >
              <ng-container *ngIf="!uiFlag.notQualified">
                {{ 'universal_vocabulary_signUp' | translate }}
              </ng-container>
              <ng-container *ngIf="uiFlag.notQualified">
                {{ 'universal_vocabulary_notQualified' | translate }}
              </ng-container>
            </button>
          </div>
        </form>
        <div class="mobileFiller"></div>
      </section>
    </ng-container>
    <ng-container *ngIf="uiFlag.applyComplish">
      <div id="apply__accomplish" class="flexCol">
        <div id="apply__accomplish__content" class="flexCol">
          <h5 class="form__title">
            {{ 'universal_status_willComplete' | translate }}
          </h5>
          <p id="apply__hint" class="flexCol">
            <span class="apply__accomplish__text" *ngIf="uiFlag.newAccount">
              {{ 'universal_vocabulary_loginInfo' | translate }}
            </span>
          </p>

          <ng-container
            *ngIf="(selectPlanInfo.fee !== 0 && !uiFlag.enableAccount) || uiFlag.newAccount"
          >
            <p class="apply__accomplish__text">
              <span> {{ 'universal_userAccount_account' | translate }}： </span>
              <span *ngIf="loginBody.signInType === SignTypeEnum.phone">
                +{{ applyInfo.userProfile.countryCode }} {{ applyInfo.userProfile.mobileNumber }}
              </span>
              <span *ngIf="loginBody.signInType === SignTypeEnum.email">
                {{ applyInfo.userProfile.email }}
              </span>
            </p>
          </ng-container>

          <ng-container
            *ngIf="
              selectPlanInfo.fee !== 0 &&
              ((!uiFlag.enableAccount && loginBody.signInType === SignTypeEnum.phone) ||
                uiFlag.enableAccomplishment)
            "
          >
            <form id="enable__account" class="account__relation__form">
              <h6 class="apply__accomplish__text">
                {{ 'universal_userAccount_accountVerification' | translate }}
              </h6>
              <div>
                <div id="sms__input" class="flexRow icon__input">
                  <mat-icon>sms</mat-icon>
                  <input
                    #smsInput
                    type="text"
                    name="sms__verify"
                    class="input__placeholder input__no__border"
                    [placeholder]="'universal_userAccount_phoneCaptcha' | translate"
                    [disabled]="uiFlag.enableAccomplishment ? true : null"
                    [(ngModel)]="enableBody.verificationCode"
                  />
                </div>
                <p class="error__hint">
                  <ng-container *ngIf="uiFlag.smsError">
                    {{ 'universal_userAccount_errorCaptcha' | translate }}
                  </ng-container>
                </p>
              </div>
              <div class="flexCol" *ngIf="imgLock && imgLock.lockImg">
                <div class="flexRow">
                  <input
                    placeholder="{{ 'universal_userAccount_imgCaptcha' | translate }}"
                    maxlength="8"
                    class="input__placeholder info__input captcha__input"
                    [class.input__alert__border]="imgLock.unlockKeyEmpty"
                    (change)="imgLock.editUnlockKey($event.target.value)"
                    (focusout)="imgLock.editUnlockKey($event.target.value)"
                  />
                  <img [src]="'data:image/png;base64,' + imgLock.lockImg" class="captcha__img" />
                </div>
                <p class="error__hint">
                  <ng-container *ngIf="imgLock.foundUnlockKeyError">
                    {{ 'universal_userAccount_errorCaptcha' | translate }}
                  </ng-container>
                </p>
              </div>
              <div class="flexRow" style="align-items: center">
                <button
                  id="enable__account___button"
                  class="request__update__button"
                  [disabled]="imgLock && imgLock.unlockKeyEmpty ? true : null"
                  (click)="handleEnableAccount()"
                >
                  {{ 'universal_operating_send' | translate }}
                </button>
                <button
                  class="resend__button"
                  [disabled]="timeCount !== 30 || (imgLock && imgLock.unlockKeyEmpty) ? true : null"
                  (click)="getVerification()"
                  *ngIf="!uiFlag.enableAccomplishment"
                >
                  {{ 'universal_vocabulary_resend' | translate }}
                  <span class="time__count">({{ timeCount }}s)</span>
                </button>
                <i
                  class="icon-svg_web-icon_p2_097-ok success__hint__icon"
                  *ngIf="uiFlag.enableAccomplishment"
                ></i>
              </div>
            </form>
          </ng-container>

          <ng-container
            *ngIf="uiFlag.newAccount && (uiFlag.enableAccount || selectPlanInfo.fee === 0)"
          >
            <form id="reset__password" class="account__relation__form">
              <h6 class="apply__accomplish__text">
                {{ 'universal_vocabulary_passwordWanted' | translate }}
              </h6>
              <div id="new__password__input" class="flexRow icon__input">
                <mat-icon>vpn_key</mat-icon>
                <input
                  id="reset__password__input"
                  class="input__placeholder input__no__border"
                  type="password"
                  [placeholder]="'universal_userAccount_password' | translate"
                  [disabled]="uiFlag.newPasswordUpdated ? true : null"
                  (focus)="showPasswordHint()"
                  (focusout)="checkPasswordFormat($event)"
                />
              </div>
              <p id="not__reset__alert" *ngIf="!uiFlag.showPasswordHint">
                {{ 'universal_vocabulary_noPasswordWarning' | translate }}
              </p>
              <p
                id="password__hint"
                [class.error__hint]="uiFlag.newPasswordFormatError"
                *ngIf="uiFlag.showPasswordHint"
              >
                {{ 'universal_userAccount_passwordFormat' | translate }}
              </p>
              <div class="flexRow" style="align-items: center">
                <button
                  id="update__password___button"
                  class="request__update__button"
                  (click)="handleUpdatePassword()"
                >
                  {{ 'universal_operating_update' | translate }}
                </button>
                <i
                  class="icon-svg_web-icon_p2_097-ok success__hint__icon"
                  *ngIf="uiFlag.newPasswordUpdated"
                ></i>
              </div>
            </form>
          </ng-container>
          <div class="apply__fee__content">
            <h6 class="apply__accomplish__text">
              {{ 'universal_vocabulary_itemPackage' | translate }}：
            </h6>
            <table class="apply__fee__detail">
              <thead>
                <tr>
                  <th>
                    {{ 'universal_vocabulary_item' | translate }}
                  </th>
                  <th>
                    {{ 'universal_group_cost' | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ selectPlanInfo.title }}
                  </td>
                  <td>
                    {{ selectPlanInfo.fee }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="paid__button">
          <ng-container
            *ngIf="
              selectPlanInfo.fee !== 0 &&
              (uiFlag.enableAccount || loginBody.signInType === SignTypeEnum.phone)
            "
          >
            <p id="not__paid__alert">
              {{ 'universal_vocabulary_thisOrderNotPaid' | translate }}
            </p>
            <button
              class="submit__button"
              [class.submit__button--disabled]="!uiFlag.enableAccount"
              (click)="navigatePaidPage()"
            >
              {{ 'universal_vocabulary_goToPay' | translate }}
            </button>
          </ng-container>
          <ng-container
            *ngIf="
              selectPlanInfo.fee === 0 ||
              (!uiFlag.enableAccount && loginBody.signInType === SignTypeEnum.email)
            "
          >
            <button class="submit__button" (click)="navigateMyActivityPage()">
              {{ 'universal_operating_back' | translate }}
            </button>
          </ng-container>
        </div>
        <div class="mobileFiller"></div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #checkingHint>
  <span class="checking__text">{{ 'universal_status_inspection' | translate }}...</span>
</ng-template>

<ng-template #inputAlert let-alert="alert" let-accountType="accountType">
  <span class="alert__text">
    <ng-container *ngIf="alert === 'format'">
      {{ 'universal_status_wrongFormat' | translate }}
    </ng-container>
    <ng-container *ngIf="alert === 'empty'">
      {{ 'universal_userAccount_fullField' | translate }}
    </ng-container>
    <ng-container *ngIf="alert === 'repeat'">
      {{ 'universal_userAccount_nickname' | translate }}
      {{ 'universal_deviceSetting_repeat' | translate }}
    </ng-container>
    <ng-container *ngIf="alert === 'login' && accountType === SignTypeEnum.phone">
      {{ 'universal_vocabulary_loginChangePhone' | translate }}
    </ng-container>
    <ng-container *ngIf="alert === 'login' && accountType === SignTypeEnum.email">
      {{ 'universal_vocabulary_loginChangeEmail' | translate }}
    </ng-container>
  </span>
</ng-template>

<ng-template #loginArea let-accountType="accountType">
  <div class="flexCol">
    <div class="flexRow password__input">
      <div class="flexRow icon__input">
        <mat-icon>vpn_key</mat-icon>
        <input
          [type]="uiFlag.displayPW ? 'text' : 'password'"
          id="password"
          class="input__placeholder"
          maxlength="20"
          autocomplete="on"
          [placeholder]="'universal_userAccount_password' | translate"
          (focusout)="checkPassword($event)"
        />
        <button class="appview-showPassword" (click)="toggleDisplayPW()">
          <i
            class="icon-svg_web-icon_p1_081-watch"
            [style.color]="uiFlag.displayPW ? 'rgba(100, 100, 100, 1)' : 'rgba(200, 200, 200, 1)'"
          ></i>
        </button>
      </div>
      <button
        class="login__button"
        [class.login__button--active]="loginBody.password"
        (click)="login()"
      >
        {{ 'universal_userAccount_logIn' | translate }}
      </button>
    </div>
    <ng-container *ngIf="uiFlag.showLoginButton">
      <span
        *ngTemplateOutlet="
          inputAlert;
          context: {
            alert: 'login',
            accountType
          }
        "
      ></span>
    </ng-container>
  </div>
</ng-template>
