.life-tracking-tip {
  color: #C780C5;
  font-size: 14px;
  margin-left: 10px;
}
.highcharts-credits {
  display: none;
}
.no-datas {
  text-align: center;
  padding: 30px;
}
.fileInfo {
  margin: 30px 0px 15px;
  display: flex;
  flex-wrap: wrap;
  .fileInfo-item {
    flex: 0 0 33%;
    margin-bottom: 15px;
    .life-tracking-data-name {
      color: #6e6e6e;
    }

    .life-tracking-data-value {
      margin-left: 10px;
    }
  }
}
