@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icomoon.eot?e40uhe');
  src: url('./assets/fonts/icomoon.eot?e40uhe#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?e40uhe') format('truetype'),
    url('./assets/fonts/icomoon.woff?e40uhe') format('woff'),
    url('./assets/fonts/icomoon.svg?e40uhe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-svg_web-icon_p1_001-setting:before {
  content: "\e900";
}

.icon-svg_web-icon_p1_002-trophy:before {
  content: "\e901";
}

.icon-svg_web-icon_p1_003-peoples:before {
  content: "\e902";
}

.icon-svg_web-icon_p1_004-qr_code:before {
  content: "\e903";
}

.icon-svg_web-icon_p1_005-menu:before {
  content: "\e904";
}

.icon-svg_web-icon_p1_006-unfold:before {
  content: "\e905";
}

.icon-svg_web-icon_p1_007-fold:before {
  content: "\e906";
}

.icon-svg_web-icon_p1_008-edit:before {
  content: "\e907";
}

.icon-svg_web-icon_p1_009-delete:before {
  content: "\e908";
}

.icon-svg_web-icon_p1_010-treadmill:before {
  content: "\e909";
}

.icon-svg_web-icon_p1_011-gps:before {
  content: "\e90a";
}

.icon-svg_web-icon_p1_012-close:before {
  content: "\e90b";
}

.icon-svg_web-icon_p1_013-share:before {
  content: "\e90c";
}

.icon-svg_web-icon_p1_014-search:before {
  content: "\e90d";
}

.icon-svg_web-icon_p1_015-more:before {
  content: "\e90e";
}

.icon-svg_web-icon_p1_016-back:before {
  content: "\e90f";
}

.icon-svg_web-icon_p1_017-output:before {
  content: "\e910";
}

.icon-svg_web-icon_p1_018-input:before {
  content: "\e911";
}

.icon-svg_web-icon_p1_019-full_screen:before {
  content: "\e912";
}

.icon-svg_web-icon_p1_020-narrow:before {
  content: "\e913";
}

.icon-svg_web-icon_p1_021-add_friend:before {
  content: "\e914";
}

.icon-svg_web-icon_p1_022-descending:before {
  content: "\e915";
}

.icon-svg_web-icon_p1_023-ascending:before {
  content: "\e916";
}

.icon-svg_web-icon_p1_024-heart_rate:before {
  content: "\e917";
}

.icon-svg_web-icon_p1_025-speed:before {
  content: "\e918";
}

.icon-svg_web-icon_p1_026-time:before {
  content: "\e919";
}

.icon-svg_web-icon_p1_027-announcement:before {
  content: "\e91a";
}

.icon-svg_web-icon_p1_028-email:before {
  content: "\e91b";
}

.icon-svg_web-icon_p1_029-add:before {
  content: "\e91c";
}

.icon-svg_web-icon_p1_030-less:before {
  content: "\e91d";
}

.icon-svg_web-icon_p1_031-sync:before {
  content: "\e91e";
}

.icon-svg_web-icon_p1_032-screen:before {
  content: "\e91f";
}

.icon-svg_web-icon_p1_033-broadcast:before {
  content: "\e920";
}

.icon-svg_web-icon_p1_034-home:before {
  content: "\e921";
}

.icon-svg_web-icon_p1_035-chat:before {
  content: "\e922";
}

.icon-svg_web-icon_p1_036-friends:before {
  content: "\e923";
}

.icon-svg_web-icon_p1_037-chart:before {
  content: "\e924";
}

.icon-svg_web-icon_p1_038-cloud:before {
  content: "\e925";
}

.icon-svg_web-icon_p1_039-phone:before {
  content: "\e926";
}

.icon-svg_web-icon_p1_040-book:before {
  content: "\e927";
}

.icon-svg_web-icon_p1_041-file_gpx:before {
  content: "\e928";
}

.icon-svg_web-icon_p1_042-calories:before {
  content: "\e929";
}

.icon-svg_web-icon_p1_043-check:before {
  content: "\e92a";
}

.icon-svg_web-icon_p1_044-uncheck:before {
  content: "\e92b";
}

.icon-svg_web-icon_p1_045-earth:before {
  content: "\e92c";
}

.icon-svg_web-icon_p1_046-watch:before {
  content: "\e92d";
}

.icon-svg_web-icon_p1_047-comparing:before {
  content: "\e92e";
}

.icon-svg_web-icon_p1_048-service:before {
  content: "\e92f";
}

.icon-svg_web-icon_p1_049-regional_network:before {
  content: "\e930";
}

.icon-svg_web-icon_p1_050-report:before {
  content: "\e931";
}

.icon-svg_web-icon_p1_051-hub:before {
  content: "\e932";
}

.icon-svg_web-icon_p1_052-register:before {
  content: "\e933";
}

.icon-svg_web-icon_p1_053-battery_0:before {
  content: "\e934";
}

.icon-svg_web-icon_p1_054-battery_1:before {
  content: "\e935";
}

.icon-svg_web-icon_p1_055-battery_2:before {
  content: "\e936";
}

.icon-svg_web-icon_p1_056-battery_3:before {
  content: "\e937";
}

.icon-svg_web-icon_p1_057-battery_full:before {
  content: "\e938";
}

.icon-svg_web-icon_p1_058-charging:before {
  content: "\e939";
}

.icon-svg_web-icon_p1_059-lock:before {
  content: "\e93a";
}

.icon-svg_web-icon_p1_060-unlock:before {
  content: "\e93b";
}

.icon-svg_web-icon_p1_061-signal_0:before {
  content: "\e93c";
}

.icon-svg_web-icon_p1_062-signal_1:before {
  content: "\e93d";
}

.icon-svg_web-icon_p1_063-signal_2:before {
  content: "\e93e";
}

.icon-svg_web-icon_p1_064-signal_full:before {
  content: "\e93f";
}

.icon-svg_web-icon_p1_065-poor:before {
  content: "\e940";
}

.icon-svg_web-icon_p1_066-ordinary:before {
  content: "\e941";
}

.icon-svg_web-icon_p1_067-good:before {
  content: "\e942";
}

.icon-svg_web-icon_p1_068-great:before {
  content: "\e943";
}

.icon-svg_web-icon_p1_069-about:before {
  content: "\e944";
}

.icon-svg_web-icon_p1_070-doubt:before {
  content: "\e945";
}

.icon-svg_web-icon_p1_071-connect:before {
  content: "\e946";
}

.icon-svg_web-icon_p1_072-unconnect:before {
  content: "\e947";
}

.icon-svg_web-icon_p1_073-level_fold:before {
  content: "\e948";
}

.icon-svg_web-icon_p1_074-level_unfold:before {
  content: "\e949";
}

.icon-svg_web-icon_p1_075-shopping_cart:before {
  content: "\e94a";
}

.icon-svg_web-icon_p1_076-zoom_in:before {
  content: "\e94b";
}

.icon-svg_web-icon_p1_077-zoom_out:before {
  content: "\e94c";
}

.icon-svg_web-icon_p1_078-filter:before {
  content: "\e94d";
}

.icon-svg_web-icon_p1_079-user:before {
  content: "\e94e";
}

.icon-svg_web-icon_p1_080-weight:before {
  content: "\e94f";
}

.icon-svg_web-icon_p1_081-watch:before {
  content: "\e950";
}

.icon-svg_web-icon_p1_082-information:before {
  content: "\e951";
}

.icon-svg_web-icon_p1_083-run:before {
  content: "\e952";
}

.icon-svg_web-icon_p1_084-cycle:before {
  content: "\e953";
}

.icon-svg_web-icon_p1_085-swim:before {
  content: "\e954";
}

.icon-svg_web-icon_p1_086-weight_training:before {
  content: "\e955";
}

.icon-svg_web-icon_p1_087-aerobic:before {
  content: "\e956";
}

.icon-svg_web-icon_p1_088-row:before {
  content: "\e957";
}

.icon-svg_web-icon_p1_089-favorite:before {
  content: "\e958";
}

.icon-svg_web-icon_p1_090-unfavorite:before {
  content: "\e959";
}

.icon-svg_web-icon_p1_091-increase:before {
  content: "\e95a";
}

.icon-svg_web-icon_p1_092-delete:before {
  content: "\e95b";
}

.icon-svg_web-icon_p1_093-bottom:before {
  content: "\e95c";
}

.icon-svg_web-icon_p1_094-top:before {
  content: "\e95d";
}

.icon-svg_web-icon_p1_095-question:before {
  content: "\e95e";
}

.icon-svg_web-icon_p1_096-marvel:before {
  content: "\e95f";
}

.icon-svg_web-icon_p1_097-menu_storage:before {
  content: "\e960";
}

.icon-svg_web-icon_p1_098-warning:before {
  content: "\e961";
}

.icon-svg_web-icon_p1_099-calendar:before {
  content: "\e962";
}

.icon-svg_web-icon_p1_100-service:before {
  content: "\e963";
}

.icon-svg_web-icon_p2_001-activity:before {
  content: "\e964";
}

.icon-svg_web-icon_p2_002-watch:before {
  content: "\e965";
}

.icon-svg_web-icon_p2_003-heart_rate:before {
  content: "\e966";
}

.icon-svg_web-icon_p2_004-fit_time:before {
  content: "\e967";
}

.icon-svg_web-icon_p2_005-rest_heart_rate:before {
  content: "\e968";
}

.icon-svg_web-icon_p2_006-avg_heart_rate:before {
  content: "\e969";
}

.icon-svg_web-icon_p2_007-max_heart_rate:before {
  content: "\e96a";
}

.icon-svg_web-icon_p2_008-mini_heart_rate:before {
  content: "\e96b";
}

.icon-svg_web-icon_p2_009-step:before {
  content: "\e96c";
}

.icon-svg_web-icon_p2_010-calorie:before {
  content: "\e96d";
}

.icon-svg_web-icon_p2_011-deep_sleep:before {
  content: "\e96e";
}

.icon-svg_web-icon_p2_012-light_sleep:before {
  content: "\e96f";
}

.icon-svg_web-icon_p2_013-wake_up:before {
  content: "\e970";
}

.icon-svg_web-icon_p2_014-heart_rate:before {
  content: "\e971";
}

.icon-svg_web-icon_p2_015-sleep:before {
  content: "\e972";
}

.icon-svg_web-icon_p2_016-step:before {
  content: "\e973";
}

.icon-svg_web-icon_p2_017-lap:before {
  content: "\e974";
}

.icon-svg_web-icon_p2_018-distance:before {
  content: "\e975";
}

.icon-svg_web-icon_p2_019-time:before {
  content: "\e976";
}

.icon-svg_web-icon_p2_020-speed:before {
  content: "\e977";
}

.icon-svg_web-icon_p2_021-altitude:before {
  content: "\e978";
}

.icon-svg_web-icon_p2_022-no_network:before {
  content: "\e979";
}

.icon-svg_web-icon_p2_023-watch_blank:before {
  content: "\e97a";
}

.icon-svg_web-icon_p2_024-watch_pointer:before {
  content: "\e97b";
}

.icon-svg_web-icon_p2_025-watch_sync:before {
  content: "\e97c";
}

.icon-svg_web-icon_p2_026-more:before {
  content: "\e97d";
}

.icon-svg_web-icon_p2_027-remind:before {
  content: "\e97e";
}

.icon-svg_web-icon_p2_028-pace_1km:before {
  content: "\e97f";
}

.icon-svg_web-icon_p2_029-pace_500m:before {
  content: "\e980";
}

.icon-svg_web-icon_p2_030-pace_100m:before {
  content: "\e981";
}

.icon-svg_web-icon_p2_031-activity_time:before {
  content: "\e982";
}

.icon-svg_web-icon_p2_032-rest_time:before {
  content: "\e983";
}

.icon-svg_web-icon_p2_033-weight:before {
  content: "\e984";
}

.icon-svg_web-icon_p2_034-cadence:before {
  content: "\e985";
}

.icon-svg_web-icon_p2_035-max_1rm:before {
  content: "\e986";
}

.icon-svg_web-icon_p2_036-indoor_run:before {
  content: "\e987";
}

.icon-svg_web-icon_p2_037-bike_trainer:before {
  content: "\e988";
}

.icon-svg_web-icon_p2_038-complex:before {
  content: "\e989";
}

.icon-svg_web-icon_p2_039-rest:before {
  content: "\e98a";
}

.icon-svg_web-icon_p2_040-watt:before {
  content: "\e98b";
}

.icon-svg_web-icon_p2_041-stop:before {
  content: "\e98c";
}

.icon-svg_web-icon_p2_042-indoor_bike:before {
  content: "\e98d";
}

.icon-svg_web-icon_p2_043-walking:before {
  content: "\e98e";
}

.icon-svg_web-icon_p2_044-trail_running:before {
  content: "\e98f";
}

.icon-svg_web-icon_p2_045-skating:before {
  content: "\e990";
}

.icon-svg_web-icon_p2_046-ultramarathon:before {
  content: "\e991";
}

.icon-svg_web-icon_p2_047-pilates:before {
  content: "\e992";
}

.icon-svg_web-icon_p2_048-yoga:before {
  content: "\e993";
}

.icon-svg_web-icon_p2_049-streching:before {
  content: "\e994";
}

.icon-svg_web-icon_p2_050-intervals:before {
  content: "\e995";
}

.icon-svg_web-icon_p2_051-dance:before {
  content: "\e996";
}

.icon-svg_web-icon_p2_052-kettlebell:before {
  content: "\e997";
}

.icon-svg_web-icon_p2_053-gymnastics:before {
  content: "\e999";
}

.icon-svg_web-icon_p2_055-hiking:before {
  content: "\e99a";
}

.icon-svg_web-icon_p2_056-rock_climbing:before {
  content: "\e99b";
}

.icon-svg_web-icon_p2_057-indoor_rock_climbing:before {
  content: "\e99c";
}

.icon-svg_web-icon_p2_058-paragliding:before {
  content: "\e99d";
}

.icon-svg_web-icon_p2_059-hang_gliding:before {
  content: "\e99e";
}

.icon-svg_web-icon_p2_060-skiing:before {
  content: "\e99f";
}

.icon-svg_web-icon_p2_061-snowboarding:before {
  content: "\e9a0";
}

.icon-svg_web-icon_p2_062-open_water_swim:before {
  content: "\e9a1";
}

.icon-svg_web-icon_p2_063-mountain_bike:before {
  content: "\e9a2";
}

.icon-svg_web-icon_p2_064-trail_bike:before {
  content: "\e9a3";
}

.icon-svg_web-icon_p2_065-part_weight_training:before {
  content: "\e9a4";
}

.icon-svg_web-icon_p2_066-kayak:before {
  content: "\e9a5";
}

.icon-svg_web-icon_p2_067-wind_surfing:before {
  content: "\e9a6";
}

.icon-svg_web-icon_p2_068-surfing:before {
  content: "\e9a7";
}

.icon-svg_web-icon_p2_069-indoor_walking:before {
  content: "\e9a8";
}

.icon-svg_web-icon_p2_070-eliptical:before {
  content: "\e9a9";
}

.icon-svg_web-icon_p2_071-stair_climber:before {
  content: "\e9aa";
}

.icon-svg_web-icon_p2_072-duathlon:before {
  content: "\e9ab";
}

.icon-svg_web-icon_p2_073-basketball:before {
  content: "\e9ac";
}

.icon-svg_web-icon_p2_074-badminton:before {
  content: "\e9ad";
}

.icon-svg_web-icon_p2_075-tennis:before {
  content: "\e9ae";
}

.icon-svg_web-icon_p2_076-ping_pong:before {
  content: "\e9af";
}

.icon-svg_web-icon_p2_077-football:before {
  content: "\e9b0";
}

.icon-svg_web-icon_p2_078-golf:before {
  content: "\e9b1";
}

.icon-svg_web-icon_p2_079-american_football:before {
  content: "\e9b2";
}

.icon-svg_web-icon_p2_080-volly_ball:before {
  content: "\e9b3";
}

.icon-svg_web-icon_p2_081-soft_ball:before {
  content: "\e9b4";
}

.icon-svg_web-icon_p2_082-baseball:before {
  content: "\e9b5";
}

.icon-svg_web-icon_p2_083-rugby:before {
  content: "\e9b6";
}

.icon-svg_web-icon_p2_084-pause:before {
  content: "\e9b7";
}

.icon-svg_web-icon_p2_085-play:before {
  content: "\e9b8";
}

.icon-svg_web-icon_p2_086-section:before {
  content: "\e9b9";
}

.icon-svg_web-icon_p2_065-part_weight_training:before {
  content: "\e9a4";
}

.icon-svg_web-icon_p2_087-print:before {
  content: "\e9ba";
}

.icon-svg_web-icon_p2_096-camera:before {
  content: "\e9c3";
}

.icon-svg_web-icon_p2_097-ok:before {
  content: "\e9c4";
}

.icon-svg_web-icon_p2_098-no_view:before {
  content: "\e9c5";
}

.icon-svg_web-icon_p2_099-upload_to_cloud:before {
  content: "\e9c6";
}

.icon-svg_web-icon_p2_100-line_chart:before {
  content: "\e9c7";
}

.icon-svg_web-icon_p3_001-bathroom_scale:before {
  content: "\e9c8";
}

.icon-svg_web-icon_p3_002-right_turn:before {
  content: "\e9c9";
}

.icon-svg_web-icon_p3_003-left_turn:before {
  content: "\e9ca";
}

.icon-svg_web-icon_p3_004-horizontal_mirroring:before {
  content: "\e9cb";
}

.icon-svg_web-icon_p3_005-vertical_mirroring:before {
  content: "\e9cc";
}

.icon-svg_web-icon_p3_006-stratum:before {
  content: "\e9cd";
}

.icon-svg_web-icon_p3_007-average:before {
  content: "\e9ce";
}

.icon-svg_web-icon_p3_008-resistance:before {
  content: "\e9cf";
}

.icon-svg_web-icon_p3_009-magnetic_resistance:before {
  content: "\e9d0";
}

.icon-svg_web-icon_p3_010-target:before {
  content: "\e9d1";
}

.icon-svg_web-icon_p3_011-level:before {
  content: "\e9d2";
}

.icon-svg_web-icon_p3_012-good:before {
  content: "\e9d3";
}

.icon-svg_web-icon_p3_013-notgood:before {
  content: "\e9d4";
}

.icon-svg_web-icon_p3_014-spinbike_fr:before {
  content: "\e9d5";
}

.icon-svg_web-icon_p3_015-spinbike_ff:before {
  content: "\e9d6";
}

.icon-svg_web-icon_p3_016-life_tracking:before {
  content: "\e9d7";
}

.icon-svg_web-icon_p3_017-up:before {
  content: "\e9d8";
}

.icon-svg_web-icon_p3_018-down:before {
  content: "\e9d9";
}

.icon-svg_web-icon_p3_019-1_too_thin:before {
  content: "\e9da";
}

.icon-svg_web-icon_p3_020-2_lack_of_training:before {
  content: "\e9db";
}

.icon-svg_web-icon_p3_021-3_recessive_obesity:before {
  content: "\e9dc";
}

.icon-svg_web-icon_p3_022-4_generally_thin:before {
  content: "\e9dd";
}

.icon-svg_web-icon_p3_023-5_normal_posture:before {
  content: "\e9de";
}

.icon-svg_web-icon_p3_024-6_generally_fat:before {
  content: "\e9df";
}

.icon-svg_web-icon_p3_025-7_bodybuilding:before {
  content: "\e9e0";
}

.icon-svg_web-icon_p3_026-8_athletic:before {
  content: "\e9e1";
}

.icon-svg_web-icon_p3_027-9_fat_body:before {
  content: "\e9e2";
}

.icon-svg_web-icon_p3_028-hand_muscle:before {
  content: "\e9e3";
}

.icon-svg_web-icon_p3_029-foot_muscles:before {
  content: "\e9e4";
}

.icon-svg_web-icon_p3_030-abdominal_muscles:before {
  content: "\e9e5";
}

.icon-svg_web-icon_p3_031-back_muscles:before {
  content: "\e9e6";
}

.icon-svg_web-icon_p3_032-shoulder_muscles:before {
  content: "\e9e7";
}

.icon-svg_web-icon_p3_033-chest_muscles:before {
  content: "\e9e8";
}

.icon-svg_web-icon_p3_034-administrator:before {
  content: "\e9e9";
}

.icon-svg_web-icon_p3_035-rowing_machine:before {
  content: "\e9ea";
}

.icon-svg_web-icon_p3_036-square_watch:before {
  content: "\e9eb";
}

.icon-svg_web-icon_p3_037-round_watch:before {
  content: "\e9ec";
}

.icon-svg_web-icon_p3_038-bluetooth_phone:before {
  content: "\e9ed";
}

.icon-svg_web-icon_p3_039-slope:before {
  content: "\e9ee";
}

.icon-svg_web-icon_p3_040-temperature:before {
  content: "\e9ef";
}

.icon-svg_web-icon_p3_041-air_pressure:before {
  content: "\e9f0";
}

.icon-svg_web-icon_p3_042-climbing_speed:before {
  content: "\e9f1";
}

.icon-svg_web-icon_p3_043-landing_speed:before {
  content: "\e9f2";
}

.icon-svg_web-icon_p3_044-swimming_pool:before {
  content: "\e9f3";
}

.icon-svg_web-icon_p3_045-climbing_distance:before {
  content: "\e9f4";
}

.icon-svg_web-icon_p3_046-landing_distance:before {
  content: "\e9f5";
}

.icon-svg_web-icon_p3_047-frog:before {
  content: "\e9f6";
}

.icon-svg_web-icon_p3_048-freestyle:before {
  content: "\e9f7";
}

.icon-svg_web-icon_p3_049-supine:before {
  content: "\e9f8";
}

.icon-svg_web-icon_p3_050-butterfly:before {
  content: "\e9f9";
}

.icon-svg_web-icon_p3_051-sea_level_pressure:before {
  content: "\e9fa";
}

.icon-svg_web-icon_p3_052-local_pressure:before {
  content: "\e9fb";
}

.icon-svg_web-icon_p3_053-gravity_z:before {
  content: "\e9fc";
}

.icon-svg_web-icon_p3_054-gravity_x:before {
  content: "\e9fd";
}

.icon-svg_web-icon_p3_055-gravity_y:before {
  content: "\e9fe";
}

.icon-svg_web-icon_p3_056-ball:before {
  content: "\e9ff";
}

.icon-svg_web-icon_p3_057-football:before {
  content: "\ea00";
}

.icon-svg_web-icon_p3_058-basketball:before {
  content: "\ea01";
}

.icon-svg_web-icon_p3_059-baseball:before {
  content: "\ea02";
}

.icon-svg_web-icon_p3_060-volleyball:before {
  content: "\ea03";
}

.icon-svg_web-icon_p3_061-american_football:before {
  content: "\ea04";
}

.icon-svg_web-icon_p3_062-tennis:before {
  content: "\ea05";
}

.icon-svg_web-icon_p3_063-badminton:before {
  content: "\ea06";
}

.icon-svg_web-icon_p3_064-pingpong:before {
  content: "\ea07";
}

.icon-svg_web-icon_p3_065-ball_type:before {
  content: "\ea08";
}

.icon-svg_web-icon_p3_066-all_muscles:before {
  content: "\ea09";
}

.icon-svg_web-icon_p3_067-story:before {
  content: "\ea0a";
}
