/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.session_area .mat-checkbox-inner-container {
  height: 14px;
  width: 14px;
}
.mat-checkbox + .mat-checkbox {
  margin-left: 10px;
}



body,
html {
  font-family: 'Microsoft JhengHei', sans-serif !important;
  height: 100%;
  margin: 0;
}

.form-field {
  height: 30px;
  max-width: 100%;
  padding: 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  border-radius: 3px;
  background-color: transparent;
  outline: 0;
}


.form-field.form-field--invalid {
  border: 1px solid #c75353;
  box-shadow: rgba(163, 50, 50, .34) 0 0 4px 0;
}


/* button */
.button {
  border-radius: 5px;
  background-color: #26abe3;
  text-align: center;
  padding: 0px;
  width: 100%;
  border: 0px;
  color: #fff;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  transition: 0.3s;
}

.button:hover {
  background: #1c89bf;
}
button:focus {
  outline: none!important;
}

.button:hover,
.button:active,
.button:visited,
.button:focus {
  color: #fff;
  outline: none;
}
.button.search-form__button {
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  margin-bottom: 0px;
}

.bg-btn {
  cursor: pointer;
  border-radius: 100%;
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
}
.button.bg-btn {
  position: fixed;
  opacity: 0.5;
}

.button.bg-btn:hover {
  opacity: 1;
}

.mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 3;
  opacity: 0;
  transition: opacity .3s ease-in-out,
  height 0s ease-in-out .3s,
  width 0s ease-in-out .3s;
}

.mask--show {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.form__label--required:before {
  content: '*';
  color: #cb5e5e;
}

.form__message {
  color: #cb5e5e;
  font-size: 12px;
}

.icon-btn {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 1;
  outline: 0;
  background-color: transparent;
}

.icon-btn:hover {
  cursor: pointer;
}

.icon_fa.fa:hover {
  color: #9b9b9b;
}
.icon_fa.fa {
  font-size: 22px;
  color: #777;
}
.icon-btn + .icon-btn {
  margin-left: 10px;
}
.alatech-btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 75px;
  height: 30px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
}
.alatech-btn:hover {
  cursor: pointer;
}
.alatech-btn[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
a.alatech-btn {
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
a.alatech-btn:hover {
  text-decoration: none;
}
.alatech-btn + .alatech-btn {
  margin-left: 10px;
}
.alatech-btn--default {
  border-color: #9b9b9b;
  background-color: #fff;
  color: #777;
}

.alatech-btn--default[disabled] {
  background-color: #EFEFEF;
}
.alatech-btn--default:hover {
  border-color: #CCC;
  color: #9B9B9B;
}
.alatech-btn--default[disabled]:hover {
  border-color: #9B9B9B;
  color: #777;
}

.alatech-table__cell--head {
  font-weight: 700;
  font-size: 14px;
  background-image: linear-gradient(to bottom, #eee, #d8d8d8);
  text-align: center;
}

.alatech-table__cell {
  padding: 10px;
  border-top: 1px solid #ccc;
  color: #4a4a4a;
  text-align: center;
  font-size: 18px;
}

.alatech-table {
  border: 1px solid #ccc;
}

.alatech-footer {
  text-align: right;
  height: 45px;
  background-color: #f0eeee;
  padding: 8px 11px 7px;
}
.searchbar-menu--text,
.searchbar-menu--text__rwd {
  font-weight: 500;
  color: #999;
  margin-right: 10px;
  cursor: pointer;
}
.searchbar-menu--text.active {
  margin-bottom: 4px;
  border-bottom: 2px solid #263147;
  color: #263147;
}

.searchbar-menu--text__rwd.active {
  margin-bottom: 4px;
  border-bottom: 2px solid #263147;
  color: #008bcd;
}

@media print {
  .alatech-btn {
    display: none;
  }
}
