/* You can add global styles to this file, and also import other style files */
body,
html {
  font-family: 'Noto Sans TC', sans-serif !important;
  height: 100%;
  margin: 0;
}

.form-field {
  height: 30px;
  max-width: 100%;
  padding: 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  border-radius: 3px;
  background-color: transparent;
  outline: 0;
}

/* button */
.button {
  border-radius: 5px;
  background-color: #26abe3;
  text-align: center;
  padding: 0px;
  width: 100%;
  border: 0px;
  color: #fff;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  transition: 0.3s;
}

.button:hover {
  background: #1c89bf;
}

.button:hover,
.button:active,
.button:visited,
.button:focus {
  color: #fff;
  outline: none;
}
.button.search-form__button {
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  margin-bottom: 0px;
}

.bg-btn {
  cursor: pointer;
  border-radius: 100%;
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
}
.button.bg-btn {
  opacity: 0.5;
}

.button.bg-btn:hover {
  opacity: 1;
}
