.basic-info-description {
  width: calc(100% - 135px);
  display: inline-block;
  margin-left: 15px;
  color: #919191;
  word-break: break-all;
}

.ala-form__label.basic-info-item {
  vertical-align: top;
  font-size: 17px;
  font-weight: 700;
  color: #919191;
}
