// 通用標題/副標題
$color-focus: #26abe3;

@mixin bold-font($size: 14px) {
  font-size: $size;
  font-weight: bold;
}

@mixin subtitle-or-focus($size: 14px) {
  @include bold-font($size);
  color: $color-focus;
}
