@import 'transition.scss';

$data-color: rgba(100, 100, 100, 1);
$axis-type-width: 160px;
$btn-width: 140px;
$btn-height: 40px;

.item__spot {
  font-size: 8px;
}

.data__title {
  color: $data-color;
}

.origin__type {
  white-space: nowrap;
}

.data__content {
  text-align: end;
  font-size: 24px;
  color: $data-color;
}

.data__item {
  width: 50%;
  margin: 15px 10px;
}

.transparent__spot {
  color: transparent;
}

#opt__setting__menu {
  position: absolute;
  background-color: white;
  z-index: 2;
  padding: 10px;
  border: 1px solid black;
  top: 28px;
  right: 0px;
  width: 300px;
  height: 420px;
  justify-content: space-between;
}

.axis__type__selector {
  position: relative;
  border: 1px solid black;
  width: $axis-type-width;
  height: 30px;
  text-align: right;
  padding: 2px 20px 2px 2px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 3px;
    border: solid;
    border-width: 10px 6px 0px 6px;
    border-color: black transparent transparent transparent;
  }
}

.axis__selector__list {
  padding: 5px;
  background-color: white;
  z-index: 5;
  position: absolute;
  border: 1px solid black;
  width: $axis-type-width;
  top: 53px;
  cursor: pointer;

  span {
    text-align: right;
    padding: 2px 15px 2px 2px;

    &:hover {
      color: white;
      background-color: rgba(17, 166, 235, 1);
      @include transition(background-color);
    }
  }
}

#main__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#info__section {
  width: 50%;
}

#quadrant__chart {
  width: 45%;
  max-width: 400px;
}

.origin__input {
  width: 100px;
  text-align: right;
}

.axis__definition__section {
  justify-content: space-between;
}

.bold__font {
  font-weight: bold;
}

#default__btn {
  border: none;
  background-color: white;
  color: rgba(241, 129, 129, 1);
  width: $btn-width;
  height: $btn-height;
  font-size: 14px;
  line-height: 1.2;
}

#confirm__btn {
  border: none;
  background-color: rgba(35, 200, 254, 1);
  border-radius: 5px;
  color: white;
  width: $btn-width;
  height: $btn-height;
}

/**************************************** media *****************************************/

@media (max-width: 767px) {
  #main__section {
    flex-direction: column;
    align-items: center;
  }

  #info__section,
  #quadrant__chart {
    width: 98%;
  }

  #quadrant__chart {
    margin-top: 15px;
  }

  .data__item {
    margin: 5px;
  }

  .data__title {
    font-size: 14px;
  }
}

@media print {
  #main__section {
    flex-direction: row;
    align-items: initial;
  }
}
