<section class="flexCol" style="position: relative;">
  <div class="flexRow cardTitle" style="position: relative; justify-content: space-between;">
    <span class="cardSubtitle">
      {{ 'universal_activityData_quadrantAnalysis' | translate }}
    </span>
    <i class="icon-svg_web-icon_p1_001-setting settingIcon" (click)="handleShowOptMenu($event)"></i>
    <div class="flexCol" id="opt__setting__menu" *ngIf="uiFlag.showChartOpt" (click)="$event.stopPropagation();">
      <div class="flexCol">
        <div class="flexRow axis__definition__section">
          <div class="flexCol" style="position: relative;">
            <span class="bold__font">X {{ 'universal_vocabulary_data' | translate}}</span>
            <div class="axis__type__selector" (click)="showAxisType('xAxis')">
              {{ (uiFlag.optTempChange ? tempOpt.xAxis.type : chartOpt.xAxis.type) | dataTypeTranslate: [sportType, unit] | translate }}
            </div>
            <ng-container *ngIf="uiFlag.showDataSelector;">
              <ng-container *ngIf="uiFlag.showDataSelector === 'yAxis'; else axisSelector;"></ng-container>
            </ng-container>
          </div>
          <div class="flexCol">
            <span>{{ 'universal_vocabulary_xOrigin' | translate }}</span>
            <input
              class="origin__input"
              type="text"
              [value]="axisInputValue.xAxis"
              (focus)="handleFocus($event)"
              (focusout)="handleFocusout($event)"
              (change)="editAxisOrigin('xAxis', $event)"
            >
          </div>
        </div>
        <div class="flexRow axis__definition__section">
          <div class="flexCol" style="position: relative;">
            <span class="bold__font">Y {{ 'universal_vocabulary_data' | translate}}</span>
            <div class="axis__type__selector" (click)="showAxisType('yAxis')">
              {{ (uiFlag.optTempChange ? tempOpt.yAxis.type : chartOpt.yAxis.type) | dataTypeTranslate: [sportType, unit] | translate }}
            </div>
            <ng-container *ngIf="uiFlag.showDataSelector;">
              <ng-container *ngIf="uiFlag.showDataSelector === 'xAxis'; else axisSelector;"></ng-container>
            </ng-container>
          </div>
          <div class="flexCol">
            <span>{{ 'universal_vocabulary_yOrigin' | translate }}</span>
            <input
              class="origin__input"
              type="text"
              [value]="axisInputValue.yAxis"
              (focus)="handleFocus($event)"
              (focusout)="handleFocusout($event)"
              (change)="editAxisOrigin('yAxis', $event)"
            >
          </div>
        </div>
      </div>
      <div class="flexCol">
        <div class="flexCol">
          <span class="bold__font" [style.color]="color.quadrantI">{{ 'universal_vocabulary_quadrant' | translate }} I</span>
          <input
            type="text"
            [value]="uiFlag.optTempChange ? tempOpt.meaning.quadrantI : chartOpt.meaning.quadrantI"
            [placeholder]="('universal_activityData_enterBodyFit' | translate)"
            (focus)="handleFocus($event)"
            (focusout)="handleFocusout($event)"
            (change)="editQuadrantMeaning('quadrantI', $event)"
          >
        </div>
        <div class="flexCol">
          <span class="bold__font" [style.color]="color.quadrantII">{{ 'universal_vocabulary_quadrant' | translate }} II</span>
          <input
            type="text"
            [value]="uiFlag.optTempChange ? tempOpt.meaning.quadrantII : chartOpt.meaning.quadrantII"
            [placeholder]="('universal_activityData_enterBodyFit' | translate)"
            (focus)="handleFocus($event)"
            (focusout)="handleFocusout($event)"
            (change)="editQuadrantMeaning('quadrantII', $event)"
          >
        </div>
        <div class="flexCol">
          <span class="bold__font" [style.color]="color.quadrantIII">{{ 'universal_vocabulary_quadrant' | translate }} III</span>
          <input
            type="text"
            [value]="uiFlag.optTempChange ? tempOpt.meaning.quadrantIII : chartOpt.meaning.quadrantIII"
            [placeholder]="('universal_activityData_enterBodyFit' | translate)"
            (focus)="handleFocus($event)"
            (focusout)="handleFocusout($event)"
            (change)="editQuadrantMeaning('quadrantIII', $event)"
          >
        </div>
        <div class="flexCol">
          <span class="bold__font" [style.color]="color.quadrantIV">{{ 'universal_vocabulary_quadrant' | translate }} IV</span>
          <input
            type="text"
            [value]="uiFlag.optTempChange ? tempOpt.meaning.quadrantIV : chartOpt.meaning.quadrantIV"
            [placeholder]="('universal_activityData_enterBodyFit' | translate)"
            (focus)="handleFocus($event)"
            (focusout)="handleFocusout($event)"
            (change)="editQuadrantMeaning('quadrantIV', $event)"
          >
        </div>
      </div>
      <div class="flexRow" style="justify-content: space-between;">
        <button id="default__btn" (click)="restoreDefaultOpt()">{{ 'universal_operating_restoreDefaults' | translate }}</button>
        <button id="confirm__btn" (click)="saveChartOpt()">{{ 'universal_operating_confirm' | translate }}</button>
      </div>
      <ng-template #axisSelector>
        <div class="flexCol axis__selector__list">
          <span (click)="changeAxisType('hr')">
            {{ 'universal_activityData_hr' | translate }}
          </span>
          <span (click)="changeAxisType('speed')" *ngIf="sportType === 2">
            {{ 'universal_activityData_speedPerHour' | translate }}
          </span>
          <span (click)="changeAxisType('pace')" *ngIf="sportType !== 2">
            {{ 'pace' | dataTypeTranslate: [sportType, unit] | translate }}
          </span>
          <span (click)="changeAxisType('cadence')" *ngIf="sportType === 1">
            {{ 'universal_activityData_stepCadence' | translate }}
          </span>
          <span (click)="changeAxisType('cadence')" *ngIf="sportType === 2">
            {{ 'universal_activityData_CyclingCadence' | translate }}
          </span>
          <span (click)="changeAxisType('cadence')" *ngIf="sportType === 4">
            {{ 'universal_activityData_swimCadence' | translate }}
          </span>
          <span (click)="changeAxisType('cadence')" *ngIf="sportType === 6">
            {{ 'universal_activityData_rowCadence' | translate }}
          </span>
          <span (click)="changeAxisType('power')" *ngIf="[2, 6].includes(sportType)">
            {{ 'universal_activityData_power' | translate }}
          </span>
        </div>
      </ng-template>
    </div>
  </div>
  <main class="flexRow" style="justify-content: space-between;">
    <div class="flexCol" style="width: 50%;">
      <div class="flexRow">
        <div class="flexCol data__item">
          <span>
            <span class="item__spot" [style.color]="color.quadrantII">●</span>
            <span class="data__title">
              <ng-container *ngIf="chartOpt.meaning.quadrantII.trim().length !== 0">
                {{ chartOpt.meaning.quadrantII }}
              </ng-container>
              <ng-container *ngIf="chartOpt.meaning.quadrantII.trim().length === 0">
                {{ 'universal_vocabulary_quadrant' | translate }} II
              </ng-container>
            </span>
          </span>
          <span class="data__content">{{ ((chart.pointNum.quadrantII / chart.pointNum.total) * 100) | number: '1.0-1' }}%</span>
        </div>
        <div class="flexCol data__item">
          <span>
            <span class="item__spot" [style.color]="color.quadrantI">●</span>
            <span class="data__title">
              <ng-container *ngIf="chartOpt.meaning.quadrantI.trim().length !== 0">
                {{ chartOpt.meaning.quadrantI }}
              </ng-container>
              <ng-container *ngIf="chartOpt.meaning.quadrantI.trim().length === 0">
                {{ 'universal_vocabulary_quadrant' | translate }} I
              </ng-container>
            </span>
          </span>
          <span class="data__content">{{ ((chart.pointNum.quadrantI / chart.pointNum.total) * 100) | number: '1.0-1' }}%</span>
        </div>
      </div>
      <div class="flexRow">
        <div class="flexCol data__item">
          <span>
            <span class="item__spot" [style.color]="color.quadrantIII">●</span>
            <span class="data__title">
              <ng-container *ngIf="chartOpt.meaning.quadrantIII.trim().length !== 0">
                {{ chartOpt.meaning.quadrantIII }}
              </ng-container>
              <ng-container *ngIf="chartOpt.meaning.quadrantIII.trim().length === 0">
                {{ 'universal_vocabulary_quadrant' | translate }} III
              </ng-container>
            </span>
          </span>
          <span class="data__content">{{ ((chart.pointNum.quadrantIII / chart.pointNum.total) * 100) | number: '1.0-1' }}%</span>
        </div>
        <div class="flexCol data__item">
          <span>
            <span class="item__spot" [style.color]="color.quadrantIV">●</span>
            <span class="data__title">
              <ng-container *ngIf="chartOpt.meaning.quadrantIV.trim().length !== 0">
                {{ chartOpt.meaning.quadrantIV }}
              </ng-container>
              <ng-container *ngIf="chartOpt.meaning.quadrantIV.trim().length === 0">
                {{ 'universal_vocabulary_quadrant' | translate }} IV
              </ng-container>
            </span>
          </span>
          <span class="data__content">{{ ((chart.pointNum.quadrantIV / chart.pointNum.total) * 100) | number: '1.0-1' }}%</span>
        </div>
      </div>
      <div class="flexRow">
        <div class="flexCol data__item">
          <span>
            <span class="item__spot transparent__spot">●</span>
            <span class="data__title">
              {{ 'universal_vocabulary_xOrigin' | translate }}-{{ chartOpt.xAxis.type | dataTypeTranslate: [sportType, unit] | translate }}
            </span>
          </span>
          <span class="data__content">
            <ng-container *ngIf="chartOpt.xAxis.type === 'pace'">
              {{ chartOpt.xAxis.origin | sportPaceSibs: [sportType, unit, 1] }}
            </ng-container>
            <ng-container *ngIf="chartOpt.xAxis.type === 'speed'">
              {{ chartOpt.xAxis.origin | speedSibs: unit }}
            </ng-container>
            <ng-container *ngIf="!['pace', 'speed'].includes(chartOpt.xAxis.type)">
              {{ chartOpt.xAxis.origin }}{{ chartOpt.xAxis.type | dataTypeUnit: [sportType, unit]}}
            </ng-container>
          </span>
        </div>
        <div class="flexCol data__item">
          <span>
            <span class="item__spot transparent__spot">●</span>
            <span class="data__title">
              {{ 'universal_vocabulary_yOrigin' | translate }}-{{ chartOpt.yAxis.type | dataTypeTranslate: [sportType, unit] | translate }}
            </span>
          </span>
          <span class="data__content">
            <ng-container *ngIf="chartOpt.yAxis.type === 'pace'">
              {{ chartOpt.yAxis.origin | sportPaceSibs: [sportType, unit, 1] }}
            </ng-container>
            <ng-container *ngIf="chartOpt.yAxis.type !== 'pace'">
              {{ chartOpt.yAxis.origin }}{{ chartOpt.yAxis.type | dataTypeUnit: [sportType, unit]}}
            </ng-container>
          </span>
        </div>
      </div>
    </div>
    <svg
      version="1.1"
      baseProfile="full"
      xmlns="http://www.w3.org/2000/svg"
      width="45%"
      style="max-height: 250px;"
      viewBox="0 0 450 350"
      id='quadrantChart'
    >
      <g>
        <ng-container *ngFor="let _point of chart.displayPoint;">
          <circle
            [attr.cx]="_point.x"
            [attr.cy]="_point.y"
            [attr.stroke]="_point.color"
            [attr.fill]="_point.color"
            style="opacity: 0.8;"
            r="3"
          >
          </circle>
        </ng-container>
      </g>
      <line
        [attr.x1]="0"
        [attr.y1]="((chart.y.max - chartOpt.yAxis.origin) / (chart.y.max - chart.y.min)) * chart.chartSvgHeight | number: '1.0-0'"
        [attr.x2]="chart.chartSvgWidth"
        [attr.y2]="((chart.y.max - chartOpt.yAxis.origin) / (chart.y.max - chart.y.min)) * chart.chartSvgHeight | number: '1.0-0'"
        stroke="black"
        fill="black"
        stroke-width="1"
      />
      <line
        [attr.x1]="((chartOpt.xAxis.origin - chart.x.min) / (chart.x.max - chart.x.min)) * chart.chartSvgWidth | number: '1.0-0'"
        [attr.y1]="0"
        [attr.x2]="((chartOpt.xAxis.origin - chart.x.min) / (chart.x.max - chart.x.min)) * chart.chartSvgWidth | number: '1.0-0'"
        [attr.y2]="chart.chartSvgHeight"
        stroke="black"
        fill="black"
        stroke-width="1"
      />
      <g>
        <text
          [attr.x]="chart.chartSvgWidth"
          [attr.y]="0"
          [attr.stroke]="color.quadrantI"
          [attr.fill]="color.quadrantI"
          text-anchor="middle"
          dominant-baseline="hanging"
          font-size="35"
        >
          I
        </text>
        <text
          [attr.x]="0"
          [attr.y]="0"
          [attr.stroke]="color.quadrantII"
          [attr.fill]="color.quadrantII"
          text-anchor="middle"
          dominant-baseline="hanging"
          font-size="35"
        >
          II
        </text>
        <text
          [attr.x]="0"
          [attr.y]="chart.chartSvgHeight"
          [attr.stroke]="color.quadrantIII"
          [attr.fill]="color.quadrantIII"
          text-anchor="middle"
          dominant-baseline="text-bottom"
          font-size="35"
        >
          III
        </text>
        <text
          [attr.x]="chart.chartSvgWidth"
          [attr.y]="chart.chartSvgHeight"
          [attr.stroke]="color.quadrantIV"
          [attr.fill]="color.quadrantIV"
          text-anchor="middle"
          dominant-baseline="text-bottom"
          font-size="35"
        >
          IV
        </text>
        <text
          [attr.x]="0"
          [attr.y]="((chart.y.max - chart.label.y) / (chart.y.max - chart.y.min)) * chart.chartSvgHeight | number: '1.0-0'"
          text-anchor="middle"
          dominant-baseline="middle"
          fill="gray"
          [attr.font-size]="chart.label.size"
        >
          <ng-container *ngIf="chartOpt.xAxis.type === 'pace'">
            &lt;{{ (chart.x.min < 0 ? 0 : chart.x.min) | sportPaceSibs: [sportType, unit, 1] }}
          </ng-container>
          <ng-container *ngIf="chartOpt.xAxis.type !== 'pace'">
            {{ chart.x.min | number: '1.0-0' }}
          </ng-container>
        </text>
        <text
          [attr.x]="chart.chartSvgWidth / 2"
          [attr.y]="((chart.y.max - chart.label.y) / (chart.y.max - chart.y.min)) * chart.chartSvgHeight | number: '1.0-0'"
          text-anchor="middle"
          dominant-baseline="middle"
          fill="gray"
          [attr.font-size]="chart.label.size"
        >
          <ng-container *ngIf="chartOpt.xAxis.type === 'pace'">
            {{ ((chart.x.min + chart.x.max) / 2) | sportPaceSibs: [sportType, unit, 1] }}
          </ng-container>
          <ng-container *ngIf="chartOpt.xAxis.type !== 'pace'">
            {{ ((chart.x.min + chart.x.max) / 2) | number: '1.0-0' }}
          </ng-container>
        </text>
        <text
          [attr.x]="chart.chartSvgWidth"
          [attr.y]="((chart.y.max - chart.label.y) / (chart.y.max - chart.y.min)) * chart.chartSvgHeight | number: '1.0-0'"
          text-anchor="middle"
          dominant-baseline="middle"
          fill="gray"
          [attr.font-size]="chart.label.size"
        >
          <ng-container *ngIf="chartOpt.xAxis.type === 'pace'">
            {{ chart.x.max | sportPaceSibs: [sportType, unit, 1] }}
          </ng-container>
          <ng-container *ngIf="chartOpt.xAxis.type !== 'pace'">
            {{ chart.x.max | number: '1.0-0' }}
          </ng-container>
        </text>
        <text
          [attr.x]="((chart.label.x - chart.x.min) / (chart.x.max - chart.x.min)) * chart.chartSvgWidth | number: '1.0-0'"
          [attr.y]="chart.chartSvgHeight"
          text-anchor="middle"
          dominant-baseline="text-bottom"
          fill="gray"
          [attr.font-size]="chart.label.size"
        >
          <ng-container *ngIf="chartOpt.yAxis.type === 'pace'">
            &lt;{{ (chart.y.min < 0 ? 0 : chart.y.min) | sportPaceSibs: [sportType, unit, 1] }}
          </ng-container>
          <ng-container *ngIf="chartOpt.yAxis.type !== 'pace'">
            {{ chart.y.min | number: '1.0-0' }}
          </ng-container>
        </text>
        <text
          [attr.x]="((chart.label.x - chart.x.min) / (chart.x.max - chart.x.min)) * chart.chartSvgWidth | number: '1.0-0'"
          [attr.y]="chart.chartSvgHeight / 2"
          text-anchor="middle"
          dominant-baseline="middle"
          fill="gray"
          [attr.font-size]="chart.label.size"
        >
          <ng-container *ngIf="chartOpt.yAxis.type === 'pace'">
            {{ ((chart.y.min + chart.y.max) / 2) | sportPaceSibs: [sportType, unit, 1] }}
          </ng-container>
          <ng-container *ngIf="chartOpt.yAxis.type !== 'pace'">
            {{ ((chart.y.min + chart.y.max) / 2) | number: '1.0-0' }}
          </ng-container>
        </text>
        <text
          [attr.x]="((chart.label.x - chart.x.min) / (chart.x.max - chart.x.min)) * chart.chartSvgWidth | number: '1.0-0'"
          [attr.y]="0"
          text-anchor="middle"
          dominant-baseline="hanging"
          fill="gray"
          [attr.font-size]="chart.label.size"
        >
          <ng-container *ngIf="chartOpt.yAxis.type === 'pace'">
            {{ chart.y.max | sportPaceSibs: [sportType, unit, 1] }}
          </ng-container>
          <ng-container *ngIf="chartOpt.yAxis.type !== 'pace'">
            {{ chart.y.max | number: '1.0-0' }}
          </ng-container>
        </text>
      </g>
    </svg>
  </main>
</section>