<app-navbar [isAlphaVersion]="isAlphaVersion"
  *ngIf="!isPreviewMode && !hideNavbar"
></app-navbar>
<div class="main" [ngClass]="{'preview': isPreviewMode, 'hideNavbar': hideNavbar}">
  <div class="collapse navbar-collapse search-form" id="navbarResponsive" [class.show]="isCollapseOpen">
    <form (ngSubmit)="onSubmit(rankForm, $event)" #rankForm="ngForm">
      <div class="form-group">
        <label style="color: #008bcd">Map</label>
        <select *ngIf="(!isRealTime || tabIdx === 0) && tabIdx === 0" name="mapId" [(ngModel)]="mapId" class="form-field mr-2" (click)="selectMap(mapId)"style="width: 100%">
          <option *ngFor="let _map of mapDatas" [value]="_map.map_id">
            {{ _map.map_id | mapTranslate | translate }}
            <span *ngIf="_map.map_id === 10">41K</span>
            <span *ngIf="_map.map_id === 11">1K</span>
            <span *ngIf="_map.map_id === 12">3K</span>
            <span *ngIf="_map.map_id === 13">10K</span>
            <span *ngIf="_map.map_id === 14">22K</span>
          </option>
        </select>
        <select *ngIf="tabIdx > 0" name="mapId" [(ngModel)]="mapId" class="form-field mr-2" (click)="selectMap(mapId)" style="width: 100%">
          <option *ngFor="let _map of customMapOptions" [value]="_map.map_id">
            {{ _map.map_id | mapTranslate | translate }}
            <span *ngIf="_map.map_id === 10">41K</span>
            <span *ngIf="_map.map_id === 11">1K</span>
            <span *ngIf="_map.map_id === 12">3K</span>
            <span *ngIf="_map.map_id === 13">10K</span>
            <span *ngIf="_map.map_id === 14">22K</span>
          </option>
        </select>
      </div>

      <div class="form-group">
        <label style="color: #008bcd">
          User Name
        </label>
        <div class="dropdown" (click)="openActive($event)">
          <div class="clearable">
            <input type="text" name="userName" [(ngModel)]="userName" (keyup)="inputEvent($event)" autocomplete="off" [class.loading]="isSelectLoading"
              class="form-field" placeholder="enter user name" (focus)="focusEvent($event)" style="width: 100%;text-overflow: ellipsis;">
            <i class="clearable__clear" [class.show]="isClearIconShow" (click)="clear()">&times;</i>
            <i class="fa fa-caret-down async-caret"></i>
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw spinner" [class.spinner-hidden]="!isSelectLoading"></i>
          </div>
          <ul class="dropdown-menu" style="width: 100%;" *ngIf="emailOptions && emailOptions.length > 0" [class.show]="active && emailOptions.length > 0">
            <li *ngFor="let o of emailOptions; let i = index" (click)="remove(i, $event)">
              <a>
                {{ o }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group"  *ngIf="!isEventTab">
        <label style="color: #008bcd">Date</label>
        <div>
          <my-date-picker name="selectedStartDate"
            class="date-picker"
            [options]="startDateOptions"
            [(ngModel)]="startDay"
            required
          >
          </my-date-picker>
          <div style="margin: 0px 5px;display: inline-block;vertical-align: text-bottom;">~</div>

          <my-date-picker name="selectedEndDate"
            class="date-picker"
            [options]="endDateOptions"
            [(ngModel)]="finalDay"
            required
          >
          </my-date-picker>
        </div>

      </div>
      <div class="form-group">
        <label style="color: #008bcd">Group</label>
        <select name="groupId" [(ngModel)]="groupId" class="form-field mr-2" style="width: 100%">
          <option [value]="2">No grouping</option>
          <option [value]="0">Male</option>
          <option [value]="1">Female</option>
        </select>
      </div>
      <button type="submit" class="button search-form__button" style="width: 100%">
        search
      </button>
    </form>
  </div>
  <div class="mask" [class.mask--show]="isMaskShow" (click)="touchMask()"></div>
  <div style="min-height: 100vh; margin-top: -63px" *ngIf="isIntroducePage">
    <header>
      <div class="home-header">
        <div class="home-header-title">
          <h1 innerHtml="{{ 'Portal.gptSlogan' | translate }}"></h1>
        </div>
      </div>
    </header>
    <section>
      <div class="container"  id="connect">
        <div class="home-connect-app">
          <div class="home-connect-info">
            <div class="message">
              <h3 style="margin-bottom: 15px;font-weight: 700">{{'Portal.alaConnect' | translate}}</h3>
              <p style="font-size:19px" >
                {{'Portal.alaconnectInfo' | translate}}
              </p>
            </div>
            <div class="app-link-container">
              <a target="_blank" class="app-link" href="https://itunes.apple.com/us/app/alaconnect/id1386657871?l=zh&ls=1&mt=8">
                <img class="app-icon" src="/assets/images/introduce/getApp_01_apple.png" alt="ala connect apple ios app">
              </a>
              <a target="_blank" class="app-link" href="https://play.google.com/store/apps/details?id=pack.ala.ala_connect"
                alt="ala connect android google app"
              >
                <img class="app-icon" src="/assets/images/introduce/getApp_02_googleplay.png">
              </a>
              <a target="_blank" class="app-link" href="https://www.alatech.com.tw/upload_files/alatech/website/ala_connect.apk"
                alt="ala connect apk download"
              >
                <img class="app-icon" src="/assets/images/introduce/getApp_03_apk.png">
              </a>
            </div>
          </div>
          <div class="ala-app-info">
            <img src="/assets/images/introduce/T1-connect.jpg" alt="Ala Connect">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home-cloudRun-description">
        <div class="home-header-title">
          <h1 innerHtml="{{ 'Portal.cloudRunSlogan' | translate }}"></h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container" id="cloudrun">
        <div class="home-cloudRun-app">
          <div>
            <div class="cloudRun-app-container">
              <img style="width: 100%"src="/assets/images/introduce/T2-cloudrun.jpg" alt="Ala Cloud Run">
            </div>
            <div class="cloudRun-app-info">
              <div class="message">
                <h3 style="margin-bottom: 15px;font-weight: 700">{{ 'Portal.cloudRun' | translate }}</h3>
                <p style="font-size:19px" innerHtml="{{ 'Portal.cloudRunInfo' | translate }}">
                </p>
              </div>
              <div class="app-link-container">
                <a target="_blank" class="app-link"
                  href="https://itunes.apple.com/us/app/cloud-run/id1316368345?mt=8"
                  alt="ala cloud run Apple ios app"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_01_apple.png">
                </a>
                <a target="_blank" class="app-link"
                  href="https://play.google.com/store/apps/details?id=pack.ala.ala_cloudrun"
                  alt="ala cloud run android google app"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_02_googleplay.png">
                </a>
                <a target="_blank" class="app-link"
                  href="https://www.alatech.com.tw/upload_files/alatech/website/ala_cloudrun.apk"
                  alt="ala cloud run apk download"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_03_apk.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home-coach-description">
        <div class="home-header-title">
          <h1 innerHtml="{{ 'Portal.trainLiveSlogan' | translate }}"></h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="">
          <div style="display: flex;align-items: center;justify-content: center">
            <img class="coach-img"src="/assets/images/introduce/T3-center.jpg" alt="ala coach Board web">
            <div class="message">
              <h3 style="margin-bottom: 15px;font-weight: 700">{{ 'Portal.trainLive' | translate }}</h3>
              <p style="font-size:19px;margin-bottom: 80px"
                innerHtml="{{ 'Portal.trainLiveInfo' | translate }}"
              >
              </p>
              <a href="#" style="font-size: 24px;" (click)="handleSignin($event)">{{ 'Portal.logIn' | translate }} >></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <router-outlet></router-outlet>
</div>
