<app-navbar [isAlphaVersion]="isAlphaVersion"
  *ngIf="!isPreviewMode && !hideNavbar"
></app-navbar>
<div class="main" [ngClass]="{'preview': isPreviewMode, 'hideNavbar': hideNavbar}">
  <div class="mask" [class.mask--show]="isMaskShow" (click)="touchMask()"></div>
  <div style="min-height: 100vh; margin-top: -63px" *ngIf="isIntroducePage">
    <header>
      <div class="home-header">
        <div class="home-header-title">
          <h1 innerHtml="{{ 'universal_app_gptSlogan' | translate }}"></h1>
        </div>
      </div>
    </header>
    <section>
      <div class="container"  id="connect">
        <div class="home-connect-app">
          <div class="home-connect-info">
            <div class="message">
              <h3 style="margin-bottom: 15px;font-weight: 700">{{'universal_app_alaConnect' | translate}}</h3>
              <p style="font-size:19px" >
                {{'universal_app_alaconnectInfo' | translate}}
              </p>
            </div>
            <div class="app-link-container">
              <a target="_blank" class="app-link" href="https://itunes.apple.com/us/app/alaconnect/id1386657871?l=zh&ls=1&mt=8">
                <img class="app-icon" src="/assets/images/introduce/getApp_01_apple.png" alt="ala connect apple ios app">
              </a>
              <a target="_blank" class="app-link" href="https://play.google.com/store/apps/details?id=pack.ala.ala_connect"
                alt="ala connect android google app"
              >
                <img class="app-icon" src="/assets/images/introduce/getApp_02_googleplay.png">
              </a>
              <a target="_blank" class="app-link" href="https://www.alatech.com.tw/upload_files/alatech/website/ala_connect.apk"
                alt="ala connect apk download"
              >
                <img class="app-icon" src="/assets/images/introduce/getApp_03_apk.png">
              </a>
            </div>
          </div>
          <div class="ala-app-info">
            <img src="/assets/images/introduce/T1-connect.jpg" alt="Ala Connect">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home-cloudRun-description">
        <div class="home-header-title">
          <h1 innerHtml="{{ 'universal_app_cloudRunSlogan' | translate }}"></h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container" id="cloudrun">
        <div class="home-cloudRun-app">
          <div>
            <div class="cloudRun-app-container">
              <img style="width: 100%"src="/assets/images/introduce/T2-cloudrun.jpg" alt="Ala Cloud Run">
            </div>
            <div class="cloudRun-app-info">
              <div class="message">
                <h3 style="margin-bottom: 15px;font-weight: 700">{{ 'universal_app_cloudRun' | translate }}</h3>
                <p style="font-size:19px" innerHtml="{{ 'universal_app_cloudRunInfo' | translate }}">
                </p>
              </div>
              <div class="app-link-container">
                <a target="_blank" class="app-link"
                  href="https://itunes.apple.com/us/app/cloud-run/id1316368345?mt=8"
                  alt="ala cloud run Apple ios app"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_01_apple.png">
                </a>
                <a target="_blank" class="app-link"
                  href="https://play.google.com/store/apps/details?id=pack.ala.ala_cloudrun"
                  alt="ala cloud run android google app"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_02_googleplay.png">
                </a>
                <a target="_blank" class="app-link"
                  href="https://www.alatech.com.tw/upload_files/alatech/website/ala_cloudrun.apk"
                  alt="ala cloud run apk download"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_03_apk.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home-fitness-description">
        <div class="home-header-title">
          <h1 innerHtml="{{ 'universal_app_fitnessSlogan' | translate }}"></h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container" id="fitness">
        <div class="">
          <div style="display: flex;align-items: center;justify-content: center">
            <div class="message">
              <h3 style="margin-bottom: 15px;font-weight: 700">{{ 'universal_app_alaFitness' | translate }}</h3>
              <p style="font-size:19px; margin-bottom: 80px; max-width: 550px;"
                innerHtml="{{ 'universal_app_fitnessInfo' | translate }}"
              >
              </p>
              <div class="app-link-container">
                <a target="_blank" class="app-link"
                  href="https://apps.apple.com/us/app/alatech-fitness/id1456714279"
                  alt="ala cloud run Apple ios app"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_01_apple.png">
                </a>
                <a target="_blank" class="app-link"
                  href="https://play.google.com/store/apps/details?id=pack.alatech.fitness"
                  alt="ala cloud run android google app"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_02_googleplay.png">
                </a>
                <a target="_blank" class="app-link"
                  href="https://www.alatech.com.tw/upload_files/alatech/website/alafitness.apk"
                  alt="ala cloud run apk download"
                >
                  <img class="app-icon" src="/assets/images/introduce/getApp_03_apk.png">
                </a>
              </div>
            </div>
            <img
              class="coach-img"
              style="max-width: 300px; margin: 10px;"
              src="/assets/images/introduce/fitness_screenshot.png"
              alt="ala coach Board web"
            >
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home-coach-description">
        <div class="home-header-title">
          <h1 innerHtml="{{ 'universal_app_trainLiveSlogan' | translate }}"></h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container" id="trainlive">
        <div class="">
          <div style="display: flex;align-items: center;justify-content: center">
            <img class="coach-img"src="/assets/images/introduce/T3-trainlive.jpg" alt="ala coach Board web">
            <div class="message">
              <h3 style="margin-bottom: 15px;font-weight: 700">{{ 'universal_app_trainLive' | translate }}</h3>
              <p style="font-size:19px;margin-bottom: 80px"
                innerHtml="{{ 'universal_app_trainLiveInfo' | translate }}"
              >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <router-outlet></router-outlet>
</div>
