<app-loading-bar [progress]="uiFlag.progress"></app-loading-bar>
<div>
  <nav id="edit__nav" class="flexRow">
    <div>
      <button
        class="edit__tool__button"
        [title]="'universal_operating_finishEdit' | translate"
        (click)="editComplete()"
      >
        <i class="icon-svg_web-icon_p2_097-ok"></i>
      </button>
    </div>
    <div class="flexRow">
      <button class="edit__tool__button" title="新增影片區塊" (click)="addContentVideo()">
        <img src="/assets/icons/slow_motion_video.svg" alt="新增影片區塊" />
      </button>
      <button class="edit__tool__button" title="新增圖片區塊" (click)="addContentImg()">
        <img src="/assets/icons/add_image.svg" alt="新增圖片區塊" />
      </button>
      <button class="edit__tool__button" title="新增文字區塊" (click)="addContentText()">
        <img src="/assets/icons/add_text.svg" alt="新增圖片區塊" />
      </button>
    </div>
    <div>
      <button class="edit__tool__button" title="取消建立/編輯" (click)="cancelEdit()">
        <i class="icon-svg_web-icon_p1_012-close"></i>
      </button>
    </div>
  </nav>
  <main id="main__edit__content" *ngIf="eventInfo && eventDetail">
    <section class="flexCol">
      <div *ngIf="uiFlag.editMode === 'edit' && currentTimestamp < eventInfo.raceDate.endDate">
        <div id="event__status" class="flexRow">
          <ng-container *ngIf="originEventStatus === EventStatus.notAudit">
            <input
              type="checkbox"
              id="event__status__audit"
              name="eventStatusCancel"
              class="radio__input"
              [checked]="eventInfo.eventStatus === EventStatus.audit"
              [value]="EventStatus.audit"
              [disabled]="systemAccessright !== AccessRight.auditor ? true : null"
              (click)="releaseEventAlert()"
            />
            <label for="event__status__audit"> 發佈活動 </label>
          </ng-container>
          <ng-container *ngIf="originEventStatus === EventStatus.audit">
            <input
              type="checkbox"
              id="event__status__cancel"
              name="eventStatusCancel"
              class="radio__input"
              [checked]="eventInfo.eventStatus === EventStatus.cancel"
              [value]="EventStatus.cancel"
              [disabled]="systemAccessright !== AccessRight.auditor ? true : null"
              (click)="cancelEventAlert()"
            />
            <label for="event__status__cancel">
              {{ 'universal_vocabulary_raceCancel' | translate }}
            </label>
          </ng-container>
        </div>
      </div>
      <div class="flexRow">
        <div
          id="edit__theme__img"
          class="flexCenter official-dashBorder"
          [class.empty__warn]="!eventInfo.themeImg && !imgUpload.theme.crop"
        >
          <img class="placeholder__img" src="/assets/icons/image.svg" alt="圖片" />
          <img
            class="loaded__img"
            [src]="imgUpload.theme.crop ? imgUpload.theme.crop : eventInfo.themeImg"
            [alt]="eventInfo.eventName"
          />
        </div>
        <div class="flexCol">
          <button class="edit__photo__button" title="編輯佈景圖片" (click)="selectorThemeImg()">
            <img
              src="/assets/icons/add_image.svg"
              [alt]="'universal_operating_selectImg' | translate"
            />
          </button>
          <button
            class="photo__recovery__button"
            title="取消變更佈景圖片"
            (click)="cancelEditThemeImg()"
            *ngIf="imgUpload.theme.crop !== null"
          >
            <i class="icon-svg_web-icon_p3_003-left_turn"></i>
          </button>
        </div>
      </div>
      <div id="edit__content__header" class="flexRow">
        <input
          type="text"
          placeholder="活動名稱"
          [class.empty__warn]="eventInfo?.eventName?.length === 0"
          [value]="eventInfo.eventName"
          (focusout)="handleTitleInput($event)"
        />
        <table>
          <tr>
            <th class="date__info__title">報名開始</th>
            <td>
              <time
                class="info__cannot__edit"
                *ngIf="
                  currentTimestamp >= eventInfo.applyDate.startDate &&
                  uiFlag.editMode !== 'create' &&
                  originEventStatus !== EventStatus.notAudit
                "
              >
                {{ eventInfo.applyDate.startDate * 1000 | timeFormat: 'YYYY-MM-DD' }}
              </time>
              <app-date-range-picker
                (selectDateRange)="getSelectDate($event, 'applyStartDate')"
                [pickerType]="'singlePicker'"
                [refStartDate]="
                  eventInfo.applyDate.startDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                "
                [default]="
                  eventInfo.applyDate.startDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                "
                [serialId]="'1'"
                [limitMin]="applyStartDateMin"
                [editStyle]="
                  '
                  border: none;
                  border-bottom: 1px solid black;
                  margin-left: 10px;
                  color: rgba(150, 150, 150, 1);
                  font-weight: bold;
                '
                "
                *ngIf="
                  currentTimestamp < eventInfo.applyDate.startDate ||
                  uiFlag.editMode === 'create' ||
                  originEventStatus === EventStatus.notAudit
                "
              ></app-date-range-picker>
            </td>
          </tr>
          <tr>
            <th class="date__info__title">報名結束</th>
            <td>
              <time
                class="info__cannot__edit"
                *ngIf="
                  currentTimestamp >= eventInfo.applyDate.endDate &&
                  uiFlag.editMode !== 'create' &&
                  originEventStatus !== EventStatus.notAudit
                "
              >
                {{ eventInfo.applyDate.endDate * 1000 | timeFormat: 'YYYY-MM-DD' }}
              </time>
              <app-date-range-picker
                (selectDateRange)="getSelectDate($event, 'applyEndDate')"
                [pickerType]="'singlePicker'"
                [refStartDate]="
                  eventInfo.applyDate.endDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                "
                [default]="
                  eventInfo.applyDate.endDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                "
                [serialId]="'2'"
                [limitMin]="eventInfo.applyDate.startDate * 1000"
                [limitMax]="
                  currentTimestamp >= eventInfo.raceDate.startDate &&
                  uiFlag.editMode !== 'create' &&
                  originEventStatus !== EventStatus.notAudit
                    ? eventInfo.raceDate.endDate * 1000
                    : undefined
                "
                [editStyle]="
                  '
                  border: none;
                  border-bottom: 1px solid black;
                  margin-left: 10px;
                  color: rgba(150, 150, 150, 1);
                  font-weight: bold;
                '
                "
                *ngIf="
                  currentTimestamp < eventInfo.applyDate.endDate ||
                  uiFlag.editMode === 'create' ||
                  originEventStatus === EventStatus.notAudit
                "
              ></app-date-range-picker>
            </td>
          </tr>
        </table>
        <table>
          <tbody>
            <tr>
              <th class="date__info__title">競賽開始</th>
              <td>
                <time
                  class="info__cannot__edit"
                  *ngIf="
                    currentTimestamp >= eventInfo.raceDate.startDate &&
                    uiFlag.editMode !== 'create' &&
                    originEventStatus !== EventStatus.notAudit
                  "
                >
                  {{ eventInfo.raceDate.startDate * 1000 | timeFormat: 'YYYY-MM-DD' }}
                </time>
                <app-date-range-picker
                  (selectDateRange)="getSelectDate($event, 'raceStartDate')"
                  [pickerType]="'singlePicker'"
                  [refStartDate]="
                    eventInfo.raceDate.startDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                  "
                  [default]="
                    eventInfo.raceDate.startDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                  "
                  [serialId]="'3'"
                  [limitMin]="eventInfo.applyDate.startDate * 1000"
                  [editStyle]="
                    '
                    border: none;
                    border-bottom: 1px solid black;
                    margin-left: 10px;
                    color: rgba(150, 150, 150, 1);
                    font-weight: bold;
                  '
                  "
                  *ngIf="
                    currentTimestamp < eventInfo.raceDate.startDate ||
                    uiFlag.editMode === 'create' ||
                    originEventStatus === EventStatus.notAudit
                  "
                ></app-date-range-picker>
              </td>
            </tr>
            <tr>
              <th class="date__info__title">競賽結束</th>
              <td>
                <time
                  class="info__cannot__edit"
                  *ngIf="
                    currentTimestamp >= eventInfo.raceDate.startDate &&
                    uiFlag.editMode !== 'create' &&
                    originEventStatus !== EventStatus.notAudit
                  "
                >
                  {{ eventInfo.raceDate.endDate * 1000 | timeFormat: 'YYYY-MM-DD' }}
                </time>
                <app-date-range-picker
                  (selectDateRange)="getSelectDate($event, 'raceEndDate')"
                  [pickerType]="'singlePicker'"
                  [refStartDate]="
                    eventInfo.raceDate.endDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                  "
                  [default]="
                    eventInfo.raceDate.endDate * 1000 | timeFormat: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
                  "
                  [serialId]="'4'"
                  [limitMin]="eventInfo.applyDate.endDate * 1000"
                  [editStyle]="
                    '
                    border: none;
                    border-bottom: 1px solid black;
                    margin-left: 10px;
                    color: rgba(150, 150, 150, 1);
                    font-weight: bold;
                  '
                  "
                  *ngIf="
                    currentTimestamp < eventInfo.raceDate.startDate ||
                    uiFlag.editMode === 'create' ||
                    originEventStatus === EventStatus.notAudit
                  "
                ></app-date-range-picker>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="flexRow cloudrun__map"
        [class.map__selector]="
          currentTimestamp < eventInfo.applyDate.startDate ||
          uiFlag.editMode === 'create' ||
          originEventStatus === EventStatus.notAudit
        "
        [class.empty__warn]="eventInfo.cloudrunMapId < 0"
        (click)="showMapList($event)"
        *ngIf="mapList"
      >
        <span>
          {{ selectedMap ?? '地圖選擇' }}
        </span>
        <ul id="map__list" *ngIf="uiFlag.showMapList">
          <li
            (click)="selectMap($event, _list.mapId)"
            *ngFor="let _list of mapList; let index = index"
          >
            <span class="map__distance">
              {{ _list.distance }}
              <span> km </span>
            </span>
            <span>
              {{ _list.info[language].mapName }}
            </span>
          </li>
        </ul>
      </div>
      <div>
        <textarea
          id="event__description"
          class="official-dashBorder"
          name="eventDescription"
          maxlength="150"
          placeholder="列表內容簡介"
          [class.empty__warn]="eventInfo?.description?.length === 0"
          [value]="eventInfo.description"
          (focusout)="handleDescriptionInput($event)"
        ></textarea>
      </div>
    </section>
    <article class="flexCol">
      <h5 class="edit__section__title">活動詳細內容</h5>
      <ng-container *ngFor="let _content of eventDetail.content; let _contentIndex = index">
        <section class="flexRow">
          <div class="flexCol content__section official-dashBorder">
            <div class="flexRow" style="justify-content: space-between">
              <input
                type="text"
                class="content__section__title"
                [value]="_content.title"
                placeholder="索引標題（選填）"
                maxlength="10"
                (focusout)="handleContentTitleInput($event, _content.contentId)"
              />
              <div class="flexCol">
                <button
                  class="flexCenter shift__button"
                  title="向上移動"
                  (click)="shiftContent(_contentIndex, 'up')"
                  *ngIf="_contentIndex > 0"
                >
                  <mat-icon>arrow_upward</mat-icon>
                </button>
                <button
                  class="flexCenter shift__button"
                  title="向下移動"
                  (click)="shiftContent(_contentIndex, 'down')"
                  *ngIf="_contentIndex < eventDetail.content.length - 1"
                >
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </div>
            </div>
            <ng-container *ngIf="_content.cardType === CardTypeEnum.text">
              <ckeditor
                class="content__text"
                [editor]="editor"
                [config]="toolbarConfig"
                [data]="_content.text"
                (ready)="editorOnReady($event)"
                (change)="handleContentTextInput($event, _content.contentId)"
              ></ckeditor>
            </ng-container>
            <ng-container *ngIf="_content.cardType === CardTypeEnum.img">
              <div class="flexCenter content__appendix">
                <div
                  class="flexCol placeholder__icon"
                  *ngIf="!imgUpload.content[_content.contentId] && !_content.img"
                >
                  <img src="/assets/icons/image.svg" alt="圖片" />
                  <span>圖片限制1080 * 1080、500kb</span>
                </div>
                <img
                  [src]="
                    imgUpload.content[_content.contentId]
                      ? imgUpload.content[_content.contentId]
                      : _content.img
                  "
                  [alt]="_content.title"
                  class="content__img"
                  *ngIf="imgUpload.content[_content.contentId] || _content.img"
                />
              </div>
            </ng-container>
            <ng-container *ngIf="_content.cardType === CardTypeEnum.video">
              <input
                type="text"
                name="videoUrl"
                class="video__url__input"
                [class.empty__warn]="_content?.videoLink?.length === 0"
                placeholder="請輸入影片嵌入網址（iframe）"
                [value]="_content.videoLink"
                (focusout)="handleVideoUrlInput($event, _content.contentId)"
              />
              <div class="flexCenter content__appendix">
                <div class="placeholder__icon" *ngIf="!_content.videoLink">
                  <img src="/assets/icons/slow_motion_video.svg" alt="影片" />
                </div>
                <app-ala-iframe
                  [src]="_content.videoLink"
                  [type]="'officialActivity'"
                  [width]="'95vw'"
                  [height]="'50vw'"
                  [maxWidth]="'60vw'"
                  [maxHeight]="'30vw'"
                  *ngIf="_content.videoLink"
                >
                </app-ala-iframe>
              </div>
            </ng-container>
          </div>
          <div class="flexCol">
            <button
              class="official-deleteButton"
              title="刪除此內容區塊"
              (click)="showDeleteAlert('content', _content.contentId)"
            >
              <i class="icon-svg_web-icon_p1_012-close"></i>
            </button>
            <ng-container *ngIf="_content.cardType === CardTypeEnum.img">
              <button
                class="edit__photo__button"
                title="編輯照片"
                (click)="selectorContentImg(_content.contentId)"
              >
                <img
                  src="/assets/icons/add_image.svg"
                  [alt]="'universal_operating_selectImg' | translate"
                />
              </button>
              <button
                class="photo__recovery__button"
                title="取消變更照片"
                (click)="cancelEditContentImg(_content.contentId)"
                *ngIf="imgUpload.content && imgUpload.content[_content.contentId + '']"
              >
                <i class="icon-svg_web-icon_p3_003-left_turn"></i>
              </button>
            </ng-container>
          </div>
        </section>
      </ng-container>
    </article>
    <section class="flexCol group__section">
      <h5 class="edit__section__title">分組</h5>
      <div class="group__number__limit">
        <h6 class="number__limit__title">
          {{ '各組人數限制' }}
        </h6>
        <div>
          <input
            type="radio"
            id="peopel__limit__none"
            name="peopelLimit"
            class="radio__input"
            [checked]="uiFlag.numberLimit === HaveNumberLimit.no"
            [value]="HaveNumberLimit.no"
            (click)="selectPeopleLimit($event)"
          />
          <label for="peopel__limit__none">
            {{ '無限制' }}
          </label>
        </div>
        <div>
          <input
            id="peopel__limit"
            type="radio"
            name="peopelLimit"
            class="radio__input"
            [checked]="uiFlag.numberLimit === HaveNumberLimit.yes"
            [value]="HaveNumberLimit.yes"
            (click)="selectPeopleLimit($event)"
          />
          <input
            type="number"
            class="people__limit__input"
            [class.empty__warn]="
              uiFlag.numberLimit === HaveNumberLimit.yes && !eventInfo.numberLimit
            "
            [value]="
              eventInfo.numberLimit && eventInfo.numberLimit > 0
                ? eventInfo.numberLimit
                : defaultNumberLimit
            "
            (focusout)="handlePeopleLimitInput($event)"
          />
          <span>{{ 'universal_unit_members' | translate }}</span>
        </div>
      </div>
      <div class="flexRow">
        <ng-container *ngFor="let _group of eventDetail.group; let _groupIndex = index">
          <div class="flexRow">
            <div class="flexCol group__section__card">
              <input
                type="text"
                placeholder="請輸入組名"
                class="group__name__input"
                [class.empty__warn]="_group?.name?.length === 0"
                [value]="_group.name"
                (focusout)="handleGroupTitleInput($event, _group.id)"
              />
              <div style="justify-content: space-between">
                <p class="selector__label">{{ '年齡限制' }}</p>
                <div class="flexRow" style="justify-content: space-between">
                  <div
                    *ngTemplateOutlet="
                      ageSelector;
                      context: {
                        group: _group,
                        type: 'min'
                      }
                    "
                  ></div>
                  ~
                  <div
                    *ngTemplateOutlet="
                      ageSelector;
                      context: {
                        group: _group,
                        type: 'max'
                      }
                    "
                  ></div>
                </div>
              </div>
              <div>
                <p class="selector__label">{{ '性別限制' }}</p>
                <div class="flexRow">
                  <div
                    *ngTemplateOutlet="
                      genderSelector;
                      context: {
                        selectGender: _group.gender,
                        groupId: _group.id
                      }
                    "
                  ></div>
                </div>
              </div>
            </div>
            <button
              class="official-deleteButton"
              title="刪除此分組區塊"
              (click)="showDeleteAlert('group', _group.id)"
              *ngIf="
                eventDetail.group.length > 1 &&
                (currentTimestamp < eventInfo.applyDate.startDate ||
                  uiFlag.editMode === 'create' ||
                  originEventStatus === EventStatus.notAudit)
              "
            >
              <i class="icon-svg_web-icon_p1_012-close"></i>
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            currentTimestamp < eventInfo.applyDate.startDate ||
            uiFlag.editMode === 'create' ||
            originEventStatus === EventStatus.notAudit
          "
        >
          <div
            *ngTemplateOutlet="
              addNew;
              context: {
                type: 'group'
              }
            "
          ></div>
        </ng-container>
      </div>
    </section>
    <section class="flexCol fee__section">
      <h5 class="edit__section__title">報名組合</h5>
      <div class="flexRow">
        <ng-container *ngFor="let _applyFee of eventDetail.applyFee; let _applyFeeIndex = index">
          <div class="flexRow">
            <div class="flexCol fee__section__card">
              <input
                type="text"
                placeholder="請輸入標題"
                class="applyFee__title__input"
                [class.empty__warn]="_applyFee?.title?.length === 0"
                [value]="_applyFee.title"
                (focusout)="handleFeeTitleInput($event, _applyFee.feeId)"
              />
              <div class="fee__section__img">
                <img src="/assets/icons/image.svg" alt="圖片" class="fee__placeholder__img" />
                <img
                  [src]="
                    imgUpload.applyFee[_applyFee.feeId]?.crop
                      ? imgUpload.applyFee[_applyFee.feeId].crop
                      : _applyFee.img
                  "
                  [alt]="_applyFee.title"
                  class="fee__img"
                  *ngIf="imgUpload.applyFee[_applyFee.feeId] || _applyFee.img"
                />
              </div>
              <div class="flexRow">
                <span class="money__symbol">＄</span>
                <input
                  type="number"
                  placeholder="請輸入價格"
                  class="fee__input"
                  [class.empty__warn]="_applyFee?.fee?.length === 0"
                  [value]="_applyFee.fee"
                  [attr.disabled]="
                    uiFlag.editMode !== 'create' &&
                    currentTimestamp >= eventInfo.applyDate.startDate &&
                    originEventStatus !== EventStatus.notAudit
                      ? true
                      : null
                  "
                  (focusout)="handleFeeInput($event, _applyFee.feeId)"
                />
              </div>
              <div class="flexRow have__product">
                <button
                  [id]="'have__product__input' + _applyFee.feeId"
                  [class.check__box--active]="_applyFee.haveProduct === HaveProduct.yes"
                  (click)="changeHaveProductStatus($event, _applyFee.feeId)"
                >
                  <span *ngIf="_applyFee.haveProduct === HaveProduct.yes">✔</span>
                </button>
                <label [for]="'have__product__input' + _applyFee.feeId">
                  {{ '需出貨' }}
                </label>
              </div>
            </div>
            <div class="flexCol">
              <button
                class="official-deleteButton"
                title="刪除此費用區塊"
                (click)="showDeleteAlert('applyFee', _applyFee.feeId)"
                *ngIf="
                  eventDetail.applyFee.length > 1 &&
                  (currentTimestamp < eventInfo.applyDate.startDate ||
                    uiFlag.editMode === 'create' ||
                    originEventStatus === EventStatus.notAudit)
                "
              >
                <i class="icon-svg_web-icon_p1_012-close"></i>
              </button>
              <button
                class="edit__photo__button"
                title="變更照片"
                (click)="selectorApplyFeeImg(_applyFee.feeId)"
              >
                <img
                  src="/assets/icons/add_image.svg"
                  [alt]="'universal_operating_selectImg' | translate"
                />
              </button>
              <button
                class="photo__recovery__button"
                title="取消編輯照片"
                (click)="cancelEditApplyFeeImg(_applyFee.feeId)"
                *ngIf="imgUpload.applyFee && imgUpload.applyFee[_applyFee.feeId + '']"
              >
                <i class="icon-svg_web-icon_p3_003-left_turn"></i>
              </button>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            currentTimestamp < eventInfo.applyDate.startDate ||
            uiFlag.editMode === 'create' ||
            originEventStatus === EventStatus.notAudit
          "
        >
          <div
            *ngTemplateOutlet="
              addNew;
              context: {
                type: 'applyFee'
              }
            "
          ></div>
        </ng-container>
      </div>
    </section>
    <div class="mobileFiller"></div>
  </main>
  <section class="flexCenter info-editMask" *ngIf="uiFlag.openImgSelector">
    <div class="imgSelector">
      <app-image-cropper
        [imgInputEvent]="
          uiFlag.openImgSelector === AlbumType.eventTheme
            ? imgUpload.theme.origin
            : imgUpload.applyFee[uiFlag.imgCurrentEditId]
            ? imgUpload.applyFee[uiFlag.imgCurrentEditId].origin
            : null
        "
        [albumType]="uiFlag.openImgSelector"
        (closeSelector)="closeSelector($event)"
      ></app-image-cropper>
    </div>
  </section>
  <input
    #imgUploadInput
    type="file"
    accept=".jpg,.jpeg,.gif,.png"
    (change)="handleContentImgSelected($event)"
    hidden
  />
</div>

<ng-template #ageSelector let-group="group" let-type="type">
  <div class="flexRow condition__selector" (click)="openAgeSelector($event, type, group.id)">
    <span>
      <ng-container *ngIf="group.age">
        {{ group.age[type] }}
      </ng-container>
      <ng-container *ngIf="group.age === undefined">
        {{ type === 'min' ? 0 : 100 }}
      </ng-container>
    </span>
    <ul class="selector__list" *ngIf="uiFlag.showAgeSelector === type + '-' + group.id">
      <ng-container *ngFor="let _age of ageList">
        <ng-container *ngIf="type === 'min'">
          <li
            (click)="selectLimitAge($event, _age)"
            *ngIf="!group.age?.max || _age <= group.age?.max"
          >
            {{ _age }}
          </li>
        </ng-container>
        <ng-container *ngIf="type === 'max'">
          <li
            (click)="selectLimitAge($event, _age)"
            *ngIf="!group.age?.min || _age >= group.age?.min"
          >
            {{ _age }}
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <i
      class="icon-svg_web-icon_p1_006-unfold icon--unfold"
      [class.icon--fold]="uiFlag.showAgeSelector === type + '-' + group.id"
      *ngIf="
        currentTimestamp < eventInfo.applyDate.startDate ||
        uiFlag.editMode === 'create' ||
        originEventStatus === EventStatus.notAudit
      "
    ></i>
  </div>
</ng-template>

<ng-template #genderSelector let-selectGender="selectGender" let-groupId="groupId">
  <div class="flexRow condition__selector" (click)="openGenderSelector($event, groupId)">
    <span>
      <ng-container *ngIf="selectGender === Sex.male"> 男性 </ng-container>
      <ng-container *ngIf="selectGender === Sex.female"> 女性 </ng-container>
      <ng-container *ngIf="selectGender === Sex.unlimit || selectGender === undefined">
        不限
      </ng-container>
    </span>
    <ul class="selector__list" *ngIf="uiFlag.showGenderSelector === groupId">
      <li (click)="selectLimitGender($event, Sex.unlimit)">不限</li>
      <li (click)="selectLimitGender($event, Sex.male)">男性</li>
      <li (click)="selectLimitGender($event, Sex.female)">女性</li>
    </ul>
    <i
      class="icon-svg_web-icon_p1_006-unfold icon--unfold"
      [class.icon--fold]="uiFlag.showGenderSelector === groupId"
      *ngIf="
        currentTimestamp < eventInfo.applyDate.startDate ||
        uiFlag.editMode === 'create' ||
        originEventStatus === EventStatus.notAudit
      "
    ></i>
  </div>
</ng-template>

<ng-template #addNew let-type="type">
  <div class="add__new__item official-dashBorder" (click)="addNewItem(type)">
    <i class="icon-svg_web-icon_p1_029-add"></i>
  </div>
</ng-template>
