<section class="flexCol pageBreakAvoid">
  <div class="flexRow" style="align-items: center; justify-content: space-between;">
    <h6 id="chartTitle">
      <ng-container *ngIf="data.maxGForce">
        {{ 'universal_adjective_accumulation' | translate }}
      </ng-container>
      {{ chartType | dataTypeTranslate: [sportType, unit] | translate }}
    </h6>
  </div>
  <main id="mainSeciton">
    <ng-container *ngIf="!['sportReport'].includes(page)">
      <div class="flexRow infoBlock" style="justify-content: space-between;">
        <div class="flexCol infoSection">
          <span class="dataNumber">
            {{ data.maxGForce | number: '1.0-0' }}
            {{ chartType | dataTypeUnit: [sportType, unit] }}
          </span>
          <span class="dataDescription">
            {{ 'universal_adjective_maxBig' | translate }}
            {{ title.positive }}
          </span>
        </div>
        <div class="flexCol infoSection">
          <span class="dataNumber">
            {{ data.minGForce | number: '1.0-0' }}
            {{ chartType | dataTypeUnit: [sportType, unit] }}
          </span>
          <span class="dataDescription">
            {{ 'universal_adjective_maxBig' | translate }}
            {{ title.negative }}
          </span>
        </div>
      </div>
    </ng-container>
    <div #container id="chartBlock" [class.printChartFix]="isPreviewMode">
      chart
    </div>
  </main>
</section>