<div class="target__hint__area">
  <mat-icon
    class="target__hint"
    (mouseenter)="openTargetHint()"
    (mouseleave)="closeTargetHint()"
    (click)="toggleTargetHint($event)"
  >
    help_outline
  </mat-icon>
  <div
    class="flexCol target__hint__box"
    *ngIf="uiFlag.showTargetHint"
  >
    <img src="/assets/images/target_example.PNG" alt="Target hint">
    <span class="chart__label">{{ 'universal_lifeTracking_target' | translate }}</span>
    <p class="hint__description">
      {{ '設定運動目標，會在運動報告頁面顯示目標，並計算達成率' | translate }}
    </p>
  </div>
</div>