/**
 * 官方活動樣式相關
 * @prefix official-
 */

@import 'flex-center.scss';
@import 'font.scss';
@import 'color.scss';
@import 'button.scss';
@import 'drop-triangle.scss';
@import 'overflow-scroll';
@import 'z-index.scss';

@mixin main-button() {
  border-radius: 10px;
  width: 120px;
  min-height: 40px;
  font-weight: bold;
}

@mixin drop-menu($top, $width, $height: 200px) {
  list-style: none;
  position: absolute;
  background-color: white;
  top: $top;
  left: 0;
  z-index: $drop-menu;
  box-shadow: 2px 2px 4px rgba(200, 200, 200, 1), -2px 2px 4px rgba(200, 200, 200, 1);
  padding: 0;
  width: 180px;
  max-height: 200px;
  @include overflow-y-scroll();

  > li {
    padding: 5px;
    font-size: 14px;

    &:hover {
      background-color: $primary-blue;
      color: white;
    }
  }
}

@mixin selector-list($width) {
  display: inline-block;
  width: $width;
}

.official-dialog {
  @include center();
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $important-dialog;

  > div {
    width: 310px;
    background-color: white;
  }
}

.official-dialogTitle {
  $height: 45px;
  @include center();
  background: $official-theme-color;
  color: white;
  height: $height;
  min-height: $height;

  > h5 {
    @include center();
    @include bold-font(20px);
    position: relative;
    left: -10px;
    margin: 0;
    width: 80%;

    > img {
      height: 20px;
    }
  }
}

.official-dialogContent {
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  height: 100%;
  padding: 15px 20px;

  > div {
    width: 100%;
  }
}

.official-submitButton {
  @include main-button();
  color: white;
  border-style: solid;
  border-width: 3px 5px;
  background: $official-theme-color;
}

.official-subButton {
  border-radius: 10px;
  width: 100px;
  min-height: 40px;
  font-weight: bold;
  border: 1px solid $official-theme-color-light;
  color: $official-theme-color-light;
}

.official-dashBorder {
  border: 3px dashed rgba(150, 150, 150, 1);
  border-radius: 10px;
}

.official-deleteButton {
  $size: 20px;
  @include center();
  @include button(20px, none, black) {
    margin: 15px;
    height: $size;
    width: $size;
    border-radius: 50%;
    color: white;
    max-width: 20px;
    padding: 0;
  }

  > i {
    font-size: 20px;
  }
}

.official-countryCodeSelector {
  position: relative;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include drop-hint(6px, 4px, black);
}

.official-selector--active {
  &:after {
    @include drop-active();
  }
}

.official-countryCodeList {
  @include drop-menu(27px, 180px);
}

.official-countryNumber {
  @include selector-list(45px);
}

.official-countryName {
  @include selector-list(100px);
}
