/**
 * 運動檔案、運動報告、生活追蹤、雲跑報告共用樣式
 * (品牌課程的我的課程和課程分析待重構或ui v2時，再依ui套用共用樣式)
 * @prefix report-
 */
@use 'sass:math';
@import 'font.scss';
@import 'transition.scss';
@import 'transform.scss';
@import 'color.scss';
@import 'flex-center.scss';

/**
 * 概要資訊各欄位顏色
 */
@mixin info-color() {

  @for $i from 1 through 10 {

    &:nth-of-type(#{$i}) {

      &:before {
        background-color: hsla(math.div(360 * $i, 10), 100%, 40%, 0.3);
      }

    }

  }

}


$sport-chart-width: 80%;
$target-list-color: rgba(120, 120, 120, 1);

.report-headerIcon{
  font-size: 30px;
  color: var(--scale-100-230);
  border: 2px solid var(--scale-100-230);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
}

.report-titleText {
  justify-content: center;
  margin-left: 20px;
  line-height: 1.2;
}

.report-dateAnnotation {
  font-size: 12px;
  color: var(--scale-150-180);
}

.report-headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.report-headerTitle {
  @include bold-font(30px);
  color: var(--scale-115-255);
}

.report-imgIcon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.report-displaySection {
  margin: 10px 0;
}

.report-summaryArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  >div {
    padding: 0px 15px;
  }

}

.report-summaryData {
  font-size: 24px;
  font-weight: bold;
  color: var(--scale-100-205);
}

.report-summaryDescription {
  font-size: 14px;
  color: var(--scale-100-205);
}

.report-durationSection {
  margin-top: 20px;
}

.report-durationChart {
  width: 60%;
}

.report-durationInfo {
  width: 40%;
}

.report-chartTitle {
  color: var(--scale-75-230);
  font-weight: bold;
}

.report-areaDescription {
  font-size: 16px;
  color: var(--scale-150-180);
  margin-left: 10px;
}

.report-dataDiscription {
  margin-top: 10px;
}

.report-infoHeader {
  margin: 0 10px;
  justify-content: space-between;
}

.report-noChartData {
  font-weight: bold;
  color:grey;
  margin: 10px 0px 10px 10px
}

.report-ringChart {
  width: 40%;
}

.report-ringChartTitle {
  display: inline-block;
  color: var(--scale-0-255);
  font-weight: bold;
  text-align: center;
  margin: 10px;
  min-height: 48px;
}

.report-ringChartSection {
  margin-top: 10px;
  width: 50%;
}

.report-zoneChart {
  width: 55%;
}

.report-perTypeInfo {
  font-size: 14px;
  margin-left: 15px;
  min-width: 150px;

  &:hover{
    cursor: pointer;;
  }
}

.report-typeFullInfo {
  min-width: 200px;
}

.report-dot {
  margin-right: 5px;
  font-size: 16px;
}

.report-perTypeTitle {
  color: var(--scale-75-230);
  font-weight: bold;
}

.report-perTypeAvgTime {
  color: var(--scale-0-255);
  margin-left: 30px;
}

.report-distributionChartWidth {
  margin-top: 10px;
  width: 60%;
}

.report-timeRangeType {
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--scale-0-255);
}

.report-distributionChart {
  width: 100%;
  height: auto;
}

.report-infoChart {
  width: 45%;
}

.report-haveOptBtn {
  align-items: center;

  button {
    font-size: 25px;
    border: none;
    background-color: transparent;
    padding: 0;

    i {
      color: var(--scale-100-230);
    }

  }

}

.report-menuSubtitle {
  color: var(--scale-100-255);
  font-weight: bold;
}

.report-weightTrainSetting {
  position: absolute;
  top: 28px;
  right: 0px;
  width: 260px;
  padding: 15px;
  background-color: white;
  z-index: 1;
  border: 1px solid black;
}

.report-dropMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 30px;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;

  &:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid black;
    @include transition(transform);
  }

}

.report-dropMenu--active {

  &:after {
    @include transition(transform);
    @include el-rotate(180deg);
  }

}

.report-dropMenuList {
  cursor: pointer;
  position: absolute;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  z-index: 2;
  background-color: white;
  top: 34px;

  span {
    padding: 2px;
    display: block;

    &:hover {
      background-color: rgba(17, 166, 235, 1);
      color: white;
      @include transition(background-color);
    }

  }

  .levelOpt {
    text-align: right;
    padding-right: 20px;
  }

}

.report-weightTrainMenu {
  justify-content: flex-end;

  &:after {
    margin-left: 10px;
  }

}

.report-cloudrunIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.report-mapImg {
  max-width: 300px;
  margin: 0 10px 10px 0;
  border: 1px solid white;
}

.report-footerTitle {
  color: var(--scale-0-255);
  word-break: break-word;
  font-weight: bold;
}

.report-mapIntroduction {
  font-weight: bold;
  color: var(--scale-100-205);
}

.report-mapInfo {
  margin-bottom: 5px;
  font-weight: bold;

  span {
    color: var(--scale-100-205);
  }

}

/***************************** media ******************************/

@media (max-width: 991px){
  .report-bodyQuality {
    flex-direction: column;
  }

}

@media(max-width: 767px) {
  .report-headerSection {
    flex-direction: column;
    justify-content: center;
  }

  .report-fileOwner {
    justify-content: flex-end;
  }

  .report-durationSection {
    flex-direction: column;
  }

  .report-durationChart,
  .report-durationInfo {
    width: 100%;
  }

  .report-rerangeChartLayout {
    display: flex;
    flex-direction: column;

    >div {
      width: 100%;
    }

  }

  .report-headerTitle {
    font-size: 24px;
  }

  .report-ringChart, .report-distributionChartWidth {
    width: 100%;
  }

  .report-footer {
    flex-direction: column;
  }

}

/**
 * 處理列印時，highchart無法自適應等跑版問題
 */
@media print {
  .report-headerSection {
    flex-direction: row;
    justify-content: space-between;
  }

  .report-bodyQuality {
    flex-direction: row;
  }

  .report-chartPrintWidth {
    max-width: 300px;
  }

  .report-durationChart {
    width: initial;
    flex-shrink: 0;
  }

}


/************************************************* 新 report 的樣式 ***********************************/

.report-section {
  margin-bottom: 30px;
}

.report-headTitleSection {
  align-items: center;
  margin: 20px 0;
}

.report-sportsIcon {
  font-size: 54px;
  margin-right: 10px;
}

.report-dateRange {
  font-size: 12px;
  margin: 0;
}

.report-mainTitle {
  @include bold-font(32px);
}

.report-compareDate {
  color: rgba(120, 120, 120, 1);
}

.report-infoRow {
  flex-wrap: wrap;
}

.report-infoItem {
  align-items: center;
  min-width: 120px;
  margin: 10px;
  background-color: rgba(200, 200, 200, 0.1);

  &:before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 100%;
  }

}

.report-baseInfo {
  @include info-color();
}

.report-compareInfo {
  @include info-color();
}

.report-infoDataValue {
  @include bold-font(24px);
}

.report-infoDataUnit {
  font-size: 14px;
  color: var(--scale-150-180);
  font-weight: bold;
}

.report-infoDataType {
  font-size: 14px;
  color: rgba(115, 115, 115, 1);
}

.report-analysisHeader {
  cursor: pointer;
}

.report-headerCorrection {
  position: relative;
  left: 6px;
}

.report-analysisHeaderText {
  line-height: 1;
  align-items: center;
}

.report-analysisTitle {
  margin: 0;
  color: $sport-analysis-color;
  text-align: center;
  width: 100%;
  @include bold-font(16px);
}

.report-analysisUnit {
  color: rgba(145, 145, 145, 1);
  font-size: 12px;
}

.report-analysisRowData {
  list-style: none;
  margin: 0;
  padding: 0;
}

.report-analysisHintArea {
  margin: 10px 0;
  justify-content: center;
}

.report-analysisHintRow {
  align-items: center;
  margin-right: 20px;
}

.report-baseHint {
  display: inline-block;
  min-width: 27px;
  min-height: 20px;
  margin-right: 10px;
  background-color: $report-base-color;
}

.report-compareHint {
  @extend .report-baseHint;
  background-color: $report-compare-color;
}

.report-analysisDateHint {
  font-size: 12px;
  color: rgb(74, 74, 80, 1);
}

.report-progressiveHint {
  display: inline-block;
  min-width: 20px;
}

.report-progressiveIcon {
  color: rgba(255, 76, 215, 1);
  @include bold-font(20px);
}

.report-regressiveIcon {
  @extend .report-progressiveIcon;
  color: rgba(0, 186, 255, 1);
}

.report-analysisColumnData {
  font-weight: 700;
  color: $sport-analysis-color;
}

.report-optionSection {
  position: relative;
}

.report-settingIcon {
  font-size: 24px;
}

.report-lockIcon {
  font-size: 24px;
}

.report-anlysisChartRow {
  justify-content: space-between;
}

.report-ringchartRow {
  max-height: 300px;
}

.report-ringChartBlock {
  width: 40%;
}

.report-distributionChartBlock {
  width: 55%;
}

.report-oneRingChart {
  min-width: 150px;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.report-dateHint {
  font-size: 12px;
  color: rgba(120, 120, 120, 1);
}

.report-zoneChartInfo {
  align-items: center;
}

.report-trendChart {
  align-items: center;
  padding: 10px 2vw;
  margin-bottom: 15px;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.report-chartHint {
  width: calc(100% - #{$sport-chart-width});
}

.report-chartFigure {
  width: $sport-chart-width;
}

.report-trendChartTitle {
  @include bold-font(24px);
  color: rgba(115, 115, 115, 1);
}

.report-targetLineHint {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 20px;

  &:before {
    $size: 14px;
    content: '';
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: rgba(255, 48, 110, 1);
    margin-right: 5px;
  }

}

.report-trendChartInfo {
  align-items: center;
  margin: 10px 0;
}

.report-chartDataAnnotation {
  font-size: 12px;
  color: rgba(120, 120, 120, 1);
}

.report-chartDataValue {
  line-height: 1;
  @include bold-font(28px);
}

.report-ChartHintBar {
  height: 38px;
  width: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.report-chartDescription {
  font-size: 14px;
  color: var(--scale-150-180);
}

.report-targetCycle {
  @include center();
  min-width: 50px;
  min-height: 34px;
  font-weight: bold;
  color: $target-list-color;
}

.report-targetCondition {
  display: inline-block;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid rgba(125, 125, 125, 1);
  color: $target-list-color;
  margin: 2px 10px;
}


/*********************************************************** media *****************************************/

@media (max-width: 950px) {

  .report-anlysisChartRow {
    flex-direction: column;
    justify-content: unset;
  }

  .report-ringChartBlock, .report-distributionChartBlock {
    width: 100%;
  }

}

@media (max-width: 767px) {

  .report-trendChart, .report-zoneChartInfo {
    flex-direction: column;
  }

  .report-chartHint,
  .report-chartFigure,
  .report-zoneChart,
  .report-infoChart {
    width: 100%;
  }

  .report-chartHint {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

}

@media (max-width: 575px) {

  .report-chartHint {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .report-analysisHintArea {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
  }

  .report-baseHint, .report-compareHint {
    margin: 5px 10px 5px 0;
  }

  .report-analysisHintRow {
    justify-content: center;
  }

}
