@import 'transition.scss';

#loading__bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: rgba(17, 166, 235, 1);
  z-index: 10;
  @include transition(width);
}

#loading__spinner {
  position: fixed;
  z-index: 100;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
