<div class="flexCol childPageCard">
  <section
    class="flexRow"
    style="justify-content: flex-end;"
    *ngIf="
      userSimpleInfo
      && userSimpleInfo.accessRight[0] <= groupInfo.groupLevel
      && groupInfo.groupStatus !== 4
      && groupInfo.groupStatus !== 5
      && (groupInfo.groupStatus !== 6 || (userSimpleInfo.accessRight[0] < groupInfo.groupLevel && userSimpleInfo.accessRight[0] < 50))
      && !groupInfo.expired
      && +groupInfo.commerceStatus === 1
    "  
  >
    <button
      class="childPageBtn"
      (click)="addGroup('branch')"
      *ngIf="groupInfo.groupLevel === 30 && userSimpleInfo.accessRight[0] <= 30 && !uiFlag.branchFull"
    >
      <span *ngIf="groupInfo.brandType === 1">{{ 'universal_group_addBranch' | translate}}</span>
      <span *ngIf="groupInfo.brandType === 2">{{ 'universal_group_addBranchOffice' | translate}}</span>
    </button>
    <button
      class="childPageBtn"
      (click)="addGroup('class')"
      *ngIf="groupInfo.groupLevel === 40 && userSimpleInfo.accessRight[0] <= 40 && !uiFlag.classFull"
    >
      <span *ngIf="groupInfo.brandType === 1">{{ 'universal_group_addCoachingClass' | translate}}</span>
      <span *ngIf="groupInfo.brandType === 2">{{ 'universal_group_addDepartment' | translate}}</span>
    </button>
    <button
      class="childPageBtn"
      [class.editModeBtn]="uiFlag.editMode === 'edit'"
      [class.btnLoadingStatus]="uiFlag.isLoading"
      (click)="handleEdit()"
    >
      <span *ngIf="uiFlag.editMode === 'complete'">{{ 'universal_operating_edit' | translate}}</span>
      <span *ngIf="uiFlag.editMode === 'edit'">{{ 'universal_operating_finishEdit' | translate}}</span>
    </button>
  </section>
  <section class="architectureSection">
    <span class="contentSubtitle" *ngIf="groupInfo.brandType === 1">{{ 'universal_group_gym' | translate }}</span>
    <span class="contentSubtitle" *ngIf="groupInfo.brandType === 2">{{ 'universal_group_company' | translate }}</span>
    <div>
      <app-member-capsule
        class="groupListContent"
        [isSubGroupInfo]="true"
        [title]="groupArchitecture.brands[0].groupName"
        [memberInfo]="groupArchitecture.brands[0]"
        [name]="groupArchitecture.brands[0].groupName"
        [icon]="groupArchitecture.brands[0].groupIcon"
        [groupId]="groupArchitecture.brands[0].groupId"
        [groupLevel]="groupInfo.groupLevel"
        [brandType]="groupInfo.brandType"
        [isHadMenu]="uiFlag.editMode === 'edit' && userSimpleInfo.accessRight[0] <= 29"
        [canDisband]="userSimpleInfo.accessRight[0] <= 29"
        [isLocked]="groupArchitecture.brands[0].groupStatus === 6"
        *ngIf="groupArchitecture.brands && groupInfo.brandType"
      >
      </app-member-capsule>
    </div>
  </section>
  <section class="architectureSection">
    <span class="contentSubtitle" *ngIf="groupInfo.brandType === 1">{{ 'universal_group_branch' | translate }}</span>
    <span class="contentSubtitle" *ngIf="groupInfo.brandType === 2">{{ 'universal_group_companyBranch' | translate }}</span>
    <div
      class="flexRow"
      style="flex-wrap: wrap;"
      *ngIf="groupArchitecture.branches && groupArchitecture.branches.length > 0 && groupInfo.brandType; else noData;"
    >
      <div class="groupListContent" *ngFor="let _branch of groupArchitecture.branches;">
        <app-member-capsule
          [isSubGroupInfo]="true"
          [title]="_branch.groupName"
          [memberInfo]="_branch"
          [name]="_branch.groupName"
          [icon]="_branch.groupIcon"
          [groupId]="_branch.groupId"
          [groupLevel]="groupInfo.groupLevel"
          [brandType]="groupInfo.brandType"
          [isHadMenu]="uiFlag.editMode === 'edit' && userSimpleInfo.accessRight[0] <= 30"
          [canDisband]="userSimpleInfo.accessRight[0] <= 30"
          [isLocked]="_branch.groupStatus === 6"
          (onRemoveGroup)="disbandGroup($event)"
          *ngIf="groupArchitecture.brands && groupInfo.brandType"
        >
        </app-member-capsule>
      </div>
    </div>
  </section>
  <section class="architectureSection">
    <span class="contentSubtitle" *ngIf="groupInfo.brandType === 1">{{ 'universal_group_class' | translate }}</span>
    <span span class="contentSubtitle" *ngIf="groupInfo.brandType === 2">{{ 'universal_group_department' | translate }}</span>
    <div
      class="flexRow"
      style="flex-wrap: wrap;"
      *ngIf="groupArchitecture.coaches && groupArchitecture.coaches.length > 0 && groupInfo.brandType; else noData;"
    >
      <div class="groupListContent" *ngFor="let _coach of groupArchitecture.coaches;">
        <app-member-capsule
          [isSubGroupInfo]="true"
          [title]="_coach.groupName"
          [memberInfo]="_coach"
          [name]="_coach.groupName"
          [icon]="_coach.groupIcon"
          [groupId]="_coach.groupId"
          [groupLevel]="groupInfo.groupLevel"
          [brandType]="groupInfo.brandType"
          [isHadMenu]="uiFlag.editMode === 'edit' && userSimpleInfo.accessRight[0] <= 40"
          [canDisband]="userSimpleInfo.accessRight[0] <= 40"
          [parentsName]="_coach.branchName"
          [isLocked]="_coach.groupStatus === 6"
          (onRemoveGroup)="disbandGroup($event)"
          *ngIf="groupArchitecture.brands && groupInfo.brandType"
        >
        </app-member-capsule>
      </div>
    </div>
  </section>
  <ng-template #noData>
    <div style="margin: 5px 5px 5px 10px;">{{'universal_status_noData' | translate}}</div>
  </ng-template>
</div>
