<div class="flexCol">
  <span class="content__title">
    {{ 'universal_group_group' | translate }} {{ 'universal_group_layer' | translate }}
  </span>
  <div>
    <span class="content__subtitle">{{ 'universal_group_gym' | translate }}</span>
    <span class="content__subtitle">{{ 'universal_group_company' | translate }}</span>
  </div>
  <div>
    <span class="content__subtitle">{{ 'universal_group_branch' | translate }}</span>
    <span class="content__subtitle">{{ 'universal_group_companyBranch' | translate }}</span>
  </div>
  <div>
    <span class="content__subtitle">{{ 'universal_group_class' | translate }}</span>
    <span span class="content__subtitle">{{ 'universal_group_department' | translate }}</span>
  </div>
</div>
