<ng-container *ngIf="language === 'zh-tw'">
  <div class="content__text">
    <h2>
      <span>隱私權聲明</span>
    </h2>
    <p>
      <span>
        ALATECH
        尊重並保護ALATECH網站以及與其連線的當地ALATECH網站之訪客的隱私權。本隱私權政策會向您告知我們如何向您收集資訊、我們如何使用收集到的資訊、以及如何保護這些資訊。
      </span>
    </p>
    <p>
      <span>我們收集那一類的資訊？</span>
    </p>
    <p>
      <span>
        在某些情況中，ALATECH
        可能會向您詢問一些個人資料，像您的名字、地址、出生日期、性別，等等。當您登記參加比賽/促銷活動、回應通訊訊息
        (例如像電子郵件)、以及登記參加那些需要登記或訂用的服務時，我們會向您索取這些資料。
        如果您要留在我們的郵寄清單中的話，我們會要求您主動選擇加入。我們可能還會向您收集有關某個第三方的個人資料，例如，如果網站允許您傳送電子明信片，在這種情況下，我們就需要知道收件人的名字和電子郵件位址。
        該項資訊僅用在特定目的中使用 (例如，傳送電子明信片時)，並且，除非第三方與我們連絡，否則
        ALATECH 不會進一步與該第三方連絡。當您蒞臨我們的網站時，我們會使用 ‘Cookie’
        來收集有關於您的個人資訊，依此來提升您的使用經驗。 您可以在 ‘Cookie 的使用’
        單元中了解更多有關我們如何使用 Cookie 的資訊。當您蒞臨我們的網站時，我們會收集所謂的
        ‘點選流’ 資料 (伺服器位置、網域名稱，等等)。 這些資訊可與您提供給我們的資訊
        (例如，登記時提供的資訊)
        結合使用，如此可讓我們進行分析並能夠更進一步針對您的參觀來設計內容。
      </span>
    </p>
    <h3>
      <span>訪客資訊的使用</span>
    </h3>
    <p>
      <span>我們可能會用以下的方法來使用向您收集來的資訊：</span>
      <span>
        管理比賽、促銷、調查或其它網站特色，以及向您提供相關的產品或服務
        (例如，將您可能在某項比賽中贏得的獎品送給您)。透過電子郵件傳送資訊/資料、傳送有關產品的
        SMS-訊息、特價供應以及我們認為您可能會感興趣的消息。這項資訊可能與 ALATECH
        和/或其授權者的產品、特價供應和新聞有關。 如果您有選擇加入接收 ALATECH 的電子郵件和/或 SMS
        訊息的話，我們才會傳送給您。 如果您不要再收到任何我們的電子郵件/或 SMS
        訊息，或者如果您要修改您的個人資料或希望從我們的資料庫刪除您的個人資料的話，建議您到下面的
        ‘退出選擇權、刪除或修改個人資訊’
        區段。要分析前來此網站的訪客以及整體了解訪客的興趣，也希望在個人層面上更佳了解您的興趣和需求，藉此讓我們能夠改善我們的產品和服務，並將您最感興趣的內容類型、功能和促銷產品提供給您。
      </span>
    </p>
    <h3>
      <span>訪客的資訊由誰管理</span>
    </h3>
    <p>
      <span
        >ALATECH 的全球和當地網站以及收集來的資訊都是由 ALATECH 管理和控制。使 ALATECH
        的全球和當地網站能夠提供使用的伺服器位於台灣。
        如果您在台灣之外的地區，請注意，您提供的資訊會被轉移到台灣，傳送這些資訊就表示您同意這項轉移作業。ALATECH
        訂立協議，我們會對您的資料保護提供足夠的保全措施。 個人資訊將根據 ALATECH
        的“隱私權政策”加以處理。</span
      >
    </p>
    <h3>
      <span>訪客資訊的保護</span>
    </h3>
    <p>
      <span>
        為了保護您蒞臨本公司的網站時提供的資訊，我們實施了各種保全方法。
        您的個人資訊會保存在安全的網路後面，並且僅有幾位具有特殊存取權的人才能存取這些資訊，這些人必需維持資訊的機密性。不過，請您要記住，任何時候當您在線上提供個人資料時，這些資料都有被第三方攔截和使用的風險。
        雖然 ALATECH
        竭盡全力要保護使用者的個人資料和隱私權，但是，我們無法保證您在線上揭露之任何資訊的保全性，以這種方式提供資訊需由您自己承擔風險。
      </span>
    </p>
    <h3>
      <span>兒童的隱私權</span>
    </h3>
    <p>
      <span>兒童的隱私權</span>
    </p>
    <p>
      <span>
        ALATECH 鼓勵父母和監護人花點時間和自己的孩子一起上網，並參與全球資訊網 (WWW)
        提供之多重網站供應的各種活動。當兒童要傳送他/她的註冊時，他/她同樣也會被要求交出上面的
        ‘我們從訪客處收集到的資訊’
        區段中提及的相同資訊。再則，兒童提供的資訊，以及在他/她訪問網站期間收集到的資訊 (例如，透過
        Cookie 的使用) 也會如上述段落中提及的方式被使用。我們鼓勵 13
        歲以下兒童的父母和監護人定期檢查並監控自己孩子的電子郵件使用以及其它的線上活動。
      </span>
    </p>
    <h3>
      <span>第三方</span>
    </h3>
    <p>
      <span>將個人資訊揭露給第三方</span>
    </p>
    <p>
      <span>
        除了屬於 ALATECH
        的公司為了上述的目的，以及除了以下述及的項目外，如果事先沒有先向您通知，也沒有遵守適用資料隱私權法的規定，我們不會銷售、交易或轉移您的個人資訊給第三方。所有
        ALATECH
        的成員都非常重視個人資訊的隱私權和保護，並已備妥類似的隱私權政策。您的資料可能會傳輸給網站管理夥伴以及其他協助設計和操作該網站、執行服務
        (例如提供獎品)
        或協助我們分析收集到的資料的夥伴。這些夥伴僅會以執行指示工作的為目的來使用您的資料，並且他們必需保持這些資訊的機密性。
        如果受到法律規定的話，我們也會揭露個人資料。
      </span>
    </p>
    <h3>
      <span>協力廠商的連結</span>
    </h3>
    <p>
      <span>
        為了您的方便，也為了改善網站的使用，我們會插入協力廠商的連結，這種連結插入不適用這個隱私權政策。
        這些連結會將您帶離我們的服務範圍外，並且會離開 ALATECH
        的網站，其內容也不在我們的控制範圍內。 這種連結可能包括使用 ALATECH
        的圖誌為共同品牌設計協議的夥伴。您可以連結的網站有它們自己的隱私權政策，雖然我們追求的目標是保護我們的網站的完整，但是
        ALATECH
        無法對這些網站的內容負責，也不需因其中的內容承擔責任。因此，訪問/存取這些網站需由您自己承擔完全的風險。請注意，這些網站可能會傳送它們自己的Cookie
        給使用者、收集或索取個人資訊。
      </span>
    </p>
    <h3>
      <span>Cookie 的使用</span>
    </h3>
    <p>
      <span>
        Cookie Cookie 是一小串的資訊，您蒞臨的網站會傳送這些資訊到您的電腦以做為辨識目的使用。Cookie
        可以被用來追蹤您在網路上的活動，這種資訊可以幫助我們了解您的偏好項目並改善您的網站使用經驗。另外，Cookie
        也可用來記住 (舉例來說) 您的使用者名稱和密碼。如果您不要接收到那些 Cookie
        的話，可以將它們全部關閉。 您也可以讓您的電腦在 Cookie
        被使用時，向您提出警告。若要使用這兩種選項的話，您必需調整您的瀏覽器設定 (像是 internet
        explorer)。另外，還有一些軟體產品可以幫助您管理 Cookie。
        不過，請您要注意，當您設定電腦拒絕接受 Cookie
        時，可能會限制您所訪問之網站的功能性，因此，您有可能會無法存取該網站上的某些功能。
      </span>
    </p>
    <h3>
      <span>退出選擇權、刪除或修改個人資訊</span>
    </h3>
    <p>
      <span>
        您可以隨時取消註冊，方法是藉由選擇退出接收任何來自 ALATECH 的電子郵件和/或 SMS
        訊息。除此之外，您也可以選擇將您所有的個人資訊從我們的資料庫全部刪除。如果您要執行退出選擇權、刪除或修改您的個人資訊，請蒞臨註冊頁。
      </span>
    </p>
    <h3>
      <span>政策變更以及如何與我們連絡</span>
    </h3>
    <p>
      <span>政策變更</span>
    </p>
    <p>
      <span>
        因為規定的改變以及為了跟上新發展以及網際網路上之可能性的改變，我們可能會不定時修訂這個政策。因此，我們保留權利可自行斟酌決定做這些變更，並要求您定期查看本頁，因為當您蒞臨我們的網站時，必需遵守這些變更的規定。可透過
        ALATECH 網站存取的當地 ALATECH
        網站也有準備類似的政策，但是，因為當地法規的關係，其中可能會有一些差異之處。因此，我們鼓勵您閱讀每個蒞臨之
        ALATECH 網站的隱私權政策。
      </span>
    </p>
    <h3>
      <span>如何與我們連絡</span>
    </h3>
    <p>
      <span>如果您有任何有關我們的網站以及/或隱私權政策方面的問題或意見，請訊息給我們。</span>
    </p>
    <h3>
      <span>您的同意書</span>
    </h3>
    <p>
      <span>
        使用 ALATECH
        的網站就表示您同意遵守這個“隱私權政策”的條款以及我們的“條款及條件”。如果您不同意我們的“隱私權政策”和我們的條款及條件，請不要提供任何個人資訊給我們，並且請您離開這個網站。
      </span>
    </p>
    <h3>
      <span>線上政策</span>
    </h3>
    <p>
      <span>
        “隱私權政策”的範圍不能延伸到從網際網路的作業接續下來的任何作業，因此不在 ALATECH
        的控制範圍內，並且不適用於侵犯適用法律或管理法規的任何行為。這個線上隱私權政策僅適用於透過我們的網站收集到的資訊，不適用於離線作業收集到的資訊。
      </span>
    </p>
  </div>
</ng-container>

<ng-container *ngIf="language === 'zh-cn'">
  <div class="content__text">
    <h2>
      <span>隐私声明</span>
    </h2>
    <p>
      <span
        >ALATECH
        尊重并保护ALATECH网站以及与其联机的当地ALATECH网站之访客的隐私权。本隐私权政策会向您告知我们如何向您收集信息、我们如何使用收集到的信息、以及如何保护这些信息。</span
      >
    </p>
    <p>
      <span>我们收集那一类的信息？</span>
    </p>
    <p>
      <span
        >在某些情况中，ALATECH
        可能会向您询问一些个人资料，像您的名字、地址、出生日期、性别，等等。当您登记参加比赛/促销活动、响应通讯讯息
        (例如像电子邮件)、以及登记参加那些需要登记或订用的服务时，我们会向您索取这些数据。
        如果您要留在我们的邮件列表中的话，我们会要求您主动选择加入。我们可能还会向您收集有关某个第三方的个人资料，例如，如果网站允许您传送电子明信片，在这种情况下，我们就需要知道收件人的名字和电子邮件地址。
        该项信息仅用在特定目的中使用 (例如，传送电子明信片时)，并且，除非第三方与我们连络，否则
        ALATECH 不会进一步与该第三方连络。当您莅临我们的网站时，我们会使用 ‘Cookie’
        来收集有关于您的个人信息，依此来提升您的使用经验。 您可以在 ‘Cookie 的使用’
        单元中了解更多有关我们如何使用 Cookie 的信息。当您莅临我们的网站时，我们会收集所谓的
        ‘点选流’ 数据 (服务器位置、域名，等等)。 这些信息可与您提供给我们的信息
        (例如，登记时提供的信息)
        结合使用，如此可让我们进行分析并能够更进一步针对您的参观来设计内容。</span
      >
    </p>
    <h3>
      <span>访客信息的使用</span>
    </h3>
    <p>
      <span>我们可能会用以下的方法来使用向您收集来的信息：</span>
      <span
        >管理比赛、促销、调查或其它网站特色，以及向您提供相关的产品或服务
        (例如，将您可能在某项比赛中赢得的奖品送给您)。透过电子邮件传送信息/数据、传送有关产品的
        SMS-讯息、特价供应以及我们认为您可能会感兴趣的消息。这项信息可能与 ALATECH
        和/或其授权者的产品、特价供应和新闻有关。 如果您有选择加入接收 ALATECH 的电子邮件和/或 SMS
        讯息的话，我们才会传送给您。 如果您不要再收到任何我们的电子邮件/或 SMS
        讯息，或者如果您要修改您的个人资料或希望从我们的数据库删除您的个人资料的话，建议您到下面的
        ‘退出选择权、删除或修改个人信息’
        区段。要分析前来此网站的访客以及整体了解访客的兴趣，也希望在个人层面上更佳了解您的兴趣和需求，藉此让我们能够改善我们的产品和服务，并将您最感兴趣的内容类型、功能和促销产品提供给您。</span
      >
    </p>
    <h3>
      <span>访客的信息由谁管理</span>
    </h3>
    <p>
      <span
        >ALATECH 的全球和当地网站以及收集来的信息都是由 ALATECH 管理和控制。使 ALATECH
        的全球和当地网站能够提供使用的服务器位于台湾。
        如果您在台湾之外的地区，请注意，您提供的信息会被转移到台湾，传送这些信息就表示您同意这项转移作业。ALATECH
        订立协议，我们会对您的数据保护提供足够的保全措施。 个人信息将根据 ALATECH
        的“隐私权政策”加以处理。</span
      >
    </p>
    <h3>
      <span>访客信息的保护</span>
    </h3>
    <p>
      <span
        >为了保护您莅临本公司的网站时提供的信息，我们实施了各种保全方法。
        您的个人信息会保存在安全的网络后面，并且仅有几位具有特殊存取权的人才能存取这些信息，这些人必需维持信息的机密性。不过，请您要记住，任何时候当您在在线提供个人资料时，这些数据都有被第三方拦截和使用的风险。
        虽然 ALATECH
        竭尽全力要保护使用者的个人资料和隐私权，但是，我们无法保证您在在线揭露之任何信息的保全性，以这种方式提供信息需由您自己承担风险。</span
      >
    </p>
    <h3>
      <span>儿童的隐私权</span>
    </h3>
    <p>
      <span>儿童的隐私权</span>
    </p>
    <p>
      <span
        >ALATECH 鼓励父母和监护人花点时间和自己的孩子一起上网，并参与全球信息网 (WWW)
        提供之多重网站供应的各种活动。当儿童要传送他/她的注册时，他/她同样也会被要求交出上面的
        ‘我们从访客处收集到的信息’
        区段中提及的相同信息。再则，儿童提供的信息，以及在他/她访问网站期间收集到的信息 (例如，透过
        Cookie 的使用) 也会如上述段落中提及的方式被使用。我们鼓励 13
        岁以下儿童的父母和监护人定期检查并监控自己孩子的电子邮件使用以及其它的在线活动。</span
      >
    </p>
    <h3>
      <span>第三方</span>
    </h3>
    <p>
      <span>将个人信息揭露给第三方</span>
    </p>
    <p>
      <span
        >除了属于 ALATECH
        的公司为了上述的目的，以及除了以下述及的项目外，如果事先没有先向您通知，也没有遵守适用数据隐私权法的规定，我们不会销售、交易或转移您的个人信息给第三方。所有
        ALATECH
        的成员都非常重视个人信息的隐私权和保护，并已备妥类似的隐私权政策。您的数据可能会传输给网站管理伙伴以及其他协助设计和操作该网站、执行服务
        (例如提供奖品)
        或协助我们分析收集到的资料的伙伴。这些伙伴仅会以执行指示工作的为目的来使用您的数据，并且他们必需保持这些信息的机密性。
        如果受到法律规定的话，我们也会揭露个人资料。</span
      >
    </p>
    <h3>
      <span>第三方的连结</span>
    </h3>
    <p>
      <span
        >为了您的方便，也为了改善网站的使用，我们会插入第三方的连结，这种连结插入不适用这个隐私权政策。
        这些连结会将您带离我们的服务范围外，并且会离开 ALATECH
        的网站，其内容也不在我们的控制范围内。 这种连结可能包括使用 ALATECH
        的图志为共同品牌设计协议的伙伴。您可以连结的网站有它们自己的隐私权政策，虽然我们追求的目标是保护我们的网站的完整，但是
        ALATECH
        无法对这些网站的内容负责，也不需因其中的内容承担责任。因此，访问/存取这些网站需由您自己承担完全的风险。请注意，这些网站可能会传送它们自己的Cookie
        给使用者、收集或索取个人信息。</span
      >
    </p>
    <h3>
      <span>Cookie 的使用</span>
    </h3>
    <p>
      <span
        >Cookie Cookie
        是一小串的信息，您莅临的网站会传送这些信息到您的计算机以做为辨识目的使用。Cookie
        可以被用来追踪您在网络上的活动，这种信息可以帮助我们了解您的偏好项目并改善您的网站使用经验。另外，Cookie
        也可用来记住 (举例来说) 您的用户名称和密码。如果您不要接收到那些 Cookie
        的话，可以将它们全部关闭。 您也可以让您的计算机在 Cookie
        被使用时，向您提出警告。若要使用这两种选项的话，您必需调整您的浏览器设定 (像是 internet
        explorer)。另外，还有一些软件产品可以帮助您管理 Cookie。
        不过，请您要注意，当您设定计算机拒绝接受 Cookie
        时，可能会限制您所访问之网站的功能性，因此，您有可能会无法存取该网站上的某些功能。</span
      >
    </p>
    <h3>
      <span>退出选择权、删除或修改个人信息</span>
    </h3>
    <p>
      <span
        >您可以随时取消注册，方法是藉由选择退出接收任何来自 ALATECH 的电子邮件和/或 SMS
        讯息。除此之外，您也可以选择将您所有的个人信息从我们的数据库全部删除。如果您要执行退出选择权、删除或修改您的个人信息，请莅临注册页。</span
      >
    </p>
    <h3>
      <span>政策变更以及如何与我们连络</span>
    </h3>
    <p>
      <span>政策变更</span>
    </p>
    <p>
      <span
        >因为规定的改变以及为了跟上新发展以及因特网上之可能性的改变，我们可能会不定时修订这个政策。因此，我们保留权利可自行斟酌决定做这些变更，并要求您定期查看本页，因为当您莅临我们的网站时，必需遵守这些变更的规定。可透过
        ALATECH 网站存取的当地 ALATECH
        网站也有准备类似的政策，但是，因为当地法规的关系，其中可能会有一些差异之处。因此，我们鼓励您阅读每个莅临之
        ALATECH 网站的隐私权政策。</span
      >
    </p>
    <h3>
      <span>如何与我们连络</span>
    </h3>
    <p>
      <span>如果您有任何有关我们的网站以及/或隐私权政策方面的问题或意见，请讯息给我们。</span>
    </p>
    <h3>
      <span>您的同意书</span>
    </h3>
    <p>
      <span
        >使用 ALATECH
        的网站就表示您同意遵守这个“隐私权政策”的条款以及我们的“条款及条件”。如果您不同意我们的“隐私权政策”和我们的条款及条件，请不要提供任何个人信息给我们，并且请您离开这个网站。</span
      >
    </p>
    <h3>
      <span>在线政策</span>
    </h3>
    <p>
      <span
        >“隐私权政策”的范围不能延伸到从因特网的作业接续下来的任何作业，因此不在 ALATECH
        的控制范围内，并且不适用于侵犯适用法律或管理法规的任何行为。这个在线隐私权政策仅适用于透过我们的网站收集到的信息，不适用于脱机作业收集到的信息。</span
      >
    </p>
  </div>
</ng-container>

<ng-container *ngIf="language === 'en-us'">
  <div class="content__text">
    <h2>
      <span>Privacy Policy</span>
    </h2>
    <p>
      <span>Protecting Your Privacy</span>
    </p>
    <p>
      <span
        >ALATECH Taiwan, Inc. (&quot;ALATECH&quot; or &quot;we&quot;, &quot;us&quot;, or
        &quot;our&quot;) is strongly committed to protecting the privacy of your personal
        information collected at or in connection with an ALATECH website. This Online Privacy
        Policy (the “Policy”) applies to those ALATECH websites that display or link to this Policy
        (including alatech.com/us, alatech.com.tw, and alatech.com and referred to in this Policy as
        the &quot;Website&quot;). This Policy applies to data collected by ALATECH through its
        Websites and services that display these terms. It does not apply to those ALATECH sites,
        services and products that do not display or link to this Policy or that have their own
        privacy policies.</span
      >
    </p>
    <p>
      <span>This Policy describes the information we collect and how we use it.</span>
      <span
        >By visiting our Website, you are accepting the practices described in this Policy. If you
        do not agree to the terms of this Policy, please do not use the Website.</span
      >
    </p>
    <h3>
      <span>Consent to Collection and Processing</span>
    </h3>
    <p>
      <span
        >This Website may be operated, in whole or in part, from a country other than the Taiwan. By
        using our Website, you consent to having your personal information transferred to and
        processed in a jurisdiction outside of the Taiwan.</span
      >
    </p>
    <h3>
      <span>Secure Shopping Guarantee</span>
    </h3>
    <p>
      <span
        >We use the industry standard encryption protocol known as Secure Socket Layer (SSL) to keep
        your order information secure.</span
      >
      <span
        >We&#39;ve established a Secure Shopping Guarantee for every transaction that you make with
      </span>
      <a href="http://www.gptfit.com" target="_blank" class="url">www.gptfit.com</a>
      <span
        >. Should any unauthorized charges appear on your credit card as a result of shopping with
      </span>
      <a href="http://www.gptfit.com" target="_blank" class="url">www.gptfit.com</a>
      <span
        >, you must notify your credit card provider in accordance with its reporting rules and
        procedures.</span
      >
      <span>If you have more questions regarding our policy, you can contact us.</span>
    </p>
    <h3>
      <span>What information about me does alatech.com collect and store?</span>
    </h3>
    <p>
      <span
        >Our privacy policy is simple: Except as disclosed below, we don&#39;t sell, trade, give
        away, or rent your personal information to any company outside of ALATECH. One of the basic
        principles we&#39;ve tried to follow in designing this Website is that we ask for only the
        information we need to provide the service you&#39;ve requested. As a result, what
        information we collect and store depends almost entirely on how you choose to make use of
        our Website and our services.</span
      >
    </p>
    <h3>
      <span>Personal Information</span>
    </h3>
    <p>
      <span
        >We collect and store information that you provide to our Website or our Customer Service
        Department. For example, when you open an account or place an order, we collect and store
        some or all of the following information that you provide: name, billing address, shipping
        address, email address, telephone number, and credit card number and expiration date.</span
      >
      <span
        >We collect your e-mail addresses and zip code if you subscribe to our newsletter. You may
        unsubscribe at any time by following the instructions located within each newsletter.</span
      >
      <span
        >Registration may be required and personal information collected in certain areas of the
        Website in which you specifically and knowingly provide such information, e.g. community
        postings (i.e., chat or bulletin boards), suggestions, or customer service requests.</span
      >
      <span
        >When we run a contest or sweepstakes relating to our Website, it will be accompanied by a
        set of rules. The rules for each contest/sweepstakes will specify how the information
        gathered from you for entry will be used and disclosed, if it is different than as described
        in this Policy. Personal information will be collected only if you voluntarily submit it to
        our sponsors or us.</span
      >
    </p>
    <h3>
      <span>Anonymous Information</span>
    </h3>
    <p>
      <span
        >Through your use of our Website, we may also gather certain information that does not
        identify you individually (&quot;Anonymous Information&quot;). Generally, this information
        is collected through &quot;traffic data&quot;. We collect and store certain other
        information automatically whenever you interact with our Website. For example, we collect
        your IP address, browser information and reference site domain name every time you visit our
        Website. We also collect information regarding customer traffic patterns and site usage.
        This information is used to analyze and improve our Website and to provide our customers
        with a fulfilling shopping experience.</span
      >
    </p>
    <h3>
      <span>How does alatech.com use cookies and spyware?</span>
    </h3>
    <p>
      <span
        >We never use or install spyware on your computer, nor do we use spyware to retrieve
        information from your computer.</span
      >
      <span
        >Like many websites, we use &quot;cookies&quot;, files stored on your computer&#39;s hard
        drive by your browser, to identify account holders and to optimize their shopping
        experience. Cookies also allow us to hold selections in a shopping cart when a user leaves
        this Website without checking out and send you reminder e-mail about your shopping orders
        and other shopping opportunities. Most browsers accept cookies automatically but allow you
        to disable them. We recommend that you leave cookies &quot;turned on&quot; so that we can
        offer you a better shopping experience. You may occasionally get cookies from companies
        advertising on our behalf to tailor advertisements shown to you for goods and services. We
        do not control these cookies, and these cookies are not subject to our Website. Our systems
        do not recognize browser “Do Not Track” signals, but several of our service providers who
        utilize these cookies and other tracking technologies on our Website enable you to opt out
        of this type of advertising.</span
      >
    </p>
    <h3>
      <span>How is information collected from children?</span>
    </h3>
    <p>
      <span
        >We do not knowingly collect or solicit personal information from children under 13.</span
      >
    </p>
    <h3>
      <span>How does alatech.com use your personal information?</span>
    </h3>
    <p>
      <span
        >We may use your personal information to provide the products and services that you have
        ordered or requested, to process and ship orders, and to provide customer service. Your
        information also may be used to contact you about sales, new products, special offers, and
        new site features, unless you have opted to not receive promotional communications.</span
      >
      <span
        >The information we collect may be combined with information obtained from companies within
        ALATECH and from other companies. Aggregating data allows ALATECH to update and correct the
        information contained in our database and to provide you with product recommendations and
        special offers.</span
      >
    </p>
    <h3>
      <span>How does ALATECH.com share your personal information?</span>
    </h3>
    <p>
      <strong>
        <span>ALATECH</span>
      </strong>
      <span>
        - Except as described in this Policy, we will not disclose your personal information outside
        of ALATECH without your consent.</span
      >
    </p>
    <p>
      <strong>
        <span>ALATECH Partners</span>
      </strong>
      <span>
        - Some ALATECH Websites allow you to choose to share your personal information with select
        ALATECH partners so that they can contact you about their products, services or offers.
        Other sites do not share your contact information with third parties, but give you a choice
        as to whether you wish to receive communications from ALATECH on behalf of a business
        partners about its specific offer (without transferring your personal information to the
        third party).</span
      >
    </p>
    <p>
      <strong>
        <span>Third-party Service Providers</span>
      </strong>
      <span>
        - We may hire other companies to provide services on our behalf, such as marketing,
        analytics, credit card processing, shipping, stocking orders, providing customer service,
        and fraud protection. These service providers have access only to such personal information
        needed to perform their functions and are contractually obligated to maintain the
        confidentiality and security of your information. They are restricted from using, selling,
        distributing or altering this data in any way other than to provide the requested
        services.</span
      >
    </p>
    <p>
      <strong>
        <span>Legal and Safety Disclosures</span>
      </strong>
      <span>
        - We may access or disclose information about you, including the content of your
        communications, in order to: (a) comply with the law or respond to lawful requests or legal
        process; (b) protect the rights or property of ALATECH or our customers, including the
        enforcement of our agreements or policies governing your use of our Websites and services;
        or (c) act on a good faith belief that such access or disclosure is necessary to protect the
        personal safety of ALATECH employees, customers or the public.</span
      >
    </p>
    <h3>
      <span>How does alatech.com use anonymous information?</span>
    </h3>
    <p>
      <span
        >We use Anonymous Information to help us determine how people use parts of the Website and
        who our readers are. This allows us to improve our Website and ensure that it is as
        appealing as we can make it for as many people as possible. We also use Anonymous
        Information to provide statistical &quot;ratings&quot; information in aggregated form to our
        partners and other third parties about how our users collectively use the Website.</span
      >
    </p>
    <h3>
      <span>What steps are taken to help secure personal information?</span>
    </h3>
    <p>
      <span>
        An athlete can&#39;t play without confidence, and you shouldn&#39;t order from a company
        that doesn&#39;t follow secure data practices. Our goal is to deliver performance to you in
        every way. That includes security.
      </span>
      <span
        >Personal information collected at our Website is stored in secure operating environments
        that are not available to the public. Only those employees and service providers who need
        access to personal information in order to do their jobs are allowed access, each having
        confidentiality obligations. To protect the security of your information during
        transmission, we use Secure Sockets Layer (SSL) software, which encrypts information you
        input. For example, when using a credit card to make an on-line purchase, your personal
        information is encrypted before you conduct your transaction. Most browsers will give a
        visual indication of when your connection is secure. For example, Internet Explorer will
        show a padlock icon in the lower right of the browser window.</span
      >
      <span
        >If you place an order through our Website, you will be asked to set up an account and
        provide an e-mail address and password. In order to help protect your personal information,
        you should be careful about providing your password to others. If you wish to cancel your
        account, or if you become aware of any loss, theft or unauthorized use of your password,
        please contact Customer Service. Please refer to the last section of this Policy (How to
        Contact Us) for more information.</span
      >
      <span
        >While we try our best to safeguard your personal information once we receive it, no
        transmission of data over the Internet or any other public network can be guaranteed to be
        100% secure.</span
      >
    </p>
    <h3>
      <span>What Happens when I link to or from another website?</span>
    </h3>
    <p>
      <span
        >Our Website may contain links to other websites. Our Policy does not apply to the practices
        of other websites and ALATECH is not responsible for the actions and privacy policies of
        third parties. We encourage you to be aware of when you leave our Website and to read the
        privacy policies of each website that you visit.</span
      >
    </p>
    <h3>
      <span
        >Can alatech.com use information I share in public areas, chat rooms and newsgroups?</span
      >
    </h3>
    <p>
      <span
        >Please remember that any information you share in public areas, such as message boards or
        feedback sections, becomes public. Our Policy does not apply to any information you choose
        to make public. Please be careful about what you disclose and do not post any personal
        information that you expect to keep private.</span
      >
    </p>
    <h3>
      <span>How do I opt-out of receiving promotions?</span>
    </h3>
    <p>
      <span
        >We provide you with several opportunities to opt-out of receiving our promotional
        communications and newsletters, including:</span
      >
    </p>
    <ul>
      <li>
        <span>At the time we request information from you;</span>
      </li>
      <li>
        <span>When you set up an account, or place an order;</span>
      </li>
      <li>
        <span>By clicking on &quot;Manage Your Account&quot;; and</span>
      </li>
      <li>
        <span
          >By following the &quot;unsubscribe&quot; or &quot;preference center&quot; instructions
          contained in our promotional communications.</span
        >
      </li>
    </ul>
    <h3>
      <span>Changes to this online privacy policy</span>
    </h3>
    <p>
      <span
        >We will update this Policy as needed to reflect changes in our services and customer
        feedback. When we post changes to this Policy, we will revise the &quot;last updated&quot;
        date at the bottom. If there are material changes to this Policy or in how ALATECH will use
        your personal information, we will notify you by prominently posting a notice of such
        changes prior to implementing the change. We encourage you to periodically review this
        Policy to remain informed of how ALATECH is protecting your information.</span
      >
    </p>
    <h3>
      <span>How do I contact you about privacy-related questions?</span>
    </h3>
    <p>
      <span>If you have questions or comments about our privacy practices, please contact us.</span>
    </p>
    <p>
      <span
        >If you have a question regarding a product or service, please contact Customer
        Service.</span
      >
    </p>
  </div>
</ng-container>

<ng-container *ngIf="language === 'pt-br'">
  <div class="content__text">
    <h3>
      <span>POLÍTICA DE PRIVACIDADE E SEGURANÇA</span>
    </h3>
    <p>
      <span
        >A Política de Privacidade da GPTFit tem o objetivo de demonstrar o compromisso com a
        segurança e a privacidade das informações coletadas por meio de cadastro de usuários nesta
        plataforma.</span
      >
    </p>
    <p>
      <span
        >A Política esclarece as condições de coleta, uso, armazenamento, tratamento e proteção dos
        dados na plataforma, em conformidade com as Leis 12.965/2014, 13.709/2018 e o Decreto
        8.771/2016.</span
      >
    </p>
    <p>
      <span
        >Essa Política de Privacidade e Segurança é parte integrante dos Termos e Condições de Uso e
        ao utilizar a plataforma da GPTFit o Usuário concorda expressa e integralmente com direitos
        e obrigações previstos nestes documentos.</span
      >
    </p>
    <p>
      <span
        >Leia atentamente estas Políticas de Privacidade e Segurança antes de cadastrar-se ou mesmo
        navegar na plataforma da GPTFit Contendo informações claras e completas sobre o uso, coleta
        dos dados, armazenamento, tratamento e proteção dos dados pessoais dos Clientes e Usuários.
      </span>
    </p>
    <h3>
      <span>1. IDENTIFICAÇÃO</span>
    </h3>
    <p>
      <span
        >1.1. Para os fins desta Política de Privacidade e Segurança, seguem as seguintes
        definições:</span
      >
    </p>
    <p>
      <span
        >a. BRASIL FORMOSO IMPORTAÇÃO E EXPORTAÇÃO LTDA, com sede na cidade de Cotia, Estado de São
        Paulo, na Avenida Professor José Barreto, nº 1.478, Jardim Dinorah, CEP: 06703-000,
        devidamente inscrita no CNPJ sob o nº</span
      ><br />
      <span
        >08.491.057/0001-42, adiante designado simplesmente de &quot; GPTFit “, controlador,
        operador e encarregado dos tratamentos de dados pessoais dos seus Usuários;
      </span>
    </p>
    <p>
      <span
        >b. CLIENTES. Usuários que preencheram o cadastro e detêm uma Conta de Acesso; bem como
        Academias, alunos e professores.</span
      >
    </p>
    <p>
      <span
        >c. USUÁRIO. Qualquer pessoa física ou jurídica que acesse a Plataforma, incluindo
        visitantes anônimos e Clientes.</span
      >
    </p>
    <p>
      <span
        >d. PLATAFORMA. Local virtual acessado por meio do Aplicativo, no qual o Usuário insere
        todas as informações necessárias ao acesso do sistema, por meio do qual poderá efetuar a
        realização de aula, obtenção assim produtos e serviços.</span
      >
    </p>
    <p>
      <span
        >e. DADOS PESSOAIS. Quaisquer informações incluídas pelo Usuário na Plataforma e que
        permitam a identificação do Usuário, incluindo, sem limitação, nome, e-mail, CPF, endereço.
      </span>
    </p>
    <p>
      <span
        >f. DADOS DE CONTA. Quaisquer dados de conta que o Usuário insira ao se cadastrar na
        plataforma, como, por exemplo, dados de conta bancária, número de agência e conta bancária,
        bem como quaisquer outros dados bancários, inclusive cartões de crédito dos Usuários.</span
      >
    </p>
    <p>
      <span
        >g. DADOS DE ACESSO. Informações coletadas do Usuário no momento da navegação, referentes ao
        domínio do seu provedor de acesso à internet, o endereço de protocolo IP, o sistema
        operacional, data e cidade de acesso.</span
      >
    </p>
    <p>
      <span
        >h. IP. Abreviatura de Internet Protocol. É conjunto alfanumérico que identifica os
        dispositivos dos Usuários na Internet.</span
      >
    </p>
    <h3>
      <span>2. COLETA, UTILIZAÇÃO E GUARDA DOS DADOS</span>
    </h3>
    <p>
      <span
        >2.1. COLETA DE DADOS – CONTA DE ACESSO. Para a criação de uma Conta de Acesso na
        Plataforma, o Usuário deverá preencher um cadastro, que pode variar de acordo com a
        complexidade das operações que pretende realizar:</span
      >
    </p>
    <p>
      <span
        >a. Cadastro simples: endereço de e-mail, CEP e telefone que será requerido para o envio de
        mensagens publicitárias e promocionais ao Usuário sobre produtos, serviços, promoções e/ou
        novidades da GPTFit.</span
      >
    </p>
    <p>
      <span
        >b. Conta de Acesso: nome completo, endereço de e-mail, número de telefone, CPF, endereço
        completo (estado, cidade, bairro, rua, número, complemento, informações extras). Os dados
        fornecidos pelos Usuários serão armazenados e utilizados pela GPTFit, por si ou por
        terceiros por ela contratados, para fornecer os produtos da Plataforma, realizar as
        transações comerciais, processar pagamentos a elas relacionados, compartilhar dados, enviar
        e-mails de ofertas, produtos, serviços e campanhas de marketing, armazenar o histórico de
        produtos visualizados, promover campanhas, personalizar páginas da Plataforma, verificar
        dados bancários para evitar fraudes (dados não serão armazenados) e realizar entregas e
        devolução.
      </span>
    </p>
    <p>
      <span
        >2.1.1. Os dados poderão ser compartilhados com terceiros contratados pela GPTFit nos termos
        desta Política de Privacidade e Segurança.</span
      >
    </p>
    <p>
      <span
        >2.1.2. A criação da Conta de Acesso ou qualquer cadastro na Plataforma pressupõe o
        consentimento expresso quanto à coleta, uso, armazenamento e tratamento de dados
        pessoais.</span
      >
    </p>
    <p>
      <span
        >2.1.3. O Usuário declara ser o legítimo titular de seus dados pessoais e poderá, a qualquer
        momento, utilizar as ferramentas da Plataforma para editá-los, atualizá-los ou removê-los
        preventivamente de nossa base de dados.</span
      >
    </p>
    <p>
      <span
        >2.1.4. O Usuário é responsável, nas esferas civil e criminal, pela veracidade e atualização
        dos dados fornecidos, pessoais ou não. Os dados pessoais do usuário serão apagados ou
        retificados quando possível, e a GPTFit se exime de qualquer responsabilidade por danos
        decorrentes do preenchimento incompleto, impreciso ou inexato do cadastro pelo próprio
        Usuário, sob qualquer meio ou forma, ou, ainda, pelo uso desse cadastro de forma indevida
        por qualquer terceiro não autorizado a usar tais dados ou, ainda, por terceiros que tenham,
        devida ou indevidamente, obtido os dados do Usuário para acesso na Plataforma, agindo como
        se ele fosse.
      </span>
    </p>
    <p>
      <span
        >2.1.5. O Usuário cadastrado na Plataforma a qualquer momento poderá solicitar a exclusão de
        seus dados definitivamente ou cancelamento de seu cadastro.</span
      >
    </p>
    <p>
      <span
        >2.2 A GPTFit se compromete a não utilizar ou permitir a utilização de dados do Usuário para
        outra finalidade diversa da descrita nesta Política de Privacidade e Segurança.</span
      >
    </p>
    <p>
      <span
        >2.3. COLETA DE DADOS – REGISTROS DE ACESSO. A GPTFit manterá em sua base de dados todas as
        informações relativas aos acessos do Usuário na Plataforma, incluindo, mas não se limitando
        ao endereço IP, às páginas acessadas, aos horários e datas de acesso, e o dispositivo de
        acesso utilizado, nos termos da legislação vigente. Tais registros poderão ser utilizados em
        investigações internas ou públicas para averiguação de práticas que possam gerar quaisquer
        prejuízos à GPTFit, inclusive a prática de crimes em ambientes virtuais.</span
      >
    </p>
    <p>
      <span
        >2.4. COLETA DE DADOS – OUTRAS FORMAS. A GPTFit poderá coletar dados pessoais do Usuário,
        que não os identificados aqui, que sejam inseridos pelo Usuário e sobre o Usuário
        voluntariamente no processo de navegação da Plataforma ou quando entrar em contato. A GPTFit
        poderá acessar bases de dados públicas ou privadas para confirmar a veracidade dos dados
        pessoais informados pelo Usuário, inclusive dados relacionados ao pagamento da Compra, de
        acordo com a legislação aplicável.
      </span>
    </p>
    <p>
      <span
        >2.5. UTILIZAÇÃO DE DADOS – E-MAIL. GPTFit utilizará o e-mail do Usuário prioritariamente
        para enviar toda e qualquer informações sobre suas Compras, bem como será utilizado para
        comunicação relacionada a recuperação da senha de acesso do Cliente, em caso de perda ou
        esquecimento da senha.</span
      >
    </p>
    <p>
      <span
        >2.6. UTILIZAÇÃO DE DADOS – PUBLICIDADE. No momento do cadastro de seus dados de contato, o
        Usuário terá a opção de aceitar ou proibir o envio de mensagens publicitárias. Ademais, a
        qualquer momento, o Usuário poderá alterar sua decisão, por meio de acesso à sua Conta na
        Plataforma ou de contato ou, ainda, desinstalar o aplicativo.</span
      >
    </p>
    <p>
      <span
        >2.7. UTILIZAÇÃO DOS DADOS – OUTRAS FORMAS. Além das formas expostas acima, a GPTFit poderá,
        a seu exclusivo critério, utilizar os dados pessoais do Usuário nas seguintes formas:</span
      >
    </p>
    <p>
      <span>a. atualização de cadastro;</span>
    </p>
    <p>
      <span>b. resposta a solicitações do próprio Usuário;</span>
    </p>
    <p>
      <span
        >c. informação acerca de alterações nos Termos e Condições de Uso ou da Política de
        Privacidade e Segurança;</span
      >
    </p>
    <p>
      <span
        >d. elaboração de estatísticas com relação ao uso da Plataforma, garantido o anonimato do
        Usuário, inclusive para fins de aperfeiçoamento e entendimento do perfil dos Usuários para a
        melhoria da Plataforma;</span
      >
    </p>
    <p>
      <span
        >e. cumprimento de ordens legais, judiciais e administrativas e ofícios de autoridades
        competentes, conforme descriminado nesta Política de Privacidade e Segurança; e</span
      >
    </p>
    <p>
      <span
        >f. defesa dos direitos da GPTFit contra o Usuário em procedimentos judiciais,
        administrativos ou arbitrais.</span
      >
    </p>
    <p>
      <span
        >2.8. GUARDA DOS DADOS. A GPTFit guardará todos os dados coletados em suas bases de dados
        protegidas e seguras. Tais dados serão acessados apenas por processos computadorizados
        automatizados, profissionais autorizados e nos casos listados nesta Política. Caso o Usuário
        requeira a exclusão de seus dados da base de dados, a GPTFit NISO BRASIL se reserva o seu
        direito de manter os dados em questão em cópias de salvaguarda por até 6 (seis) meses, a fim
        de cumprir obrigações legais de guarda obrigatória.
      </span>
    </p>
    <p>
      <span
        >2.9. CARTÕES DE CRÉDITO. A GPTFit não armazena em sua base de dados informações financeiras
        do Usuário, como as informações referentes a cartões de crédito. O procedimento de aprovação
        do pagamento ocorre entre o Usuário, os bancos e as administradoras de cartões, sem
        intervenção da GPTFit.</span
      >
    </p>
    <h3>
      <span>3. COMPARTILHAMENTO E DIVULGAÇÃO DOS DADOS</span>
    </h3>
    <p>
      <span
        >3.1. A GPTFit não divulgará, compartilhará, dará acesso ou facilitará acesso, alugará,
        venderá, trocará ou de qualquer outra forma disponibilizará tais informações a terceiros,
        sob nenhum pretexto, exceto nos casos autorizados expressamente pelo Usuário, inclusive nos
        casos indicados abaixo.</span
      >
    </p>
    <p>
      <span
        >3.2. A GPTFit poderá, para permitir a concretização de Compras na Plataforma, compartilhar
        dados pessoais dos Usuários com seus parceiros comerciais, como empresas processadoras de
        pagamentos, administradoras de cartão de crédito e transportadoras. Os dados pessoais
        compartilhados serão apenas os imprescindíveis para que o parceiro comercial da GPTFit
        desempenhe sua atividade (cobrança, entrega etc.).</span
      >
    </p>
    <p>
      <span
        >3.2.1. Os parceiros comerciais serão obrigados, por meio de contratos de confidencialidade,
        a não arquivar, manter em arquivo, compilar, copiar, reproduzir ou compartilhar tais dados
        com quem quer que seja.</span
      >
    </p>
    <p>
      <span
        >3.3. Os dados pessoais poderão ser divulgados por meio de determinações legais, judiciais e
        administrativas, sendo que a divulgação ocorrerá apenas na medida necessária para cumprir as
        determinações legais, judiciais e administrativas, permanecendo sigilosos os dados não
        requeridos pela autoridade.</span
      >
    </p>
    <p>
      <span
        >3.4. A GPTFit, requer algumas informações como endereço de e-mail e telefone para que,
        diante deste acesso, os usuários possam ter mais acessibilidade de serviços e funções para
        adequar melhor suas necessidade e personalizar da maneira que for preciso para se tornar uma
        experiência satisfatória.
      </span>
      <span
        >3.4.1. Tendo para finalidades como estudos sobre interesses, comportamentos dos Usuários
        para oferecer-lhes informações adequadas acerca de seu perfil, aprimorando as iniciativas e
        propagandas comerciais com base nas suas pesquisas de páginas pesquisadas, melhorando o
        conteúdo, apresentação e serviços. Envios de mensagens, banners, catálogos ou promoções
        acerca do Usuário e seus interesses apresentados pelo histórico de pesquisas.</span
      >
    </p>
    <p>
      <span
        >3.4.2. A utilização destas informações por outros usuários só poderá ser realizada diante
        de situações em que sejam relacionadas a GPTFit, ou seja, depósitos, envio, seguros e
        reclamações sobre fraude. Sob nenhuma circunstância poderá haver o envio de informações
        pessoais ou endereço de e-mail sem consentimento do Usuário e da GPTFit.</span
      >
    </p>
    <h3>
      <span>4. MEDIDAS DE SEGURANÇA</span>
    </h3>
    <p>
      <span
        >4.1. RECURSOS TECNOLÓGICOS. A GPTFit se compromete aplicar medidas técnicas e organizavas
        aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição,
        perda, alteração, comunicação ou difusão de tais dados. Para isso, a GPTFit adota como
        medidas de segurança a utilização de modernas formas de criptografia e a instalação de
        barreiras contra o acesso indevido à base de dados (firewalls) e recomendações de segurança
        das plataformas iOS e android.</span
      >
    </p>
    <p>
      <span
        >4.1.1. A base de dados dos Usuários será acessada apenas por àqueles funcionários da GPTFit
        cujas funções exigem o contato com dados pessoais.</span
      >
    </p>
    <p>
      <span
        >4.2. SIGILO DA SENHA. A GPTFit recomenda que o Usuário mantenha sua senha sob total sigilo,
        evitando a sua divulgação a terceiros. A GPTFit nunca solicitará ao Usuário que informe sua
        senha fora da Plataforma, por telefone, e-mail ou por qualquer outro meio de comunicação. A
        senha do Usuário deverá ser usada exclusivamente no momento do acesso à Conta do Usuário na
        Plataforma e, caso o Usuário suspeite que sua senha tenha sido exposta a terceiros, a GPTFit
        recomenda a imediata substituição da senha.</span
      >
    </p>
    <p>
      <span
        >4.2.1. O Usuário será responsável por todos os atos praticados com seus dados e sua senha
        pessoal, incluindo pagamento de serviços e responsabilização por quaisquer tipos de
        prejuízos que venham a acontecer a outros Usuários e/ou Terceiros.
      </span>
    </p>
    <p>
      <span
        >4.3. E-MAILS SUSPEITOS. A GPTFit não envia mensagens (i) solicitando dados pessoais do
        Usuário; (ii) solicitando a senha ou dados financeiros do Usuário; (iii) com arquivos anexos
        exceto documentos em PDF; ou (iv) com links para download de arquivos. Caso receba um e-mail
        com tais características, desconsidere-o e entre em contato com a GPTFit.</span
      >
    </p>
    <p>
      <span
        >4.4. IMPOSSIBILIDADE DE RESPONSABILIZAÇÃO. A GPTFit exime-se de qualquer responsabilidade
        por culpa exclusiva de titular ou de terceiro, inclusive por invasões na Plataforma ou na
        base de dados, por vírus ou por vazamento de informações.</span
      >
    </p>
    <h3>
      <span>5. USO DE DADOS EM CASO DE ALTERAÇÃO DE CONTROLE DA GPTFit</span>
    </h3>
    <p>
      <span
        >5.1. Os dados coletados podem ser eventualmente transferidos a um terceiro em caso de
        alteração do controle, de uma aquisição, de uma incorporação, de uma fusão ou de uma venda
        de ativos da GPTFit sob qualquer meio ou forma.</span
      >
    </p>
    <h3>
      <span>6. POLÍTICA DE DADOS DE MENORES</span>
    </h3>
    <p>
      <span
        >6.1. Os formulários e questionários da Plataforma da GPTFit não visam obter dados de
        menores. Caso tais dados sejam inseridos por menores, seu representante legal poderá
        contatar a GPTFit para retificar, modificar ou remover tais dados.</span
      >
    </p>
    <h3>
      <span>7. CONTATO</span>
    </h3>
    <p>
      <span
        >7.1. Caso o Usuário necessite de qualquer informação, esclarecimento ou atendimento com
        relação a esta Política de Privacidade e Segurança ou aos Termos e Condições de Uso, a
        GPTFit disponibiliza contato através do telefone (11) 95338-7906
      </span>
      <a href="mailto:contato@ugym.com.br" target="_blank" class="url">contato@ugym.com.br</a>
      <span>.</span>
    </p>
    <h3>
      <span>8. CONDIÇÕES DE USO</span>
    </h3>
    <p>
      <span
        >8.1. A GPTFit não se responsabiliza por eventuais informações inexatas e/ou imprecisas
        sobre seus produtos, bem como por omissões ou incongruências do conteúdo de Aplicativo/Site
        e/ou falhas de equipamento.</span
      >
    </p>
    <p>
      <span
        >8.2. Em nenhum momento, a GPTFit, seus diretores, funcionários, franqueados e/ou
        fornecedores poderão ser responsabilizados por quaisquer danos, perdas, despesas, falha de
        desempenho, interrupção, defeito, vírus e/ou falha do sistema e/ou do website ou
        aplicativo.</span
      >
    </p>
    <p>
      <span
        >8.3. Ao acessar esse aplicativo e/ou fornecer seus dados pessoais, o Usuário
        automaticamente declara conhecer e aceitar os Termos das Condições de Uso e da Política de
        Privacidade e Segurança.</span
      >
    </p>
    <p>
      <span
        >8.4. Será de total responsabilidade do Usuário a garantia da veracidade e exatidão dos
        dados pessoais fornecidos neste aplicativo, ficando certo que o Usuário isenta desde já a
        GPTFit de quaisquer responsabilidades e/ou transtornos quanto à inexatidão de tais
        informações, podendo ainda a GPTFit, suspender ou cancelar imediatamente, independente de
        notificação, a conta de cadastro do usuário e recusar toda e qualquer utilização.</span
      >
    </p>
    <h3>
      <span>9. DIREITOS</span>
    </h3>
    <p>
      <span
        >9.1. Todos os direitos de propriedade intelectual sobre imagens, textos e sinais
        distintivos contidos na Plataforma são reservados, sendo proibida qualquer reprodução ou
        divulgação, com fins comerciais ou não, em qualquer meio de comunicação, inclusive na WEB,
        sem prévia aprovação, por escrito da GPTFit, sob pena de arcar com as penalidades previstas
        nas legislações em vigor.</span
      >
    </p>
    <h3>
      <span>10. LEI E FORO</span>
    </h3>
    <p>
      <span
        >10.1. Esta Política de Privacidade e Segurança será interpretada segundo a legislação
        brasileira, no idioma português, sendo eleito o Foro da Comarca de São Paulo, Capital, com
        expressa renúncia de qualquer outro, por mais privilegiado que seja, para dirimir qualquer
        dúvida, pendência ou litígio oriundo desta Política e dos Termos e Condições de Uso.</span
      >
    </p>
    <h3>
      <span>11. UTILIZAÇÃO DE COOKIES</span>
    </h3>
    <p>
      <span
        >11.1. O Usuário e Cliente, ao visitarem o site da GPTFit, manifestarão o conhecimento de
        aceitar ou não a utilização do sistema de coleta de dados de navegação mediante o uso de
        Cookies, que tem por definição pequenos arquivos que se instalam no disco rígido, com
        duração limitada de tempo que ajudam a personalizar os serviços e algumas outras finalidades
        que só serão permitidas e realizadas mediante o emprego da utilização do Cookies.
      </span>
    </p>
    <p>
      <span
        >11.2. Sua utilização é utilizada a fim de conhecer os interesses, comportamento de quem
        visita o site, compreendendo melhor suas necessidades e interesses. Também sendo para obter
        informação de outras páginas navegadas pelo Usuário ou Cliente a fim de melhorar as
        iniciativas comerciais e promocionais, mostrar promoções e publicidade, banners de
        interesse, notícias sobre a GPTFit. Adicionalmente, são utilizadas para que o usuário não
        precise se identificar com a senha pessoal frequentemente durante uma navegação.</span
      >
    </p>
    <p>
      <span
        >11.3. A instalação e permanência no aparelho utilizado pelo Usuário ou Cliente, dependerá
        somente de sua vontade, podendo ser excluída a qualquer momento nas configurações do próprio
        navegador.</span
      >
    </p>
    <h3>
      <span>12. UTILIZAÇÃO DE WEB BEACONS</span>
    </h3>
    <p>
      <span
        >12.1. Web beacon é uma imagem, denominada também como single- pixel (1x1) ou pixel
        transparente, que é colocada em código em uma página da internet. Similar ao Cookies. Sendo
        utilizada para medir padrões de tráfego dos Usuários e Clientes de uma página a outra,
        maximizando o fluxo e tráfego através da Internet.
      </span>
    </p>
    <p>
      <span
        >12.2. O Usuário e Cliente do site manifestará, assim como a utilização do Cookies se aceita
        ou não a utilização deste sistema utilizado pela GPTFit.</span
      >
    </p>
    <h3>
      <span>13. SPAM</span>
    </h3>
    <p>
      <span
        >13.1. É expressamente proibido condutas consideradas “spamming”, seja em perguntas,
        opiniões, respostas, envios solicitados de e-mail. É absolutamente inadmissível as ações de
        envio de mensagens de qualquer natureza entre os Usuários na plataforma da GPTFit.</span
      >
    </p>
    <p>
      <span
        >13.2. As ações dos usuários no site são limitadas e, quem violar essa política, poderá ter
        seu acesso suspenso definitivamente do site.</span
      >
    </p>
    <h3>
      <span>14. DIREITOS DE CANCELAMENTO</span>
    </h3>
    <p>
      <span
        >14.1. O Usuário, ao se cadastrar, toma conhecimento dos exercícios de seus direitos,
        inclusive de poder a qualquer momento solicitar a exclusão ou cancelamento do seu cadastro e
        corrigir os seus dados pessoais incompletos, inexatos ou desatualizados. O Usuário tem livre
        acesso aos seus dados pessoais, podendo solicitar as informações relativas, nos termos da
        legislação vigente. O Usuário também tem o conhecimento de que, garante a autenticidade de
        seus dados e compromete mantê-los atualizados. Podendo alterar Nome de usuário, endereço de
        e-mail, contato telefônico, endereço físico e senha pessoal.
      </span>
    </p>
    <p>
      <span
        >14.2. A GPTFit conservará todos os dados que forem atualizados e originais por motivos de
        segurança e prevenção de fraude.
      </span>
    </p>
    <p>
      <span
        >14.3. O Usuário pode realizar o cancelamento do serviço e solicitar a eliminação de seus
        dados a qualquer momento, mediante manifestação expressa. Em conformidade, poderá em
        situações excepcionais de acordo com a legislação brasileira, a GPTFit manterá no sistema de
        arquivo da GPTFit os dados pessoais dos usuários que solicitaram a remoção da conta, para
        casos em que a seja necessário para solução de reclamações ou litígios, para detectar
        problemas ou incidentes e cumprir aos dispostos previstos nos Termos de Condições de uso.
      </span>
    </p>
  </div>
</ng-container>
