@import 'transition.scss';

$middle-gray: rgba(150, 150, 150, 1);
$light-gray: rgba(200, 200, 200, 1);
$lighter-gray: rgba(240, 240, 240, 1);
$lightest-gray: rgba(250, 250, 250, 1);
$time-width: 180px;
$status-width: 100px;
$title-width: 300px;
$obj-width: 150px;
$creator-width: 120px;

@mixin span-width($width) {
  display: inline-block;
  width: $width;
}

.push__list__btn {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 2px;
  border: 1px solid $middle-gray;
  border-radius: 2px;
  box-shadow: 1px 1px 1px $light-gray;
  cursor: pointer;
  @include multiple-transition(
    (left $move-effect, top $move-effect, background-color $move-effect)
  );

  &:hover {
    background-color: $lightest-gray;
    @include transition(background-color);
  }

  &:active {
    box-shadow: 0 0 0 $light-gray;
    top: 1px;
    left: 1px;
    @include multiple-transition((left $move-effect, top $move-effect));
  }
}

.table__row {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.table__row__content {
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    background-color: $lightest-gray;
    @include transition(background-color);
  }
}

#table__time__title {
  @include span-width($time-width);
}

#table__status__title {
  @include span-width($status-width);
}

#table__title__title {
  @include span-width($title-width);
}

#table__obj__title {
  @include span-width($obj-width);
  text-align: center;
}

#table__creator__title {
  @include span-width($creator-width);
  text-align: end;
}

.table__time__content {
  @include span-width($time-width);
}

.table__status__content {
  @include span-width($status-width);
}

.table__title__content {
  @include span-width($title-width);
}

.table__obj__content {
  @include span-width($obj-width);
  text-align: center;
}

.table__creator__content {
  @include span-width($creator-width);
}

.push__yet--color {
  color: rgba(36, 129, 233, 1);
}

.push__cancel--color {
  color: rgba(200, 200, 200, 1);
}
